Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

test(leagues): wait for season-loaded state before asserting v2 UI gating
  apps/web/app/leagues/[id]/page.test.tsx
Labels: web

chore(release): 1.81.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  5dcd4050907c24875f921b1a05bf1620c7118835
Labels: none

feat(leagues): PR3 forfeit + notifications + e2e MVP flow (L2.A.11-A.13)
  apps/server/src/index.ts
  apps/server/src/routes/league.ts
  apps/server/src/schemas/league.schemas.ts
  apps/server/src/services/league-forfeit.test.ts
  apps/server/src/services/league-forfeit.ts
  apps/server/src/services/league-round-reminder.test.ts
  apps/server/src/services/league-round-reminder.ts
  apps/server/src/services/league-scheduler.ts
  apps/server/src/services/notification-preferences.test.ts
  apps/server/src/services/notification-preferences.ts
  apps/server/src/services/push-notifications.ts
  apps/server/src/services/push-preferences-routes.test.ts
  prisma/migrations/20260504300000_add_league_round_reminder_pref/migration.sql
  prisma/schema.prisma
  tests/e2e-api/specs/leagues-mvp-flow.spec.ts
Labels: server

L2.A.11-12: League forfeit system & round reminder notifications (#537)
  apps/server/src/index.ts
  apps/server/src/routes/league.ts
  apps/server/src/schemas/league.schemas.ts
  apps/server/src/services/league-forfeit.test.ts
  apps/server/src/services/league-forfeit.ts
  apps/server/src/services/league-round-reminder.test.ts
  apps/server/src/services/league-round-reminder.ts
  apps/server/src/services/league-scheduler.ts
  apps/server/src/services/notification-preferences.test.ts
  apps/server/src/services/notification-preferences.ts
  apps/server/src/services/push-notifications.ts
  apps/server/src/services/push-preferences-routes.test.ts
  prisma/migrations/20260504300000_add_league_round_reminder_pref/migration.sql
  prisma/schema.prisma
  tests/e2e-api/specs/leagues-mvp-flow.spec.ts
Labels: server

feat(leagues): PR4 post-match Jeu en Ligue backend (L2.B.1-B.3)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/team-advancement.ts
  apps/server/src/schemas/advancement.schemas.ts
  apps/server/src/services/league-match-result.ts
  apps/server/src/services/post-match-league-sequence.test.ts
  apps/server/src/services/post-match-league-sequence.ts
  prisma/migrations/20260504400000_add_league_post_match_sequence/migration.sql
  prisma/schema.prisma
Labels: server

L2.B.2/B.3 — Add post-match league sequence & advancement routes (#538)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/team-advancement.ts
  apps/server/src/schemas/advancement.schemas.ts
  apps/server/src/services/league-match-result.ts
  apps/server/src/services/post-match-league-sequence.test.ts
  apps/server/src/services/post-match-league-sequence.ts
  prisma/migrations/20260504400000_add_league_post_match_sequence/migration.sql
  prisma/schema.prisma
Labels: server

feat(leagues): PR5 post-match UI + funeral + lasting injury guard (L2.B.4-B.7)
  apps/server/prisma/sqlite/memdb1
  apps/server/src/routes/team.ts
  apps/server/src/services/match-start.ts
  apps/web/app/i18n/translations.ts
  apps/web/app/me/teams/[id]/PendingAdvancementsBanner.tsx
  apps/web/app/me/teams/[id]/level-up/page.tsx
  apps/web/app/me/teams/[id]/page.tsx
Labels: web, server

feat: Add player advancement UI (level-up page & banner) (#539)
  apps/server/prisma/sqlite/memdb1
  apps/server/src/routes/team.ts
  apps/server/src/services/match-start.ts
  apps/web/app/i18n/translations.ts
  apps/web/app/me/teams/[id]/PendingAdvancementsBanner.tsx
  apps/web/app/me/teams/[id]/level-up/page.tsx
  apps/web/app/me/teams/[id]/page.tsx
Labels: web, server

feat(leagues): PR6 Bagarreurs Brutaux override + integration tests (L2.B.8-B.9)
  apps/server/src/services/move-processor.ts
  apps/server/src/services/post-match-league-integration.test.ts
  apps/server/src/services/spp-tracking.test.ts
  apps/server/src/services/spp-tracking.ts
Labels: server

chore(release): 1.82.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  6d57d376f8034a20164526c5848d5ec1e8e99ef9
Labels: none

feat(leagues): PR7 awards + champion (L2.C.1 + L2.C.2)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/coach.test.ts
  apps/server/src/routes/coach.ts
  apps/server/src/routes/league.ts
  apps/server/src/services/coach-league-championships.test.ts
  apps/server/src/services/coach-league-championships.ts
  apps/server/src/services/league-forfeit.ts
  apps/server/src/services/league-match-result.ts
  apps/server/src/services/league-scheduler.ts
  apps/server/src/services/league-scoring.test.ts
  apps/server/src/services/league-scoring.ts
  apps/web/app/coach/[slug]/CoachLeagueChampionshipsBanner.test.tsx
  apps/web/app/coach/[slug]/CoachLeagueChampionshipsBanner.tsx
  apps/web/app/coach/[slug]/page.tsx
  apps/web/app/coach/[slug]/types.ts
  apps/web/app/leagues/[id]/page.tsx
  apps/web/app/leagues/[id]/seasons/[sid]/recap/page.tsx
  prisma/migrations/20260504500000_add_league_season_award/migration.sql
  prisma/schema.prisma
  tests/e2e-api/specs/leagues-mvp-flow.spec.ts
Labels: web, server

L2.C.1/L2.C.2 — League season awards & coach championships (#541)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/coach.test.ts
  apps/server/src/routes/coach.ts
  apps/server/src/routes/league.ts
  apps/server/src/services/coach-league-championships.test.ts
  apps/server/src/services/coach-league-championships.ts
  apps/server/src/services/league-forfeit.ts
  apps/server/src/services/league-match-result.ts
  apps/server/src/services/league-scheduler.ts
  apps/server/src/services/league-scoring.test.ts
  apps/server/src/services/league-scoring.ts
  apps/web/app/coach/[slug]/CoachLeagueChampionshipsBanner.test.tsx
  apps/web/app/coach/[slug]/CoachLeagueChampionshipsBanner.tsx
  apps/web/app/coach/[slug]/page.tsx
  apps/web/app/coach/[slug]/types.ts
  apps/web/app/leagues/[id]/page.tsx
  apps/web/app/leagues/[id]/seasons/[sid]/recap/page.tsx
  prisma/migrations/20260504500000_add_league_season_award/migration.sql
  prisma/schema.prisma
  tests/e2e-api/specs/leagues-mvp-flow.spec.ts
Labels: web, server

feat(leagues): PR8 playoffs (L2.C.3) — bracket d'elimination directe
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/league.ts
  apps/server/src/schemas/league.schemas.ts
  apps/server/src/services/league-forfeit.test.ts
  apps/server/src/services/league-forfeit.ts
  apps/server/src/services/league-match-result.test.ts
  apps/server/src/services/league-match-result.ts
  apps/server/src/services/league-playoffs.test.ts
  apps/server/src/services/league-playoffs.ts
  apps/server/src/services/league.ts
  apps/web/app/i18n/translations.ts
  apps/web/app/leagues/[id]/NewSeasonModal.tsx
  apps/web/app/leagues/[id]/PlayoffBracketView.tsx
  apps/web/app/leagues/[id]/page.tsx
  prisma/migrations/20260504600000_add_league_playoffs/migration.sql
  prisma/schema.prisma
Labels: web, server

L2.C.3: Add playoff bracket system for league seasons (#542)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/league.ts
  apps/server/src/schemas/league.schemas.ts
  apps/server/src/services/league-forfeit.test.ts
  apps/server/src/services/league-forfeit.ts
  apps/server/src/services/league-match-result.test.ts
  apps/server/src/services/league-match-result.ts
  apps/server/src/services/league-playoffs.test.ts
  apps/server/src/services/league-playoffs.ts
  apps/server/src/services/league.ts
  apps/web/app/i18n/translations.ts
  apps/web/app/leagues/[id]/NewSeasonModal.tsx
  apps/web/app/leagues/[id]/PlayoffBracketView.tsx
  apps/web/app/leagues/[id]/page.tsx
  prisma/migrations/20260504600000_add_league_playoffs/migration.sql
  prisma/schema.prisma
Labels: web, server

feat(server): update skill descriptions for Season 3 in French and English
  apps/server/src/static-skills-data-s3.ts
Labels: server

chore(release): 1.83.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  a96c0bb27499704c44dfcc5037a0afc4b4330076
Labels: none

feat(leagues): PR9 polish (L2.C.5 + L2.C.8 + L2.C.9)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/league.ts
  apps/server/src/schemas/league.schemas.ts
  apps/server/src/services/league-tiebreak.test.ts
  apps/server/src/services/league.ts
  apps/web/app/i18n/translations.ts
  apps/web/app/leagues/[id]/seasons/[sid]/recap/page.tsx
  apps/web/app/leagues/archived/page.tsx
  apps/web/app/leagues/page.tsx
  apps/web/app/leagues/season-event-schema.test.ts
  apps/web/app/leagues/season-event-schema.ts
  prisma/migrations/20260505000000_add_league_tiebreak/migration.sql
  prisma/schema.prisma
Labels: web, server

L2.C.5 & L2.C.8 & L2.C.9: Tie-break rules, SEO schema, archived leagues (#543)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/league.ts
  apps/server/src/schemas/league.schemas.ts
  apps/server/src/services/league-tiebreak.test.ts
  apps/server/src/services/league.ts
  apps/web/app/i18n/translations.ts
  apps/web/app/leagues/[id]/seasons/[sid]/recap/page.tsx
  apps/web/app/leagues/archived/page.tsx
  apps/web/app/leagues/page.tsx
  apps/web/app/leagues/season-event-schema.test.ts
  apps/web/app/leagues/season-event-schema.ts
  prisma/migrations/20260505000000_add_league_tiebreak/migration.sql
  prisma/schema.prisma
Labels: web, server

feat(leagues): L2.C.6 admin console for global league management
  apps/server/src/index.ts
  apps/server/src/routes/admin-leagues.ts
  apps/server/src/schemas/admin-leagues.schemas.ts
  apps/web/app/admin/leagues/page.tsx
  tests/e2e-api/helpers/api.ts
  tests/e2e-api/specs/admin-leagues.spec.ts
Labels: web, server

feat: Add admin leagues management console (L2.C.6) (#544)
  apps/server/src/index.ts
  apps/server/src/routes/admin-leagues.ts
  apps/server/src/schemas/admin-leagues.schemas.ts
  apps/web/app/admin/leagues/page.tsx
  tests/e2e-api/helpers/api.ts
  tests/e2e-api/specs/admin-leagues.spec.ts
Labels: web, server

feat(leagues): L2.B.5 manage team + coup de mecene (1x/saison)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/league.ts
  apps/server/src/services/league-patron.test.ts
  apps/server/src/services/league-patron.ts
  apps/web/app/leagues/[id]/MeceneButton.tsx
  apps/web/app/leagues/[id]/page.test.tsx
  apps/web/app/leagues/[id]/page.tsx
  apps/web/app/leagues/[id]/types.ts
  prisma/migrations/20260505100000_add_league_participant_mecene/migration.sql
  prisma/schema.prisma
  tests/e2e-api/specs/leagues-mecene.spec.ts
Labels: web, server

L2.B.5: Add "coup de mecene" (patron bonus) feature for leagues (#545)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/league.ts
  apps/server/src/services/league-patron.test.ts
  apps/server/src/services/league-patron.ts
  apps/web/app/leagues/[id]/MeceneButton.tsx
  apps/web/app/leagues/[id]/page.test.tsx
  apps/web/app/leagues/[id]/page.tsx
  apps/web/app/leagues/[id]/types.ts
  prisma/migrations/20260505100000_add_league_participant_mecene/migration.sql
  prisma/schema.prisma
  tests/e2e-api/specs/leagues-mecene.spec.ts
Labels: web, server

docs(todo): move L2.C.4 and L2.C.7 to backlog after Ligues v2 sprint
  TODO.md
Labels: none

docs: Update TODO roadmap — Ligues v2 sprint completion (#546)
  TODO.md
Labels: none

docs: SPRINT Pro League — championnat virtuel + paris MVP
  TODO.md
  docs/roadmap/backlog/future-ideas.md
  docs/roadmap/phases.md
  docs/roadmap/sprints/SPRINT-pro-league.md
Labels: none

docs: add Pro League sprint and future ideas backlog (#547)
  TODO.md
  docs/roadmap/backlog/future-ideas.md
  docs/roadmap/phases.md
  docs/roadmap/sprints/SPRINT-pro-league.md
Labels: none

docs: add new sprints for leagues v2 and Pro League
  apps/web/app/api/admin/progress/route.ts
Labels: web

chore(release): 1.84.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  51a6ac686c6e4fd022a7e541dd37f29a44b4cfe3
Labels: none

docs: split sim engine, PvE bot et Pro League en 3 sprints distincts
  TODO.md
  docs/roadmap/backlog/future-ideas.md
  docs/roadmap/phases.md
  docs/roadmap/sprints/SPRINT-pro-league.md
  docs/roadmap/sprints/SPRINT-pve-bot-mvp.md
  docs/roadmap/sprints/SPRINT-sim-engine.md
Labels: none

feat(s26): finalise les 2 derniers points DoD du sprint 26
  apps/server/package.json
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/routes/tutorial.ts
  apps/server/src/seed-themed-league.ts
  apps/server/src/seeders/themed-league.test.ts
  apps/server/src/seeders/themed-league.ts
  apps/server/src/services/tutorial-completion.test.ts
  apps/server/src/services/tutorial-completion.ts
  apps/web/app/tutoriel/[slug]/page.tsx
  apps/web/public/version.json
  docs/roadmap/sprints/S26-retention-engagement.md
  prisma/migrations/20260505200000_add_tutorial_completion/migration.sql
  prisma/schema.prisma
Labels: web, server

S26 DoD: Add themed league seeder and tutorial telemetry (#548)
  apps/server/package.json
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/routes/tutorial.ts
  apps/server/src/seed-themed-league.ts
  apps/server/src/seeders/themed-league.test.ts
  apps/server/src/seeders/themed-league.ts
  apps/server/src/services/tutorial-completion.test.ts
  apps/server/src/services/tutorial-completion.ts
  apps/web/app/tutoriel/[slug]/page.tsx
  apps/web/public/version.json
  docs/roadmap/sprints/S26-retention-engagement.md
  prisma/migrations/20260505200000_add_tutorial_completion/migration.sql
  prisma/schema.prisma
Labels: web, server

docs: archive L2.C.7 mobile parite ligues vers backlog future-ideas
  TODO.md
  docs/roadmap/backlog/future-ideas.md
Labels: none

docs: archive L2.C.4 vers backlog future-ideas (focus acquisition/retention)
  TODO.md
  docs/roadmap/backlog/future-ideas.md
Labels: none

docs: archive Ligues v2 optional extensions to future-ideas (#549)
  TODO.md
  docs/roadmap/backlog/future-ideas.md
Labels: none

feat(sim-engine): scaffold packages/sim-engine workspace (sprint Pro League 0.A.1)
  docs/roadmap/sprints/SPRINT-pro-league.md
  packages/config/tsconfig.base.json
  packages/sim-engine/eslint.config.js
  packages/sim-engine/package.json
  packages/sim-engine/src/index.ts
  packages/sim-engine/src/simulate-match.test.ts
  packages/sim-engine/src/simulate-match.ts
  packages/sim-engine/src/types.ts
  packages/sim-engine/tsconfig.json
  packages/sim-engine/vitest.config.ts
  pnpm-lock.yaml
Labels: none

feat(mobile): S27.3.3 i18n sub-components settings/*
  apps/mobile/components/settings/AccountInfoSection.tsx
  apps/mobile/components/settings/DangerZone.tsx
  apps/mobile/components/settings/PasswordChangeSection.tsx
  apps/mobile/components/settings/ProfileEditSection.tsx
  apps/mobile/components/settings/ProfileHeader.tsx
  apps/mobile/lib/i18n.test.ts
  apps/mobile/lib/translations/en.ts
  apps/mobile/lib/translations/fr.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: mobile

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
