Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

feat(coach-profile): themed championships UI banner on /coach/[slug] (S26.6e)
  apps/server/src/services/coach-championships.test.ts
  apps/server/src/services/coach-championships.ts
  apps/web/app/coach/[slug]/CoachChampionshipsBanner.test.tsx
  apps/web/app/coach/[slug]/CoachChampionshipsBanner.tsx
  apps/web/app/coach/[slug]/page.tsx
  apps/web/app/coach/[slug]/types.ts
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: web, server

feat(coach-profile): themed championships UI banner on /coach/[slug] (S26.6e) (#518)
  apps/server/src/services/coach-championships.test.ts
  apps/server/src/services/coach-championships.ts
  apps/web/app/coach/[slug]/CoachChampionshipsBanner.test.tsx
  apps/web/app/coach/[slug]/CoachChampionshipsBanner.tsx
  apps/web/app/coach/[slug]/page.tsx
  apps/web/app/coach/[slug]/types.ts
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: web, server

feat(leagues): themed season closure hook (S26.6f, closes S26.6)
  apps/server/src/services/league-match-result.ts
  apps/server/src/services/themed-season-closure.test.ts
  apps/server/src/services/themed-season-closure.ts
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: server

feat(leagues): themed season closure hook (S26.6f, closes S26.6) (#519)
  apps/server/src/services/league-match-result.ts
  apps/server/src/services/themed-season-closure.test.ts
  apps/server/src/services/themed-season-closure.ts
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: server

docs(roadmap): S26 termine
  docs/roadmap/phases.md
Labels: none

docs(roadmap): S26 termine (#520)
  docs/roadmap/phases.md
Labels: none

feat(cups): monthly Nuffle Cup slot foundation (S27.1a)
  apps/server/src/services/nuffle-cup-monthly.test.ts
  apps/server/src/services/nuffle-cup-monthly.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
  prisma/migrations/20260504000000_add_cup_monthly_slot/migration.sql
  prisma/schema.prisma
Labels: server

feat(cups): monthly Nuffle Cup slot foundation (S27.1a) (#521)
  apps/server/src/services/nuffle-cup-monthly.test.ts
  apps/server/src/services/nuffle-cup-monthly.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
  prisma/migrations/20260504000000_add_cup_monthly_slot/migration.sql
  prisma/schema.prisma
Labels: server

feat(cups): public listing of monthly Nuffle Cups (S27.1b)
  apps/server/src/routes/cup.ts
  apps/server/src/schemas/cup.schemas.ts
  apps/server/src/services/cup-monthly-listing.test.ts
  apps/server/src/services/cup-monthly-listing.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: server

feat(cups): public listing of monthly Nuffle Cups (S27.1b) (#522)
  apps/server/src/routes/cup.ts
  apps/server/src/schemas/cup.schemas.ts
  apps/server/src/services/cup-monthly-listing.test.ts
  apps/server/src/services/cup-monthly-listing.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: server

feat(cups): public monthly Nuffle Cup calendar UI /cups/monthly (S27.1c)
  apps/web/app/cups/monthly/page.test.tsx
  apps/web/app/cups/monthly/page.tsx
  apps/web/app/i18n/translations.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: web

feat(cups): public monthly Nuffle Cup calendar UI /cups/monthly (S27.1c) (#523)
  apps/web/app/cups/monthly/page.test.tsx
  apps/web/app/cups/monthly/page.tsx
  apps/web/app/i18n/translations.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: web

feat(coach-profile): monthly Nuffle Cup champion badge backend (S27.1d)
  apps/server/src/routes/coach.test.ts
  apps/server/src/routes/coach.ts
  apps/server/src/services/cup-championships.test.ts
  apps/server/src/services/cup-championships.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: server

feat(coach-profile): monthly Nuffle Cup champion badge backend (S27.1d) (#524)
  apps/server/src/routes/coach.test.ts
  apps/server/src/routes/coach.ts
  apps/server/src/services/cup-championships.test.ts
  apps/server/src/services/cup-championships.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: server

feat(coach-profile): monthly Nuffle Cup champion badge UI (S27.1e)
  apps/web/app/coach/[slug]/CoachCupChampionshipsBanner.test.tsx
  apps/web/app/coach/[slug]/CoachCupChampionshipsBanner.tsx
  apps/web/app/coach/[slug]/page.tsx
  apps/web/app/coach/[slug]/types.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: web

feat(coach-profile): monthly Nuffle Cup champion badge UI (S27.1e) (#525)
  apps/web/app/coach/[slug]/CoachCupChampionshipsBanner.test.tsx
  apps/web/app/coach/[slug]/CoachCupChampionshipsBanner.tsx
  apps/web/app/coach/[slug]/page.tsx
  apps/web/app/coach/[slug]/types.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: web

feat(cups): match-of-the-week public read foundation (S27.1f)
  apps/server/src/routes/cup.ts
  apps/server/src/services/match-of-the-week.test.ts
  apps/server/src/services/match-of-the-week.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
  prisma/migrations/20260504100000_add_local_match_featured/migration.sql
  prisma/schema.prisma
Labels: server

feat(cups): match-of-the-week public read foundation (S27.1f) (#526)
  apps/server/src/routes/cup.ts
  apps/server/src/services/match-of-the-week.test.ts
  apps/server/src/services/match-of-the-week.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
  prisma/migrations/20260504100000_add_local_match_featured/migration.sql
  prisma/schema.prisma
Labels: server

feat(cups): admin pick endpoint for match-of-the-week (S27.1g)
  apps/server/src/routes/cup.ts
  apps/server/src/schemas/cup.schemas.ts
  apps/server/src/services/match-of-the-week.test.ts
  apps/server/src/services/match-of-the-week.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: server

feat(cups): admin pick endpoint for match-of-the-week (S27.1g) (#527)
  apps/server/src/routes/cup.ts
  apps/server/src/schemas/cup.schemas.ts
  apps/server/src/services/match-of-the-week.test.ts
  apps/server/src/services/match-of-the-week.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: server

feat(cups): match-of-the-week UI banner on /cups/monthly (S27.1h)
  apps/web/app/cups/MatchOfTheWeekBanner.test.tsx
  apps/web/app/cups/MatchOfTheWeekBanner.tsx
  apps/web/app/cups/monthly/page.tsx
  apps/web/app/i18n/translations.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: web

feat(cups): match-of-the-week UI banner on /cups/monthly (S27.1h) (#528)
  apps/web/app/cups/MatchOfTheWeekBanner.test.tsx
  apps/web/app/cups/MatchOfTheWeekBanner.tsx
  apps/web/app/cups/monthly/page.tsx
  apps/web/app/i18n/translations.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: web

feat(cups): admin can create monthly Nuffle Cups via POST /cup (S27.1i)
  apps/server/src/routes/cup.ts
  apps/server/src/schemas/cup.schemas.test.ts
  apps/server/src/schemas/cup.schemas.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: server

feat(cups): admin can create monthly Nuffle Cups via POST /cup (S27.1i) (#529)
  apps/server/src/routes/cup.ts
  apps/server/src/schemas/cup.schemas.test.ts
  apps/server/src/schemas/cup.schemas.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: server

feat(cups): visual bracket view on /cups/[id] (S27.1j, closes S27.1)
  apps/web/app/cups/[id]/CupBracketView.test.tsx
  apps/web/app/cups/[id]/CupBracketView.tsx
  apps/web/app/cups/[id]/page.tsx
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: web

feat(cups): visual bracket view on /cups/[id] (S27.1j, closes S27.1) (#530)
  apps/web/app/cups/[id]/CupBracketView.test.tsx
  apps/web/app/cups/[id]/CupBracketView.tsx
  apps/web/app/cups/[id]/page.tsx
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: web

feat(mobile): port Throw Team-Mate click helper foundation (S27.2.1)
  apps/mobile/lib/throw-team-mate-click.test.ts
  apps/mobile/lib/throw-team-mate-click.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: mobile

feat(mobile): port Throw Team-Mate click helper foundation (S27.2.1) (#531)
  apps/mobile/lib/throw-team-mate-click.test.ts
  apps/mobile/lib/throw-team-mate-click.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: mobile

feat(mobile): integrate Throw Team-Mate flow on play screen (S27.2.2, closes S27.2)
  apps/mobile/app/play/[id].tsx
  apps/mobile/lib/throw-team-mate-click.test.ts
  apps/mobile/lib/throw-team-mate-click.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: mobile

feat(mobile): integrate Throw Team-Mate flow on play screen (S27.2.2, closes S27.2) (#532)
  apps/mobile/app/play/[id].tsx
  apps/mobile/lib/throw-team-mate-click.test.ts
  apps/mobile/lib/throw-team-mate-click.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: mobile

feat(mobile): i18n foundation (FR/EN) without external dep (S27.3.1)
  apps/mobile/lib/i18n.test.ts
  apps/mobile/lib/i18n.ts
  apps/mobile/lib/translations/en.ts
  apps/mobile/lib/translations/fr.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: mobile

feat(mobile): i18n foundation (FR/EN) without external dep (S27.3.1) (#533)
  apps/mobile/lib/i18n.test.ts
  apps/mobile/lib/i18n.ts
  apps/mobile/lib/translations/en.ts
  apps/mobile/lib/translations/fr.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: mobile

feat(mobile): useTranslation hook + i18n settings.tsx (S27.3.2)
  apps/mobile/app/_layout.tsx
  apps/mobile/app/settings.tsx
  apps/mobile/lib/i18n-context.test.ts
  apps/mobile/lib/i18n-context.tsx
  apps/mobile/lib/i18n-detect.test.ts
  apps/mobile/lib/i18n-detect.ts
  apps/mobile/lib/translations/en.ts
  apps/mobile/lib/translations/fr.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: mobile

feat(mobile): useTranslation hook + i18n settings.tsx (S27.3.2) (#534)
  apps/mobile/app/_layout.tsx
  apps/mobile/app/settings.tsx
  apps/mobile/lib/i18n-context.test.ts
  apps/mobile/lib/i18n-context.tsx
  apps/mobile/lib/i18n-detect.test.ts
  apps/mobile/lib/i18n-detect.ts
  apps/mobile/lib/translations/en.ts
  apps/mobile/lib/translations/fr.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: mobile

docs(leagues): add SPRINT-leagues-v2 plan + integrate as P0 in TODO
  TODO.md
  docs/roadmap/phases.md
  docs/roadmap/sprints/SPRINT-leagues-v2.md
Labels: none

feat(leagues): PR1 MVP scheduler — pairing model + admin season routes (L2.A.1-A.5)
  apps/server/src/routes/league.ts
  apps/server/src/schemas/league.schemas.ts
  apps/server/src/services/league-match-from-pairing.test.ts
  apps/server/src/services/league-match-from-pairing.ts
  apps/server/src/services/league-match-result.test.ts
  apps/server/src/services/league-match-result.ts
  apps/server/src/services/league-scheduler.test.ts
  apps/server/src/services/league-scheduler.ts
  prisma/schema.prisma
Labels: server

feat(leagues): add Prisma migration for LeaguePairing (L2.A.1)
  prisma/migrations/20260504200000_add_league_pairing/migration.sql
Labels: none

L2.A.2-A.4: League scheduler & pairing materialization (#535)
  TODO.md
  apps/server/src/routes/league.ts
  apps/server/src/schemas/league.schemas.ts
  apps/server/src/services/league-match-from-pairing.test.ts
  apps/server/src/services/league-match-from-pairing.ts
  apps/server/src/services/league-match-result.test.ts
  apps/server/src/services/league-match-result.ts
  apps/server/src/services/league-scheduler.test.ts
  apps/server/src/services/league-scheduler.ts
  docs/roadmap/phases.md
  docs/roadmap/sprints/SPRINT-leagues-v2.md
  prisma/migrations/20260504200000_add_league_pairing/migration.sql
  prisma/schema.prisma
Labels: server

feat(leagues): PR2 UI — flag-gated UI for league management (L2.A.6-A.10)
  apps/server/src/index.ts
  apps/server/src/seed.ts
  apps/server/src/services/featureFlags.ts
  apps/server/src/services/league.ts
  apps/web/app/i18n/translations.ts
  apps/web/app/leagues/[id]/JoinSeasonModal.tsx
  apps/web/app/leagues/[id]/NewSeasonModal.tsx
  apps/web/app/leagues/[id]/SeasonAdminPanel.tsx
  apps/web/app/leagues/[id]/SeasonCalendar.tsx
  apps/web/app/leagues/[id]/page.test.tsx
  apps/web/app/leagues/[id]/page.tsx
  apps/web/app/leagues/[id]/types.ts
  apps/web/app/leagues/new/page.tsx
  apps/web/app/leagues/page.test.tsx
  apps/web/app/leagues/page.tsx
  apps/web/app/lib/featureFlagKeys.ts
Labels: web, server

fix(leagues): mirror LeaguePairing model + Match league fields in SQLite schema
  apps/server/prisma/sqlite/memdb1
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
Labels: server

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
