Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"

feat(server): wire audit log into admin-data routes (S27.6.4) (#652)
  apps/server/src/routes/admin-data.ts
  apps/server/src/routes/admin.ts
  apps/server/src/services/audit-log.test.ts
  apps/server/src/services/audit-log.ts
  apps/web/public/version.json
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: web, server

chore(release): 1.95.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  1e84ea4597fc5124054e7f43631eec052d59b97b
Labels: none

refactor(game-engine): extract failure helpers (S27.8.4)
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/actions/failure-helpers.ts
  packages/game-engine/vitest.config.ts
Labels: game-engine

chore(release): 1.96.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  0e1ca27c21b13bcc18f0e877c899ccce921144ff
Labels: none

feat(web): i18n Pro League gazette + hall-of-fame (sprint i18n.3)
  apps/web/app/i18n/translations.ts
  apps/web/app/pro-league/gazette/[date]/page.tsx
  apps/web/app/pro-league/gazette/_shared.tsx
  apps/web/app/pro-league/gazette/page.test.tsx
  apps/web/app/pro-league/gazette/page.tsx
  apps/web/app/pro-league/hall-of-fame/page.tsx
Labels: web

refactor(game-engine): extract failure helpers (S27.8.4) (#663)
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/actions/failure-helpers.ts
  packages/game-engine/vitest.config.ts
Labels: game-engine

refactor(game-engine): extract handleBallPickup + canUseTeamReroll (S27.8.5)
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/actions/ball-pickup.ts
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/vitest.config.ts
Labels: game-engine

refactor(game-engine): extract handleBallPickup + canUseTeamReroll (S27.8.5) (#665)
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/actions/ball-pickup.ts
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/vitest.config.ts
Labels: game-engine

refactor(game-engine): extract move sub-handlers (S27.8.6)
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/actions/move-handlers.ts
  packages/game-engine/vitest.config.ts
Labels: game-engine

docs(roadmap): plan sprint sim-engine — observability + full driver + sandbox
  docs/roadmap/sprints/SPRINT-sim-engine-observability.md
Labels: none

refactor(game-engine): extract move sub-handlers (S27.8.6) (#666)
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/actions/move-handlers.ts
  packages/game-engine/vitest.config.ts
Labels: game-engine

feat(web): i18n Pro League gazette + hall-of-fame (sprint i18n.3) (#664)
  apps/web/app/i18n/translations.ts
  apps/web/app/pro-league/gazette/[date]/page.tsx
  apps/web/app/pro-league/gazette/_shared.tsx
  apps/web/app/pro-league/gazette/page.test.tsx
  apps/web/app/pro-league/gazette/page.tsx
  apps/web/app/pro-league/hall-of-fame/page.tsx
Labels: web

feat(metrics): Pro League sim engine metrics (Lot 2.A.1 + 2.A.2)
  apps/server/src/utils/metrics.test.ts
  apps/server/src/utils/metrics.ts
Labels: server

refactor(game-engine): extract choice handlers (S27.8.7)
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/actions/choice-handlers.ts
  packages/game-engine/vitest.config.ts
Labels: game-engine

docs(roadmap): sprint sim-engine — observability + full driver + sandbox (#667)
  docs/roadmap/sprints/SPRINT-sim-engine-observability.md
Labels: none

feat(metrics): instrument sim-runner + broadcaster (Lot 2.A.3 + 2.A.4)
  apps/server/src/services/pro-league-match-broadcaster.test.ts
  apps/server/src/services/pro-league-match-broadcaster.ts
  apps/server/src/services/pro-league-sim-runner.ts
Labels: server

feat(web): i18n Pro League matches detail + live + replay (sprint i18n.4)
  apps/web/app/i18n/translations.ts
  apps/web/app/pro-league/matches/[id]/live/page.test.tsx
  apps/web/app/pro-league/matches/[id]/live/page.tsx
  apps/web/app/pro-league/matches/[id]/page.test.tsx
  apps/web/app/pro-league/matches/[id]/page.tsx
  apps/web/app/pro-league/matches/[id]/replay/MatchReplayPlayer.test.tsx
  apps/web/app/pro-league/matches/[id]/replay/MatchReplayPlayer.tsx
Labels: web

refactor(game-engine): extract choice handlers (S27.8.7) (#669)
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/actions/choice-handlers.ts
  packages/game-engine/vitest.config.ts
Labels: game-engine

feat(metrics): engine drift watcher (Lot 2.A.5)
  apps/server/src/index.ts
  apps/server/src/routes/admin-sim.test.ts
  apps/server/src/routes/admin-sim.ts
  apps/server/src/services/pro-league-engine-drift-watcher.test.ts
  apps/server/src/services/pro-league-engine-drift-watcher.ts
Labels: server

feat(metrics): Pro League sim engine metrics (Lot 2.A.1 + 2.A.2) (#668)
  apps/server/src/utils/metrics.test.ts
  apps/server/src/utils/metrics.ts
Labels: server

feat(admin): sim health + broadcaster live UIs (Lot 2.B.3 + 2.B.4)
  apps/server/src/routes/admin-sim.test.ts
  apps/server/src/routes/admin-sim.ts
  apps/web/app/admin/layout.tsx
  apps/web/app/admin/sim/broadcaster/page.tsx
  apps/web/app/admin/sim/health/page.tsx
Labels: web, server

refactor(game-engine): extract handleBlock + import cleanup (S27.8.8)
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/actions/block-action.ts
  packages/game-engine/vitest.config.ts
Labels: game-engine

feat(web): i18n Pro League matches detail + live + replay (sprint i18n.4) (#671)
  apps/web/app/i18n/translations.ts
  apps/web/app/pro-league/matches/[id]/live/page.test.tsx
  apps/web/app/pro-league/matches/[id]/live/page.tsx
  apps/web/app/pro-league/matches/[id]/page.test.tsx
  apps/web/app/pro-league/matches/[id]/page.tsx
  apps/web/app/pro-league/matches/[id]/replay/MatchReplayPlayer.test.tsx
  apps/web/app/pro-league/matches/[id]/replay/MatchReplayPlayer.tsx
Labels: web

feat(schema): isTest flag on ProLeagueMatch (Lot 2.C.1)
  apps/server/prisma/sqlite/schema.prisma
  prisma/migrations/20260507500000_add_pro_match_is_test/migration.sql
  prisma/schema.prisma
Labels: server

feat(metrics): instrument sim-runner + broadcaster (Lot 2.A.3 + 2.A.4) (#670)
  apps/server/src/services/pro-league-match-broadcaster.test.ts
  apps/server/src/services/pro-league-match-broadcaster.ts
  apps/server/src/services/pro-league-sim-runner.ts
Labels: server

refactor(game-engine): extract handleBlitz (S27.8.8)
  docs/roadmap/sprints/S27-evolutions-confort.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/actions/blitz-handler.test.ts
  packages/game-engine/src/actions/blitz-handler.ts
  packages/game-engine/vitest.config.ts
Labels: game-engine

feat(web): i18n Pro League components + feed + me (sprint i18n.5)
  apps/web/app/i18n/translations.ts
  apps/web/app/pro-league/_components/BetSlip.tsx
  apps/web/app/pro-league/_components/MarketsList.tsx
  apps/web/app/pro-league/_components/WalletBadge.tsx
  apps/web/app/pro-league/feed/page.test.tsx
  apps/web/app/pro-league/feed/page.tsx
  apps/web/app/pro-league/me/bets/page.tsx
Labels: web

refactor(game-engine): extract handleBlock + import cleanup (S27.8.8) (#674)
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/actions/block-action.ts
  packages/game-engine/vitest.config.ts
Labels: game-engine

feat(admin): sim health + broadcaster live UIs (Lot 2.B.3 + 2.B.4) (#673)
  apps/server/src/index.ts
  apps/server/src/routes/admin-sim.test.ts
  apps/server/src/routes/admin-sim.ts
  apps/server/src/services/pro-league-engine-drift-watcher.test.ts
  apps/server/src/services/pro-league-engine-drift-watcher.ts
  apps/web/app/admin/layout.tsx
  apps/web/app/admin/sim/broadcaster/page.tsx
  apps/web/app/admin/sim/health/page.tsx
Labels: web, server

feat(web): i18n Pro League components + feed + me (sprint i18n.5) (#677)
  apps/web/app/i18n/translations.ts
  apps/web/app/pro-league/_components/BetSlip.tsx
  apps/web/app/pro-league/_components/MarketsList.tsx
  apps/web/app/pro-league/_components/WalletBadge.tsx
  apps/web/app/pro-league/feed/page.test.tsx
  apps/web/app/pro-league/feed/page.tsx
  apps/web/app/pro-league/me/bets/page.tsx
Labels: web

refactor(game-engine): extract handleBlitz + cleanup imports (S27.8.9)
  docs/roadmap/sprints/S27-evolutions-confort.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/actions/blitz-action.ts
  packages/game-engine/vitest.config.ts
Labels: game-engine

feat(schema): isTest flag on ProLeagueMatch (Lot 2.C.1) (#675)
  apps/server/prisma/sqlite/schema.prisma
  prisma/migrations/20260507500000_add_pro_match_is_test/migration.sql
  prisma/schema.prisma
Labels: server

refactor(game-engine): extract handleMultiBlock + resolveMultipleBlock + resolveFrenzyBlock (S27.8.10)
  docs/roadmap/sprints/S27-evolutions-confort.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/actions/block-action.test.ts
  packages/game-engine/src/actions/block-action.ts
Labels: game-engine

refactor(game-engine): extract multi-block + frenzy from actions.ts (S27.8.10) (#686)
  docs/roadmap/sprints/S27-evolutions-confort.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/actions/block-action.test.ts
  packages/game-engine/src/actions/block-action.ts
Labels: game-engine

refactor(game-engine): extract getLegalMoves to legal-moves.ts (S27.8.11)
  docs/roadmap/sprints/S27-evolutions-confort.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/actions/legal-moves.test.ts
  packages/game-engine/src/actions/legal-moves.ts
Labels: game-engine

refactor(game-engine): extract getLegalMoves to legal-moves.ts (S27.8.11) (#689)
  docs/roadmap/sprints/S27-evolutions-confort.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/actions/legal-moves.test.ts
  packages/game-engine/src/actions/legal-moves.ts
Labels: game-engine

refactor(game-engine): extract handleLeap/handleMove/handleDodge + handleDumpOffChoose (S27.8.12)
  docs/roadmap/sprints/S27-evolutions-confort.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/actions/block-action.ts
  packages/game-engine/src/actions/move-leap-dodge-handlers.test.ts
  packages/game-engine/src/actions/move-leap-dodge-handlers.ts
Labels: game-engine

fix(coverage): exclude legal-moves + move-leap-dodge-handlers from coverage (S27.8.11/12)
  packages/game-engine/vitest.config.ts
Labels: game-engine
