Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

feat(dice-themes): icônes de dés thémées + sélecteur dans le profil
  apps/web/app/components/ClientLayout.tsx
  apps/web/app/components/dice/BlockDieIcon.tsx
  apps/web/app/components/dice/D6Icon.tsx
  apps/web/app/components/dice/DiceIcons.test.tsx
  apps/web/app/components/dice/labels.ts
  apps/web/app/components/dice/themes/catalogue-consistency.test.ts
  apps/web/app/components/dice/themes/catalogue.ts
  apps/web/app/components/dice/themes/nuffle.tsx
  apps/web/app/components/dice/themes/registry.ts
  apps/web/app/components/dice/types.ts
  apps/web/app/components/home/BlockDiceRoller.tsx
  apps/web/app/components/home/NuffleArt.tsx
  apps/web/app/components/home/block-dice-faces-consistency.test.ts
  apps/web/app/components/home/block-dice-faces.ts
  apps/web/app/contexts/DiceThemeContext.test.tsx
  apps/web/app/contexts/DiceThemeContext.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/HateRollsRecap.tsx
  apps/web/app/lib/featureFlagKeys.ts
  apps/web/app/me/profile/DiceThemePicker.test.tsx
  apps/web/app/me/profile/DiceThemePicker.tsx
  apps/web/app/me/profile/page.tsx
Labels: web

feat(dice-themes): thèmes de dés (Dé de Blocage + D6) sous flag (#1044)
  CLAUDE.md
  apps/server/src/index.ts
  apps/server/src/routes/dice-theme.test.ts
  apps/server/src/routes/dice-theme.ts
  apps/server/src/schemas/dice-theme.schemas.ts
  apps/server/src/seed.ts
  apps/server/src/services/dice-theme-catalogue.test.ts
  apps/server/src/services/dice-theme-catalogue.ts
  apps/server/src/services/dice-theme-preference.ts
  apps/server/src/services/featureFlags.ts
  apps/web/app/components/ClientLayout.tsx
  apps/web/app/components/dice/BlockDieIcon.tsx
  apps/web/app/components/dice/D6Icon.tsx
  apps/web/app/components/dice/DiceIcons.test.tsx
  apps/web/app/components/dice/labels.ts
  apps/web/app/components/dice/themes/catalogue-consistency.test.ts
  apps/web/app/components/dice/themes/catalogue.ts
  apps/web/app/components/dice/themes/nuffle.tsx
  apps/web/app/components/dice/themes/registry.ts
  apps/web/app/components/dice/types.ts
  apps/web/app/components/home/BlockDiceRoller.tsx
  apps/web/app/components/home/NuffleArt.tsx
  apps/web/app/components/home/block-dice-faces-consistency.test.ts
  apps/web/app/components/home/block-dice-faces.ts
  apps/web/app/contexts/DiceThemeContext.test.tsx
  apps/web/app/contexts/DiceThemeContext.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/HateRollsRecap.tsx
  apps/web/app/lib/featureFlagKeys.ts
  apps/web/app/me/profile/DiceThemePicker.test.tsx
  apps/web/app/me/profile/DiceThemePicker.tsx
  apps/web/app/me/profile/page.tsx
  openspec/changes/dice-themes/design.md
  openspec/changes/dice-themes/proposal.md
  openspec/changes/dice-themes/specs/dice-themes/spec.md
  openspec/changes/dice-themes/tasks.md
  prisma/schema.prisma
Labels: web, server

chore(release): 1.246.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  30a9ca0e6c606af959e6e3e6ef76e9b409afc128
Labels: none

docs(legal): CGU — publicité des résultats des compétitions et matchs publics
  apps/web/app/legal/conditions-utilisation/page.tsx
Labels: web

docs(legal): CGU — publicité des résultats des compétitions et matchs publics (#1045)
  apps/web/app/legal/conditions-utilisation/page.tsx
Labels: web

chore(legal): adresse de contact nufflearena@gmail.com
  apps/server/src/services/push-notifications.ts
  apps/web/app/legal/conditions-utilisation/page.tsx
  apps/web/app/legal/mentions-legales/page.tsx
  apps/web/app/legal/politique-de-confidentialite/page.tsx
  apps/web/app/legal/politique-de-cookies/page.tsx
Labels: web, server

chore(legal): adresse de contact nufflearena@gmail.com (#1046)
  apps/server/src/services/push-notifications.ts
  apps/web/app/legal/conditions-utilisation/page.tsx
  apps/web/app/legal/mentions-legales/page.tsx
  apps/web/app/legal/politique-de-confidentialite/page.tsx
  apps/web/app/legal/politique-de-cookies/page.tsx
Labels: web, server

docs(legal): CGU — la résiliation désactive le compte, l'effacement se demande
  apps/web/app/legal/conditions-utilisation/page.tsx
Labels: web

feat(teams): la fiche d'équipe renvoie à sa compétition engagée
  apps/server/src/routes/team-selection-handlers.ts
  apps/server/src/routes/team.test.ts
  apps/server/src/services/team-competition-status.test.ts
  apps/server/src/services/team-competition-status.ts
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/me/teams/[id]/competition-link.test.ts
  apps/web/app/me/teams/[id]/competition-link.ts
  apps/web/app/me/teams/[id]/page.competition-link.test.tsx
  apps/web/app/me/teams/[id]/page.tsx
Labels: web, server

CGU : section Résiliation corrigée + lien fiche d'équipe → compétition engagée (#1047)
  apps/server/src/routes/team-selection-handlers.ts
  apps/server/src/routes/team.test.ts
  apps/server/src/services/team-competition-status.test.ts
  apps/server/src/services/team-competition-status.ts
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/legal/conditions-utilisation/page.tsx
  apps/web/app/me/teams/[id]/competition-link.test.ts
  apps/web/app/me/teams/[id]/competition-link.ts
  apps/web/app/me/teams/[id]/page.competition-link.test.tsx
  apps/web/app/me/teams/[id]/page.tsx
Labels: web, server

feat(league-predictions): page de pronostics par journée
  apps/web/app/leagues/[id]/seasons/[sid]/predictions/[roundId]/page.test.tsx
  apps/web/app/leagues/[id]/seasons/[sid]/predictions/[roundId]/page.tsx
  apps/web/app/leagues/[id]/seasons/[sid]/predictions/page.test.tsx
  apps/web/app/leagues/[id]/seasons/[sid]/predictions/page.tsx
  apps/web/app/leagues/_components/RoundPredictionsCloseButton.tsx
  apps/web/app/leagues/_components/prediction-rounds.test.ts
  apps/web/app/leagues/_components/prediction-rounds.ts
  apps/web/app/leagues/_components/useSeasonPredictions.ts
Labels: web

feat(league-predictions): bouton 🔮 sur chaque journée du calendrier
  apps/web/app/leagues/[id]/SeasonCalendar.predictions.test.tsx
  apps/web/app/leagues/[id]/SeasonCalendar.tsx
  apps/web/app/leagues/[id]/page.tsx
  apps/web/app/leagues/[id]/seasons/[sid]/predictions/[roundId]/page.tsx
  apps/web/app/leagues/[id]/seasons/[sid]/predictions/page.tsx
Labels: web

feat(league-predictions): une ligne de résumé remplace le panneau de la fiche
  apps/web/app/leagues/[id]/LeaguePredictionsPanel.test.tsx
  apps/web/app/leagues/[id]/LeaguePredictionsPanel.tsx
  apps/web/app/leagues/[id]/LeaguePredictionsSummary.test.tsx
  apps/web/app/leagues/[id]/LeaguePredictionsSummary.tsx
  apps/web/app/leagues/[id]/page.tsx
  apps/web/app/leagues/_components/useSeasonPredictions.test.ts
Labels: web

feat(league-predictions): cartes de pronostic compactes
  apps/web/app/leagues/_components/PredictionPairingCard.test.tsx
  apps/web/app/leagues/_components/PredictionPairingCard.tsx
  apps/web/app/leagues/_components/PredictionPicker.test.tsx
  apps/web/app/leagues/_components/PredictionPicker.tsx
Labels: web

refactor(league-predictions): retire featuredRound et openPredictableCount
  apps/web/app/leagues/_components/predictions.test.ts
  apps/web/app/leagues/_components/predictions.ts
Labels: web

chore(changeset): pronostics par journée
  .changeset/pronostics-par-journee.md
Labels: none

feat(league-predictions): pronostics par journée, fiche de ligue allégée (#1048)
  .changeset/pronostics-par-journee.md
  apps/web/app/leagues/[id]/LeaguePredictionsPanel.test.tsx
  apps/web/app/leagues/[id]/LeaguePredictionsPanel.tsx
  apps/web/app/leagues/[id]/LeaguePredictionsSummary.test.tsx
  apps/web/app/leagues/[id]/LeaguePredictionsSummary.tsx
  apps/web/app/leagues/[id]/SeasonCalendar.predictions.test.tsx
  apps/web/app/leagues/[id]/SeasonCalendar.tsx
  apps/web/app/leagues/[id]/page.tsx
  apps/web/app/leagues/[id]/seasons/[sid]/predictions/[roundId]/page.test.tsx
  apps/web/app/leagues/[id]/seasons/[sid]/predictions/[roundId]/page.tsx
  apps/web/app/leagues/[id]/seasons/[sid]/predictions/page.test.tsx
  apps/web/app/leagues/[id]/seasons/[sid]/predictions/page.tsx
  apps/web/app/leagues/_components/PredictionPairingCard.test.tsx
  apps/web/app/leagues/_components/PredictionPairingCard.tsx
  apps/web/app/leagues/_components/PredictionPicker.test.tsx
  apps/web/app/leagues/_components/PredictionPicker.tsx
  apps/web/app/leagues/_components/RoundPredictionsCloseButton.tsx
  apps/web/app/leagues/_components/prediction-rounds.test.ts
  apps/web/app/leagues/_components/prediction-rounds.ts
  apps/web/app/leagues/_components/predictions.test.ts
  apps/web/app/leagues/_components/predictions.ts
  apps/web/app/leagues/_components/useSeasonPredictions.test.ts
  apps/web/app/leagues/_components/useSeasonPredictions.ts
Labels: web

chore(release): 1.247.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  f3ea6107ca35d777d7dc495231c8930b6e4a8efe
Labels: none

docs(nfl-fantasy): point de situation saison 2026 après W4
  docs/nfl-fantasy/32-saison-2026-point-de-situation.md
  docs/nfl-fantasy/README.md
Labels: none

feat(admin): gestion complète des coupes et des ligues, visibilité comprise
  apps/server/src/index.ts
  apps/server/src/routes/admin-cups.test.ts
  apps/server/src/routes/admin-cups.ts
  apps/server/src/routes/admin-leagues-edit.test.ts
  apps/server/src/routes/admin-leagues.ts
  apps/server/src/schemas/admin-cups.schemas.ts
  apps/server/src/schemas/admin-leagues.schemas.ts
  apps/web/app/admin/_components/competition-admin.tsx
  apps/web/app/admin/cups/[id]/cup-form.ts
  apps/web/app/admin/cups/[id]/page.test.tsx
  apps/web/app/admin/cups/page.test.tsx
  apps/web/app/admin/cups/page.tsx
  apps/web/app/admin/leagues/[id]/league-form.ts
  apps/web/app/admin/leagues/[id]/page.test.tsx
  apps/web/app/admin/leagues/[id]/page.tsx
  apps/web/app/admin/leagues/page.test.tsx
  apps/web/app/admin/leagues/page.tsx
Labels: web, server

chore(changeset): gestion admin des coupes et des ligues
  .changeset/admin-gestion-coupes-ligues.md
Labels: none

feat(admin): gestion complète des coupes et des ligues, visibilité comprise (#1049)
  .changeset/admin-gestion-coupes-ligues.md
  apps/server/src/index.ts
  apps/server/src/routes/admin-cups.test.ts
  apps/server/src/routes/admin-cups.ts
  apps/server/src/routes/admin-leagues-edit.test.ts
  apps/server/src/routes/admin-leagues.ts
  apps/server/src/schemas/admin-cups.schemas.ts
  apps/server/src/schemas/admin-leagues.schemas.ts
  apps/web/app/admin/_components/competition-admin.tsx
  apps/web/app/admin/cups/[id]/cup-form.ts
  apps/web/app/admin/cups/[id]/page.test.tsx
  apps/web/app/admin/cups/page.test.tsx
  apps/web/app/admin/cups/page.tsx
  apps/web/app/admin/leagues/[id]/league-form.ts
  apps/web/app/admin/leagues/[id]/page.test.tsx
  apps/web/app/admin/leagues/[id]/page.tsx
  apps/web/app/admin/leagues/page.test.tsx
  apps/web/app/admin/leagues/page.tsx
Labels: web, server

chore(release): 1.248.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  869267b567195ce9e35170036bd1999ccd2ad815
Labels: none

feat(admin): feuilles de match et liens croisés équipes ↔ compétitions
  .changeset/admin-feuilles-de-match-et-liens.md
  apps/server/src/index.ts
  apps/server/src/routes/admin-leagues-edit.test.ts
  apps/server/src/routes/admin-leagues.ts
  apps/server/src/routes/admin-match-sheets.test.ts
  apps/server/src/routes/admin-match-sheets.ts
  apps/server/src/routes/admin-team-detail.test.ts
  apps/server/src/routes/admin.ts
  apps/server/src/schemas/admin-match-sheets.schemas.ts
  apps/server/src/services/admin-team-detail.ts
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/web/app/admin/cups/[id]/page.test.tsx
  apps/web/app/admin/cups/[id]/page.tsx
  apps/web/app/admin/layout.tsx
  apps/web/app/admin/leagues/[id]/league-form.ts
  apps/web/app/admin/leagues/[id]/page.test.tsx
  apps/web/app/admin/leagues/[id]/page.tsx
  apps/web/app/admin/match-sheets/page.test.tsx
  apps/web/app/admin/match-sheets/page.tsx
  apps/web/app/admin/match-sheets/sheet-links.ts
  apps/web/app/admin/teams/[id]/TeamCompetitionsPanel.tsx
  apps/web/app/admin/teams/[id]/page.test.tsx
  apps/web/app/admin/teams/[id]/page.tsx
Labels: web, server

feat(admin): feuilles de match et liens croisés équipes ↔ compétitions (#1050)
  .changeset/admin-feuilles-de-match-et-liens.md
  apps/server/src/index.ts
  apps/server/src/routes/admin-leagues-edit.test.ts
  apps/server/src/routes/admin-leagues.ts
  apps/server/src/routes/admin-match-sheets.test.ts
  apps/server/src/routes/admin-match-sheets.ts
  apps/server/src/routes/admin-team-detail.test.ts
  apps/server/src/routes/admin.ts
  apps/server/src/schemas/admin-match-sheets.schemas.ts
  apps/server/src/services/admin-team-detail.ts
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/web/app/admin/cups/[id]/page.test.tsx
  apps/web/app/admin/cups/[id]/page.tsx
  apps/web/app/admin/layout.tsx
  apps/web/app/admin/leagues/[id]/league-form.ts
  apps/web/app/admin/leagues/[id]/page.test.tsx
  apps/web/app/admin/leagues/[id]/page.tsx
  apps/web/app/admin/match-sheets/page.test.tsx
  apps/web/app/admin/match-sheets/page.tsx
  apps/web/app/admin/match-sheets/sheet-links.ts
  apps/web/app/admin/teams/[id]/TeamCompetitionsPanel.tsx
  apps/web/app/admin/teams/[id]/page.test.tsx
  apps/web/app/admin/teams/[id]/page.tsx
Labels: web, server

chore(release): 1.249.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  929209d925b498d4e28be45c1f25db0927a405fc
Labels: none

fix(nfl-ingest): fenêtres de week calées sur le vrai calendrier NFL
  apps/server/src/services/nfl-ingest.test.ts
  apps/server/src/services/nfl-ingest.ts
Labels: server

docs(pro-league): exploration « un match intégral, un coach qui évolue, un replay rejouable »
  CLAUDE.md
  docs/roadmap/explorations/2026-10-05-pro-league-match-integral.md
Labels: none

fix(nfl-cron): règlement le mercredi sur des stats fraîches
  apps/server/src/index.ts
  apps/server/src/services/nfl-fantasy-cron.test.ts
  apps/server/src/services/nfl-fantasy-cron.ts
  apps/web/app/admin/nfl-fantasy/page.tsx
  docs/nfl-fantasy/17-crons.md
Labels: web, server

feat(nfl-fantasy): re-settle d'une semaine sans double crédit de carrière
  apps/server/src/routes/admin-nfl-fantasy.ts
  apps/server/src/services/nfl-fantasy-scoring.test.ts
  apps/server/src/services/nfl-fantasy-scoring.ts
  apps/web/app/admin/nfl-fantasy/page.tsx
Labels: web, server

fix(nfl-fantasy): plus de saison 2025 écrite en dur
  apps/server/src/routes/nfl-fantasy-draft-sessions.ts
  apps/web/app/admin/nfl-fantasy/page.tsx
  apps/web/app/nfl-fantasy/leagues/[id]/draft/page.tsx
  apps/web/app/nfl-fantasy/players/page.tsx
  apps/web/app/nfl-fantasy/season.test.ts
  apps/web/app/nfl-fantasy/season.ts
Labels: web, server

feat(nfl-bootstrap): rattrapage d'une saison en cours
  Makefile
  apps/server/src/scripts/bootstrap-nfl-prod.test.ts
  apps/server/src/scripts/bootstrap-nfl-prod.ts
Labels: server

docs(nfl-fantasy): correctifs cron livrés et procédure de rattrapage 2026
  docs/nfl-fantasy/30-prod-bootstrap.md
  docs/nfl-fantasy/32-saison-2026-point-de-situation.md
  docs/nfl-fantasy/README.md
Labels: none

fix(nfl-ingest): coups d'envoi à l'heure réelle et matchs à venir connus d'avance
  apps/server/src/routes/admin-nfl-fantasy-explorer.ts
  apps/server/src/scripts/bootstrap-nfl-prod.ts
  apps/server/src/services/nfl-fantasy-cron.test.ts
  apps/server/src/services/nfl-fantasy-cron.ts
  apps/server/src/services/nfl-ingest-schedules.test.ts
  apps/server/src/services/nfl-ingest.ts
Labels: server

fix(nfl-fantasy): lineup verrouillé joueur par joueur au coup d'envoi
  apps/server/src/scripts/nfl-fantasy-draft-e2e.ts
  apps/server/src/scripts/nfl-fantasy-lineup-e2e.ts
  apps/server/src/scripts/nfl-fantasy-matchups-e2e.ts
  apps/server/src/scripts/nfl-fantasy-scoring-e2e.ts
  apps/server/src/services/nfl-fantasy-bot-lineup.ts
  apps/server/src/services/nfl-fantasy-kickoff-lock.test.ts
  apps/server/src/services/nfl-fantasy-kickoff-lock.ts
  apps/server/src/services/nfl-fantasy-lineup.test.ts
  apps/server/src/services/nfl-fantasy-lineup.ts
  apps/server/src/services/nfl-fantasy-replay.ts
  apps/server/src/utils/nfl-error-mapper.test.ts
  apps/server/src/utils/nfl-error-mapper.ts
Labels: server

docs(openspec): proposal « pro-league-full-match » (lot 1, un match complet)
  openspec/changes/pro-league-full-match/design.md
  openspec/changes/pro-league-full-match/proposal.md
  openspec/changes/pro-league-full-match/specs/pro-league-full-match/spec.md
  openspec/changes/pro-league-full-match/tasks.md
Labels: none

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
