Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"

feat(cups): poules — composition, affectation et appariement par groupe
  apps/server/src/index.ts
  apps/server/src/routes/cup-pools.test.ts
  apps/server/src/routes/cup-pools.ts
  apps/server/src/routes/cup.ts
  apps/server/src/schemas/cup-pool.schemas.ts
  apps/server/src/services/bracket-seeding.ts
  apps/server/src/services/cup-pool.test.ts
  apps/server/src/services/cup-pool.ts
  apps/server/src/services/cup-round-pools.test.ts
  apps/server/src/services/cup-rounds.test.ts
  apps/server/src/services/cup-rounds.ts
  apps/server/src/services/league-playoffs.ts
Labels: server

feat(cups): play-offs de coupe (bracket seedé, publication, correction des têtes)
  apps/server/src/index.ts
  apps/server/src/routes/cup-playoffs.test.ts
  apps/server/src/routes/cup-playoffs.ts
  apps/server/src/routes/cup.ts
  apps/server/src/schemas/cup-playoff.schemas.ts
  apps/server/src/schemas/cup.schemas.ts
  apps/server/src/services/cup-playoffs.test.ts
  apps/server/src/services/cup-playoffs.ts
  apps/server/src/services/cup-rounds.ts
Labels: server

feat(cups): écrans des poules et du bracket de play-offs
  apps/server/src/routes/cup.ts
  apps/server/src/services/cup-playoffs.test.ts
  apps/server/src/services/cup-playoffs.ts
  apps/server/src/services/cup-rounds.ts
  apps/web/app/cups/[id]/CupPlayoffBracketView.test.tsx
  apps/web/app/cups/[id]/CupPlayoffBracketView.tsx
  apps/web/app/cups/[id]/CupPoolsManagerPanel.test.tsx
  apps/web/app/cups/[id]/CupPoolsManagerPanel.tsx
  apps/web/app/cups/[id]/CupRoundsView.test.tsx
  apps/web/app/cups/[id]/CupRoundsView.tsx
  apps/web/app/cups/[id]/page.tsx
  apps/web/app/cups/[id]/playoff-bracket.test.ts
  apps/web/app/cups/[id]/playoff-bracket.ts
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
Labels: web, server

test(cups): e2e API des poules et des play-offs de coupe
  tests/e2e-api/specs/cup-pools-and-playoffs.spec.ts
Labels: none

docs(cups): change OpenSpec, doc et récit des poules et play-offs
  CLAUDE.md
  docs/cup-pools-and-playoffs.md
  docs/roadmap/backlog/openspec-suites.md
  docs/roadmap/sessions/2026-09-10-cup-pools-and-playoffs.md
  openspec/changes/cup-pools-and-playoffs/design.md
  openspec/changes/cup-pools-and-playoffs/proposal.md
  openspec/changes/cup-pools-and-playoffs/specs/cup-playoffs/spec.md
  openspec/changes/cup-pools-and-playoffs/specs/cup-pools/spec.md
  openspec/changes/cup-pools-and-playoffs/tasks.md
Labels: none

chore(openspec): sync et archive du change « poules et play-offs de coupe »
  docs/roadmap/backlog/openspec-suites.md
  openspec/changes/archive/2026-09-10-cup-pools-and-playoffs/design.md
  openspec/changes/archive/2026-09-10-cup-pools-and-playoffs/proposal.md
  openspec/changes/archive/2026-09-10-cup-pools-and-playoffs/specs/cup-playoffs/spec.md
  openspec/changes/archive/2026-09-10-cup-pools-and-playoffs/specs/cup-pools/spec.md
  openspec/changes/archive/2026-09-10-cup-pools-and-playoffs/tasks.md
  openspec/specs/cup-playoffs/spec.md
  openspec/specs/cup-pools/spec.md
Labels: none

chore(openspec): sync et archive du change « poules et play-offs de coupe » (#1018)
  docs/roadmap/backlog/openspec-suites.md
  openspec/changes/archive/2026-09-10-cup-pools-and-playoffs/design.md
  openspec/changes/archive/2026-09-10-cup-pools-and-playoffs/proposal.md
  openspec/changes/archive/2026-09-10-cup-pools-and-playoffs/specs/cup-playoffs/spec.md
  openspec/changes/archive/2026-09-10-cup-pools-and-playoffs/specs/cup-pools/spec.md
  openspec/changes/archive/2026-09-10-cup-pools-and-playoffs/tasks.md
  openspec/specs/cup-playoffs/spec.md
  openspec/specs/cup-pools/spec.md
Labels: none

refactor(web): un seul moteur de groupement par poule pour la ligue et la coupe
  apps/web/app/leagues/[id]/SeasonCalendar.tsx
  apps/web/app/leagues/[id]/pool-order.ts
  apps/web/app/lib/competition-pools.test.ts
  apps/web/app/lib/competition-pools.ts
Labels: web

feat(cups): calendrier groupé par poule, celle du coach en premier
  CLAUDE.md
  apps/server/src/routes/cup.ts
  apps/web/app/cups/[id]/CupRoundsView.test.tsx
  apps/web/app/cups/[id]/CupRoundsView.tsx
  apps/web/app/cups/[id]/page.tsx
  apps/web/app/cups/[id]/round-pools.test.ts
  apps/web/app/cups/[id]/round-pools.ts
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  docs/cup-pools-and-playoffs.md
  docs/roadmap/backlog/openspec-suites.md
  openspec/changes/cup-calendar-by-pool/design.md
  openspec/changes/cup-calendar-by-pool/proposal.md
  openspec/changes/cup-calendar-by-pool/specs/cup-pools/spec.md
  openspec/changes/cup-calendar-by-pool/tasks.md
  tests/e2e-api/specs/cup-pools-and-playoffs.spec.ts
Labels: web, server

Calendrier de coupe groupé par poule, celle du coach en premier (#1019)
  CLAUDE.md
  apps/server/src/routes/cup.ts
  apps/web/app/cups/[id]/CupRoundsView.test.tsx
  apps/web/app/cups/[id]/CupRoundsView.tsx
  apps/web/app/cups/[id]/page.tsx
  apps/web/app/cups/[id]/round-pools.test.ts
  apps/web/app/cups/[id]/round-pools.ts
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/leagues/[id]/SeasonCalendar.tsx
  apps/web/app/leagues/[id]/pool-order.ts
  apps/web/app/lib/competition-pools.test.ts
  apps/web/app/lib/competition-pools.ts
  docs/cup-pools-and-playoffs.md
  docs/roadmap/backlog/openspec-suites.md
  openspec/changes/cup-calendar-by-pool/design.md
  openspec/changes/cup-calendar-by-pool/proposal.md
  openspec/changes/cup-calendar-by-pool/specs/cup-pools/spec.md
  openspec/changes/cup-calendar-by-pool/tasks.md
  tests/e2e-api/specs/cup-pools-and-playoffs.spec.ts
Labels: web, server

chore(openspec): sync et archive du change « calendrier groupé par poule »
  docs/roadmap/backlog/openspec-suites.md
  openspec/changes/archive/2026-09-10-cup-calendar-by-pool/design.md
  openspec/changes/archive/2026-09-10-cup-calendar-by-pool/proposal.md
  openspec/changes/archive/2026-09-10-cup-calendar-by-pool/specs/cup-pools/spec.md
  openspec/changes/archive/2026-09-10-cup-calendar-by-pool/tasks.md
  openspec/specs/cup-pools/spec.md
Labels: none

chore(openspec): sync et archive du change « calendrier groupé par poule » (#1020)
  docs/roadmap/backlog/openspec-suites.md
  openspec/changes/archive/2026-09-10-cup-calendar-by-pool/design.md
  openspec/changes/archive/2026-09-10-cup-calendar-by-pool/proposal.md
  openspec/changes/archive/2026-09-10-cup-calendar-by-pool/specs/cup-pools/spec.md
  openspec/changes/archive/2026-09-10-cup-calendar-by-pool/tasks.md
  openspec/specs/cup-pools/spec.md
Labels: none

fix(cups): le bandeau des rondes suit le système d'appariement choisi
  apps/web/app/cups/[id]/CupRoundsView.test.tsx
  apps/web/app/cups/[id]/CupRoundsView.tsx
  apps/web/app/cups/[id]/round-system-copy.test.ts
  apps/web/app/cups/[id]/round-system-copy.ts
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
Labels: web

fix(cups): la feuille de match est le seul chemin, plus de partie offline
  apps/web/app/cups/[id]/CupPlayoffBracketView.test.tsx
  apps/web/app/cups/[id]/CupPlayoffBracketView.tsx
  apps/web/app/cups/[id]/CupRoundsView.test.tsx
  apps/web/app/cups/[id]/CupRoundsView.tsx
  apps/web/app/cups/[id]/page.tsx
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
Labels: web

feat(feature-flags): la partie offline passe derrière `offline_match`, OFF
  apps/server/src/index.ts
  apps/server/src/seed.ts
  apps/server/src/services/featureFlags.ts
  apps/server/src/services/offline-match-gate.test.ts
  apps/web/app/components/Header.offline-matches.test.tsx
  apps/web/app/components/Header.tsx
  apps/web/app/components/OfflineMatchGate.test.tsx
  apps/web/app/components/OfflineMatchGate.tsx
  apps/web/app/components/home/CoachDashboard.tsx
  apps/web/app/components/home/MarketingHome.tsx
  apps/web/app/lib/featureFlagKeys.ts
  apps/web/app/local-matches/layout.tsx
Labels: web, server

docs(openspec): change « disable-offline-matches » + règle « un seul chemin de saisie »
  CLAUDE.md
  openspec/changes/disable-offline-matches/design.md
  openspec/changes/disable-offline-matches/proposal.md
  openspec/changes/disable-offline-matches/specs/cup-match-sheet/spec.md
  openspec/changes/disable-offline-matches/specs/cup-round-systems/spec.md
  openspec/changes/disable-offline-matches/specs/offline-matches/spec.md
  openspec/changes/disable-offline-matches/tasks.md
Labels: none

chore(changeset): vague « partie offline désactivée + bandeau des rondes »
  .changeset/desactivation-partie-offline-et-bandeau-rondes.md
  apps/server/prisma/sqlite/memdb1
  apps/web/public/version.json
Labels: web, server

docs(audit): parité feuille de match ↔ moteur de match en direct
  docs/parite-feuille-de-match-vs-moteur-2026-09-11.md
Labels: none

La feuille de match, seul chemin de saisie : partie offline désactivée et bandeau des rondes réactif (#1021)
  .changeset/desactivation-partie-offline-et-bandeau-rondes.md
  CLAUDE.md
  apps/server/prisma/sqlite/memdb1
  apps/server/src/index.ts
  apps/server/src/seed.ts
  apps/server/src/services/featureFlags.ts
  apps/server/src/services/offline-match-gate.test.ts
  apps/web/app/components/Header.offline-matches.test.tsx
  apps/web/app/components/Header.tsx
  apps/web/app/components/OfflineMatchGate.test.tsx
  apps/web/app/components/OfflineMatchGate.tsx
  apps/web/app/components/home/CoachDashboard.tsx
  apps/web/app/components/home/MarketingHome.tsx
  apps/web/app/cups/[id]/CupPlayoffBracketView.test.tsx
  apps/web/app/cups/[id]/CupPlayoffBracketView.tsx
  apps/web/app/cups/[id]/CupRoundsView.test.tsx
  apps/web/app/cups/[id]/CupRoundsView.tsx
  apps/web/app/cups/[id]/page.tsx
  apps/web/app/cups/[id]/round-system-copy.test.ts
  apps/web/app/cups/[id]/round-system-copy.ts
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/lib/featureFlagKeys.ts
  apps/web/app/local-matches/layout.tsx
  apps/web/public/version.json
  openspec/changes/disable-offline-matches/design.md
  openspec/changes/disable-offline-matches/proposal.md
  openspec/changes/disable-offline-matches/specs/cup-match-sheet/spec.md
  openspec/changes/disable-offline-matches/specs/cup-round-systems/spec.md
  openspec/changes/disable-offline-matches/specs/offline-matches/spec.md
  openspec/changes/disable-offline-matches/tasks.md
Labels: web, server

chore(openspec): sync et archive du change « disable-offline-matches »
  docs/roadmap/backlog/openspec-suites.md
  openspec/changes/archive/2026-09-11-disable-offline-matches/design.md
  openspec/changes/archive/2026-09-11-disable-offline-matches/proposal.md
  openspec/changes/archive/2026-09-11-disable-offline-matches/specs/cup-match-sheet/spec.md
  openspec/changes/archive/2026-09-11-disable-offline-matches/specs/cup-round-systems/spec.md
  openspec/changes/archive/2026-09-11-disable-offline-matches/specs/offline-matches/spec.md
  openspec/changes/archive/2026-09-11-disable-offline-matches/tasks.md
  openspec/specs/cup-match-sheet/spec.md
  openspec/specs/cup-round-systems/spec.md
  openspec/specs/offline-matches/spec.md
Labels: none

chore(openspec): sync et archive du change « disable-offline-matches » (#1022)
  docs/roadmap/backlog/openspec-suites.md
  openspec/changes/archive/2026-09-11-disable-offline-matches/design.md
  openspec/changes/archive/2026-09-11-disable-offline-matches/proposal.md
  openspec/changes/archive/2026-09-11-disable-offline-matches/specs/cup-match-sheet/spec.md
  openspec/changes/archive/2026-09-11-disable-offline-matches/specs/cup-round-systems/spec.md
  openspec/changes/archive/2026-09-11-disable-offline-matches/specs/offline-matches/spec.md
  openspec/changes/archive/2026-09-11-disable-offline-matches/tasks.md
  openspec/specs/cup-match-sheet/spec.md
  openspec/specs/cup-round-systems/spec.md
  openspec/specs/offline-matches/spec.md
Labels: none

feat(league): helper unique de visibilité d'une ligue privée
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/services/league-access.test.ts
  apps/server/src/services/league-access.ts
  prisma/schema.prisma
Labels: server

fix(league): calendrier thématique et documents officiels suivent la visibilité
  apps/server/src/routes/competition-documents.test.ts
  apps/server/src/services/competition-documents.test.ts
  apps/server/src/services/competition-documents.ts
  apps/server/src/services/league.test.ts
  apps/server/src/services/league.ts
  docs/competition-documents.md
  openspec/changes/add-competition-official-documents/specs/competition-documents/spec.md
Labels: server

fix(league): les lectures par id d'une ligue privée répondent 404 aux tiers
  apps/server/src/routes/league-access.test.ts
  apps/server/src/routes/league-leaderboards-by-team.test.ts
  apps/server/src/routes/league-playoff-routes.test.ts
  apps/server/src/routes/league-roster-view.test.ts
  apps/server/src/routes/league-team-leaderboards.test.ts
  apps/server/src/routes/league.test.ts
  apps/server/src/routes/league.ts
Labels: server

docs(openspec): change « private-league-visibility » + mémoire CLAUDE.md
  CLAUDE.md
  openspec/changes/private-league-visibility/design.md
  openspec/changes/private-league-visibility/proposal.md
  openspec/changes/private-league-visibility/specs/league-visibility/spec.md
  openspec/changes/private-league-visibility/tasks.md
Labels: none

feat(web): indice sous le choix Publique / Privée du formulaire de ligue
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/leagues/_components/LeagueForm.test.tsx
  apps/web/app/leagues/_components/LeagueForm.tsx
Labels: web

chore(changeset): ligue privée invisible
  .changeset/ligue-privee-invisible.md
Labels: none

fix(league): une ligue privée est invisible (404) pour qui n'en fait pas partie (#1023)
  .changeset/ligue-privee-invisible.md
  CLAUDE.md
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/routes/competition-documents.test.ts
  apps/server/src/routes/league-access.test.ts
  apps/server/src/routes/league-leaderboards-by-team.test.ts
  apps/server/src/routes/league-playoff-routes.test.ts
  apps/server/src/routes/league-roster-view.test.ts
  apps/server/src/routes/league-team-leaderboards.test.ts
  apps/server/src/routes/league.test.ts
  apps/server/src/routes/league.ts
  apps/server/src/services/competition-documents.test.ts
  apps/server/src/services/competition-documents.ts
  apps/server/src/services/league-access.test.ts
  apps/server/src/services/league-access.ts
  apps/server/src/services/league.test.ts
  apps/server/src/services/league.ts
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/leagues/_components/LeagueForm.test.tsx
  apps/web/app/leagues/_components/LeagueForm.tsx
  docs/competition-documents.md
  openspec/changes/add-competition-official-documents/specs/competition-documents/spec.md
  openspec/changes/private-league-visibility/design.md
  openspec/changes/private-league-visibility/proposal.md
  openspec/changes/private-league-visibility/specs/league-visibility/spec.md
  openspec/changes/private-league-visibility/tasks.md
  prisma/schema.prisma
Labels: web, server

chore(release): 1.241.3 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  25c31d6943403f235aa7ae35f5332d09772b9b9c
Labels: none

fix(league-sheet): une sortie est une élimination qui rapporte des PSP
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-summary.test.ts
  apps/server/src/services/league-match-summary.ts
Labels: server

feat(league-sheet): la Prière « Frénésie d'Agression » qualifie l'agression en sortie
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-sheet-prayer-spp.test.ts
  apps/server/src/services/league-sheet-prayer-spp.ts
Labels: server

fix(league-stats): les cogneurs de saison ne comptent que les sorties qui rapportent des PSP
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-player-stats.test.ts
  apps/server/src/services/league-player-stats.ts
  apps/server/src/services/league-sheet-frozen-skills.test.ts
  apps/server/src/services/league-sheet-frozen-skills.ts
  apps/server/src/services/league-sheet-summary-options.test.ts
  apps/server/src/services/league-sheet-summary-options.ts
Labels: server

feat(league-sheet): resynchroniser les sorties des feuilles déjà validées
  apps/server/package.json
  apps/server/src/scripts/resync-sheet-casualties.test.ts
  apps/server/src/scripts/resync-sheet-casualties.ts
  apps/server/src/services/league-sheet-casualty-resync.test.ts
  apps/server/src/services/league-sheet-casualty-resync.ts
Labels: server

feat(web): rappeler sous le sélecteur qu'une agression n'est pas une sortie
  apps/web/app/leagues/pairings/[id]/sheet/event-fields.test.ts
  apps/web/app/leagues/pairings/[id]/sheet/event-fields.ts
Labels: web

docs(openspec): change « casualties-are-spp-eliminations » et mémoire
  CLAUDE.md
  docs/roadmap/backlog/openspec-suites.md
  docs/roadmap/sessions/2026-09-11-casualties-are-spp-eliminations.md
  openspec/changes/casualties-are-spp-eliminations/design.md
  openspec/changes/casualties-are-spp-eliminations/proposal.md
  openspec/changes/casualties-are-spp-eliminations/specs/league-match-sheet/spec.md
  openspec/changes/casualties-are-spp-eliminations/specs/league-standings/spec.md
  openspec/changes/casualties-are-spp-eliminations/tasks.md
Labels: none

chore(changeset): sorties = éliminations qui rapportent des PSP
  .changeset/sorties-eliminations-qui-rapportent-des-psp.md
Labels: none

feat(fdm): colonnes raisedDeadHome/Away sur LeagueMatchSheet
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  prisma/schema.prisma
Labels: server

fix(engine): Maîtres de la Non-vie — le Trait exclu est Minus (Stunty), pas Microbe
  packages/game-engine/src/rosters/team-special-rules.ts
Labels: game-engine

feat(fdm): Relever le Mort — dérivation, choix, PSP, évolution et recrutement gratuit
  apps/server/src/routes/league.ts
  apps/server/src/services/league-match-sheet-raised-dead.test.ts
  apps/server/src/services/league-match-sheet.ts
Labels: server
