Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

docs: notifications internes, cycle de vie des compétitions, changeset
  .changeset/notifications-internes-cycle-de-vie-competitions.md
  CLAUDE.md
  docs/notifications-in-app.md
  openspec/changes/notifications-and-competition-lifecycle/tasks.md
Labels: none

fix: ne plus publier le port 5433 de PostgreSQL sur l'hôte
  docker-compose.prod.yml
Labels: none

chore(release): 1.241.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  5f5464b784c498c010fbca75746b1a15fff8fb5f
Labels: none

fix(league): la clôture d'une saison est un acte du commissaire
  apps/server/src/services/league-forfeit.test.ts
  apps/server/src/services/league-forfeit.ts
  apps/server/src/services/league-match-result.test.ts
  apps/server/src/services/league-match-result.ts
  apps/server/src/services/league-offline-edit.test.ts
  apps/server/src/services/league-offline-edit.ts
  apps/server/src/services/league-offline-result.test.ts
  apps/server/src/services/league-scheduler.test.ts
  apps/server/src/services/league-scheduler.ts
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/leagues/[id]/SeasonAdminPanel.test.tsx
  apps/web/app/leagues/[id]/SeasonAdminPanel.tsx
  apps/web/app/leagues/[id]/page.tsx
  tests/e2e-api/specs/leagues-mvp-flow.spec.ts
  tests/e2e-api/specs/leagues-season-manual-close.spec.ts
Labels: web, server

feat(league): date prévisionnelle d'une rencontre par les coachs ou le commissaire
  apps/server/src/routes/league-pairing-schedule.test.ts
  apps/server/src/routes/league.ts
  apps/server/src/schemas/league-pairing-schedule.schemas.ts
  apps/server/src/services/in-app-notifications.ts
  apps/server/src/services/league-pairing-schedule.test.ts
  apps/server/src/services/league-pairing-schedule.ts
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/leagues/[id]/PairingScheduleEditor.test.tsx
  apps/web/app/leagues/[id]/PairingScheduleEditor.tsx
  apps/web/app/leagues/[id]/SeasonCalendar.planned.test.tsx
  apps/web/app/leagues/[id]/SeasonCalendar.tsx
  apps/web/app/leagues/[id]/page.tsx
  apps/web/app/leagues/[id]/pairing-status.test.ts
  apps/web/app/leagues/[id]/pairing-status.ts
  tests/e2e-api/specs/leagues-pairing-schedule.spec.ts
Labels: web, server

feat(league): la poule du coach connecté s'affiche en premier
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/leagues/[id]/SeasonCalendar.pools.test.ts
  apps/web/app/leagues/[id]/SeasonCalendar.tsx
  apps/web/app/leagues/[id]/page.test.tsx
  apps/web/app/leagues/[id]/page.tsx
  apps/web/app/leagues/[id]/pool-order.test.ts
  apps/web/app/leagues/[id]/pool-order.ts
Labels: web

feat(league): nouvelle présentation des journées (cartes de rencontre)
  apps/web/app/components/competition/MatchCard.test.tsx
  apps/web/app/components/competition/MatchCard.tsx
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/leagues/[id]/SeasonCalendar.coach.test.tsx
  apps/web/app/leagues/[id]/SeasonCalendar.layout.test.tsx
  apps/web/app/leagues/[id]/SeasonCalendar.tsx
Labels: web

feat(cup): appariement en ronde suisse
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/cupScoring.byes.test.ts
  apps/server/src/cupScoring.ts
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/cup-rounds.test.ts
  apps/server/src/routes/cup-rounds.ts
  apps/server/src/routes/cup.ts
  apps/server/src/routes/local-match.ts
  apps/server/src/schemas/local-match.schemas.ts
  apps/server/src/services/cup-rounds.test.ts
  apps/server/src/services/cup-rounds.ts
  apps/server/src/services/in-app-notifications.ts
  apps/server/src/services/swiss-pairing.test.ts
  apps/server/src/services/swiss-pairing.ts
  apps/web/app/components/competition/ScheduleEditor.tsx
  apps/web/app/cups/[id]/CupRoundsView.test.tsx
  apps/web/app/cups/[id]/CupRoundsView.tsx
  apps/web/app/cups/[id]/page.tsx
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/leagues/[id]/PairingScheduleEditor.tsx
  prisma/schema.prisma
  tests/e2e-api/specs/cup-swiss-rounds.spec.ts
Labels: web, server

docs(openspec): change swiss-cups-and-matchday-calendar
  CLAUDE.md
  docs/cup-swiss-rounds.md
  openspec/changes/swiss-cups-and-matchday-calendar/design.md
  openspec/changes/swiss-cups-and-matchday-calendar/proposal.md
  openspec/changes/swiss-cups-and-matchday-calendar/specs/cup-swiss-rounds/spec.md
  openspec/changes/swiss-cups-and-matchday-calendar/specs/league-matchday-calendar/spec.md
  openspec/changes/swiss-cups-and-matchday-calendar/specs/league-pairing-schedule/spec.md
  openspec/changes/swiss-cups-and-matchday-calendar/specs/league-season-closure/spec.md
  openspec/changes/swiss-cups-and-matchday-calendar/tasks.md
Labels: none

chore(release): 1.241.2 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  75fec127f2fc4ea4935a146345cd58b8aa83cabd
Labels: none

fix(sheet): traduire « Petty cash » en « Petite Monnaie »
  apps/web/app/i18n/locales/fr.json
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
Labels: web

feat(web): couleur dédiée aux compétences scélérates
  apps/web/app/admin/data/_components/SkillMultiSelect.tsx
  apps/web/app/components/SkillTooltip.tsx
  apps/web/app/lib/skill-category-colors.test.ts
  apps/web/app/lib/skill-category-colors.ts
  apps/web/app/me/teams/components/SkillTooltip.tsx
Labels: web

fix(sheet): une feuille passée n'est plus modifiée par une compétence acquise après
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-sheet-frozen-skills.test.ts
  apps/server/src/services/league-sheet-frozen-skills.ts
Labels: server

feat(sheet): « Vol Fatal » — PSP d'Élimination sur atterrissage de coéquipier
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-match-summary.test.ts
  apps/server/src/services/league-match-summary.ts
  apps/web/app/leagues/pairings/[id]/sheet/event-fields.test.ts
  apps/web/app/leagues/pairings/[id]/sheet/event-fields.ts
Labels: web, server

feat(leagues): système de points au-dessus du classement, avec les points bonus
  apps/web/app/leagues/[id]/ScoringSystemPanel.test.tsx
  apps/web/app/leagues/[id]/ScoringSystemPanel.tsx
  apps/web/app/leagues/[id]/page.tsx
  apps/web/app/leagues/_components/BonusRulesEditor.tsx
  apps/web/app/leagues/_components/bonus-rule-labels.ts
Labels: web

feat(leagues): zone « Vos prochains matchs »
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/leagues/[id]/NextMatchesPanel.test.tsx
  apps/web/app/leagues/[id]/NextMatchesPanel.tsx
  apps/web/app/leagues/[id]/next-matches.test.ts
  apps/web/app/leagues/[id]/next-matches.ts
  apps/web/app/leagues/[id]/page.tsx
Labels: web

feat(leagues): plier/déplier le calendrier et les classements
  apps/web/app/components/CollapseToggle.tsx
  apps/web/app/components/CollapsibleSection.test.tsx
  apps/web/app/components/CollapsibleSection.tsx
  apps/web/app/leagues/[id]/SeasonCalendar.collapse.test.tsx
  apps/web/app/leagues/[id]/SeasonCalendar.tsx
  apps/web/app/leagues/[id]/page.test.tsx
  apps/web/app/leagues/[id]/page.tsx
Labels: web

docs(claude): consignes permanentes des vagues de corrections
  CLAUDE.md
  apps/server/prisma/sqlite/memdb1
  apps/web/public/version.json
Labels: web, server

chore(changeset): vague corrections ligue et feuille de match
  .changeset/vague-corrections-ligue-feuille-de-match.md
Labels: none

Ligue : pliage, prochains matchs, barème complet — et trois corrections de feuille de match (#1014)
  .changeset/vague-corrections-ligue-feuille-de-match.md
  CLAUDE.md
  apps/server/prisma/sqlite/memdb1
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-match-summary.test.ts
  apps/server/src/services/league-match-summary.ts
  apps/server/src/services/league-sheet-frozen-skills.test.ts
  apps/server/src/services/league-sheet-frozen-skills.ts
  apps/web/app/admin/data/_components/SkillMultiSelect.tsx
  apps/web/app/components/CollapseToggle.tsx
  apps/web/app/components/CollapsibleSection.test.tsx
  apps/web/app/components/CollapsibleSection.tsx
  apps/web/app/components/SkillTooltip.tsx
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/leagues/[id]/NextMatchesPanel.test.tsx
  apps/web/app/leagues/[id]/NextMatchesPanel.tsx
  apps/web/app/leagues/[id]/ScoringSystemPanel.test.tsx
  apps/web/app/leagues/[id]/ScoringSystemPanel.tsx
  apps/web/app/leagues/[id]/SeasonCalendar.collapse.test.tsx
  apps/web/app/leagues/[id]/SeasonCalendar.tsx
  apps/web/app/leagues/[id]/next-matches.test.ts
  apps/web/app/leagues/[id]/next-matches.ts
  apps/web/app/leagues/[id]/page.test.tsx
  apps/web/app/leagues/[id]/page.tsx
  apps/web/app/leagues/_components/BonusRulesEditor.tsx
  apps/web/app/leagues/_components/bonus-rule-labels.ts
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  apps/web/app/leagues/pairings/[id]/sheet/event-fields.test.ts
  apps/web/app/leagues/pairings/[id]/sheet/event-fields.ts
  apps/web/app/lib/skill-category-colors.test.ts
  apps/web/app/lib/skill-category-colors.ts
  apps/web/app/me/teams/components/SkillTooltip.tsx
  apps/web/public/version.json
Labels: web, server

fix(teams): le règlement de tournoi d'une coupe pilote le build
  apps/server/src/services/cup-invitation.ts
  apps/web/app/cups/[id]/page.tsx
  apps/web/app/cups/build-for-cup-href.test.ts
  apps/web/app/cups/build-for-cup-href.ts
  apps/web/app/cups/invitations/[code]/page.tsx
  apps/web/app/me/teams/new/build-budget.test.ts
  apps/web/app/me/teams/new/build-budget.ts
  apps/web/app/me/teams/new/page.cup-tournament-ruleset.test.tsx
  apps/web/app/me/teams/new/page.tsx
Labels: web, server

feat(skills): code couleur officiel des catégories de compétences
  apps/web/app/components/AdvancementEditor.tsx
  apps/web/app/lib/skill-category-colors.test.ts
  apps/web/app/lib/skill-category-colors.ts
  apps/web/app/me/teams/components/SkillAccessBadges.test.tsx
  apps/web/app/me/teams/components/SkillAccessBadges.tsx
  apps/web/app/me/teams/new/SkillPickerSheet.tsx
  apps/web/app/skills/SkillsClient.tsx
Labels: web

fix(leagues): les ligues archivées quittent la liste de base
  apps/server/src/services/league.test.ts
  apps/server/src/services/league.ts
  apps/web/app/leagues/page.test.tsx
  apps/web/app/leagues/page.tsx
  tests/e2e-api/specs/competition-lifecycle.spec.ts
Labels: web, server

feat(leagues): bouton de relance d'une journée
  apps/server/src/routes/league.ts
  apps/server/src/services/in-app-notifications.ts
  apps/server/src/services/league-round-followup-notify.test.ts
  apps/server/src/services/league-round-followup-notify.ts
  apps/server/src/services/league-round-followup.test.ts
  apps/server/src/services/league-round-followup.ts
  apps/web/app/leagues/[id]/RoundFollowupButton.test.tsx
  apps/web/app/leagues/[id]/RoundFollowupButton.tsx
  apps/web/app/leagues/[id]/SeasonCalendar.followup.test.tsx
  apps/web/app/leagues/[id]/SeasonCalendar.tsx
  apps/web/app/leagues/[id]/page.tsx
  apps/web/app/me/notifications/format.ts
  tests/e2e-api/specs/leagues-round-followup.spec.ts
Labels: web, server

docs(openspec): change de la vague coupe / couleurs / archives / relance
  openspec/changes/cup-build-skill-colors-archives-followup/design.md
  openspec/changes/cup-build-skill-colors-archives-followup/proposal.md
  openspec/changes/cup-build-skill-colors-archives-followup/specs/league-archives-visibility/spec.md
  openspec/changes/cup-build-skill-colors-archives-followup/specs/league-round-followup/spec.md
  openspec/changes/cup-build-skill-colors-archives-followup/specs/skill-category-colors/spec.md
  openspec/changes/cup-build-skill-colors-archives-followup/specs/team-build-tournament-ruleset/spec.md
  openspec/changes/cup-build-skill-colors-archives-followup/tasks.md
Labels: none

docs(openspec): sync + archive de la vague coupe / couleurs / archives / relance
  CLAUDE.md
  docs/roadmap/backlog/openspec-suites.md
  openspec/changes/archive/2026-09-09-cup-build-skill-colors-archives-followup/design.md
  openspec/changes/archive/2026-09-09-cup-build-skill-colors-archives-followup/proposal.md
  openspec/changes/archive/2026-09-09-cup-build-skill-colors-archives-followup/specs/league-archives-visibility/spec.md
  openspec/changes/archive/2026-09-09-cup-build-skill-colors-archives-followup/specs/league-round-followup/spec.md
  openspec/changes/archive/2026-09-09-cup-build-skill-colors-archives-followup/specs/skill-category-colors/spec.md
  openspec/changes/archive/2026-09-09-cup-build-skill-colors-archives-followup/specs/team-build-tournament-ruleset/spec.md
  openspec/changes/archive/2026-09-09-cup-build-skill-colors-archives-followup/tasks.md
  openspec/specs/league-archives-visibility/spec.md
  openspec/specs/league-round-followup/spec.md
  openspec/specs/skill-category-colors/spec.md
  openspec/specs/team-build-tournament-ruleset/spec.md
Labels: none

feat(db): critères de classement de coupe et feuille de match polymorphe
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  prisma/schema.prisma
Labels: server

fix(cups): une coupe à règlement n'est jamais « inscriptible telle quelle »
  apps/server/src/routes/cup-adjusted.test.ts
  apps/server/src/routes/cup.ts
Labels: server

feat(cups): critères de classement configurables et édition d'une coupe
  apps/server/src/cupScoring.tiebreak.test.ts
  apps/server/src/cupScoring.ts
  apps/server/src/routes/cup.ts
  apps/server/src/schemas/cup.schemas.test.ts
  apps/server/src/schemas/cup.schemas.ts
  apps/server/src/services/cup-standings-order.test.ts
  apps/server/src/services/cup-standings-order.ts
Labels: server

feat(cups): feuille de match de coupe, identique à celle des ligues
  apps/server/src/index.ts
  apps/server/src/routes/cup-match-sheet.ts
  apps/server/src/services/competition-match-sheet-context.test.ts
  apps/server/src/services/competition-match-sheet-context.ts
  apps/server/src/services/cup-match-sheet.test.ts
  apps/server/src/services/cup-match-sheet.ts
  apps/server/src/services/cup-roster-snapshot.ts
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
Labels: server

feat(cups): générer une ronde au sort, en suisse ou à la main
  apps/server/src/routes/cup-rounds.test.ts
  apps/server/src/routes/cup-rounds.ts
  apps/server/src/schemas/cup-round.schemas.ts
  apps/server/src/services/cup-manual-round.test.ts
  apps/server/src/services/cup-round-systems.ts
  apps/server/src/services/cup-rounds.ts
  apps/server/src/services/random-pairing.test.ts
  apps/server/src/services/random-pairing.ts
Labels: server

feat(web): la coupe se gère comme la ligue — feuille, rondes, classement, édition
  apps/web/app/cups/[id]/CupRoundsView.test.tsx
  apps/web/app/cups/[id]/CupRoundsView.tsx
  apps/web/app/cups/[id]/edit/page.test.tsx
  apps/web/app/cups/[id]/edit/page.tsx
  apps/web/app/cups/[id]/edit/tie-break-editor.test.ts
  apps/web/app/cups/[id]/edit/tie-break-editor.ts
  apps/web/app/cups/[id]/manual-round.test.ts
  apps/web/app/cups/[id]/manual-round.ts
  apps/web/app/cups/[id]/page.tsx
  apps/web/app/cups/[id]/tie-break-labels.ts
  apps/web/app/cups/pairings/[id]/sheet/page.tsx
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/leagues/pairings/[id]/sheet/page.cup.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
  apps/web/app/lib/competition-links.test.ts
  apps/web/app/lib/competition-links.ts
Labels: web

fix(teams): construire depuis une coupe ne retombe plus en silence sur 1000 kpo
  apps/web/app/cups/[id]/page.tsx
  apps/web/app/me/teams/new/page.pack-unresolved.test.tsx
  apps/web/app/me/teams/new/page.tsx
Labels: web

test(cups): parcours complet de la feuille de coupe et des trois appariements
  apps/server/src/index.ts
  tests/e2e-api/specs/cup-match-sheet-flow.spec.ts
  tests/e2e-api/specs/cup-swiss-rounds.spec.ts
Labels: server

docs(cups): feuille de match de coupe, systèmes d'appariement, change OpenSpec
  CLAUDE.md
  apps/server/prisma/sqlite/memdb1
  docs/cup-match-sheet.md
  docs/cup-swiss-rounds.md
  docs/roadmap/sessions/2026-09-10-cups-managed-like-leagues.md
  openspec/changes/cups-managed-like-leagues/design.md
  openspec/changes/cups-managed-like-leagues/proposal.md
  openspec/changes/cups-managed-like-leagues/specs/cup-match-sheet/spec.md
  openspec/changes/cups-managed-like-leagues/specs/cup-round-systems/spec.md
  openspec/changes/cups-managed-like-leagues/specs/cup-standings-criteria/spec.md
  openspec/changes/cups-managed-like-leagues/tasks.md
Labels: server

chore(openspec): sync et archive du change « coupes gérées comme les ligues »
  docs/roadmap/backlog/openspec-suites.md
  openspec/changes/archive/2026-09-10-cups-managed-like-leagues/design.md
  openspec/changes/archive/2026-09-10-cups-managed-like-leagues/proposal.md
  openspec/changes/archive/2026-09-10-cups-managed-like-leagues/specs/cup-match-sheet/spec.md
  openspec/changes/archive/2026-09-10-cups-managed-like-leagues/specs/cup-round-systems/spec.md
  openspec/changes/archive/2026-09-10-cups-managed-like-leagues/specs/cup-standings-criteria/spec.md
  openspec/changes/archive/2026-09-10-cups-managed-like-leagues/tasks.md
  openspec/specs/cup-match-sheet/spec.md
  openspec/specs/cup-round-systems/spec.md
  openspec/specs/cup-standings-criteria/spec.md
Labels: none

fix(web): rend `typecheck` vert et le fait gater la CI
  .github/workflows/ci.yml
  apps/web/app/cups/[id]/CupRoundsView.tsx
  apps/web/app/cups/[id]/CupStandings.tsx
  apps/web/app/cups/[id]/page.tsx
  apps/web/app/leagues/[id]/NextMatchesPanel.tsx
  apps/web/app/leagues/[id]/SeasonCalendar.tsx
  apps/web/app/leagues/[id]/pending-validations/page.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
  apps/web/app/lib/typed-route.ts
  apps/web/app/me/notifications/page.tsx
  apps/web/app/teams/CatalogToolsBar.tsx
Labels: web

feat(db): poules et bracket de play-off pour les coupes
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  prisma/schema.prisma
Labels: server

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
