Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"

chore(release): 1.215.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  a7ab0cd00bcee64726ce79f59a03fa9120013fca
Labels: none

fix(teams): RosterBadge sur carrière, sélecteur de match, mes équipes et dashboard
  apps/web/app/components/home/CoachDashboard.test.tsx
  apps/web/app/components/home/CoachDashboard.tsx
  apps/web/app/me/teams/[id]/career/page.tsx
  apps/web/app/me/teams/[id]/edit/page.tsx
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/me/teams/page.tsx
  apps/web/app/team/select/page.tsx
Labels: web

fix(cups): plus de slug de roster brut dans l'UI coupe
  apps/web/app/cups/[id]/page.tsx
  apps/web/app/cups/archived/page.tsx
  apps/web/app/cups/invitations/[code]/page.tsx
  apps/web/app/cups/page.tsx
Labels: web

fix(leagues): plus de slug de roster brut dans l'UI ligue
  apps/web/app/leagues/[id]/JoinSeasonModal.tsx
  apps/web/app/leagues/[id]/SeasonParticipants.tsx
  apps/web/app/leagues/[id]/SeasonStandings.tsx
  apps/web/app/leagues/[id]/page.tsx
  apps/web/app/leagues/[id]/seasons/[sid]/recap/page.tsx
  apps/web/app/leagues/invitations/[code]/page.tsx
Labels: web

feat(rosters): noms FR des rosters + composant RosterBadge coloré
  apps/web/app/components/RosterBadge.test.tsx
  apps/web/app/components/RosterBadge.tsx
  packages/game-engine/src/rosters/index.ts
  packages/game-engine/src/rosters/roster-names.test.ts
  packages/game-engine/src/rosters/roster-names.ts
Labels: game-engine, web

feat(web): refonte visuelle de la page classements de saison
  apps/web/app/leagues/[id]/seasons/[sid]/leaderboards/page.test.tsx
  apps/web/app/leagues/[id]/seasons/[sid]/leaderboards/page.tsx
Labels: web

fix(prayers): table des Prières à Nuffle alignée sur le livre S2025
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  packages/game-engine/src/mechanics/prayers-to-nuffle.test.ts
  packages/game-engine/src/mechanics/prayers-to-nuffle.ts
Labels: game-engine, web

chore(release): 1.216.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  e58d4d5d7308d26e841f45c003a8438341f08d5c
Labels: none

feat(league): saisie du toss sur la feuille de match (vainqueur + choix du coup d'envoi)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/schemas/league-match-sheet.schemas.test.ts
  apps/server/src/schemas/league-match-sheet.schemas.ts
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
  prisma/migrations/20260710110000_add_league_sheet_toss/migration.sql
  prisma/schema.prisma
Labels: web, server

feat(league): évolutions saisies dans la feuille de match — module serveur (staging/application/reversal)
  apps/server/src/services/league-sheet-advancements.test.ts
  apps/server/src/services/league-sheet-advancements.ts
  prisma/migrations/20260710100000_add_league_sheet_staged_advancements/migration.sql
Labels: server

feat(web): saisie des évolutions dans l'onglet Évolutions de la feuille de match
  apps/web/app/components/AdvancementEditor.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/SheetAdvancementsEditor.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/SheetAdvancementsEditor.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
  packages/game-engine/src/rosters/index.ts
Labels: game-engine, web

chore(release): 1.217.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  08b1574dc89f18d31cf898734576fec23c281f4b
Labels: none

fix(league): pending-advancements sert l'état live du joueur, pas le snapshot
  apps/server/src/routes/team-advancement.test.ts
  apps/server/src/routes/team-advancement.ts
Labels: server

chore(release): 1.217.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  49bbab618a87b02114881d95a23984d3516ded20
Labels: none

feat(league): nom et catégorie des compétences dans le récap des évolutions
  apps/web/app/components/AdvancementEditor.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/SheetAdvancementsEditor.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/SheetAdvancementsEditor.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
Labels: web

feat(league): nom et catégorie des compétences dans le récap des évolutions (#932)
  apps/web/app/components/AdvancementEditor.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/SheetAdvancementsEditor.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/SheetAdvancementsEditor.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
Labels: web

feat(league): affiche le nom du poste dans l'edition commissaire
  apps/server/src/services/commissioner-team-edit.test.ts
  apps/server/src/services/commissioner-team-edit.ts
  apps/web/app/leagues/[id]/CommissionerTeamEditor.tsx
Labels: web, server

chore: changeset pour l'affichage du nom des postes
  .changeset/roster-position-display-names.md
Labels: none

feat(league): affiche le nom du poste dans l'édition commissaire (#933)
  .changeset/roster-position-display-names.md
  apps/server/src/services/commissioner-team-edit.test.ts
  apps/server/src/services/commissioner-team-edit.ts
  apps/web/app/leagues/[id]/CommissionerTeamEditor.tsx
Labels: web, server

fix(league): les Séquelles réduisent réellement la caractéristique du joueur (A68)
  apps/server/src/services/league-offline-edit.test.ts
  apps/server/src/services/league-offline-edit.ts
  apps/server/src/services/league-offline-result.test.ts
  apps/server/src/services/league-offline-result.ts
  apps/server/src/services/permanent-injuries.test.ts
  apps/server/src/services/permanent-injuries.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/utils/advancements.test.ts
  packages/game-engine/src/utils/advancements.ts
  prisma/migrations/20260722100000_apply_lasting_injury_stat_reductions/migration.sql
Labels: game-engine, server

chore(release): 1.218.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  b3512c162d1b3c85be9d463ec0dca76248196d53
Labels: none

feat(team): règle spéciale Capitaine (désignation, Pro offerte, effets en match)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/local-match.ts
  apps/server/src/routes/match-state-handler.ts
  apps/server/src/routes/team-captain-handlers.ts
  apps/server/src/routes/team.ts
  apps/server/src/schemas/team.schemas.ts
  apps/server/src/services/league-offline-result.test.ts
  apps/server/src/services/league-offline-result.ts
  apps/server/src/services/match-start.ts
  apps/server/src/services/team-captain.test.ts
  apps/server/src/services/team-captain.ts
  apps/web/app/me/teams/[id]/CaptainPanel.test.tsx
  apps/web/app/me/teams/[id]/CaptainPanel.tsx
  apps/web/app/me/teams/[id]/page.tsx
  openspec/changes/add-team-captain-rule/design.md
  openspec/changes/add-team-captain-rule/proposal.md
  openspec/changes/add-team-captain-rule/specs/team-captain/spec.md
  openspec/changes/add-team-captain-rule/tasks.md
  packages/game-engine/src/actions/reroll-choose-handler.ts
  packages/game-engine/src/ai/setup-placement.ts
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/captain.test.ts
  packages/game-engine/src/mechanics/captain.ts
  prisma/migrations/20260722100000_add_team_player_captain/migration.sql
  prisma/schema.prisma
Labels: game-engine, web, server

chore: changeset pour la règle Capitaine
  .changeset/team-captain-rule.md
Labels: none

feat(team): règle spéciale Capitaine (désignation, Pro offerte, effets en match) (#934)
  .changeset/team-captain-rule.md
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/local-match.ts
  apps/server/src/routes/match-state-handler.ts
  apps/server/src/routes/team-captain-handlers.ts
  apps/server/src/routes/team.ts
  apps/server/src/schemas/team.schemas.ts
  apps/server/src/services/league-offline-result.test.ts
  apps/server/src/services/league-offline-result.ts
  apps/server/src/services/match-start.ts
  apps/server/src/services/team-captain.test.ts
  apps/server/src/services/team-captain.ts
  apps/web/app/me/teams/[id]/CaptainPanel.test.tsx
  apps/web/app/me/teams/[id]/CaptainPanel.tsx
  apps/web/app/me/teams/[id]/page.tsx
  openspec/changes/add-team-captain-rule/design.md
  openspec/changes/add-team-captain-rule/proposal.md
  openspec/changes/add-team-captain-rule/specs/team-captain/spec.md
  openspec/changes/add-team-captain-rule/tasks.md
  packages/game-engine/src/actions/reroll-choose-handler.ts
  packages/game-engine/src/ai/setup-placement.ts
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/captain.test.ts
  packages/game-engine/src/mechanics/captain.ts
  prisma/migrations/20260722100000_add_team_player_captain/migration.sql
  prisma/schema.prisma
Labels: game-engine, web, server

fix(rosters): le Looney gobelin season_2 n'a pas de passe (PA -)
  apps/server/src/seeders/sync-rosters.test.ts
  apps/server/src/utils/default-lineup.test.ts
  openspec/changes/nullable-pa-position-player/tasks.md
  packages/game-engine/src/rosters/no-pass-positions.test.ts
  packages/game-engine/src/rosters/positions.ts
Labels: game-engine, server

feat(player-status): morts et licenciements traces et reversibles
  CLAUDE.md
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/admin.ts
  apps/server/src/routes/league.ts
  apps/server/src/services/cup-registration.ts
  apps/server/src/services/cup-roster-snapshot.ts
  apps/server/src/services/league-offline-edit.test.ts
  apps/server/src/services/league-offline-edit.ts
  apps/server/src/services/league-offline-result.test.ts
  apps/server/src/services/league-offline-result.ts
  apps/server/src/services/match-start.ts
  apps/server/src/services/move-processor.ts
  apps/server/src/services/player-death.test.ts
  apps/server/src/services/player-death.ts
  apps/server/src/services/player-status-filters.test.ts
  apps/server/src/services/player-status.test.ts
  apps/server/src/services/player-status.ts
  apps/server/src/services/post-match-league-sequence.ts
  apps/web/app/leagues/[id]/teams/[teamId]/page.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
  openspec/changes/manage-player-deaths-and-firings/design.md
  openspec/changes/manage-player-deaths-and-firings/proposal.md
  openspec/changes/manage-player-deaths-and-firings/specs/player-status/spec.md
  openspec/changes/manage-player-deaths-and-firings/tasks.md
  prisma/schema.prisma
Labels: web, server

chore(changeset): morts et licenciements traces et reversibles
  .changeset/player-status-deaths-firings.md
  apps/web/public/version.json
Labels: web

feat(player-status): morts et licenciements tracés et réversibles (#935)
  .changeset/player-status-deaths-firings.md
  CLAUDE.md
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/admin.ts
  apps/server/src/routes/league.ts
  apps/server/src/services/cup-registration.ts
  apps/server/src/services/cup-roster-snapshot.ts
  apps/server/src/services/league-offline-edit.test.ts
  apps/server/src/services/league-offline-edit.ts
  apps/server/src/services/league-offline-result.test.ts
  apps/server/src/services/league-offline-result.ts
  apps/server/src/services/match-start.ts
  apps/server/src/services/move-processor.ts
  apps/server/src/services/player-death.test.ts
  apps/server/src/services/player-death.ts
  apps/server/src/services/player-status-filters.test.ts
  apps/server/src/services/player-status.test.ts
  apps/server/src/services/player-status.ts
  apps/server/src/services/post-match-league-sequence.ts
  apps/web/app/leagues/[id]/teams/[teamId]/page.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
  apps/web/public/version.json
  openspec/changes/manage-player-deaths-and-firings/design.md
  openspec/changes/manage-player-deaths-and-firings/proposal.md
  openspec/changes/manage-player-deaths-and-firings/specs/player-status/spec.md
  openspec/changes/manage-player-deaths-and-firings/tasks.md
  prisma/schema.prisma
Labels: web, server

ci(auto-merge): relance les workflows aval apres un merge par le GITHUB_TOKEN
  .github/workflows/auto-merge.yml
  CLAUDE.md
Labels: none

ci(auto-merge): relance les workflows aval apres un merge par le GITHUB_TOKEN (#936)
  .github/workflows/auto-merge.yml
  CLAUDE.md
Labels: none

feat(league): classement — colonnes étendues et vue synthétique dépliable
  apps/server/src/services/league-standings-bonus.test.ts
  apps/server/src/services/league-standings-extra.test.ts
  apps/server/src/services/league-standings-stats.test.ts
  apps/server/src/services/league-standings-stats.ts
  apps/server/src/services/league.ts
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/leagues/[id]/SeasonStandings.test.tsx
  apps/web/app/leagues/[id]/SeasonStandings.tsx
  apps/web/app/leagues/[id]/types.ts
  openspec/changes/enhance-league-standings-columns/design.md
  openspec/changes/enhance-league-standings-columns/proposal.md
  openspec/changes/enhance-league-standings-columns/specs/league-standings/spec.md
  openspec/changes/enhance-league-standings-columns/tasks.md
Labels: web, server

feat(league): classement — colonnes étendues et vue synthétique dépliable (#937)
  apps/server/src/services/league-standings-bonus.test.ts
  apps/server/src/services/league-standings-extra.test.ts
  apps/server/src/services/league-standings-stats.test.ts
  apps/server/src/services/league-standings-stats.ts
  apps/server/src/services/league.ts
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/leagues/[id]/SeasonStandings.test.tsx
  apps/web/app/leagues/[id]/SeasonStandings.tsx
  apps/web/app/leagues/[id]/types.ts
  openspec/changes/enhance-league-standings-columns/design.md
  openspec/changes/enhance-league-standings-columns/proposal.md
  openspec/changes/enhance-league-standings-columns/specs/league-standings/spec.md
  openspec/changes/enhance-league-standings-columns/tasks.md
Labels: web, server

chore(release): 1.219.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  24753e92605ceb9297299bc69b05dd1e82efd95e
Labels: none

fix(league): note les Blessures Persistantes « N BP » et les cumule
  apps/server/src/services/league-offline-result.test.ts
  apps/web/app/leagues/[id]/teams/[teamId]/page.test.tsx
  apps/web/app/leagues/[id]/teams/[teamId]/page.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
  apps/web/app/me/teams/[id]/career/page.tsx
Labels: web, server
