Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"

chore(changeset): invalidation d'une feuille après le recrutement d'un journalier ou d'un mort relevé
  .changeset/invalidation-feuille-recrutement-journalier-mort-releve.md
Labels: none

Feuille de match : l'invalidation n'est plus bloquée par un journalier ou un mort relevé recruté (#1032)
  .changeset/invalidation-feuille-recrutement-journalier-mort-releve.md
  CLAUDE.md
  apps/server/src/services/league-offline-edit.test.ts
  apps/server/src/services/league-offline-edit.ts
  apps/server/src/services/league-offline-purchase-baseline.test.ts
  apps/server/src/services/league-offline-purchase-baseline.ts
  apps/server/src/services/league-offline-purchases.test.ts
  apps/server/src/services/league-offline-purchases.ts
  apps/server/src/services/league-offline-result.test.ts
  docs/league-physical-purchases-2026-06-25.md
  openspec/changes/invalidate-sheet-after-sheet-player-hire/design.md
  openspec/changes/invalidate-sheet-after-sheet-player-hire/proposal.md
  openspec/changes/invalidate-sheet-after-sheet-player-hire/specs/league-match-sheet/spec.md
  openspec/changes/invalidate-sheet-after-sheet-player-hire/tasks.md
  tests/e2e-api/specs/leagues-sheet-journeymen-orc.spec.ts
  tests/e2e-api/specs/leagues-sheet-raise-dead-undead.spec.ts
Labels: server

docs: consigner le retrait du flag league
  CLAUDE.md
  docs/leagues-flag-unification-2026-06-05.md
  docs/roadmap/league-feature-flags-rollout.md
Labels: none

feat(web): ligue sans feature flag + badge « Absent du code » en admin
  apps/web/app/admin/feature-flags/page.test.tsx
  apps/web/app/admin/feature-flags/page.tsx
  apps/web/app/admin/layout.tsx
  apps/web/app/components/Header.tsx
  apps/web/app/components/OfflineMatchGate.test.tsx
  apps/web/app/components/OfflineMatchGate.tsx
  apps/web/app/leagues/[id]/page.lifecycle.test.tsx
  apps/web/app/leagues/[id]/page.test.tsx
  apps/web/app/leagues/[id]/page.tsx
  apps/web/app/leagues/new/page.test.tsx
  apps/web/app/leagues/new/page.tsx
  apps/web/app/leagues/page.test.tsx
  apps/web/app/leagues/page.tsx
  apps/web/app/lib/featureFlagKeys.ts
  apps/web/app/lib/featureFlags.test.ts
  apps/web/app/lib/featureFlags.ts
  apps/web/app/me/teams/[id]/PendingAdvancementsBanner.tsx
  apps/web/app/me/teams/[id]/level-up/page.tsx
  apps/web/app/me/teams/[id]/page.journal-link.test.tsx
  apps/web/app/me/teams/[id]/page.tsx
Labels: web

feat(feature-flags): retirer le flag league et exposer knownInCode
  apps/server/src/index.ts
  apps/server/src/seed.ts
  apps/server/src/services/featureFlags.test.ts
  apps/server/src/services/featureFlags.ts
  apps/web/app/components/LeagueGate.test.tsx
  apps/web/app/components/LeagueGate.tsx
  apps/web/app/leagues/[id]/layout.tsx
  apps/web/app/leagues/layout.tsx
Labels: web, server

feat(feature-flags): retirer le flag league et exposer knownInCode (#1033)
  CLAUDE.md
  apps/server/src/index.ts
  apps/server/src/seed.ts
  apps/server/src/services/featureFlags.test.ts
  apps/server/src/services/featureFlags.ts
  apps/web/app/admin/feature-flags/page.test.tsx
  apps/web/app/admin/feature-flags/page.tsx
  apps/web/app/admin/layout.tsx
  apps/web/app/components/Header.tsx
  apps/web/app/components/LeagueGate.test.tsx
  apps/web/app/components/LeagueGate.tsx
  apps/web/app/components/OfflineMatchGate.test.tsx
  apps/web/app/components/OfflineMatchGate.tsx
  apps/web/app/leagues/[id]/layout.tsx
  apps/web/app/leagues/[id]/page.lifecycle.test.tsx
  apps/web/app/leagues/[id]/page.test.tsx
  apps/web/app/leagues/[id]/page.tsx
  apps/web/app/leagues/layout.tsx
  apps/web/app/leagues/new/page.test.tsx
  apps/web/app/leagues/new/page.tsx
  apps/web/app/leagues/page.test.tsx
  apps/web/app/leagues/page.tsx
  apps/web/app/lib/featureFlagKeys.ts
  apps/web/app/lib/featureFlags.test.ts
  apps/web/app/lib/featureFlags.ts
  apps/web/app/me/teams/[id]/PendingAdvancementsBanner.tsx
  apps/web/app/me/teams/[id]/level-up/page.tsx
  apps/web/app/me/teams/[id]/page.journal-link.test.tsx
  apps/web/app/me/teams/[id]/page.tsx
  docs/leagues-flag-unification-2026-06-05.md
  docs/roadmap/league-feature-flags-rollout.md
Labels: web, server

chore(release): 1.242.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  fcaa0c7d6a063d755eee7321d918b712026cd10a
Labels: none

docs(leagues): exploration des pronostics de ligue
  CLAUDE.md
  docs/roadmap/explorations/2026-09-27-pronostics-de-ligue.md
Labels: none

docs(leagues): pronostics — coach retiré non membre, nul = victoire, termes du choix de classement
  docs/roadmap/explorations/2026-09-27-pronostics-de-ligue.md
Labels: none

docs(leagues): pronostics — deux classements (option A), clôture persistée
  CLAUDE.md
  docs/roadmap/explorations/2026-09-27-pronostics-de-ligue.md
Labels: none

docs(leagues): pronostics — rien avant la clôture, et la suite
  CLAUDE.md
  docs/roadmap/explorations/2026-09-27-pronostics-de-ligue.md
Labels: none

docs(openspec): change league-match-predictions
  openspec/changes/league-match-predictions/design.md
  openspec/changes/league-match-predictions/proposal.md
  openspec/changes/league-match-predictions/specs/league-predictions/spec.md
  openspec/changes/league-match-predictions/tasks.md
Labels: none

feat(leagues): schéma des pronostics de ligue
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  prisma/schema.prisma
Labels: server

feat(leagues): règles pures des pronostics de ligue
  apps/server/src/services/league-predictions-rules.test.ts
  apps/server/src/services/league-predictions-rules.ts
Labels: server

feat(leagues): service des pronostics de ligue
  apps/server/src/services/in-app-notifications.ts
  apps/server/src/services/league-predictions.test.ts
  apps/server/src/services/league-predictions.ts
Labels: server

feat(leagues): portée des pronostics à la création d'une ligue
  apps/server/src/routes/league.ts
  apps/server/src/schemas/league.schemas.ts
  apps/server/src/services/league.test.ts
  apps/server/src/services/league.ts
Labels: server

feat(leagues): routes des pronostics de ligue
  apps/server/src/index.ts
  apps/server/src/routes/league-predictions.test.ts
  apps/server/src/routes/league-predictions.ts
  apps/server/src/schemas/league-predictions.schemas.ts
Labels: server

feat(leagues): la feuille de match ferme les pronostics de la rencontre
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
Labels: server

refactor(leagues): sortir règlement et classement du service des pronostics
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-predictions-core.test.ts
  apps/server/src/services/league-predictions-core.ts
  apps/server/src/services/league-predictions-settlement.test.ts
  apps/server/src/services/league-predictions-settlement.ts
  apps/server/src/services/league-predictions.test.ts
  apps/server/src/services/league-predictions.ts
Labels: server

feat(leagues): les résultats règlent les pronostics, la reversion les dérègle
  apps/server/src/services/forfeit-tracker.test.ts
  apps/server/src/services/forfeit-tracker.ts
  apps/server/src/services/league-match-result.test.ts
  apps/server/src/services/league-match-result.ts
  apps/server/src/services/league-offline-edit.test.ts
  apps/server/src/services/league-offline-edit.ts
Labels: server

feat(leagues): l'Oracle de la saison entre au palmarès
  apps/server/src/services/league-scoring.test.ts
  apps/server/src/services/league-scoring.ts
Labels: server

feat(leagues): succès des pronostics de ligue
  apps/server/src/services/achievements.test.ts
  apps/server/src/services/achievements.ts
Labels: server

feat(leagues): bilan des pronostics à la fin d'une journée
  apps/server/src/services/league-forfeit.test.ts
  apps/server/src/services/league-forfeit.ts
  apps/server/src/services/league-match-result.test.ts
  apps/server/src/services/league-match-result.ts
  apps/web/app/me/notifications/format.test.ts
  apps/web/app/me/notifications/format.ts
Labels: web, server

feat(web): portée des pronostics dans les réglages d'une ligue
  apps/web/app/leagues/[id]/edit/LockedLeagueSettings.tsx
  apps/web/app/leagues/[id]/edit/page.test.tsx
  apps/web/app/leagues/[id]/edit/page.tsx
  apps/web/app/leagues/[id]/types.ts
  apps/web/app/leagues/_components/LeagueForm.test.tsx
  apps/web/app/leagues/_components/LeagueForm.tsx
  apps/web/app/leagues/_components/PredictionsScopeField.tsx
  apps/web/app/leagues/_components/predictions.test.ts
  apps/web/app/leagues/_components/predictions.ts
  apps/web/app/leagues/new/page.tsx
Labels: web

feat(web): panneau « Pronostics » sur la fiche de ligue
  apps/web/app/leagues/[id]/LeaguePredictionsPanel.test.tsx
  apps/web/app/leagues/[id]/LeaguePredictionsPanel.tsx
  apps/web/app/leagues/[id]/page.tsx
  apps/web/app/leagues/_components/PredictionLeaderboard.test.tsx
  apps/web/app/leagues/_components/PredictionLeaderboard.tsx
  apps/web/app/leagues/_components/PredictionPairingCard.test.tsx
  apps/web/app/leagues/_components/PredictionPairingCard.tsx
  apps/web/app/leagues/_components/PredictionPicker.test.tsx
  apps/web/app/leagues/_components/PredictionPicker.tsx
  apps/web/app/leagues/_components/predictions.fixtures.ts
Labels: web

feat(web): page des pronostics d'une saison
  apps/web/app/leagues/[id]/seasons/[sid]/predictions/page.test.tsx
  apps/web/app/leagues/[id]/seasons/[sid]/predictions/page.tsx
Labels: web

feat(web): l'Oracle au récap de saison, les succès de pronostic
  apps/web/app/leagues/[id]/seasons/[sid]/recap/page.test.tsx
  apps/web/app/leagues/[id]/seasons/[sid]/recap/page.tsx
  apps/web/app/me/achievements/grouping.test.ts
  apps/web/app/me/achievements/grouping.ts
  apps/web/app/me/achievements/page.test.tsx
  apps/web/app/me/achievements/page.tsx
Labels: web

feat(leagues): la clôture de saison dresse aussi le bilan des pronostics
  apps/server/src/services/league-scheduler.test.ts
  apps/server/src/services/league-scheduler.ts
Labels: server

fix(achievements): déblocage portable, sans `createMany({ skipDuplicates })`
  apps/server/src/services/achievements.test.ts
  apps/server/src/services/achievements.ts
Labels: server

test(e2e): parcours des pronostics de ligue
  tests/e2e-api/specs/leagues-predictions-flow.spec.ts
Labels: none

docs(leagues): pronostics — mémoire, récit de session, change à jour
  CLAUDE.md
  docs/roadmap/explorations/2026-09-27-pronostics-de-ligue.md
  docs/roadmap/sessions/2026-09-27-league-predictions.md
  openspec/changes/league-match-predictions/design.md
  openspec/changes/league-match-predictions/specs/league-predictions/spec.md
  openspec/changes/league-match-predictions/tasks.md
Labels: none

chore(changeset): pronostics de ligue
  .changeset/pronostics-de-ligue.md
Labels: none

fix(web): la page des pronostics ne montre plus la saison précédente
  apps/web/app/leagues/[id]/seasons/[sid]/predictions/page.test.tsx
  apps/web/app/leagues/[id]/seasons/[sid]/predictions/page.tsx
Labels: web

fix(leagues): la clôture manuelle n'écrit que sur une rencontre ouverte
  CLAUDE.md
  apps/server/src/routes/league-predictions.test.ts
  apps/server/src/services/league-predictions.test.ts
  apps/server/src/services/league-predictions.ts
  openspec/changes/league-match-predictions/design.md
Labels: server

chore(openspec): sync et archive du change « league-match-predictions »
  CLAUDE.md
  docs/roadmap/backlog/openspec-suites.md
  docs/roadmap/explorations/2026-09-27-pronostics-de-ligue.md
  docs/roadmap/sessions/2026-09-27-league-predictions.md
  openspec/changes/archive/2026-09-27-league-match-predictions/design.md
  openspec/changes/archive/2026-09-27-league-match-predictions/proposal.md
  openspec/changes/archive/2026-09-27-league-match-predictions/specs/league-predictions/spec.md
  openspec/changes/archive/2026-09-27-league-match-predictions/tasks.md
  openspec/specs/league-predictions/spec.md
Labels: none

chore(openspec): sync et archive du change « league-match-predictions » (#1035)
  CLAUDE.md
  docs/roadmap/backlog/openspec-suites.md
  docs/roadmap/explorations/2026-09-27-pronostics-de-ligue.md
  docs/roadmap/sessions/2026-09-27-league-predictions.md
  openspec/changes/archive/2026-09-27-league-match-predictions/design.md
  openspec/changes/archive/2026-09-27-league-match-predictions/proposal.md
  openspec/changes/archive/2026-09-27-league-match-predictions/specs/league-predictions/spec.md
  openspec/changes/archive/2026-09-27-league-match-predictions/tasks.md
  openspec/specs/league-predictions/spec.md
Labels: none

feat(leagues): menu Exports PDF sur la fiche de ligue
  apps/web/app/components/CompetitionPdfMenu.test.tsx
  apps/web/app/components/CompetitionPdfMenu.tsx
  apps/web/app/leagues/[id]/LeaguePdfExports.tsx
  apps/web/app/leagues/[id]/MatchdayExport.test.tsx
  apps/web/app/leagues/[id]/MatchdayExport.tsx
  apps/web/app/leagues/[id]/page.tsx
Labels: web

feat(league): servir le score validé des rencontres du bracket
  apps/server/src/routes/league-playoff-routes.test.ts
  apps/server/src/routes/league.ts
Labels: server

feat(match-sheet): feuille de rencontre imprimable (PDF)
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPdfButton.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
Labels: web
