Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

fix(rosters): apothicaire conditionnel sur la page roster + caches frais en dev
  apps/server/src/routes/public-rosters.ts
  apps/server/src/utils/roster-helpers.ts
  apps/web/app/teams/[slug]/TeamDetailClient.tsx
Labels: web, server

chore(release): 1.186.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  699a67f182a285f63a8a5e90b307aa5c9587adab
Labels: none

feat(teams): enrichit la fiche de roster + notation BB des caractéristiques
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/lib/format-stats.test.ts
  apps/web/app/lib/format-stats.ts
  apps/web/app/me/teams/[id]/edit/page.tsx
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/me/teams/[id]/roster-skill-access.test.ts
  apps/web/app/me/teams/[id]/roster-skill-access.ts
  apps/web/app/me/teams/components/TreasuryPurchasePanel.tsx
  apps/web/app/me/teams/new/page.tsx
  apps/web/app/me/teams/skills-data.test.ts
  apps/web/app/me/teams/skills-data.ts
  apps/web/app/pro-league/teams/[slug]/players/[playerId]/page.tsx
  apps/web/app/teams/[slug]/TeamDetailClient.tsx
  packages/ui/src/components/PlayerDetails.tsx
Labels: packages-ui, web

fix(prisma): mirror LeagueInvitation dans le schema SQLite de test
  apps/server/prisma/sqlite/schema.prisma
Labels: server

feat(teams): fiche de roster enrichie (accès compétences, règles spéciales) + notation BB des caractéristiques (#927)
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/lib/format-stats.test.ts
  apps/web/app/lib/format-stats.ts
  apps/web/app/me/teams/[id]/edit/page.tsx
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/me/teams/[id]/roster-skill-access.test.ts
  apps/web/app/me/teams/[id]/roster-skill-access.ts
  apps/web/app/me/teams/components/TreasuryPurchasePanel.tsx
  apps/web/app/me/teams/new/page.tsx
  apps/web/app/me/teams/skills-data.test.ts
  apps/web/app/me/teams/skills-data.ts
  apps/web/app/pro-league/teams/[slug]/players/[playerId]/page.tsx
  apps/web/app/teams/[slug]/TeamDetailClient.tsx
  packages/ui/src/components/PlayerDetails.tsx
Labels: packages-ui, web

fix(prisma): mirror LeagueInvitation dans le schéma SQLite de test (E2E API rouge) (#928)
  apps/server/prisma/sqlite/schema.prisma
Labels: server

feat(teams): suppression d'équipe par le coach (soft delete + garde compétition)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/cup.ts
  apps/server/src/routes/team-mutation-handlers.ts
  apps/server/src/routes/team-readonly-handlers.ts
  apps/server/src/routes/team-selection-handlers.ts
  apps/server/src/routes/team.test.ts
  apps/server/src/routes/team.ts
  apps/server/src/services/team-delete.test.ts
  apps/server/src/services/team-delete.ts
  apps/web/app/me/teams/page.tsx
  prisma/schema.prisma
Labels: web, server

feat(teams): page roster format-aware (BB11 / Sevens)
  apps/web/app/teams/[slug]/TeamDetailClient.tsx
Labels: web

feat(leagues): rejoindre une ligue via invitation (e-mail, saison, routes)
  apps/server/src/config.ts
  apps/server/src/routes/league-invitation.test.ts
  apps/server/src/routes/league-invitation.ts
  apps/server/src/services/league-invitation-notify.test.ts
  apps/server/src/services/league-invitation-notify.ts
  apps/server/src/services/league-invitation.test.ts
  apps/server/src/services/league-invitation.ts
  apps/web/app/leagues/invitations/[code]/page.tsx
Labels: web, server

feat(leagues): panneau "Invitations envoyées" pour le commissaire
  apps/web/app/leagues/[id]/SentInvitationsPanel.tsx
  apps/web/app/leagues/[id]/page.tsx
Labels: web

fix(rosters): nom du trait Animosité Underworld → "Animosité (Gobelins des Bas-Fond)"
  packages/game-engine/src/skills/index.ts
Labels: game-engine

feat(teams): invalidation ISR à la demande des pages roster
  apps/server/src/routes/admin-data.ts
  apps/server/src/routes/admin-utilities.ts
  apps/server/src/services/revalidate-web.test.ts
  apps/server/src/services/revalidate-web.ts
  apps/web/app/api/revalidate/route.test.ts
  apps/web/app/api/revalidate/route.ts
  apps/web/app/teams/[slug]/[position]/page.tsx
  apps/web/app/teams/[slug]/page.tsx
  apps/web/app/teams/page.tsx
  docker-compose.prod.yml
  docker-compose.yml
  docs/isr-cache-invalidation.md
Labels: web, server

feat(leagues): invitations en attente côté coach + saisie de code
  apps/web/app/leagues/_components/JoinByCodeField.tsx
  apps/web/app/leagues/_components/PendingLeagueInvitations.test.tsx
  apps/web/app/leagues/_components/PendingLeagueInvitations.tsx
  apps/web/app/leagues/page.test.tsx
  apps/web/app/leagues/page.tsx
  apps/web/app/me/league-invitations/page.tsx
Labels: web

chore(release): 1.187.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  cf905e5da81964b58f836663540c773b5a1e595f
Labels: none

feat(mail): support MAILER_DSN (Symfony-style) en plus des SMTP_*
  apps/server/src/services/mail-init.test.ts
  apps/server/src/services/mail-init.ts
  docker-compose.prod.yml
  docker-compose.yml
Labels: server

chore(release): 1.188.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  6fdc9da1c1dd079c353c591769a53d703122a064
Labels: none

fix(mail): update MAIL_FROM configuration to support .env substitution
  docker-compose.yml
Labels: none

chore(release): 1.188.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  3780a08e24cabae51c8e9d7647f6b6018360fec0
Labels: none

fix(teams): badges de compétences figés jusqu'au premier survol
  apps/web/app/components/SkillTooltip.tsx
  apps/web/app/me/teams/components/SkillTooltip.test.tsx
  apps/web/app/me/teams/components/SkillTooltip.tsx
  apps/web/app/me/teams/use-skills-cache.ts
Labels: web

feat(teams): résolution SSR des noms de compétences (zéro flash)
  apps/server/src/services/revalidate-web.test.ts
  apps/server/src/services/revalidate-web.ts
  apps/web/app/components/SkillTooltip.tsx
  apps/web/app/lib/skills-catalog.server.ts
  apps/web/app/me/teams/components/SkillTooltip.test.tsx
  apps/web/app/me/teams/components/SkillTooltip.tsx
  apps/web/app/me/teams/skills-catalog-context.tsx
  apps/web/app/teams/[slug]/page.tsx
Labels: web, server

fix(leagues): le commissaire peut inscrire une de ses équipes
  apps/web/app/leagues/[id]/page.test.tsx
  apps/web/app/leagues/[id]/page.tsx
Labels: web

fix(league): auto-advance League.status from season lifecycle
  apps/server/src/services/league-scheduler.test.ts
  apps/server/src/services/league-scheduler.ts
Labels: server

docs(openspec): change fix-league-status-lifecycle
  openspec/changes/fix-league-status-lifecycle/proposal.md
  openspec/changes/fix-league-status-lifecycle/specs/league-status-lifecycle/spec.md
  openspec/changes/fix-league-status-lifecycle/tasks.md
Labels: none

chore(league): backfill script to recalibrate existing League.status
  apps/server/src/scripts/backfill-league-status.ts
Labels: server

fix(season-admin): temporarily hide round duration input and set default to null
  apps/web/app/leagues/[id]/SeasonAdminPanel.tsx
Labels: web

feat(league): coup de mécène opt-in commissaire + masquage durée de journée
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/league.ts
  apps/server/src/schemas/league.schemas.test.ts
  apps/server/src/schemas/league.schemas.ts
  apps/server/src/services/league-patron.test.ts
  apps/server/src/services/league-patron.ts
  apps/web/app/leagues/[id]/SeasonAdminPanel.tsx
  apps/web/app/leagues/[id]/page.test.tsx
  apps/web/app/leagues/[id]/page.tsx
  apps/web/app/leagues/[id]/types.ts
  docs/roadmap/sessions/2026-06-06-league-management.md
  prisma/schema.prisma
Labels: web, server

chore(release): 1.189.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  f96a4d20b963f9be8d42ada37c6fb3489ba16ad3
Labels: none

feat(league): applique les dépenses de trésorerie à la validation d'un match
  apps/server/src/schemas/league.schemas.ts
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-offline-edit.test.ts
  apps/server/src/services/league-offline-edit.ts
  apps/server/src/services/league-offline-result.test.ts
  apps/server/src/services/league-offline-result.ts
Labels: server

feat(league): refonte mobile-first de la feuille de match physique
  apps/server/src/services/league-match-sheet.ts
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
Labels: web, server

feat(server): service resolveStaffConfig + seed RosterStaffConfig
  apps/server/src/scripts/seed-roster-staff-config.ts
  apps/server/src/seed.ts
  apps/server/src/services/roster-staff-config.test.ts
  apps/server/src/services/roster-staff-config.ts
Labels: server

docs(openspec): change add-roster-staff-config
  openspec/changes/add-roster-staff-config/proposal.md
  openspec/changes/add-roster-staff-config/specs/roster-staff-config/spec.md
  openspec/changes/add-roster-staff-config/tasks.md
Labels: none

feat(server): admin staff-config (GET inclut staffConfigs, PUT upsert 2 formats)
  apps/server/src/routes/admin-data.ts
  apps/server/src/schemas/admin-data.schemas.test.ts
  apps/server/src/schemas/admin-data.schemas.ts
Labels: server

feat(web): editeur staff BB11/BB7 (admin) + builder pilote par la config DB
  apps/web/app/admin/data/rosters/[id]/edit/page.tsx
  apps/web/app/me/teams/new/page.tsx
Labels: web

refactor(league): découple les ligues du jeu en ligne (ligues 100% physiques)
  apps/server/src/routes/admin-leagues.ts
  apps/server/src/routes/league.ts
  apps/server/src/schemas/admin-leagues.schemas.ts
  apps/server/src/schemas/league.schemas.ts
  apps/server/src/services/league-match-from-pairing.test.ts
  apps/server/src/services/league-match-from-pairing.ts
  apps/server/src/services/move-processor.ts
  apps/web/app/leagues/[id]/SeasonCalendar.tsx
  prisma/schema.prisma
  tests/e2e-api/specs/leagues-mvp-flow.spec.ts
Labels: web, server

docs(league): refonte gestion de ligue physique (découplage + saisie + UI)
  docs/league-physical-rework-2026-06-25.md
Labels: none

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
