Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

feat(mobile): add pinch-to-zoom and pan-to-drag on board (tasks 4.4 & 4.5)
  TODO.md
  apps/mobile/app/_layout.tsx
  apps/mobile/babel.config.js
  apps/mobile/package.json
  packages/ui/package.json
  packages/ui/src/board/PixiBoard.native.tsx
  pnpm-lock.yaml
Labels: packages-ui, mobile

fix: normalize serialized gameState in turn summaries (#64)
  apps/server/src/routes/match.ts
Labels: server

feat(mobile): pinch-to-zoom & pan-to-drag on board (4.4 & 4.5) (#65)
  TODO.md
  apps/mobile/app/_layout.tsx
  apps/mobile/babel.config.js
  apps/mobile/package.json
  packages/ui/package.json
  packages/ui/src/board/PixiBoard.native.tsx
  pnpm-lock.yaml
Labels: packages-ui, mobile

feat(mobile): add game screen with tap-to-highlight playable cells (4.6)
  TODO.md
  apps/mobile/app/_layout.tsx
  apps/mobile/app/game/[id].tsx
  apps/mobile/app/lobby.tsx
  packages/ui/src/board/PixiBoard.native.tsx
  packages/ui/src/index.tsx
Labels: packages-ui, mobile

feat(mobile): highlight playable cells on tap, deselect on double-tap (4.6)
  TODO.md
  apps/mobile/app/lobby.tsx
  apps/mobile/app/play/[id].tsx
  apps/mobile/package.json
  packages/ui/src/board/PixiBoard.native.tsx
  pnpm-lock.yaml
Labels: packages-ui, mobile

chore: gitignore game-engine src/*.js build artifacts
  .gitignore
Labels: none

feat(mobile): highlight playable cells on tap (task 4.6) (#67)
  .gitignore
  TODO.md
  apps/mobile/app/lobby.tsx
  apps/mobile/app/play/[id].tsx
  apps/mobile/package.json
  packages/ui/src/board/PixiBoard.native.tsx
  pnpm-lock.yaml
Labels: packages-ui, mobile

fix(mobile): route pending matches to history, not gameplay screen
  apps/mobile/app/lobby.tsx
Labels: mobile

feat(mobile): add tween animations for player movement and ball (task 4.8)
  TODO.md
  packages/ui/src/board/PixiBoard.native.tsx
Labels: packages-ui

fix(mobile): route pending matches to history, not gameplay (#68)
  apps/mobile/app/lobby.tsx
Labels: mobile

Refonte complete du TODO : roadmap orientee jeu en ligne BB3
  TODO.md
Labels: none

feat(mobile): tween animations for player & ball movement (4.8) (#69)
  TODO.md
  packages/ui/src/board/PixiBoard.native.tsx
Labels: packages-ui

Notes added by 'git notes add'
  b5faa0fc770c80bec285d76bfd55ed5045d755c5
Labels: none

chore(release): 1.39.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

feat(db): add SPP tracking fields to TeamPlayer model
  prisma/schema.prisma
Labels: none

feat(server): add SPP persistence service
  apps/server/src/services/spp-tracking.ts
Labels: server

feat(server): hook SPP persistence into match completion endpoints
  apps/server/src/routes/local-match.ts
  apps/server/src/routes/match.ts
Labels: server

test(server): add unit tests for SPP tracking service
  apps/server/src/services/spp-tracking.test.ts
Labels: server

docs: mark D.1 SPP tracking as completed in TODO.md
  TODO.md
Labels: none

feat(D.1): SPP tracking en match (#71)
  TODO.md
  apps/server/src/routes/local-match.ts
  apps/server/src/routes/match.ts
  apps/server/src/services/spp-tracking.test.ts
  apps/server/src/services/spp-tracking.ts
  prisma/schema.prisma
Labels: server

feat(D.6): persist player deaths after match completion
  TODO.md
  apps/server/src/routes/local-match.ts
  apps/server/src/services/player-death.test.ts
  apps/server/src/services/player-death.ts
  apps/server/src/utils/team-values.ts
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/mechanics/injury-casualty-results.test.ts
  packages/game-engine/src/mechanics/injury.ts
  prisma/schema.prisma
Labels: game-engine, server

feat(D.6): persist player deaths after match completion (#73)
  TODO.md
  apps/server/src/routes/local-match.ts
  apps/server/src/services/player-death.test.ts
  apps/server/src/services/player-death.ts
  apps/server/src/utils/team-values.ts
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/mechanics/injury-casualty-results.test.ts
  packages/game-engine/src/mechanics/injury.ts
  prisma/schema.prisma
Labels: game-engine, server

feat(D.8): connect journeymen auto-add to persistence layer
  TODO.md
  apps/server/src/routes/local-match.ts
  apps/server/src/routes/match.ts
  apps/server/src/services/journeymen.test.ts
  apps/server/src/services/journeymen.ts
  apps/server/src/services/match-start.ts
  packages/game-engine/src/core/journeymen-roster-stats.test.ts
  packages/game-engine/src/core/pre-match-sequence.ts
  packages/game-engine/src/index.ts
Labels: game-engine, server

feat(D.8): connect journeymen auto-add to persistence layer (#74)
  TODO.md
  apps/server/src/routes/local-match.ts
  apps/server/src/routes/match.ts
  apps/server/src/services/journeymen.test.ts
  apps/server/src/services/journeymen.ts
  apps/server/src/services/match-start.ts
  packages/game-engine/src/core/journeymen-roster-stats.test.ts
  packages/game-engine/src/core/pre-match-sequence.ts
  packages/game-engine/src/index.ts
Labels: game-engine, server

feat(D.5): persist permanent injuries after match completion
  TODO.md
  apps/server/src/routes/local-match.ts
  apps/server/src/services/permanent-injuries.test.ts
  apps/server/src/services/permanent-injuries.ts
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/injury-casualty-results.test.ts
  packages/game-engine/src/mechanics/injury-lasting.test.ts
  packages/game-engine/src/mechanics/injury.ts
  prisma/schema.prisma
Labels: game-engine, server

feat(D.5): persist permanent injuries after match completion (#75)
  TODO.md
  apps/server/src/routes/local-match.ts
  apps/server/src/services/permanent-injuries.test.ts
  apps/server/src/services/permanent-injuries.ts
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/injury-casualty-results.test.ts
  packages/game-engine/src/mechanics/injury-lasting.test.ts
  packages/game-engine/src/mechanics/injury.ts
  prisma/schema.prisma
Labels: game-engine, server

fix(D.5): sync SQLite schema and reset missNextMatch after match
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/services/spp-tracking.test.ts
  apps/server/src/services/spp-tracking.ts
Labels: server

fix(D.5): sync SQLite schema + reset missNextMatch (#76)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/services/spp-tracking.test.ts
  apps/server/src/services/spp-tracking.ts
Labels: server

feat(D.2): add post-match SPP attribution screen
  TODO.md
  apps/web/app/local-matches/[id]/PostMatchSPP.tsx
  apps/web/app/local-matches/[id]/page.tsx
  tests/post-match-spp.test.ts
Labels: web

feat(D.2): add post-match SPP attribution screen (#77)
  TODO.md
  apps/web/app/local-matches/[id]/PostMatchSPP.tsx
  apps/web/app/local-matches/[id]/page.tsx
  tests/post-match-spp.test.ts
Labels: web

feat(D.3): implement level-up skill choice with SPP validation
  TODO.md
  apps/server/src/routes/team.ts
  apps/web/app/me/teams/[id]/edit/page.tsx
  prisma/schema.prisma
  tests/level-up-advancement.test.ts
Labels: web, server

feat: add /feature and /fix slash commands
  .claude/commands/feature.md
  .claude/commands/fix.md
Labels: none

feat(D.3): implement level-up skill choice with SPP validation (#78)
  TODO.md
  apps/server/src/routes/team.ts
  apps/web/app/me/teams/[id]/edit/page.tsx
  prisma/schema.prisma
  tests/level-up-advancement.test.ts
Labels: web, server

Add fix and feature command documentation (#79)
  .claude/commands/feature.md
  .claude/commands/fix.md
Labels: none

fix(D.3): address Codex review — SQLite schema, server-side random, team values
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/routes/team.ts
  apps/server/src/utils/team-values.ts
  apps/web/app/me/teams/[id]/edit/page.tsx
Labels: web, server

fix: apply auth rate limiter only to login/register, not all /auth routes
  apps/server/src/index.ts
  apps/server/src/middleware/rateLimiter.ts
Labels: server

fix(D.3): address Codex review — SQLite schema, server-side random, team values (#80)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/routes/team.ts
  apps/server/src/utils/team-values.ts
  apps/web/app/me/teams/[id]/edit/page.tsx
Labels: web, server

chore(release): 1.40.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  595c97bcf7d72ba995020b7d00fa7a3714bc7cc9
Labels: none

feat(D.7): add treasury-based purchases between matches
  TODO.md
  apps/server/src/routes/team.ts
  apps/server/src/schemas/team.schemas.ts
  apps/web/app/me/teams/[id]/edit/page.tsx
  apps/web/app/me/teams/components/TreasuryPurchasePanel.tsx
  packages/game-engine/src/utils/team-purchase.test.ts
Labels: game-engine, web, server

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
