Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

feat(friends): findUserByCoachName resolver for @username (S26.4a) (#500)
  apps/server/src/services/user-lookup.test.ts
  apps/server/src/services/user-lookup.ts
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: server

feat(friends): POST /friends accepts {username} via @-resolver (S26.4b)
  apps/server/src/routes/friends.test.ts
  apps/server/src/routes/friends.ts
  apps/server/src/schemas/friendship.schemas.test.ts
  apps/server/src/schemas/friendship.schemas.ts
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: server

feat(friends): POST /friends accepts {username} via @-resolver (S26.4b) (#501)
  apps/server/src/routes/friends.test.ts
  apps/server/src/routes/friends.ts
  apps/server/src/schemas/friendship.schemas.test.ts
  apps/server/src/schemas/friendship.schemas.ts
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: server

feat(friends): autocomplete search endpoint /friends/search (S26.4c)
  apps/server/src/routes/friends.test.ts
  apps/server/src/routes/friends.ts
  apps/server/src/services/user-lookup.test.ts
  apps/server/src/services/user-lookup.ts
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: server

feat(friends): autocomplete search endpoint /friends/search (S26.4c) (#502)
  apps/server/src/routes/friends.test.ts
  apps/server/src/routes/friends.ts
  apps/server/src/services/user-lookup.test.ts
  apps/server/src/services/user-lookup.ts
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: server

feat(friends): FriendUsernameAutocomplete reusable component (S26.4d)
  apps/web/app/components/FriendUsernameAutocomplete.test.tsx
  apps/web/app/components/FriendUsernameAutocomplete.tsx
  apps/web/public/version.json
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: web

Fix default ruleset logic on skills page (#504)
  apps/web/app/skills/page.tsx
Labels: web

chore(release): 1.78.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  dbd0d45f5567109857d5062dff6493960e824015
Labels: none

feat(coach-profile): EloSnapshot model + persist on match end (S26.3l)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/services/elo-update.test.ts
  apps/server/src/services/elo-update.ts
  docs/roadmap/sprints/S26-retention-engagement.md
  prisma/migrations/20260429120000_add_elo_snapshot/migration.sql
  prisma/schema.prisma
Labels: server

feat(friends): suggestFriendsByElo + /friends/suggestions route (S26.5a)
  apps/server/src/routes/friends.test.ts
  apps/server/src/routes/friends.ts
  apps/server/src/services/friend-suggestions.test.ts
  apps/server/src/services/friend-suggestions.ts
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: server

feat(coach-profile): EloSnapshot model + persist on match end (S26.3l) (#503)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/services/elo-update.test.ts
  apps/server/src/services/elo-update.ts
  docs/roadmap/sprints/S26-retention-engagement.md
  prisma/migrations/20260429120000_add_elo_snapshot/migration.sql
  prisma/schema.prisma
Labels: server

feat(coach-profile): GET /coach/:slug/elo-history endpoint (S26.3m)
  apps/server/src/routes/coach.test.ts
  apps/server/src/routes/coach.ts
  apps/server/src/services/coach-profile.test.ts
  apps/server/src/services/coach-profile.ts
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: server

feat(coach-profile): GET /coach/:slug/elo-history endpoint (S26.3m) (#507)
  apps/server/src/routes/coach.test.ts
  apps/server/src/routes/coach.ts
  apps/server/src/services/coach-profile.test.ts
  apps/server/src/services/coach-profile.ts
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: server

chore(release): 1.79.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  1776bc6383f8d506af2252bb31618b4f7a89f7ef
Labels: none

feat(friends): listAcceptedFriendIds helper (S26.5b)
  apps/server/src/services/friendship.test.ts
  apps/server/src/services/friendship.ts
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: server

feat(friends): listAcceptedFriendIds helper (S26.5b) (#508)
  apps/server/src/services/friendship.test.ts
  apps/server/src/services/friendship.ts
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: server

feat(admin): afficher la date de dernière connexion des utilisateurs
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/routes/admin.ts
  apps/server/src/routes/auth.ts
  apps/web/app/admin/users/page.tsx
  prisma/migrations/20260429130000_add_last_login_at/migration.sql
  prisma/schema.prisma
Labels: web, server

Track user last login timestamp (#509)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/routes/admin.ts
  apps/server/src/routes/auth.ts
  apps/web/app/admin/users/page.tsx
  prisma/migrations/20260429130000_add_last_login_at/migration.sql
  prisma/schema.prisma
Labels: web, server

feat(extraction): add OCR transcriptions for Blood Bowl rules, skills, and traits
  extraction_blood_bowl.md
  extraction_competences_blood_bowl.md
  extraction_competences_traits_blood_bowl.md
Labels: none

chore(release): 1.80.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  d90b72d94ed02441afcdfee09185c26c6f2dec6e
Labels: none

feat(s3-data): apply OCR-canonical Saison 3 data (skills, special rules, leagues)
  Makefile
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/scripts/update-skills-and-rules-from-ocr.ts
  apps/server/src/seed.ts
  apps/server/src/static-skills-data-s3.ts
  packages/game-engine/src/rosters/index.ts
  packages/game-engine/src/rosters/regional-leagues.ts
  packages/game-engine/src/rosters/team-special-rules.ts
  packages/game-engine/src/skills/index.ts
  prisma/migrations/20260501000000_add_team_special_rule_and_regional_league/migration.sql
  prisma/schema.prisma
Labels: game-engine, server

feat(s3-data): apply OCR-canonical Saison 3 data (skills, special rules, leagues) (#510)
  Makefile
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/scripts/update-skills-and-rules-from-ocr.ts
  apps/server/src/seed.ts
  apps/server/src/static-skills-data-s3.ts
  packages/game-engine/src/rosters/index.ts
  packages/game-engine/src/rosters/regional-leagues.ts
  packages/game-engine/src/rosters/team-special-rules.ts
  packages/game-engine/src/skills/index.ts
  prisma/migrations/20260501000000_add_team_special_rule_and_regional_league/migration.sql
  prisma/schema.prisma
Labels: game-engine, server

feat(coach-profile): CoachEloChart inline SVG curve on /coach/{slug} (S26.3n)
  apps/web/app/coach/[slug]/CoachEloChart.test.tsx
  apps/web/app/coach/[slug]/CoachEloChart.tsx
  apps/web/app/coach/[slug]/CoachProfileHeader.test.tsx
  apps/web/app/coach/[slug]/page.tsx
  apps/web/app/coach/[slug]/types.ts
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: web

feat(coach-profile): CoachEloChart inline SVG curve on /coach/{slug} (S26.3n) (#511)
  apps/web/app/coach/[slug]/CoachEloChart.test.tsx
  apps/web/app/coach/[slug]/CoachEloChart.tsx
  apps/web/app/coach/[slug]/CoachProfileHeader.test.tsx
  apps/web/app/coach/[slug]/page.tsx
  apps/web/app/coach/[slug]/types.ts
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: web

feat(coach-profile): export PDF coach-card on /coach/{slug} (S26.3o)
  apps/web/app/coach/[slug]/CoachExportPdfButton.test.tsx
  apps/web/app/coach/[slug]/CoachExportPdfButton.tsx
  apps/web/app/coach/[slug]/coachCardSections.test.ts
  apps/web/app/coach/[slug]/coachCardSections.ts
  apps/web/app/coach/[slug]/exportCoachCardPDF.ts
  apps/web/app/coach/[slug]/page.tsx
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: web

feat(coach-profile): export PDF coach-card on /coach/{slug} (S26.3o, closes S26.3) (#512)
  apps/web/app/coach/[slug]/CoachExportPdfButton.test.tsx
  apps/web/app/coach/[slug]/CoachExportPdfButton.tsx
  apps/web/app/coach/[slug]/coachCardSections.test.ts
  apps/web/app/coach/[slug]/coachCardSections.ts
  apps/web/app/coach/[slug]/exportCoachCardPDF.ts
  apps/web/app/coach/[slug]/page.tsx
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: web

feat(notifications): friend-match-started notification + user preference (S26.5)
  apps/server/src/schemas/push.schemas.ts
  apps/server/src/services/match-start.ts
  apps/server/src/services/notification-preferences.test.ts
  apps/server/src/services/notification-preferences.ts
  apps/server/src/services/notify-friend-match-started.test.ts
  apps/server/src/services/notify-friend-match-started.ts
  apps/server/src/services/push-notifications.test.ts
  apps/server/src/services/push-notifications.ts
  apps/server/src/services/push-preferences-routes.test.ts
  apps/web/app/components/NotificationPreferences.tsx
  apps/web/app/hooks/useNotificationPreferences.ts
  docs/roadmap/sprints/S26-retention-engagement.md
  prisma/migrations/20260503000000_add_friend_match_started_pref/migration.sql
  prisma/schema.prisma
Labels: web, server

chore(web): bump version 1.77.1 -> 1.80.0
  apps/web/public/version.json
Labels: web

feat(notifications): friend-match-started notification + user pref (S26.5) (#513)
  apps/server/src/schemas/push.schemas.ts
  apps/server/src/services/match-start.ts
  apps/server/src/services/notification-preferences.test.ts
  apps/server/src/services/notification-preferences.ts
  apps/server/src/services/notify-friend-match-started.test.ts
  apps/server/src/services/notify-friend-match-started.ts
  apps/server/src/services/push-notifications.test.ts
  apps/server/src/services/push-notifications.ts
  apps/server/src/services/push-preferences-routes.test.ts
  apps/web/app/components/NotificationPreferences.tsx
  apps/web/app/hooks/useNotificationPreferences.ts
  apps/web/public/version.json
  docs/roadmap/sprints/S26-retention-engagement.md
  prisma/migrations/20260503000000_add_friend_match_started_pref/migration.sql
  prisma/schema.prisma
Labels: web, server

feat(leagues): seasonal themes foundation on LeagueSeason (S26.6a)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/services/league-themes.test.ts
  apps/server/src/services/league-themes.ts
  apps/server/src/services/league.test.ts
  apps/server/src/services/league.ts
  docs/roadmap/sprints/S26-retention-engagement.md
  prisma/migrations/20260503100000_add_league_season_theme/migration.sql
  prisma/schema.prisma
Labels: server

feat(leagues): seasonal themes foundation on LeagueSeason (S26.6a) (#514)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/services/league-themes.test.ts
  apps/server/src/services/league-themes.ts
  apps/server/src/services/league.test.ts
  apps/server/src/services/league.ts
  docs/roadmap/sprints/S26-retention-engagement.md
  prisma/migrations/20260503100000_add_league_season_theme/migration.sql
  prisma/schema.prisma
Labels: server

feat(leagues): theme read endpoints + season creation theme propagation (S26.6b)
  apps/server/src/routes/league.test.ts
  apps/server/src/routes/league.ts
  apps/server/src/schemas/league.schemas.test.ts
  apps/server/src/schemas/league.schemas.ts
  apps/server/src/services/league.test.ts
  apps/server/src/services/league.ts
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: server

feat(leagues): theme read endpoints + season creation propagation (S26.6b) (#515)
  apps/server/src/routes/league.test.ts
  apps/server/src/routes/league.ts
  apps/server/src/schemas/league.schemas.test.ts
  apps/server/src/schemas/league.schemas.ts
  apps/server/src/services/league.test.ts
  apps/server/src/services/league.ts
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: server

feat(leagues): themed seasons calendar UI /leagues/seasons (S26.6c)
  apps/web/app/i18n/translations.ts
  apps/web/app/leagues/seasons/page.test.tsx
  apps/web/app/leagues/seasons/page.tsx
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: web

feat(leagues): themed seasons calendar UI /leagues/seasons (S26.6c) (#516)
  apps/web/app/i18n/translations.ts
  apps/web/app/leagues/seasons/page.test.tsx
  apps/web/app/leagues/seasons/page.tsx
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: web

feat(coach-profile): themed championships badge backend (S26.6d)
  apps/server/src/routes/coach.test.ts
  apps/server/src/routes/coach.ts
  apps/server/src/services/coach-championships.test.ts
  apps/server/src/services/coach-championships.ts
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: server

feat(coach-profile): themed championships badge backend (S26.6d) (#517)
  apps/server/src/routes/coach.test.ts
  apps/server/src/routes/coach.ts
  apps/server/src/services/coach-championships.test.ts
  apps/server/src/services/coach-championships.ts
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: server

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
