Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

feat(web): l'interrupteur « Édition avancée » replie vraiment, et le règlement affiche pool et budget verrouillés
  apps/web/app/me/teams/[id]/edit/PspPoolPanel.test.tsx
  apps/web/app/me/teams/[id]/edit/PspPoolPanel.tsx
  apps/web/app/me/teams/[id]/edit/page.tsx
  apps/web/app/me/teams/[id]/edit/psp-pool-client.ts
Labels: web

feat(web): bloc Star Players repliable sur l'édition d'un roster
  apps/web/app/me/teams/[id]/edit/TeamStarPlayersEditor.test.tsx
  apps/web/app/me/teams/[id]/edit/TeamStarPlayersEditor.tsx
Labels: web

feat(web): la fiche d'édition reste ouverte tant que l'équipe n'est pas entrée en jeu
  apps/server/src/routes/team-player-skills-handler.test.ts
  apps/server/src/routes/team-player-skills-handler.ts
  apps/server/src/routes/team-player-skills-pool.test.ts
  apps/web/app/me/teams/[id]/edit/edit-access.test.ts
  apps/web/app/me/teams/[id]/edit/edit-access.ts
  apps/web/app/me/teams/[id]/edit/page.tsx
Labels: web, server

chore: changeset pour l'édition d'un roster (compétences corrigeables, valeurs imposées)
  .changeset/edition-roster-competences-et-valeurs-imposees.md
Labels: none

Édition d'un roster : compétences corrigeables, bloc Star Players repliable, valeurs imposées par le règlement (#1004)
  .changeset/edition-roster-competences-et-valeurs-imposees.md
  apps/server/src/routes/team-admin-edit-access.test.ts
  apps/server/src/routes/team-advancement-handlers.ts
  apps/server/src/routes/team-player-handlers.ts
  apps/server/src/routes/team-player-skills-handler.test.ts
  apps/server/src/routes/team-player-skills-handler.ts
  apps/server/src/routes/team-player-skills-pool.test.ts
  apps/server/src/routes/team.test.ts
  apps/server/src/routes/team.ts
  apps/server/src/schemas/team.schemas.ts
  apps/server/src/services/team-advancement-editing.test.ts
  apps/server/src/services/team-advancement-editing.ts
  apps/server/src/services/team-edit-access.ts
  apps/server/src/services/team-lock-status.test.ts
  apps/server/src/services/team-lock-status.ts
  apps/web/app/me/teams/[id]/edit/PspPoolPanel.test.tsx
  apps/web/app/me/teams/[id]/edit/PspPoolPanel.tsx
  apps/web/app/me/teams/[id]/edit/TeamStarPlayersEditor.test.tsx
  apps/web/app/me/teams/[id]/edit/TeamStarPlayersEditor.tsx
  apps/web/app/me/teams/[id]/edit/edit-access.test.ts
  apps/web/app/me/teams/[id]/edit/edit-access.ts
  apps/web/app/me/teams/[id]/edit/page.tsx
  apps/web/app/me/teams/[id]/edit/psp-pool-client.ts
Labels: web, server

fix(dice): faces officielles du de de blocage et ordre repousser/plaquer
  .changeset/des-de-blocage-faces-officielles.md
  apps/mobile/lib/translations/en.ts
  apps/mobile/lib/translations/fr.ts
  apps/web/app/compendium/data/rules-bb-2025.json
  apps/web/app/components/home/BlockDiceRoller.tsx
  apps/web/app/components/home/NuffleArt.tsx
  apps/web/app/components/home/block-dice-faces-consistency.test.ts
  apps/web/app/components/home/block-dice-faces.ts
  apps/web/public/images/blocking_dice/README.md
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/block-defender-down-order.test.ts
  packages/game-engine/src/mechanics/block-dice-faces.test.ts
  packages/game-engine/src/mechanics/block-dice-faces.ts
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/utils/dice.ts
  packages/sim-engine/src/resolvers/block.ts
  packages/sim-engine/src/resolvers/resolvers.test.ts
  packages/ui/src/components/BlockDiceIcon.tsx
  packages/ui/src/components/DiceNotification.tsx
  packages/ui/src/components/DiceTestComponent.tsx
  packages/ui/src/components/GameLog.tsx
  packages/ui/src/popups/BlockChoicePopup.tsx
  packages/ui/src/tests/BlockDiceIcon.test.tsx
  tests/ui/BlockDiceIcon.test.tsx
Labels: packages-ui, game-engine, web, mobile

chore(dice): supprime player_down_2.png, doublon de face inexistante
  apps/web/public/images/blocking_dice/README.md
  apps/web/public/images/blocking_dice/player_down_2.png
Labels: web

test(server): fige VE/VEA de l'equipe Ogre a 16 joueurs
  apps/server/src/utils/team-values-ogre-cerfs-violents.test.ts
Labels: server

fix(web): expliquer l'ecart VE -> VEA sur la page publique de partage
  .changeset/vea-ecart-page-publique.md
  apps/web/app/r/[token]/page.render.test.tsx
  apps/web/app/r/[token]/page.tsx
Labels: web

fix(sim-engine): re-snapshot du bench apres unification des faces du de
  .changeset/des-de-blocage-faces-officielles.md
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/src/types.ts
Labels: none

fix(dice): faces officielles du dé de blocage et ordre « repousser puis plaquer » (#1005)
  .changeset/des-de-blocage-faces-officielles.md
  apps/mobile/lib/translations/en.ts
  apps/mobile/lib/translations/fr.ts
  apps/web/app/compendium/data/rules-bb-2025.json
  apps/web/app/components/home/BlockDiceRoller.tsx
  apps/web/app/components/home/NuffleArt.tsx
  apps/web/app/components/home/block-dice-faces-consistency.test.ts
  apps/web/app/components/home/block-dice-faces.ts
  apps/web/public/images/blocking_dice/README.md
  apps/web/public/images/blocking_dice/player_down_2.png
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/block-defender-down-order.test.ts
  packages/game-engine/src/mechanics/block-dice-faces.test.ts
  packages/game-engine/src/mechanics/block-dice-faces.ts
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/utils/dice.ts
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/src/resolvers/block.ts
  packages/sim-engine/src/resolvers/resolvers.test.ts
  packages/sim-engine/src/types.ts
  packages/ui/src/components/BlockDiceIcon.tsx
  packages/ui/src/components/DiceNotification.tsx
  packages/ui/src/components/DiceTestComponent.tsx
  packages/ui/src/components/GameLog.tsx
  packages/ui/src/popups/BlockChoicePopup.tsx
  packages/ui/src/tests/BlockDiceIcon.test.tsx
  tests/ui/BlockDiceIcon.test.tsx
Labels: packages-ui, game-engine, web, mobile

chore(release): 1.240.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  48919716592ab026b60777ac70ae109bf13b2c2b
Labels: none

Page publique d'un roster : expliquer l'écart entre la VE et la VE actuelle (#1006)
  .changeset/vea-ecart-page-publique.md
  apps/server/src/utils/team-values-ogre-cerfs-violents.test.ts
  apps/web/app/r/[token]/page.render.test.tsx
  apps/web/app/r/[token]/page.tsx
Labels: web, server

docs(openspec): change « Repousse avant Plaquage » pour le blocage
  openspec/changes/fix-block-push-then-knockdown-order/design.md
  openspec/changes/fix-block-push-then-knockdown-order/proposal.md
  openspec/changes/fix-block-push-then-knockdown-order/specs/block-resolution/spec.md
  openspec/changes/fix-block-push-then-knockdown-order/tasks.md
Labels: none

fix(fdm): accepter l'évolution stagée d'un journalier
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
Labels: server

fix(fdm): créditer les PSP de Joueur du Match à un journalier sans autre stat
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-sheet-journeymen.test.ts
  apps/server/src/services/league-sheet-journeymen.ts
  apps/server/src/services/league-sheet-star-players.test.ts
  apps/server/src/services/league-sheet-star-players.ts
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/SheetAdvancementsEditor.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/SheetAdvancementsEditor.tsx
Labels: web, server

feat(fdm): tirage « Compétence Principale au hasard » pour un journalier
  apps/server/src/routes/league.ts
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-sheet-journeymen.test.ts
  apps/server/src/services/league-sheet-journeymen.ts
Labels: server

fix(fdm): vérifier et tracer l'évolution d'un journalier à la validation
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-sheet-journeyman-advancements.test.ts
  apps/server/src/services/league-sheet-journeyman-advancements.ts
  apps/server/src/services/league-sheet-journeymen.test.ts
  apps/server/src/services/league-sheet-journeymen.ts
Labels: server

feat(fdm): proposer la catégorie « Hasard » aux journaliers dans l'éditeur
  apps/web/app/components/AdvancementEditor.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/SheetAdvancementsEditor.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/SheetAdvancementsEditor.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
Labels: web

fix(fdm): re-figer les journaliers et la VEA quand leur poste change
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-sheet-journeymen.test.ts
  apps/server/src/services/league-sheet-journeymen.ts
Labels: server

docs(changeset): journaliers de la feuille — poste, évolutions, tirage « Hasard »
  .changeset/fdm-journaliers-poste-evolutions-hasard.md
  CLAUDE.md
Labels: none

FDM : journaliers — poste re-figé, évolutions acceptées et tracées, tirage « Hasard » (#1008)
  .changeset/fdm-journaliers-poste-evolutions-hasard.md
  CLAUDE.md
  apps/server/src/routes/league.ts
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-sheet-journeyman-advancements.test.ts
  apps/server/src/services/league-sheet-journeyman-advancements.ts
  apps/server/src/services/league-sheet-journeymen.test.ts
  apps/server/src/services/league-sheet-journeymen.ts
  apps/server/src/services/league-sheet-star-players.test.ts
  apps/server/src/services/league-sheet-star-players.ts
  apps/web/app/components/AdvancementEditor.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/SheetAdvancementsEditor.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/SheetAdvancementsEditor.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
Labels: web, server

fix(fdm): contrôler l'amélioration de caractéristique d'un journalier
  apps/server/src/services/league-sheet-journeyman-advancements.test.ts
  apps/server/src/services/league-sheet-journeyman-advancements.ts
  apps/server/src/services/league-sheet-journeymen.test.ts
  apps/server/src/services/league-sheet-journeymen.ts
Labels: server

docs(changeset): journaliers — caractéristique contrôlée et re-gel sur les postes bakés
  .changeset/fdm-journaliers-caracteristique-regel.md
  CLAUDE.md
Labels: none

fix(fdm): re-geler à partir des journaliers BAKÉS, pas du choix stocké
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-sheet-journeymen.test.ts
  apps/server/src/services/league-sheet-journeymen.ts
Labels: server

FDM : journaliers (suite) — caractéristique contrôlée et bornée, re-gel sur les postes bakés (#1009)
  .changeset/fdm-journaliers-caracteristique-regel.md
  CLAUDE.md
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-sheet-journeyman-advancements.test.ts
  apps/server/src/services/league-sheet-journeyman-advancements.ts
  apps/server/src/services/league-sheet-journeymen.test.ts
  apps/server/src/services/league-sheet-journeymen.ts
Labels: server

fix(fdm): débiter le prix recalculé du journalier recruté, et ne servir que la Ligue retenue dans la section Ligue
  .changeset/fdm-journalier-prix-debite-ligue-retenue.md
  CLAUDE.md
  apps/server/src/index.ts
  apps/server/src/routes/league-roster-view.test.ts
  apps/server/src/routes/league.ts
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/roster-regional-rules.test.ts
  apps/server/src/services/roster-regional-rules.ts
  apps/web/app/leagues/[id]/teams/[teamId]/page.tsx
  tests/e2e-api/helpers/factories.ts
  tests/e2e-api/specs/leagues-sheet-journeymen-orc.spec.ts
Labels: web, server

Journalier recruté : prix recalculé débité, Ligue retenue affichée (#1010)
  .changeset/fdm-journalier-prix-debite-ligue-retenue.md
  CLAUDE.md
  apps/server/src/index.ts
  apps/server/src/routes/league-roster-view.test.ts
  apps/server/src/routes/league.ts
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/roster-regional-rules.test.ts
  apps/server/src/services/roster-regional-rules.ts
  apps/web/app/leagues/[id]/teams/[teamId]/page.tsx
  tests/e2e-api/helpers/factories.ts
  tests/e2e-api/specs/leagues-sheet-journeymen-orc.spec.ts
Labels: web, server

chore(release): 1.241.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  32303870bb1e528a59c7fe8a6e150b2262f83cde
Labels: none

docs(openspec): change « notifications internes & cycle de vie des compétitions »
  openspec/changes/notifications-and-competition-lifecycle/design.md
  openspec/changes/notifications-and-competition-lifecycle/proposal.md
  openspec/changes/notifications-and-competition-lifecycle/specs/competition-lifecycle/spec.md
  openspec/changes/notifications-and-competition-lifecycle/specs/in-app-notifications/spec.md
  openspec/changes/notifications-and-competition-lifecycle/specs/league-status-lifecycle/spec.md
  openspec/changes/notifications-and-competition-lifecycle/tasks.md
Labels: none

feat(prisma): modèle Notification (notifications internes) + miroir sqlite
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  prisma/schema.prisma
Labels: server

feat(notifications): service in-app + routes /notifications
  apps/server/src/index.ts
  apps/server/src/routes/notifications.test.ts
  apps/server/src/routes/notifications.ts
  apps/server/src/schemas/notifications.schemas.ts
  apps/server/src/services/in-app-notifications.test.ts
  apps/server/src/services/in-app-notifications.ts
Labels: server

feat(notifications): historique interne sur les évènements existants
  apps/server/src/services/cup-invitation-notify.test.ts
  apps/server/src/services/cup-invitation-notify.ts
  apps/server/src/services/friendship.test.ts
  apps/server/src/services/friendship.ts
  apps/server/src/services/league-invitation-notify.test.ts
  apps/server/src/services/league-invitation-notify.ts
  apps/server/src/services/push-notifications.test.ts
  apps/server/src/services/push-notifications.ts
Labels: server

feat(competitions): archivage et suppression par le commissaire (ligue, coupe)
  apps/server/src/index.ts
  apps/server/src/routes/competition-lifecycle.test.ts
  apps/server/src/routes/competition-lifecycle.ts
  apps/server/src/services/competition-lifecycle.test.ts
  apps/server/src/services/competition-lifecycle.ts
  openspec/changes/notifications-and-competition-lifecycle/design.md
  openspec/changes/notifications-and-competition-lifecycle/specs/competition-lifecycle/spec.md
Labels: server

feat(web): page /me/notifications, cloche et compteur de non lus dans le menu
  apps/web/app/AuthBar.test.tsx
  apps/web/app/AuthBar.tsx
  apps/web/app/components/ClientLayout.tsx
  apps/web/app/components/Header.notifications.test.tsx
  apps/web/app/components/Header.tsx
  apps/web/app/components/NotificationsBell.test.tsx
  apps/web/app/components/NotificationsBell.tsx
  apps/web/app/contexts/NotificationsContext.test.tsx
  apps/web/app/contexts/NotificationsContext.tsx
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/me/notifications/format.test.ts
  apps/web/app/me/notifications/format.ts
  apps/web/app/me/notifications/page.test.tsx
  apps/web/app/me/notifications/page.tsx
Labels: web

feat(web): archiver et supprimer une ligue ou une coupe depuis sa page
  apps/web/app/components/CompetitionLifecyclePanel.test.tsx
  apps/web/app/components/CompetitionLifecyclePanel.tsx
  apps/web/app/cups/[id]/page.tsx
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/leagues/[id]/page.lifecycle.test.tsx
  apps/web/app/leagues/[id]/page.tsx
Labels: web

chore(db): régénère le client Prisma SQLite (modèle Notification)
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
Labels: server

test(e2e-api): notifications internes et cycle de vie des compétitions
  tests/e2e-api/specs/competition-lifecycle.spec.ts
  tests/e2e-api/specs/notifications.spec.ts
Labels: none

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
