Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

Notes added by 'git notes add'
  6ca45462c01e7e8256a3336b178e09fa99657a86
Labels: none

fix(e2e-ui): stabilise gazette empty/archive avec .or() au lieu de isVisible
  tests/e2e-ui/specs/pro-league-fan-flow.spec.ts
Labels: none

chore(release): 1.138.4 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  311f76f388b49226a0b2482473fd0eede0fc9f42
Labels: none

fix(deploy): bypass corrupted global git config for deployment
  .github/workflows/deploy.yml
Labels: none

chore(release): 1.138.5 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  bf0d6cd4224ac68919f99617ccdfb1ad5885b219
Labels: none

fix(deploy): repair corrupted global git config in deployment workflow
  .github/workflows/deploy.yml
Labels: none

chore(release): 1.138.6 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  ebfb1ad6dfcd6793905a0c058116012ea7925257
Labels: none

fix(deploy): add safe.directory configuration to deployment workflow
  .github/workflows/deploy.yml
Labels: none

chore(release): 1.138.7 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  1204140f74c1b7230b1f2565a0e78223b0c0ee3d
Labels: none

feat(makefile): enhance NFL bootstrap process with Docker support
  Makefile
  docs/nfl-fantasy/30-prod-bootstrap.md
Labels: none

refactor(nfl-ingest): clarify NflPlayer upsert logic and pseudonym handling
  apps/server/src/services/nfl-ingest.ts
Labels: server

chore(release): 1.139.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  5457b441fb31d1ecf61ac95fd5c5e31940a4a01d
Labels: none

feat(nfl-fantasy): add Nuffle Coach feature with player catalog and draft functionality
  apps/server/src/index.ts
  apps/server/src/routes/nfl-fantasy-players.ts
  apps/server/src/seed.ts
  apps/server/src/services/featureFlags.ts
  apps/web/app/components/Header.tsx
  apps/web/app/lib/featureFlagKeys.ts
  apps/web/app/nfl-fantasy/about/page.tsx
  apps/web/app/nfl-fantasy/layout.tsx
  apps/web/app/nfl-fantasy/leagues/[id]/draft/page.tsx
  apps/web/app/nfl-fantasy/leagues/[id]/page.tsx
  apps/web/app/nfl-fantasy/leagues/[id]/standings/page.tsx
  apps/web/app/nfl-fantasy/players/[id]/page.tsx
  apps/web/app/nfl-fantasy/players/page.tsx
Labels: web, server

refactor(nfl-fantasy): update layout and styling for Nuffle Coach pages
  apps/web/app/nfl-fantasy/about/page.tsx
  apps/web/app/nfl-fantasy/join/page.tsx
  apps/web/app/nfl-fantasy/layout.tsx
  apps/web/app/nfl-fantasy/leagues/[id]/draft/page.tsx
  apps/web/app/nfl-fantasy/leagues/[id]/lineup/page.tsx
  apps/web/app/nfl-fantasy/leagues/[id]/matchups/page.tsx
  apps/web/app/nfl-fantasy/leagues/[id]/page.tsx
  apps/web/app/nfl-fantasy/leagues/[id]/standings/page.tsx
  apps/web/app/nfl-fantasy/new/page.tsx
  apps/web/app/nfl-fantasy/page.tsx
  apps/web/app/nfl-fantasy/players/[id]/page.tsx
  apps/web/app/nfl-fantasy/players/page.tsx
Labels: web

feat(nfl-fantasy): update draft mode and enhance league creation page
  apps/web/app/nfl-fantasy/about/page.tsx
  apps/web/app/nfl-fantasy/leagues/[id]/draft/page.tsx
  apps/web/app/nfl-fantasy/new/page.tsx
Labels: web

chore(release): 1.140.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  2b5acf523dc7f75b602f2b4892ed3c99b6ad46d7
Labels: none

feat(nfl-fantasy): enhance draft session and league creation features
  apps/server/src/index.ts
  apps/server/src/routes/nfl-fantasy-leagues.ts
  apps/server/src/services/nfl-fantasy-cron.test.ts
  apps/server/src/services/nfl-fantasy-cron.ts
  apps/server/src/services/nfl-fantasy-league.test.ts
  apps/server/src/services/nfl-fantasy-league.ts
  apps/web/app/nfl-fantasy/new/page.tsx
Labels: web, server

feat(nfl-fantasy): implement draft session routes and enhance player bidding functionality
  apps/server/src/index.ts
  apps/server/src/routes/nfl-fantasy-draft-sessions.ts
  apps/server/src/routes/nfl-fantasy-players.ts
  apps/server/src/services/nfl-fantasy-draft-session.test.ts
  apps/server/src/services/nfl-fantasy-draft-session.ts
  apps/server/src/utils/nfl-error-mapper.ts
  apps/web/app/nfl-fantasy/about/page.tsx
  apps/web/app/nfl-fantasy/leagues/[id]/draft/page.tsx
  apps/web/app/nfl-fantasy/new/page.tsx
  apps/web/app/nfl-fantasy/types.ts
  prisma/schema.prisma
Labels: web, server

chore(release): 1.141.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  2e17059bcec09c938901aff794de95b1aee7e0ba
Labels: none

feat(nfl-fantasy): implement dynamic player valuation and selling functionality
  apps/server/src/routes/nfl-fantasy-entries.ts
  apps/server/src/routes/nfl-fantasy-players.ts
  apps/server/src/services/nfl-fantasy-cron.ts
  apps/server/src/services/nfl-fantasy-draft-session.ts
  apps/server/src/services/nfl-fantasy-player-value.test.ts
  apps/server/src/services/nfl-fantasy-player-value.ts
  apps/server/src/services/nfl-fantasy-roster.ts
  apps/server/src/utils/nfl-error-mapper.ts
  apps/web/app/nfl-fantasy/leagues/[id]/draft/page.tsx
  apps/web/app/nfl-fantasy/players/[id]/page.tsx
  apps/web/app/nfl-fantasy/players/page.tsx
  prisma/schema.prisma
Labels: web, server

feat(nfl-fantasy): add public leagues feature and update terminology
  apps/server/src/routes/nfl-fantasy-leagues.ts
  apps/server/src/services/nfl-fantasy-league.ts
  apps/web/app/components/Header.tsx
  apps/web/app/nfl-fantasy/join/page.tsx
  apps/web/app/nfl-fantasy/layout.tsx
  apps/web/app/nfl-fantasy/leagues/[id]/draft/page.tsx
  apps/web/app/nfl-fantasy/leagues/[id]/lineup/page.tsx
  apps/web/app/nfl-fantasy/leagues/[id]/matchups/page.tsx
  apps/web/app/nfl-fantasy/leagues/[id]/page.tsx
  apps/web/app/nfl-fantasy/leagues/[id]/standings/page.tsx
  apps/web/app/nfl-fantasy/new/page.tsx
  apps/web/app/nfl-fantasy/page.tsx
  apps/web/app/nfl-fantasy/public/page.tsx
Labels: web, server

feat(nfl-fantasy): introduce season cycles for league management
  apps/server/src/index.ts
  apps/server/src/routes/nfl-fantasy-cycles.ts
  apps/server/src/routes/nfl-fantasy-leagues.ts
  apps/server/src/services/nfl-fantasy-league.test.ts
  apps/server/src/services/nfl-fantasy-league.ts
  apps/server/src/services/nfl-fantasy-season-cycle.test.ts
  apps/server/src/services/nfl-fantasy-season-cycle.ts
  apps/server/src/services/nfl-ingest.test.ts
  apps/server/src/services/nfl-ingest.ts
  apps/server/src/utils/nfl-error-mapper.ts
  apps/web/app/nfl-fantasy/leagues/[id]/draft/page.tsx
  apps/web/app/nfl-fantasy/leagues/[id]/page.tsx
  apps/web/app/nfl-fantasy/new/page.tsx
  apps/web/app/nfl-fantasy/page.tsx
  apps/web/app/nfl-fantasy/public/page.tsx
  apps/web/app/nfl-fantasy/types.ts
  prisma/schema.prisma
Labels: web, server

chore(release): 1.142.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  52a7a8e4919a9c1745e841c2bbc0ad3ea76bcefd
Labels: none

feat(nfl-fantasy): add Nuffle Coach test flag for enhanced league creation
  apps/server/src/routes/nfl-fantasy-leagues.ts
  apps/server/src/seed.ts
  apps/server/src/services/featureFlags.ts
  apps/server/src/services/nfl-fantasy-league.ts
  apps/server/src/services/nfl-fantasy-season-cycle.test.ts
  apps/server/src/services/nfl-fantasy-season-cycle.ts
  apps/web/app/lib/featureFlagKeys.ts
  apps/web/app/nfl-fantasy/new/page.tsx
Labels: web, server

feat(nfl-fantasy): enhance league management with test coach population feature
  apps/server/src/index.ts
  apps/server/src/routes/nfl-fantasy-leagues.ts
  apps/server/src/routes/nfl-fantasy-players.ts
  apps/server/src/routes/nfl-fantasy-teams.ts
  apps/server/src/services/nfl-fantasy-admin-explorer.ts
  apps/server/src/services/nfl-fantasy-league.test.ts
  apps/server/src/services/nfl-fantasy-league.ts
  apps/web/app/lib/api-client.ts
  apps/web/app/nfl-fantasy/leagues/[id]/draft/page.tsx
  apps/web/app/nfl-fantasy/leagues/[id]/page.tsx
Labels: web, server

chore(release): 1.143.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  69390662f0a6eb7869c36881c79b84da698d7ffd
Labels: none

feat(admin-data): enhance skill resolution for positions
  apps/server/src/routes/admin-data.ts
  apps/web/app/admin/data/positions/[id]/edit/page.tsx
  apps/web/app/admin/data/positions/new/page.tsx
Labels: web, server

feat(admin-data): improve position duplication with skill mapping
  apps/server/src/routes/admin-data.ts
Labels: server

chore(release): 1.144.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  f7a4bd77d96f8f13115e575c0d4a3eaaa690b2b0
Labels: none

feat(blog): add errata image for May 2026 blog post
  apps/web/public/images/blog/errata-05-2026.png
Labels: web

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
