Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

chore: changeset pour le logo à la création d'équipe
  .changeset/logo-equipe-a-la-creation.md
Labels: none

Logo d'équipe dès la création depuis le roster (#972)
  .changeset/logo-equipe-a-la-creation.md
  apps/web/app/me/teams/components/TeamLogoPicker.test.tsx
  apps/web/app/me/teams/components/TeamLogoPicker.tsx
  apps/web/app/me/teams/components/TeamLogoUploader.tsx
  apps/web/app/me/teams/components/team-logo-client.ts
  apps/web/app/me/teams/new/page.logo.test.tsx
  apps/web/app/me/teams/new/page.tsx
Labels: web

fix(e2e): cout de staff derive du bareme + options de Ligue dans le builder
  .changeset/e2e-cout-staff-derive.md
  apps/web/app/me/teams/new/page.tsx
  tests/e2e-ui/helpers/api-seed.ts
  tests/e2e-ui/pages/TeamBuilderPage.ts
  tests/e2e-ui/specs/team-creation.spec.ts
Labels: web

E2E UI : coût de staff dérivé du barème (E2E rouge sur main depuis #964) (#974)
  .changeset/e2e-cout-staff-derive.md
  apps/web/app/me/teams/new/page.tsx
  tests/e2e-ui/helpers/api-seed.ts
  tests/e2e-ui/pages/TeamBuilderPage.ts
  tests/e2e-ui/specs/team-creation.spec.ts
Labels: web

refactor(web): extraire StaffRow en composant partage
  apps/web/app/me/teams/components/StaffRow.tsx
  apps/web/app/me/teams/new/page.tsx
Labels: web

fix(web): panneau staff de l'edition base sur la config roster x format
  apps/web/app/me/teams/[id]/edit/page.tsx
  apps/web/app/me/teams/components/TeamInfoEditor.test.tsx
  apps/web/app/me/teams/components/TeamInfoEditor.tsx
Labels: web

fix(web): resume budgetaire de l'edition aligne sur la regle serveur
  apps/web/app/me/teams/[id]/edit/page.tsx
  apps/web/app/me/teams/components/TeamInfoEditor.test.tsx
  apps/web/app/me/teams/components/TeamInfoEditor.tsx
  apps/web/app/me/teams/staff-cost.test.ts
  apps/web/app/me/teams/staff-cost.ts
Labels: web

fix(web): corriger le bloc "Informations importantes" de l'edition
  apps/web/app/me/teams/[id]/edit/important-notes.test.ts
  apps/web/app/me/teams/[id]/edit/important-notes.ts
  apps/web/app/me/teams/[id]/edit/page.tsx
Labels: web

fix(server): PUT /team/:id/info valide le staff contre la config du roster
  apps/server/src/routes/team-info-staff-caps.test.ts
  apps/server/src/routes/team-mutation-handlers.ts
  apps/server/src/schemas/team.schemas.ts
Labels: server

fix(server): available-positions plafonne selon le format de l'equipe
  apps/server/src/routes/team-player-handlers.ts
  apps/server/src/routes/team.test.ts
Labels: server

fix(web): le resume budgetaire suit le staff en cours d'edition
  apps/server/prisma/sqlite/memdb1
  apps/web/app/me/teams/[id]/edit/page.tsx
  apps/web/app/me/teams/components/TeamInfoEditor.test.tsx
  apps/web/app/me/teams/components/TeamInfoEditor.tsx
Labels: web, server

chore(changeset): edition d'equipe - couts et plafonds de staff
  .changeset/edition-equipe-staff-couts.md
  apps/web/public/version.json
Labels: web

fix(teams): aligne le choix de Ligue régionale sur les Ligues du roster
  CLAUDE.md
  apps/server/src/routes/admin-data.ts
  apps/server/src/routes/public-rosters.test.ts
  apps/server/src/routes/public-rosters.ts
  apps/server/src/routes/star-players.ts
  apps/server/src/routes/team-build-handler.ts
  apps/server/src/routes/team-create-from-roster-handler.ts
  apps/server/src/services/roster-regional-rules.test.ts
  apps/server/src/services/roster-regional-rules.ts
  apps/server/src/services/team-regional-league.test.ts
  apps/server/src/services/team-regional-league.ts
  apps/server/src/utils/roster-helpers.ts
  packages/game-engine/src/rosters/regional-league-choice.test.ts
  packages/game-engine/src/rosters/regional-league-choice.ts
Labels: game-engine, server

test(e2e-api): plafonds de staff verifies dans le handler, plus dans Zod
  tests/e2e-api/specs/team-write-validation.spec.ts
Labels: none

chore(changeset): ligue régionale suit les Ligues déclarées du roster
  .changeset/ligue-regionale-suit-le-roster.md
Labels: none

Édition d'équipe : coûts et plafonds de staff issus du roster en base, résumé budgétaire cohérent (#975)
  .changeset/edition-equipe-staff-couts.md
  apps/server/prisma/sqlite/memdb1
  apps/server/src/routes/team-info-staff-caps.test.ts
  apps/server/src/routes/team-mutation-handlers.ts
  apps/server/src/routes/team-player-handlers.ts
  apps/server/src/routes/team.test.ts
  apps/server/src/schemas/team.schemas.ts
  apps/web/app/me/teams/[id]/edit/important-notes.test.ts
  apps/web/app/me/teams/[id]/edit/important-notes.ts
  apps/web/app/me/teams/[id]/edit/page.tsx
  apps/web/app/me/teams/components/StaffRow.tsx
  apps/web/app/me/teams/components/TeamInfoEditor.test.tsx
  apps/web/app/me/teams/components/TeamInfoEditor.tsx
  apps/web/app/me/teams/new/page.tsx
  apps/web/app/me/teams/staff-cost.test.ts
  apps/web/app/me/teams/staff-cost.ts
  apps/web/public/version.json
  tests/e2e-api/specs/team-write-validation.spec.ts
Labels: web, server

chore(release): 1.235.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  fb00545604f189f0d0200a5282b1bd2ed3629556
Labels: none

fix(web): applique les paramètres d'URL du builder après l'hydratation
  apps/web/app/me/teams/new/builder-url-params.test.ts
  apps/web/app/me/teams/new/builder-url-params.ts
  apps/web/app/me/teams/new/page.tsx
  apps/web/app/me/teams/new/page.url-params.test.tsx
Labels: web

feat(web): interrupteur stylé pour l'édition avancée du builder
  apps/web/app/me/teams/new/page.tsx
Labels: web

fix(web): déduit les Star Players du budget restant du builder
  apps/web/app/components/StarPlayerSelector.tsx
  apps/web/app/me/teams/new/page.star-players-budget.test.tsx
  apps/web/app/me/teams/new/page.tsx
Labels: web

fix(star-players): filtre les recrues sur la Ligue régionale choisie
  apps/server/src/routes/star-players-available-regional-league.test.ts
  apps/server/src/routes/star-players.ts
  apps/web/app/components/StarPlayerSelector.regional-league.test.tsx
  apps/web/app/components/StarPlayerSelector.tsx
  apps/web/app/me/teams/new/page.tsx
Labels: web, server

fix(web): rend le choix de Ligue régionale bloquant dans le builder
  apps/web/app/components/RegionalLeaguePicker.tsx
  apps/web/app/me/teams/new/page.regional-league.test.tsx
  apps/web/app/me/teams/new/page.tsx
Labels: web

feat(web): affiche les Star Players et leur coût sur la fiche d'équipe
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/me/teams/components/StarPlayersPanel.test.tsx
  apps/web/app/me/teams/components/StarPlayersPanel.tsx
  apps/web/app/me/teams/components/TeamInfoDisplay.test.tsx
  apps/web/app/me/teams/components/TeamInfoDisplay.tsx
Labels: web

chore: changeset pour les correctifs builder / Star Players
  .changeset/builder-star-players-ligue-regionale.md
Labels: none

fix(web): correctifs du builder d'équipe et des Star Players (#977)
  .changeset/builder-star-players-ligue-regionale.md
  apps/server/src/routes/star-players-available-regional-league.test.ts
  apps/server/src/routes/star-players.ts
  apps/web/app/components/RegionalLeaguePicker.tsx
  apps/web/app/components/StarPlayerSelector.regional-league.test.tsx
  apps/web/app/components/StarPlayerSelector.tsx
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/me/teams/components/StarPlayersPanel.test.tsx
  apps/web/app/me/teams/components/StarPlayersPanel.tsx
  apps/web/app/me/teams/components/TeamInfoDisplay.test.tsx
  apps/web/app/me/teams/components/TeamInfoDisplay.tsx
  apps/web/app/me/teams/new/builder-url-params.test.ts
  apps/web/app/me/teams/new/builder-url-params.ts
  apps/web/app/me/teams/new/page.regional-league.test.tsx
  apps/web/app/me/teams/new/page.star-players-budget.test.tsx
  apps/web/app/me/teams/new/page.tsx
  apps/web/app/me/teams/new/page.url-params.test.tsx
Labels: web, server

chore(release): 1.235.2 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  67dac5e9b2d0333d39a55d2dccab69db45493b92
Labels: none

feat(compendium): publier les 7 règles spéciales d'équipe
  apps/web/app/compendium/data/rules-bb-2025.json
  apps/web/app/compendium/team-rules-consistency.test.ts
Labels: web

fix(teams): afficher l'alignement Favori de… gagné via la Ligue régionale
  apps/server/src/routes/public-rosters.ts
  apps/server/src/routes/team-selection-handlers.ts
  apps/server/src/services/team-special-rules.test.ts
  apps/server/src/services/team-special-rules.ts
  apps/web/app/me/teams/[id]/page.tsx
  packages/game-engine/src/rosters/index.ts
  packages/game-engine/src/rosters/team-special-rules-resolution.test.ts
  packages/game-engine/src/rosters/team-special-rules-resolution.ts
Labels: game-engine, web, server

feat(builder): refonte UX/UI du choix des compétences au build
  apps/web/app/me/teams/new/BuildAdvancementAllocator.test.tsx
  apps/web/app/me/teams/new/BuildAdvancementAllocator.tsx
  apps/web/app/me/teams/new/SkillPickerSheet.tsx
  apps/web/app/me/teams/new/build-advancement-rules.test.ts
  apps/web/app/me/teams/new/build-advancement-rules.ts
Labels: web

feat(builder): appliquer le règlement de tournoi aux améliorations au build
  apps/web/app/me/teams/new/BuildAdvancementAllocator.tournament.test.tsx
  apps/web/app/me/teams/new/build-advancement-rules.tournament.test.ts
  apps/web/app/me/teams/new/page.tsx
Labels: web

style(builder): finitions mobile de l'allocateur d'améliorations
  apps/web/app/me/teams/new/BuildAdvancementAllocator.tsx
  apps/web/app/me/teams/new/SkillPickerSheet.tsx
  apps/web/app/me/teams/new/page.tsx
Labels: web

chore(changeset): compendium, alignement Favori de… et sélecteur de compétences du builder
  .changeset/builder-choix-competences.md
  .changeset/compendium-regles-speciales-completes.md
  .changeset/favori-de-ligue-regionale.md
  apps/web/public/version.json
Labels: web

Règles spéciales complètes, alignement Favori de… et refonte du choix des compétences au build (#978)
  .changeset/builder-choix-competences.md
  .changeset/compendium-regles-speciales-completes.md
  .changeset/favori-de-ligue-regionale.md
  apps/server/src/routes/public-rosters.ts
  apps/server/src/routes/team-selection-handlers.ts
  apps/server/src/services/team-special-rules.test.ts
  apps/server/src/services/team-special-rules.ts
  apps/web/app/compendium/data/rules-bb-2025.json
  apps/web/app/compendium/team-rules-consistency.test.ts
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/me/teams/new/BuildAdvancementAllocator.test.tsx
  apps/web/app/me/teams/new/BuildAdvancementAllocator.tournament.test.tsx
  apps/web/app/me/teams/new/BuildAdvancementAllocator.tsx
  apps/web/app/me/teams/new/SkillPickerSheet.tsx
  apps/web/app/me/teams/new/build-advancement-rules.test.ts
  apps/web/app/me/teams/new/build-advancement-rules.tournament.test.ts
  apps/web/app/me/teams/new/build-advancement-rules.ts
  apps/web/app/me/teams/new/page.tsx
  apps/web/public/version.json
  packages/game-engine/src/rosters/index.ts
  packages/game-engine/src/rosters/team-special-rules-resolution.test.ts
  packages/game-engine/src/rosters/team-special-rules-resolution.ts
Labels: game-engine, web, server

feat(tournament): facturer le surcoût Élite du règlement de tournoi
  apps/server/src/routes/team-build-handler.ts
  apps/server/src/routes/team-build-tournament-ruleset.test.ts
  apps/web/app/me/teams/new/BuildAdvancementAllocator.tournament.test.tsx
  apps/web/app/me/teams/new/BuildAdvancementAllocator.tsx
  apps/web/app/me/teams/new/build-advancement-rules.tournament.test.ts
  apps/web/app/me/teams/new/build-advancement-rules.ts
  packages/game-engine/src/rosters/index.ts
  packages/game-engine/src/rosters/tournament-rulesets.test.ts
  packages/game-engine/src/rosters/tournament-rulesets.ts
Labels: game-engine, web, server

feat(tournament): exiger l'effectif régulier minimum avant les Star Players
  apps/server/src/routes/team-build-handler.ts
  apps/server/src/routes/team-build-tournament-ruleset.test.ts
  apps/web/app/me/teams/new/page.tournament-ruleset.test.tsx
  apps/web/app/me/teams/new/page.tsx
Labels: web, server

feat(tournament): appliquer le barème de classement du règlement
  apps/server/src/routes/cup.ts
  apps/server/src/services/league.test.ts
  apps/server/src/services/league.ts
  apps/server/src/utils/tournament-ruleset-helpers.test.ts
  apps/server/src/utils/tournament-ruleset-helpers.ts
Labels: server

feat(tournament): servir les coups de pouce du règlement sur la feuille de match
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/tournament-inducements.test.ts
  apps/server/src/services/tournament-inducements.ts
Labels: server

chore(changeset): règlements de tournoi — surcoûts et règles appliqués
  .changeset/reglement-tournoi-surcouts-et-regles.md
Labels: none

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
