Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

chore(release): 1.116.2 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  bcc9f621a7890fee404d945d949467eebe95e7f0
Labels: none

feat(ops): daily backup script with 5-day rotation
  scripts/db-backup.sh
Labels: none

chore(release): 1.117.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  4eb83e3892afab037a2d47cd73c8b6290d0cb0f0
Labels: none

chore: add 'backups/' to .gitignore to exclude backup files from version control
  .gitignore
Labels: none

fix(i18n): update beta banner translations for clarity
  apps/web/app/i18n/translations.ts
Labels: web

chore(release): 1.117.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  d2b1c5f437351082f6a14e0a12233ef4a9f9b684
Labels: none

feat(blog): implement admin blog management routes and functionality
  apps/server/package.json
  apps/server/src/index.ts
  apps/server/src/routes/admin-blog.test.ts
  apps/server/src/routes/admin-blog.ts
  apps/server/src/routes/public-blog.ts
  apps/server/src/schemas/blog.schemas.ts
  apps/server/src/utils/sanitize-blog-html.ts
  apps/web/app/admin/blog/BlogEditor.tsx
  apps/web/app/admin/blog/BlogPostForm.tsx
  apps/web/app/admin/blog/[id]/edit/page.tsx
  apps/web/app/admin/blog/api.ts
  apps/web/app/admin/blog/new/page.tsx
  apps/web/app/admin/blog/page.tsx
  apps/web/app/admin/layout.tsx
  apps/web/app/blog/[slug]/page.tsx
  apps/web/app/blog/error.tsx
  apps/web/app/blog/page.tsx
  apps/web/app/components/Header.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/skills/SkillsClient.tsx
  apps/web/package.json
  apps/web/tailwind.config.ts
  docs/blog-feature.md
  pnpm-lock.yaml
  prisma/schema.prisma
Labels: web, server

fix(i18n): update skill category keys for consistency
  apps/web/app/lib/skill-category-icons.ts
  apps/web/app/skills/SkillsClient.tsx
Labels: web

chore(release): 1.118.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  6496f6c9a7bb3dab9f1020966e132bfba1948da5
Labels: none

chore(release): 1.119.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  2b2a3a884f0d1c69ef5a31cc4c7926b5f6c8980c
Labels: none

fix(blog): swap fetch to safeServerJson to unblock CI build
  apps/web/app/blog/page.tsx
Labels: web

test(pro-league): un-flake team-record assertions in CI
  apps/web/app/pro-league/teams/[slug]/page.test.tsx
Labels: web

Use safeServerJson for blog posts to handle API unavailability (#803)
  apps/web/app/blog/page.tsx
  apps/web/app/pro-league/teams/[slug]/page.test.tsx
Labels: web

Implement resimulation of test matches in admin routes
  apps/server/src/routes/admin-sim.ts
  apps/server/src/services/pro-league-sandbox.test.ts
  apps/server/src/services/pro-league-sandbox.ts
  apps/server/src/services/pro-league-sim-runner.test.ts
  apps/server/src/services/pro-league-sim-runner.ts
  apps/web/app/admin/sim/test-match/page.tsx
Labels: web, server

Add full driver bug fixes and enhancements
  apps/web/public/images/blog/incident-13-mai.png
  docs/engine-fix-2026-05-13-full-driver.md
  packages/sim-engine/src/driver/full-driver-events.ts
  packages/sim-engine/src/driver/full-driver.test.ts
  packages/sim-engine/src/driver/full-driver.ts
  packages/sim-engine/src/types.ts
Labels: web

Add Latest Blog Posts component and integrate into landing page
  apps/web/app/blog/[slug]/page.tsx
  apps/web/app/components/LatestBlogPosts.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/page.tsx
  docs/engine-2026-05-13-lots-3a3-3a4.md
  packages/shared-types/src/match-event.test.ts
  packages/shared-types/src/match-event.ts
  packages/sim-engine/src/driver/full-driver-events.test.ts
  packages/sim-engine/src/driver/full-driver-events.ts
  packages/sim-engine/src/replay/narrator.test.ts
  packages/sim-engine/src/replay/narrator.ts
  packages/sim-engine/src/types.ts
Labels: web

Implement full replay functionality for Pro League matches
  apps/server/src/routes/pro-league.ts
  apps/server/src/services/pro-league-replay.test.ts
  apps/server/src/services/pro-league-replay.ts
  apps/server/src/services/pro-league-sim-runner.ts
  apps/web/app/i18n/translations.ts
  apps/web/app/lib/use-full-replay.test.ts
  apps/web/app/lib/use-full-replay.ts
  apps/web/app/pro-league/matches/[id]/live/page.tsx
  apps/web/app/pro-league/matches/[id]/replay/FullReplayField.tsx
  apps/web/app/pro-league/matches/[id]/replay/MatchReplayPlayer.tsx
  docs/engine-2026-05-13-lots-3d-full-replay.md
  packages/sim-engine/src/driver/full-driver.test.ts
  packages/sim-engine/src/driver/full-driver.ts
  packages/sim-engine/src/index.ts
  packages/sim-engine/src/replay/compress.test.ts
  packages/sim-engine/src/replay/compress.ts
  packages/sim-engine/src/simulate-match.test.ts
  packages/sim-engine/src/types.ts
Labels: web, server

feat(pro-league-replay): highlight active player on full-replay field (Lot 3.E.1)
  apps/web/app/lib/move-active-player.test.ts
  apps/web/app/lib/move-active-player.ts
  apps/web/app/pro-league/matches/[id]/replay/FullReplayField.tsx
Labels: web

feat(pro-league-replay): skip filler moves to densify full-replay (Lot 3.E.2)
  apps/web/app/lib/compact-replay.test.ts
  apps/web/app/lib/compact-replay.ts
  apps/web/app/lib/use-full-replay.test.ts
  apps/web/app/lib/use-full-replay.ts
  apps/web/app/pro-league/matches/[id]/replay/FullReplayField.tsx
Labels: web

feat(pro-league-replay): on-pitch SVG annotations overlay (Lot 3.E.3)
  apps/web/app/lib/replay-annotations.test.ts
  apps/web/app/lib/replay-annotations.ts
  apps/web/app/lib/use-full-replay.ts
  apps/web/app/pro-league/matches/[id]/replay/FullReplayField.tsx
  apps/web/app/pro-league/matches/[id]/replay/ReplayAnnotationsOverlay.tsx
Labels: web

fix(pro-league-replay): expose states[] in full-replay endpoint
  apps/server/src/services/pro-league-replay.test.ts
  apps/server/src/services/pro-league-replay.ts
Labels: server

feat(pro-league-replay): admin narration endpoint with real player names (Lot 3.E.4)
  apps/server/src/routes/admin-sim.ts
  apps/server/src/services/pro-league-narration.test.ts
  apps/server/src/services/pro-league-narration.ts
  apps/server/src/services/pro-league-sim-runner.test.ts
  apps/server/src/services/pro-league-sim-runner.ts
  apps/web/app/admin/sim/test-match/page.tsx
Labels: web, server

docs: récap Lots 3.E.1 → 3.E.4 (replay polish)
  docs/engine-2026-05-13-lots-3e-replay-polish.md
Labels: none

chore(release): 1.120.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  faa91bd320f340098fb3d6cd0175102386ba488b
Labels: none

fix(pro-league-replay): vue terrain par défaut + résolution playerIds en noms
  apps/web/app/pro-league/matches/[id]/replay/MatchReplayPlayer.test.tsx
  apps/web/app/pro-league/matches/[id]/replay/MatchReplayPlayer.tsx
Labels: web

fix(pro-league-replay): vue terrain par défaut + résolution playerIds en noms (#804)
  apps/web/app/pro-league/matches/[id]/replay/MatchReplayPlayer.test.tsx
  apps/web/app/pro-league/matches/[id]/replay/MatchReplayPlayer.tsx
Labels: web

feat(auth): email verification light (Sprint O lot O.B.2)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/auth-email-verify.test.ts
  apps/server/src/routes/auth.ts
  apps/server/src/services/email-verification.test.ts
  apps/server/src/services/email-verification.ts
  apps/web/app/verify-email/page.tsx
  docs/roadmap/sprints/SPRINT-O-bug-fixes-acquisition.md
  prisma/schema.prisma
Labels: web, server

docs(roadmap): sync Sprint O/P/Q statuts avec realite code
  docs/roadmap/phases.md
  docs/roadmap/sprints/SPRINT-P-ops-readiness.md
  docs/roadmap/sprints/SPRINT-Q-fan-differentiation.md
Labels: none

docs(roadmap): audit Sprint R — 7/19 lots livres
  docs/roadmap/phases.md
  docs/roadmap/sprints/SPRINT-R-international-monetization-mobile.md
Labels: none

fix(game-engine): joueurs KO récupérés deviennent state='active' à la mi-temps
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/halftime.test.ts
  packages/game-engine/src/core/post-touchdown.test.ts
Labels: game-engine

fix(game-engine): joueurs KO récupérés deviennent state='active' à la mi-temps (#805)
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/halftime.test.ts
  packages/game-engine/src/core/post-touchdown.test.ts
Labels: game-engine

fix(sim-engine/resolvers): 6 bugs de règles BB2020/BB3
  packages/sim-engine/src/resolvers/block.ts
  packages/sim-engine/src/resolvers/foul.ts
  packages/sim-engine/src/resolvers/gfi.ts
  packages/sim-engine/src/resolvers/pass.ts
  packages/sim-engine/src/resolvers/resolvers.test.ts
Labels: none

chore(sim-engine): bump engineVer 0.21.0 → 0.22.0 + re-snapshot bench baseline
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/src/types.ts
Labels: none

fix(sim-engine/resolvers): 6 bugs BB rules (wrestle, GFI, foul, pass) (#806)
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/src/resolvers/block.ts
  packages/sim-engine/src/resolvers/foul.ts
  packages/sim-engine/src/resolvers/gfi.ts
  packages/sim-engine/src/resolvers/pass.ts
  packages/sim-engine/src/resolvers/resolvers.test.ts
  packages/sim-engine/src/types.ts
Labels: none

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
