Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"

feat(sim-engine): tuning iter #6 — engineVer 0.7.0 (breakthrough 8% + nemesis_clash casualty + conditional magnitude)
  docs/roadmap/sprints/pro-league-gate.md
  packages/sim-engine/CHANGELOG.md
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/src/driver/hybrid-driver.ts
  packages/sim-engine/src/types.ts
Labels: none

fix(admin): conditionne le lien Ligues au feature flag leagues_v2_ui
  apps/web/app/admin/layout.tsx
Labels: web

chore(release): 1.89.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  7f67c78a232eef52e989ccc0af303ecf104717ec
Labels: none

fix(nav): Soutenir en nuffle-red (#7A1F1F) au lieu du gris
  apps/web/app/components/Header.tsx
Labels: web

chore(release): 1.89.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  2ea83202e581d3b8077272a4c2520631c0916aa3
Labels: none

feat(sim-engine): tuning iter #6 — engineVer 0.7.0 (breakthrough 8% + nemesis_clash casualty) (#587)
  docs/roadmap/sprints/pro-league-gate.md
  packages/sim-engine/CHANGELOG.md
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/src/driver/hybrid-driver.ts
  packages/sim-engine/src/types.ts
Labels: none

feat(sim-engine): tuning iter #7 — engineVer 0.8.0 (breakthrough 10% + tantrum_star + cocky_drop + +40 vs soft D)
  docs/roadmap/sprints/pro-league-gate.md
  packages/sim-engine/CHANGELOG.md
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/src/driver/hybrid-driver.ts
  packages/sim-engine/src/types.ts
Labels: none

feat(sim-engine): tuning iter #7 — engineVer 0.8.0 (breakthrough 10% + +40 vs soft D + tantrum/cocky casualties) (#588)
  docs/roadmap/sprints/pro-league-gate.md
  packages/sim-engine/CHANGELOG.md
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/src/driver/hybrid-driver.ts
  packages/sim-engine/src/types.ts
Labels: none

feat(sim-engine): tuning iter #8 — engineVer 0.9.0 (breakthrough 12% + crowd_riot 50% + Halflings tv 850)
  docs/roadmap/sprints/pro-league-gate.md
  packages/sim-engine/CHANGELOG.md
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/src/driver/hybrid-driver.ts
  packages/sim-engine/src/tactics/race-profiles.ts
  packages/sim-engine/src/types.ts
Labels: none

feat(sim-engine): tuning iter #8 — engineVer 0.9.0 (breakthrough 12% + crowd_riot 50% + Halflings tv 850) (#589)
  docs/roadmap/sprints/pro-league-gate.md
  packages/sim-engine/CHANGELOG.md
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/src/driver/hybrid-driver.ts
  packages/sim-engine/src/tactics/race-profiles.ts
  packages/sim-engine/src/types.ts
Labels: none

feat(sim-engine): tuning iter #9 — engineVer 0.10.0 (breakthrough 14% + TV gap cap 200)
  docs/roadmap/sprints/pro-league-gate.md
  packages/sim-engine/CHANGELOG.md
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/src/driver/hybrid-driver.ts
  packages/sim-engine/src/tactics/race-profiles.ts
  packages/sim-engine/src/types.ts
Labels: none

feat(sim-engine): tuning iter #9 — engineVer 0.10.0 (breakthrough 14% + TV gap cap 200) — 2 matchups en cible C1 (#590)
  docs/roadmap/sprints/pro-league-gate.md
  packages/sim-engine/CHANGELOG.md
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/src/driver/hybrid-driver.ts
  packages/sim-engine/src/tactics/race-profiles.ts
  packages/sim-engine/src/types.ts
Labels: none

feat(sim-engine): tuning iter #10 — engineVer 0.11.0 (breakthrough 16% + 8 Nuffle casualty events) — pause user
  docs/roadmap/sprints/pro-league-gate.md
  packages/sim-engine/CHANGELOG.md
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/src/driver/hybrid-driver.ts
  packages/sim-engine/src/types.ts
Labels: none

feat(sim-engine): tuning iter #10 — engineVer 0.11.0 (breakthrough 16% + 8 Nuffle casualty events) — pause user (#591)
  docs/roadmap/sprints/pro-league-gate.md
  packages/sim-engine/CHANGELOG.md
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/src/driver/hybrid-driver.ts
  packages/sim-engine/src/types.ts
Labels: none

feat(mobile): S27.3.12 — i18n migration of player detail screen
  apps/mobile/app/player/[teamId]/[playerId].tsx
  apps/mobile/lib/i18n-keys-players-detail.test.ts
  apps/mobile/lib/player-details.test.ts
  apps/mobile/lib/player-details.ts
  apps/mobile/lib/players-detail-keys.ts
  apps/mobile/lib/translations/en.ts
  apps/mobile/lib/translations/fr.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: mobile

feat(mobile): S27.3.12 — i18n migration of player detail screen (#592)
  apps/mobile/app/player/[teamId]/[playerId].tsx
  apps/mobile/lib/i18n-keys-players-detail.test.ts
  apps/mobile/lib/player-details.test.ts
  apps/mobile/lib/player-details.ts
  apps/mobile/lib/players-detail-keys.ts
  apps/mobile/lib/translations/en.ts
  apps/mobile/lib/translations/fr.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: mobile

feat(sim-engine): tuning iter #11 — engineVer 0.12.0 (breakthrough 18% + TV delta bonus → C1 5/5 ✓)
  docs/roadmap/sprints/pro-league-gate.md
  packages/sim-engine/CHANGELOG.md
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/src/driver/hybrid-driver.ts
  packages/sim-engine/src/types.ts
Labels: none

feat(sim-engine): tuning iter #11 — engineVer 0.12.0 (breakthrough 18% + TV delta bonus → C1 5/5 ✓) (#593)
  docs/roadmap/sprints/pro-league-gate.md
  packages/sim-engine/CHANGELOG.md
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/src/driver/hybrid-driver.ts
  packages/sim-engine/src/types.ts
Labels: none

feat(sim-engine): tuning iter #12-16 — engineVer 0.13.0 (TV recalibration + underdog tuning → C2 atteint)
  docs/roadmap/sprints/pro-league-gate.md
  packages/sim-engine/CHANGELOG.md
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/src/driver/hybrid-driver.test.ts
  packages/sim-engine/src/driver/hybrid-driver.ts
  packages/sim-engine/src/tactics/race-profiles.ts
  packages/sim-engine/src/tactics/underdog.test.ts
  packages/sim-engine/src/tactics/underdog.ts
  packages/sim-engine/src/types.ts
Labels: none

feat(sim-engine): tuning iter #12-16 — engineVer 0.13.0 (TV recalibration → C2 atteint sur Ogres vs Halflings) (#595)
  docs/roadmap/sprints/pro-league-gate.md
  packages/sim-engine/CHANGELOG.md
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/src/driver/hybrid-driver.test.ts
  packages/sim-engine/src/driver/hybrid-driver.ts
  packages/sim-engine/src/tactics/race-profiles.ts
  packages/sim-engine/src/tactics/underdog.test.ts
  packages/sim-engine/src/tactics/underdog.ts
  packages/sim-engine/src/types.ts
Labels: none

feat(db): Pro League Prisma models (sprint 1.A.1)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/seed.ts
  apps/server/src/seeders/pro-league.ts
  prisma/migrations/20260506100000_add_pro_league/migration.sql
  prisma/schema.prisma
Labels: server

feat(db): Pro League Prisma models (sprint 1.A.1) (#597)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/seed.ts
  apps/server/src/seeders/pro-league.ts
  prisma/migrations/20260506100000_add_pro_league/migration.sql
  prisma/schema.prisma
Labels: server

feat(sim-engine,db): Replay storage + compression CBOR + gzip (sprint 1.A.2)
  apps/server/prisma/sqlite/schema.prisma
  packages/sim-engine/package.json
  packages/sim-engine/src/index.ts
  packages/sim-engine/src/replay/compress.test.ts
  packages/sim-engine/src/replay/compress.ts
  pnpm-lock.yaml
  prisma/migrations/20260506110000_add_replay/migration.sql
  prisma/schema.prisma
Labels: server

feat(sim-engine,db): Replay storage + compression CBOR + gzip (sprint 1.A.2) (#598)
  apps/server/prisma/sqlite/schema.prisma
  packages/sim-engine/package.json
  packages/sim-engine/src/index.ts
  packages/sim-engine/src/replay/compress.test.ts
  packages/sim-engine/src/replay/compress.ts
  pnpm-lock.yaml
  prisma/migrations/20260506110000_add_replay/migration.sql
  prisma/schema.prisma
Labels: server

feat(server): Pro League scheduler service (sprint 1.A.3)
  apps/server/src/services/pro-league-scheduler.test.ts
  apps/server/src/services/pro-league-scheduler.ts
Labels: server

feat(server): Pro League scheduler service (sprint 1.A.3) (#599)
  apps/server/src/services/pro-league-scheduler.test.ts
  apps/server/src/services/pro-league-scheduler.ts
Labels: server

feat(server): Pro League sim runner service (sprint 1.A.4)
  apps/server/src/services/pro-league-sim-runner.test.ts
  apps/server/src/services/pro-league-sim-runner.ts
Labels: server

feat(server): Pro League sim runner service (sprint 1.A.4) (#600)
  apps/server/src/services/pro-league-sim-runner.test.ts
  apps/server/src/services/pro-league-sim-runner.ts
Labels: server

feat(server): engine version policy + replay freeze (sprint 1.A.5)
  apps/server/src/services/pro-league-engine-version.test.ts
  apps/server/src/services/pro-league-engine-version.ts
  apps/server/src/services/pro-league-sim-runner.test.ts
  apps/server/src/services/pro-league-sim-runner.ts
Labels: server

feat(server): engine version policy + replay freeze (sprint 1.A.5) (#601)
  apps/server/src/services/pro-league-engine-version.test.ts
  apps/server/src/services/pro-league-engine-version.ts
  apps/server/src/services/pro-league-sim-runner.test.ts
  apps/server/src/services/pro-league-sim-runner.ts
Labels: server

feat(server): activate Pro League sim runner cron at boot
  apps/server/src/index.ts
Labels: server

feat(server): activate Pro League sim runner cron at boot (#602)
  apps/server/src/index.ts
Labels: server

feat(server): Pro League match broadcaster (sprint 1.B.1)
  apps/server/src/services/pro-league-match-broadcaster.test.ts
  apps/server/src/services/pro-league-match-broadcaster.ts
Labels: server

feat(admin): UI lecture des replays panel pour validation C6-C9
  apps/server/src/index.ts
  apps/server/src/routes/admin-sim-replays.test.ts
  apps/server/src/routes/admin-sim-replays.ts
  apps/server/src/utils/replay-parser.test.ts
  apps/server/src/utils/replay-parser.ts
  apps/web/app/admin/layout.tsx
  apps/web/app/admin/sim/replays/page.tsx
Labels: web, server

feat(server): Pro League match broadcaster (sprint 1.B.1) (#603)
  apps/server/src/services/pro-league-match-broadcaster.test.ts
  apps/server/src/services/pro-league-match-broadcaster.ts
Labels: server

feat(server): SSE endpoint /pro-league/matches/:id/stream (sprint 1.B.2)
  apps/server/src/index.ts
  apps/server/src/routes/pro-league.test.ts
  apps/server/src/routes/pro-league.ts
Labels: server

feat(server): SSE endpoint /pro-league/matches/:id/stream (sprint 1.B.2) (#604)
  apps/server/src/index.ts
  apps/server/src/routes/pro-league.test.ts
  apps/server/src/routes/pro-league.ts
Labels: server

feat(mobile): i18n play/[id] screen (sprint S27.3.13)
  apps/mobile/app/play/[id].tsx
  apps/mobile/lib/i18n-keys-play.test.ts
  apps/mobile/lib/translations/en.ts
  apps/mobile/lib/translations/fr.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: mobile
