Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"

chore(todo): mark K.4 dump-off as done
  TODO.md
Labels: none

chore(todo): mark K.4 dump-off as done (Sprint 13) (#225)
  TODO.md
Labels: none

fix(docker): update NODE_ENV to development and improve healthcheck commands
  docker-compose.prod.yml
Labels: none

chore(release): 1.58.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  e95af9c704e41c29d7ab64f068e5c3fc134275b4
Labels: none

feat(game-engine): implement shadowing skill (P1.8)
  TODO.md
  apps/web/public/version.json
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/shadowing.test.ts
  packages/game-engine/src/mechanics/shadowing.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine, web

feat(game-engine): implement shadowing skill (P1.8) (#226)
  TODO.md
  apps/web/public/version.json
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/shadowing.test.ts
  packages/game-engine/src/mechanics/shadowing.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine, web

feat(game-engine): implement fend skill (P1.9)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/mechanics/fend.test.ts
  packages/game-engine/src/mechanics/fend.ts
Labels: game-engine

feat(game-engine): implement fend skill (P1.9) (#227)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/mechanics/fend.test.ts
  packages/game-engine/src/mechanics/fend.ts
Labels: game-engine

feat(game-engine): implement running-pass skill (P1.10)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/running-pass.test.ts
  packages/game-engine/src/mechanics/running-pass.ts
Labels: game-engine

feat(game-engine): implement running-pass skill (P1.10) (#228)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/running-pass.test.ts
  packages/game-engine/src/mechanics/running-pass.ts
Labels: game-engine

feat(game-engine): audit & fix frenzy + on-the-ball for 5 priority teams (P1.11)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/mechanics/frenzy.test.ts
  packages/game-engine/src/mechanics/frenzy.ts
  packages/game-engine/src/mechanics/p1-11-audit.test.ts
Labels: game-engine

feat(game-engine): audit & fix frenzy + on-the-ball (P1.11) (#229)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/mechanics/frenzy.test.ts
  packages/game-engine/src/mechanics/frenzy.ts
  packages/game-engine/src/mechanics/p1-11-audit.test.ts
Labels: game-engine

feat(game-engine): implement shadowing skill (P1.8)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/shadowing.test.ts
  packages/game-engine/src/mechanics/shadowing.ts
Labels: game-engine

chore: update build artifacts (version.json, memdb1)
  apps/server/prisma/sqlite/memdb1
  apps/web/public/version.json
Labels: web, server

test(game-engine): integration tests stunty + armored-skull (TEST-2 batch 1)
  packages/game-engine/src/mechanics/sprint13-stunty-armored-skull-integration.test.ts
Labels: game-engine

test(game-engine): integration tests stunty + armored-skull (TEST-2 batch 1) (#231)
  packages/game-engine/src/mechanics/sprint13-stunty-armored-skull-integration.test.ts
Labels: game-engine

feat(game-engine): implement break-tackle skill (P1.3) (#215)
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/break-tackle.test.ts
  packages/game-engine/src/mechanics/break-tackle.ts
  packages/game-engine/src/mechanics/running-pass.ts
  packages/game-engine/src/skills/skill-bridge.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

docs: decoupe TEST-2 en 5 batches dans TODO.md
  TODO.md
Labels: none

Claude/practical brown a ha db (#232)
  TODO.md
Labels: none

feat: add Ko-fi donation integration with support page and legal updates
  apps/web/app/components/Footer.tsx
  apps/web/app/components/Header.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/legal/conditions-utilisation/page.tsx
  apps/web/app/legal/mentions-legales/page.tsx
  apps/web/app/page.tsx
  apps/web/app/support/layout.tsx
  apps/web/app/support/page.tsx
Labels: web

feat: add Ko-fi donation integration with support page and legal updates (#233)
  apps/web/app/components/Footer.tsx
  apps/web/app/components/Header.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/legal/conditions-utilisation/page.tsx
  apps/web/app/legal/mentions-legales/page.tsx
  apps/web/app/page.tsx
  apps/web/app/support/layout.tsx
  apps/web/app/support/page.tsx
Labels: web

feat(game-engine): enforce once-per-turn Shadowing restriction (BB3 P1.8)
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/mechanics/shadowing.test.ts
  packages/game-engine/src/mechanics/shadowing.ts
Labels: game-engine

test: add integration tests for dauntless + juggernaut (TEST-2b Sprint 13)
  TODO.md
  packages/game-engine/src/mechanics/sprint13-dauntless-juggernaut-integration.test.ts
Labels: game-engine

test: integration tests dauntless + juggernaut (TEST-2b) (#234)
  TODO.md
  packages/game-engine/src/mechanics/sprint13-dauntless-juggernaut-integration.test.ts
Labels: game-engine

refactor: optimize next-feature prompt with file limits and progressive execution
  .claude/commands/next-feature.md
  docs/prompts/next-feature.md
Labels: none

claude/refine-prompt-file-limits-WGT1G (#235)
  .claude/commands/next-feature.md
  docs/prompts/next-feature.md
Labels: none

test: add integration tests for stand-firm + fend (TEST-2c, Sprint 13 batch 3)
  TODO.md
  packages/game-engine/src/mechanics/sprint13-stand-firm-fend-integration.test.ts
Labels: game-engine

claude/loving-goldberg-U27TS (#236)
  TODO.md
  packages/game-engine/src/mechanics/sprint13-stand-firm-fend-integration.test.ts
Labels: game-engine

test: add integration tests for break-tackle + iron-hard-skin (TEST-2d)
  TODO.md
  packages/game-engine/src/mechanics/sprint13-break-tackle-iron-hard-skin-integration.test.ts
Labels: game-engine

test: integration tests break-tackle + iron-hard-skin (TEST-2d)
  TODO.md
  packages/game-engine/src/mechanics/sprint13-break-tackle-iron-hard-skin-integration.test.ts
Labels: game-engine

TEST-2d: Add integration tests for Break Tackle + Iron Hard Skin (#237)
  TODO.md
  packages/game-engine/src/mechanics/sprint13-break-tackle-iron-hard-skin-integration.test.ts
Labels: game-engine

test: integration tests shadowing + running-pass (TEST-2e, Sprint 13)
  TODO.md
  packages/game-engine/src/mechanics/sprint13-shadowing-running-pass-integration.test.ts
Labels: game-engine

TEST-2e: Add integration tests for Shadowing + Running Pass (#238)
  TODO.md
  packages/game-engine/src/mechanics/sprint13-shadowing-running-pass-integration.test.ts
Labels: game-engine

fix(server): persist idle->setup transition to eliminate race condition
  apps/server/src/routes/match.ts
  apps/server/src/services/pre-match-automation.ts
  apps/server/src/services/prematch-setup.test.ts
  apps/server/src/services/prematch-setup.ts
  tests/e2e-api/specs/setup.spec.ts
  tests/integration/pre-match-automation.test.ts
Labels: server

Persist idle→setup transition atomically in prematch-setup service (#239)
  apps/server/src/routes/match.ts
  apps/server/src/services/pre-match-automation.ts
  apps/server/src/services/prematch-setup.test.ts
  apps/server/src/services/prematch-setup.ts
  tests/e2e-api/specs/setup.spec.ts
  tests/integration/pre-match-automation.test.ts
Labels: server

feat: ajoute un systeme de feature flags
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/feature-flags.ts
  apps/server/src/schemas/featureFlag.schemas.ts
  apps/server/src/services/featureFlags.test.ts
  apps/server/src/services/featureFlags.ts
  apps/web/app/admin/feature-flags/[id]/page.tsx
  apps/web/app/admin/feature-flags/page.tsx
  apps/web/app/admin/layout.tsx
  apps/web/app/components/ClientLayout.tsx
  apps/web/app/contexts/FeatureFlagContext.tsx
  apps/web/app/hooks/useFeatureFlag.test.tsx
  apps/web/app/hooks/useFeatureFlag.ts
  apps/web/app/lib/featureFlags.ts
  prisma/schema.prisma
Labels: web, server

Add feature flags system with admin management UI (#240)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/feature-flags.ts
  apps/server/src/schemas/featureFlag.schemas.ts
  apps/server/src/services/featureFlags.test.ts
  apps/server/src/services/featureFlags.ts
  apps/web/app/admin/feature-flags/[id]/page.tsx
  apps/web/app/admin/feature-flags/page.tsx
  apps/web/app/admin/layout.tsx
  apps/web/app/components/ClientLayout.tsx
  apps/web/app/contexts/FeatureFlagContext.tsx
  apps/web/app/hooks/useFeatureFlag.test.tsx
  apps/web/app/hooks/useFeatureFlag.ts
  apps/web/app/lib/featureFlags.ts
  prisma/schema.prisma
Labels: web, server

test: TEST-3 — match E2E Nains vs Skaven sans divergence de règles
  TODO.md
  tests/integration/dwarf-vs-skaven-e2e.test.ts
Labels: none

TEST-3: Match E2E Nains vs Skaven sans divergence de règles (#241)
  TODO.md
  tests/integration/dwarf-vs-skaven-e2e.test.ts
Labels: none
