Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"

perf(game-engine): cache evaluatePosition and team-active scans
  packages/game-engine/src/ai/evaluator.bench.test.ts
  packages/game-engine/src/ai/evaluator.ts
  packages/game-engine/src/core/state-cache.test.ts
  packages/game-engine/src/core/state-cache.ts
Labels: game-engine

perf(game-engine): replace structuredClone with tailored cloneGameState
  packages/game-engine/src/actions/move-handlers.ts
  packages/game-engine/src/actions/move-leap-dodge-handlers.ts
  packages/game-engine/src/actions/reroll-choose-handler.ts
  packages/game-engine/src/core/clone-state.bench.test.ts
  packages/game-engine/src/core/clone-state.test.ts
  packages/game-engine/src/core/clone-state.ts
  packages/game-engine/src/mechanics/animosity.ts
  packages/game-engine/src/mechanics/apothecary.ts
  packages/game-engine/src/mechanics/ball.ts
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/mechanics/chainsaw.ts
  packages/game-engine/src/mechanics/dugout.ts
  packages/game-engine/src/mechanics/foul.ts
  packages/game-engine/src/mechanics/hypnotic-gaze.ts
  packages/game-engine/src/mechanics/injury.ts
  packages/game-engine/src/mechanics/kickoff-events.ts
  packages/game-engine/src/mechanics/passing.ts
  packages/game-engine/src/mechanics/projectile-vomit.ts
  packages/game-engine/src/mechanics/stab.ts
  packages/game-engine/src/mechanics/throw-team-mate.ts
Labels: game-engine

docs(nfl-fantasy): mise a jour strategie API post-POC + ajout Tier 1.5 Tank01
  docs/nfl-fantasy/03-api-strategy.md
  docs/nfl-fantasy/README.md
Labels: none

perf(game-engine): hoist constant filters and DIRS in getLegalMoves
  packages/game-engine/src/actions/legal-moves.ts
Labels: game-engine

chore(nfl-poc): support des flags CLI --year --week --date
  scripts/nfl-poc/src/cli.ts
Labels: none

docs: mark Sprint Perf complete in audit 2026-05-19
  CLAUDE.md
  docs/engine-audit-2026-05-19-full.md
Labels: none

fix(nfl-poc): extraction season/type ESPN depuis leagues[0].season
  scripts/nfl-poc/src/fetch-espn.ts
Labels: none

chore(game-engine): remove unused eslint-disable in clone-state bench
  packages/game-engine/src/core/clone-state.bench.test.ts
Labels: game-engine

docs(nfl-fantasy): gotchas API decouverts au POC W1/W10/W18 2025
  docs/nfl-fantasy/03-api-strategy.md
  docs/nfl-fantasy/README.md
Labels: none

fix(nfl-poc): detection post-season via event.season.slug
  scripts/nfl-poc/src/fetch-espn.ts
Labels: none

docs(nfl-fantasy): edge cases playoffs + jeux internationaux
  docs/nfl-fantasy/03-api-strategy.md
  docs/nfl-fantasy/README.md
Labels: none

POC ingestion NFL : nflverse + ESPN + normalize StatLine (#878)
  docs/nfl-fantasy/03-api-strategy.md
  docs/nfl-fantasy/README.md
  scripts/nfl-poc/.gitignore
  scripts/nfl-poc/README.md
  scripts/nfl-poc/fixtures/.gitkeep
  scripts/nfl-poc/package.json
  scripts/nfl-poc/src/cli.ts
  scripts/nfl-poc/src/fetch-espn.ts
  scripts/nfl-poc/src/fetch-nflverse.ts
  scripts/nfl-poc/src/normalize.ts
  scripts/nfl-poc/tsconfig.json
Labels: none

chore(release): 1.128.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  6ed76fdaee6583d988092940076263da2cb45bbf
Labels: none

chore(nfl-mapper): bootstrap package skeleton
  packages/nfl-mapper/README.md
  packages/nfl-mapper/eslint.config.js
  packages/nfl-mapper/package.json
  packages/nfl-mapper/tsconfig.json
  packages/nfl-mapper/vitest.config.ts
  pnpm-lock.yaml
Labels: none

feat(nfl-mapper): team-to-race mapping pour 32 equipes NFL (Q5)
  packages/nfl-mapper/data/teams.json
  packages/nfl-mapper/src/index.ts
  packages/nfl-mapper/src/team-to-race.test.ts
  packages/nfl-mapper/src/team-to-race.ts
  packages/nfl-mapper/src/types.ts
Labels: none

chore(config): register @bb/nfl-mapper in tsconfig paths
  packages/config/tsconfig.base.json
Labels: none

Phase 1.A : @bb/nfl-mapper package + team-to-race (32 teams → 8 BB races) (#880)
  packages/config/tsconfig.base.json
  packages/nfl-mapper/README.md
  packages/nfl-mapper/data/teams.json
  packages/nfl-mapper/eslint.config.js
  packages/nfl-mapper/package.json
  packages/nfl-mapper/src/index.ts
  packages/nfl-mapper/src/team-to-race.test.ts
  packages/nfl-mapper/src/team-to-race.ts
  packages/nfl-mapper/src/types.ts
  packages/nfl-mapper/tsconfig.json
  packages/nfl-mapper/vitest.config.ts
  pnpm-lock.yaml
Labels: none

feat(nfl-mapper): position-to-bb mapping NFL pos x race -> BB pos (Phase 1.B)
  packages/nfl-mapper/src/position-to-bb.test.ts
  packages/nfl-mapper/src/position-to-bb.ts
Labels: none

chore(nfl-mapper): export position-to-bb depuis index.ts
  packages/nfl-mapper/src/index.ts
Labels: none

feat(nfl-mapper): stats-to-spp + applyCaptainMultiplier (Phase 1.C)
  packages/nfl-mapper/src/index.ts
  packages/nfl-mapper/src/stats-to-spp.test.ts
  packages/nfl-mapper/src/stats-to-spp.ts
Labels: none

feat(nfl-mapper): pseudonymisation BB-flavored (Phase 1.D, Q8)
  packages/nfl-mapper/src/index.ts
  packages/nfl-mapper/src/pseudonymize.test.ts
  packages/nfl-mapper/src/pseudonymize.ts
Labels: none

feat(prisma): schema NFL Fantasy module (Phase 1.E)
  prisma/schema.prisma
Labels: none

docs(nfl-fantasy): bump README pour Phase 1.B-1.E
  docs/nfl-fantasy/README.md
Labels: none

ci: bump Node 20 -> 22 (LTS) + fix @bb/ui typecheck
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/e2e.yml
  .github/workflows/expo-eas.yml
  .github/workflows/release.yml
  .github/workflows/semantic-release.yml
  .github/workflows/sim-bench.yml
  apps/server/package.json
  packages/game-engine/src/core/pending-state.ts
  pnpm-lock.yaml
Labels: game-engine, server

chore(release): 1.129.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  a6313281dde5f062400d72e0ca8e060a86141188
Labels: none

test(game-engine): relax cloneGameState bench threshold 5ms -> 50ms
  packages/game-engine/src/core/clone-state.bench.test.ts
Labels: game-engine

chore: upgrade Node.js to 22 and fix NODE_ENV detection (#881)
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/e2e.yml
  .github/workflows/expo-eas.yml
  .github/workflows/release.yml
  .github/workflows/semantic-release.yml
  .github/workflows/sim-bench.yml
  apps/server/package.json
  packages/game-engine/src/core/clone-state.bench.test.ts
  packages/game-engine/src/core/pending-state.ts
  pnpm-lock.yaml
Labels: game-engine, server

chore(server): add @bb/nfl-mapper + csv-parse deps pour Phase 2.A
  apps/server/package.json
  pnpm-lock.yaml
Labels: server

feat(server): nfl-ingest service (Phase 2.A)
  apps/server/src/services/nfl-ingest.test.ts
  apps/server/src/services/nfl-ingest.ts
Labels: server

chore(docker): wire packages/nfl-mapper dans la stack server
  Dockerfile.server
  docker-compose.yml
Labels: none

feat(server): script CLI d'invocation nfl-ingest pour validation manuelle
  apps/server/src/scripts/nfl-ingest-cli.ts
Labels: server

chore: gitignore .pnpm-store/ (cache pnpm local ~1.4 GB)
  .gitignore
Labels: none

chore(release): 1.130.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  993b9182e78b1bd61409e49b819578ce9774420d
Labels: none

fix(nfl-ingest): normalize legacy LA team code in nflverse game_id
  apps/server/src/services/nfl-ingest.test.ts
  apps/server/src/services/nfl-ingest.ts
Labels: server

feat(server): nfl-ingest-espn service Phase 2.B (gameday + rosters)
  apps/server/src/services/nfl-ingest-espn.test.ts
  apps/server/src/services/nfl-ingest-espn.ts
Labels: server

feat(server): CLI nfl-ingest gameday + rosters commands
  apps/server/src/scripts/nfl-ingest-cli.ts
Labels: server

docs(nfl-fantasy): document Phase 2.A/2.B ingestion pipeline
  docs/nfl-fantasy/11-ingestion-pipeline.md
  docs/nfl-fantasy/README.md
Labels: none
