Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

fix(admin): confirme l'enregistrement d'un roster en relisant le serveur (#948)
  apps/web/app/admin/data/rosters/[id]/edit/page.test.tsx
  apps/web/app/admin/data/rosters/[id]/edit/page.tsx
  apps/web/app/admin/data/rosters/[id]/page.test.tsx
  apps/web/app/admin/data/rosters/[id]/page.tsx
Labels: web

feat(team): retire un joueur mort de la feuille d'equipe
  apps/server/src/routes/team-player-dead-removal.test.ts
  apps/server/src/routes/team-player-handlers.ts
  apps/server/src/services/player-status-removal.test.ts
  apps/server/src/services/player-status.ts
  apps/web/app/me/teams/[id]/page.tsx
Labels: web, server

chore(release): 1.224.2 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  f3e8c823588ae6004af986c5f03b6fbef4f144f2
Labels: none

feat(team): retire un joueur mort de la feuille d'équipe (#949)
  apps/server/src/routes/team-player-dead-removal.test.ts
  apps/server/src/routes/team-player-handlers.ts
  apps/server/src/services/player-status-removal.test.ts
  apps/server/src/services/player-status.ts
  apps/web/app/me/teams/[id]/page.tsx
Labels: web, server

feat(league): consulte le roster de l'adversaire depuis la feuille
  apps/web/app/leagues/pairings/[id]/sheet/_components/RosterSection.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/RosterSection.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
Labels: web

chore(release): 1.225.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  0bb1d2a36325d496d7d06fe968fa9d239d47fcd7
Labels: none

feat(league): consulte le roster de l'adversaire depuis la feuille de match (#950)
  apps/web/app/leagues/pairings/[id]/sheet/_components/RosterSection.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/RosterSection.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
Labels: web

feat(league): affiche la valeur de chaque joueur du roster
  apps/server/src/routes/league.ts
  apps/web/app/leagues/[id]/teams/[teamId]/page.test.tsx
  apps/web/app/leagues/[id]/teams/[teamId]/page.tsx
Labels: web, server

chore(release): 1.226.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  ac524a4cdbaa17a3e33ae244ce8698d288a1fe8c
Labels: none

feat(league): affiche la valeur de chaque joueur du roster (#951)
  apps/server/src/routes/league.ts
  apps/web/app/leagues/[id]/teams/[teamId]/page.test.tsx
  apps/web/app/leagues/[id]/teams/[teamId]/page.tsx
Labels: web, server

chore(release): 1.227.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  281bf1aef0f0c324c356dae2f20b1224a978f0cf
Labels: none

docs(blog): backlog d'idees d'articles pretes pour le workflow IA
  docs/blog/idees-articles.md
Labels: none

fix(star-players): rétablir l'accès aux pages de détail (500 → 200)
  apps/server/src/routes/star-players-detail.test.ts
  apps/server/src/routes/star-players.ts
Labels: server

chore(changeset): star player detail 500 fix
  .changeset/star-player-detail-500.md
Labels: none

feat(star-players): ajoute la rubrique « Joue pour » sur la fiche
  apps/web/app/star-players/[slug]/page.tsx
  apps/web/app/star-players/[slug]/plays-for.test.ts
  apps/web/app/star-players/[slug]/plays-for.ts
  packages/game-engine/src/rosters/index.ts
  packages/game-engine/src/rosters/star-player-rosters.test.ts
  packages/game-engine/src/rosters/star-player-rosters.ts
Labels: game-engine, web

fix(star-players): rétablir l'accès aux pages de détail (500 → 200) (#952)
  .changeset/star-player-detail-500.md
  apps/server/src/routes/star-players-detail.test.ts
  apps/server/src/routes/star-players.ts
Labels: server

chore(changeset): rubrique Joue pour sur la fiche Star Player
  .changeset/star-player-plays-for.md
Labels: none

chore(release): 1.227.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  810a71d47e4a2c44e50b5aa3094d477ebb0942f5
Labels: none

feat(admin): saisie des Star Players en cases à cocher
  apps/server/src/routes/admin-data-star-player-skills.test.ts
  apps/server/src/routes/admin-data.ts
  apps/server/src/schemas/admin-data.schemas.ts
  apps/web/app/admin/data/_components/SlugCheckboxGrid.test.tsx
  apps/web/app/admin/data/_components/SlugCheckboxGrid.tsx
  apps/web/app/admin/data/rosters/[id]/edit/page.tsx
  apps/web/app/admin/data/rosters/[id]/page.tsx
  apps/web/app/admin/data/rosters/new/page.tsx
  apps/web/app/admin/data/star-players/[id]/edit/page.test.tsx
  apps/web/app/admin/data/star-players/[id]/edit/page.tsx
  apps/web/app/admin/data/star-players/_components/HirableByPicker.tsx
  apps/web/app/admin/data/star-players/_components/SkillCheckboxPicker.test.tsx
  apps/web/app/admin/data/star-players/_components/SkillCheckboxPicker.tsx
  apps/web/app/admin/data/star-players/_components/star-player-options.test.ts
  apps/web/app/admin/data/star-players/_components/star-player-options.ts
  apps/web/app/admin/data/star-players/new/page.test.tsx
  apps/web/app/admin/data/star-players/new/page.tsx
  openspec/changes/improve-star-player-admin-form/design.md
  openspec/changes/improve-star-player-admin-form/proposal.md
  openspec/changes/improve-star-player-admin-form/specs/admin-star-players/spec.md
  openspec/changes/improve-star-player-admin-form/tasks.md
Labels: web, server

chore(changeset): saisie des Star Players en cases à cocher
  .changeset/star-player-admin-checkboxes.md
Labels: none

feat(star-players): ajoute la rubrique « Joue pour » sur la fiche (#953)
  .changeset/star-player-plays-for.md
  apps/web/app/star-players/[slug]/page.tsx
  apps/web/app/star-players/[slug]/plays-for.test.ts
  apps/web/app/star-players/[slug]/plays-for.ts
  packages/game-engine/src/rosters/index.ts
  packages/game-engine/src/rosters/star-player-rosters.test.ts
  packages/game-engine/src/rosters/star-player-rosters.ts
Labels: game-engine, web

chore(release): 1.228.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  2fa0009c2e7469ee4f9a4e7578ab943363e4285f
Labels: none

feat(admin): saisie des Star Players en cases à cocher (#954)
  .changeset/star-player-admin-checkboxes.md
  apps/server/src/routes/admin-data-star-player-skills.test.ts
  apps/server/src/routes/admin-data.ts
  apps/server/src/schemas/admin-data.schemas.ts
  apps/web/app/admin/data/_components/SlugCheckboxGrid.test.tsx
  apps/web/app/admin/data/_components/SlugCheckboxGrid.tsx
  apps/web/app/admin/data/rosters/[id]/edit/page.tsx
  apps/web/app/admin/data/rosters/[id]/page.tsx
  apps/web/app/admin/data/rosters/new/page.tsx
  apps/web/app/admin/data/star-players/[id]/edit/page.test.tsx
  apps/web/app/admin/data/star-players/[id]/edit/page.tsx
  apps/web/app/admin/data/star-players/_components/HirableByPicker.tsx
  apps/web/app/admin/data/star-players/_components/SkillCheckboxPicker.test.tsx
  apps/web/app/admin/data/star-players/_components/SkillCheckboxPicker.tsx
  apps/web/app/admin/data/star-players/_components/star-player-options.test.ts
  apps/web/app/admin/data/star-players/_components/star-player-options.ts
  apps/web/app/admin/data/star-players/new/page.test.tsx
  apps/web/app/admin/data/star-players/new/page.tsx
  openspec/changes/improve-star-player-admin-form/design.md
  openspec/changes/improve-star-player-admin-form/proposal.md
  openspec/changes/improve-star-player-admin-form/specs/admin-star-players/spec.md
  openspec/changes/improve-star-player-admin-form/tasks.md
Labels: web, server

chore(release): 1.229.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  87c459d9b53543067f72203c9e61f82633ee826d
Labels: none

feat(star-players): mots-cles (lignee + type) sur les Star Players
  .changeset/star-player-keywords.md
  apps/server/src/routes/admin-data.ts
  apps/server/src/routes/star-players-keywords.test.ts
  apps/server/src/routes/star-players.ts
  apps/server/src/routes/team-star-player-handlers.ts
  apps/server/src/schemas/admin-data.schemas.ts
  apps/server/src/seed.ts
  apps/web/app/admin/data/star-players/[id]/edit/page.tsx
  apps/web/app/admin/data/star-players/new/page.tsx
  apps/web/app/components/KeywordChips.tsx
  apps/web/app/components/StarPlayerCard.test.tsx
  apps/web/app/components/StarPlayerCard.tsx
  apps/web/app/components/StarPlayerSelector.tsx
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/lib/keyword-filter.test.ts
  apps/web/app/lib/keyword-filter.ts
  apps/web/app/star-players/StarPlayersClient.tsx
  apps/web/app/star-players/[slug]/layout.tsx
  apps/web/app/star-players/[slug]/page.tsx
  apps/web/app/star-players/[slug]/star-player-structured-data.test.ts
  apps/web/app/star-players/[slug]/star-player-structured-data.ts
  apps/web/app/teams/position-keyword-filter.ts
  docs/star-player-keywords-feature.md
  openspec/changes/add-star-player-keywords/design.md
  openspec/changes/add-star-player-keywords/proposal.md
  openspec/changes/add-star-player-keywords/specs/star-player-keywords/spec.md
  openspec/changes/add-star-player-keywords/tasks.md
  packages/game-engine/src/rosters/index.ts
  packages/game-engine/src/rosters/keyword-translations.ts
  packages/game-engine/src/rosters/star-player-keywords.test.ts
  packages/game-engine/src/rosters/star-player-keywords.ts
  packages/game-engine/src/rosters/star-players.ts
  prisma/schema.prisma
Labels: game-engine, web, server

feat(star-players): mots-clés (lignée + type) sur les Star Players (#955)
  .changeset/star-player-keywords.md
  apps/server/src/routes/admin-data.ts
  apps/server/src/routes/star-players-keywords.test.ts
  apps/server/src/routes/star-players.ts
  apps/server/src/routes/team-star-player-handlers.ts
  apps/server/src/schemas/admin-data.schemas.ts
  apps/server/src/seed.ts
  apps/web/app/admin/data/star-players/[id]/edit/page.tsx
  apps/web/app/admin/data/star-players/new/page.tsx
  apps/web/app/components/KeywordChips.tsx
  apps/web/app/components/StarPlayerCard.test.tsx
  apps/web/app/components/StarPlayerCard.tsx
  apps/web/app/components/StarPlayerSelector.tsx
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/lib/keyword-filter.test.ts
  apps/web/app/lib/keyword-filter.ts
  apps/web/app/star-players/StarPlayersClient.tsx
  apps/web/app/star-players/[slug]/layout.tsx
  apps/web/app/star-players/[slug]/page.tsx
  apps/web/app/star-players/[slug]/star-player-structured-data.test.ts
  apps/web/app/star-players/[slug]/star-player-structured-data.ts
  apps/web/app/teams/position-keyword-filter.ts
  docs/star-player-keywords-feature.md
  openspec/changes/add-star-player-keywords/design.md
  openspec/changes/add-star-player-keywords/proposal.md
  openspec/changes/add-star-player-keywords/specs/star-player-keywords/spec.md
  openspec/changes/add-star-player-keywords/tasks.md
  packages/game-engine/src/rosters/index.ts
  packages/game-engine/src/rosters/keyword-translations.ts
  packages/game-engine/src/rosters/star-player-keywords.test.ts
  packages/game-engine/src/rosters/star-player-keywords.ts
  packages/game-engine/src/rosters/star-players.ts
  prisma/schema.prisma
Labels: game-engine, web, server

chore(release): 1.230.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  216a3fb4e6d32d5496b395f1ccdfaea0d379233d
Labels: none

feat(skills): affiche actif/passif partout où le détail d'une compétence est montré
  apps/web/app/components/SkillTooltip.test.tsx
  apps/web/app/components/SkillTooltip.tsx
  apps/web/app/lib/skill-activation.test.ts
  apps/web/app/lib/skill-activation.ts
  apps/web/app/me/teams/[id]/edit/page.tsx
  apps/web/app/me/teams/components/SkillTooltip.test.tsx
  apps/web/app/me/teams/components/SkillTooltip.tsx
  apps/web/app/me/teams/skills-catalog-context.tsx
  apps/web/app/me/teams/skills-data.ts
  apps/web/app/skills/SkillsClient.tsx
  apps/web/app/skills/[slug]/page.tsx
Labels: web

chore(changeset): actif/passif dans les infobulles de compétences
  .changeset/skills-active-passive-display.md
Labels: none

feat(skills): affiche actif/passif partout où le détail d'une compétence est montré (#956)
  .changeset/skills-active-passive-display.md
  apps/web/app/components/SkillTooltip.test.tsx
  apps/web/app/components/SkillTooltip.tsx
  apps/web/app/lib/skill-activation.test.ts
  apps/web/app/lib/skill-activation.ts
  apps/web/app/me/teams/[id]/edit/page.tsx
  apps/web/app/me/teams/components/SkillTooltip.test.tsx
  apps/web/app/me/teams/components/SkillTooltip.tsx
  apps/web/app/me/teams/skills-catalog-context.tsx
  apps/web/app/me/teams/skills-data.ts
  apps/web/app/skills/SkillsClient.tsx
  apps/web/app/skills/[slug]/page.tsx
Labels: web

chore(release): 1.231.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  311bda8b88b39aebe789f352588683438d2cb316
Labels: none

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
