Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

feat(seo): pages de detail par competence /skills/[slug]
  apps/web/app/sitemap.ts
  apps/web/app/skills/SkillsClient.tsx
  apps/web/app/skills/[slug]/page.tsx
  apps/web/app/skills/skill-detail-structured-data.test.ts
  apps/web/app/skills/skill-detail-structured-data.ts
Labels: web

feat(home): lanceur de dés de blocage interactif dans le hero
  apps/web/app/components/home/BlockDiceRoller.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/page.tsx
Labels: web

feat(stats): endpoint public /api/public/stats + stats live sur la home
  apps/server/src/index.ts
  apps/server/src/routes/public-stats.ts
  apps/server/src/services/public-stats.test.ts
  apps/server/src/services/public-stats.ts
  apps/web/app/i18n/translations.ts
  apps/web/app/page.tsx
Labels: web, server

feat(share): partage public opt-in d'une équipe (backend)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/public-teams.ts
  apps/server/src/routes/team-share-handlers.ts
  apps/server/src/routes/team.ts
  apps/server/src/services/team-share.test.ts
  apps/server/src/services/team-share.ts
  prisma/migrations/20260613170000_add_team_public_share/migration.sql
  prisma/schema.prisma
Labels: server

feat(share): page publique de roster + carte OG + UI opt-in (front)
  apps/web/app/components/ShareBar.tsx
  apps/web/app/lib/og-image-content.roster.test.ts
  apps/web/app/lib/og-image-content.ts
  apps/web/app/lib/roster-display.ts
  apps/web/app/me/teams/[id]/TeamShareToggle.tsx
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/r/[token]/opengraph-image.tsx
  apps/web/app/r/[token]/page.tsx
Labels: web

feat(seo+share): ShareBar catalogue /teams/[slug] + ItemList JSON-LD sur /teams
  apps/web/app/teams/[slug]/TeamDetailClient.tsx
  apps/web/app/teams/page.tsx
  apps/web/app/teams/teams-list-structured-data.test.ts
  apps/web/app/teams/teams-list-structured-data.ts
Labels: web

feat(seo): ItemList JSON-LD sur /star-players (wrapper serveur)
  apps/web/app/star-players/StarPlayersClient.tsx
  apps/web/app/star-players/page.tsx
  apps/web/app/star-players/star-players-list-structured-data.test.ts
  apps/web/app/star-players/star-players-list-structured-data.ts
Labels: web

feat(home): accueil personnalisé coach connecté + marketing déconnecté
  apps/web/app/components/home/CoachDashboard.test.tsx
  apps/web/app/components/home/CoachDashboard.tsx
  apps/web/app/components/home/MarketingHome.tsx
  apps/web/app/home-page.test.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/page.tsx
Labels: web

feat(notifications): persist Web Push subscriptions in Prisma
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/push.ts
  apps/server/src/services/expo-push-notifications.test.ts
  apps/server/src/services/push-notifications.test.ts
  apps/server/src/services/push-notifications.ts
  prisma/migrations/20260613210000_add_push_subscription/migration.sql
  prisma/schema.prisma
Labels: server

feat(home): accueil personnalisé coach connecté + marketing déconnecté (#892)
  apps/web/app/components/home/CoachDashboard.test.tsx
  apps/web/app/components/home/CoachDashboard.tsx
  apps/web/app/components/home/MarketingHome.tsx
  apps/web/app/home-page.test.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/page.tsx
Labels: web

feat(seo): comparateur de rosters + pages de comparaison SSR + tier-list
  apps/web/app/teams/TeamsListClient.tsx
  apps/web/app/teams/[slug]/TeamDetailClient.tsx
  apps/web/app/teams/comparer/RosterComparatorClient.tsx
  apps/web/app/teams/comparer/[matchup]/page.tsx
  apps/web/app/teams/comparer/comparator-i18n.ts
  apps/web/app/teams/comparer/layout.tsx
  apps/web/app/teams/comparer/page.tsx
  apps/web/app/teams/comparison-structured-data.test.ts
  apps/web/app/teams/comparison-structured-data.ts
  apps/web/app/teams/comparison-summary.test.ts
  apps/web/app/teams/comparison-summary.ts
  apps/web/app/teams/matchup.test.ts
  apps/web/app/teams/matchup.ts
  apps/web/app/teams/roster-meta.test.ts
  apps/web/app/teams/roster-meta.ts
  apps/web/app/teams/tier-list-structured-data.test.ts
  apps/web/app/teams/tier-list-structured-data.ts
  apps/web/app/teams/tier-list/layout.tsx
  apps/web/app/teams/tier-list/page.tsx
Labels: web

feat(onboarding): guided "create your team in 60 seconds" wizard
  apps/server/src/routes/team-create-from-roster-handler.test.ts
  apps/server/src/routes/team-create-from-roster-handler.ts
  apps/server/src/utils/default-lineup.test.ts
  apps/server/src/utils/default-lineup.ts
  apps/web/app/i18n/translations.ts
  apps/web/app/lib/umami-events.ts
  apps/web/app/me/teams/[id]/FirstTeamWelcomeBanner.tsx
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/me/teams/_components/OnboardingModal.test.tsx
  apps/web/app/me/teams/_components/OnboardingModal.tsx
  apps/web/app/me/teams/_components/onboarding/FirstTeamWizard.test.tsx
  apps/web/app/me/teams/_components/onboarding/FirstTeamWizard.tsx
  apps/web/app/me/teams/_components/onboarding/onboarding-logic.test.ts
  apps/web/app/me/teams/_components/onboarding/onboarding-logic.ts
  apps/web/app/register/page.tsx
Labels: web, server

feat(email): weekly re-engagement digest (opt-in, RGPD)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/admin-digest.ts
  apps/server/src/routes/email-digest.ts
  apps/server/src/schemas/email-digest.schemas.ts
  apps/server/src/services/email-digest-preference.test.ts
  apps/server/src/services/email-digest-preference.ts
  apps/server/src/services/email-unsubscribe-token.test.ts
  apps/server/src/services/email-unsubscribe-token.ts
  apps/server/src/services/mailer.test.ts
  apps/server/src/services/mailer.ts
  apps/server/src/services/weekly-digest-job.test.ts
  apps/server/src/services/weekly-digest-job.ts
  apps/server/src/services/weekly-digest.test.ts
  apps/server/src/services/weekly-digest.ts
  apps/web/app/components/EmailDigestPreference.tsx
  apps/web/app/hooks/useEmailDigestPreference.ts
  apps/web/app/me/profile/page.tsx
  prisma/migrations/20260613220000_add_email_digest_preference/migration.sql
  prisma/schema.prisma
Labels: web, server

feat(seo): comparateur de rosters + pages de comparaison SSR + tier-list (#893)
  apps/web/app/teams/TeamsListClient.tsx
  apps/web/app/teams/[slug]/TeamDetailClient.tsx
  apps/web/app/teams/comparer/RosterComparatorClient.tsx
  apps/web/app/teams/comparer/[matchup]/page.tsx
  apps/web/app/teams/comparer/comparator-i18n.ts
  apps/web/app/teams/comparer/layout.tsx
  apps/web/app/teams/comparer/page.tsx
  apps/web/app/teams/comparison-structured-data.test.ts
  apps/web/app/teams/comparison-structured-data.ts
  apps/web/app/teams/comparison-summary.test.ts
  apps/web/app/teams/comparison-summary.ts
  apps/web/app/teams/matchup.test.ts
  apps/web/app/teams/matchup.ts
  apps/web/app/teams/roster-meta.test.ts
  apps/web/app/teams/roster-meta.ts
  apps/web/app/teams/tier-list-structured-data.test.ts
  apps/web/app/teams/tier-list-structured-data.ts
  apps/web/app/teams/tier-list/layout.tsx
  apps/web/app/teams/tier-list/page.tsx
Labels: web

feat(notifications): ré-engagement — Web Push persistant + digest e-mail hebdo (#894)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/admin-digest.ts
  apps/server/src/routes/email-digest.ts
  apps/server/src/routes/push.ts
  apps/server/src/schemas/email-digest.schemas.ts
  apps/server/src/services/email-digest-preference.test.ts
  apps/server/src/services/email-digest-preference.ts
  apps/server/src/services/email-unsubscribe-token.test.ts
  apps/server/src/services/email-unsubscribe-token.ts
  apps/server/src/services/expo-push-notifications.test.ts
  apps/server/src/services/mailer.test.ts
  apps/server/src/services/mailer.ts
  apps/server/src/services/push-notifications.test.ts
  apps/server/src/services/push-notifications.ts
  apps/server/src/services/weekly-digest-job.test.ts
  apps/server/src/services/weekly-digest-job.ts
  apps/server/src/services/weekly-digest.test.ts
  apps/server/src/services/weekly-digest.ts
  apps/web/app/components/EmailDigestPreference.tsx
  apps/web/app/hooks/useEmailDigestPreference.ts
  apps/web/app/me/profile/page.tsx
  prisma/migrations/20260613210000_add_push_subscription/migration.sql
  prisma/migrations/20260613220000_add_email_digest_preference/migration.sql
  prisma/schema.prisma
Labels: web, server

feat(onboarding): assistant guidé "Crée ton équipe en 60 secondes" (#895)
  apps/server/src/routes/team-create-from-roster-handler.test.ts
  apps/server/src/routes/team-create-from-roster-handler.ts
  apps/server/src/utils/default-lineup.test.ts
  apps/server/src/utils/default-lineup.ts
  apps/web/app/i18n/translations.ts
  apps/web/app/lib/umami-events.ts
  apps/web/app/me/teams/[id]/FirstTeamWelcomeBanner.tsx
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/me/teams/_components/OnboardingModal.test.tsx
  apps/web/app/me/teams/_components/OnboardingModal.tsx
  apps/web/app/me/teams/_components/onboarding/FirstTeamWizard.test.tsx
  apps/web/app/me/teams/_components/onboarding/FirstTeamWizard.tsx
  apps/web/app/me/teams/_components/onboarding/onboarding-logic.test.ts
  apps/web/app/me/teams/_components/onboarding/onboarding-logic.ts
  apps/web/app/register/page.tsx
Labels: web, server

fix(comparer): rendu mobile lisible du comparateur d'équipes
  apps/web/app/teams/comparer/RosterComparatorClient.tsx
Labels: web

fix(comparer): rendu mobile lisible du comparateur d'équipes (#896)
  apps/web/app/teams/comparer/RosterComparatorClient.tsx
Labels: web

chore: mise en place d'OpenSpec (Claude Code + Cursor)
  .claude/commands/opsx/apply.md
  .claude/commands/opsx/archive.md
  .claude/commands/opsx/explore.md
  .claude/commands/opsx/propose.md
  .claude/commands/opsx/sync.md
  .claude/skills/openspec-apply-change/SKILL.md
  .claude/skills/openspec-archive-change/SKILL.md
  .claude/skills/openspec-explore/SKILL.md
  .claude/skills/openspec-propose/SKILL.md
  .claude/skills/openspec-sync-specs/SKILL.md
  .cursor/commands/opsx-apply.md
  .cursor/commands/opsx-archive.md
  .cursor/commands/opsx-explore.md
  .cursor/commands/opsx-propose.md
  .cursor/commands/opsx-sync.md
  .cursor/skills/openspec-apply-change/SKILL.md
  .cursor/skills/openspec-archive-change/SKILL.md
  .cursor/skills/openspec-explore/SKILL.md
  .cursor/skills/openspec-propose/SKILL.md
  .cursor/skills/openspec-sync-specs/SKILL.md
  openspec/changes/archive/.gitkeep
  openspec/specs/.gitkeep
Labels: none

feat: ajoute la commande /ideas (brainstorming pre-OpenSpec)
  .claude/commands/ideas.md
  .cursor/commands/ideas.md
Labels: none

docs: branche le journal de decisions sur OpenSpec + repare les changesets
  .changeset/README.md
  .changeset/config.json
  CLAUDE.md
Labels: none

Add OpenSpec workflow skills and commands for experimental change management (#897)
  .changeset/README.md
  .changeset/config.json
  .claude/commands/ideas.md
  .claude/commands/opsx/apply.md
  .claude/commands/opsx/archive.md
  .claude/commands/opsx/explore.md
  .claude/commands/opsx/propose.md
  .claude/commands/opsx/sync.md
  .claude/skills/openspec-apply-change/SKILL.md
  .claude/skills/openspec-archive-change/SKILL.md
  .claude/skills/openspec-explore/SKILL.md
  .claude/skills/openspec-propose/SKILL.md
  .claude/skills/openspec-sync-specs/SKILL.md
  .cursor/commands/ideas.md
  .cursor/commands/opsx-apply.md
  .cursor/commands/opsx-archive.md
  .cursor/commands/opsx-explore.md
  .cursor/commands/opsx-propose.md
  .cursor/commands/opsx-sync.md
  .cursor/skills/openspec-apply-change/SKILL.md
  .cursor/skills/openspec-archive-change/SKILL.md
  .cursor/skills/openspec-explore/SKILL.md
  .cursor/skills/openspec-propose/SKILL.md
  .cursor/skills/openspec-sync-specs/SKILL.md
  CLAUDE.md
  openspec/changes/archive/.gitkeep
  openspec/specs/.gitkeep
Labels: none

docs(openspec): proposition harden-request-validation
  openspec/changes/harden-request-validation/design.md
  openspec/changes/harden-request-validation/proposal.md
  openspec/changes/harden-request-validation/specs/request-validation/spec.md
  openspec/changes/harden-request-validation/tasks.md
Labels: none

feat(server): validation Zod des trous residuels + middleware validateParams
  apps/server/src/middleware/validate.test.ts
  apps/server/src/middleware/validate.ts
  apps/server/src/routes/admin-digest.ts
  apps/server/src/routes/pro-gazette-comments.ts
  apps/server/src/routes/pro-league.ts
  apps/server/src/routes/user.ts
  apps/server/src/schemas/admin-digest.schemas.ts
  apps/server/src/schemas/common.schemas.ts
  apps/server/src/schemas/pro-gazette-comments.schemas.ts
  apps/server/src/schemas/pro-league.schemas.ts
  apps/server/src/schemas/user.schemas.ts
  apps/server/src/schemas/zod-schemas.test.ts
  openspec/changes/harden-request-validation/tasks.md
Labels: server

feat(server): garde anti-regression z.infer + migration de 12 fichiers de routes
  CLAUDE.md
  apps/server/src/routes/admin-digest.ts
  apps/server/src/routes/auth-privacy.ts
  apps/server/src/routes/email-digest.ts
  apps/server/src/routes/feedback.ts
  apps/server/src/routes/league-invitation.ts
  apps/server/src/routes/matchmaking.ts
  apps/server/src/routes/no-raw-body-cast.test.ts
  apps/server/src/routes/pro-gazette-comments.ts
  apps/server/src/routes/pro-league.ts
  apps/server/src/routes/pro-survivor.ts
  apps/server/src/routes/push.ts
  apps/server/src/routes/team-advancement.ts
  apps/server/src/routes/user.ts
  apps/server/src/schemas/admin-digest.schemas.ts
  apps/server/src/schemas/auth.schemas.ts
  apps/server/src/schemas/email-digest.schemas.ts
  apps/server/src/schemas/matchmaking.schemas.ts
  apps/server/src/schemas/pro-gazette-comments.schemas.ts
  apps/server/src/schemas/pro-league.schemas.ts
  apps/server/src/schemas/pro-survivor.schemas.ts
  apps/server/src/schemas/push.schemas.ts
  apps/server/src/schemas/user.schemas.ts
  openspec/changes/harden-request-validation/tasks.md
Labels: server

refactor(server): migration z.infer de 11 fichiers de routes (lot 3+4)
  apps/server/src/routes/admin-leagues.ts
  apps/server/src/routes/admin-nfl-fantasy-explorer.ts
  apps/server/src/routes/admin-nfl-fantasy.ts
  apps/server/src/routes/admin-nfl-ingest.ts
  apps/server/src/routes/admin-pro-tournament.ts
  apps/server/src/routes/admin-sim.ts
  apps/server/src/routes/cup.ts
  apps/server/src/routes/league.ts
  apps/server/src/routes/nfl-fantasy-draft-sessions.ts
  apps/server/src/routes/nfl-fantasy-entries.ts
  apps/server/src/routes/nfl-fantasy-leagues.ts
  apps/server/src/routes/no-raw-body-cast.test.ts
  openspec/changes/harden-request-validation/tasks.md
Labels: server

refactor(server): migration z.infer lot 5 (4 fichiers single-line)
  apps/server/src/routes/admin-wallet.ts
  apps/server/src/routes/friends.ts
  apps/server/src/routes/match-lifecycle-handlers.ts
  apps/server/src/routes/no-raw-body-cast.test.ts
  apps/server/src/routes/team-share-handlers.ts
Labels: server

refactor(server): migration z.infer lot 6 (5 handlers d'equipe extraits)
  apps/server/src/routes/no-raw-body-cast.test.ts
  apps/server/src/routes/team-build-handler.ts
  apps/server/src/routes/team-create-from-roster-handler.ts
  apps/server/src/routes/team-mutation-handlers.ts
  apps/server/src/routes/team-player-skills-handler.ts
  apps/server/src/routes/team-purchase-handler.ts
Labels: server

refactor(server): migration z.infer lot 7 — migration COMPLETE, denylist vide
  CLAUDE.md
  apps/server/src/routes/admin-blog.ts
  apps/server/src/routes/admin-pro-roster.ts
  apps/server/src/routes/admin-pro-season.ts
  apps/server/src/routes/admin-pro-team.ts
  apps/server/src/routes/admin.ts
  apps/server/src/routes/auth.ts
  apps/server/src/routes/feature-flags.ts
  apps/server/src/routes/kofi.ts
  apps/server/src/routes/local-match.ts
  apps/server/src/routes/match.ts
  apps/server/src/routes/no-raw-body-cast.test.ts
  apps/server/src/routes/pro-prediction-leagues.ts
  openspec/changes/harden-request-validation/tasks.md
Labels: server

docs(openspec): sync request-validation delta-spec vers specs principales
  openspec/specs/request-validation/spec.md
Labels: none

feat(web): tableau de bord coach sous /me + liens accueil/dashboard
  apps/web/app/components/home/CoachDashboard.test.tsx
  apps/web/app/components/home/CoachDashboard.tsx
  apps/web/app/components/home/MarketingHome.tsx
  apps/web/app/components/home/coach.ts
  apps/web/app/home-page.test.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/me/page.test.tsx
  apps/web/app/me/page.tsx
  apps/web/app/page.tsx
Labels: web

Refactor: Split home page into marketing + dashboard routes (#900)
  apps/web/app/components/home/CoachDashboard.test.tsx
  apps/web/app/components/home/CoachDashboard.tsx
  apps/web/app/components/home/MarketingHome.tsx
  apps/web/app/components/home/coach.ts
  apps/web/app/home-page.test.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/me/page.test.tsx
  apps/web/app/me/page.tsx
  apps/web/app/page.tsx
Labels: web

docs: rafraichit TODO/CLAUDE/phases (etat reel au 2026-06-15)
  CLAUDE.md
  TODO.md
  docs/roadmap/phases.md
Labels: none

perf(nfl-fantasy): parallelise le comptage joueurs/saison (admin explorer)
  apps/server/src/services/nfl-fantasy-admin-explorer.ts
Labels: server

refactor(i18n): externalise translations.ts en JSON par locale (groundwork R.A.2)
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/i18n/translations.ts
Labels: web

docs(openspec): archive me-dashboard-clean-url change (#900)
  openspec/changes/archive/2026-06-15-me-dashboard-clean-url/design.md
  openspec/changes/archive/2026-06-15-me-dashboard-clean-url/proposal.md
  openspec/changes/archive/2026-06-15-me-dashboard-clean-url/specs/home-dashboard/spec.md
  openspec/changes/archive/2026-06-15-me-dashboard-clean-url/tasks.md
  openspec/specs/home-dashboard/spec.md
Labels: none

docs(openspec): archive me-dashboard-clean-url change (#900) (#901)
  openspec/changes/archive/2026-06-15-me-dashboard-clean-url/design.md
  openspec/changes/archive/2026-06-15-me-dashboard-clean-url/proposal.md
  openspec/changes/archive/2026-06-15-me-dashboard-clean-url/specs/home-dashboard/spec.md
  openspec/changes/archive/2026-06-15-me-dashboard-clean-url/tasks.md
  openspec/specs/home-dashboard/spec.md
Labels: none

docs(openspec): archive harden-request-validation change
  openspec/changes/archive/2026-06-15-harden-request-validation/design.md
  openspec/changes/archive/2026-06-15-harden-request-validation/proposal.md
  openspec/changes/archive/2026-06-15-harden-request-validation/specs/request-validation/spec.md
  openspec/changes/archive/2026-06-15-harden-request-validation/tasks.md
Labels: none

docs(openspec): coche la tache 5.2 (sync + archive) du change archive
  openspec/changes/archive/2026-06-15-harden-request-validation/tasks.md
Labels: none

fix(auth): renseigne lastLoginAt à l'inscription et au refresh
  apps/server/src/routes/auth-refresh.test.ts
  apps/server/src/routes/auth-refresh.ts
  apps/server/src/routes/auth-register.test.ts
  apps/server/src/routes/auth.ts
Labels: server

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
