Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

feat(admin): UI broadcaster load test (Lot J) (#735)
  apps/server/src/routes/admin-sim.test.ts
  apps/server/src/routes/admin-sim.ts
  apps/web/app/admin/sim/health/page.tsx
  apps/web/app/admin/sim/loadtest/page.tsx
Labels: web, server

feat(pro-league): roster filters/sort + ready-to-level-up badge (Lot H)
  apps/web/app/pro-league/teams/[slug]/page.test.tsx
  apps/web/app/pro-league/teams/[slug]/page.tsx
Labels: web

feat(pro-league): standings TV column + sort by TV (Lot I)
  apps/server/src/services/pro-league-standings.test.ts
  apps/server/src/services/pro-league-standings.ts
  apps/web/app/pro-league/standings/page.test.tsx
  apps/web/app/pro-league/standings/page.tsx
Labels: web, server

feat(pro-league): roster filters/sort + ready-to-level-up badge (Lot H) (#737)
  apps/web/app/pro-league/teams/[slug]/page.test.tsx
  apps/web/app/pro-league/teams/[slug]/page.tsx
Labels: web

feat(pro-league): player detail page (Lot G) (#736)
  apps/server/src/routes/pro-league.ts
  apps/server/src/services/pro-player-detail.test.ts
  apps/server/src/services/pro-player-detail.ts
  apps/web/app/pro-league/teams/[slug]/page.tsx
  apps/web/app/pro-league/teams/[slug]/players/[playerId]/page.tsx
Labels: web, server

chore(release): 1.104.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  df5e207c7333ef5bd361de1b267d9421a707cf8c
Labels: none

fix(pro-league): readyToLevelUp flag — phantom badge dans Lot H (Lot K)
  apps/server/src/services/pro-league-team.test.ts
  apps/server/src/services/pro-league-team.ts
  apps/server/src/services/pro-player-detail.test.ts
  apps/server/src/services/pro-player-detail.ts
  apps/web/app/pro-league/teams/[slug]/page.test.tsx
  apps/web/app/pro-league/teams/[slug]/page.tsx
  apps/web/app/pro-league/teams/[slug]/players/[playerId]/page.tsx
Labels: web, server

feat(pro-league): player match history avec SPP delta (Lot L)
  apps/server/src/routes/pro-league.ts
  apps/server/src/services/pro-player-match-history.test.ts
  apps/server/src/services/pro-player-match-history.ts
  apps/web/app/pro-league/teams/[slug]/players/[playerId]/page.tsx
Labels: web, server

fix(pro-league): readyToLevelUp flag — phantom badge dans Lot H (Lot K) (#739)
  apps/server/src/services/pro-league-team.test.ts
  apps/server/src/services/pro-league-team.ts
  apps/server/src/services/pro-player-detail.test.ts
  apps/server/src/services/pro-player-detail.ts
  apps/web/app/pro-league/teams/[slug]/page.test.tsx
  apps/web/app/pro-league/teams/[slug]/page.tsx
  apps/web/app/pro-league/teams/[slug]/players/[playerId]/page.tsx
Labels: web, server

feat(pro-league): top earners widget sur team detail (Lot M)
  apps/server/src/services/pro-league-team.test.ts
  apps/server/src/services/pro-league-team.ts
  apps/web/app/pro-league/teams/[slug]/page.test.tsx
  apps/web/app/pro-league/teams/[slug]/page.tsx
Labels: web, server

feat(pro-league): wallet page avec ledger transactions (Lot N)
  apps/web/app/pro-league/me/bets/page.tsx
  apps/web/app/pro-league/me/wallet/page.test.tsx
  apps/web/app/pro-league/me/wallet/page.tsx
Labels: web

chore(release): 1.105.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  58699d1db45238b7154967fadb03e965e1bc6c8b
Labels: none

chore(release): 1.106.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  29430f76d0ebe81bb106fe900ca8ef4a4e92121d
Labels: none

chore(release): 1.107.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  aa99fb87368f05c6f56bf42d5fc263820f501f31
Labels: none

docs: session UI polish Pro League 2026-05-10 (12 lots livres)
  CLAUDE.md
  TODO.md
  docs/ROADMAP_DONE.md
  docs/roadmap/sessions/2026-05-10-pro-league-ui-polish.md
Labels: none

docs: session UI polish Pro League 2026-05-10 (12 lots livrés) (#743)
  CLAUDE.md
  TODO.md
  docs/ROADMAP_DONE.md
  docs/roadmap/sessions/2026-05-10-pro-league-ui-polish.md
Labels: none

docs(roadmap): sprints O/P/Q/R post-audit 7 agents (2026-05-10)
  TODO.md
  docs/roadmap/phases.md
  docs/roadmap/sprints/SPRINT-O-bug-fixes-acquisition.md
  docs/roadmap/sprints/SPRINT-P-ops-readiness.md
  docs/roadmap/sprints/SPRINT-Q-fan-differentiation.md
  docs/roadmap/sprints/SPRINT-R-international-monetization-mobile.md
Labels: none

fix(game-engine): regeneration / apothecary order BB Season 2/3 (Lot O.A.1)
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/mechanics/apothecary.ts
  packages/game-engine/src/mechanics/injury.ts
  packages/game-engine/src/mechanics/regeneration.test.ts
Labels: game-engine

docs(roadmap): sprints O/P/Q/R post-audit 7 agents (2026-05-10) (#744)
  TODO.md
  docs/roadmap/phases.md
  docs/roadmap/sprints/SPRINT-O-bug-fixes-acquisition.md
  docs/roadmap/sprints/SPRINT-P-ops-readiness.md
  docs/roadmap/sprints/SPRINT-Q-fan-differentiation.md
  docs/roadmap/sprints/SPRINT-R-international-monetization-mobile.md
Labels: none

feat(auth): kill-switch validation admin sur /auth/register (Lot O.B.1)
  apps/server/src/routes/auth-register.test.ts
  apps/server/src/routes/auth.ts
  apps/server/src/seed.ts
  apps/server/src/services/featureFlags.ts
Labels: server

fix(featureFlags): kill-switch flags ne sont pas force-enabled en CI (Lot O.B.1 follow-up)
  apps/server/src/services/featureFlags.test.ts
  apps/server/src/services/featureFlags.ts
Labels: server

feat(web): onboarding modal post-signup sur /me/teams (Lot O.B.3)
  apps/web/app/me/teams/_components/OnboardingModal.test.tsx
  apps/web/app/me/teams/_components/OnboardingModal.tsx
  apps/web/app/me/teams/page.tsx
Labels: web

feat(pro-league): daily bonus claim UI sur /me/wallet (Lot O.C.1)
  apps/web/app/pro-league/me/wallet/_components/DailyBonusCard.test.tsx
  apps/web/app/pro-league/me/wallet/_components/DailyBonusCard.tsx
  apps/web/app/pro-league/me/wallet/page.tsx
Labels: web

feat(auth): kill-switch validation admin sur /auth/register (Lot O.B.1) (#746)
  apps/server/src/routes/auth-register.test.ts
  apps/server/src/routes/auth.ts
  apps/server/src/seed.ts
  apps/server/src/services/featureFlags.test.ts
  apps/server/src/services/featureFlags.ts
Labels: server

fix(game-engine): regeneration / apothecary order BB Season 2/3 (Lot O.A.1) (#745)
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/mechanics/apothecary.ts
  packages/game-engine/src/mechanics/injury.ts
  packages/game-engine/src/mechanics/regeneration.test.ts
Labels: game-engine

feat(pro-league): badge unlock toast + provider global (Lot O.C.3)
  apps/server/src/routes/pro-league.ts
  apps/web/app/pro-league/_components/BadgeToastProvider.test.tsx
  apps/web/app/pro-league/_components/BadgeToastProvider.tsx
  apps/web/app/pro-league/_components/BetSlip.tsx
  apps/web/app/pro-league/layout.tsx
Labels: web, server

feat(web): onboarding modal post-signup sur /me/teams (Lot O.B.3) (#747)
  apps/web/app/me/teams/_components/OnboardingModal.test.tsx
  apps/web/app/me/teams/_components/OnboardingModal.tsx
  apps/web/app/me/teams/page.tsx
Labels: web

feat(pro-league): OG image dynamique + share buttons matchs (Lot O.D)
  apps/web/app/lib/og-image-content.test.ts
  apps/web/app/lib/og-image-content.ts
  apps/web/app/lib/og-image-template.tsx
  apps/web/app/pro-league/_components/ShareButtons.test.tsx
  apps/web/app/pro-league/_components/ShareButtons.tsx
  apps/web/app/pro-league/matches/[id]/layout.tsx
  apps/web/app/pro-league/matches/[id]/opengraph-image.tsx
  apps/web/app/pro-league/matches/[id]/page.tsx
Labels: web

feat(web): match report banner sur /me/teams/[id] (Lot O.C.2)
  apps/server/src/routes/match-details-handlers.ts
  apps/web/app/me/teams/[id]/MatchReportBanner.test.tsx
  apps/web/app/me/teams/[id]/MatchReportBanner.tsx
  apps/web/app/me/teams/[id]/page.tsx
Labels: web, server

feat(pro-league): OG image dynamique + share buttons matchs (Lot O.D) (#750)
  apps/web/app/lib/og-image-content.test.ts
  apps/web/app/lib/og-image-content.ts
  apps/web/app/lib/og-image-template.tsx
  apps/web/app/pro-league/_components/ShareButtons.test.tsx
  apps/web/app/pro-league/_components/ShareButtons.tsx
  apps/web/app/pro-league/matches/[id]/layout.tsx
  apps/web/app/pro-league/matches/[id]/opengraph-image.tsx
  apps/web/app/pro-league/matches/[id]/page.tsx
Labels: web

feat(pro-league): badge unlock toast + provider global (Lot O.C.3) (#749)
  apps/server/src/routes/pro-league.ts
  apps/web/app/pro-league/_components/BadgeToastProvider.test.tsx
  apps/web/app/pro-league/_components/BadgeToastProvider.tsx
  apps/web/app/pro-league/_components/BetSlip.tsx
  apps/web/app/pro-league/layout.tsx
Labels: web, server

chore(release): 1.108.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  a892a902e2dadcdd08fb2f9d1b30b67a961d9a24
Labels: none

docs: session log Sprint O 2026-05-11 + patterns CLAUDE.md
  CLAUDE.md
  TODO.md
  docs/roadmap/phases.md
  docs/roadmap/sessions/2026-05-11-sprint-O.md
Labels: none

feat(ops): mode maintenance global toggleable (Lot P.A.1)
  apps/server/src/index.ts
  apps/server/src/middleware/maintenance.test.ts
  apps/server/src/middleware/maintenance.ts
  apps/server/src/seed.ts
  apps/server/src/services/featureFlags.ts
  apps/web/app/maintenance/page.tsx
Labels: web, server

docs: session log Sprint O 2026-05-11 + patterns CLAUDE.md (#752)
  CLAUDE.md
  TODO.md
  docs/roadmap/phases.md
  docs/roadmap/sessions/2026-05-11-sprint-O.md
Labels: none

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
