Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"

feat(images): add new competence images for web application
  apps/web/public/images/Competence-Agilite.png
  apps/web/public/images/Competence-Force.png
  apps/web/public/images/Competence-Generale.png
  apps/web/public/images/Competence-Mutation.png
  apps/web/public/images/Competence-Passe.png
  apps/web/public/images/Competence-Scelerate.png
Labels: web

chore(release): 1.112.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  0ec625f3d158b162162d22e92bc2e06a78ff77b3
Labels: none

feat(skill-tooltip): integrate skill category icons in tooltip and skills client
  apps/web/app/components/SkillTooltip.tsx
  apps/web/app/lib/skill-category-icons.ts
  apps/web/app/skills/SkillsClient.tsx
Labels: web

chore(release): 1.113.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  229831897a67bde2b461ecce9a0a8fc1fc6f994d
Labels: none

feat(auth): Sprint P.C.1 — password reset self-service
  apps/server/prisma/sqlite/migrations/20260522000000_add_password_reset_token/migration.sql
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/auth.ts
  apps/server/src/schemas/auth.schemas.ts
  apps/server/src/services/password-reset.test.ts
  apps/server/src/services/password-reset.ts
  apps/server/src/services/refresh-token-store-singleton.ts
  apps/web/app/forgot-password/page.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/login/page.tsx
  apps/web/app/reset-password/page.tsx
  prisma/schema.prisma
Labels: web, server

feat(auth): Sprint P.C.1 — password reset self-service (#790)
  apps/server/prisma/sqlite/migrations/20260522000000_add_password_reset_token/migration.sql
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/auth.ts
  apps/server/src/schemas/auth.schemas.ts
  apps/server/src/services/password-reset.test.ts
  apps/server/src/services/password-reset.ts
  apps/server/src/services/refresh-token-store-singleton.ts
  apps/web/app/forgot-password/page.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/login/page.tsx
  apps/web/app/reset-password/page.tsx
  prisma/schema.prisma
Labels: web, server

feat(pro-league): Sprint P.B.2 — tournois Pro League payants (sink Crowns)
  apps/server/prisma/sqlite/migrations/20260523000000_add_pro_tournaments/migration.sql
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/admin-pro-tournament.ts
  apps/server/src/routes/pro-league.ts
  apps/server/src/services/pro-tournament-entry.test.ts
  apps/server/src/services/pro-tournament-entry.ts
  apps/web/app/pro-league/tournaments/page.tsx
  prisma/schema.prisma
Labels: web, server

chore: merge main (resolve P.C.1 client conflicts)
  apps/server/prisma/sqlite/migrations/20260522000000_add_password_reset_token/migration.sql
  apps/server/src/services/password-reset.test.ts
  apps/server/src/services/password-reset.ts
  apps/server/src/services/refresh-token-store-singleton.ts
  apps/web/app/forgot-password/page.tsx
  apps/web/app/reset-password/page.tsx
Labels: web, server

chore: complete P.C.1 merge (missing files)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/auth.ts
  apps/server/src/schemas/auth.schemas.ts
  apps/web/app/i18n/translations.ts
  apps/web/app/login/page.tsx
  prisma/schema.prisma
Labels: web, server

feat(pro-league): Sprint P.B.2 — tournois Pro League payants (sink Crowns) (#791)
  apps/server/prisma/sqlite/migrations/20260523000000_add_pro_tournaments/migration.sql
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/admin-pro-tournament.ts
  apps/server/src/routes/pro-league.ts
  apps/server/src/services/pro-tournament-entry.test.ts
  apps/server/src/services/pro-tournament-entry.ts
  apps/web/app/pro-league/tournaments/page.tsx
  prisma/schema.prisma
Labels: web, server

feat(match): Sprint R.E.1 — game mode async backend (FUMBBL-killer)
  apps/server/prisma/sqlite/migrations/20260524000000_add_async_match_mode/migration.sql
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/match.ts
  apps/server/src/services/async-match.test.ts
  apps/server/src/services/async-match.ts
  apps/server/src/services/move-processor.ts
  prisma/schema.prisma
Labels: server

feat(match): Sprint R.E.1 — game mode async backend (FUMBBL-killer) (#792)
  apps/server/prisma/sqlite/migrations/20260524000000_add_async_match_mode/migration.sql
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/match.ts
  apps/server/src/services/async-match.test.ts
  apps/server/src/services/async-match.ts
  apps/server/src/services/move-processor.ts
  prisma/schema.prisma
Labels: server

feat(match): Sprint R.E.2 — UI async web (countdown + listing)
  apps/server/src/routes/user.ts
  apps/web/app/components/AsyncMatchCountdown.tsx
  apps/web/app/me/matches/async/page.tsx
Labels: web, server

feat(admin): responsive layout pour mobile
  apps/web/app/admin/analytics/page.tsx
  apps/web/app/admin/audit-log/page.tsx
  apps/web/app/admin/cups/page.tsx
  apps/web/app/admin/feature-flags/page.tsx
  apps/web/app/admin/feedback/page.tsx
  apps/web/app/admin/gazette/comments/page.tsx
  apps/web/app/admin/layout.tsx
  apps/web/app/admin/local-matches/page.tsx
  apps/web/app/admin/matches/page.tsx
  apps/web/app/admin/page.tsx
  apps/web/app/admin/pro-league/page.tsx
  apps/web/app/admin/pro-league/seasons/page.tsx
  apps/web/app/admin/progress/page.tsx
  apps/web/app/admin/routes/page.tsx
  apps/web/app/admin/sim/page.tsx
  apps/web/app/admin/teams/page.tsx
  apps/web/app/admin/users/page.tsx
  apps/web/app/admin/utilities/page.tsx
  apps/web/app/admin/wallets/[userId]/page.tsx
Labels: web

feat(leagues): Sprint R.E.3 — ligues v2 mode async par ligue
  apps/server/prisma/sqlite/migrations/20260525000000_add_league_async_mode/migration.sql
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/admin-leagues.ts
  apps/server/src/schemas/admin-leagues.schemas.ts
  apps/server/src/services/league-match-from-pairing.ts
  prisma/schema.prisma
Labels: server

feat(i18n): Sprint R.A.1 — i18n routing + locale auto-detection
  apps/web/app/contexts/LanguageContext.tsx
  apps/web/app/lib/locale-detection.test.ts
  apps/web/app/lib/locale-detection.ts
  apps/web/middleware.ts
Labels: web

feat(match): Sprint R.E.2 — UI async web (countdown + listing) (#793)
  apps/server/src/routes/user.ts
  apps/web/app/components/AsyncMatchCountdown.tsx
  apps/web/app/me/matches/async/page.tsx
Labels: web, server

feat(seo): Sprint R.A.4 — SEO multi-langue (hreflang + sitemap localized)
  apps/web/app/layout.tsx
  apps/web/app/lib/locale-detection.ts
  apps/web/app/seo/hreflang.test.ts
  apps/web/app/seo/hreflang.ts
  apps/web/app/sitemap.ts
Labels: web

feat(supporter): Sprint R.B.3 — supporter status (ad-free + early access)
  apps/server/src/routes/user.ts
  apps/server/src/services/supporter-status.test.ts
  apps/server/src/services/supporter-status.ts
  apps/web/app/me/supporter/page.tsx
Labels: web, server

feat(leagues): Sprint R.E.3 — ligues v2 mode async par ligue (#794)
  apps/server/prisma/sqlite/migrations/20260525000000_add_league_async_mode/migration.sql
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/admin-leagues.ts
  apps/server/src/schemas/admin-leagues.schemas.ts
  apps/server/src/services/league-match-from-pairing.ts
  prisma/schema.prisma
Labels: server

feat(naf): Sprint R.D.3 — NAF tournaments integration (opt-in)
  apps/server/prisma/sqlite/migrations/20260526000000_add_user_naf_name/migration.sql
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/user.ts
  apps/server/src/services/naf-sync.test.ts
  apps/server/src/services/naf-sync.ts
  prisma/migrations/20260526000000_add_user_naf_name/migration.sql
  prisma/schema.prisma
Labels: server

feat(seo): Sprint R.A.4 — SEO multi-langue (hreflang + sitemap) (#796)
  apps/web/app/layout.tsx
  apps/web/app/lib/locale-detection.ts
  apps/web/app/seo/hreflang.test.ts
  apps/web/app/seo/hreflang.ts
  apps/web/app/sitemap.ts
Labels: web

feat(i18n): Sprint R.A.1 — i18n routing + locale auto-detection (#795)
  apps/web/app/contexts/LanguageContext.tsx
  apps/web/app/lib/locale-detection.test.ts
  apps/web/middleware.ts
Labels: web

chore(release): 1.114.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  6ae4bb887103c76474aeb9e17ece0313fe06581f
Labels: none

chore(release): 1.115.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  8bc2fe622625d1bab34b15a6943f5adf0c045cf1
Labels: none

feat(naf): Sprint R.D.3 — NAF tournaments integration (opt-in) (#799)
  apps/server/prisma/sqlite/migrations/20260526000000_add_user_naf_name/migration.sql
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/user.ts
  apps/server/src/services/naf-sync.test.ts
  apps/server/src/services/naf-sync.ts
  prisma/migrations/20260526000000_add_user_naf_name/migration.sql
  prisma/schema.prisma
Labels: server

fix(match-summary): extract real score from last gameState
  apps/server/src/routes/match-summary-handler.ts
  apps/server/src/routes/match.test.ts
Labels: server

fix(star-players): implement roster filter using engine data
  apps/web/app/star-players/page.tsx
Labels: web

fix(match-summary): extract real score from last gameState (#800)
  apps/server/src/routes/match-summary-handler.ts
  apps/server/src/routes/match.test.ts
Labels: server

chore(release): 1.116.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  78232c0257e9d9ebeaacb632cbb917a9222ce5fd
Labels: none

feat(pro-league): test seasons full sim + cascade delete (admin)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/admin-pro-test-season.test.ts
  apps/server/src/routes/admin-pro-test-season.ts
  apps/server/src/routes/pro-survivor.ts
  apps/server/src/schemas/admin.schemas.ts
  apps/server/src/services/pro-bet-leaderboard.ts
  apps/server/src/services/pro-gazette-recap.ts
  apps/server/src/services/pro-league-health.ts
  apps/server/src/services/pro-league-hub.ts
  apps/server/src/services/pro-league-standings.ts
  apps/server/src/services/pro-league-team.ts
  apps/server/src/services/pro-league-test-factory.test.ts
  apps/server/src/services/pro-league-test-factory.ts
  prisma/migrations/20260527000000_add_pro_season_is_test/migration.sql
  prisma/schema.prisma
Labels: server

fix(team): prevent player duplication on seed reruns and protect creation atomicity
  apps/server/src/routes/team-build-handler.ts
  apps/server/src/routes/team-create-from-roster-handler.ts
  apps/server/src/seed.ts
  apps/web/app/me/teams/new/page.tsx
Labels: web, server

chore(release): 1.116.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  635af0a70f8e0837eef54b390cf4b0a73bf7bfe7
Labels: none

fix(deploy): disable auto-seed in production deploy pipeline
  scripts/db-migrate.sh
  scripts/deploy.sh
Labels: none
