Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

docs: restore systematic PR creation step in improved prompt
  docs/PROMPT_REVIEW.md
Labels: none

chore(release): 1.47.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  5f8ced8bdc4dd397c895719673f4c408066d5388
Labels: none

fix: resolve markdown nesting issue in improved prompt
  docs/PROMPT_REVIEW.md
Labels: none

fix: use workflow_run trigger to avoid auto-merge racing CI
  .github/workflows/auto-merge.yml
Labels: none

chore(release): 1.47.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  50ae578e70a13bd752b65d997ab6340953ae4802
Labels: none

Notes added by 'git notes add'
  d827dd8a25e145ec86c0e1fdae33b5a2349800d2
Labels: none

chore(release): 1.47.2 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

feat: synchronize game actions via WebSocket (A.6)
  TODO.md
  apps/server/src/game-actions.ts
  apps/server/src/routes/match.ts
  apps/server/src/services/move-processor.ts
  apps/server/src/socket.ts
  apps/web/app/play-hidden/[id]/hooks/useGameMoves.ts
  apps/web/app/play-hidden/[id]/hooks/useGameSocket.test.ts
  apps/web/app/play-hidden/[id]/hooks/useGameSocket.ts
  apps/web/app/play-hidden/[id]/page.tsx
  tests/game-actions.test.ts
Labels: web, server

chore: update version.json build timestamp
  apps/web/public/version.json
Labels: web

feat: synchronize game actions via WebSocket (A.6) (#98)
  TODO.md
  apps/server/src/game-actions.ts
  apps/server/src/routes/match.ts
  apps/server/src/services/move-processor.ts
  apps/server/src/socket.ts
  apps/web/app/play-hidden/[id]/hooks/useGameMoves.ts
  apps/web/app/play-hidden/[id]/hooks/useGameSocket.test.ts
  apps/web/app/play-hidden/[id]/hooks/useGameSocket.ts
  apps/web/app/play-hidden/[id]/page.tsx
  apps/web/public/version.json
  tests/game-actions.test.ts
Labels: web, server

feat: wire Block/Push/FollowUp popups in online match (UI-1)
  TODO.md
  apps/web/app/play-hidden/[id]/hooks/useBlockPopups.test.ts
  apps/web/app/play-hidden/[id]/hooks/useBlockPopups.ts
  apps/web/app/play-hidden/[id]/page.tsx
Labels: web

chore: update version.json build date
  apps/web/public/version.json
Labels: web

feat: wire Block/Push/FollowUp popups in online match (UI-1) (#99)
  TODO.md
  apps/web/app/play-hidden/[id]/hooks/useBlockPopups.test.ts
  apps/web/app/play-hidden/[id]/hooks/useBlockPopups.ts
  apps/web/app/play-hidden/[id]/page.tsx
  apps/web/public/version.json
Labels: web

feat: wire interactive reroll button in online match (UI-2)
  TODO.md
  apps/web/app/play-hidden/[id]/hooks/useBlockPopups.test.ts
  apps/web/app/play-hidden/[id]/hooks/useBlockPopups.ts
  apps/web/app/play-hidden/[id]/page.tsx
  packages/ui/src/index.tsx
  packages/ui/src/popups/RerollChoicePopup.tsx
Labels: packages-ui, web

feat: wire interactive Reroll popup in online match (UI-2)
  TODO.md
  apps/web/app/play-hidden/[id]/hooks/useBlockPopups.test.ts
  apps/web/app/play-hidden/[id]/hooks/useBlockPopups.ts
  apps/web/app/play-hidden/[id]/page.tsx
  packages/ui/src/index.tsx
  packages/ui/src/popups/RerollChoicePopup.test.tsx
  packages/ui/src/popups/RerollChoicePopup.tsx
Labels: packages-ui, web

chore: update build date in version.json
  apps/web/public/version.json
Labels: web

feat: wire interactive Reroll popup (UI-2) (#100)
  TODO.md
  apps/web/app/play-hidden/[id]/hooks/useBlockPopups.test.ts
  apps/web/app/play-hidden/[id]/hooks/useBlockPopups.ts
  apps/web/app/play-hidden/[id]/page.tsx
  apps/web/public/version.json
  packages/ui/src/index.tsx
  packages/ui/src/popups/RerollChoicePopup.test.tsx
  packages/ui/src/popups/RerollChoicePopup.tsx
Labels: packages-ui, web

feat: add post-touchdown re-kickoff with KO recovery (B1.9)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/post-touchdown.test.ts
Labels: game-engine

feat: add post-touchdown re-kickoff with KO recovery (B1.9) (#101)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/post-touchdown.test.ts
Labels: game-engine

feat: implement Apothecary rule (B1.2-3)
  TODO.md
  apps/web/app/play-hidden/[id]/hooks/useBlockPopups.ts
  apps/web/app/play-hidden/[id]/page.tsx
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/apothecary.test.ts
  packages/game-engine/src/mechanics/apothecary.ts
  packages/game-engine/src/mechanics/injury.ts
  packages/ui/src/index.tsx
  packages/ui/src/popups/ApothecaryChoicePopup.tsx
Labels: packages-ui, game-engine, web

Notes added by 'git notes add'
  a0dce0ec7d1bc6ed09ad6344f05e886dbea0830c
Labels: none

chore(release): 1.48.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

feat: implement Wrestle skill effect (B1.6)
  TODO.md
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/mechanics/wrestle.test.ts
  packages/game-engine/src/skills/skill-effects.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat: implement Wrestle skill effect (B1.6) (#103)
  TODO.md
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/mechanics/wrestle.test.ts
  packages/game-engine/src/skills/skill-effects.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat: implement Loner reroll limitation (B1.5)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/skills/loner.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

chore: update version.json from build
  apps/web/public/version.json
Labels: web

feat: implement Loner reroll limitation (B1.5) (#104)
  TODO.md
  apps/web/public/version.json
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/skills/loner.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine, web

feat: add prompt-template skill and command with sample templates
  .claude/commands/prompt-template.md
  .claude/skills/prompt-template/SKILL.md
  .claude/templates/add-api-endpoint.md
  .claude/templates/add-feature.md
  .claude/templates/fix-bug.md
Labels: none

feat: add /next-feature command for autonomous task execution
  .claude/commands/next-feature.md
Labels: none

Add prompt-template skill, command, and reusable templates (#105)
  .claude/commands/next-feature.md
  .claude/commands/prompt-template.md
  .claude/skills/prompt-template/SKILL.md
  .claude/templates/add-api-endpoint.md
  .claude/templates/add-feature.md
  .claude/templates/fix-bug.md
Labels: none

feat: implement complete halftime procedure with kickoff event (B1.7)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/halftime.test.ts
Labels: game-engine

feat: complete halftime with kickoff event (B1.7)
  TODO.md
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/halftime.test.ts
Labels: game-engine

Implement halftime transition with kickoff event (B1.7) (#106)
  TODO.md
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/halftime.test.ts
Labels: game-engine

feat: implement Regeneration skill effect (B1.4)
  TODO.md
  packages/game-engine/src/mechanics/injury.ts
  packages/game-engine/src/mechanics/regeneration.test.ts
  packages/game-engine/src/mechanics/regeneration.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat: implement Regeneration skill mechanic (#107)
  TODO.md
  packages/game-engine/src/mechanics/injury.ts
  packages/game-engine/src/mechanics/regeneration.test.ts
  packages/game-engine/src/mechanics/regeneration.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

fix: normalize sidestep skill slug to match roster data
  TODO.md
  packages/game-engine/src/skills/skill-registry.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

Fix sidestep skill slug inconsistency (remove hyphen) (#108)
  TODO.md
  packages/game-engine/src/skills/skill-registry.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat: integrate Claws, Iron Hard Skin, Thick Skull, Dirty Player via skill-registry (B0.1)
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/mechanics/foul.ts
  packages/game-engine/src/skills/armor-injury-skills.test.ts
  packages/game-engine/src/skills/skill-bridge.ts
Labels: game-engine

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
