Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

fix(game-engine): apothecary + regeneration revert lasting injury stats
  packages/game-engine/src/mechanics/apothecary.test.ts
  packages/game-engine/src/mechanics/apothecary.ts
  packages/game-engine/src/mechanics/injury.ts
  packages/game-engine/src/mechanics/regeneration.ts
Labels: game-engine

fix(game-engine): apothecary + regeneration revert lasting injury stats (#859)
  packages/game-engine/src/mechanics/apothecary.test.ts
  packages/game-engine/src/mechanics/apothecary.ts
  packages/game-engine/src/mechanics/injury.ts
  packages/game-engine/src/mechanics/regeneration.ts
Labels: game-engine

feat(admin): add engine versions endpoint and display in admin UI
  apps/server/src/routes/admin.ts
  apps/web/app/admin/_components/EngineVersionsBadge.tsx
  apps/web/app/admin/layout.tsx
  apps/web/app/admin/pro-league/seasons/page.tsx
  apps/web/app/admin/sim/page.tsx
  packages/game-engine/src/core/types.ts
Labels: game-engine, web, server

fix(cup): drop email PII from 17 select sites in cup endpoints
  apps/server/src/routes/cup.ts
Labels: server

chore(release): 1.122.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  cbf7332fc1980d0bedf04fb87991be4936c9db3c
Labels: none

feat(admin): implement openNarration function for authenticated text narration
  apps/web/app/admin/sim/test-match/page.tsx
Labels: web

chore(release): 1.123.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  beb13b62abe1155b6ab9effcd4793bb578f044f1
Labels: none

feat(replay): enhance replay UI and game mechanics
  apps/web/app/pro-league/matches/[id]/replay/FullReplayField.tsx
  apps/web/app/pro-league/matches/[id]/replay/MatchReplayPlayer.tsx
  packages/game-engine/src/actions/legal-moves.ts
  packages/sim-engine/src/driver/full-driver-roster.ts
  packages/ui/src/board/PixiBoard.tsx
  packages/ui/src/components/GameBoardWithDugouts.tsx
Labels: packages-ui, game-engine, web

chore(release): 1.124.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  e315d005083feba5b00e8ef9daf22853cc1caac9
Labels: none

feat(kickoff): implement headless kickoff sequence for BB 2025
  packages/sim-engine/src/driver/full-driver-kickoff.ts
  packages/sim-engine/src/driver/full-driver-roster-fixes.test.ts
  packages/sim-engine/src/driver/full-driver-roster.test.ts
  packages/sim-engine/src/driver/full-driver-roster.ts
  packages/sim-engine/src/driver/full-driver.ts
Labels: none

chore(release): 1.125.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  ca529e1f1e57e2e866a47f732a2e17c07ebc3f0a
Labels: none

feat(kickoff): enhance pre-match coin toss mechanics
  apps/web/app/pro-league/matches/[id]/replay/MatchReplayPlayer.tsx
  packages/sim-engine/src/driver/full-driver.ts
Labels: web

chore(release): 1.126.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  e5db8f7339d8b4ceb79974ff118cf31a8a482257
Labels: none

chore(release): 1.126.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  7f255d91fdeb2df44aa92fbb3e28b1d5e87942bc
Labels: none

fix(security): admin bet refund double-credit + Kofi token timing-safe
  apps/server/src/routes/admin-wallet.test.ts
  apps/server/src/routes/admin-wallet.ts
  apps/server/src/routes/kofi.ts
Labels: server

fix(security): admin bet refund double-credit + Kofi token timing-safe (#861)
  apps/server/src/routes/admin-wallet.test.ts
  apps/server/src/routes/admin-wallet.ts
  apps/server/src/routes/kofi.ts
Labels: server

refactor(replay): enhance layout and responsiveness of match replay components
  apps/web/app/pro-league/matches/[id]/page.tsx
  apps/web/app/pro-league/matches/[id]/replay/FullReplayField.tsx
  apps/web/app/pro-league/matches/[id]/replay/MatchReplayPlayer.tsx
Labels: web

chore(release): 1.126.2 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  a7c624086dc25ec78ed545072e589cffa002e870
Labels: none

fix: password reset TOCTOU + bounceBall recursion guard
  apps/server/src/services/password-reset.test.ts
  apps/server/src/services/password-reset.ts
  packages/game-engine/src/mechanics/ball.ts
Labels: game-engine, server

fix: password reset TOCTOU + bounceBall recursion guard (#862)
  apps/server/src/services/password-reset.test.ts
  apps/server/src/services/password-reset.ts
  packages/game-engine/src/mechanics/ball.ts
Labels: game-engine, server

fix(server): tournament entry + forceForfeit race conditions
  apps/server/src/services/pro-season-factory.test.ts
  apps/server/src/services/pro-season-factory.ts
  apps/server/src/services/pro-tournament-entry.test.ts
  apps/server/src/services/pro-tournament-entry.ts
Labels: server

fix(server): tournament entry + forceForfeit race conditions (#863)
  apps/server/src/services/pro-season-factory.test.ts
  apps/server/src/services/pro-season-factory.ts
  apps/server/src/services/pro-tournament-entry.test.ts
  apps/server/src/services/pro-tournament-entry.ts
Labels: server

fix(server): cron overlap guards sur les sweeps Pro League
  apps/server/src/index.ts
  apps/server/src/utils/cron-overlap-guard.test.ts
  apps/server/src/utils/cron-overlap-guard.ts
Labels: server

feat(replay): enhance MatchReplayPlayer with active team display
  apps/web/app/pro-league/matches/[id]/replay/MatchReplayPlayer.tsx
Labels: web

chore(release): 1.127.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  d1cc64dbedaeb9e451ea42c251aeb62f467053c8
Labels: none

fix(server): cron overlap guards sur les sweeps Pro League (#864)
  apps/server/src/index.ts
  apps/server/src/utils/cron-overlap-guard.test.ts
  apps/server/src/utils/cron-overlap-guard.ts
Labels: server

fix(server): friendship + kofi-claim race conditions (optimistic-lock)
  apps/server/src/services/friendship.test.ts
  apps/server/src/services/friendship.ts
  apps/server/src/services/kofi-claim.test.ts
  apps/server/src/services/kofi-claim.ts
Labels: server

fix(server): friendship + kofi-claim race conditions (optimistic-lock) (#865)
  apps/server/src/services/friendship.test.ts
  apps/server/src/services/friendship.ts
  apps/server/src/services/kofi-claim.test.ts
  apps/server/src/services/kofi-claim.ts
Labels: server

fix: leap type + season factory guards (reset + cancel races)
  apps/server/src/services/pro-season-factory.test.ts
  apps/server/src/services/pro-season-factory.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/mechanics/leap.ts
Labels: game-engine, server

fix: leap type + season factory guards (reset + cancel races) (#866)
  apps/server/src/services/pro-season-factory.test.ts
  apps/server/src/services/pro-season-factory.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/mechanics/leap.ts
Labels: game-engine, server

fix(server): DoS guards sur pro-badges + listComments (unbounded queries)
  apps/server/src/services/pro-badges.ts
  apps/server/src/services/pro-gazette-comments.ts
Labels: server

fix(server): DoS guards sur pro-badges + listComments (#867)
  apps/server/src/services/pro-badges.ts
  apps/server/src/services/pro-gazette-comments.ts
Labels: server

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
