Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"

refactor(web): leagues page uses shared apiRequest helper (S25.5c)
  apps/web/app/leagues/page.tsx
Labels: web

refactor(web): leagues page uses shared apiRequest helper (S25.5c) (#415)
  apps/web/app/leagues/page.tsx
Labels: web

refactor(web): leagues/[id] page uses shared apiRequest helper (S25.5d)
  apps/web/app/leagues/[id]/page.tsx
Labels: web

refactor(web): leagues/[id] page uses shared apiRequest helper (S25.5d) (#416)
  apps/web/app/leagues/[id]/page.tsx
Labels: web

refactor(server): league.ts success paths -> sendSuccess (S25.5e)
  apps/server/src/routes/league.test.ts
  apps/server/src/routes/league.ts
  docs/roadmap/sprints/S25-observabilite-qualite.md
Labels: server

refactor(server): league.ts success paths -> sendSuccess (S25.5e) (#417)
  apps/server/src/routes/league.test.ts
  apps/server/src/routes/league.ts
  docs/roadmap/sprints/S25-observabilite-qualite.md
Labels: server

fix(e2e): leagues spec uses envelope after sendSuccess migration (S25.5f)
  tests/e2e-api/helpers/api.ts
  tests/e2e-api/specs/leagues.spec.ts
Labels: none

fix(e2e): leagues-seasons spec uses envelope after sendSuccess (S25.5f cont.)
  tests/e2e-api/specs/leagues-seasons.spec.ts
Labels: none

fix(e2e): leagues spec uses envelope after sendSuccess migration (S25.5f) (#418)
  tests/e2e-api/helpers/api.ts
  tests/e2e-api/specs/leagues-seasons.spec.ts
  tests/e2e-api/specs/leagues.spec.ts
Labels: none

feat(server): paginate listLeagues + audit unbounded findMany (S25.6)
  apps/server/src/routes/league.test.ts
  apps/server/src/routes/league.ts
  apps/server/src/schemas/league.schemas.ts
  apps/server/src/services/league.test.ts
  apps/server/src/services/league.ts
  docs/roadmap/sprints/S25-observabilite-qualite.md
Labels: server

feat(server): paginate listLeagues + audit unbounded findMany (S25.6) (#419)
  apps/server/src/routes/league.test.ts
  apps/server/src/routes/league.ts
  apps/server/src/schemas/league.schemas.ts
  apps/server/src/services/league.test.ts
  apps/server/src/services/league.ts
  docs/roadmap/sprints/S25-observabilite-qualite.md
Labels: server

perf(web): lazy-load Pixi board on /replay, /spectate, /dugout-demo (S25.7)
  apps/web/app/dugout-demo/page.tsx
  apps/web/app/replay/[id]/page.tsx
  apps/web/app/spectate/[id]/page.tsx
  docs/roadmap/sprints/S25-observabilite-qualite.md
Labels: web

perf(web): lazy-load Pixi board on /replay, /spectate, /dugout-demo (S25.7) (#420)
  apps/web/app/dugout-demo/page.tsx
  apps/web/app/replay/[id]/page.tsx
  apps/web/app/spectate/[id]/page.tsx
  docs/roadmap/sprints/S25-observabilite-qualite.md
Labels: web

perf(web): use next/image for star player detail (S25.8)
  apps/web/app/star-players/[slug]/page.tsx
  docs/roadmap/sprints/S25-observabilite-qualite.md
Labels: web

perf(web): use next/image for star player detail (S25.8) (#421)
  apps/web/app/star-players/[slug]/page.tsx
  docs/roadmap/sprints/S25-observabilite-qualite.md
Labels: web

perf(engine): truncate gameLog at end-of-turn (S25.9)
  docs/roadmap/sprints/S25-observabilite-qualite.md
  packages/game-engine/src/actions/actions.ts
Labels: game-engine

perf(engine): truncate gameLog at end-of-turn (S25.9) (#422)
  docs/roadmap/sprints/S25-observabilite-qualite.md
  packages/game-engine/src/actions/actions.ts
Labels: game-engine

refactor(server): migrate match.ts error paths to sendError (S25.5g)
  apps/server/src/routes/match.ts
  docs/roadmap/sprints/S25-observabilite-qualite.md
Labels: server

docs: add deployment incident documentation and improve rollback logic
  docs/DEPLOY-DB.md
  docs/DEPLOY-INCIDENTS.md
  scripts/deploy.sh
Labels: none

chore(release): 1.75.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  ee971712117049bac716b183d6cb28719aaf5f67
Labels: none

chore(docker): update .dockerignore and pin pnpm version
  .dockerignore
  Dockerfile.server
  Dockerfile.web
Labels: none

feat(match): allow cancelling a pending match from the waiting page
  apps/server/src/routes/match.ts
  apps/server/src/services/match-cancel.test.ts
  apps/server/src/services/match-cancel.ts
  apps/web/app/me/matches/page.tsx
  apps/web/app/waiting/[id]/page.tsx
Labels: web, server

Add match cancellation feature for pending matches (#423)
  apps/server/src/routes/match.ts
  apps/server/src/services/match-cancel.test.ts
  apps/server/src/services/match-cancel.ts
  apps/web/app/me/matches/page.tsx
  apps/web/app/waiting/[id]/page.tsx
Labels: web, server

feat(api): migrate /match/create|join|accept to ApiResponse<T> (S25.5f)
  apps/server/src/routes/match.test.ts
  apps/server/src/routes/match.ts
  apps/web/app/lobby/page.tsx
  apps/web/app/play/[id]/hooks/useGameState.ts
  apps/web/app/play/page.tsx
  apps/web/app/waiting/[id]/page.tsx
  docs/roadmap/sprints/S25-observabilite-qualite.md
Labels: web, server

refactor(server): standardize error envelope on match.ts (S25.5g)
  apps/server/src/routes/match.ts
  docs/roadmap/sprints/S25-observabilite-qualite.md
Labels: server

fix(tests): unwrap ApiResponse envelope in match factories (S25.5f)
  tests/e2e-api/helpers/factories.ts
Labels: none

feat(api): migrate /match/create|join|accept to ApiResponse&lt;T&gt; (S25.5f) (#424)
  apps/server/src/routes/match.test.ts
  apps/server/src/routes/match.ts
  apps/web/app/lobby/page.tsx
  apps/web/app/play/[id]/hooks/useGameState.ts
  apps/web/app/play/page.tsx
  apps/web/app/waiting/[id]/page.tsx
  docs/roadmap/sprints/S25-observabilite-qualite.md
  tests/e2e-api/helpers/factories.ts
Labels: web, server

feat(api): migrate /match/practice and /match/:id/cancel to ApiResponse<T> (S25.5g)
  apps/server/src/routes/match.test.ts
  apps/server/src/routes/match.ts
  apps/web/app/play/page.tsx
  apps/web/app/waiting/[id]/page.tsx
  docs/roadmap/sprints/S25-observabilite-qualite.md
Labels: web, server

feat(api): migrate /match/practice and /match/:id/cancel to ApiResponse&lt;T&gt; (S25.5g) (#425)
  apps/server/src/routes/match.test.ts
  apps/server/src/routes/match.ts
  apps/web/app/play/page.tsx
  apps/web/app/waiting/[id]/page.tsx
  docs/roadmap/sprints/S25-observabilite-qualite.md
Labels: web, server

feat(api): migrate /match/my-matches and /match/live to ApiResponse<T> (S25.5h)
  apps/server/src/routes/match.test.ts
  apps/server/src/routes/match.ts
  apps/web/app/me/matches/page.tsx
  apps/web/app/play/page.tsx
  apps/web/app/spectate/page.tsx
  docs/roadmap/sprints/S25-observabilite-qualite.md
Labels: web, server

feat(api): migrate /match/my-matches and /match/live to ApiResponse<T> (S25.5h) (#426)
  apps/server/src/routes/match.test.ts
  apps/server/src/routes/match.ts
  apps/web/app/me/matches/page.tsx
  apps/web/app/play/page.tsx
  apps/web/app/spectate/page.tsx
  docs/roadmap/sprints/S25-observabilite-qualite.md
Labels: web, server

fix(local-match): show real team names in score prompt
  apps/web/app/local-matches/[id]/page.tsx
Labels: web

Improve match completion dialog with team names (#427)
  apps/web/app/local-matches/[id]/page.tsx
Labels: web

feat(pdf): redesign local match recap PDF as Blood Bowl game sheet
  apps/web/app/local-matches/[id]/LocalMatchSummary.tsx
  apps/web/app/local-matches/[id]/page.tsx
  apps/web/app/local-matches/[id]/pdf/aggregations.test.ts
  apps/web/app/local-matches/[id]/pdf/aggregations.ts
  apps/web/app/local-matches/[id]/pdf/chrome.ts
  apps/web/app/local-matches/[id]/pdf/colors.test.ts
  apps/web/app/local-matches/[id]/pdf/colors.ts
  apps/web/app/local-matches/[id]/pdf/icons.ts
  apps/web/app/local-matches/[id]/pdf/index.test.ts
  apps/web/app/local-matches/[id]/pdf/index.ts
  apps/web/app/local-matches/[id]/pdf/sections/boxScore.ts
  apps/web/app/local-matches/[id]/pdf/sections/driveChart.ts
  apps/web/app/local-matches/[id]/pdf/sections/header.ts
  apps/web/app/local-matches/[id]/pdf/sections/mvp.ts
  apps/web/app/local-matches/[id]/pdf/sections/playLog.ts
  apps/web/app/local-matches/[id]/pdf/sections/pregame.ts
  apps/web/app/local-matches/[id]/pdf/sections/scoreboard.ts
  apps/web/app/local-matches/[id]/pdf/types.ts
Labels: web

Add PDF export for local match summaries with full game recap (#428)
  apps/web/app/local-matches/[id]/LocalMatchSummary.tsx
  apps/web/app/local-matches/[id]/page.tsx
  apps/web/app/local-matches/[id]/pdf/aggregations.test.ts
  apps/web/app/local-matches/[id]/pdf/aggregations.ts
  apps/web/app/local-matches/[id]/pdf/chrome.ts
  apps/web/app/local-matches/[id]/pdf/colors.test.ts
  apps/web/app/local-matches/[id]/pdf/colors.ts
  apps/web/app/local-matches/[id]/pdf/icons.ts
  apps/web/app/local-matches/[id]/pdf/index.test.ts
  apps/web/app/local-matches/[id]/pdf/index.ts
  apps/web/app/local-matches/[id]/pdf/sections/boxScore.ts
  apps/web/app/local-matches/[id]/pdf/sections/driveChart.ts
  apps/web/app/local-matches/[id]/pdf/sections/header.ts
  apps/web/app/local-matches/[id]/pdf/sections/mvp.ts
  apps/web/app/local-matches/[id]/pdf/sections/playLog.ts
  apps/web/app/local-matches/[id]/pdf/sections/pregame.ts
  apps/web/app/local-matches/[id]/pdf/sections/scoreboard.ts
  apps/web/app/local-matches/[id]/pdf/types.ts
Labels: web

refactor(match): migrate GET routes to ApiResponse<T> envelope (S25.5i)
  apps/server/src/routes/match.test.ts
  apps/server/src/routes/match.ts
  apps/web/app/components/MatchEndScreen.tsx
  apps/web/app/replay/[id]/page.tsx
  apps/web/app/spectate/[id]/page.tsx
  docs/roadmap/sprints/S25-observabilite-qualite.md
Labels: web, server

chore: bump version.json + refresh test sqlite fixture
  apps/server/prisma/sqlite/memdb1
  apps/web/public/version.json
Labels: web, server

test(e2e-api): unwrap ApiResponse envelope on /match/my-matches and /match/live
  tests/e2e-api/specs/match-extended.spec.ts
  tests/e2e-api/specs/match-routes.spec.ts
Labels: none

feat(engine): resolve kickoff ball landing with touchback and auto-catch
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/mechanics/ball.ts
  packages/game-engine/src/mechanics/kickoff-landing.test.ts
Labels: game-engine
