Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"

chore(release): 1.121.3 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  9638f53552af828f87c94c04494feead7981d61c
Labels: none

fix(pro-league): atomicité wallet/bet/settlement transactions (CRITICAL)
  apps/server/src/routes/local-match.ts
  apps/server/src/services/inducement-processor.ts
  apps/server/src/services/pro-bet-settlement.test.ts
  apps/server/src/services/pro-bet-settlement.ts
  apps/server/src/services/pro-bet.test.ts
  apps/server/src/services/pro-bet.ts
  apps/server/src/services/pro-wallet-rewards.test.ts
  apps/server/src/services/pro-wallet-rewards.ts
  apps/server/src/services/pro-wallet.ts
Labels: server

fix(pro-league): atomicité wallet/bet/settlement transactions (CRITICAL) (#842)
  apps/server/src/routes/local-match.ts
  apps/server/src/services/inducement-processor.ts
  apps/server/src/services/pro-bet-settlement.test.ts
  apps/server/src/services/pro-bet-settlement.ts
  apps/server/src/services/pro-bet.test.ts
  apps/server/src/services/pro-bet.ts
  apps/server/src/services/pro-wallet-rewards.test.ts
  apps/server/src/services/pro-wallet-rewards.ts
  apps/server/src/services/pro-wallet.ts
Labels: server

fix(game-engine): determinisme replay du gameLog et type GFI
  apps/web/app/replay/[id]/hooks/useReplayControls.test.ts
  packages/game-engine/src/actions/move-handlers.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/skills/skill-bridge.ts
  packages/game-engine/src/utils/logging.test.ts
  packages/game-engine/src/utils/logging.ts
Labels: game-engine, web

fix(game-engine): determinisme replay du gameLog et type GFI (#843)
  apps/web/app/replay/[id]/hooks/useReplayControls.test.ts
  packages/game-engine/src/actions/move-handlers.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/skills/skill-bridge.ts
  packages/game-engine/src/utils/logging.test.ts
  packages/game-engine/src/utils/logging.ts
Labels: game-engine, web

fix(game-engine): clear pending* a la mi-temps + GFI reroll Blizzard
  packages/game-engine/src/actions/reroll-choose-handler.test.ts
  packages/game-engine/src/actions/reroll-choose-handler.ts
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/halftime.test.ts
Labels: game-engine

fix(game-engine): clear pending* a la mi-temps + GFI reroll Blizzard target (#844)
  packages/game-engine/src/actions/reroll-choose-handler.test.ts
  packages/game-engine/src/actions/reroll-choose-handler.ts
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/halftime.test.ts
Labels: game-engine

fix(pro-league): SPP transactionnel + odds calculator driverKind/roster
  apps/server/src/services/pro-bet-odds-calculator.test.ts
  apps/server/src/services/pro-bet-odds-calculator.ts
  apps/server/src/services/pro-league-sim-runner.ts
  apps/server/src/services/pro-roster-spp.test.ts
  apps/server/src/services/pro-roster-spp.ts
Labels: server

fix(pro-league): SPP transactionnel + odds calculator driverKind/roster (#845)
  apps/server/src/services/pro-bet-odds-calculator.test.ts
  apps/server/src/services/pro-bet-odds-calculator.ts
  apps/server/src/services/pro-league-sim-runner.ts
  apps/server/src/services/pro-roster-spp.test.ts
  apps/server/src/services/pro-roster-spp.ts
Labels: server

fix(ai): scoring foul/pass via weights + opening book 19 races + case-insensitive
  packages/game-engine/src/ai/evaluator.ts
  packages/sim-engine/src/tactics/ai-weights.test.ts
  packages/sim-engine/src/tactics/ai-weights.ts
  packages/sim-engine/src/tactics/opening-book.test.ts
  packages/sim-engine/src/tactics/opening-book.ts
Labels: game-engine

fix(ai): scoring foul/pass via weights + opening book 19 races + case-insensitive (#846)
  packages/game-engine/src/ai/evaluator.ts
  packages/sim-engine/src/tactics/ai-weights.test.ts
  packages/sim-engine/src/tactics/ai-weights.ts
  packages/sim-engine/src/tactics/opening-book.test.ts
  packages/sim-engine/src/tactics/opening-book.ts
Labels: game-engine

fix(game-engine): cleanup champ dead `blitzingPlayerId` + helper reset dice notifications
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/utils/dice-notifications.ts
Labels: game-engine

fix(game-engine): cleanup blitzingPlayerId + helper reset dice notifications (#847)
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/utils/dice-notifications.ts
Labels: game-engine

fix(pro-league): 3 transactions critiques (casualty, first-time bonus, advancement)
  apps/server/src/services/post-match-league-integration.test.ts
  apps/server/src/services/post-match-league-sequence.test.ts
  apps/server/src/services/post-match-league-sequence.ts
  apps/server/src/services/pro-roster-casualties.test.ts
  apps/server/src/services/pro-roster-casualties.ts
  apps/server/src/services/pro-wallet-rewards.test.ts
  apps/server/src/services/pro-wallet-rewards.ts
Labels: server

fix(pro-league): 3 transactions critiques (casualty, first-time bonus, advancement) (#848)
  apps/server/src/services/post-match-league-integration.test.ts
  apps/server/src/services/post-match-league-sequence.test.ts
  apps/server/src/services/post-match-league-sequence.ts
  apps/server/src/services/pro-roster-casualties.test.ts
  apps/server/src/services/pro-roster-casualties.ts
  apps/server/src/services/pro-wallet-rewards.test.ts
  apps/server/src/services/pro-wallet-rewards.ts
Labels: server

fix(game-engine): kickoff weather re-roll + hypnotic-gaze GFI lock
  packages/game-engine/src/mechanics/hypnotic-gaze.test.ts
  packages/game-engine/src/mechanics/hypnotic-gaze.ts
  packages/game-engine/src/mechanics/kickoff-events.test.ts
  packages/game-engine/src/mechanics/kickoff-events.ts
Labels: game-engine

fix(game-engine): changing-weather re-roll + hypnotic-gaze GFI lock (#849)
  packages/game-engine/src/mechanics/hypnotic-gaze.test.ts
  packages/game-engine/src/mechanics/hypnotic-gaze.ts
  packages/game-engine/src/mechanics/kickoff-events.test.ts
  packages/game-engine/src/mechanics/kickoff-events.ts
Labels: game-engine

fix(sim-engine): full driver casualty outcome + yardline + cause + TD scorer
  packages/sim-engine/src/driver/full-driver-events.ts
  packages/sim-engine/src/driver/full-driver-roster-fixes.test.ts
  packages/sim-engine/src/driver/full-driver.ts
  packages/sim-engine/src/driver/hybrid-driver.ts
Labels: none

fix(sim-engine): full driver casualty outcome + yardline + cause + TD scorer (#850)
  packages/sim-engine/src/driver/full-driver-events.ts
  packages/sim-engine/src/driver/full-driver-roster-fixes.test.ts
  packages/sim-engine/src/driver/full-driver.ts
  packages/sim-engine/src/driver/hybrid-driver.ts
Labels: none

fix(pro-league): tiebreakers TD diff + PII leak + settle picks tx
  apps/server/src/services/pro-league-hub.ts
  apps/server/src/services/pro-league-standings.ts
  apps/server/src/services/pro-prediction-leagues.test.ts
  apps/server/src/services/pro-prediction-leagues.ts
Labels: server

fix(pro-league): standings TD diff tiebreaker + PII leak + settle picks tx (#851)
  apps/server/src/services/pro-league-hub.ts
  apps/server/src/services/pro-league-standings.ts
  apps/server/src/services/pro-prediction-leagues.test.ts
  apps/server/src/services/pro-prediction-leagues.ts
Labels: server

fix(server): persist ordering BB + winnings transaction + structured logs
  apps/server/src/routes/local-match.ts
  apps/server/src/services/move-processor.ts
Labels: server

fix(server): persist ordering BB + winnings transaction + structured logs (#852)
  apps/server/src/routes/local-match.ts
  apps/server/src/services/move-processor.ts
Labels: server

fix(auth): redact PII dans les logs (emails, roles) — GDPR
  apps/server/src/routes/auth.ts
  apps/server/src/utils/redact.test.ts
  apps/server/src/utils/redact.ts
Labels: server

fix(auth): redact PII dans les logs (emails, roles) — GDPR (#853)
  apps/server/src/routes/auth.ts
  apps/server/src/utils/redact.test.ts
  apps/server/src/utils/redact.ts
Labels: server

fix(pro-league): MVP eligibility par participants + applyLevelUps tx
  apps/server/src/services/pro-roster-level-up.test.ts
  apps/server/src/services/pro-roster-level-up.ts
  apps/server/src/services/pro-roster-spp.ts
Labels: server

fix(pro-league): MVP eligibility par participants + applyLevelUps tx (#854)
  apps/server/src/services/pro-roster-level-up.test.ts
  apps/server/src/services/pro-roster-level-up.ts
  apps/server/src/services/pro-roster-spp.ts
Labels: server

fix(server): drop email PII from public APIs (match, survivor, predictions, comments, league)
  apps/server/src/routes/match-details-handlers.ts
  apps/server/src/routes/match-readonly-handlers.ts
  apps/server/src/routes/match-summary-handler.ts
  apps/server/src/services/league.ts
  apps/server/src/services/pro-gazette-comments.ts
  apps/server/src/services/pro-match-predictions.ts
  apps/server/src/services/pro-survivor.ts
Labels: server

fix(server): drop email PII from public APIs (round 6) (#855)
  apps/server/src/routes/match-details-handlers.ts
  apps/server/src/routes/match-readonly-handlers.ts
  apps/server/src/routes/match-summary-handler.ts
  apps/server/src/services/league.ts
  apps/server/src/services/pro-gazette-comments.ts
  apps/server/src/services/pro-match-predictions.ts
  apps/server/src/services/pro-survivor.ts
Labels: server

fix(team): atomic treasury/count updates + star-player hire transaction
  apps/server/src/routes/team-purchase-handler.ts
  apps/server/src/routes/team-star-player-hire-handler.ts
  apps/server/src/routes/team.test.ts
Labels: server

fix(team): atomic treasury/count updates + star-player hire tx (round 6) (#856)
  apps/server/src/routes/team-purchase-handler.ts
  apps/server/src/routes/team-star-player-hire-handler.ts
  apps/server/src/routes/team.test.ts
Labels: server

fix(server): ELO update + async-match force-end-turn dans $transaction
  apps/server/src/services/async-match.test.ts
  apps/server/src/services/async-match.ts
  apps/server/src/services/elo-update.test.ts
  apps/server/src/services/elo-update.ts
Labels: server

fix(server): ELO update + async-match force-end-turn dans $transaction (#857)
  apps/server/src/services/async-match.test.ts
  apps/server/src/services/async-match.ts
  apps/server/src/services/elo-update.test.ts
  apps/server/src/services/elo-update.ts
Labels: server

fix(engine): weather Fisher-Yates + foul Stunty + blitz Chebyshev + DP one-or-other
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/mechanics/foul.ts
  packages/game-engine/src/mechanics/weather-effects.ts
  packages/sim-engine/src/resolvers/foul.ts
Labels: game-engine

update(version): bump version to 1.121.3 and update build date to 2026-05-19
  apps/web/public/version.json
Labels: web

chore(release): 1.121.4 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  c791a6b3e7ec6cce6baefeddb021edddebd9d20c
Labels: none

chore(release): 1.121.5 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  7aab109ed7b31a69bfe14c9ec243b55d3a73cd15
Labels: none
