Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

feat(server,db): casualties post-process roster (sprint 1.E.4)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/services/pro-roster-casualties.test.ts
  apps/server/src/services/pro-roster-casualties.ts
  prisma/migrations/20260507200000_add_pro_match_casualties_applied_at/migration.sql
  prisma/schema.prisma
Labels: server

feat(server,db): casualties post-process roster (sprint 1.E.4) (#626)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/services/pro-roster-casualties.test.ts
  apps/server/src/services/pro-roster-casualties.ts
  prisma/migrations/20260507200000_add_pro_match_casualties_applied_at/migration.sql
  prisma/schema.prisma
Labels: server

feat(server): Pro League rookie generator + seed + replenish (sprint 1.E.6)
  apps/server/src/index.ts
  apps/server/src/seeders/pro-league.ts
  apps/server/src/services/pro-roster-generator.test.ts
  apps/server/src/services/pro-roster-generator.ts
Labels: server

feat(server): Pro League rookie generator + seed + replenish (sprint 1.E.6) (#627)
  apps/server/src/index.ts
  apps/server/src/seeders/pro-league.ts
  apps/server/src/services/pro-roster-generator.test.ts
  apps/server/src/services/pro-roster-generator.ts
Labels: server

feat(server,web,db): Pro League Hall of Fame light (sprint 1.E.5)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/pro-league.ts
  apps/server/src/services/pro-hall-of-fame.test.ts
  apps/server/src/services/pro-hall-of-fame.ts
  apps/web/app/pro-league/hall-of-fame/page.tsx
  prisma/migrations/20260507300000_add_pro_hall_of_fame/migration.sql
  prisma/schema.prisma
Labels: web, server

feat(server,web,db): Pro League Hall of Fame light (sprint 1.E.5) (#628)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/pro-league.ts
  apps/server/src/services/pro-hall-of-fame.test.ts
  apps/server/src/services/pro-hall-of-fame.ts
  apps/web/app/pro-league/hall-of-fame/page.tsx
  prisma/migrations/20260507300000_add_pro_hall_of_fame/migration.sql
  prisma/schema.prisma
Labels: web, server

feat(server): Pro League LLM Gazette daily generation (sprint 1.E.1)
  apps/server/src/index.ts
  apps/server/src/services/anthropic-client.test.ts
  apps/server/src/services/anthropic-client.ts
  apps/server/src/services/pro-gazette-llm.test.ts
  apps/server/src/services/pro-gazette-llm.ts
Labels: server

feat(server): Pro League LLM Gazette daily generation (sprint 1.E.1) (#629)
  apps/server/src/index.ts
  apps/server/src/services/anthropic-client.test.ts
  apps/server/src/services/anthropic-client.ts
  apps/server/src/services/pro-gazette-llm.test.ts
  apps/server/src/services/pro-gazette-llm.ts
Labels: server

test(e2e): Pro League fan flow Playwright specs (sprint 1.F.1)
  tests/e2e-ui/specs/pro-league-fan-flow.spec.ts
Labels: none

test(e2e): Pro League fan flow Playwright specs (sprint 1.F.1) (#630)
  tests/e2e-ui/specs/pro-league-fan-flow.spec.ts
Labels: none

feat(server,web): SEO metadata + Pro League healthcheck (sprint 1.F.2)
  apps/server/src/index.ts
  apps/server/src/services/pro-league-health.test.ts
  apps/server/src/services/pro-league-health.ts
  apps/web/app/pro-league/gazette/layout.tsx
  apps/web/app/pro-league/hall-of-fame/layout.tsx
  apps/web/app/pro-league/layout.tsx
  apps/web/app/pro-league/leaderboard/layout.tsx
  apps/web/app/pro-league/standings/layout.tsx
Labels: web, server

feat(server,web): SEO metadata + Pro League healthcheck (sprint 1.F.2) (#631)
  apps/server/src/index.ts
  apps/server/src/services/pro-league-health.test.ts
  apps/server/src/services/pro-league-health.ts
  apps/web/app/pro-league/gazette/layout.tsx
  apps/web/app/pro-league/hall-of-fame/layout.tsx
  apps/web/app/pro-league/layout.tsx
  apps/web/app/pro-league/leaderboard/layout.tsx
  apps/web/app/pro-league/standings/layout.tsx
Labels: web, server

feat(turnstile): injecte NEXT_PUBLIC_TURNSTILE_SITE_KEY au build Next.js
  Dockerfile.web
  docker-compose.prod.yml
Labels: none

chore(release): 1.91.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  9ca4a3e4e0c0d6793bfb5e4356dc18c6a6be5d82
Labels: none

feat(web): Pro League sitemap + JSON-LD SportsLeague/FAQ (sprint 1.F.3)
  apps/web/app/pro-league/_components/ProLeagueStructuredData.tsx
  apps/web/app/pro-league/_components/pro-league-schema.test.ts
  apps/web/app/pro-league/_components/pro-league-schema.ts
  apps/web/app/pro-league/layout.tsx
  apps/web/app/sitemap.ts
Labels: web

feat(web): Pro League sitemap + JSON-LD SportsLeague/FAQ (sprint 1.F.3) (#632)
  apps/web/app/pro-league/_components/ProLeagueStructuredData.tsx
  apps/web/app/pro-league/_components/pro-league-schema.test.ts
  apps/web/app/pro-league/_components/pro-league-schema.ts
  apps/web/app/pro-league/layout.tsx
  apps/web/app/sitemap.ts
Labels: web

feat(mobile): i18n des ecrans leagues (S27.3.15)
  apps/mobile/app/leagues/[id].tsx
  apps/mobile/app/leagues/index.tsx
  apps/mobile/lib/i18n-keys-leagues.test.ts
  apps/mobile/lib/translations/en.ts
  apps/mobile/lib/translations/fr.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: mobile

feat(mobile): i18n des ecrans leagues (S27.3.15) (#633)
  apps/mobile/app/leagues/[id].tsx
  apps/mobile/app/leagues/index.tsx
  apps/mobile/lib/i18n-keys-leagues.test.ts
  apps/mobile/lib/translations/en.ts
  apps/mobile/lib/translations/fr.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: mobile

feat(mobile): i18n des ecrans cups (S27.3.16)
  apps/mobile/app/cups/[id].tsx
  apps/mobile/app/cups/archived.tsx
  apps/mobile/app/cups/index.tsx
  apps/mobile/lib/i18n-keys-cups.test.ts
  apps/mobile/lib/translations/en.ts
  apps/mobile/lib/translations/fr.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: mobile

feat(mobile): i18n des ecrans cups (S27.3.16) (#635)
  apps/mobile/app/cups/[id].tsx
  apps/mobile/app/cups/archived.tsx
  apps/mobile/app/cups/index.tsx
  apps/mobile/lib/i18n-keys-cups.test.ts
  apps/mobile/lib/translations/en.ts
  apps/mobile/lib/translations/fr.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: mobile

feat(mobile): i18n des ecrans star-players (S27.3.17)
  apps/mobile/app/star-players/[slug].tsx
  apps/mobile/app/star-players/index.tsx
  apps/mobile/lib/i18n-keys-star-players.test.ts
  apps/mobile/lib/translations/en.ts
  apps/mobile/lib/translations/fr.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: mobile

feat(mobile): i18n des ecrans star-players (S27.3.17) (#636)
  apps/mobile/app/star-players/[slug].tsx
  apps/mobile/app/star-players/index.tsx
  apps/mobile/lib/i18n-keys-star-players.test.ts
  apps/mobile/lib/translations/en.ts
  apps/mobile/lib/translations/fr.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: mobile

feat(mobile): i18n des ecrans match + replay (S27.3.18)
  apps/mobile/app/match/[id].tsx
  apps/mobile/app/replay/[id].tsx
  apps/mobile/lib/i18n-keys-match-replay.test.ts
  apps/mobile/lib/translations/en.ts
  apps/mobile/lib/translations/fr.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: mobile

feat(mobile): i18n des ecrans match + replay (S27.3.18) (#637)
  apps/mobile/app/match/[id].tsx
  apps/mobile/app/replay/[id].tsx
  apps/mobile/lib/i18n-keys-match-replay.test.ts
  apps/mobile/lib/translations/en.ts
  apps/mobile/lib/translations/fr.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: mobile

feat(mobile): i18n des titres de navigation (S27.3.19, cloture S27.3)
  apps/mobile/app/_layout.tsx
  apps/mobile/lib/i18n-keys-nav.test.ts
  apps/mobile/lib/translations/en.ts
  apps/mobile/lib/translations/fr.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: mobile

feat(mobile): i18n des titres de navigation (S27.3.19, cloture S27.3) (#638)
  apps/mobile/app/_layout.tsx
  apps/mobile/lib/i18n-keys-nav.test.ts
  apps/mobile/lib/translations/en.ts
  apps/mobile/lib/translations/fr.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: mobile

feat(mobile): a11y board PixiBoardNative (S27.4.1)
  apps/mobile/app/play/[id].tsx
  apps/mobile/lib/board-a11y.test.ts
  apps/mobile/lib/board-a11y.ts
  apps/mobile/lib/i18n-keys-play.test.ts
  apps/mobile/lib/translations/en.ts
  apps/mobile/lib/translations/fr.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
  packages/ui/src/board/PixiBoard.native.tsx
Labels: packages-ui, mobile

feat(server): replay dump endpoint for completed matches (sprint 1.G.1)
  apps/server/src/routes/pro-league.ts
  apps/server/src/services/pro-league-replay.test.ts
  apps/server/src/services/pro-league-replay.ts
Labels: server

fix(sim-engine): turnovers no longer chain into a same-turn TD
  packages/sim-engine/src/driver/hybrid-driver.test.ts
  packages/sim-engine/src/driver/hybrid-driver.ts
Labels: none

feat(mobile): a11y board PixiBoardNative (S27.4.1) (#639)
  apps/mobile/app/play/[id].tsx
  apps/mobile/lib/board-a11y.test.ts
  apps/mobile/lib/board-a11y.ts
  apps/mobile/lib/i18n-keys-play.test.ts
  apps/mobile/lib/translations/en.ts
  apps/mobile/lib/translations/fr.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
  packages/ui/src/board/PixiBoard.native.tsx
Labels: packages-ui, mobile

feat(mobile): hook composite useGameMatch (S27.4.2, cloture S27.4)
  apps/mobile/app/play/[id].tsx
  apps/mobile/lib/use-game-match.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: mobile

feat(mobile): hook composite useGameMatch (S27.4.2, cloture S27.4) (#641)
  apps/mobile/app/play/[id].tsx
  apps/mobile/lib/use-game-match.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: mobile

feat(game-engine,server): skeleton Saison 4 BB3 (S27.5)
  apps/server/src/schemas/league.schemas.ts
  apps/server/src/services/league.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
  packages/game-engine/src/rosters/positions.ts
  packages/game-engine/src/rosters/season4-rosters.test.ts
  packages/game-engine/src/rosters/season4-rosters.ts
  packages/game-engine/src/rosters/star-players.ts
Labels: game-engine, server

feat(game-engine,server): skeleton Saison 4 BB3 (S27.5) (#642)
  apps/server/src/schemas/league.schemas.ts
  apps/server/src/services/league.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
  packages/game-engine/src/rosters/positions.ts
  packages/game-engine/src/rosters/season4-rosters.test.ts
  packages/game-engine/src/rosters/season4-rosters.ts
  packages/game-engine/src/rosters/star-players.ts
Labels: game-engine, server

feat(server,db): audit log admin foundation (S27.6.1)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/services/audit-log.test.ts
  apps/server/src/services/audit-log.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
  prisma/migrations/20260507400000_add_audit_log/migration.sql
  prisma/schema.prisma
Labels: server

feat(server,db): audit log admin foundation (S27.6.1) (#643)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/services/audit-log.test.ts
  apps/server/src/services/audit-log.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
  prisma/migrations/20260507400000_add_audit_log/migration.sql
  prisma/schema.prisma
Labels: server

feat(server): wire audit log into admin routes (S27.6.2)
  apps/server/src/routes/admin.ts
  apps/server/src/services/audit-log.test.ts
  apps/server/src/services/audit-log.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: server

feat(server): wire audit log into admin routes (S27.6.2) (#644)
  apps/server/src/routes/admin.ts
  apps/server/src/services/audit-log.test.ts
  apps/server/src/services/audit-log.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: server

feat(server,web): UI lecture du journal d'audit (S27.6.3, cloture S27.6)
  apps/server/src/routes/admin-audit-log.test.ts
  apps/server/src/routes/admin.ts
  apps/web/app/admin/audit-log/page.tsx
  apps/web/app/admin/data/ruleset-utils.ts
  apps/web/app/admin/layout.tsx
  apps/web/app/lib/auditLog.ts
  apps/web/app/me/teams/new/page.tsx
  apps/web/app/teams/[slug]/team-structured-data.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: web, server

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
