Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"

Display team rerolls count in game scoreboard (#189)
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/mechanics/blocking.ts
  packages/ui/src/components/GameScoreboard.tsx
  packages/ui/src/components/__tests__/GameScoreboard.test.tsx
Labels: packages-ui, game-engine

fix: resolve pre-existing CI failures (lint, typecheck, build)
  apps/server/src/routes/leaderboard.ts
  apps/server/src/routes/team.ts
  apps/server/tsconfig.json
  apps/web/app/components/PreMatchSummary.test.tsx
  apps/web/app/play/[id]/page.tsx
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/mechanics/blocking.ts
Labels: game-engine, web, server

fix: add retry logic to flaky setup E2E test
  tests/e2e-api/specs/setup.spec.ts
Labels: none

fix: eliminate circular import between types.ts and game-state.ts
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/types.ts
Labels: game-engine

Prevent redirect to ended matches in matchmaking flow (#188)
  apps/web/app/play/page.tsx
  tests/e2e-api/specs/setup.spec.ts
Labels: web

fix: use satisfies PreMatchState to ensure type safety in CI
  packages/game-engine/src/core/game-state.ts
Labels: game-engine

fix: remove dummy DiceResult overwrite after block resolution (#190)
  packages/game-engine/src/actions/actions.ts
Labels: game-engine

feat: implement right-stuff skill (J.7) (#187)
  TODO.md
  apps/server/src/routes/leaderboard.ts
  apps/server/src/routes/team.ts
  apps/server/tsconfig.json
  apps/web/app/components/PreMatchSummary.test.tsx
  apps/web/app/play/[id]/page.tsx
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/mechanics/right-stuff.test.ts
  packages/game-engine/src/mechanics/throw-team-mate.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine, web, server

feat: activate vitest coverage reporting across monorepo (TEST-1)
  TODO.md
  apps/web/package.json
  apps/web/vitest.config.ts
  package.json
  packages/game-engine/vitest.config.ts
  packages/ui/package.json
  packages/ui/vitest.config.ts
  pnpm-lock.yaml
  tests/package.json
  tests/vitest.config.ts
  turbo.json
Labels: packages-ui, game-engine, web

chore: update auto-generated version.json
  apps/web/public/version.json
Labels: web

feat: activate vitest coverage reporting (TEST-1) (#191)
  TODO.md
  apps/web/package.json
  apps/web/public/version.json
  apps/web/vitest.config.ts
  package.json
  packages/game-engine/vitest.config.ts
  packages/ui/package.json
  packages/ui/vitest.config.ts
  pnpm-lock.yaml
  tests/package.json
  tests/vitest.config.ts
  turbo.json
Labels: packages-ui, game-engine, web

fix: add missing tests and fix broken test files across game-engine and server
  apps/server/package.json
  apps/server/src/middleware/adminOnly.test.ts
  apps/server/src/middleware/authUser.test.ts
  apps/server/src/middleware/validate.test.ts
  apps/server/src/services/matchmaking.test.ts
  apps/server/vitest.config.ts
  packages/game-engine/src/blitz-continuation-bug.test.ts
  packages/game-engine/src/blitz-continuation-fix.test.ts
  packages/game-engine/src/blitz-exact-bug.test.ts
  packages/game-engine/src/exact-user-scenario.test.ts
  packages/game-engine/src/mechanics/ball.test.ts
  packages/game-engine/src/mechanics/injury.test.ts
  packages/game-engine/src/mechanics/negative-traits.test.ts
  packages/game-engine/src/utils/advancements.test.ts
  packages/game-engine/src/utils/dice.test.ts
  pnpm-lock.yaml
Labels: game-engine, server

Add comprehensive unit tests for game engine and server (#192)
  apps/server/package.json
  apps/server/src/middleware/adminOnly.test.ts
  apps/server/src/middleware/authUser.test.ts
  apps/server/src/middleware/validate.test.ts
  apps/server/src/services/matchmaking.test.ts
  apps/server/vitest.config.ts
  packages/game-engine/src/blitz-continuation-bug.test.ts
  packages/game-engine/src/blitz-continuation-fix.test.ts
  packages/game-engine/src/blitz-exact-bug.test.ts
  packages/game-engine/src/exact-user-scenario.test.ts
  packages/game-engine/src/mechanics/ball.test.ts
  packages/game-engine/src/mechanics/injury.test.ts
  packages/game-engine/src/mechanics/negative-traits.test.ts
  packages/game-engine/src/utils/advancements.test.ts
  packages/game-engine/src/utils/dice.test.ts
  pnpm-lock.yaml
Labels: game-engine, server

fix: repair 21 failing socket tests and improve test coverage
  apps/server/src/game-rooms.test.ts
  apps/server/src/game-spectator.test.ts
  apps/server/src/middleware/authSocket.test.ts
  apps/server/src/services/connected-users.test.ts
  apps/server/src/services/turn-ownership.test.ts
  apps/server/src/socket.test.ts
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/mechanics/injury.ts
  packages/ui/src/components/DugoutZone.tsx
Labels: packages-ui, game-engine, server

Add JWT authentication to WebSocket connections (#193)
  apps/server/src/game-rooms.test.ts
  apps/server/src/game-spectator.test.ts
  apps/server/src/middleware/authSocket.test.ts
  apps/server/src/services/connected-users.test.ts
  apps/server/src/services/turn-ownership.test.ts
  apps/server/src/socket.test.ts
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/mechanics/injury.ts
  packages/ui/src/components/DugoutZone.tsx
Labels: packages-ui, game-engine, server

fix: correct player placement coordinate mapping and click-to-place reliability
  apps/web/app/play/[id]/page.tsx
  packages/ui/src/components/GameBoardWithDugouts.tsx
Labels: packages-ui, web

chore: update build date in version.json
  apps/web/public/version.json
Labels: web

Fix grid coordinate mapping in play page drag handler (#194)
  apps/web/app/play/[id]/page.tsx
  apps/web/public/version.json
  packages/ui/src/components/GameBoardWithDugouts.tsx
Labels: packages-ui, web

feat(sec): add Zod validation to all unvalidated routes (SEC-5)
  TODO.md
  apps/server/src/middleware/validate.test.ts
  apps/server/src/middleware/validate.ts
  apps/server/src/routes/admin-data.ts
  apps/server/src/routes/admin.ts
  apps/server/src/routes/cup.ts
  apps/server/src/routes/local-match.ts
  apps/server/src/routes/match.ts
  apps/server/src/routes/team.ts
  apps/server/src/schemas/admin-data.schemas.ts
  apps/server/src/schemas/admin.schemas.ts
  apps/server/src/schemas/cup.schemas.ts
  apps/server/src/schemas/local-match.schemas.ts
  apps/server/src/schemas/match.schemas.ts
  apps/server/src/schemas/team.schemas.ts
  apps/server/src/schemas/zod-schemas.test.ts
Labels: server

chore: update version.json buildDate
  apps/web/public/version.json
Labels: web

feat(sec): add Zod validation to all routes (SEC-5) (#195)
  TODO.md
  apps/server/src/middleware/validate.test.ts
  apps/server/src/middleware/validate.ts
  apps/server/src/routes/admin-data.ts
  apps/server/src/routes/admin.ts
  apps/server/src/routes/cup.ts
  apps/server/src/routes/local-match.ts
  apps/server/src/routes/match.ts
  apps/server/src/routes/team.ts
  apps/server/src/schemas/admin-data.schemas.ts
  apps/server/src/schemas/admin.schemas.ts
  apps/server/src/schemas/cup.schemas.ts
  apps/server/src/schemas/local-match.schemas.ts
  apps/server/src/schemas/match.schemas.ts
  apps/server/src/schemas/team.schemas.ts
  apps/server/src/schemas/zod-schemas.test.ts
  apps/web/public/version.json
Labels: web, server

feat: implement bloodlust trait with 3 variants (J.8)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/negative-traits.test.ts
  packages/game-engine/src/mechanics/negative-traits.ts
Labels: game-engine

feat: implement bloodlust trait with 3 variants (J.8) (#196)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/negative-traits.test.ts
  packages/game-engine/src/mechanics/negative-traits.ts
Labels: game-engine

docs: repriorize sprints 13+ around 5 priority teams
  TODO.md
Labels: none

feat: implement always-hungry trait (J.9)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/always-hungry.test.ts
  packages/game-engine/src/mechanics/negative-traits.ts
Labels: game-engine

feat: implement always-hungry trait (J.9) (#197)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/always-hungry.test.ts
  packages/game-engine/src/mechanics/negative-traits.ts
Labels: game-engine

feat(game-engine): implement Foul Appearance (J.10)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/mechanics/foul-appearance.test.ts
  packages/game-engine/src/mechanics/negative-traits.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(game-engine): implement Foul Appearance (J.10) (#198)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/mechanics/foul-appearance.test.ts
  packages/game-engine/src/mechanics/negative-traits.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(game-engine): implement always-hungry trait (J.9)
  TODO.md
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/negative-traits.test.ts
  packages/game-engine/src/mechanics/negative-traits.ts
  packages/game-engine/src/mechanics/throw-team-mate.ts
Labels: game-engine

feat(game-engine): implement instable (Unstable) trait (J.11)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/instable.test.ts
  packages/game-engine/src/mechanics/negative-traits.test.ts
  packages/game-engine/src/mechanics/negative-traits.ts
Labels: game-engine

feat(game-engine): implement instable (Unstable) trait (J.11) (#201)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/instable.test.ts
  packages/game-engine/src/mechanics/negative-traits.test.ts
  packages/game-engine/src/mechanics/negative-traits.ts
Labels: game-engine

feat(game-engine): implement Leap + Pogo Stick (K.1)
  TODO.md
  apps/web/public/version.json
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/leap.test.ts
  packages/game-engine/src/mechanics/leap.ts
Labels: game-engine, web

feat(game-engine): implement Leap + Pogo Stick (K.1) (#202)
  TODO.md
  apps/web/public/version.json
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/leap.test.ts
  packages/game-engine/src/mechanics/leap.ts
Labels: game-engine, web

chore(release): 1.57.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  3836c7bc7300ff6fa5a0b0bf68092a97647fcb0b
Labels: none

feat(game-engine): implement stab skill (K.2)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/negative-traits.ts
  packages/game-engine/src/mechanics/stab.test.ts
  packages/game-engine/src/mechanics/stab.ts
Labels: game-engine

chore(web): sync version.json to 1.57.0
  apps/web/public/version.json
Labels: web

feat(game-engine): implement stab skill (K.2) (#203)
  TODO.md
  apps/web/public/version.json
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/negative-traits.ts
  packages/game-engine/src/mechanics/stab.test.ts
  packages/game-engine/src/mechanics/stab.ts
Labels: game-engine, web

feat(game-engine): implement chainsaw trait (K.3)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/chainsaw.test.ts
  packages/game-engine/src/mechanics/chainsaw.ts
  packages/game-engine/src/mechanics/negative-traits.ts
Labels: game-engine

feat(game-engine): implement chainsaw trait (K.3) (#204)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/chainsaw.test.ts
  packages/game-engine/src/mechanics/chainsaw.ts
  packages/game-engine/src/mechanics/negative-traits.ts
Labels: game-engine
