Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"

feat(game-engine): O.1 batch 3o - drunkard + timmm-ber + fumblerooskie registry
  packages/game-engine/src/skills/batch-3o-registry.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(game-engine): O.1 batch 3o - drunkard + timmm-ber + fumblerooskie (#329)
  packages/game-engine/src/skills/batch-3o-registry.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

chore(docker): update production configuration for web service
  Dockerfile.web
  docker-compose.prod.yml
Labels: none

chore(release): 1.70.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  25c0a4d22d493d04caf46f88e1ff9375c0324c12
Labels: none

docs(todo): add Sprint 23 for SEO & GEO (LLM) work
  TODO.md
Labels: none

fix(web): update start script port from 3000 to 3100 in package.json
  apps/web/package.json
Labels: web

chore(release): 1.70.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  f17cdefca7d0f073179f06920ae416fc5f25919b
Labels: none

SEO/GEO optimization: refresh homepage & structured data (#330)
  TODO.md
  apps/web/app/components/HomeStructuredData.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/app/robots.ts
  apps/web/app/sitemap.ts
  apps/web/public/llms-full.txt
  apps/web/public/llms.txt
  apps/web/public/manifest.json
  apps/web/public/robots.txt
Labels: web

feat(game-engine): O.1 batch 3p - hit-and-run + my-ball + plague-ridden registry entries
  packages/game-engine/src/skills/batch-3p-registry.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(game-engine): O.1 batch 3p - hit-and-run + my-ball + plague-ridden (#331)
  packages/game-engine/src/skills/batch-3p-registry.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(game-engine): O.1 batch 3q - contagieux + fork + hate + insignifiant + pick-me-up
  packages/game-engine/src/skills/batch-3q-registry.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

chore: sync version.json with package.json (1.70.1)
  apps/web/public/version.json
Labels: web

feat(game-engine): O.1 batch 3q — contagieux + fork + hate + insignifiant + pick-me-up (#332)
  apps/web/public/version.json
  packages/game-engine/src/skills/batch-3q-registry.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine, web

feat(web): protect /me/* routes with auth middleware
  apps/web/app/auth/sync/page.tsx
  apps/web/app/login/page.tsx
  apps/web/app/register/page.tsx
  apps/web/middleware.ts
Labels: web

Add /me route protection with token sync from localStorage (#333)
  apps/web/app/auth/sync/page.tsx
  apps/web/app/login/page.tsx
  apps/web/app/register/page.tsx
  apps/web/middleware.ts
Labels: web

feat(game-engine): O.1 batch 3r - breathe-fire + clearance + pile-on + provocation + surefoot + trickster
  packages/game-engine/src/skills/batch-3r-registry.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(game-engine): O.1 batch 3r — breathe-fire + clearance + pile-on + provocation + surefoot + trickster (#334)
  packages/game-engine/src/skills/batch-3r-registry.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(game-engine): O.1 batch 3s — blind-rage + slayer + consummate-professional + crushing-blow + pirouette + reliable
  packages/game-engine/src/skills/batch-3s-registry.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(game-engine): O.1 batch 3s — star player traits registry (6 skills) (#335)
  packages/game-engine/src/skills/batch-3s-registry.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(game-engine): O.1 batch 3t — stakes + solitary-aggressor + lightning-aggression + boot-to-the-head + violent-innovator + saboteur
  packages/game-engine/src/skills/batch-3t-registry.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(game-engine): O.1 batch 3t — star player + scelerate S3 traits registry (6 skills) (#336)
  packages/game-engine/src/skills/batch-3t-registry.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(game-engine): O.1 batch 3u — bullseye + casse-os + coup-sauvage + la-baliste + lord-of-chaos + fatal-flight (cloture O.1)
  TODO.md
  packages/game-engine/src/skills/batch-3u-registry.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(game-engine): O.1 batch 3u — final niche skills registry (closes O.1) (#337)
  TODO.md
  packages/game-engine/src/skills/batch-3u-registry.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(prisma): update User and KofiTransaction models for currency tracking and Discord integration
  apps/server/prisma/sqlite/migrations/20260424140000_kofi_currency_map_discord/migration.sql
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/auth.ts
  apps/server/src/routes/kofi.test.ts
  apps/server/src/routes/kofi.ts
  apps/server/src/schemas/kofi.schemas.test.ts
  apps/server/src/schemas/kofi.schemas.ts
  apps/server/src/services/kofi-claim.test.ts
  apps/server/src/services/kofi-claim.ts
  apps/server/src/services/kofi.test.ts
  apps/server/src/services/kofi.ts
  prisma/schema.prisma
Labels: server

chore(release): 1.71.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  ff4fccac2bd5fa824dd02c2035a5f9312743026c
Labels: none

feat(game-engine): O.3 — audit S2 vs S3 rules + register running-pass-2025 (cloture O.3)
  TODO.md
  packages/game-engine/src/skills/season3-rules-audit.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

fix(web): unblock local match inducements phase with manual UI
  apps/web/app/local-matches/[id]/LocalMatchInducements.test.tsx
  apps/web/app/local-matches/[id]/LocalMatchInducements.tsx
  apps/web/app/local-matches/[id]/page.tsx
Labels: web

feat(game-engine): O.3 — audit S2 vs S3 rules + register running-pass-2025 (#338)
  TODO.md
  packages/game-engine/src/skills/season3-rules-audit.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

Add inducements selection UI for local matches (#339)
  apps/web/app/local-matches/[id]/LocalMatchInducements.test.tsx
  apps/web/app/local-matches/[id]/LocalMatchInducements.tsx
  apps/web/app/local-matches/[id]/page.tsx
Labels: web

feat(auth): add discordUserId to user profile updates and validation
  apps/server/src/routes/auth.ts
  apps/server/src/schemas/auth.schemas.test.ts
  apps/server/src/schemas/auth.schemas.ts
  apps/web/app/me/profile/page.tsx
Labels: web, server

chore(release): 1.72.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  b92c2d627c1d522f77c8fb7c05940ab1b839baa6
Labels: none

test(e2e-api): O.4 — public-rosters.spec.ts (expansion E2E)
  tests/e2e-api/specs/public-rosters.spec.ts
Labels: none

test(e2e-api): O.4 — add public-rosters.spec.ts (expansion E2E) (#340)
  tests/e2e-api/specs/public-rosters.spec.ts
Labels: none

test(e2e-api): O.4 — push-notifications.spec.ts (expansion E2E)
  tests/e2e-api/specs/push-notifications.spec.ts
Labels: none

test(e2e-api): O.4 — add push-notifications.spec.ts (expansion E2E) (#341)
  tests/e2e-api/specs/push-notifications.spec.ts
Labels: none

test(e2e-api): O.4 — feature-flags.spec.ts (expansion E2E)
  tests/e2e-api/specs/feature-flags.spec.ts
Labels: none
