Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

feat(seo): page /changelog publique + flux RSS /feed.xml (Q.16)
  TODO.md
  apps/web/app/changelog/layout.tsx
  apps/web/app/changelog/page.tsx
  apps/web/app/components/Footer.tsx
  apps/web/app/feed.xml/route.ts
  apps/web/app/i18n/translations.ts
  apps/web/app/lib/changelog-parser.test.ts
  apps/web/app/lib/changelog-parser.ts
  apps/web/app/lib/rss-builder.test.ts
  apps/web/app/lib/rss-builder.ts
  apps/web/app/sitemap.ts
Labels: web

feat(seo): page /changelog publique + flux RSS /feed.xml (Q.16) (#381)
  TODO.md
  apps/web/app/changelog/layout.tsx
  apps/web/app/changelog/page.tsx
  apps/web/app/components/Footer.tsx
  apps/web/app/feed.xml/route.ts
  apps/web/app/i18n/translations.ts
  apps/web/app/lib/changelog-parser.test.ts
  apps/web/app/lib/changelog-parser.ts
  apps/web/app/lib/rss-builder.test.ts
  apps/web/app/lib/rss-builder.ts
  apps/web/app/sitemap.ts
Labels: web

feat(seo): codes verification webmasters (Q.17)
  TODO.md
  apps/web/app/layout.tsx
  apps/web/app/lib/webmaster-verification.test.ts
  apps/web/app/lib/webmaster-verification.ts
Labels: web

feat(seo): codes verification webmasters (Q.17) (#382)
  TODO.md
  apps/web/app/layout.tsx
  apps/web/app/lib/webmaster-verification.test.ts
  apps/web/app/lib/webmaster-verification.ts
Labels: web

feat(seo): IndexNow protocol — soumission auto Bing/Yandex/Naver (Q.18)
  TODO.md
  apps/web/app/api/indexnow-submit/route.ts
  apps/web/app/indexnow-key.txt/route.ts
  apps/web/app/lib/indexnow.test.ts
  apps/web/app/lib/indexnow.ts
Labels: web

feat(seo): IndexNow protocol — soumission auto Bing/Yandex/Naver (Q.18) (#383)
  TODO.md
  apps/web/app/api/indexnow-submit/route.ts
  apps/web/app/indexnow-key.txt/route.ts
  apps/web/app/lib/indexnow.test.ts
  apps/web/app/lib/indexnow.ts
Labels: web

feat(analytics): Umami events cles (Q.19)
  TODO.md
  apps/web/app/lib/umami-events.test.ts
  apps/web/app/lib/umami-events.ts
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/star-players/page.tsx
  apps/web/app/support/page.tsx
  apps/web/app/teams/TeamsListClient.tsx
Labels: web

feat(analytics): Umami events cles (Q.19) (#384)
  TODO.md
  apps/web/app/lib/umami-events.test.ts
  apps/web/app/lib/umami-events.ts
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/star-players/page.tsx
  apps/web/app/support/page.tsx
  apps/web/app/teams/TeamsListClient.tsx
Labels: web

feat(perf): Core Web Vitals monitoring + budget (Q.20)
  TODO.md
  apps/web/app/components/WebVitalsReporter.tsx
  apps/web/app/layout.tsx
  apps/web/app/lib/web-vitals.test.ts
  apps/web/app/lib/web-vitals.ts
Labels: web

feat(perf): Core Web Vitals monitoring + budget (Q.20) (#385)
  TODO.md
  apps/web/app/components/WebVitalsReporter.tsx
  apps/web/app/layout.tsx
  apps/web/app/lib/web-vitals.test.ts
  apps/web/app/lib/web-vitals.ts
Labels: web

feat(a11y): WCAG AA helpers + focus rings + skip-link + audit chat (Q.21)
  TODO.md
  apps/web/app/components/GameChat.tsx
  apps/web/app/globals.css
  apps/web/app/layout.tsx
  apps/web/app/lib/a11y.test.ts
  apps/web/app/lib/a11y.ts
Labels: web

feat(a11y): WCAG AA helpers + focus rings + skip-link (Q.21) (#386)
  TODO.md
  apps/web/app/components/GameChat.tsx
  apps/web/app/globals.css
  apps/web/app/layout.tsx
  apps/web/app/lib/a11y.test.ts
  apps/web/app/lib/a11y.ts
Labels: web

feat(seo): /humans.txt + /.well-known/security.txt (Q.22)
  TODO.md
  apps/web/app/.well-known/security.txt/route.ts
  apps/web/app/humans.txt/route.ts
  apps/web/app/lib/well-known.test.ts
  apps/web/app/lib/well-known.ts
Labels: web

feat(seo): /humans.txt + /.well-known/security.txt (Q.22) (#387)
  TODO.md
  apps/web/app/.well-known/security.txt/route.ts
  apps/web/app/humans.txt/route.ts
  apps/web/app/lib/well-known.test.ts
  apps/web/app/lib/well-known.ts
Labels: web

feat(seo): builder schema.org Event pour ligues publiques (Q.24)
  TODO.md
  apps/web/app/leagues/event-schema.test.ts
  apps/web/app/leagues/event-schema.ts
Labels: web

feat(seo): builder schema.org Event pour ligues publiques (Q.24) (#388)
  TODO.md
  apps/web/app/leagues/event-schema.test.ts
  apps/web/app/leagues/event-schema.ts
Labels: web

feat(seo): support Wikidata QID + Wikipedia sameAs (Q.23)
  TODO.md
  apps/web/app/components/HomeStructuredData.tsx
  apps/web/app/lib/external-identity.test.ts
  apps/web/app/lib/external-identity.ts
Labels: web

feat(seo): support Wikidata QID + Wikipedia sameAs (Q.23) (#389)
  TODO.md
  apps/web/app/components/HomeStructuredData.tsx
  apps/web/app/lib/external-identity.test.ts
  apps/web/app/lib/external-identity.ts
Labels: web

feat(seo): protocole de test presence IA (Q.25)
  TODO.md
  apps/web/app/lib/ai-presence-prompts.test.ts
  apps/web/app/lib/ai-presence-prompts.ts
  docs/seo/ai-presence-protocol.md
Labels: web

feat(seo): protocole de test presence IA (Q.25) (#390)
  TODO.md
  apps/web/app/lib/ai-presence-prompts.test.ts
  apps/web/app/lib/ai-presence-prompts.ts
  docs/seo/ai-presence-protocol.md
Labels: web

feat(seo): strategie liens entrants - templates outreach (Q.26)
  TODO.md
  apps/web/app/lib/outreach-templates.test.ts
  apps/web/app/lib/outreach-templates.ts
  docs/seo/inbound-links-strategy.md
Labels: web

feat(seo): strategie liens entrants - templates outreach (Q.26) (#391)
  TODO.md
  apps/web/app/lib/outreach-templates.test.ts
  apps/web/app/lib/outreach-templates.ts
  docs/seo/inbound-links-strategy.md
Labels: web

feat(seo): helper hreflang centralise + split i18n ready (Q.27)
  TODO.md
  apps/web/app/a-propos/layout.tsx
  apps/web/app/lib/hreflang.test.ts
  apps/web/app/lib/hreflang.ts
Labels: web

feat(seo): helper hreflang centralise + split i18n ready (Q.27) (#392)
  TODO.md
  apps/web/app/a-propos/layout.tsx
  apps/web/app/lib/hreflang.test.ts
  apps/web/app/lib/hreflang.ts
Labels: web

feat(seo): Open Graph images dynamiques par page (Q.14)
  TODO.md
  apps/web/app/lib/og-image-content.test.ts
  apps/web/app/lib/og-image-content.ts
  apps/web/app/lib/og-image-template.tsx
  apps/web/app/skills/opengraph-image.tsx
  apps/web/app/star-players/[slug]/opengraph-image.tsx
  apps/web/app/teams/[slug]/opengraph-image.tsx
Labels: web

feat(seo): Open Graph images dynamiques par page (Q.14) (#393)
  TODO.md
  apps/web/app/lib/og-image-content.test.ts
  apps/web/app/lib/og-image-content.ts
  apps/web/app/lib/og-image-template.tsx
  apps/web/app/skills/opengraph-image.tsx
  apps/web/app/star-players/[slug]/opengraph-image.tsx
  apps/web/app/teams/[slug]/opengraph-image.tsx
Labels: web

docs(todo): resync resume par phase avec etat reel
  TODO.md
Labels: none

Update TODO: Mark all phases as completed through Sprint 23 (#394)
  TODO.md
Labels: none

Update phases.md: Mark Phase A and Phase B as completed, add detailed notes on recent changes and tasks completed during Sprint 23. Include updates on socket.io implementation and critical game rules.
  docs/roadmap/phases.md
Labels: none

chore(release): 1.73.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  2e2129513a743d75dea128ca9972c276a0724b45
Labels: none

feat(b2.4): UI Throw Team-Mate cote web
  apps/web/app/play/[id]/page.tsx
  packages/ui/src/popups/ActionPickerPopup.test.tsx
  packages/ui/src/popups/ActionPickerPopup.tsx
Labels: packages-ui, web

refactor(b0.1): passing.ts via skill-registry collectModifiers
  packages/game-engine/src/mechanics/passing.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

docs(b0.1): note de suivi pour les hardcodes residuels du skill registry
  docs/roadmap/follow-up-b01.md
Labels: none

chore(release): 1.74.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  eeef7f523b1a96384e4f1da0c811cfe366f6cf9f
Labels: none

docs(roadmap): archive v1 (Sprints 0-23 / Phases A-Q) et page blanche v2
  TODO.md
  apps/web/app/api/admin/progress/route.ts
  docs/roadmap/archive/v1.73/README.md
  docs/roadmap/archive/v1.73/TODO.md
  docs/roadmap/archive/v1.73/audit-report.md
  docs/roadmap/archive/v1.73/evolution-analysis-2026-04-12.md
  docs/roadmap/archive/v1.73/phases.md
  docs/roadmap/archive/v1.73/sprint-0.md
  docs/roadmap/archive/v1.73/sprints/FEATURE-BADGES-TITLES-REWARDS.md
  docs/roadmap/archive/v1.73/sprints/README.md
  docs/roadmap/archive/v1.73/sprints/SPRINT-2-game-engine-stabilization.md
  docs/roadmap/archive/v1.73/sprints/SPRINT-3-frontend-stabilization.md
  docs/roadmap/archive/v1.73/sprints/SPRINT-4-server-security.md
  docs/roadmap/archive/v1.73/sprints/SPRINT-5-test-infrastructure.md
  docs/roadmap/archive/v1.73/sprints/SPRINT-6-badges-foundation.md
  docs/roadmap/archive/v1.73/sprints/SPRINT-7-badges-match-cup-triggers.md
  docs/roadmap/phases.md
Labels: web

docs(roadmap): plan sprints 24-27 derive d'un audit a 10 agents
  apps/web/app/api/admin/progress/route.ts
  docs/roadmap/phases.md
  docs/roadmap/sprints/S24-stabilite-securite.md
  docs/roadmap/sprints/S25-observabilite-qualite.md
  docs/roadmap/sprints/S26-retention-engagement.md
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: web

docs(prompts): cron dev loop aligne avec roadmap v2
  docs/prompts/cron-dev-loop.md
Labels: none

feat(auth): cookie auth_token httpOnly + sameSite=strict + secure (S24.1)
  apps/web/app/AuthBar.tsx
  apps/web/app/admin/layout.tsx
  apps/web/app/admin/sync/page.tsx
  apps/web/app/api/clear-auth-cookie/route.test.ts
  apps/web/app/api/clear-auth-cookie/route.ts
  apps/web/app/api/sync-auth-cookie/route.test.ts
  apps/web/app/api/sync-auth-cookie/route.ts
  apps/web/app/auth/sync/page.tsx
  apps/web/app/lib/auth-cookie.test.ts
  apps/web/app/lib/auth-cookie.ts
  apps/web/app/login/page.tsx
  apps/web/app/register/page.tsx
  apps/web/public/version.json
  docs/roadmap/sprints/S24-stabilite-securite.md
Labels: web

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
