Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"

feat(pro-league): SPP attribution + career counters + progression cron (Lot 3.C.2) (#717)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/services/pro-roster-spp.test.ts
  apps/server/src/services/pro-roster-spp.ts
  prisma/migrations/20260509000000_add_spp_progression/migration.sql
  prisma/schema.prisma
Labels: server

feat(sim-engine): TD scorerId in events + 3 SPP per TD attribution (Lot 3.C.3)
  apps/server/src/services/pro-roster-spp.test.ts
  apps/server/src/services/pro-roster-spp.ts
  packages/sim-engine/src/driver/full-driver-events.test.ts
  packages/sim-engine/src/driver/full-driver-events.ts
Labels: server

feat(pro-league): level-up applier (skill rolls aux seuils BB) (Lot 3.C.4)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/services/pro-roster-level-up.test.ts
  apps/server/src/services/pro-roster-level-up.ts
  prisma/migrations/20260510000000_add_roster_level/migration.sql
  prisma/schema.prisma
Labels: server

feat(sim-engine): TD scorerId in events + 3 SPP per TD attribution (Lot 3.C.3) (#718)
  apps/server/src/services/pro-roster-spp.test.ts
  apps/server/src/services/pro-roster-spp.ts
  packages/sim-engine/src/driver/full-driver-events.test.ts
  packages/sim-engine/src/driver/full-driver-events.ts
Labels: server

feat(pro-league): structured sim error logs + slow sim warn + drift alerts (Lot 4.A)
  apps/server/src/services/pro-league-engine-drift-watcher.test.ts
  apps/server/src/services/pro-league-engine-drift-watcher.ts
  apps/server/src/services/pro-league-sim-runner.ts
  apps/server/src/services/sim-error-logger.test.ts
  apps/server/src/services/sim-error-logger.ts
  apps/server/src/utils/metrics.test.ts
  apps/server/src/utils/metrics.ts
Labels: server

feat(pro-league): structured sim error logs + slow sim warn + drift alerts (Lot 4.A) (#720)
  apps/server/src/services/pro-league-engine-drift-watcher.test.ts
  apps/server/src/services/pro-league-engine-drift-watcher.ts
  apps/server/src/services/pro-league-sim-runner.ts
  apps/server/src/services/sim-error-logger.test.ts
  apps/server/src/services/sim-error-logger.ts
  apps/server/src/utils/metrics.test.ts
  apps/server/src/utils/metrics.ts
Labels: server

chore(release): 1.101.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  cc055a36b6fd6a3d50800421f82258a8ca9ee248
Labels: none

feat(pro-league): opt-in CPU profile capture pour les slow sims (Lot 4.A.2)
  apps/server/src/services/pro-league-sim-runner.ts
  apps/server/src/services/sim-cpu-profiler.test.ts
  apps/server/src/services/sim-cpu-profiler.ts
Labels: server

feat(sim-engine): cross-version baseline comparator + pnpm sim:compare-versions (Lot 4.B.1)
  packages/sim-engine/package.json
  packages/sim-engine/scripts/compare-versions.ts
  packages/sim-engine/src/bench/version-comparator.test.ts
  packages/sim-engine/src/bench/version-comparator.ts
  packages/sim-engine/src/index.ts
Labels: none

feat(pro-league): opt-in CPU profile capture pour les slow sims (Lot 4.A.2) (#721)
  apps/server/src/services/pro-league-sim-runner.ts
  apps/server/src/services/sim-cpu-profiler.test.ts
  apps/server/src/services/sim-cpu-profiler.ts
Labels: server

feat(pro-league): TV recalculation from learned skills (Lot 3.C.5)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/services/pro-roster-level-up.test.ts
  apps/server/src/services/pro-roster-level-up.ts
  apps/server/src/services/pro-roster-tv.test.ts
  apps/server/src/services/pro-roster-tv.ts
  prisma/migrations/20260511000000_add_roster_tv_cached/migration.sql
  prisma/schema.prisma
Labels: server

feat(pro-league): TV recalculation from learned skills (Lot 3.C.5) (#723)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/services/pro-roster-level-up.test.ts
  apps/server/src/services/pro-roster-level-up.ts
  apps/server/src/services/pro-roster-tv.test.ts
  apps/server/src/services/pro-roster-tv.ts
  prisma/migrations/20260511000000_add_roster_tv_cached/migration.sql
  prisma/schema.prisma
Labels: server

docs(sprint): consigne Lot 4.D (stat increases, pools S/A/P/M, niggling TV malus, hybrid scorerId)
  docs/roadmap/sprints/SPRINT-sim-engine-observability.md
Labels: none

feat(pro-league): alertes drift par race + bornes BB-realistes (Lot 4.A.3)
  apps/server/src/services/pro-league-engine-drift-watcher.ts
  apps/server/src/services/pro-league-race-bounds.test.ts
  apps/server/src/services/pro-league-race-bounds.ts
Labels: server

docs(sprint): consigne Lot 4.D (stat increases, pools S/A/P/M, niggling TV malus, hybrid scorerId) (#724)
  docs/roadmap/sprints/SPRINT-sim-engine-observability.md
Labels: none

feat(sim-engine): cross-version baseline comparator + pnpm sim:compare-versions (Lot 4.B.1) (#722)
  packages/sim-engine/package.json
  packages/sim-engine/scripts/compare-versions.ts
  packages/sim-engine/src/bench/version-comparator.test.ts
  packages/sim-engine/src/bench/version-comparator.ts
  packages/sim-engine/src/index.ts
Labels: none

chore(release): 1.102.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  c82a0c28353d96b2e64983e963b15f1df6cb5c5f
Labels: none

feat(sim-engine): replay diff tool event-by-event + pnpm sim:diff-replays (Lot 4.B.2)
  packages/sim-engine/package.json
  packages/sim-engine/scripts/diff-replays.ts
  packages/sim-engine/src/index.ts
  packages/sim-engine/src/replay/replay-diff.test.ts
  packages/sim-engine/src/replay/replay-diff.ts
Labels: none

feat(sim-engine): replay diff tool event-by-event + pnpm sim:diff-replays (Lot 4.B.2) (#725)
  packages/sim-engine/package.json
  packages/sim-engine/scripts/diff-replays.ts
  packages/sim-engine/src/index.ts
  packages/sim-engine/src/replay/replay-diff.test.ts
  packages/sim-engine/src/replay/replay-diff.ts
Labels: none

feat(sim-engine): hybrid driver attribue scorerId pondere par position (Lot 4.D.4)
  packages/sim-engine/src/driver/hybrid-driver.test.ts
  packages/sim-engine/src/driver/hybrid-driver.ts
  packages/sim-engine/src/driver/hybrid-scorer.test.ts
  packages/sim-engine/src/driver/hybrid-scorer.ts
Labels: none

feat(sim-engine): hybrid driver attribue scorerId pondere par position (Lot 4.D.4) (#727)
  packages/sim-engine/src/driver/hybrid-driver.test.ts
  packages/sim-engine/src/driver/hybrid-driver.ts
  packages/sim-engine/src/driver/hybrid-scorer.test.ts
  packages/sim-engine/src/driver/hybrid-scorer.ts
Labels: none

feat(pro-league): stat increases on doubles + TV propagation (Lot 4.D.1)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/services/pro-roster-level-up.test.ts
  apps/server/src/services/pro-roster-level-up.ts
  apps/server/src/services/pro-roster-tv.test.ts
  apps/server/src/services/pro-roster-tv.ts
  prisma/migrations/20260512000000_add_roster_stat_bonuses/migration.sql
  prisma/schema.prisma
Labels: server

feat(pro-league): stat increases on doubles + TV propagation (Lot 4.D.1) (#729)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/services/pro-roster-level-up.test.ts
  apps/server/src/services/pro-roster-level-up.ts
  apps/server/src/services/pro-roster-tv.test.ts
  apps/server/src/services/pro-roster-tv.ts
  prisma/migrations/20260512000000_add_roster_stat_bonuses/migration.sql
  prisma/schema.prisma
Labels: server

feat(pro-league): niggling TV malus + cron sweepRecomputeTvs (Lot 4.D.3)
  apps/server/src/index.ts
  apps/server/src/services/pro-roster-level-up.ts
  apps/server/src/services/pro-roster-tv.test.ts
  apps/server/src/services/pro-roster-tv.ts
Labels: server

feat(pro-league): niggling TV malus + cron sweepRecomputeTvs (Lot 4.D.3) (#728)
  apps/server/src/index.ts
  apps/server/src/services/pro-roster-level-up.ts
  apps/server/src/services/pro-roster-tv.test.ts
  apps/server/src/services/pro-roster-tv.ts
Labels: server

feat(pro-league): pools S/A/P/M par position + pricing primary/secondary (Lot 4.D.2)
  apps/server/src/services/pro-position-skill-access.test.ts
  apps/server/src/services/pro-position-skill-access.ts
  apps/server/src/services/pro-roster-level-up.test.ts
  apps/server/src/services/pro-roster-level-up.ts
  apps/server/src/services/pro-roster-tv.test.ts
  apps/server/src/services/pro-roster-tv.ts
Labels: server

feat(pro-league): pools S/A/P/M par position + pricing primary/secondary (Lot 4.D.2) (#730)
  apps/server/src/services/pro-position-skill-access.test.ts
  apps/server/src/services/pro-position-skill-access.ts
  apps/server/src/services/pro-roster-level-up.test.ts
  apps/server/src/services/pro-roster-level-up.ts
  apps/server/src/services/pro-roster-tv.test.ts
  apps/server/src/services/pro-roster-tv.ts
Labels: server

feat(admin): UI cross-version compare + replay diff (Lot 4.F)
  apps/server/src/routes/admin-sim.test.ts
  apps/server/src/routes/admin-sim.ts
  apps/server/src/services/pro-league-admin-tools.test.ts
  apps/server/src/services/pro-league-admin-tools.ts
  apps/web/app/admin/sim/compare-versions/page.tsx
  apps/web/app/admin/sim/diff-replays/page.tsx
Labels: web, server

feat(admin): UI cross-version compare + replay diff (Lot 4.F) (#731)
  apps/server/src/routes/admin-sim.test.ts
  apps/server/src/routes/admin-sim.ts
  apps/server/src/services/pro-league-admin-tools.test.ts
  apps/server/src/services/pro-league-admin-tools.ts
  apps/web/app/admin/sim/compare-versions/page.tsx
  apps/web/app/admin/sim/diff-replays/page.tsx
Labels: web, server

feat(broadcaster): pnpm sim:loadtest:broadcaster — scaling probe (Lot 4.C.1)
  apps/server/package.json
  apps/server/scripts/loadtest-broadcaster.ts
  apps/server/src/services/pro-league-broadcaster-loadtest.test.ts
  apps/server/src/services/pro-league-broadcaster-loadtest.ts
Labels: server

feat(pro-league): roster coach UI — level / SPP / TV / bonuses (Lot E)
  apps/server/src/services/pro-league-team.test.ts
  apps/server/src/services/pro-league-team.ts
  apps/web/app/pro-league/teams/[slug]/page.test.tsx
  apps/web/app/pro-league/teams/[slug]/page.tsx
Labels: web, server

feat(broadcaster): pnpm sim:loadtest:broadcaster — scaling probe (Lot 4.C.1) (#733)
  apps/server/package.json
  apps/server/scripts/loadtest-broadcaster.ts
  apps/server/src/services/pro-league-broadcaster-loadtest.test.ts
  apps/server/src/services/pro-league-broadcaster-loadtest.ts
Labels: server

chore(release): 1.103.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  6eeb86094f25a7ebcaf465a1c2736df8af7b656d
Labels: none

feat(admin): sim health = drift + alerts + last-sim + cross-links (Lot 2.B.3+)
  apps/server/src/routes/admin-sim.test.ts
  apps/server/src/routes/admin-sim.ts
  apps/server/src/services/pro-league-sim-health.test.ts
  apps/server/src/services/pro-league-sim-health.ts
  apps/web/app/admin/sim/health/page.tsx
Labels: web, server

feat(admin): sim health = drift + alerts + last-sim + cross-links (Lot 2.B.3+) (#732)
  apps/server/src/routes/admin-sim.test.ts
  apps/server/src/routes/admin-sim.ts
  apps/server/src/services/pro-league-sim-health.test.ts
  apps/server/src/services/pro-league-sim-health.ts
  apps/web/app/admin/sim/health/page.tsx
Labels: web, server

feat(admin): UI broadcaster load test (Lot J)
  apps/server/src/routes/admin-sim.test.ts
  apps/server/src/routes/admin-sim.ts
  apps/web/app/admin/sim/health/page.tsx
  apps/web/app/admin/sim/loadtest/page.tsx
Labels: web, server

feat(pro-league): player detail page (Lot G)
  apps/server/src/routes/pro-league.ts
  apps/server/src/services/pro-player-detail.test.ts
  apps/server/src/services/pro-player-detail.ts
  apps/web/app/pro-league/teams/[slug]/page.tsx
  apps/web/app/pro-league/teams/[slug]/players/[playerId]/page.tsx
Labels: web, server
