Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"

fix(league): la feuille annonce les journaliers du coup d'envoi
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-sheet-journeymen.test.ts
  apps/server/src/services/league-sheet-journeymen.ts
Labels: server

docs(changeset): mort hors roster + journaliers figés de la feuille
  .changeset/mort-hors-roster-et-journaliers-figes.md
Labels: none

Haine (X) : restituer le jet d'après-match et l'attribution du trait à l'écran (#994)
  .changeset/haine-restitution-jets.md
  apps/server/src/routes/public-skills.ts
  apps/server/src/services/league-hate-trait.test.ts
  apps/server/src/services/league-hate-trait.ts
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-offline-result.test.ts
  apps/server/src/services/league-offline-result.ts
  apps/server/src/utils/skills-cache.ts
  apps/web/app/leagues/pairings/[id]/sheet/_components/HateRollsRecap.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/HateRollsRecap.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/SheetAdvancementsEditor.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
  docs/hate-trait-acquisition.md
Labels: web, server

Le joueur mort quitte l'équipe en fin de match, et la feuille annonce les journaliers du coup d'envoi (#995)
  .changeset/mort-hors-roster-et-journaliers-figes.md
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-sheet-journeymen.test.ts
  apps/server/src/services/league-sheet-journeymen.ts
  apps/server/src/services/player-status.test.ts
  apps/server/src/services/player-status.ts
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/me/teams/[id]/roster-players.test.ts
  apps/web/app/me/teams/[id]/roster-players.ts
Labels: web, server

feat(fdm): enregistrer le réceptionneur d'une passe réussie
  .changeset/fdm-passe-receptionneur.md
  apps/server/src/schemas/league-match-sheet.schemas.test.ts
  apps/server/src/schemas/league-match-sheet.schemas.ts
  apps/server/src/services/league-match-summary.test.ts
  apps/server/src/services/league-match-summary.ts
  apps/web/app/leagues/pairings/[id]/sheet/event-fields.test.ts
  apps/web/app/leagues/pairings/[id]/sheet/event-fields.ts
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
Labels: web, server

test(server): couvrir la purge du cache du catalogue de compétences
  .changeset/skills-cache-coverage.md
  apps/server/src/utils/skills-cache.test.ts
Labels: server

Feuille de match : la passe réussie enregistre son réceptionneur (#996)
  .changeset/fdm-passe-receptionneur.md
  apps/server/src/schemas/league-match-sheet.schemas.test.ts
  apps/server/src/schemas/league-match-sheet.schemas.ts
  apps/server/src/services/league-match-summary.test.ts
  apps/server/src/services/league-match-summary.ts
  apps/web/app/leagues/pairings/[id]/sheet/event-fields.test.ts
  apps/web/app/leagues/pairings/[id]/sheet/event-fields.ts
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
Labels: web, server

feat(fdm): choisir le poste de CHAQUE journalier (E37)
  apps/server/src/schemas/league-match-sheet.schemas.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-sheet-journeymen.test.ts
  apps/server/src/services/league-sheet-journeymen.ts
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
Labels: web, server

fix(league): invalider un match de play-off (A158)
  apps/server/src/services/league-offline-edit.test.ts
  apps/server/src/services/league-offline-edit.ts
  apps/server/src/services/league-playoffs.test.ts
  apps/server/src/services/league-playoffs.ts
  tests/e2e-api/specs/leagues-playoff-invalidation.spec.ts
Labels: server

feat(fdm): créditer les PSP des prières liées à la passe (E45)
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-sheet-prayer-spp.test.ts
  apps/server/src/services/league-sheet-prayer-spp.ts
  tests/e2e-api/specs/leagues-sheet-fdm-corrections.spec.ts
Labels: server

refactor(fdm): saisir la fin de match dans l'ordre du livre (E41)
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
Labels: web

test(fdm): verrouiller de bout en bout l'achat de journalier, les Star Players des pickers et les tags d'état (A138, A156, A157)
  apps/web/app/me/teams/[id]/edit/PlayerStatusTags.test.tsx
  tests/e2e-api/specs/leagues-sheet-fdm-corrections.spec.ts
Labels: web

docs(fdm): captures d'écran versionnées des corrections
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

docs: changeset et mémoire des patterns découverts
  .changeset/fdm-corrections-journaliers-sequence-playoff.md
  CLAUDE.md
  apps/server/prisma/sqlite/memdb1
Labels: server

chore: restaurer la base sqlite de tests/integration
  apps/server/prisma/sqlite/memdb1
Labels: server

FDM : journaliers panachables, séquence d'après-match du livre, PSP de réception et invalidation d'un match de play-off (#998)
  .changeset/fdm-corrections-journaliers-sequence-playoff.md
  CLAUDE.md
  apps/server/src/schemas/league-match-sheet.schemas.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-offline-edit.test.ts
  apps/server/src/services/league-offline-edit.ts
  apps/server/src/services/league-playoffs.test.ts
  apps/server/src/services/league-playoffs.ts
  apps/server/src/services/league-sheet-journeymen.test.ts
  apps/server/src/services/league-sheet-journeymen.ts
  apps/server/src/services/league-sheet-prayer-spp.test.ts
  apps/server/src/services/league-sheet-prayer-spp.ts
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
  apps/web/app/me/teams/[id]/edit/PlayerStatusTags.test.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/e2e-api/specs/leagues-playoff-invalidation.spec.ts
  tests/e2e-api/specs/leagues-sheet-fdm-corrections.spec.ts
Labels: web, server

feat(teams): reserver le bouton Journal aux admins sur la fiche d'equipe
  apps/web/app/lib/user-roles.test.ts
  apps/web/app/lib/user-roles.ts
  apps/web/app/me/teams/[id]/page.journal-link.test.tsx
  apps/web/app/me/teams/[id]/page.tsx
Labels: web

fix(tests): réparer la suite d'intégration, rouge et masquée par la CI
  apps/server/src/index.ts
  apps/server/src/routes/admin.ts
  tests/integration/dwarf-vs-skaven-e2e.test.ts
  tests/integration/global-setup.ts
  tests/integration/local-stats-features.test.ts
  tests/integration/match-endpoints.test.ts
  tests/integration/match-start.test.ts
  tests/integration/match-start.unit.test.ts
  tests/integration/setup.ts
  tests/integration/stress-test.test.ts
  tests/integration/vitest.config.ts
Labels: server

fix(tests): réparer la suite racine `tests`, rouge et masquée elle aussi
  tests/game-chat.test.ts
  tests/game-engine/movement.test.ts
  tests/game-engine/push-direction.test.ts
  tests/game-engine/push-rules.test.ts
  tests/game-engine/stress-test.test.ts
  tests/pdf-export.test.ts
  tests/vitest.config.ts
Labels: none

chore(changeset): apercu de partage d'un roster
  .changeset/apercu-partage-roster.md
Labels: none

ci: faire échouer la CI sur les suites de tests réparées
  .changeset/tests-rouges-masques-par-la-ci.md
  .github/workflows/ci.yml
Labels: none

fix(db): miroir SQLite de Team.description + e2e-api du partage
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  openspec/changes/enhance-roster-share-preview/design.md
  openspec/changes/enhance-roster-share-preview/tasks.md
  tests/e2e-api/specs/team-share-preview.spec.ts
Labels: server

feat(league-sheet): catalogue d'embauche (postes du roster + staff) a l'etape 4
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-sheet-purchase-options.test.ts
  apps/server/src/services/league-sheet-purchase-options.ts
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
Labels: web, server

Tests rouges depuis longtemps, masqués par la CI : 27 réparés, et la step ne les avale plus (#1000)
  .changeset/tests-rouges-masques-par-la-ci.md
  .github/workflows/ci.yml
  apps/server/src/index.ts
  apps/server/src/routes/admin.ts
  tests/game-chat.test.ts
  tests/game-engine/movement.test.ts
  tests/game-engine/push-direction.test.ts
  tests/game-engine/push-rules.test.ts
  tests/game-engine/stress-test.test.ts
  tests/integration/dwarf-vs-skaven-e2e.test.ts
  tests/integration/global-setup.ts
  tests/integration/local-stats-features.test.ts
  tests/integration/match-endpoints.test.ts
  tests/integration/match-start.test.ts
  tests/integration/match-start.unit.test.ts
  tests/integration/setup.ts
  tests/integration/stress-test.test.ts
  tests/integration/vitest.config.ts
  tests/pdf-export.test.ts
  tests/vitest.config.ts
Labels: server

fix(roster): franciser le trait Haine et n'afficher que la Ligue retenue
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/me/teams/[id]/regional-leagues.test.ts
  apps/web/app/me/teams/[id]/regional-leagues.ts
  apps/web/app/me/teams/components/SkillTooltip.test.tsx
  apps/web/app/me/teams/components/SkillTooltip.tsx
  packages/game-engine/src/index.ts
  packages/game-engine/src/skills/hate-trait.test.ts
  packages/game-engine/src/skills/hate-trait.ts
Labels: game-engine, web

test(league-sheet): verrouiller et expliciter la regle PSP des eliminations
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/web/app/leagues/pairings/[id]/sheet/event-fields.test.ts
  apps/web/app/leagues/pairings/[id]/sheet/event-fields.ts
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
Labels: web, server

chore(release): 1.240.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  a39bdea2e55238d3fe0dae0c21407318bbc765bb
Labels: none

fix(docs): versionner les captures de preuve, avalees par .gitignore
  .gitignore
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  docs/screenshots/README.md
  docs/screenshots/a156-star-player-picker-evenement.png
  docs/screenshots/a157-tags-etat-gerer-mon-equipe.png
  docs/screenshots/a158-invalidation-playoff.png
  docs/screenshots/a158-preuve-tests-playoff.png
  docs/screenshots/a159-ligue-retenue-seule.png
  docs/screenshots/a160-trait-haine-en-francais.png
  docs/screenshots/e30-psp-elimination-action-speciale.png
  docs/screenshots/e37-journaliers-choix-par-journalier.png
  docs/screenshots/e41-sequence-apres-match.png
  docs/screenshots/e45-preuve-tests-psp-reception.png
  docs/screenshots/e45-psp-reception-etourdissante.png
  docs/screenshots/e46-e47-catalogue-achats.png
  tests/screenshots/README.md
  tests/screenshots/capture.ts
  tests/screenshots/package.json
  tests/screenshots/scenes.tsx
  tests/screenshots/tsconfig.json
Labels: web

docs(changeset): lot achats/Haine/Ligue/PSP d'elimination
  .changeset/fdm-achats-catalogue-haine-ligue.md
Labels: none

style(league-sheet): retablir les accents des commentaires du panneau d'achats
  apps/server/prisma/sqlite/memdb1
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
Labels: web, server

fix(team): separer l'or de la valeur d'equipe et fiabiliser la comptabilite des PSP
  apps/server/package.json
  apps/server/src/routes/team-player-skills-handler.ts
  apps/server/src/routes/team-selection-handlers.ts
  apps/server/src/routes/team.test.ts
  apps/server/src/scripts/repair-build-advancement-psp.test.ts
  apps/server/src/scripts/repair-build-advancement-psp.ts
  apps/server/src/services/cup-build-advancements.test.ts
  apps/server/src/services/cup-build-advancements.ts
  apps/server/src/services/post-match-league-sequence.test.ts
  apps/server/src/services/post-match-league-sequence.ts
  apps/server/src/services/team-advancement-editing.test.ts
  apps/server/src/services/team-advancement-editing.ts
  apps/server/src/services/team-budget-summary.test.ts
  apps/server/src/services/team-budget-summary.ts
  apps/server/src/utils/team-player-values.test.ts
  apps/server/src/utils/team-values.ts
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/me/teams/[id]/edit/build-budget.test.ts
  apps/web/app/me/teams/[id]/edit/build-budget.ts
  apps/web/app/me/teams/[id]/edit/page.tsx
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/me/teams/[id]/roster-player-value.test.ts
  apps/web/app/me/teams/[id]/roster-player-value.ts
  apps/web/app/me/teams/components/TeamInfoDisplay.test.tsx
  apps/web/app/me/teams/components/TeamInfoDisplay.tsx
  apps/web/app/me/teams/utils/exportPDF.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/utils/build-psp-pool.test.ts
  packages/game-engine/src/utils/build-psp-pool.ts
  packages/game-engine/src/utils/team-value-breakdown.test.ts
  packages/game-engine/src/utils/team-value-calculator.ts
  packages/game-engine/src/utils/team-value-hire-vs-value.test.ts
Labels: game-engine, web, server

fix(league-sheet): liberer la place d'un joueur tue pendant le match
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-sheet-purchase-options.test.ts
  packages/game-engine/src/skills/hate-trait.ts
Labels: game-engine, server

chore: restaurer la fixture sqlite mutee par une execution de tests
  apps/server/prisma/sqlite/memdb1
Labels: server

Feuille de match : catalogue d'embauche, trait Haine francisé, Ligue retenue seule, et la règle PSP des éliminations enfin dite (#1001)
  .changeset/fdm-achats-catalogue-haine-ligue.md
  .gitignore
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-sheet-purchase-options.test.ts
  apps/server/src/services/league-sheet-purchase-options.ts
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  apps/web/app/leagues/pairings/[id]/sheet/event-fields.test.ts
  apps/web/app/leagues/pairings/[id]/sheet/event-fields.ts
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/me/teams/[id]/regional-leagues.test.ts
  apps/web/app/me/teams/[id]/regional-leagues.ts
  apps/web/app/me/teams/components/SkillTooltip.test.tsx
  apps/web/app/me/teams/components/SkillTooltip.tsx
  docs/screenshots/README.md
  docs/screenshots/a156-star-player-picker-evenement.png
  docs/screenshots/a157-tags-etat-gerer-mon-equipe.png
  docs/screenshots/a158-invalidation-playoff.png
  docs/screenshots/a158-preuve-tests-playoff.png
  docs/screenshots/a159-ligue-retenue-seule.png
  docs/screenshots/a160-trait-haine-en-francais.png
  docs/screenshots/e30-psp-elimination-action-speciale.png
  docs/screenshots/e37-journaliers-choix-par-journalier.png
  docs/screenshots/e41-sequence-apres-match.png
  docs/screenshots/e45-preuve-tests-psp-reception.png
  docs/screenshots/e45-psp-reception-etourdissante.png
  docs/screenshots/e46-e47-catalogue-achats.png
  packages/game-engine/src/index.ts
  packages/game-engine/src/skills/hate-trait.test.ts
  packages/game-engine/src/skills/hate-trait.ts
  tests/screenshots/README.md
  tests/screenshots/capture.ts
  tests/screenshots/package.json
  tests/screenshots/scenes.tsx
  tests/screenshots/tsconfig.json
Labels: game-engine, web, server

docs(changeset): couts d'equipe — or vs valeur et comptabilite des PSP
  .changeset/couts-equipe-or-vs-valeur-psp.md
Labels: none

Coûts d'équipe : séparer l'or de la valeur, et fiabiliser la comptabilité des PSP (#1002)
  .changeset/couts-equipe-or-vs-valeur-psp.md
  apps/server/package.json
  apps/server/src/routes/team-player-skills-handler.ts
  apps/server/src/routes/team-selection-handlers.ts
  apps/server/src/routes/team.test.ts
  apps/server/src/scripts/repair-build-advancement-psp.test.ts
  apps/server/src/scripts/repair-build-advancement-psp.ts
  apps/server/src/services/cup-build-advancements.test.ts
  apps/server/src/services/cup-build-advancements.ts
  apps/server/src/services/post-match-league-sequence.test.ts
  apps/server/src/services/post-match-league-sequence.ts
  apps/server/src/services/team-advancement-editing.test.ts
  apps/server/src/services/team-advancement-editing.ts
  apps/server/src/services/team-budget-summary.test.ts
  apps/server/src/services/team-budget-summary.ts
  apps/server/src/utils/team-player-values.test.ts
  apps/server/src/utils/team-values.ts
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/me/teams/[id]/edit/build-budget.test.ts
  apps/web/app/me/teams/[id]/edit/build-budget.ts
  apps/web/app/me/teams/[id]/edit/page.tsx
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/me/teams/[id]/roster-player-value.test.ts
  apps/web/app/me/teams/[id]/roster-player-value.ts
  apps/web/app/me/teams/components/TeamInfoDisplay.test.tsx
  apps/web/app/me/teams/components/TeamInfoDisplay.tsx
  apps/web/app/me/teams/utils/exportPDF.ts
  apps/web/public/version.json
  packages/game-engine/src/index.ts
  packages/game-engine/src/utils/build-psp-pool.test.ts
  packages/game-engine/src/utils/build-psp-pool.ts
  packages/game-engine/src/utils/team-value-breakdown.test.ts
  packages/game-engine/src/utils/team-value-calculator.ts
  packages/game-engine/src/utils/team-value-hire-vs-value.test.ts
Labels: game-engine, web, server

feat(share): page publique d'un roster — compétences, coût des joueurs, staff chiffré, logo et fluff
  .changeset/page-publique-roster-partage.md
  apps/server/src/routes/public-teams.ts
  apps/server/src/services/public-team-view.test.ts
  apps/server/src/services/public-team-view.ts
  apps/web/app/lib/roster-display.ts
  apps/web/app/r/[token]/PublicRosterTable.test.tsx
  apps/web/app/r/[token]/PublicRosterTable.tsx
  apps/web/app/r/[token]/page.render.test.tsx
  apps/web/app/r/[token]/page.tsx
  apps/web/app/r/[token]/staff-lines.test.ts
  apps/web/app/r/[token]/staff-lines.ts
  openspec/changes/enhance-public-roster-share-page/design.md
  openspec/changes/enhance-public-roster-share-page/proposal.md
  openspec/changes/enhance-public-roster-share-page/specs/roster-share-preview/spec.md
  openspec/changes/enhance-public-roster-share-page/tasks.md
  tests/e2e-api/specs/team-share-preview.spec.ts
Labels: web, server

Lien public d'un roster : compétences, coût des joueurs, staff chiffré, logo et fluff (#1003)
  .changeset/page-publique-roster-partage.md
  apps/server/src/routes/public-teams.ts
  apps/server/src/services/public-team-view.test.ts
  apps/server/src/services/public-team-view.ts
  apps/web/app/lib/roster-display.ts
  apps/web/app/r/[token]/PublicRosterTable.test.tsx
  apps/web/app/r/[token]/PublicRosterTable.tsx
  apps/web/app/r/[token]/page.render.test.tsx
  apps/web/app/r/[token]/page.tsx
  apps/web/app/r/[token]/staff-lines.test.ts
  apps/web/app/r/[token]/staff-lines.ts
  openspec/changes/enhance-public-roster-share-page/design.md
  openspec/changes/enhance-public-roster-share-page/proposal.md
  openspec/changes/enhance-public-roster-share-page/specs/roster-share-preview/spec.md
  openspec/changes/enhance-public-roster-share-page/tasks.md
  tests/e2e-api/specs/team-share-preview.spec.ts
Labels: web, server

fix(team): l'édition avancée ne se fige qu'à l'entrée en jeu, et le règlement impose pool et budget
  apps/server/src/routes/team-admin-edit-access.test.ts
  apps/server/src/routes/team-advancement-handlers.ts
  apps/server/src/routes/team-player-handlers.ts
  apps/server/src/routes/team.test.ts
  apps/server/src/routes/team.ts
  apps/server/src/schemas/team.schemas.ts
  apps/server/src/services/team-advancement-editing.test.ts
  apps/server/src/services/team-advancement-editing.ts
  apps/server/src/services/team-edit-access.ts
  apps/server/src/services/team-lock-status.test.ts
  apps/server/src/services/team-lock-status.ts
Labels: server
