Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

feat(team): la fiche d'équipe liste les coups de pouce achetés à la création
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/me/teams/[id]/page.inducements.test.tsx
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/me/teams/components/TeamInducementsPanel.tsx
  openspec/changes/cup-build-inducements/tasks.md
Labels: web

refactor(web): liste des coups de pouce autorisés en champ partagé
  apps/web/app/components/AllowedInducementsField.test.tsx
  apps/web/app/components/AllowedInducementsField.tsx
  apps/web/app/leagues/_components/LeagueForm.tsx
  openspec/changes/cup-build-inducements/tasks.md
Labels: web

feat(cups): le formulaire de coupe choisit le régime des coups de pouce
  apps/web/app/cups/CupInducementModeField.tsx
  apps/web/app/cups/CupInducementRulesSummary.test.tsx
  apps/web/app/cups/CupInducementRulesSummary.tsx
  apps/web/app/cups/[id]/page.tsx
  apps/web/app/cups/inducement-mode.test.ts
  apps/web/app/cups/inducement-mode.ts
  apps/web/app/cups/page.create-inducements.test.tsx
  apps/web/app/cups/page.tsx
  openspec/changes/cup-build-inducements/tasks.md
Labels: web

docs(cup): coups de pouce de coupe build / match / none
  CLAUDE.md
  docs/cup-composition-rules.md
  openspec/changes/cup-build-inducements/tasks.md
Labels: none

docs(backlog): suites des coups de pouce de coupe
  docs/roadmap/backlog/openspec-suites.md
  openspec/changes/cup-build-inducements/tasks.md
Labels: none

chore(changeset): coups de pouce à la création d'une équipe de coupe
  .changeset/coups-de-pouce-creation-coupe.md
  openspec/changes/cup-build-inducements/tasks.md
Labels: none

test(e2e): coups de pouce achetés à la création d'une équipe de coupe NAF
  apps/server/src/index.ts
  openspec/changes/cup-build-inducements/tasks.md
  tests/e2e-api/helpers/factories.ts
  tests/e2e-api/specs/cups-build-inducements.spec.ts
Labels: server

test(team): le budget du brouillon reçoit aussi les coups de pouce
  apps/server/src/routes/team-info-staff-caps.test.ts
  openspec/changes/cup-build-inducements/tasks.md
Labels: server

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
