Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"

fix(admin): ban optimistic-lock pour eviter le clobber concurrent
  apps/server/src/routes/admin-moderation.test.ts
  apps/server/src/routes/admin.ts
Labels: server

fix(admin): ban optimistic-lock pour eviter le clobber concurrent (#868)
  apps/server/src/routes/admin-moderation.test.ts
  apps/server/src/routes/admin.ts
Labels: server

fix(security): share-token PII + settlePredictions tx + JSON-LD XSS escape
  apps/server/src/routes/local-match.ts
  apps/server/src/services/pro-match-predictions.test.ts
  apps/server/src/services/pro-match-predictions.ts
  apps/web/app/a-propos/layout.tsx
  apps/web/app/blog/[slug]/page.tsx
  apps/web/app/components/BreadcrumbStructuredData.tsx
  apps/web/app/components/StructuredData.tsx
  apps/web/app/lib/safe-json-ld.test.ts
  apps/web/app/lib/safe-json-ld.ts
  apps/web/app/pro-league/_components/ProLeagueStructuredData.tsx
  apps/web/app/skills/SkillsStructuredData.tsx
  apps/web/app/star-players/[slug]/StarPlayerStructuredData.tsx
  apps/web/app/teams/[slug]/TeamStructuredData.tsx
Labels: web, server

fix(security): share-token PII + settlePredictions tx + JSON-LD XSS escape (#869)
  apps/server/src/routes/local-match.ts
  apps/server/src/services/pro-match-predictions.test.ts
  apps/server/src/services/pro-match-predictions.ts
  apps/web/app/a-propos/layout.tsx
  apps/web/app/blog/[slug]/page.tsx
  apps/web/app/components/BreadcrumbStructuredData.tsx
  apps/web/app/components/StructuredData.tsx
  apps/web/app/lib/safe-json-ld.test.ts
  apps/web/app/lib/safe-json-ld.ts
  apps/web/app/pro-league/_components/ProLeagueStructuredData.tsx
  apps/web/app/skills/SkillsStructuredData.tsx
  apps/web/app/star-players/[slug]/StarPlayerStructuredData.tsx
  apps/web/app/teams/[slug]/TeamStructuredData.tsx
Labels: web, server

fix(perf): single-flight lock sur getCareerSnapshot pour eviter thunder-herd
  apps/server/src/services/pro-player-career-stats.test.ts
  apps/server/src/services/pro-player-career-stats.ts
Labels: server

fix(perf): single-flight lock sur getCareerSnapshot (thunder-herd) (#870)
  apps/server/src/services/pro-player-career-stats.test.ts
  apps/server/src/services/pro-player-career-stats.ts
Labels: server

docs(nfl-fantasy): exploration initiale module NFL Fantasy x Blood Bowl
  docs/nfl-fantasy/00-vision.md
  docs/nfl-fantasy/01-legal.md
  docs/nfl-fantasy/02-references-sorare.md
  docs/nfl-fantasy/03-api-strategy.md
  docs/nfl-fantasy/04-race-mapping.md
  docs/nfl-fantasy/05-position-mapping.md
  docs/nfl-fantasy/06-scoring.md
  docs/nfl-fantasy/07-mechanics.md
  docs/nfl-fantasy/08-rosters-2025.md
  docs/nfl-fantasy/09-transitions-2026.md
  docs/nfl-fantasy/10-architecture.md
  docs/nfl-fantasy/README.md
Labels: none

fix(security): forgot-password origin allowlist + metrics auth + join code CSPRNG
  apps/server/src/index.ts
  apps/server/src/routes/auth.ts
  apps/server/src/routes/pro-league.ts
  apps/server/src/services/password-reset.ts
  apps/server/src/services/pro-prediction-leagues.ts
Labels: server

fix(perf): seer leaderboard groupBy + rivalry scan cap + ProMatchPrediction indexes
  apps/server/src/services/pro-league-rivalry.ts
  apps/server/src/services/pro-match-predictions.test.ts
  apps/server/src/services/pro-match-predictions.ts
  prisma/migrations/20260528000000_add_promatchprediction_indexes_round10/migration.sql
  prisma/schema.prisma
Labels: server

fix(engine): Brilliant Coaching kickoff event adds assistant coaches
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/mechanics/kickoff-events.test.ts
  packages/game-engine/src/mechanics/kickoff-events.ts
Labels: game-engine

fix(security): forgot-password origin allowlist + metrics auth + join code CSPRNG (#871)
  apps/server/src/index.ts
  apps/server/src/routes/auth.ts
  apps/server/src/routes/pro-league.ts
  apps/server/src/services/password-reset.ts
  apps/server/src/services/pro-prediction-leagues.ts
Labels: server

fix(perf): seer leaderboard groupBy + rivalry scan cap + ProMatchPrediction indexes (#872)
  apps/server/src/services/pro-league-rivalry.ts
  apps/server/src/services/pro-match-predictions.test.ts
  apps/server/src/services/pro-match-predictions.ts
  prisma/migrations/20260528000000_add_promatchprediction_indexes_round10/migration.sql
  prisma/schema.prisma
Labels: server

docs: Add NFL Fantasy module documentation (10 files) (#874)
  docs/nfl-fantasy/00-vision.md
  docs/nfl-fantasy/01-legal.md
  docs/nfl-fantasy/02-references-sorare.md
  docs/nfl-fantasy/03-api-strategy.md
  docs/nfl-fantasy/04-race-mapping.md
  docs/nfl-fantasy/05-position-mapping.md
  docs/nfl-fantasy/06-scoring.md
  docs/nfl-fantasy/07-mechanics.md
  docs/nfl-fantasy/08-rosters-2025.md
  docs/nfl-fantasy/09-transitions-2026.md
  docs/nfl-fantasy/10-architecture.md
  docs/nfl-fantasy/README.md
Labels: none

fix(engine): Brilliant Coaching kickoff event adds assistant coaches (#873)
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/mechanics/kickoff-events.test.ts
  packages/game-engine/src/mechanics/kickoff-events.ts
Labels: game-engine

fix(web/security): admin middleware bypass + open redirect + JSON-LD XSS + SW URL guard
  apps/web/app/admin/sync/page.tsx
  apps/web/app/api/sync-auth-cookie/route.test.ts
  apps/web/app/api/sync-auth-cookie/route.ts
  apps/web/app/auth/sync/page.tsx
  apps/web/app/leagues/[id]/seasons/[sid]/recap/page.tsx
  apps/web/app/lib/safe-redirect.ts
  apps/web/public/sw.js
Labels: web

fix(socket/security): spectator bypass + chat broadcast membership check
  apps/server/src/game-chat.ts
  apps/server/src/game-resync.test.ts
  apps/server/src/game-resync.ts
  apps/server/src/game-spectator.ts
Labels: server

fix(engine): Pass skill ne relance pas un Fumble (naturel 1)
  packages/game-engine/src/mechanics/catch-pass-skill-reroll.test.ts
  packages/game-engine/src/mechanics/passing.ts
Labels: game-engine

fix(web/security): admin middleware bypass + open redirect + JSON-LD XSS + SW URL guard (#875)
  apps/web/app/admin/sync/page.tsx
  apps/web/app/api/sync-auth-cookie/route.test.ts
  apps/web/app/api/sync-auth-cookie/route.ts
  apps/web/app/auth/sync/page.tsx
  apps/web/app/leagues/[id]/seasons/[sid]/recap/page.tsx
  apps/web/app/lib/safe-redirect.ts
  apps/web/public/sw.js
Labels: web

fix(engine): Pass skill ne relance pas un Fumble (naturel 1) (#877)
  packages/game-engine/src/mechanics/catch-pass-skill-reroll.test.ts
  packages/game-engine/src/mechanics/passing.ts
Labels: game-engine

test(ai): add IA vs IA decision loop integration test
  packages/game-engine/src/ai/ai-vs-ai-loop.test.ts
Labels: game-engine

fix(game-engine): clear all pendingX on drive transitions
  packages/game-engine/src/core/clear-pending-states.test.ts
  packages/game-engine/src/core/game-state.ts
Labels: game-engine

feat(ai): skill awareness on block knockdown estimation
  packages/game-engine/src/ai/evaluator.ts
  packages/game-engine/src/ai/skill-awareness.test.ts
Labels: game-engine

fix(game-engine): forbid FOUL during kickoffBlitzTurn
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/actions/kickoff-blitz-foul-ban.test.ts
  packages/game-engine/src/actions/legal-moves.ts
Labels: game-engine

chore(game-engine): block .js shadow files via check script
  Makefile
  scripts/check-no-js-shadow.sh
Labels: none

fix(game-engine): immutable PM update in handleBlockChoose
  packages/game-engine/src/actions/choice-handlers.ts
Labels: game-engine

docs: add game-engine + AI audit 2026-05-19
  docs/ai-audit-2026-05-19.md
  docs/engine-audit-2026-05-19-full.md
Labels: none

test(game-engine): extract shared makePlayer/baseState helpers
  packages/game-engine/src/__tests__/helpers/index.ts
  packages/game-engine/src/ai/evaluator.test.ts
  packages/game-engine/src/ai/lookahead.test.ts
  packages/game-engine/src/ai/skill-awareness.test.ts
Labels: game-engine

test(game-engine): remove 6 sentinel .test.js noise files
  packages/game-engine/src/core/final-dugout-sync-verification.test.js
  packages/game-engine/src/core/final-safety-verification.test.js
  packages/game-engine/src/core/final-teamdugout-safety.test.js
  packages/game-engine/src/core/safety-integration.test.js
  packages/game-engine/src/core/simple-kickoff-test.test.js
  packages/game-engine/src/core/validate-placement-button.test.js
Labels: game-engine

fix(game-engine): tolerant replay parsing with shape guard
  packages/game-engine/src/core/replay.test.ts
  packages/game-engine/src/core/replay.ts
Labels: game-engine

test(game-engine): regression catalog scaffold
  packages/game-engine/src/__tests__/regressions.test.ts
Labels: game-engine

feat(game-engine): rejectMove helper for silent move rejections
  packages/game-engine/src/actions/blitz-handler.test.ts
  packages/game-engine/src/actions/blitz-handler.ts
  packages/game-engine/src/actions/reject-move.test.ts
  packages/game-engine/src/actions/reject-move.ts
Labels: game-engine

feat(game-engine): runtime guard for pendingX mutual exclusivity
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/pending-state.test.ts
  packages/game-engine/src/core/pending-state.ts
Labels: game-engine

docs: update engine audit with QW + ST sprint completion status
  docs/engine-audit-2026-05-19-full.md
Labels: none

feat(replay): enhance replay functionality with DICE event and overlay support
  apps/web/app/pro-league/matches/[id]/replay/FullReplayField.tsx
  apps/web/app/pro-league/matches/[id]/replay/MatchReplayPlayer.tsx
  docs/nfl-fantasy/00-vision.md
  docs/nfl-fantasy/10-architecture.md
  docs/nfl-fantasy/README.md
  packages/shared-types/src/match-event.test.ts
  packages/shared-types/src/match-event.ts
  packages/sim-engine/src/driver/full-driver-events.ts
  packages/sim-engine/src/driver/full-driver-halftime.ts
  packages/sim-engine/src/driver/full-driver.ts
  packages/ui/src/board/PixiBoard.tsx
  packages/ui/src/components/GameBoardWithDugouts.tsx
Labels: packages-ui, web

chore(release): 1.128.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  bb2283c5ccd38744223facc5d9776736522c22be
Labels: none

chore(nfl-poc): bootstrap structure scripts/nfl-poc/
  scripts/nfl-poc/.gitignore
  scripts/nfl-poc/README.md
  scripts/nfl-poc/fixtures/.gitkeep
  scripts/nfl-poc/package.json
  scripts/nfl-poc/src/cli.ts
  scripts/nfl-poc/tsconfig.json
Labels: none

feat(nfl-poc): pull nflverse stats_player_week_2025 + filter Week 10
  scripts/nfl-poc/src/cli.ts
  scripts/nfl-poc/src/fetch-nflverse.ts
Labels: none

feat(nfl-poc): poll ESPN scoreboard + fetch summary for sample event
  scripts/nfl-poc/src/cli.ts
  scripts/nfl-poc/src/fetch-espn.ts
Labels: none

feat(nfl-poc): normalize 5 stat lines (QB/WR/RB/DE/LB) en StatLine neutre
  scripts/nfl-poc/package.json
  scripts/nfl-poc/src/cli.ts
  scripts/nfl-poc/src/normalize.ts
Labels: none
