Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"

fix(league): note les Blessures Persistantes « N BP » et les cumule (#938)
  apps/server/src/services/league-offline-result.test.ts
  apps/web/app/leagues/[id]/teams/[teamId]/page.test.tsx
  apps/web/app/leagues/[id]/teams/[teamId]/page.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
  apps/web/app/me/teams/[id]/career/page.tsx
Labels: web, server

feat(league): signale « En attente validation » sur la journee
  apps/server/src/services/league.test.ts
  apps/server/src/services/league.ts
  apps/web/app/leagues/[id]/MatchdayExport.test.tsx
  apps/web/app/leagues/[id]/MatchdayExport.tsx
  apps/web/app/leagues/[id]/SeasonCalendar.pending.test.tsx
  apps/web/app/leagues/[id]/SeasonCalendar.tsx
  apps/web/app/leagues/[id]/types.ts
Labels: web, server

chore(release): 1.219.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  65d7a45c1c919b55e627945886593fc98d1d6284
Labels: none

feat(league): signale « En attente validation » sur la page de la journée (#939)
  apps/server/src/services/league.test.ts
  apps/server/src/services/league.ts
  apps/web/app/leagues/[id]/MatchdayExport.test.tsx
  apps/web/app/leagues/[id]/MatchdayExport.tsx
  apps/web/app/leagues/[id]/SeasonCalendar.pending.test.tsx
  apps/web/app/leagues/[id]/SeasonCalendar.tsx
  apps/web/app/leagues/[id]/types.ts
Labels: web, server

feat(admin): choisit les ligues d'un roster en cases a cocher
  apps/web/app/admin/data/rosters/[id]/edit/page.test.tsx
  apps/web/app/admin/data/rosters/[id]/edit/page.tsx
Labels: web

chore(release): 1.220.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  544e3bc888f271dc0cc9a9b4003102eaaf52ce44
Labels: none

feat(admin): choisit les ligues d'un roster en cases à cocher (#940)
  apps/web/app/admin/data/rosters/[id]/edit/page.test.tsx
  apps/web/app/admin/data/rosters/[id]/edit/page.tsx
Labels: web

feat(teams): budget saisissable librement a la creation d'equipe
  apps/web/app/me/teams/components/QuantityStepper.test.tsx
  apps/web/app/me/teams/components/QuantityStepper.tsx
  apps/web/app/me/teams/new/page.tsx
Labels: web

chore(release): 1.221.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  8caec65cc3348b95c3c7913a6963f6c142125dcc
Labels: none

feat(teams): budget saisissable librement à la création d'équipe (#941)
  apps/web/app/me/teams/components/QuantityStepper.test.tsx
  apps/web/app/me/teams/components/QuantityStepper.tsx
  apps/web/app/me/teams/new/page.tsx
Labels: web

fix(league): elargit le roster d'equipe pour voir toutes les colonnes
  apps/web/app/leagues/[id]/teams/[teamId]/page.test.tsx
  apps/web/app/leagues/[id]/teams/[teamId]/page.tsx
Labels: web

chore(release): 1.222.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  bf12ef2f016014bd2a9cef0bf27d23497af4a06c
Labels: none

fix(league): élargit le roster d'équipe pour voir toutes les colonnes (#942)
  apps/web/app/leagues/[id]/teams/[teamId]/page.test.tsx
  apps/web/app/leagues/[id]/teams/[teamId]/page.tsx
Labels: web

feat(teams): logo d'equipe uploadable, affiche devant le nom
  .gitignore
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/league.ts
  apps/server/src/routes/team-logo-handlers.ts
  apps/server/src/routes/team.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league.ts
  apps/server/src/services/team-logo.test.ts
  apps/server/src/services/team-logo.ts
  apps/server/src/utils/team-logo-upload.ts
  apps/web/app/components/TeamLogo.test.tsx
  apps/web/app/components/TeamLogo.tsx
  apps/web/app/leagues/[id]/SeasonCalendar.tsx
  apps/web/app/leagues/[id]/SeasonStandings.tsx
  apps/web/app/leagues/[id]/types.ts
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/me/teams/components/TeamLogoUploader.test.tsx
  apps/web/app/me/teams/components/TeamLogoUploader.tsx
  apps/web/public/images/team-logos/.gitkeep
  docker-compose.prod.yml
  prisma/schema.prisma
Labels: web, server

chore(release): 1.222.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  52408421f98d2129220139fa41357160c2c01460
Labels: none

feat(teams): logo d'équipe uploadable, affiché devant le nom (#943)
  .gitignore
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/league.ts
  apps/server/src/routes/team-logo-handlers.ts
  apps/server/src/routes/team.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league.ts
  apps/server/src/services/team-logo.test.ts
  apps/server/src/services/team-logo.ts
  apps/server/src/utils/team-logo-upload.ts
  apps/web/app/components/TeamLogo.test.tsx
  apps/web/app/components/TeamLogo.tsx
  apps/web/app/leagues/[id]/SeasonCalendar.tsx
  apps/web/app/leagues/[id]/SeasonStandings.tsx
  apps/web/app/leagues/[id]/types.ts
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/me/teams/components/TeamLogoUploader.test.tsx
  apps/web/app/me/teams/components/TeamLogoUploader.tsx
  apps/web/public/images/team-logos/.gitkeep
  docker-compose.prod.yml
  prisma/schema.prisma
Labels: web, server

chore(release): 1.223.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  5731acd351cd5b28d09746fca25ba183e9d24ce7
Labels: none

fix(web): corrige les erreurs de typage des routes (typedRoutes)
  apps/web/app/admin/feature-flags/[id]/page.tsx
  apps/web/app/admin/feature-flags/page.tsx
  apps/web/app/forgot-password/page.tsx
  apps/web/app/leagues/_components/LeagueForm.tsx
  apps/web/app/lib/use-match-mode-redirect.ts
  apps/web/app/me/matches/async/page.tsx
  apps/web/app/me/teams/[id]/MatchReportBanner.test.tsx
  apps/web/app/me/teams/[id]/MatchReportBanner.tsx
  apps/web/app/recherche/SearchClient.tsx
  apps/web/app/reset-password/page.tsx
  apps/web/app/teams/[slug]/TeamDetailClient.tsx
  apps/web/app/teams/positions/comparer/PositionComparatorClient.tsx
Labels: web

fix(web): corrige les erreurs de typage des routes (typedRoutes) (#944)
  apps/web/app/admin/feature-flags/[id]/page.tsx
  apps/web/app/admin/feature-flags/page.tsx
  apps/web/app/forgot-password/page.tsx
  apps/web/app/leagues/_components/LeagueForm.tsx
  apps/web/app/lib/use-match-mode-redirect.ts
  apps/web/app/me/matches/async/page.tsx
  apps/web/app/me/teams/[id]/MatchReportBanner.test.tsx
  apps/web/app/me/teams/[id]/MatchReportBanner.tsx
  apps/web/app/recherche/SearchClient.tsx
  apps/web/app/reset-password/page.tsx
  apps/web/app/teams/[slug]/TeamDetailClient.tsx
  apps/web/app/teams/positions/comparer/PositionComparatorClient.tsx
Labels: web

chore(release): 1.223.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  979367afc842e204beaf6dbc389d7f41f632d15b
Labels: none

fix(admin): remonte les ligues effectives d'un roster dans les cases a cocher
  apps/server/src/routes/admin-data-regional-rules.test.ts
  apps/server/src/routes/admin-data.ts
  apps/web/app/admin/data/rosters/[id]/edit/page.test.tsx
  apps/web/app/admin/data/rosters/[id]/edit/page.tsx
  apps/web/app/admin/data/rosters/[id]/page.test.tsx
  apps/web/app/admin/data/rosters/[id]/page.tsx
  apps/web/app/admin/data/rosters/_components/SlugCheckboxGrid.tsx
Labels: web, server

fix(admin): remonte les ligues effectives d'un roster dans les cases à cocher (#945)
  apps/server/src/routes/admin-data-regional-rules.test.ts
  apps/server/src/routes/admin-data.ts
  apps/web/app/admin/data/rosters/[id]/edit/page.test.tsx
  apps/web/app/admin/data/rosters/[id]/edit/page.tsx
  apps/web/app/admin/data/rosters/[id]/page.test.tsx
  apps/web/app/admin/data/rosters/[id]/page.tsx
  apps/web/app/admin/data/rosters/_components/SlugCheckboxGrid.tsx
Labels: web, server

chore(release): 1.223.2 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  06a663c3a31919092f95e879a687cdbb3b79202c
Labels: none

feat(league): affiche le resultat valide dans le calendrier
  apps/server/src/services/league.test.ts
  apps/server/src/services/league.ts
  apps/web/app/leagues/[id]/SeasonCalendar.pending.test.tsx
  apps/web/app/leagues/[id]/SeasonCalendar.tsx
  apps/web/app/leagues/[id]/types.ts
Labels: web, server

feat(league): affiche le résultat validé dans le calendrier (#946)
  apps/server/src/services/league.test.ts
  apps/server/src/services/league.ts
  apps/web/app/leagues/[id]/SeasonCalendar.pending.test.tsx
  apps/web/app/leagues/[id]/SeasonCalendar.tsx
  apps/web/app/leagues/[id]/types.ts
Labels: web, server

fix(admin): ligues a la creation d'un roster + garde-fous sur l'ajout
  apps/server/src/routes/admin-data-roster-leagues.roundtrip.test.ts
  apps/web/app/admin/data/rosters/[id]/page.test.tsx
  apps/web/app/admin/data/rosters/[id]/page.tsx
  apps/web/app/admin/data/rosters/_components/SlugCheckboxGrid.test.tsx
  apps/web/app/admin/data/rosters/new/page.test.tsx
  apps/web/app/admin/data/rosters/new/page.tsx
Labels: web, server

chore(release): 1.224.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  7b64d49649b7300e846bf6e8d67cd5554e61c01a
Labels: none

fix(admin): ligues à la création d'un roster + garde-fous sur l'ajout (#947)
  apps/server/src/routes/admin-data-roster-leagues.roundtrip.test.ts
  apps/web/app/admin/data/rosters/[id]/page.test.tsx
  apps/web/app/admin/data/rosters/[id]/page.tsx
  apps/web/app/admin/data/rosters/_components/SlugCheckboxGrid.test.tsx
  apps/web/app/admin/data/rosters/new/page.test.tsx
  apps/web/app/admin/data/rosters/new/page.tsx
Labels: web, server

chore(release): 1.224.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  9f24707a38874e292dbcd7fbb1feb04481cb90a7
Labels: none

fix(admin): confirme l'enregistrement d'un roster en relisant le serveur
  apps/web/app/admin/data/rosters/[id]/edit/page.test.tsx
  apps/web/app/admin/data/rosters/[id]/edit/page.tsx
  apps/web/app/admin/data/rosters/[id]/page.test.tsx
  apps/web/app/admin/data/rosters/[id]/page.tsx
Labels: web
