Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

Notes added by 'git notes add'
  5786363a4cc4c49e7b06dbdccfca4614e6e79340
Labels: none

feat: ajout administration équipes, action interception et gestion état joueur en cas d'échec
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/routes/admin.ts
  apps/server/src/routes/local-match.ts
  apps/server/src/seed.ts
  apps/web/app/admin/layout.tsx
  apps/web/app/admin/teams/page.tsx
  apps/web/app/admin/users/page.tsx
  apps/web/app/local-matches/[id]/LocalMatchActions.tsx
  apps/web/app/local-matches/[id]/page.tsx
  fix-db-connection.sh
  prisma/schema.prisma
Labels: web, server

Notes added by 'git notes add'
  5eef3abc283550dfe7f741c87744acf4e350db32
Labels: none

chore(release): 1.18.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Amélioration UI/UX du formulaire d'actions avec design style football américain
  apps/web/app/local-matches/[id]/LocalMatchActions.tsx
Labels: web

feat: ajout récapitulatif match local terminé avec export PDF
  apps/server/src/routes/local-match.ts
  apps/server/src/seed.ts
  apps/web/app/admin/local-matches/page.tsx
  apps/web/app/local-matches/[id]/LocalMatchSummary.tsx
  apps/web/app/local-matches/[id]/page.tsx
  apps/web/app/local-matches/page.tsx
Labels: web, server

chore(release): 1.19.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  e3aa5b2f5da3224ab5fcb2aa12411f4e91330df2
Labels: none

feat: ajout des informations de pré-match (fans et météo) dans l'interface et l'export PDF
  apps/server/src/routes/local-match.ts
  apps/server/src/seed.ts
  apps/web/app/local-matches/[id]/LocalMatchActions.tsx
  apps/web/app/local-matches/[id]/LocalMatchSummary.tsx
  apps/web/app/local-matches/[id]/page.tsx
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/pre-match-sequence.js
  packages/game-engine/src/core/pre-match-sequence.ts
  packages/game-engine/src/core/weather-types.js
  packages/game-engine/src/core/weather-types.ts
  packages/game-engine/src/index.js
  packages/game-engine/src/index.ts
Labels: game-engine, web, server

Notes added by 'git notes add'
  cd3466b7e9baa12f2bf4c1c1672d7ab0f6853089
Labels: none

chore(release): 1.20.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

feat: ajout de nouvelles fonctionnalités et améliorations pour les rosters et les joueurs
  apps/server/src/routes/admin-data.ts
  apps/server/src/routes/star-players.ts
  apps/server/src/seed.ts
  apps/web/app/admin/data/positions/[id]/edit/page.tsx
  apps/web/app/admin/data/positions/new/page.tsx
  apps/web/app/admin/data/rosters/[id]/edit/page.tsx
  apps/web/app/admin/data/rosters/[id]/page.tsx
  apps/web/app/components/CopyrightFooter.tsx
  apps/web/app/components/StarPlayerCard.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/legal/conditions-utilisation/page.tsx
  apps/web/app/legal/mentions-legales/page.tsx
  apps/web/app/star-players/[slug]/page.tsx
  packages/game-engine/src/rosters/positions.js
  packages/game-engine/src/rosters/positions.ts
  packages/game-engine/src/rosters/star-players.js
  packages/game-engine/src/rosters/star-players.ts
  packages/game-engine/src/skills/index.ts
  prisma/schema.prisma
Labels: game-engine, web, server

Amélioration UX/UI responsive et corrections diverses
  apps/web/app/AuthBar.tsx
  apps/web/app/components/Footer.tsx
  apps/web/app/components/Header.tsx
  apps/web/app/components/SkillTooltip.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/layout.tsx
  apps/web/app/local-matches/[id]/LocalMatchActions.tsx
  apps/web/app/local-matches/[id]/page.tsx
  apps/web/app/login/page.tsx
  apps/web/app/me/teams/[id]/edit/page.tsx
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/me/teams/components/TeamInfoDisplay.tsx
  apps/web/app/me/teams/page.tsx
  apps/web/app/page.tsx
  apps/web/app/register/page.tsx
  apps/web/app/skills/page.tsx
  apps/web/app/star-players/[slug]/page.tsx
  apps/web/app/star-players/page.tsx
  apps/web/app/teams/[slug]/page.tsx
  apps/web/app/teams/page.tsx
Labels: web

Amélioration UI/UX de la page de récapitulatif de match local
  apps/web/app/local-matches/[id]/LocalMatchSummary.tsx
  apps/web/app/local-matches/[id]/page.tsx
Labels: web

chore(release): 1.21.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  918b58c25e07124067b29856c746794fcdca4964
Labels: none

feat: scoring coupes et visibilité des matchs locaux
  apps/server/src/cupScoring.ts
  apps/server/src/routes/cup.ts
  apps/server/src/routes/local-match.ts
  apps/server/src/seed.ts
  apps/web/app/cups/[id]/page.tsx
  apps/web/app/cups/page.tsx
  apps/web/app/local-matches/page.tsx
  package.json
  prisma/schema.prisma
  tests/cup-scoring.test.ts
Labels: web, server

chore(release): 1.22.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  b44042fb3361bac9f764e8af91afdff5f7e38ec2
Labels: none

feat(web): affiche la version depuis le package.json racine dans le footer
  apps/web/app/components/VersionInfo.tsx
Labels: web

Notes added by 'git notes add'
  b4e9e2ccf9c77ccdfc44ef4a3cf6be59e79df4a6
Labels: none

chore(release): 1.23.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

feat(auth): add password change functionality with validation and error handling
  apps/server/src/routes/auth.ts
  apps/web/app/me/profile/page.tsx
Labels: web, server

chore(release): 1.24.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  a9d4e761c4930f84fc5636ef6c2c302a7acc641a
Labels: none

feat: ajout duplication rosters/positions et édition ruleset
  apps/server/src/routes/admin-data.ts
  apps/web/app/admin/data/positions/page.tsx
  apps/web/app/admin/data/rosters/[id]/page.tsx
Labels: web, server

chore: ajout scripts de vérification ruleset
  apps/server/src/scripts/fix-existing-positions-ruleset.ts
  apps/server/src/scripts/verify-ruleset-consistency.ts
Labels: server

fix: add missing isValidRuleset function
  apps/server/src/routes/team.ts
  apps/server/src/utils/ruleset-helpers.ts
Labels: server

chore(release): 1.25.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  267a2645b64a482930c09f4465ef6d5fb78df39a
Labels: none

feat: refactor star player management for multi-ruleset support
  apps/server/src/seed.ts
  apps/server/src/utils/star-player-validation.ts
  packages/game-engine/src/rosters/index.ts
  packages/game-engine/src/rosters/star-players.ts
  prisma/schema.prisma
Labels: game-engine, server

chore(release): 1.26.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  2a85a74b8224b6ec2935202d442bb5330904c0c6
Labels: none

feat: add script to scrape Blood Bowl team data from mordorbihan.fr
  scripts/scrape-mordorbihan.js
Labels: none

feat: add Season 3 rosters from mordorbihan.fr
  package.json
  packages/game-engine/src/rosters/positions.ts
  packages/game-engine/src/rosters/season3-rosters.ts
  packages/game-engine/src/skills/index.ts
  pnpm-lock.yaml
  scripts/apply-season3-rosters.js
  scripts/generate-positions-update.js
  scripts/update-rosters-from-mordorbihan.js
Labels: game-engine

fix: update seed to use ruleset for skills lookup
  apps/server/src/routes/admin-data.ts
  apps/server/src/routes/public-skills.ts
  apps/server/src/seed.ts
  apps/web/app/admin/data/skills/[id]/edit/page.tsx
  apps/web/app/admin/data/skills/page.tsx
  apps/web/app/skills/page.tsx
  packages/game-engine/src/index.js
  packages/game-engine/src/rosters/index.js
  packages/game-engine/src/rosters/positions.js
  packages/game-engine/src/rosters/season3-rosters.js
  packages/game-engine/src/rosters/star-players.js
  packages/game-engine/src/skills/index.js
  prisma/schema.prisma
Labels: game-engine, web, server

fix: suppression de la catégorie Scélérates en Saison 2
  apps/server/src/routes/admin-data.ts
  apps/server/src/seed.ts
  apps/server/src/static-skills-data-s3.ts
  apps/server/src/static-skills-data.ts
  apps/web/app/admin/data/skills/[id]/edit/page.tsx
  apps/web/app/admin/data/skills/page.tsx
  packages/game-engine/src/skills/index.ts
Labels: game-engine, web, server

chore(release): 1.27.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  312e2618335777fe6c6e7a76db67d2eb2fc1e365
Labels: none

feat: add ruleset selection and fallback indicator in team detail page
  apps/web/app/i18n/translations.ts
  apps/web/app/me/teams/components/SkillTooltip.tsx
  apps/web/app/teams/[slug]/page.tsx
Labels: web

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
