Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"

refactor(server): extract handleGetMatchSummary to dedicated module (S27.8.32)
  apps/server/src/routes/match-details-handlers.ts
  apps/server/src/routes/match-summary-handler.test.ts
  apps/server/src/routes/match-summary-handler.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: server

refactor(server): extract handleGetMatchSummary to dedicated module (S27.8.32) (#710)
  apps/server/src/routes/match-details-handlers.ts
  apps/server/src/routes/match-summary-handler.test.ts
  apps/server/src/routes/match-summary-handler.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: server

refactor(server): split team.ts — final extraction + S27 TERMINE (S27.8.33)
  apps/server/src/routes/team-create-from-roster-handler.test.ts
  apps/server/src/routes/team-create-from-roster-handler.ts
  apps/server/src/routes/team.ts
  docs/roadmap/phases.md
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: server

refactor(server): split team.ts — final extraction + S27 TERMINE (S27.8.33) (#711)
  apps/server/src/routes/team-create-from-roster-handler.test.ts
  apps/server/src/routes/team-create-from-roster-handler.ts
  apps/server/src/routes/team.ts
  docs/roadmap/phases.md
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: server

docs(audit): Lot 3.A.1 — AI game-engine assessment for full driver
  docs/roadmap/sprints/SPRINT-sim-engine-3a1-ai-audit.md
Labels: none

docs(audit): Lot 3.A.1 — AI game-engine assessment for full driver (#680)
  docs/roadmap/sprints/SPRINT-sim-engine-3a1-ai-audit.md
Labels: none

feat(ai): tactical profile modulates AI weights (Lot 3.A.0.a)
  packages/game-engine/src/ai/difficulty.ts
  packages/game-engine/src/ai/evaluator.ts
  packages/game-engine/src/ai/index.ts
  packages/game-engine/src/index.ts
  packages/sim-engine/src/index.ts
  packages/sim-engine/src/tactics/ai-weights.test.ts
  packages/sim-engine/src/tactics/ai-weights.ts
Labels: game-engine

chore(release): 1.97.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  77c03ef91372d2cad751f1f280c4b09f8a60d8fb
Labels: none

feat(ai): tactical profile modulates AI weights (Lot 3.A.0.a) (#682)
  packages/game-engine/src/ai/difficulty.ts
  packages/game-engine/src/ai/evaluator.ts
  packages/game-engine/src/ai/index.ts
  packages/game-engine/src/index.ts
  packages/sim-engine/src/index.ts
  packages/sim-engine/src/tactics/ai-weights.test.ts
  packages/sim-engine/src/tactics/ai-weights.ts
Labels: game-engine

feat(ai): 2-ply minimax lookahead for END_TURN (Lot 3.A.0.b)
  packages/game-engine/src/ai/index.ts
  packages/game-engine/src/ai/lookahead.test.ts
  packages/game-engine/src/ai/lookahead.ts
  packages/game-engine/src/index.ts
Labels: game-engine

feat(ai): 2-ply minimax lookahead for END_TURN (Lot 3.A.0.b) (#683)
  packages/game-engine/src/ai/index.ts
  packages/game-engine/src/ai/lookahead.test.ts
  packages/game-engine/src/ai/lookahead.ts
  packages/game-engine/src/index.ts
Labels: game-engine

feat(ai): per-race opening book bonus (Lot 3.A.0.c)
  packages/sim-engine/src/index.ts
  packages/sim-engine/src/tactics/opening-book.test.ts
  packages/sim-engine/src/tactics/opening-book.ts
Labels: none

feat(ai): per-race opening book bonus (Lot 3.A.0.c) (#684)
  packages/sim-engine/src/index.ts
  packages/sim-engine/src/tactics/opening-book.test.ts
  packages/sim-engine/src/tactics/opening-book.ts
Labels: none

feat(sim-engine): full driver MVP orchestrator (Lot 3.A.2.a)
  packages/sim-engine/src/driver/full-driver.test.ts
  packages/sim-engine/src/driver/full-driver.ts
  packages/sim-engine/src/index.ts
Labels: none

chore(release): 1.98.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  e9e71a549b4010bd32e179a03988c9962392df17
Labels: none

feat(sim-engine): full driver MVP orchestrator (Lot 3.A.2.a) (#685)
  packages/sim-engine/src/driver/full-driver.test.ts
  packages/sim-engine/src/driver/full-driver.ts
  packages/sim-engine/src/index.ts
Labels: none

feat(sim-engine): full driver emits MatchEvent[] via state diff (Lot 3.A.2.b)
  packages/sim-engine/src/driver/full-driver-events.test.ts
  packages/sim-engine/src/driver/full-driver-events.ts
  packages/sim-engine/src/driver/full-driver.ts
Labels: none

feat(sim-engine): full driver emits MatchEvent[] via state diff (Lot 3.A.2.b) (#687)
  packages/sim-engine/src/driver/full-driver-events.test.ts
  packages/sim-engine/src/driver/full-driver-events.ts
  packages/sim-engine/src/driver/full-driver.ts
Labels: none

feat(sim-engine): roster-aware GameState builder for full driver (Lot 3.A.2.c)
  packages/sim-engine/src/driver/full-driver-roster.test.ts
  packages/sim-engine/src/driver/full-driver-roster.ts
  packages/sim-engine/src/driver/full-driver.ts
  packages/sim-engine/src/index.ts
  packages/sim-engine/src/types.ts
Labels: none

feat(sim-engine): roster-aware GameState builder for full driver (Lot 3.A.2.c) (#688)
  packages/sim-engine/src/driver/full-driver-roster.test.ts
  packages/sim-engine/src/driver/full-driver-roster.ts
  packages/sim-engine/src/driver/full-driver.ts
  packages/sim-engine/src/index.ts
  packages/sim-engine/src/types.ts
Labels: none

chore(release): 1.99.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  a9ca78582ca91989eaf56790184f1e149fbce0ce
Labels: none

feat(sandbox): create test matches from admin (Lot 2.C.2 + 2.C.4 + 2.C.5)
  apps/server/src/routes/admin-sim.test.ts
  apps/server/src/routes/admin-sim.ts
  apps/server/src/services/pro-league-match.test.ts
  apps/server/src/services/pro-league-match.ts
  apps/server/src/services/pro-league-sandbox.test.ts
  apps/server/src/services/pro-league-sandbox.ts
  apps/web/app/admin/layout.tsx
  apps/web/app/admin/sim/test-match/page.tsx
  apps/web/app/lib/use-match-mode-redirect.ts
  apps/web/app/pro-league/matches/[id]/live/page.tsx
  apps/web/app/pro-league/matches/[id]/replay/MatchReplayPlayer.tsx
Labels: web, server

feat(sandbox): create test matches from admin (Lot 2.C.2 + 2.C.4 + 2.C.5) (#678)
  apps/server/src/routes/admin-sim.test.ts
  apps/server/src/routes/admin-sim.ts
  apps/server/src/services/pro-league-match.test.ts
  apps/server/src/services/pro-league-match.ts
  apps/server/src/services/pro-league-sandbox.test.ts
  apps/server/src/services/pro-league-sandbox.ts
  apps/web/app/admin/layout.tsx
  apps/web/app/admin/sim/test-match/page.tsx
  apps/web/app/lib/use-match-mode-redirect.ts
  apps/web/app/pro-league/matches/[id]/live/page.tsx
  apps/web/app/pro-league/matches/[id]/replay/MatchReplayPlayer.tsx
Labels: web, server

feat(sandbox): exclude isTest matches from aggregators (Lot 2.C.3)
  apps/server/src/services/pro-bet-settlement.ts
  apps/server/src/services/pro-bet.ts
  apps/server/src/services/pro-gazette-recap.ts
  apps/server/src/services/pro-league-engine-drift-watcher.ts
  apps/server/src/services/pro-league-follow.ts
  apps/server/src/services/pro-league-hub.ts
  apps/server/src/services/pro-league-isTest-guards.test.ts
  apps/server/src/services/pro-league-team.ts
  apps/server/src/services/pro-roster-casualties.ts
Labels: server

feat(sandbox): exclude isTest matches from aggregators (Lot 2.C.3) (#679)
  apps/server/src/services/pro-bet-settlement.ts
  apps/server/src/services/pro-bet.ts
  apps/server/src/services/pro-gazette-recap.ts
  apps/server/src/services/pro-league-engine-drift-watcher.ts
  apps/server/src/services/pro-league-follow.ts
  apps/server/src/services/pro-league-hub.ts
  apps/server/src/services/pro-league-isTest-guards.test.ts
  apps/server/src/services/pro-league-team.ts
  apps/server/src/services/pro-roster-casualties.ts
Labels: server

chore(release): 1.100.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  38ef5c241e28d2eb75840e6ee55021744f98c672
Labels: none

feat(sim-engine): toggle hybrid/full driver par saison + override match (Lot 3.B.1)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/admin-sim.test.ts
  apps/server/src/routes/admin-sim.ts
  apps/server/src/services/pro-league-driver-resolver.test.ts
  apps/server/src/services/pro-league-driver-resolver.ts
  apps/server/src/services/pro-league-sandbox.test.ts
  apps/server/src/services/pro-league-sandbox.ts
  apps/server/src/services/pro-league-sim-runner.test.ts
  apps/server/src/services/pro-league-sim-runner.ts
  apps/web/app/admin/sim/test-match/page.tsx
  packages/sim-engine/src/index.ts
  packages/sim-engine/src/simulate-match.test.ts
  packages/sim-engine/src/simulate-match.ts
  prisma/migrations/20260508000000_add_driver_kind_toggle/migration.sql
  prisma/schema.prisma
Labels: web, server

feat(sim-engine): toggle hybrid/full driver par saison + override match (Lot 3.B.1) (#712)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/admin-sim.test.ts
  apps/server/src/routes/admin-sim.ts
  apps/server/src/services/pro-league-driver-resolver.test.ts
  apps/server/src/services/pro-league-driver-resolver.ts
  apps/server/src/services/pro-league-sandbox.test.ts
  apps/server/src/services/pro-league-sandbox.ts
  apps/server/src/services/pro-league-sim-runner.test.ts
  apps/server/src/services/pro-league-sim-runner.ts
  apps/web/app/admin/sim/test-match/page.tsx
  packages/sim-engine/src/index.ts
  packages/sim-engine/src/simulate-match.test.ts
  packages/sim-engine/src/simulate-match.ts
  prisma/migrations/20260508000000_add_driver_kind_toggle/migration.sql
  prisma/schema.prisma
Labels: web, server

feat(sim-engine): comparator hybrid vs full + EngineComparison + Prometheus (Lot 3.B.2)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/admin-sim.test.ts
  apps/server/src/routes/admin-sim.ts
  apps/server/src/services/engine-comparison.test.ts
  apps/server/src/services/engine-comparison.ts
  apps/server/src/utils/metrics.test.ts
  apps/server/src/utils/metrics.ts
  packages/sim-engine/package.json
  packages/sim-engine/scripts/compare-drivers.ts
  packages/sim-engine/src/compare/compare-drivers.test.ts
  packages/sim-engine/src/compare/compare-drivers.ts
  packages/sim-engine/src/index.ts
  prisma/migrations/20260508100000_add_engine_comparison/migration.sql
  prisma/schema.prisma
Labels: server

feat(sim-engine): perf baseline + verbose trace pour le full driver (Lot 3.B.3)
  packages/sim-engine/package.json
  packages/sim-engine/scripts/perf-baseline.ts
  packages/sim-engine/src/driver/full-driver-trace.test.ts
  packages/sim-engine/src/driver/full-driver-trace.ts
  packages/sim-engine/src/index.ts
  packages/sim-engine/src/perf/perf-baseline.smoke.test.ts
  packages/sim-engine/src/perf/perf-baseline.test.ts
  packages/sim-engine/src/perf/perf-baseline.ts
Labels: none

feat(sim-engine): comparator hybrid vs full + EngineComparison + Prometheus (Lot 3.B.2) (#713)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/admin-sim.test.ts
  apps/server/src/routes/admin-sim.ts
  apps/server/src/services/engine-comparison.test.ts
  apps/server/src/services/engine-comparison.ts
  apps/server/src/utils/metrics.test.ts
  apps/server/src/utils/metrics.ts
  packages/sim-engine/package.json
  packages/sim-engine/scripts/compare-drivers.ts
  packages/sim-engine/src/compare/compare-drivers.test.ts
  packages/sim-engine/src/compare/compare-drivers.ts
  packages/sim-engine/src/index.ts
  prisma/migrations/20260508100000_add_engine_comparison/migration.sql
  prisma/schema.prisma
Labels: server

feat(sim-engine): perf baseline + verbose trace pour le full driver (Lot 3.B.3)
  packages/sim-engine/package.json
  packages/sim-engine/scripts/perf-baseline.ts
  packages/sim-engine/src/driver/full-driver-trace.test.ts
  packages/sim-engine/src/driver/full-driver-trace.ts
  packages/sim-engine/src/index.ts
  packages/sim-engine/src/perf/perf-baseline.smoke.test.ts
  packages/sim-engine/src/perf/perf-baseline.test.ts
  packages/sim-engine/src/perf/perf-baseline.ts
Labels: none

feat(sim-engine): perf baseline + verbose trace pour le full driver (Lot 3.B.3) (#715)
  packages/sim-engine/package.json
  packages/sim-engine/scripts/perf-baseline.ts
  packages/sim-engine/src/driver/full-driver-trace.test.ts
  packages/sim-engine/src/driver/full-driver-trace.ts
  packages/sim-engine/src/index.ts
  packages/sim-engine/src/perf/perf-baseline.smoke.test.ts
  packages/sim-engine/src/perf/perf-baseline.test.ts
  packages/sim-engine/src/perf/perf-baseline.ts
Labels: none

feat(pro-league): wire casualty sweep + roster-aware applier (Lot 3.C.1)
  apps/server/src/index.ts
  apps/server/src/services/pro-roster-casualties.test.ts
  apps/server/src/services/pro-roster-casualties.ts
Labels: server

feat(pro-league): wire casualty sweep + roster-aware applier (Lot 3.C.1) (#716)
  apps/server/src/index.ts
  apps/server/src/services/pro-roster-casualties.test.ts
  apps/server/src/services/pro-roster-casualties.ts
Labels: server

feat(pro-league): SPP attribution + career counters + progression cron (Lot 3.C.2)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/services/pro-roster-spp.test.ts
  apps/server/src/services/pro-roster-spp.ts
  prisma/migrations/20260509000000_add_spp_progression/migration.sql
  prisma/schema.prisma
Labels: server
