Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"

fix(web): sync-auth-cookie utilise SERVER_API_BASE (TLS dev OrbStack)
  apps/web/app/api/sync-auth-cookie/route.ts
Labels: web

feat(web): enhance admin layout with dynamic navigation sections
  apps/web/app/admin/layout.tsx
Labels: web

feat(web): cartes admin auto-fill + finalize (Phase A)
  apps/web/app/admin/nfl-fantasy/page.tsx
Labels: web

feat(server): GET roster joint NflPlayer pour l'UI lineup
  apps/server/src/routes/nfl-fantasy-entries.ts
  apps/server/src/services/nfl-fantasy-roster.ts
Labels: server

docs(nfl-fantasy): Phase A draft + gameplay V1
  docs/nfl-fantasy/19-draft-gameplay.md
  docs/nfl-fantasy/README.md
Labels: none

feat(server): nfl-fantasy-draft service Phase A.1
  apps/server/src/services/nfl-fantasy-draft.test.ts
  apps/server/src/services/nfl-fantasy-draft.ts
Labels: server

chore(server): script E2E Phase A draft + gameplay
  apps/server/src/scripts/nfl-fantasy-draft-e2e.ts
Labels: server

feat(web): lineup builder + CTA "Régler mon lineup" Phase A
  apps/web/app/nfl-fantasy/leagues/[id]/lineup/page.tsx
  apps/web/app/nfl-fantasy/leagues/[id]/page.tsx
Labels: web

feat(server): routes admin draft (auto-fill + finalize) + mapper Phase A
  apps/server/src/routes/admin-nfl-fantasy.ts
  apps/server/src/utils/nfl-error-mapper.test.ts
  apps/server/src/utils/nfl-error-mapper.ts
Labels: server

feat(server): routes user-facing /matchups + /standings (Phase A.3)
  apps/server/src/routes/nfl-fantasy-leagues.ts
Labels: server

chore(server): script E2E matchups + standings (Phase A.3)
  apps/server/src/scripts/nfl-fantasy-matchups-e2e.ts
Labels: server

docs(nfl-fantasy): Phase A.3 matchups + standings
  docs/nfl-fantasy/20-matchups-standings.md
  docs/nfl-fantasy/README.md
Labels: none

feat(web): page /nfl-fantasy/leagues/[id]/matchups (Phase A.3)
  apps/web/app/nfl-fantasy/leagues/[id]/matchups/page.tsx
  apps/web/app/nfl-fantasy/leagues/[id]/page.tsx
Labels: web

feat(web): types NflFantasyMatchup + StandingsRow (Phase A.3)
  apps/web/app/nfl-fantasy/types.ts
Labels: web

feat(server): computeStandings + getLeagueStandings (Phase A.3)
  apps/server/src/services/nfl-fantasy-scoring.test.ts
  apps/server/src/services/nfl-fantasy-scoring.ts
Labels: server

refactor: export buildStatLineFromRow
  apps/server/src/services/nfl-ingest.ts
Labels: server

feat(server): explorer service admin NFL Fantasy (Phase 3.C)
  apps/server/src/services/nfl-fantasy-admin-explorer.ts
Labels: server

feat(server): routes admin explorer + mapper NflFantasyAdminError (Phase 3.C)
  apps/server/src/index.ts
  apps/server/src/routes/admin-nfl-fantasy-explorer.ts
  apps/server/src/utils/nfl-error-mapper.ts
Labels: server

chore(server): tests unitaires + E2E explorer admin (Phase 3.C)
  apps/server/src/scripts/nfl-fantasy-admin-explorer-e2e.ts
  apps/server/src/services/nfl-fantasy-admin-explorer.test.ts
Labels: server

feat(web): layout admin NFL Fantasy + season picker + sub-nav (Phase 3.C)
  apps/web/app/admin/nfl-fantasy/_components/SeasonContext.tsx
  apps/web/app/admin/nfl-fantasy/_components/SeasonPicker.tsx
  apps/web/app/admin/nfl-fantasy/_components/SubNav.tsx
  apps/web/app/admin/nfl-fantasy/layout.tsx
Labels: web

feat(web): pages admin teams index + detail (Phase 3.C.1)
  apps/web/app/admin/nfl-fantasy/teams/[code]/page.tsx
  apps/web/app/admin/nfl-fantasy/teams/page.tsx
Labels: web

feat(web): pages admin players + resync actions (Phase 3.C.2)
  apps/web/app/admin/nfl-fantasy/players/[id]/page.tsx
  apps/web/app/admin/nfl-fantasy/players/page.tsx
Labels: web

docs(nfl-fantasy): Phase 3.C admin data explorer
  docs/nfl-fantasy/21-admin-explorer.md
  docs/nfl-fantasy/README.md
Labels: none

feat(server): backfillNflSeason avec CSV cache + idempotent (Phase 3.E)
  apps/server/src/services/nfl-ingest.test.ts
  apps/server/src/services/nfl-ingest.ts
Labels: server

chore(server): script CLI backfill-past-seasons.ts (Phase 3.E)
  apps/server/src/scripts/backfill-past-seasons.ts
Labels: server

fix(server): backfill skipExisting accepte aussi status=partial
  apps/server/src/services/nfl-ingest.ts
Labels: server

fix(server): ingest fallback schedules.csv pour saison 2024 (Phase 3.E)
  apps/server/src/services/nfl-ingest.test.ts
  apps/server/src/services/nfl-ingest.ts
Labels: server

feat(server): explorer service ingest-runs + weeks + leagues (Phase 3.D)
  apps/server/src/services/nfl-fantasy-admin-explorer.ts
Labels: server

feat(server): routes admin ingest-runs + weeks + leagues (Phase 3.D)
  apps/server/src/routes/admin-nfl-fantasy-explorer.ts
Labels: server

test(server): tests unitaires ingest-runs/weeks/leagues (Phase 3.D)
  apps/server/src/services/nfl-fantasy-admin-explorer.test.ts
Labels: server

feat(web): pages admin ingest-runs + weeks + leagues (Phase 3.D)
  apps/web/app/admin/nfl-fantasy/_components/SubNav.tsx
  apps/web/app/admin/nfl-fantasy/ingest-runs/page.tsx
  apps/web/app/admin/nfl-fantasy/leagues/[id]/page.tsx
  apps/web/app/admin/nfl-fantasy/leagues/page.tsx
  apps/web/app/admin/nfl-fantasy/weeks/[weekId]/page.tsx
  apps/web/app/admin/nfl-fantasy/weeks/page.tsx
Labels: web

docs(nfl-fantasy): Phase 3.E backfill + 3.D admin audit/weeks/leagues
  docs/nfl-fantasy/22-backfill-past-seasons.md
  docs/nfl-fantasy/23-admin-audit-weeks-leagues.md
  docs/nfl-fantasy/README.md
Labels: none

chore(release): 1.134.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  d60df569fda18aaabd08ad5599646210df4943f4
Labels: none

docs(nfl-fantasy): Phase 3.I+J+K matchup detail + cleanup + optimal lineup
  docs/nfl-fantasy/25-matchup-detail-cleanup-optimal.md
  docs/nfl-fantasy/README.md
Labels: none

test(server): tests cleanup + matchup detail + optimal lineup (Phase 3.I+J+K)
  apps/server/src/services/nfl-fantasy-admin-explorer.test.ts
  apps/server/src/services/nfl-fantasy-replay.test.ts
Labels: server

feat(server): admin matchup detail + cleanup replays + optimal lineup (Phase 3.I+J+K)
  apps/server/src/routes/admin-nfl-fantasy-explorer.ts
  apps/server/src/services/nfl-fantasy-admin-explorer.ts
  apps/server/src/services/nfl-fantasy-replay.ts
Labels: server

test(server): tests unitaires bulk SPP/BB + replay (Phase 3.F+G)
  apps/server/src/services/nfl-fantasy-admin-explorer.test.ts
  apps/server/src/services/nfl-fantasy-replay.test.ts
Labels: server

feat(server): recomputeSeasonSpp + reDeriveAllPlayersBb bulk (Phase 3.F)
  apps/server/src/services/nfl-fantasy-admin-explorer.ts
  apps/server/src/utils/nfl-error-mapper.ts
Labels: server

feat(server): routes admin bulk SPP/BB + replay saison (Phase 3.F+G)
  apps/server/src/routes/admin-nfl-fantasy-explorer.ts
Labels: server
