Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"

feat: push notification UI permission & preferences (G.5)
  TODO.md
  apps/server/src/routes/push.ts
  apps/server/src/schemas/push.schemas.ts
  apps/server/src/services/notification-preferences.test.ts
  apps/server/src/services/notification-preferences.ts
  apps/server/src/services/push-notifications.test.ts
  apps/server/src/services/push-notifications.ts
  apps/server/src/services/push-preferences-routes.test.ts
  apps/web/app/components/NotificationPreferences.tsx
  apps/web/app/hooks/useNotificationPreferences.ts
  apps/web/app/me/profile/page.tsx
  prisma/schema.prisma
Labels: web, server

chore: update version.json buildDate
  apps/web/public/version.json
Labels: web

feat: push notification UI permission & preferences (G.5) (#141)
  TODO.md
  apps/server/src/routes/push.ts
  apps/server/src/schemas/push.schemas.ts
  apps/server/src/services/notification-preferences.test.ts
  apps/server/src/services/notification-preferences.ts
  apps/server/src/services/push-notifications.test.ts
  apps/server/src/services/push-notifications.ts
  apps/server/src/services/push-preferences-routes.test.ts
  apps/web/app/components/NotificationPreferences.tsx
  apps/web/app/hooks/useNotificationPreferences.ts
  apps/web/app/me/profile/page.tsx
  apps/web/public/version.json
  prisma/schema.prisma
Labels: web, server

feat: in-game chat via WebSocket (H.1)
  TODO.md
  apps/server/src/game-chat.ts
  apps/server/src/socket.ts
  apps/web/app/components/GameChat.tsx
  apps/web/app/play-hidden/[id]/hooks/useGameChat.test.ts
  apps/web/app/play-hidden/[id]/hooks/useGameChat.ts
  apps/web/app/play-hidden/[id]/hooks/useGameSocket.ts
  apps/web/app/play-hidden/[id]/page.tsx
  tests/game-chat.test.ts
Labels: web, server

chore: update version.json build timestamp
  apps/web/public/version.json
Labels: web

Add in-game chat with WebSocket support and rate limiting (#142)
  TODO.md
  apps/server/src/game-chat.ts
  apps/server/src/socket.ts
  apps/web/app/components/GameChat.tsx
  apps/web/app/play-hidden/[id]/hooks/useGameChat.test.ts
  apps/web/app/play-hidden/[id]/hooks/useGameChat.ts
  apps/web/app/play-hidden/[id]/hooks/useGameSocket.ts
  apps/web/app/play-hidden/[id]/page.tsx
  apps/web/public/version.json
  tests/game-chat.test.ts
Labels: web, server

feat: add spectator mode for live match viewing (H.2)
  TODO.md
  apps/server/src/game-resync.ts
  apps/server/src/game-spectator.test.ts
  apps/server/src/game-spectator.ts
  apps/server/src/routes/match.ts
  apps/server/src/socket.ts
  apps/web/app/spectate/[id]/hooks/useSpectatorSocket.test.ts
  apps/web/app/spectate/[id]/hooks/useSpectatorSocket.ts
  apps/web/app/spectate/[id]/page.tsx
  apps/web/app/spectate/page.tsx
Labels: web, server

feat: add spectator mode for live match viewing (H.2) (#143)
  TODO.md
  apps/server/src/game-resync.ts
  apps/server/src/game-spectator.test.ts
  apps/server/src/game-spectator.ts
  apps/server/src/routes/match.ts
  apps/server/src/socket.ts
  apps/web/app/spectate/[id]/hooks/useSpectatorSocket.test.ts
  apps/web/app/spectate/[id]/hooks/useSpectatorSocket.ts
  apps/web/app/spectate/[id]/page.tsx
  apps/web/app/spectate/page.tsx
Labels: web, server

fix: rename Morg 'n' Thorg image file to use ASCII apostrophe (I.4)
  TODO.md
  apps/web/public/images/star-players/Morg-'n-Thorg.webp
  packages/game-engine/src/rosters/star-players.test.ts
Labels: game-engine, web

chore: update version.json buildDate
  apps/web/public/version.json
Labels: web

Fix Morg 'n' Thorg image URL encoding issue (#144)
  TODO.md
  apps/web/public/images/star-players/Morg-'n-Thorg.webp
  apps/web/public/version.json
  packages/game-engine/src/rosters/star-players.test.ts
Labels: game-engine, web

fix: correct placeholder images for 5 star players (I.5)
  TODO.md
  packages/game-engine/src/rosters/star-players.test.ts
  packages/game-engine/src/rosters/star-players.ts
Labels: game-engine

Fix placeholder images for 6 star players (#145)
  TODO.md
  packages/game-engine/src/rosters/star-players.test.ts
  packages/game-engine/src/rosters/star-players.ts
Labels: game-engine

fix: add dedicated fans to cheering fans kickoff event D3 roll (I.10)
  TODO.md
  packages/game-engine/src/mechanics/kickoff-events.test.ts
  packages/game-engine/src/mechanics/kickoff-events.ts
Labels: game-engine

Fix cheering fans kickoff event to include dedicated fans bonus (#146)
  TODO.md
  packages/game-engine/src/mechanics/kickoff-events.test.ts
  packages/game-engine/src/mechanics/kickoff-events.ts
Labels: game-engine

fix: wire missing weather conditions into game flow (I.8)
  TODO.md
  apps/server/src/routes/match.ts
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/mechanics/weather-drive-effects.test.ts
Labels: game-engine, server

feat: add complete French legal pages (RGPD, LCEN, ePrivacy compliance)
  apps/web/app/components/Footer.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/legal/conditions-utilisation/page.tsx
  apps/web/app/legal/mentions-legales/page.tsx
  apps/web/app/legal/politique-de-confidentialite/page.tsx
  apps/web/app/legal/politique-de-cookies/page.tsx
Labels: web

chore: update build date in version.json
  apps/web/public/version.json
Labels: web

fix: wire missing weather conditions into game flow (I.8) (#147)
  TODO.md
  apps/server/src/routes/match.ts
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/mechanics/weather-drive-effects.test.ts
Labels: game-engine, server

Add comprehensive legal pages (privacy, cookies, terms) (#148)
  apps/web/app/components/Footer.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/legal/conditions-utilisation/page.tsx
  apps/web/app/legal/mentions-legales/page.tsx
  apps/web/app/legal/politique-de-confidentialite/page.tsx
  apps/web/app/legal/politique-de-cookies/page.tsx
  apps/web/public/version.json
Labels: web

feat: add block animation with shake and flash effects (E.4)
  TODO.md
  packages/ui/src/board/PixiBoard.tsx
  packages/ui/src/board/blockEffects.test.ts
  packages/ui/src/board/blockEffects.ts
  packages/ui/src/board/useBlockEffects.ts
Labels: packages-ui

Add block impact animations (shake + flash effects) (#149)
  TODO.md
  packages/ui/src/board/PixiBoard.tsx
  packages/ui/src/board/blockEffects.test.ts
  packages/ui/src/board/blockEffects.ts
  packages/ui/src/board/useBlockEffects.ts
Labels: packages-ui

feat: add touchdown animation with endzone flash and particle burst (E.5)
  TODO.md
  packages/ui/src/board/PixiBoard.tsx
  packages/ui/src/board/touchdownEffects.test.ts
  packages/ui/src/board/touchdownEffects.ts
  packages/ui/src/board/useTouchdownEffects.ts
Labels: packages-ui

Add touchdown animation effects (flash + particles) (#150)
  TODO.md
  packages/ui/src/board/PixiBoard.tsx
  packages/ui/src/board/touchdownEffects.test.ts
  packages/ui/src/board/touchdownEffects.ts
  packages/ui/src/board/useTouchdownEffects.ts
Labels: packages-ui

feat: disable signup and show pre-alpha message
  apps/mobile/app/login.tsx
  apps/mobile/app/register.tsx
  apps/server/src/routes/auth.ts
  apps/web/app/AuthBar.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/login/page.tsx
  apps/web/app/page.tsx
  apps/web/app/play/page.tsx
  apps/web/app/register/page.tsx
Labels: web, server, mobile

Disable registration during pre-alpha phase (#151)
  apps/mobile/app/login.tsx
  apps/mobile/app/register.tsx
  apps/server/src/routes/auth.ts
  apps/web/app/AuthBar.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/login/page.tsx
  apps/web/app/page.tsx
  apps/web/app/play/page.tsx
  apps/web/app/register/page.tsx
Labels: web, server, mobile

feat: add injury animation effects (KO/casualty/death icons)
  TODO.md
  packages/ui/src/board/PixiBoard.tsx
  packages/ui/src/board/injuryEffects.test.ts
  packages/ui/src/board/injuryEffects.ts
  packages/ui/src/board/useInjuryEffects.ts
Labels: packages-ui

Add injury effect animations (KO/casualty/death icons) (#152)
  TODO.md
  packages/ui/src/board/PixiBoard.tsx
  packages/ui/src/board/injuryEffects.test.ts
  packages/ui/src/board/injuryEffects.ts
  packages/ui/src/board/useInjuryEffects.ts
Labels: packages-ui

feat: add animated 2D dice overlay for roll results (E.7)
  TODO.md
  packages/ui/src/board/PixiBoard.tsx
  packages/ui/src/board/diceEffects.test.ts
  packages/ui/src/board/diceEffects.ts
  packages/ui/src/board/useDiceEffects.ts
Labels: packages-ui

fix: add project-level MCP config and resilient next-feature prompt
  .mcp.json
  docs/prompts/next-feature.md
Labels: none

Add animated dice roll effects to board UI (#153)
  TODO.md
  packages/ui/src/board/PixiBoard.tsx
  packages/ui/src/board/diceEffects.test.ts
  packages/ui/src/board/diceEffects.ts
  packages/ui/src/board/useDiceEffects.ts
Labels: packages-ui

chore(release): 1.49.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  e1435280b6e28985edf7cb9e934109262fce7fb8
Labels: none

feat: implement 4 UI-delegated kickoff events (perfect-defence, high-kick, quick-snap, blitz)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/kickoff-events.ts
  packages/game-engine/src/mechanics/kickoff-resolution.test.ts
  packages/game-engine/src/mechanics/kickoff-resolution.ts
Labels: game-engine

feat: implement 4 UI-delegated kickoff events (#155)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/kickoff-events.ts
  packages/game-engine/src/mechanics/kickoff-resolution.test.ts
  packages/game-engine/src/mechanics/kickoff-resolution.ts
Labels: game-engine

feat: add ELO leaderboard page (F.3)
  TODO.md
  apps/web/app/components/Header.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/leaderboard/page.test.tsx
  apps/web/app/leaderboard/page.tsx
Labels: web

chore: update version.json from build
  apps/web/public/version.json
Labels: web

feat: Add ELO leaderboard page with pagination (#156)
  TODO.md
  apps/web/app/components/Header.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/leaderboard/page.test.tsx
  apps/web/app/leaderboard/page.tsx
  apps/web/public/version.json
Labels: web

feat: display ELO rating in profile and lobby (F.4)
  TODO.md
  apps/server/src/routes/auth.ts
  apps/server/src/routes/match.ts
  apps/web/app/me/profile/page.test.tsx
  apps/web/app/me/profile/page.tsx
  apps/web/app/play/page.test.tsx
  apps/web/app/play/page.tsx
Labels: web, server

chore: update version.json timestamp
  apps/web/public/version.json
Labels: web
