Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"

Notes added by 'git notes add'
  33276e889f0886a515032027c35f49f935e13ce6
Labels: none

fix(league): update reversion logic for injuries and match invalidation
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-offline-edit.test.ts
  apps/server/src/services/league-offline-edit.ts
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
Labels: web, server

chore(release): 1.207.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  c096ae4bf657356bf3d1610a5613e19623fce70c
Labels: none

fix(rosters): Minus (stunty) au lieu de Microbe (titchy) — gobelins & co
  packages/game-engine/src/rosters/goblin-stunty.test.ts
  packages/game-engine/src/rosters/season3-reference-data.ts
  packages/game-engine/src/rosters/season3-rosters.ts
Labels: game-engine

chore(release): 1.207.2 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  16c4a445f56f898e52d21359bfaf171056acfa69
Labels: none

feat(league): amélioration "compétence Principale au hasard" (random-primary, p.121)
  apps/server/src/routes/team-advancement.ts
  apps/server/src/schemas/advancement.schemas.ts
  apps/server/src/services/post-match-league-sequence.test.ts
  apps/server/src/services/post-match-league-sequence.ts
  apps/server/src/static-skills-data-s3.ts
  apps/web/app/components/AdvancementEditor.test.tsx
  apps/web/app/components/AdvancementEditor.tsx
  packages/game-engine/src/index.ts
  packages/game-engine/src/skills/random-skill-table-2025.test.ts
  packages/game-engine/src/skills/random-skill-table-2025.ts
Labels: game-engine, web, server

feat(skills): badge de catégorie traduit FR/EN sur la page /skills
  apps/web/app/skills/SkillsClient.tsx
Labels: web

chore(release): 1.208.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  6360fbe4df2d3bffce20dd42d52927469bf9754b
Labels: none

refactor(AdvancementEditor): improve skill selection and description preview
  apps/web/app/components/AdvancementEditor.test.tsx
  apps/web/app/components/AdvancementEditor.tsx
Labels: web

chore(release): 1.208.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  ec69ad64d1280a5eb9f53cf52814c0b03b1382f5
Labels: none

feat(league): éditeur d'évolutions modernisé (grille, pills/chips, fiche joueur)
  apps/server/src/routes/team-advancement.ts
  apps/web/app/components/AdvancementEditor.test.tsx
  apps/web/app/components/AdvancementEditor.tsx
Labels: web, server

chore(release): 1.209.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  8a7a90d7f271e093fc331eff9434a2d495bc0efc
Labels: none

feat(team): verrou anti-triche des equipes engagees (serveur)
  apps/server/src/routes/team-mutation-handlers.ts
  apps/server/src/routes/team-player-handlers.ts
  apps/server/src/routes/team.test.ts
  apps/server/src/services/team-lock-status.test.ts
  apps/server/src/services/team-lock-status.ts
Labels: server

feat(team): PUT /:id/roster - sauvegarde batch validee du roster
  apps/server/src/routes/team-roster-save-handler.test.ts
  apps/server/src/routes/team-roster-save-handler.ts
  apps/server/src/routes/team.ts
  apps/server/src/schemas/team.schemas.ts
Labels: server

feat(team): edition libre du brouillon, redirection si engagee (web)
  apps/web/app/me/teams/[id]/edit/page.tsx
Labels: web

feat(team): page tresorerie dediee accessible meme engagee (web)
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/me/teams/[id]/treasury/page.tsx
Labels: web

docs(team): change OpenSpec + doc edition d'equipe (engagee vs brouillon)
  docs/team-editing-lock-2026-07-01.md
  openspec/changes/restrict-team-editing-to-drafts/design.md
  openspec/changes/restrict-team-editing-to-drafts/proposal.md
  openspec/changes/restrict-team-editing-to-drafts/specs/team-editing/spec.md
  openspec/changes/restrict-team-editing-to-drafts/tasks.md
Labels: none

chore(release): 1.210.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  45f01ddae1aaaf04a574816790b1c8bf64644c73
Labels: none

fix(league): un commissaire-participant peut faire évoluer son équipe depuis la feuille de match
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
Labels: web, server

fix(skills): traduit la catégorie de compétence dans les tooltips
  apps/web/app/components/SkillTooltip.tsx
  apps/web/app/lib/skill-category-labels.test.ts
  apps/web/app/lib/skill-category-labels.ts
  apps/web/app/me/teams/components/SkillTooltip.tsx
  apps/web/app/skills/SkillsClient.tsx
Labels: web

chore(release): 1.210.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  c073572e63d801a03f221b3099593ed3464164f7
Labels: none

feat(db): schema regles de composition des coupes
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  prisma/migrations/20260701120000_add_cup_composition_rules/migration.sql
  prisma/migrations/20260702100000_add_cup_roster_psp_overrides/migration.sql
  prisma/migrations/20260702110000_add_cup_format/migration.sql
  prisma/schema.prisma
Labels: server

feat(cup): services regles de composition, snapshot, PSP au build, resurrection, engagement
  apps/server/src/services/cup-build-advancements.test.ts
  apps/server/src/services/cup-build-advancements.ts
  apps/server/src/services/cup-roster-snapshot.test.ts
  apps/server/src/services/cup-roster-snapshot.ts
  apps/server/src/services/cup-rules.test.ts
  apps/server/src/services/cup-rules.ts
  apps/server/src/services/resurrection.test.ts
  apps/server/src/services/resurrection.ts
  apps/server/src/services/team-competition-status.test.ts
  apps/server/src/services/team-competition-status.ts
Labels: server

feat(cup): API composition (config, inscription Flow A/B + clone, resurrection, garde competition)
  apps/server/src/routes/cup.ts
  apps/server/src/routes/local-match.ts
  apps/server/src/routes/team-build-handler.ts
  apps/server/src/routes/team-readonly-handlers.ts
  apps/server/src/routes/team.test.ts
  apps/server/src/schemas/cup.schemas.test.ts
  apps/server/src/schemas/cup.schemas.ts
  apps/server/src/schemas/team.schemas.ts
  apps/server/src/services/league.test.ts
  apps/server/src/services/league.ts
Labels: server

feat(web): UI regles de composition des coupes
  apps/web/app/cups/[id]/page.tsx
  apps/web/app/cups/page.tsx
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/me/teams/new/BuildAdvancementAllocator.tsx
  apps/web/app/me/teams/new/page.tsx
  apps/web/app/me/teams/page.tsx
Labels: web

docs: regles de composition des coupes
  docs/cup-composition-rules.md
Labels: none

chore(release): 1.211.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  4aa8eea4779ec7869388898c2b29ebad72a73e2c
Labels: none

feat(cup): description, resurrection par defaut, inscription depuis la page coupe
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/cup.ts
  apps/server/src/schemas/cup.schemas.ts
  apps/web/app/cups/[id]/page.tsx
  apps/web/app/cups/page.tsx
  prisma/migrations/20260702120000_add_cup_description/migration.sql
  prisma/schema.prisma
Labels: web, server

feat(cup): classements individuels par joueur (leaderboards)
  apps/server/src/routes/cup.ts
  apps/server/src/services/cup-player-stats.test.ts
  apps/server/src/services/cup-player-stats.ts
  apps/web/app/cups/[id]/page.tsx
Labels: web, server

feat(cup): invitations de coupe (backend) + extraction de l'inscription
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/cup-invitation.ts
  apps/server/src/routes/cup.ts
  apps/server/src/schemas/cup-invitation.schemas.ts
  apps/server/src/services/cup-invitation-notify.ts
  apps/server/src/services/cup-invitation.test.ts
  apps/server/src/services/cup-invitation.ts
  apps/server/src/services/cup-registration.ts
  prisma/migrations/20260702130000_add_cup_invitation/migration.sql
  prisma/schema.prisma
Labels: server

feat(web): invitations de coupe (UI)
  apps/web/app/cups/PendingCupInvitations.tsx
  apps/web/app/cups/[id]/CupInvitationsManager.tsx
  apps/web/app/cups/[id]/page.tsx
  apps/web/app/cups/invitations/[code]/page.tsx
  apps/web/app/cups/page.tsx
  docs/cup-composition-rules.md
Labels: web

chore(release): 1.212.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none
