Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"

fix(league): publication des playoffs lisible sans backfill de migration
  .changeset/fdm-sequence-fin-de-match.md
  CLAUDE.md
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/routes/league-playoff-routes.test.ts
  apps/server/src/routes/league.ts
  apps/server/src/services/league-playoffs.test.ts
  apps/server/src/services/league-playoffs.ts
  prisma/schema.prisma
Labels: server

Feuille de match : séquence de fin de match, gel du match, journaliers & Star Players, publication des playoffs (#984)
  .changeset/fdm-sequence-fin-de-match.md
  CLAUDE.md
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/middleware/authUser.ts
  apps/server/src/routes/league-playoff-routes.test.ts
  apps/server/src/routes/league.ts
  apps/server/src/schemas/league-match-sheet.schemas.ts
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-offline-purchases.test.ts
  apps/server/src/services/league-offline-purchases.ts
  apps/server/src/services/league-offline-result.test.ts
  apps/server/src/services/league-offline-result.ts
  apps/server/src/services/league-playoffs.test.ts
  apps/server/src/services/league-playoffs.ts
  apps/server/src/services/league-sheet-journeymen.test.ts
  apps/server/src/services/league-sheet-journeymen.ts
  apps/server/src/services/league-sheet-star-players.test.ts
  apps/server/src/services/league-sheet-star-players.ts
  apps/server/src/services/post-match-league-sequence.test.ts
  apps/server/src/services/post-match-league-sequence.ts
  apps/web/app/components/AdvancementEditor.test.tsx
  apps/web/app/components/AdvancementEditor.tsx
  apps/web/app/leagues/[id]/PlayoffBracketView.publish.test.tsx
  apps/web/app/leagues/[id]/PlayoffBracketView.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/RosterSection.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/SheetAdvancementsEditor.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
  prisma/schema.prisma
Labels: web, server

feat(admin): recherche transversale et export du journal d'équipe
  apps/server/src/index.ts
  apps/server/src/routes/admin-team-journal.test.ts
  apps/server/src/routes/admin-team-journal.ts
  apps/server/src/schemas/admin-team-journal.schemas.ts
  apps/server/src/services/team-audit-search.test.ts
  apps/server/src/services/team-audit-search.ts
  apps/web/app/admin/layout.tsx
  apps/web/app/admin/team-journal/page.tsx
  apps/web/app/lib/teamJournal.test.ts
  apps/web/app/lib/teamJournal.ts
  docs/team-audit-journal.md
  openspec/changes/add-team-audit-journal/proposal.md
  openspec/changes/add-team-audit-journal/specs/team-audit-journal/spec.md
  openspec/changes/add-team-audit-journal/tasks.md
Labels: web, server

docs: changeset du journal d'équipe
  .changeset/journal-equipe-tracabilite.md
  apps/web/public/version.json
Labels: web

feat(admin): enrichir GET /admin/teams/:id (star players + equipes du coach)
  apps/server/src/routes/admin-team-detail.test.ts
  apps/server/src/routes/admin.ts
  apps/server/src/services/admin-team-detail.ts
Labels: server

feat(admin): helpers purs de la fiche d'equipe admin
  apps/web/app/admin/teams/[id]/team-detail-view.test.ts
  apps/web/app/admin/teams/[id]/team-detail-view.ts
Labels: web

feat(admin): fiche d'equipe en page dediee (positions, competences, journal)
  apps/web/app/admin/teams/[id]/page.test.tsx
  apps/web/app/admin/teams/[id]/page.tsx
Labels: web

refactor(admin): la liste des equipes mene a la fiche, plus a une modale
  apps/web/app/admin/teams/page.test.tsx
  apps/web/app/admin/teams/page.tsx
Labels: web

fix(admin): le filtre ruleset de la liste des equipes relance la recherche
  apps/web/app/admin/teams/page.test.tsx
  apps/web/app/admin/teams/page.tsx
Labels: web

docs(changeset): fiche d'equipe admin en page dediee
  .changeset/admin-fiche-equipe-page.md
  apps/web/public/version.json
Labels: web

fix(team): syncDraftTreasury — la trésorerie d'un brouillon suit le reliquat du budget
  apps/server/src/services/team-audit-read.ts
  apps/server/src/services/team-budget-summary.test.ts
  apps/server/src/services/team-budget-summary.ts
Labels: server

feat(team-edit): affiche les tags Mort / Absent / BP dans "Gérer mon équipe"
  apps/web/app/me/teams/[id]/edit/PlayerStatusTags.tsx
  apps/web/app/me/teams/[id]/edit/page.tsx
  apps/web/app/me/teams/[id]/edit/player-status-tags.test.ts
  apps/web/app/me/teams/[id]/edit/player-status-tags.ts
Labels: web

fix(team): PUT /:id/roster resynchronise la trésorerie du brouillon
  apps/server/src/routes/team-roster-save-handler.test.ts
  apps/server/src/routes/team-roster-save-handler.ts
Labels: server

fix(team): PUT /:id/info contrôle le budget et resynchronise la trésorerie
  apps/server/src/routes/team-info-staff-caps.test.ts
  apps/server/src/routes/team-mutation-handlers.ts
Labels: server

chore(release): 1.236.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  7ca570020923f5dda418c05c1d97ce710810c3f3
Labels: none

feat(leagues): le nom d'une équipe mène à son roster depuis le calendrier et le classement
  apps/web/app/leagues/[id]/SeasonCalendar.roster-link.test.tsx
  apps/web/app/leagues/[id]/SeasonCalendar.tsx
  apps/web/app/leagues/[id]/SeasonStandings.test.tsx
  apps/web/app/leagues/[id]/SeasonStandings.tsx
  apps/web/app/leagues/[id]/TeamRosterLink.tsx
  apps/web/app/leagues/[id]/page.tsx
Labels: web

fix(leagues): rend invalidable un match de play-off
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-offline-edit.test.ts
  apps/server/src/services/league-offline-edit.ts
  apps/server/src/services/league-playoffs.test.ts
  apps/server/src/services/league-playoffs.ts
Labels: server

test(match-sheet): garde-fou — VE, VEA, trésorerie et staff figés ensemble
  apps/server/src/services/league-match-sheet.test.ts
Labels: server

Console admin : la fiche d'équipe devient une page, lisible comme sur le site public (#986)
  .changeset/admin-fiche-equipe-page.md
  apps/server/src/routes/admin-team-detail.test.ts
  apps/server/src/routes/admin.ts
  apps/server/src/services/admin-team-detail.ts
  apps/web/app/admin/teams/[id]/page.test.tsx
  apps/web/app/admin/teams/[id]/page.tsx
  apps/web/app/admin/teams/[id]/team-detail-view.test.ts
  apps/web/app/admin/teams/[id]/team-detail-view.ts
  apps/web/app/admin/teams/page.test.tsx
  apps/web/app/admin/teams/page.tsx
  apps/web/public/version.json
Labels: web, server

feat(game-engine): predicat d'embauche Star Player et univers de rosters par edition
  packages/game-engine/src/rosters/index.ts
  packages/game-engine/src/rosters/star-player-rosters.test.ts
  packages/game-engine/src/rosters/star-player-rosters.ts
Labels: game-engine

feat(web): module pur des options du filtre equipe des Star Players
  apps/web/app/star-players/team-filter-options.test.ts
  apps/web/app/star-players/team-filter-options.ts
Labels: web

fix(web): filtre equipe des Star Players complet et dependant de la saison
  apps/web/app/star-players/StarPlayersClient.team-filter.test.tsx
  apps/web/app/star-players/StarPlayersClient.tsx
Labels: web

feat(bb): acquisition du trait Haine (X) sur blessure
  apps/server/src/seed.ts
  apps/server/src/services/league-hate-trait.test.ts
  apps/server/src/services/league-hate-trait.ts
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-match-summary.test.ts
  apps/server/src/services/league-match-summary.ts
  apps/server/src/services/league-offline-edit.test.ts
  apps/server/src/services/league-offline-edit.ts
  apps/server/src/services/league-offline-result.test.ts
  apps/server/src/services/league-offline-result.ts
  docs/hate-trait-acquisition.md
  packages/game-engine/src/index.ts
  packages/game-engine/src/skills/hate-trait.test.ts
  packages/game-engine/src/skills/hate-trait.ts
  packages/game-engine/src/skills/index.ts
Labels: game-engine, server

docs(changeset): Haine (X), invalidation de play-off, tags de roster et lien vers le roster
  .changeset/haine-playoff-tags-roster-link.md
Labels: none

chore(seed): données de démo ignorées en production
  apps/server/src/seed.ts
Labels: server

feat(star-players): badge de saison, bascule S2/S3 et « joue pour » servi par l'API
  apps/web/app/star-players/StarPlayersClient.tsx
  apps/web/app/star-players/[slug]/page.tsx
  apps/web/app/star-players/[slug]/plays-for.test.ts
  apps/web/app/star-players/[slug]/plays-for.ts
Labels: web

fix(star-players): « joue pour » résolu depuis les rosters en base du même ruleset
  apps/server/src/routes/star-players-detail.test.ts
  apps/server/src/routes/star-players.ts
  apps/server/src/services/star-player-plays-for.test.ts
  apps/server/src/services/star-player-plays-for.ts
Labels: server

chore(release): 1.237.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  4af1cd1f0feb9e3a866340799ff78fd4fd2df05c
Labels: none

fix(team): achats sur un brouillon au prix de construction + resync trésorerie
  apps/server/src/routes/team-purchase-handler.test.ts
  apps/server/src/routes/team-purchase-handler.ts
  apps/server/src/routes/team.test.ts
  apps/web/app/me/teams/[id]/treasury/page.tsx
  apps/web/app/me/teams/components/TreasuryPurchasePanel.tsx
Labels: web, server

chore(release): 1.237.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  970761af8d232410b93fe02fd2a42015dc9199d6
Labels: none

docs: changeset du filtre equipe des Star Players
  .changeset/filtre-equipe-star-players-dynamique.md
Labels: none

Trait Haine (X), invalidation d'un match de play-off, tags d'état du roster et accès au roster depuis le calendrier (#987)
  .changeset/haine-playoff-tags-roster-link.md
  apps/server/src/seed.ts
  apps/server/src/services/league-hate-trait.test.ts
  apps/server/src/services/league-hate-trait.ts
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-match-summary.test.ts
  apps/server/src/services/league-match-summary.ts
  apps/server/src/services/league-offline-edit.test.ts
  apps/server/src/services/league-offline-edit.ts
  apps/server/src/services/league-offline-result.test.ts
  apps/server/src/services/league-offline-result.ts
  apps/server/src/services/league-playoffs.test.ts
  apps/server/src/services/league-playoffs.ts
  apps/web/app/leagues/[id]/SeasonCalendar.roster-link.test.tsx
  apps/web/app/leagues/[id]/SeasonCalendar.tsx
  apps/web/app/leagues/[id]/SeasonStandings.test.tsx
  apps/web/app/leagues/[id]/SeasonStandings.tsx
  apps/web/app/leagues/[id]/TeamRosterLink.tsx
  apps/web/app/leagues/[id]/page.tsx
  apps/web/app/me/teams/[id]/edit/PlayerStatusTags.tsx
  apps/web/app/me/teams/[id]/edit/page.tsx
  apps/web/app/me/teams/[id]/edit/player-status-tags.test.ts
  apps/web/app/me/teams/[id]/edit/player-status-tags.ts
  docs/hate-trait-acquisition.md
  packages/game-engine/src/index.ts
  packages/game-engine/src/skills/hate-trait.test.ts
  packages/game-engine/src/skills/hate-trait.ts
  packages/game-engine/src/skills/index.ts
Labels: game-engine, web, server

chore(release): 1.238.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  64eda96fcbe78c496558a4123aece10819a9ddc2
Labels: none

feat(positions): image, description et fluff editables par positionnel
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/routes/admin-data.ts
  apps/server/src/routes/public-positions.ts
  apps/server/src/routes/public-rosters.ts
  apps/server/src/schemas/admin-data.schemas.ts
  apps/server/src/services/position-content.test.ts
  apps/server/src/services/position-content.ts
  apps/web/app/admin/data/positions/PositionContentFields.test.tsx
  apps/web/app/admin/data/positions/PositionContentFields.tsx
  apps/web/app/admin/data/positions/[id]/edit/page.tsx
  apps/web/app/admin/data/positions/new/page.tsx
  prisma/schema.prisma
Labels: web, server

feat(cards): afficher le portrait du profil sur les cartes exportables
  apps/web/app/api/player-card/route.ts
  apps/web/app/lib/player-card/card-model.test.ts
  apps/web/app/lib/player-card/card-model.ts
  apps/web/app/lib/player-card/portrait.test.ts
  apps/web/app/lib/player-card/portrait.ts
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/me/teams/[id]/roster-skill-access.test.ts
  apps/web/app/me/teams/[id]/roster-skill-access.ts
  apps/web/app/star-players/[slug]/card/route.ts
  apps/web/package.json
  apps/web/public/images/positions/README.md
  pnpm-lock.yaml
Labels: web

docs: audit statique vs base de données (2026-08-27)
  docs/audit-statique-vs-bdd-2026-08-27.html
  docs/audit-statique-vs-bdd-2026-08-27.md
Labels: none
