Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

Display ELO ratings in profile and match lobby (#157)
  TODO.md
  apps/server/src/routes/auth.ts
  apps/server/src/routes/match.ts
  apps/web/app/me/profile/page.test.tsx
  apps/web/app/me/profile/page.tsx
  apps/web/app/play/page.test.tsx
  apps/web/app/play/page.tsx
  apps/web/public/version.json
Labels: web, server

feat: add Slann roster to Season 3 (I.1)
  TODO.md
  packages/game-engine/src/rosters/season3-rosters.test.ts
  packages/game-engine/src/rosters/season3-rosters.ts
Labels: game-engine

chore: update build date in version.json
  apps/web/public/version.json
Labels: web

Add Slann roster to Season 3 (#158)
  TODO.md
  apps/web/public/version.json
  packages/game-engine/src/rosters/season3-rosters.test.ts
  packages/game-engine/src/rosters/season3-rosters.ts
Labels: game-engine, web

feat: add descriptionFr/En to all 30 Season 3 rosters (I.2)
  TODO.md
  packages/game-engine/src/rosters/season3-rosters.test.ts
  packages/game-engine/src/rosters/season3-rosters.ts
Labels: game-engine

Add French and English descriptions to all Season 3 rosters (#159)
  TODO.md
  packages/game-engine/src/rosters/season3-rosters.test.ts
  packages/game-engine/src/rosters/season3-rosters.ts
Labels: game-engine

feat: add placeholder images for all star players missing artwork (I.3)
  TODO.md
  apps/web/public/images/star-players/bilerot_vomitflesh.svg
  apps/web/public/images/star-players/boa_konssstriktr.svg
  apps/web/public/images/star-players/gloriel_summerbloom.svg
  apps/web/public/images/star-players/glotl_stop.svg
  apps/web/public/images/star-players/griff_oberwald.svg
  apps/web/public/images/star-players/helmut_wulf.svg
  apps/web/public/images/star-players/hthark_the_unstoppable.svg
  apps/web/public/images/star-players/ivan_the_animal_deathshroud.svg
  apps/web/public/images/star-players/ivar_eriksson.svg
  apps/web/public/images/star-players/jeremiah_kool.svg
  apps/web/public/images/star-players/jordell_freshbreeze.svg
  apps/web/public/images/star-players/karina_von_riesz.svg
  apps/web/public/images/star-players/karla_von_kill.svg
  apps/web/public/images/star-players/lucien_swift.svg
  apps/web/public/images/star-players/luthor_von_drakenborg.svg
  apps/web/public/images/star-players/maple_highgrove.svg
  apps/web/public/images/star-players/max_spleenripper.svg
  apps/web/public/images/star-players/mighty_zug.svg
  apps/web/public/images/star-players/prince_moranion.svg
  apps/web/public/images/star-players/ripper_bolgrot.svg
  apps/web/public/images/star-players/rodney_roachbait.svg
  apps/web/public/images/star-players/rowana_forestfoot.svg
  apps/web/public/images/star-players/roxanna_darknail.svg
  apps/web/public/images/star-players/rumbelow_sheepskin.svg
  apps/web/public/images/star-players/scrappa_sorehead.svg
  apps/web/public/images/star-players/skorg_snowpelt.svg
  apps/web/public/images/star-players/skrull_halfheight.svg
  apps/web/public/images/star-players/swiftvine_glimmershard.svg
  apps/web/public/images/star-players/thorsson_stoutmead.svg
  apps/web/public/images/star-players/valen_swift.svg
  apps/web/public/images/star-players/varag_ghoul_chewer.svg
  apps/web/public/images/star-players/zolcath_the_zoat.svg
  packages/game-engine/src/rosters/star-players.test.ts
  packages/game-engine/src/rosters/star-players.ts
Labels: game-engine, web

feat: add Blood Bowl S3 rules validation test suite (2070 tests)
  .claude/commands/bloodbowl-rules-agent.md
  packages/game-engine/src/rosters/season3-reference-data.ts
  packages/game-engine/src/rosters/validate-season3-rules.test.ts
Labels: game-engine

Add missing star player images and update tests (#160)
  TODO.md
  apps/web/public/images/star-players/bilerot_vomitflesh.svg
  apps/web/public/images/star-players/boa_konssstriktr.svg
  apps/web/public/images/star-players/gloriel_summerbloom.svg
  apps/web/public/images/star-players/glotl_stop.svg
  apps/web/public/images/star-players/griff_oberwald.svg
  apps/web/public/images/star-players/helmut_wulf.svg
  apps/web/public/images/star-players/hthark_the_unstoppable.svg
  apps/web/public/images/star-players/ivan_the_animal_deathshroud.svg
  apps/web/public/images/star-players/ivar_eriksson.svg
  apps/web/public/images/star-players/jeremiah_kool.svg
  apps/web/public/images/star-players/jordell_freshbreeze.svg
  apps/web/public/images/star-players/karina_von_riesz.svg
  apps/web/public/images/star-players/karla_von_kill.svg
  apps/web/public/images/star-players/lucien_swift.svg
  apps/web/public/images/star-players/luthor_von_drakenborg.svg
  apps/web/public/images/star-players/maple_highgrove.svg
  apps/web/public/images/star-players/max_spleenripper.svg
  apps/web/public/images/star-players/mighty_zug.svg
  apps/web/public/images/star-players/prince_moranion.svg
  apps/web/public/images/star-players/ripper_bolgrot.svg
  apps/web/public/images/star-players/rodney_roachbait.svg
  apps/web/public/images/star-players/rowana_forestfoot.svg
  apps/web/public/images/star-players/roxanna_darknail.svg
  apps/web/public/images/star-players/rumbelow_sheepskin.svg
  apps/web/public/images/star-players/scrappa_sorehead.svg
  apps/web/public/images/star-players/skorg_snowpelt.svg
  apps/web/public/images/star-players/skrull_halfheight.svg
  apps/web/public/images/star-players/swiftvine_glimmershard.svg
  apps/web/public/images/star-players/thorsson_stoutmead.svg
  apps/web/public/images/star-players/valen_swift.svg
  apps/web/public/images/star-players/varag_ghoul_chewer.svg
  apps/web/public/images/star-players/zolcath_the_zoat.svg
  packages/game-engine/src/rosters/star-players.test.ts
  packages/game-engine/src/rosters/star-players.ts
Labels: game-engine, web

Add Season 3 reference data and validation tests for rosters (#161)
  .claude/commands/bloodbowl-rules-agent.md
  packages/game-engine/src/rosters/season3-reference-data.ts
  packages/game-engine/src/rosters/validate-season3-rules.test.ts
Labels: game-engine

feat: display star player special rules in gameplay UI (B3.2)
  TODO.md
  packages/game-engine/src/index.ts
  packages/game-engine/src/skills/star-player-rules.test.ts
  packages/game-engine/src/skills/star-player-rules.ts
  packages/ui/src/components/GameBoardWithDugouts.tsx
  packages/ui/src/components/PlayerDetails.tsx
  packages/ui/src/components/__tests__/PlayerDetails.test.tsx
Labels: packages-ui, game-engine

chore: update build timestamp
  apps/web/public/version.json
Labels: web

Display star player special rules in PlayerDetails (#162)
  TODO.md
  apps/web/public/version.json
  packages/game-engine/src/index.ts
  packages/game-engine/src/skills/star-player-rules.test.ts
  packages/game-engine/src/skills/star-player-rules.ts
  packages/ui/src/components/GameBoardWithDugouts.tsx
  packages/ui/src/components/PlayerDetails.tsx
  packages/ui/src/components/__tests__/PlayerDetails.test.tsx
Labels: packages-ui, game-engine, web

feat: add basic match replayer (H.3)
  TODO.md
  apps/server/src/routes/match.ts
  apps/web/app/replay/[id]/hooks/useReplayControls.test.ts
  apps/web/app/replay/[id]/hooks/useReplayControls.ts
  apps/web/app/replay/[id]/page.tsx
  packages/game-engine/src/core/replay.test.ts
  packages/game-engine/src/core/replay.ts
  packages/game-engine/src/index.ts
Labels: game-engine, web, server

chore: update version.json build timestamp
  apps/web/public/version.json
Labels: web

feat: add match replay functionality with playback controls (#163)
  TODO.md
  apps/server/src/routes/match.ts
  apps/web/app/replay/[id]/hooks/useReplayControls.test.ts
  apps/web/app/replay/[id]/hooks/useReplayControls.ts
  apps/web/app/replay/[id]/page.tsx
  apps/web/public/version.json
  packages/game-engine/src/core/replay.test.ts
  packages/game-engine/src/core/replay.ts
  packages/game-engine/src/index.ts
Labels: game-engine, web, server

feat: add tactical indicators — movement range and pass range overlays (H.4)
  TODO.md
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/tactical-indicators.test.ts
  packages/game-engine/src/mechanics/tactical-indicators.ts
  packages/ui/src/board/PixiBoard.tsx
  packages/ui/src/components/GameBoardWithDugouts.tsx
Labels: packages-ui, game-engine

feat: add tactical indicators — movement range and pass range overlays (H.4) (#164)
  TODO.md
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/tactical-indicators.test.ts
  packages/game-engine/src/mechanics/tactical-indicators.ts
  packages/ui/src/board/PixiBoard.tsx
  packages/ui/src/components/GameBoardWithDugouts.tsx
Labels: packages-ui, game-engine

test(e2e-api): add multiplayer API test harness with socket.io
  apps/server/src/index.ts
  apps/server/src/middleware/rateLimiter.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/prisma.ts
  apps/server/src/routes/auth.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/e2e-api/.gitignore
  tests/e2e-api/helpers/api.ts
  tests/e2e-api/helpers/env.ts
  tests/e2e-api/helpers/factories.ts
  tests/e2e-api/helpers/socket.ts
  tests/e2e-api/package.json
  tests/e2e-api/setup.ts
  tests/e2e-api/specs/actions.spec.ts
  tests/e2e-api/specs/multiplayer.spec.ts
  tests/e2e-api/specs/prematch.spec.ts
  tests/e2e-api/specs/setup.spec.ts
  tests/e2e-api/specs/smoke.spec.ts
  tests/e2e-api/vitest.config.ts
Labels: server

feat(web): add data-testid hooks for E2E multiplayer tests
  apps/web/app/components/GameChat.tsx
  apps/web/app/components/InducementSelector.tsx
  apps/web/app/components/PreMatchSummary.tsx
  apps/web/app/login/page.tsx
  apps/web/app/play-hidden/[id]/page.tsx
  apps/web/app/play/page.tsx
  apps/web/app/waiting-hidden/[id]/page.tsx
  packages/ui/src/components/GameBoardWithDugouts.tsx
Labels: packages-ui, web

test(e2e-ui): add Playwright multiplayer UI suite
  pnpm-lock.yaml
  tests/e2e-ui/.gitignore
  tests/e2e-ui/README.md
  tests/e2e-ui/fixtures/two-players.ts
  tests/e2e-ui/helpers/api-seed.ts
  tests/e2e-ui/package.json
  tests/e2e-ui/pages/GameViewPage.ts
  tests/e2e-ui/pages/LobbyPage.ts
  tests/e2e-ui/pages/LoginPage.ts
  tests/e2e-ui/pages/WaitingRoomPage.ts
  tests/e2e-ui/playwright.config.ts
  tests/e2e-ui/specs/chat.spec.ts
  tests/e2e-ui/specs/full-match.spec.ts
  tests/e2e-ui/specs/reconnect.spec.ts
Labels: none

docs(e2e): add manual test playbooks and E2E README
  docs/e2e/README.md
  docs/e2e/playbooks/01-full-match.md
  docs/e2e/playbooks/02-all-actions.md
  docs/e2e/playbooks/03-skills-triggers.md
  docs/e2e/playbooks/04-edge-cases.md
  docs/e2e/playbooks/05-network-failures.md
Labels: none

ci(e2e): reactivate E2E workflow with api + ui jobs and make targets
  .github/workflows/e2e.yml
  Makefile
Labels: none

test(e2e-api): align SQLite schema, unblock setup spec, drop legacy test-*
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  test-action-popup.html
  test-add-skill.js
  test-api-response.js
  test-api.html
  test-colors.js
  test-complete-kickoff.html
  test-create-team-with-star-players.js
  test-dice-images.html
  test-dice-integration.html
  test-dice-rolls.js
  test-dimensions-fix.html
  test-dodge-bounce.js
  test-dugout-final.html
  test-dugout-layout.html
  test-kickoff-transition.html
  test-login.html
  test-placement-flow.html
  test-player-sorting.js
  test-player-states.html
  test-position-consistency.js
  test-position-utils.js
  test-slug-system-simple.js
  test-star-players-api.js
  test-tooltips.js
  tests/e2e-api/setup.ts
  tests/e2e-api/specs/setup.spec.ts
  tests/e2e-ui/helpers/api-seed.ts
Labels: server

chore(gitignore): ignore stray SQLite memdb-* test artifacts
  .gitignore
Labels: none

ci(e2e): drop explicit pnpm version to match packageManager field
  .github/workflows/e2e.yml
Labels: none

test: expand E2E coverage for auth, match, matchmaking, team and UI flows
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  tests/e2e-api/helpers/api.ts
  tests/e2e-api/specs/auth.spec.ts
  tests/e2e-api/specs/leaderboard.spec.ts
  tests/e2e-api/specs/match-routes.spec.ts
  tests/e2e-api/specs/matchmaking.spec.ts
  tests/e2e-api/specs/team-choose.spec.ts
  tests/e2e-ui/specs/lobby-errors.spec.ts
  tests/e2e-ui/specs/login.spec.ts
  tests/e2e-ui/specs/waiting-acceptance.spec.ts
Labels: server

Add patreon & valid fields to User schema + E2E test suite (#167)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  tests/e2e-api/helpers/api.ts
  tests/e2e-api/specs/auth.spec.ts
  tests/e2e-api/specs/leaderboard.spec.ts
  tests/e2e-api/specs/match-routes.spec.ts
  tests/e2e-api/specs/matchmaking.spec.ts
  tests/e2e-api/specs/team-choose.spec.ts
  tests/e2e-ui/specs/lobby-errors.spec.ts
  tests/e2e-ui/specs/login.spec.ts
  tests/e2e-ui/specs/waiting-acceptance.spec.ts
Labels: server

chore(release): 1.50.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  74c02d203453f0cad0839ad56f42deccaf47e1ce
Labels: none

feat: per-roster team colors on the board (H.6 foundation)
  TODO.md
  packages/game-engine/src/rosters/index.ts
  packages/game-engine/src/rosters/positions.ts
  packages/game-engine/src/rosters/team-colors.test.ts
  packages/game-engine/src/rosters/team-colors.ts
  packages/ui/src/board/PixiBoard.tsx
  packages/ui/src/board/team-color-resolver.test.ts
  packages/ui/src/board/team-color-resolver.ts
  packages/ui/src/components/GameBoardWithDugouts.tsx
Labels: packages-ui, game-engine

feat: per-roster team colors on the board (H.6 foundation) (#168)
  TODO.md
  packages/game-engine/src/rosters/index.ts
  packages/game-engine/src/rosters/positions.ts
  packages/game-engine/src/rosters/team-colors.test.ts
  packages/game-engine/src/rosters/team-colors.ts
  packages/ui/src/board/PixiBoard.tsx
  packages/ui/src/board/team-color-resolver.test.ts
  packages/ui/src/board/team-color-resolver.ts
  packages/ui/src/components/GameBoardWithDugouts.tsx
Labels: packages-ui, game-engine

feat(H.6): propagate per-roster colors through GameState
  TODO.md
  apps/server/src/routes/local-match.ts
  apps/server/src/routes/match.ts
  apps/server/src/services/match-start.ts
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/rosters/team-colors.test.ts
  packages/ui/src/board/team-color-resolver.test.ts
  packages/ui/src/board/team-color-resolver.ts
  packages/ui/src/components/GameBoardWithDugouts.tsx
Labels: packages-ui, game-engine, server

chore: bump version.json to 1.50.0
  apps/web/public/version.json
Labels: web

feat(H.6): propagate per-roster colors through GameState (#169)
  TODO.md
  apps/server/src/routes/local-match.ts
  apps/server/src/routes/match.ts
  apps/server/src/services/match-start.ts
  apps/web/public/version.json
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/rosters/team-colors.test.ts
  packages/ui/src/board/team-color-resolver.test.ts
  packages/ui/src/board/team-color-resolver.ts
  packages/ui/src/components/GameBoardWithDugouts.tsx
Labels: packages-ui, game-engine, web, server

feat(H.6): use per-roster secondary color for player circle outline
  TODO.md
  packages/ui/src/board/PixiBoard.tsx
  packages/ui/src/board/team-color-resolver.test.ts
  packages/ui/src/board/team-color-resolver.ts
Labels: packages-ui

Add team outline color resolver for H.6 sprite sheets (3/5) (#170)
  TODO.md
  packages/ui/src/board/PixiBoard.tsx
  packages/ui/src/board/team-color-resolver.test.ts
  packages/ui/src/board/team-color-resolver.ts
Labels: packages-ui

feat(H.6): add team sprite manifest registry (4/5)
  TODO.md
  packages/game-engine/src/rosters/index.ts
  packages/game-engine/src/rosters/team-sprites.test.ts
  packages/game-engine/src/rosters/team-sprites.ts
  packages/ui/src/board/team-color-resolver.test.ts
  packages/ui/src/board/team-color-resolver.ts
Labels: packages-ui, game-engine

feat: add team sprite manifest registry (H.6 sub-task 4/5) (#171)
  TODO.md
  packages/game-engine/src/rosters/index.ts
  packages/game-engine/src/rosters/team-sprites.test.ts
  packages/game-engine/src/rosters/team-sprites.ts
  packages/ui/src/board/team-color-resolver.test.ts
  packages/ui/src/board/team-color-resolver.ts
Labels: packages-ui, game-engine

feat: complete sprite sheet rendering pipeline (H.6 sub-task 5/5)
  TODO.md
  apps/web/public/images/team-sprites/.gitkeep
  packages/ui/src/board/PixiBoard.tsx
  packages/ui/src/board/sprite-frame-resolver.test.ts
  packages/ui/src/board/sprite-frame-resolver.ts
  packages/ui/src/board/useSpriteTextures.test.ts
  packages/ui/src/board/useSpriteTextures.ts
Labels: packages-ui, web

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
