Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

feat(mobile): M.8 ecrans cups et ligues
  TODO.md
  apps/mobile/app/_layout.tsx
  apps/mobile/app/cups/[id].tsx
  apps/mobile/app/cups/archived.tsx
  apps/mobile/app/cups/index.tsx
  apps/mobile/app/leagues/[id].tsx
  apps/mobile/app/leagues/index.tsx
  apps/mobile/app/lobby.tsx
  apps/mobile/lib/cups.test.ts
  apps/mobile/lib/cups.ts
  apps/mobile/lib/leagues.test.ts
  apps/mobile/lib/leagues.ts
Labels: mobile

feat(mobile): M.8 ecrans cups et ligues (#299)
  TODO.md
  apps/mobile/app/_layout.tsx
  apps/mobile/app/cups/[id].tsx
  apps/mobile/app/cups/archived.tsx
  apps/mobile/app/cups/index.tsx
  apps/mobile/app/leagues/[id].tsx
  apps/mobile/app/leagues/index.tsx
  apps/mobile/app/lobby.tsx
  apps/mobile/lib/cups.test.ts
  apps/mobile/lib/cups.ts
  apps/mobile/lib/leagues.test.ts
  apps/mobile/lib/leagues.ts
Labels: mobile

feat: passage du mode alpha au mode beta ouvert à tous
  apps/server/src/routes/auth.ts
  apps/web/app/i18n/translations.ts
  apps/web/app/page.tsx
Labels: web, server

feat(mobile): M.9 push notifications natives via Expo
  TODO.md
  apps/mobile/app.json
  apps/mobile/app/_layout.tsx
  apps/mobile/lib/expo-push.test.ts
  apps/mobile/lib/expo-push.ts
  apps/mobile/lib/use-expo-push.ts
  apps/mobile/package.json
  apps/server/src/routes/push.ts
  apps/server/src/schemas/push.schemas.ts
  apps/server/src/services/expo-push-notifications.test.ts
  apps/server/src/services/push-notifications.test.ts
  apps/server/src/services/push-notifications.ts
  pnpm-lock.yaml
Labels: server, mobile

feat(mobile): M.9 push notifications natives via Expo (#300)
  TODO.md
  apps/mobile/app.json
  apps/mobile/app/_layout.tsx
  apps/mobile/lib/expo-push.test.ts
  apps/mobile/lib/expo-push.ts
  apps/mobile/lib/use-expo-push.ts
  apps/mobile/package.json
  apps/server/src/routes/push.ts
  apps/server/src/schemas/push.schemas.ts
  apps/server/src/services/expo-push-notifications.test.ts
  apps/server/src/services/push-notifications.test.ts
  apps/server/src/services/push-notifications.ts
  pnpm-lock.yaml
Labels: server, mobile

feat: passage du mode alpha au mode beta ouvert à tous (#301)
  apps/server/src/routes/auth.ts
  apps/web/app/i18n/translations.ts
  apps/web/app/page.tsx
Labels: web, server

feat(mobile): M.10 ecran details joueur et progression
  TODO.md
  apps/mobile/app/player/[teamId]/[playerId].tsx
  apps/mobile/app/teams/[id].tsx
  apps/mobile/lib/player-details.test.ts
  apps/mobile/lib/player-details.ts
Labels: mobile

feat(mobile): M.10 ecran details joueur et progression (#302)
  TODO.md
  apps/mobile/app/player/[teamId]/[playerId].tsx
  apps/mobile/app/teams/[id].tsx
  apps/mobile/lib/player-details.test.ts
  apps/mobile/lib/player-details.ts
Labels: mobile

feat(mobile): M.11 catalogue star players
  TODO.md
  apps/mobile/app/_layout.tsx
  apps/mobile/app/lobby.tsx
  apps/mobile/app/star-players/[slug].tsx
  apps/mobile/app/star-players/index.tsx
  apps/mobile/lib/star-players.test.ts
  apps/mobile/lib/star-players.ts
Labels: mobile

feat(mobile): M.11 catalogue star players (#303)
  TODO.md
  apps/mobile/app/_layout.tsx
  apps/mobile/app/lobby.tsx
  apps/mobile/app/star-players/[slug].tsx
  apps/mobile/app/star-players/index.tsx
  apps/mobile/lib/star-players.test.ts
  apps/mobile/lib/star-players.ts
Labels: mobile

feat(support): Ko-fi donation tracking + supporter status
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/config.test.ts
  apps/server/src/config.ts
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/auth.ts
  apps/server/src/routes/kofi.test.ts
  apps/server/src/routes/kofi.ts
  apps/server/src/schemas/kofi.schemas.test.ts
  apps/server/src/schemas/kofi.schemas.ts
  apps/server/src/services/kofi-claim.test.ts
  apps/server/src/services/kofi-claim.ts
  apps/server/src/services/kofi.test.ts
  apps/server/src/services/kofi.ts
  apps/web/app/admin/users/page.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/me/profile/page.tsx
  apps/web/app/support/page.tsx
  prisma/migrations/20260422000000_add_kofi_supporter/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
Labels: web, server

feat(mobile): M.12 ecran profil et settings
  TODO.md
  apps/mobile/app/_layout.tsx
  apps/mobile/app/lobby.tsx
  apps/mobile/app/settings.styles.ts
  apps/mobile/app/settings.tsx
  apps/mobile/components/settings/AccountInfoSection.tsx
  apps/mobile/components/settings/DangerZone.tsx
  apps/mobile/components/settings/PasswordChangeSection.tsx
  apps/mobile/components/settings/ProfileEditSection.tsx
  apps/mobile/components/settings/ProfileHeader.tsx
  apps/mobile/components/settings/SettingsFields.tsx
  apps/mobile/lib/profile.test.ts
  apps/mobile/lib/profile.ts
Labels: mobile

feat(mobile): M.12 ecran profil et settings (#304)
  TODO.md
  apps/mobile/app/_layout.tsx
  apps/mobile/app/lobby.tsx
  apps/mobile/app/settings.styles.ts
  apps/mobile/app/settings.tsx
  apps/mobile/components/settings/AccountInfoSection.tsx
  apps/mobile/components/settings/DangerZone.tsx
  apps/mobile/components/settings/PasswordChangeSection.tsx
  apps/mobile/components/settings/ProfileEditSection.tsx
  apps/mobile/components/settings/ProfileHeader.tsx
  apps/mobile/components/settings/SettingsFields.tsx
  apps/mobile/lib/profile.test.ts
  apps/mobile/lib/profile.ts
Labels: mobile

feat(game-engine): K.10 implementer multiple-block (Ogres)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/multiple-block.test.ts
  packages/game-engine/src/mechanics/multiple-block.ts
Labels: game-engine

feat(game-engine): K.10 implementer multiple-block (Ogres) (#305)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/multiple-block.test.ts
  packages/game-engine/src/mechanics/multiple-block.ts
Labels: game-engine

Add Ko-fi webhook integration for supporter tracking (#306)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/config.test.ts
  apps/server/src/config.ts
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/auth.ts
  apps/server/src/routes/kofi.test.ts
  apps/server/src/routes/kofi.ts
  apps/server/src/schemas/kofi.schemas.test.ts
  apps/server/src/schemas/kofi.schemas.ts
  apps/server/src/services/kofi-claim.test.ts
  apps/server/src/services/kofi-claim.ts
  apps/server/src/services/kofi.test.ts
  apps/server/src/services/kofi.ts
  apps/web/app/admin/users/page.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/me/profile/page.tsx
  apps/web/app/support/page.tsx
  prisma/migrations/20260422000000_add_kofi_supporter/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
Labels: web, server

feat(game-engine): K.11 implementer hail-mary-pass + safe-pass
  TODO.md
  packages/game-engine/src/mechanics/hail-mary-safe-pass.test.ts
  packages/game-engine/src/mechanics/passing.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(game-engine): K.11 implementer hail-mary-pass et safe-pass
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/mechanics/hail-mary-pass.test.ts
  packages/game-engine/src/mechanics/passing.ts
  packages/game-engine/src/mechanics/safe-pass.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(game-engine): K.11 implementer hail-mary-pass + safe-pass (#307)
  TODO.md
  packages/game-engine/src/mechanics/hail-mary-safe-pass.test.ts
  packages/game-engine/src/mechanics/passing.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

fix(deploy): persiste le dernier commit deploye pour lister les commits mis en prod
  .gitignore
  scripts/deploy.sh
Labels: none

Track last deployed commit to fix changelog after manual pulls (#309)
  .gitignore
  scripts/deploy.sh
Labels: none

chore(docker): update production configuration for Prisma and add Kofi verification token
  docker-compose.prod.yml
Labels: none

chore(release): 1.65.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  8a02fd24b53ac7d7d220a306b93417ac945e258a
Labels: none

feat(game-engine): K.12 implementer ball-and-chain (Goblin Fanatic)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/mechanics/ball-and-chain.test.ts
  packages/game-engine/src/mechanics/ball-and-chain.ts
  packages/game-engine/src/mechanics/negative-traits.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(game-engine): K.12 implementer ball-and-chain (Goblin Fanatic) (#310)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/mechanics/ball-and-chain.test.ts
  packages/game-engine/src/mechanics/ball-and-chain.ts
  packages/game-engine/src/mechanics/negative-traits.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(game-engine): K.13 implementer bombardier (Goblin Bomma)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/mechanics/bombardier.test.ts
  packages/game-engine/src/mechanics/bombardier.ts
  packages/game-engine/src/mechanics/negative-traits.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(game-engine): K.13 implementer bombardier (Goblin Bomma) (#311)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/mechanics/bombardier.test.ts
  packages/game-engine/src/mechanics/bombardier.ts
  packages/game-engine/src/mechanics/negative-traits.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(content): O.2 ajouter specialRuleEn pour 21 star players
  TODO.md
  packages/game-engine/src/rosters/star-players.ts
Labels: game-engine

feat(content): O.2 ajouter specialRuleEn pour 21 star players (#312)
  TODO.md
  packages/game-engine/src/rosters/star-players.ts
Labels: game-engine

feat(game-engine): O.1 batch 3a - nerves-of-steel, big-hand, extra-arms
  packages/game-engine/src/mechanics/movement.ts
  packages/game-engine/src/mechanics/niche-modifier-skills.test.ts
  packages/game-engine/src/mechanics/passing.ts
Labels: game-engine

feat(game-engine): O.1 batch 3a - nerves-of-steel, big-hand, extra-arms (#313)
  packages/game-engine/src/mechanics/movement.ts
  packages/game-engine/src/mechanics/niche-modifier-skills.test.ts
  packages/game-engine/src/mechanics/passing.ts
Labels: game-engine

feat(game-engine): O.1 batch 3b - accurate, strong-arm pass modifiers
  packages/game-engine/src/mechanics/pass-modifier-skills.test.ts
  packages/game-engine/src/mechanics/passing.ts
Labels: game-engine

feat(game-engine): O.1 batch 3b - accurate + strong-arm pass modifiers (#314)
  packages/game-engine/src/mechanics/pass-modifier-skills.test.ts
  packages/game-engine/src/mechanics/passing.ts
Labels: game-engine

feat(game-engine): O.1 batch 3c - strip-ball
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/mechanics/strip-ball.test.ts
Labels: game-engine

feat(game-engine): O.1 batch 3c - strip-ball (#315)
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/mechanics/strip-ball.test.ts
Labels: game-engine

feat(game-engine): O.1 batch 3d - diving-catch catch modifier
  packages/game-engine/src/mechanics/diving-catch.test.ts
  packages/game-engine/src/mechanics/passing.ts
Labels: game-engine

feat(game-engine): O.1 batch 3d - diving-catch catch modifier (#316)
  packages/game-engine/src/mechanics/diving-catch.test.ts
  packages/game-engine/src/mechanics/passing.ts
Labels: game-engine

feat(game-engine): O.1 batch 3e - catch + pass personal rerolls
  packages/game-engine/src/mechanics/catch-pass-skill-reroll.test.ts
  packages/game-engine/src/mechanics/passing.ts
Labels: game-engine

feat(game-engine): O.1 batch 3e - catch + pass personal rerolls (#317)
  packages/game-engine/src/mechanics/catch-pass-skill-reroll.test.ts
  packages/game-engine/src/mechanics/passing.ts
Labels: game-engine

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
