Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

chore(release): 1.28.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  effb809f4f0e6a32affcf715de48093129e6b70e
Labels: none

feat: enhance team filtering and translations for tiers and seasons
  apps/web/app/i18n/translations.ts
  apps/web/app/teams/page.tsx
  packages/game-engine/src/rosters/positions.ts
  packages/game-engine/src/rosters/season3-rosters.ts
Labels: game-engine, web

chore(release): 1.29.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  738f3e19a425d8a435fc70e6bca0079860ace54b
Labels: none

feat: implement online play features and enhance navigation
  apps/web/app/AuthBar.tsx
  apps/web/app/components/Footer.tsx
  apps/web/app/components/Header.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/page.tsx
  apps/web/app/play/page.tsx
  apps/web/app/team/select/page.tsx
  apps/web/app/waiting-hidden/[id]/page.tsx
Labels: web

Refonte complète de la roadmap en 7 phases avec audit exhaustif
  TODO.md
Labels: none

feat(game-engine): complete phases 1-3 to 100% — skills, weather, kickoff, probabilities, referee
  TODO.md
  packages/game-engine/src/core/rules-config.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/kickoff-events.test.ts
  packages/game-engine/src/mechanics/kickoff-events.ts
  packages/game-engine/src/mechanics/tackle-zones.test.ts
  packages/game-engine/src/mechanics/tackle-zones.ts
  packages/game-engine/src/mechanics/weather-effects.test.ts
  packages/game-engine/src/mechanics/weather-effects.ts
  packages/game-engine/src/skills/skill-registry.test.ts
  packages/game-engine/src/skills/skill-registry.ts
  packages/game-engine/src/utils/probability-calculator.test.ts
  packages/game-engine/src/utils/probability-calculator.ts
  packages/game-engine/src/utils/referee.test.ts
  packages/game-engine/src/utils/referee.ts
Labels: game-engine

chore: update pnpm-lock.yaml after dependency install
  pnpm-lock.yaml
Labels: none

chore(release): 1.30.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  412c70978618fa7c52743c0d3aebdd61807c6348
Labels: none

fix: remove production API_BASE override that broke /match/* routes
  apps/web/app/auth-client.ts
Labels: web

chore(release): 1.30.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  2af96f04c464e2464e2bc83875beeb342b22c02a
Labels: none

fix: update match route to use 'roster' instead of 'rosterName' and enhance game state retrieval
  apps/server/src/routes/match.ts
  apps/web/app/play-hidden/[id]/hooks/useGameState.ts
Labels: web, server

chore(release): 1.30.2 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  4e7a7fc08e95e14e20b49a241a94e277b2e65884
Labels: none

feat: redesign mobile game UI with responsive layout and player initials
  apps/web/app/dugout-demo/page.tsx
  apps/web/app/play-hidden/[id]/page.tsx
  apps/web/app/play-hidden/page.tsx
  packages/ui/src/board/PixiBoard.tsx
  packages/ui/src/components/DugoutZone.tsx
  packages/ui/src/components/GameBoardWithDugouts.tsx
  packages/ui/src/components/PlayerDetails.tsx
  packages/ui/src/components/TeamDugout.tsx
Labels: packages-ui, web

fix: single board instance for ref + dynamic cellSize for drop coords
  apps/web/app/play-hidden/[id]/page.tsx
  packages/ui/src/board/PixiBoard.tsx
  packages/ui/src/components/GameBoardWithDugouts.tsx
Labels: packages-ui, web

chore(release): 1.31.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  5ec3df07d459f6777ba2608e4b1b507661ca3afd
Labels: none

feat(admin): add full match management to admin panel
  apps/server/src/routes/admin.ts
  apps/web/app/admin/matches/page.tsx
Labels: web, server

Fix admin matches: expand backend search and add cancelled status
  apps/server/src/routes/admin.ts
  apps/web/app/admin/matches/page.tsx
Labels: web, server

chore(release): 1.32.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  5a2e4008c8828f186f60105ddae361ef2dab59cd
Labels: none

ci: add auto-merge and auto-deploy pipeline
  .github/workflows/auto-merge.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  docker-compose.prod.yml
Labels: none

fix(ci): resolve CI failures and address PR review feedback
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  docker-compose.prod.yml
Labels: none

fix(ci): remove explicit pnpm version, use packageManager from package.json
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/semantic-release.yml
Labels: none

fix(lint): fix all lint errors in game-engine
  packages/game-engine/eslint.config.js
  packages/game-engine/src/core/debug-overlap.test.js
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/prevent-overlap.test.js
  packages/game-engine/src/core/setup-los-verification.test.js
  packages/game-engine/src/mechanics/injury.ts
  packages/game-engine/src/mechanics/kickoff-events.ts
  packages/game-engine/src/mechanics/passing.ts
  packages/game-engine/src/mechanics/weather-effects.ts
Labels: game-engine

fix: resolve build errors across game-engine and web app
  apps/web/app/admin/sync/page.tsx
  apps/web/app/cups/page.tsx
  apps/web/app/local-matches/new/page.tsx
  packages/config/tsconfig.base.json
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/core/types.ts
Labels: game-engine, web

Notes added by 'git notes add'
  aa9fa4f703c52baca1121ae920ed0f852838cddb
Labels: none

chore(release): 1.32.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

feat: enhance deployment commands and improve game state handling
  Makefile
  docker-compose.maintenance.yml
  maintenance/index.html
  maintenance/nginx.conf
  scripts/deploy.sh
  scripts/maintenance.sh
Labels: none

chore(release): 1.33.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  3e1b36e21e808933d9865477e852b4a9c448c85c
Labels: none

feat: enhance deployment commands and improve game state handling
  .claude/commands/bloodbowl-rules-agent.md
Labels: none

chore(release): 1.34.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  50c72a07d650c738f328583c884770a92f44de18
Labels: none

fix(ci): resolve build-check failures in Deploy to Production workflow
  apps/server/package.json
  apps/server/src/routes/local-match.ts
  apps/server/src/routes/team.ts
  apps/server/src/seed.ts
  apps/server/src/utils/team-values.ts
  apps/server/tsconfig.json
  apps/web/app/admin/data/star-players/page.tsx
  apps/web/app/cups/[id]/page.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/local-matches/share/[token]/page.tsx
  apps/web/app/me/teams/new/page.tsx
  apps/web/app/me/teams/skills-data.ts
  apps/web/app/play/page.tsx
  apps/web/app/teams/[slug]/page.tsx
  apps/web/tsconfig.json
  packages/game-engine/package.json
  packages/game-engine/vitest.config.ts
  packages/ui/src/components/__tests__/GameBoardWithDugouts.test.tsx
  packages/ui/src/components/__tests__/GameScoreboard.test.tsx
  packages/ui/src/components/__tests__/TeamDugout.test.tsx
  packages/ui/src/tests/DiceNotification.test.tsx
  packages/ui/tsconfig.json
  packages/ui/vitest.config.ts
  pnpm-lock.yaml
  tests/integration/admin-middleware.test.ts
  tests/integration/auth.test.ts
  tests/integration/local-stats-features.test.ts
  tests/integration/match-endpoints.test.ts
  tests/integration/match-start.test.ts
  tests/package.json
Labels: packages-ui, game-engine, web, server

chore: gitignore compiled JS artifacts and prisma binaries
  .gitignore
Labels: none

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
