Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"

feat(sim-engine): metriques vivacite (variance, fat-tails, Gini, upset rate) (0.D.3)
  docs/roadmap/sprints/SPRINT-pro-league.md
  packages/sim-engine/src/bench/metrics.test.ts
  packages/sim-engine/src/bench/metrics.ts
  packages/sim-engine/src/index.ts
Labels: none

feat(mobile): S27.3.10 — script audit i18n + baseline 42 strings hardcodees
  apps/mobile/lib/i18n-audit.test.ts
  apps/mobile/lib/i18n-audit.ts
  apps/mobile/package.json
  apps/mobile/scripts/audit-i18n.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: mobile

feat(sim-engine): métriques vivacité (variance, fat-tails, Gini, upset rate) (0.D.3) (#571)
  docs/roadmap/sprints/SPRINT-pro-league.md
  packages/sim-engine/src/bench/metrics.test.ts
  packages/sim-engine/src/bench/metrics.ts
  packages/sim-engine/src/index.ts
Labels: none

feat(sim-engine): dataset reference FUMBBL versionne (0.D.2)
  docs/roadmap/sprints/SPRINT-pro-league.md
  packages/sim-engine/src/bench/fumbbl-reference.test.ts
  packages/sim-engine/src/bench/fumbbl-reference.ts
  packages/sim-engine/src/bench/reference-fumbbl.json
  packages/sim-engine/src/index.ts
Labels: none

feat(sim-engine): dataset référence FUMBBL versionné (0.D.2) (#573)
  docs/roadmap/sprints/SPRINT-pro-league.md
  packages/sim-engine/src/bench/fumbbl-reference.test.ts
  packages/sim-engine/src/bench/fumbbl-reference.ts
  packages/sim-engine/src/bench/reference-fumbbl.json
  packages/sim-engine/src/index.ts
Labels: none

feat(mobile): S27.3.10 — script audit i18n (baseline 42 strings) (#572)
  apps/mobile/lib/i18n-audit.test.ts
  apps/mobile/lib/i18n-audit.ts
  apps/mobile/package.json
  apps/mobile/scripts/audit-i18n.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: mobile

feat(sim-engine): CLI pnpm sim:bench (runner + formatter + report) (0.D.1)
  docs/roadmap/sprints/SPRINT-pro-league.md
  packages/sim-engine/package.json
  packages/sim-engine/scripts/bench.ts
  packages/sim-engine/src/bench/runner.test.ts
  packages/sim-engine/src/bench/runner.ts
Labels: none

feat(sim-engine): CLI pnpm sim:bench (runner + formatter + report) (0.D.1) (#574)
  docs/roadmap/sprints/SPRINT-pro-league.md
  packages/sim-engine/package.json
  packages/sim-engine/scripts/bench.ts
  packages/sim-engine/src/bench/runner.test.ts
  packages/sim-engine/src/bench/runner.ts
Labels: none

feat(sim-engine): CI bench regression gate (0.D.4) — closes lot D
  .github/workflows/sim-bench.yml
  docs/roadmap/sprints/SPRINT-pro-league.md
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/package.json
  packages/sim-engine/scripts/bench-baseline-snapshot.ts
  packages/sim-engine/scripts/bench-ci.ts
  packages/sim-engine/src/bench/baseline.test.ts
  packages/sim-engine/src/bench/baseline.ts
  packages/sim-engine/src/index.ts
Labels: none

feat(sim-engine): CI bench regression gate — closes lot D (0.D.4) (#575)
  .github/workflows/sim-bench.yml
  docs/roadmap/sprints/SPRINT-pro-league.md
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/package.json
  packages/sim-engine/scripts/bench-baseline-snapshot.ts
  packages/sim-engine/scripts/bench-ci.ts
  packages/sim-engine/src/bench/baseline.test.ts
  packages/sim-engine/src/bench/baseline.ts
  packages/sim-engine/src/index.ts
Labels: none

feat(admin): petit utilitaire admin pour simuler une paire d'equipes Pro League
  apps/server/package.json
  apps/server/src/index.ts
  apps/server/src/routes/admin-sim.test.ts
  apps/server/src/routes/admin-sim.ts
  apps/server/vitest.config.ts
  apps/web/app/admin/layout.tsx
  apps/web/app/admin/sim/page.tsx
  pnpm-lock.yaml
Labels: web, server

feat(admin): petit utilitaire admin pour simuler des paires Pro League (#576)
  apps/server/package.json
  apps/server/src/index.ts
  apps/server/src/routes/admin-sim.test.ts
  apps/server/src/routes/admin-sim.ts
  apps/server/vitest.config.ts
  apps/web/app/admin/layout.tsx
  apps/web/app/admin/sim/page.tsx
  pnpm-lock.yaml
Labels: web, server

feat(sim-engine): replay sampling tool — pnpm sim:replay (0.E.2)
  docs/roadmap/sprints/SPRINT-pro-league.md
  packages/sim-engine/package.json
  packages/sim-engine/scripts/replay.ts
  packages/sim-engine/src/driver/hybrid-driver.ts
  packages/sim-engine/src/index.ts
  packages/sim-engine/src/replay/narrator.test.ts
  packages/sim-engine/src/replay/narrator.ts
Labels: none

fix(docker): add sim-engine and shared-types package.json to server Dockerfile
  Dockerfile.server
Labels: none

chore(release): 1.85.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  8c1ac6523375bea3cc2bce6ed403cf0743c2c8d2
Labels: none

chore(release): 1.86.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  2e828e39745eb1d21e5c095e0ceccf9253445507
Labels: none

feat(sim-engine): tuning iteration #1 — race-aware LOS + pace yards (0.E.1)
  docs/roadmap/sprints/SPRINT-pro-league.md
  packages/sim-engine/CHANGELOG.md
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/src/driver/hybrid-driver.ts
  packages/sim-engine/src/types.ts
Labels: none

feat(sim-engine): tuning iteration #1 — race-aware LOS + pace yards (0.E.1) (#578)
  docs/roadmap/sprints/SPRINT-pro-league.md
  packages/sim-engine/CHANGELOG.md
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/src/driver/hybrid-driver.ts
  packages/sim-engine/src/types.ts
Labels: none

docs(pro-league): gate Phase 0 → Phase 1 (sprint 0.E.4) — closes Phase 0
  docs/roadmap/sprints/SPRINT-pro-league.md
  docs/roadmap/sprints/pro-league-gate.md
Labels: none

docs(pro-league): gate Phase 0 → Phase 1 — closes Phase 0 (0.E.4) (#580)
  docs/roadmap/sprints/SPRINT-pro-league.md
  docs/roadmap/sprints/pro-league-gate.md
Labels: none

feat(mobile): S27.3.11 i18n teams detail screen (FR/EN)
  apps/mobile/app/teams/[id].tsx
  apps/mobile/lib/i18n.test.ts
  apps/mobile/lib/translations/en.ts
  apps/mobile/lib/translations/fr.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: mobile

fix(admin): add missing Ligues link in admin sidebar nav
  apps/web/app/admin/layout.tsx
Labels: web

chore(release): 1.87.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  428819af202e2f067d0950bbc56cb69ac1cebab4
Labels: none

feat(sim-engine): tuning iter #2 — engineVer 0.3.0 (block→armor chain + tv per team + bash counter + fat-tails)
  docs/roadmap/sprints/pro-league-gate.md
  packages/sim-engine/CHANGELOG.md
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/src/bench/runner.test.ts
  packages/sim-engine/src/driver/hybrid-driver.ts
  packages/sim-engine/src/resolvers/block.ts
  packages/sim-engine/src/resolvers/resolvers.test.ts
  packages/sim-engine/src/tactics/race-profiles.ts
  packages/sim-engine/src/types.ts
Labels: none

feat(sim-engine): tuning iter #2 — engineVer 0.3.0 (block→armor + tv per team + bash counter + fat-tails) (#582)
  docs/roadmap/sprints/pro-league-gate.md
  packages/sim-engine/CHANGELOG.md
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/src/bench/runner.test.ts
  packages/sim-engine/src/driver/hybrid-driver.ts
  packages/sim-engine/src/resolvers/block.ts
  packages/sim-engine/src/resolvers/resolvers.test.ts
  packages/sim-engine/src/tactics/race-profiles.ts
  packages/sim-engine/src/types.ts
Labels: none

feat(mobile): S27.3.11 i18n teams detail screen (FR/EN) (#581)
  apps/mobile/app/teams/[id].tsx
  apps/mobile/lib/i18n.test.ts
  apps/mobile/lib/translations/en.ts
  apps/mobile/lib/translations/fr.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: mobile

feat(sim-engine): tuning iter #3 — engineVer 0.4.0 (upset metric fix + bash /30 + fat-tails 4% + bash extra moments)
  docs/roadmap/sprints/pro-league-gate.md
  packages/sim-engine/CHANGELOG.md
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/src/bench/metrics.test.ts
  packages/sim-engine/src/bench/metrics.ts
  packages/sim-engine/src/driver/hybrid-driver.ts
  packages/sim-engine/src/types.ts
Labels: none

feat(sim-engine): tuning iter #3 — engineVer 0.4.0 (upset metric fix + bash recalibration) (#583)
  docs/roadmap/sprints/pro-league-gate.md
  packages/sim-engine/CHANGELOG.md
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/src/bench/metrics.test.ts
  packages/sim-engine/src/bench/metrics.ts
  packages/sim-engine/src/driver/hybrid-driver.ts
  packages/sim-engine/src/types.ts
Labels: none

feat(sim-engine): tuning iter #4 — engineVer 0.5.0 (defensive disruption + bash /25 + breakthrough +30 + bash threshold 60)
  docs/roadmap/sprints/pro-league-gate.md
  packages/sim-engine/CHANGELOG.md
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/src/driver/hybrid-driver.ts
  packages/sim-engine/src/types.ts
Labels: none

feat(nav): refonte menus principal et utilisateur (Option A)
  apps/web/app/AuthBar.tsx
  apps/web/app/components/Header.tsx
  apps/web/app/i18n/translations.ts
Labels: web

chore(release): 1.88.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  611c26a31bf679a7d107a3b836156a1c7c715dc9
Labels: none

feat(feedback): add public feedback form with admin console
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/middleware/rateLimiter.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/feedback.test.ts
  apps/server/src/routes/feedback.ts
  apps/server/src/schemas/feedback.schemas.test.ts
  apps/server/src/schemas/feedback.schemas.ts
  apps/server/src/services/turnstile.test.ts
  apps/server/src/services/turnstile.ts
  apps/web/app/admin/feedback/page.tsx
  apps/web/app/admin/layout.tsx
  apps/web/app/components/FeedbackForm.test.tsx
  apps/web/app/components/FeedbackForm.tsx
  apps/web/app/components/Footer.tsx
  apps/web/app/components/TurnstileWidget.tsx
  apps/web/app/feedback/layout.tsx
  apps/web/app/feedback/page.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/lib/feedback.ts
  prisma/migrations/20260506000000_add_feedback/migration.sql
  prisma/schema.prisma
Labels: web, server

feat(sim-engine): tuning iter #4 — engineVer 0.5.0 (defensive disruption + bash /25 + breakthrough +30) (#584)
  docs/roadmap/sprints/pro-league-gate.md
  packages/sim-engine/CHANGELOG.md
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/src/driver/hybrid-driver.ts
  packages/sim-engine/src/types.ts
Labels: none

feat(sim-engine): tuning iter #5 — engineVer 0.6.0 (Nuffle casualty injection + bash /28 + breakthrough 6%)
  docs/roadmap/sprints/pro-league-gate.md
  packages/sim-engine/CHANGELOG.md
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/src/driver/hybrid-driver.ts
  packages/sim-engine/src/types.ts
Labels: none

Add public feedback form with Turnstile CAPTCHA (#585)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/middleware/rateLimiter.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/feedback.test.ts
  apps/server/src/routes/feedback.ts
  apps/server/src/schemas/feedback.schemas.test.ts
  apps/server/src/schemas/feedback.schemas.ts
  apps/server/src/services/turnstile.test.ts
  apps/server/src/services/turnstile.ts
  apps/web/app/admin/feedback/page.tsx
  apps/web/app/admin/layout.tsx
  apps/web/app/components/FeedbackForm.test.tsx
  apps/web/app/components/FeedbackForm.tsx
  apps/web/app/components/Footer.tsx
  apps/web/app/components/TurnstileWidget.tsx
  apps/web/app/feedback/layout.tsx
  apps/web/app/feedback/page.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/lib/feedback.ts
  prisma/migrations/20260506000000_add_feedback/migration.sql
  prisma/schema.prisma
Labels: web, server

feat(sim-engine): tuning iter #5 — engineVer 0.6.0 (Nuffle casualty injection + bash /28 + breakthrough 6%) (#586)
  docs/roadmap/sprints/pro-league-gate.md
  packages/sim-engine/CHANGELOG.md
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/src/driver/hybrid-driver.ts
  packages/sim-engine/src/types.ts
Labels: none
