Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

Notes added by 'git notes add'
  ee3268846f21906d51430cb21f79bc3095901e34
Labels: none

feat: add sync rosters script and update High Elf roster for Season 3
  apps/server/package.json
  apps/server/src/scripts/sync-rosters.ts
  docs/high-elf-roster-s3-fix-2026-06-05.md
  packages/game-engine/src/rosters/season3-rosters.test.ts
  packages/game-engine/src/rosters/season3-rosters.ts
  packages/game-engine/src/rosters/skill-access-season3.ts
Labels: game-engine, server

chore(release): 1.171.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  127833a6b585ce053cee5173b56807ff5d31fd10
Labels: none

fix: update High Elf roster shadows to prevent data sync issues
  docs/high-elf-roster-s3-fix-2026-06-05.md
Labels: none

chore(release): 1.171.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  c526b0b6b16378a58cd255f37c9e47824695f352
Labels: none

feat(league): block team withdraw after season start (Lot B)
  apps/server/src/routes/admin-leagues.ts
  apps/server/src/routes/league.test.ts
  apps/server/src/routes/league.ts
  apps/server/src/services/league.test.ts
  apps/server/src/services/league.ts
Labels: server

feat(league): add coach invitations system (Lot A)
  apps/server/src/index.ts
  apps/server/src/routes/league-invitation.test.ts
  apps/server/src/routes/league-invitation.ts
  apps/server/src/schemas/league-invitation.schemas.ts
  apps/server/src/services/featureFlags.ts
  apps/server/src/services/league-invitation.test.ts
  apps/server/src/services/league-invitation.ts
  apps/web/app/leagues/[id]/InviteCoachModal.tsx
  apps/web/app/leagues/invitations/[code]/page.tsx
  apps/web/app/me/league-invitations/page.tsx
  prisma/migrations/20260605120000_add_league_invitation/migration.sql
  prisma/schema.prisma
Labels: web, server

feat(league): manual round and pairing management (Lot F)
  apps/server/src/routes/league.ts
  apps/server/src/schemas/league-manual-pairing.schemas.ts
  apps/server/src/services/league-manual-pairing.test.ts
  apps/server/src/services/league-manual-pairing.ts
Labels: server

feat(league): configurable bonus points per criteria (Lot E)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/routes/league.ts
  apps/server/src/schemas/league.schemas.ts
  apps/server/src/services/featureFlags.ts
  apps/server/src/services/league-bonus-points.test.ts
  apps/server/src/services/league-bonus-points.ts
  apps/server/src/services/league-match-result.test.ts
  apps/server/src/services/league-match-result.ts
  apps/server/src/services/league.ts
  prisma/migrations/20260605130000_add_league_bonus_points/migration.sql
  prisma/schema.prisma
Labels: server

feat(league): multi-pool (groups) support (Lot C.1)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/routes/league.ts
  apps/server/src/schemas/league-pool.schemas.ts
  apps/server/src/services/league-pool.test.ts
  apps/server/src/services/league-pool.ts
  apps/server/src/services/league.ts
  prisma/migrations/20260605140000_add_league_pool/migration.sql
  prisma/schema.prisma
Labels: server

feat(league): override playoff participants (Lot D)
  apps/server/src/routes/league.ts
  apps/server/src/services/league-playoff-override.test.ts
  apps/server/src/services/league-playoffs.ts
Labels: server

feat(league): top-N player leaderboards per season (Lot J)
  apps/server/src/routes/league.ts
  apps/server/src/services/featureFlags.ts
  apps/server/src/services/league-player-stats.test.ts
  apps/server/src/services/league-player-stats.ts
  apps/web/app/leagues/[id]/seasons/[sid]/leaderboards/page.tsx
Labels: web, server

feat(league): commissioner ex-post team editing (Lot I)
  apps/server/src/routes/league.ts
  apps/server/src/schemas/commissioner-team-edit.schemas.ts
  apps/server/src/services/commissioner-team-edit.test.ts
  apps/server/src/services/commissioner-team-edit.ts
  apps/server/src/services/featureFlags.ts
Labels: server

fix(rosters): align High Elf S3 reference data with themed roster
  packages/game-engine/src/rosters/season3-reference-data.ts
Labels: game-engine

feat(league): per-pool round-robin scheduler (Lot C.2)
  apps/server/src/services/league-schedule.test.ts
  apps/server/src/services/league-schedule.ts
  apps/server/src/services/league-scheduler.test.ts
  apps/server/src/services/league-scheduler.ts
Labels: server

feat(league): match sheet v2 foundation - model, events, state machine (Lot G.1)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/routes/league.ts
  apps/server/src/schemas/league-match-sheet.schemas.ts
  apps/server/src/services/featureFlags.ts
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-match-summary.test.ts
  apps/server/src/services/league-match-summary.ts
  prisma/migrations/20260605160000_add_league_match_sheet/migration.sql
  prisma/schema.prisma
Labels: server

feat(league): apply validated match-sheet effects (Lot G.2)
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
Labels: server

feat(league): commissioner validation alerts + pending list + sheet UI (Lot H + G.3 minimal)
  apps/server/src/routes/league.ts
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/notification-preferences.ts
  apps/server/src/services/push-notifications.ts
  apps/web/app/leagues/[id]/pending-validations/page.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
Labels: web, server

feat(league): match sheet v2 — model, validation effects, commissioner alerts (Lots G + H) (#887)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/routes/league.ts
  apps/server/src/schemas/league-match-sheet.schemas.ts
  apps/server/src/services/featureFlags.ts
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-match-summary.test.ts
  apps/server/src/services/league-match-summary.ts
  apps/server/src/services/notification-preferences.ts
  apps/server/src/services/push-notifications.ts
  apps/web/app/leagues/[id]/pending-validations/page.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
  prisma/migrations/20260605160000_add_league_match_sheet/migration.sql
  prisma/schema.prisma
Labels: web, server

feat(league): match-sheet polish - pre/post-match panels, auto treasury, invalidation window
  apps/server/src/routes/league.ts
  apps/server/src/schemas/league-match-sheet.schemas.ts
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-match-summary.test.ts
  apps/server/src/services/league-match-summary.ts
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
Labels: web, server

feat(league): match-sheet polish — pre/post-match panels, auto treasury, invalidation window (#888)
  apps/server/src/routes/league.ts
  apps/server/src/schemas/league-match-sheet.schemas.ts
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-match-summary.test.ts
  apps/server/src/services/league-match-summary.ts
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
Labels: web, server

docs(league): session recap + feature-flag rollout guide
  CLAUDE.md
  docs/roadmap/league-feature-flags-rollout.md
  docs/roadmap/sessions/2026-06-06-league-management.md
Labels: none

docs(league): session recap + feature-flag rollout guide (#889)
  CLAUDE.md
  docs/roadmap/league-feature-flags-rollout.md
  docs/roadmap/sessions/2026-06-06-league-management.md
Labels: none

feat(league): add test participant functionality and fix database sync
  apps/server/src/index.ts
  apps/server/src/routes/league-test-data.test.ts
  apps/server/src/routes/league-test-data.ts
  apps/web/app/i18n/translations.ts
  apps/web/app/leagues/[id]/TestParticipantButton.tsx
  apps/web/app/leagues/[id]/page.tsx
  apps/web/app/lib/featureFlagKeys.ts
  docker-compose.yml
  docs/league-usage-fixes-2026-06-08.md
Labels: web, server

chore(release): 1.172.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  7171763686d03155bf148ca71e3a94bae3ea5d22
Labels: none

feat(league): add LeaguePool and LeagueMatch models with bonus points configuration
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  docker-compose.prod.yml
Labels: server

chore(release): 1.173.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  f20513c4ce64d66e3b3ae1a65df5f308297dcdf1
Labels: none

fix(local-matches): make email and team fields optional
  apps/web/app/admin/local-matches/page.tsx
Labels: web

chore(release): 1.173.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  49ce44473e656171fec46835f433847e439af942
Labels: none

feat(home): refonte de la home page dans l'esprit Blood Bowl
  apps/web/app/i18n/translations.ts
  apps/web/app/page.tsx
Labels: web

feat(home): UI homogene parchemin + iconographie maison (v2)
  apps/web/app/components/LatestBlogPosts.tsx
  apps/web/app/components/home/NuffleArt.tsx
  apps/web/app/page.tsx
Labels: web

feat(home): retire bandeau beta, ajoute coupes/ligues, clarifie offline (v3)
  apps/web/app/components/LatestBlogPosts.tsx
  apps/web/app/components/home/NuffleArt.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/page.tsx
Labels: web

feat(home): refonte de la home page dans l'esprit Blood Bowl (#890)
  apps/web/app/components/LatestBlogPosts.tsx
  apps/web/app/components/home/NuffleArt.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/page.tsx
Labels: web

feat(home): annonce ligue beta dediee + illustrations maison (v4)
  apps/web/app/components/home/NuffleScenes.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/page.tsx
Labels: web

feat(home): 20 citations de Nuffle tirees au hasard a chaque chargement
  apps/web/app/i18n/translations.ts
  apps/web/app/page.tsx
Labels: web

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
