Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

feat(crowns): l'admin voit le registre des récompenses d'un coach
  apps/server/src/routes/admin-crowns-rewards-access.test.ts
  apps/server/src/routes/admin-dice-themes.test.ts
  apps/server/src/routes/admin-dice-themes.ts
  apps/server/src/services/crowns-rewards.test.ts
  apps/server/src/services/crowns-rewards.ts
  apps/web/app/admin/coach-cosmetics/[userId]/CoachCrownsRewards.test.tsx
  apps/web/app/admin/coach-cosmetics/[userId]/CoachCrownsRewards.tsx
  apps/web/app/admin/coach-cosmetics/[userId]/page.test.tsx
  apps/web/app/admin/coach-cosmetics/[userId]/page.tsx
  apps/web/app/lib/admin-dice-themes.ts
  apps/web/app/lib/crowns.test.ts
  apps/web/app/lib/crowns.ts
  openspec/changes/crowns-earning/tasks.md
Labels: web, server

fix(pro-league): un match de bac à sable tourne sur le moteur courant
  apps/server/src/services/pro-league-engine-version.test.ts
  apps/server/src/services/pro-league-engine-version.ts
  apps/server/src/services/pro-league-sandbox.test.ts
  apps/server/src/services/pro-league-sandbox.ts
  apps/server/src/services/pro-league-sim-runner.test.ts
  apps/server/src/services/pro-league-sim-runner.ts
Labels: server

fix(crowns): les derniers écrivains du wallet deviennent atomiques
  apps/server/src/services/pro-hall-of-fame-dedicate.test.ts
  apps/server/src/services/pro-hall-of-fame-dedicate.ts
  apps/server/src/services/pro-tournament-entry.test.ts
  apps/server/src/services/pro-tournament-entry.ts
  apps/server/src/services/pro-wallet-rewards.test.ts
  apps/server/src/services/pro-wallet-rewards.ts
  apps/server/src/services/pro-wallet.ts
  openspec/changes/crowns-earning/tasks.md
Labels: server

fix(sim-engine): debug-match --full joue sur de vrais rosters
  packages/sim-engine/scripts/debug-match.ts
  packages/sim-engine/src/driver/engine-roster-fixture.test.ts
  packages/sim-engine/src/driver/engine-roster-fixture.ts
  packages/sim-engine/src/index.ts
Labels: none

feat(sim-engine): `pnpm sim:match` — un match full driver, lisible
  packages/sim-engine/package.json
  packages/sim-engine/scripts/match.ts
  packages/sim-engine/src/match/single-match.test.ts
  packages/sim-engine/src/match/single-match.ts
Labels: none

docs(sim-engine): changelog — sim:match et debug-match --full
  packages/sim-engine/CHANGELOG.md
Labels: none

docs(changeset): bac à sable Pro League et sim:match
  .changeset/sim-match-et-bac-a-sable-pro-league.md
Labels: none

test(crowns): parcours e2e des Couronnes gagnées, suites et déploiement
  apps/server/src/index.ts
  docs/roadmap/backlog/openspec-suites.md
  openspec/changes/crowns-earning/design.md
  openspec/changes/crowns-earning/tasks.md
  tests/e2e-api/specs/crowns-earning.spec.ts
  tests/e2e-api/specs/dice-themes-crowns.spec.ts
Labels: server

fix(pro-league): bac à sable sur le moteur courant + `pnpm sim:match` (#1065)
  .changeset/sim-match-et-bac-a-sable-pro-league.md
  apps/server/src/services/pro-league-engine-version.test.ts
  apps/server/src/services/pro-league-engine-version.ts
  apps/server/src/services/pro-league-sandbox.test.ts
  apps/server/src/services/pro-league-sandbox.ts
  apps/server/src/services/pro-league-sim-runner.test.ts
  apps/server/src/services/pro-league-sim-runner.ts
  packages/sim-engine/CHANGELOG.md
  packages/sim-engine/package.json
  packages/sim-engine/scripts/debug-match.ts
  packages/sim-engine/scripts/match.ts
  packages/sim-engine/src/driver/engine-roster-fixture.test.ts
  packages/sim-engine/src/driver/engine-roster-fixture.ts
  packages/sim-engine/src/index.ts
  packages/sim-engine/src/match/single-match.test.ts
  packages/sim-engine/src/match/single-match.ts
Labels: server

chore(release): 1.256.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  e3ee234e4c9a18f005cdc784b0786a97eaea3889
Labels: none

docs(changeset): les Couronnes se gagnent en jouant
  .changeset/couronnes-gagnees-en-jouant.md
Labels: none

chore(release): 1.257.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  fe5ec021e77a49f7922437ff847bd6331a82b4f9
Labels: none

docs(openspec): archive de crowns-earning
  CLAUDE.md
  docs/roadmap/backlog/openspec-suites.md
  openspec/changes/archive/2026-10-07-crowns-earning/proposal.md
Labels: none

docs(openspec): sync des specs de crowns-earning
  openspec/changes/archive/2026-10-07-crowns-earning/.openspec.yaml
  openspec/changes/archive/2026-10-07-crowns-earning/design.md
  openspec/changes/archive/2026-10-07-crowns-earning/proposal.md
  openspec/changes/archive/2026-10-07-crowns-earning/specs/crowns/spec.md
  openspec/changes/archive/2026-10-07-crowns-earning/tasks.md
  openspec/specs/crowns/spec.md
Labels: none

ci: relever le timeout du job ci de 20 a 30 min
  .github/workflows/ci.yml
Labels: none

docs(openspec): sync et archive de crowns-earning (#1067)
  .github/workflows/ci.yml
  CLAUDE.md
  docs/roadmap/backlog/openspec-suites.md
  openspec/changes/archive/2026-10-07-crowns-earning/.openspec.yaml
  openspec/changes/archive/2026-10-07-crowns-earning/design.md
  openspec/changes/archive/2026-10-07-crowns-earning/proposal.md
  openspec/changes/archive/2026-10-07-crowns-earning/specs/crowns/spec.md
  openspec/changes/archive/2026-10-07-crowns-earning/tasks.md
  openspec/specs/crowns/spec.md
Labels: none

docs(openspec): change playoff-pool-quota-clarity
  openspec/changes/playoff-pool-quota-clarity/.openspec.yaml
  openspec/changes/playoff-pool-quota-clarity/design.md
  openspec/changes/playoff-pool-quota-clarity/proposal.md
  openspec/changes/playoff-pool-quota-clarity/specs/cup-playoffs/spec.md
  openspec/changes/playoff-pool-quota-clarity/specs/league-playoff-launch/spec.md
  openspec/changes/playoff-pool-quota-clarity/tasks.md
Labels: none

fix(playoffs): le panneau annonce un TOTAL de qualifies, detaille par poule
  apps/web/app/admin/cups/[id]/page.tsx
  apps/web/app/cups/[id]/CupPlayoffBracketView.test.tsx
  apps/web/app/cups/[id]/CupPlayoffBracketView.tsx
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/leagues/[id]/PlayoffBracketView.launch.test.tsx
  apps/web/app/leagues/[id]/PlayoffBracketView.tsx
  apps/web/app/lib/pool-qualification.test.ts
  apps/web/app/lib/pool-qualification.ts
Labels: web

feat(playoffs): detail des quotas par poule dans poolQualification
  apps/server/src/routes/league-playoff-routes.test.ts
  apps/server/src/routes/league.ts
  apps/server/src/services/bracket-seeding.test.ts
  apps/server/src/services/bracket-seeding.ts
  apps/server/src/services/cup-playoffs.test.ts
  apps/server/src/services/cup-playoffs.ts
Labels: server

fix(leagues): la creation de poule garde le dernier quota saisi
  apps/web/app/leagues/[id]/PoolsManagerPanel.test.tsx
  apps/web/app/leagues/[id]/PoolsManagerPanel.tsx
Labels: web

fix(leagues): le quota de qualifies d'une poule se corrige jusqu'au bracket
  apps/server/src/routes/league-playoff-routes.test.ts
  apps/server/src/routes/league.ts
  apps/server/src/services/league-pool.test.ts
  apps/server/src/services/league-pool.ts
  apps/web/app/leagues/[id]/PlayoffBracketView.launch.test.tsx
  apps/web/app/leagues/[id]/PlayoffBracketView.tsx
  apps/web/app/leagues/[id]/PoolsManagerPanel.test.tsx
  apps/web/app/leagues/[id]/PoolsManagerPanel.tsx
  apps/web/app/leagues/[id]/page.tsx
  apps/web/app/leagues/[id]/pool-quota-window.test.ts
  apps/web/app/leagues/[id]/pool-quota-window.ts
  apps/web/app/leagues/[id]/types.ts
Labels: web, server

docs: quota de poule de ligue corrigeable jusqu'au bracket
  CLAUDE.md
  docs/roadmap/backlog/openspec-suites.md
  openspec/changes/playoff-pool-quota-clarity/tasks.md
Labels: none

chore(changeset): quotas de poule des play-offs
  .changeset/quotas-de-poule-playoffs.md
Labels: none

fix(playoffs): quotas de poule — un panneau qui dit vrai, un quota qui se corrige (#1068)
  .changeset/quotas-de-poule-playoffs.md
  CLAUDE.md
  apps/server/src/routes/league-playoff-routes.test.ts
  apps/server/src/routes/league.ts
  apps/server/src/services/bracket-seeding.test.ts
  apps/server/src/services/bracket-seeding.ts
  apps/server/src/services/cup-playoffs.test.ts
  apps/server/src/services/cup-playoffs.ts
  apps/server/src/services/league-pool.test.ts
  apps/server/src/services/league-pool.ts
  apps/web/app/admin/cups/[id]/page.tsx
  apps/web/app/cups/[id]/CupPlayoffBracketView.test.tsx
  apps/web/app/cups/[id]/CupPlayoffBracketView.tsx
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/leagues/[id]/PlayoffBracketView.launch.test.tsx
  apps/web/app/leagues/[id]/PlayoffBracketView.tsx
  apps/web/app/leagues/[id]/PoolsManagerPanel.test.tsx
  apps/web/app/leagues/[id]/PoolsManagerPanel.tsx
  apps/web/app/leagues/[id]/page.tsx
  apps/web/app/leagues/[id]/pool-quota-window.test.ts
  apps/web/app/leagues/[id]/pool-quota-window.ts
  apps/web/app/leagues/[id]/types.ts
  apps/web/app/lib/pool-qualification.test.ts
  apps/web/app/lib/pool-qualification.ts
  docs/roadmap/backlog/openspec-suites.md
  openspec/changes/playoff-pool-quota-clarity/.openspec.yaml
  openspec/changes/playoff-pool-quota-clarity/design.md
  openspec/changes/playoff-pool-quota-clarity/proposal.md
  openspec/changes/playoff-pool-quota-clarity/specs/cup-playoffs/spec.md
  openspec/changes/playoff-pool-quota-clarity/specs/league-playoff-launch/spec.md
  openspec/changes/playoff-pool-quota-clarity/tasks.md
Labels: web, server

chore(release): 1.257.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  fcdfc61604c2713edc78e28520b718da02e1ee85
Labels: none

docs(openspec): sync des specs de playoff-pool-quota-clarity
  openspec/changes/playoff-pool-quota-clarity/specs/league-playoff-launch/spec.md
  openspec/specs/cup-playoffs/spec.md
  openspec/specs/league-playoff-launch/spec.md
Labels: none

docs(openspec): archive de playoff-pool-quota-clarity
  CLAUDE.md
  docs/roadmap/backlog/openspec-suites.md
  openspec/changes/archive/2026-10-07-playoff-pool-quota-clarity/.openspec.yaml
  openspec/changes/archive/2026-10-07-playoff-pool-quota-clarity/design.md
  openspec/changes/archive/2026-10-07-playoff-pool-quota-clarity/proposal.md
  openspec/changes/archive/2026-10-07-playoff-pool-quota-clarity/specs/cup-playoffs/spec.md
  openspec/changes/archive/2026-10-07-playoff-pool-quota-clarity/specs/league-playoff-launch/spec.md
  openspec/changes/archive/2026-10-07-playoff-pool-quota-clarity/tasks.md
Labels: none

docs(openspec): sync et archive de playoff-pool-quota-clarity (#1069)
  CLAUDE.md
  docs/roadmap/backlog/openspec-suites.md
  openspec/changes/archive/2026-10-07-playoff-pool-quota-clarity/.openspec.yaml
  openspec/changes/archive/2026-10-07-playoff-pool-quota-clarity/design.md
  openspec/changes/archive/2026-10-07-playoff-pool-quota-clarity/proposal.md
  openspec/changes/archive/2026-10-07-playoff-pool-quota-clarity/specs/cup-playoffs/spec.md
  openspec/changes/archive/2026-10-07-playoff-pool-quota-clarity/specs/league-playoff-launch/spec.md
  openspec/changes/archive/2026-10-07-playoff-pool-quota-clarity/tasks.md
  openspec/specs/cup-playoffs/spec.md
  openspec/specs/league-playoff-launch/spec.md
Labels: none

docs(openspec): proposition cup-sheet-entry-mode
  openspec/changes/cup-sheet-entry-mode/.openspec.yaml
  openspec/changes/cup-sheet-entry-mode/design.md
  openspec/changes/cup-sheet-entry-mode/proposal.md
  openspec/changes/cup-sheet-entry-mode/specs/competition-pdf-exports/spec.md
  openspec/changes/cup-sheet-entry-mode/specs/cup-match-sheet/spec.md
  openspec/changes/cup-sheet-entry-mode/specs/cup-standings-criteria/spec.md
  openspec/changes/cup-sheet-entry-mode/specs/site-help/spec.md
  openspec/changes/cup-sheet-entry-mode/tasks.md
Labels: none

docs(openspec): cup-sheet-entry-mode garde le design et le parcours de la ligue
  openspec/changes/cup-sheet-entry-mode/design.md
  openspec/changes/cup-sheet-entry-mode/proposal.md
  openspec/changes/cup-sheet-entry-mode/specs/cup-match-sheet/spec.md
  openspec/changes/cup-sheet-entry-mode/tasks.md
Labels: none

feat(cup-sheet): mode de saisie de la feuille porté par la coupe
  CLAUDE.md
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/services/competition-match-sheet-context.test.ts
  apps/server/src/services/competition-match-sheet-context.ts
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/sheet-entry-mode.test.ts
  apps/server/src/services/sheet-entry-mode.ts
  openspec/changes/cup-sheet-entry-mode/tasks.md
  prisma/schema.prisma
Labels: server

feat(cup): choisir le mode de saisie à la création et le changer à tout moment
  apps/server/src/routes/cup-sheet-entry-mode.test.ts
  apps/server/src/routes/cup.ts
  apps/server/src/schemas/cup.schemas.test.ts
  apps/server/src/schemas/cup.schemas.ts
  apps/server/src/seed.ts
  openspec/changes/cup-sheet-entry-mode/tasks.md
Labels: server

feat(cup-sheet): une élimination sur agression se compte sans gravité
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/services/cup-match-sheet.test.ts
  apps/server/src/services/cup-match-sheet.ts
  docs/cup-match-sheet.md
  openspec/changes/cup-sheet-entry-mode/design.md
  openspec/changes/cup-sheet-entry-mode/tasks.md
Labels: server

feat(sheet): profil de saisie partagé, complet ou simplifié
  apps/web/app/leagues/pairings/[id]/sheet/event-fields.test.ts
  apps/web/app/leagues/pairings/[id]/sheet/event-fields.ts
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
  apps/web/app/lib/sheet-entry-profile.test.ts
  apps/web/app/lib/sheet-entry-profile.ts
  openspec/changes/cup-sheet-entry-mode/tasks.md
Labels: web

feat(sheet): la feuille de coupe en saisie simplifiée retire des champs, sans rien redessiner
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.entry-mode.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
  openspec/changes/cup-sheet-entry-mode/tasks.md
Labels: web

feat(cups): choisir la saisie des feuilles à la création et à l'édition
  apps/web/app/cups/SheetEntryModeField.test.tsx
  apps/web/app/cups/SheetEntryModeField.tsx
  apps/web/app/cups/[id]/edit/page.test.tsx
  apps/web/app/cups/[id]/edit/page.tsx
  apps/web/app/cups/page.create.test.tsx
  apps/web/app/cups/page.tsx
  openspec/changes/cup-sheet-entry-mode/tasks.md
Labels: web

feat(pdf): la feuille papier d'une coupe simplifiée suit le même profil de saisie
  apps/web/app/lib/competition-pdf/adapters/match-sheet.test.ts
  apps/web/app/lib/competition-pdf/adapters/match-sheet.ts
  apps/web/app/lib/competition-pdf/documents/match-sheet-entry.ts
  apps/web/app/lib/competition-pdf/documents/match-sheet-roster.ts
  apps/web/app/lib/competition-pdf/documents/match-sheet.ts
  apps/web/app/lib/competition-pdf/fixtures.ts
  apps/web/app/lib/competition-pdf/render.test.ts
  apps/web/app/lib/competition-pdf/types.ts
  openspec/changes/cup-sheet-entry-mode/tasks.md
Labels: web

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
