Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"

fix(ligues): mirror allowedInducements dans le schema SQLite (FR17)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
Labels: server

fix(ligues): build deploy resilient quand l'API est injoignable
  apps/web/app/ligues/data.ts
Labels: web

chore(release): 1.202.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  240ffac93cebba272ab520a63328aae626ba540a
Labels: none

fix(web): builder-rosters ne sert jamais un catalogue vide mis en cache
  apps/web/app/api/builder-rosters/route.ts
Labels: web

chore(release): 1.202.2 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  f5997b4f9d239ba54784567ca09d25436f236fed
Labels: none

feat(ligues): suppression d'équipes/joueurs par le commissaire avant le démarrage
  apps/server/src/routes/league.ts
  apps/server/src/schemas/commissioner-team-edit.schemas.ts
  apps/server/src/services/commissioner-team-edit.ts
  apps/server/src/services/commissioner-team-removal.test.ts
  apps/server/src/services/commissioner-team-removal.ts
  apps/web/app/leagues/[id]/CommissionerTeamEditor.tsx
  apps/web/app/leagues/[id]/SeasonParticipants.test.tsx
  apps/web/app/leagues/[id]/SeasonParticipants.tsx
  apps/web/app/leagues/[id]/page.tsx
Labels: web, server

docs(openspec): proposal suppression équipes/joueurs commissaire pré-saison
  openspec/changes/add-commissioner-team-removal/design.md
  openspec/changes/add-commissioner-team-removal/proposal.md
  openspec/changes/add-commissioner-team-removal/specs/commissioner-team-removal/spec.md
  openspec/changes/add-commissioner-team-removal/tasks.md
Labels: none

feat(ligues): suppression d'équipes/joueurs par le commissaire avant le démarrage (#930)
  apps/server/src/routes/league.ts
  apps/server/src/schemas/commissioner-team-edit.schemas.ts
  apps/server/src/services/commissioner-team-edit.ts
  apps/server/src/services/commissioner-team-removal.test.ts
  apps/server/src/services/commissioner-team-removal.ts
  apps/web/app/leagues/[id]/CommissionerTeamEditor.tsx
  apps/web/app/leagues/[id]/SeasonParticipants.test.tsx
  apps/web/app/leagues/[id]/SeasonParticipants.tsx
  apps/web/app/leagues/[id]/page.tsx
  openspec/changes/add-commissioner-team-removal/design.md
  openspec/changes/add-commissioner-team-removal/proposal.md
  openspec/changes/add-commissioner-team-removal/specs/commissioner-team-removal/spec.md
  openspec/changes/add-commissioner-team-removal/tasks.md
Labels: web, server

fix(ligues): suppression d'équipe sans corps DELETE + retrait de coach par le commissaire
  apps/server/src/routes/league.ts
  apps/server/src/schemas/commissioner-team-edit.schemas.test.ts
  apps/server/src/schemas/commissioner-team-edit.schemas.ts
  apps/server/src/services/commissioner-team-removal.test.ts
  apps/server/src/services/commissioner-team-removal.ts
  apps/web/app/leagues/[id]/SeasonParticipants.test.tsx
  apps/web/app/leagues/[id]/SeasonParticipants.tsx
  openspec/changes/add-commissioner-team-removal/design.md
  openspec/changes/add-commissioner-team-removal/proposal.md
  openspec/changes/add-commissioner-team-removal/specs/commissioner-team-removal/spec.md
  openspec/changes/add-commissioner-team-removal/tasks.md
Labels: web, server

fix(ligues): suppression d'équipe sans corps DELETE + retrait de coach par le commissaire (#931)
  apps/server/src/routes/league.ts
  apps/server/src/schemas/commissioner-team-edit.schemas.test.ts
  apps/server/src/schemas/commissioner-team-edit.schemas.ts
  apps/server/src/services/commissioner-team-removal.test.ts
  apps/server/src/services/commissioner-team-removal.ts
  apps/web/app/leagues/[id]/SeasonParticipants.test.tsx
  apps/web/app/leagues/[id]/SeasonParticipants.tsx
  openspec/changes/add-commissioner-team-removal/design.md
  openspec/changes/add-commissioner-team-removal/proposal.md
  openspec/changes/add-commissioner-team-removal/specs/commissioner-team-removal/spec.md
  openspec/changes/add-commissioner-team-removal/tasks.md
Labels: web, server

fix(ci): type le findMany participants dans removeCoachFromSeason
  apps/server/src/services/commissioner-team-removal.ts
Labels: server

chore(release): 1.203.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  67f502574332eba5982b21e0936560a74c0be008
Labels: none

feat(admin): "se connecter en tant que" — token + route + /auth/me (serveur)
  apps/server/src/middleware/authUser.test.ts
  apps/server/src/middleware/authUser.ts
  apps/server/src/routes/admin-impersonate.test.ts
  apps/server/src/routes/admin.ts
  apps/server/src/routes/auth.ts
  apps/server/src/services/auth-tokens.impersonation.test.ts
  apps/server/src/services/auth-tokens.ts
Labels: server

feat(admin): UI "se connecter en tant que" + bascule de session (web)
  apps/web/app/ImpersonationBanner.tsx
  apps/web/app/admin/users/page.tsx
  apps/web/app/layout.tsx
  apps/web/app/lib/auth-storage.test.ts
  apps/web/app/lib/auth-storage.ts
Labels: web

docs(admin): impersonation — change OpenSpec + doc
  docs/admin-impersonation.md
  openspec/changes/add-admin-user-impersonation/proposal.md
  openspec/changes/add-admin-user-impersonation/specs/admin-user-impersonation/spec.md
  openspec/changes/add-admin-user-impersonation/tasks.md
Labels: none

chore(release): 1.204.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  b4d53034cacf5c66d091acedc60b1b0311d49a2c
Labels: none

feat(league): expose le nom lisible des positions sur la feuille de match
  apps/server/src/services/league-match-sheet.ts
Labels: server

feat(league): refonte UX de la saisie de match (avant + fin)
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
Labels: web

feat(league): roster-view lisible par tout coach inscrit
  apps/server/src/routes/league.ts
  apps/server/src/services/league.test.ts
  apps/server/src/services/league.ts
Labels: server

feat(league): bouton « Voir le roster » des participants
  apps/web/app/leagues/[id]/LeagueRosterModal.tsx
  apps/web/app/leagues/[id]/SeasonParticipants.test.tsx
  apps/web/app/leagues/[id]/SeasonParticipants.tsx
  apps/web/app/leagues/[id]/page.tsx
Labels: web

refactor(league): flag unique "league" — suppression des 7 sous-flags
  CLAUDE.md
  apps/server/src/services/featureFlags.ts
  apps/web/app/leagues/[id]/page.tsx
  apps/web/app/lib/featureFlagKeys.ts
  docs/roadmap/league-feature-flags-rollout.md
  docs/roadmap/league-feature-status-2026-06-26.md
Labels: web, server

chore(release): 1.205.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  85773f29808399dccec06b4d58e3c2431c3ca99d
Labels: none

feat(league): enrichit roster-view (coach, valeur d'equipe, staff, race)
  apps/server/src/routes/league.ts
  apps/web/app/leagues/[id]/LeagueRosterModal.tsx
Labels: web, server

feat(league): page roster dediee a la place de la modale
  apps/web/app/leagues/[id]/SeasonParticipants.test.tsx
  apps/web/app/leagues/[id]/SeasonParticipants.tsx
  apps/web/app/leagues/[id]/teams/[teamId]/page.test.tsx
  apps/web/app/leagues/[id]/teams/[teamId]/page.tsx
Labels: web

docs(league): consultation des rosters + polish saisie de match (2026-06-30)
  docs/league-rosters-and-match-sheet-ux-2026-06-30.md
Labels: none

feat(league): compétences avec nom + description sur la page roster
  apps/web/app/leagues/[id]/teams/[teamId]/page.test.tsx
  apps/web/app/leagues/[id]/teams/[teamId]/page.tsx
  docs/league-rosters-and-match-sheet-ux-2026-06-30.md
Labels: web

feat(league): implement seasonal MVP and Future Star calculations
  apps/server/src/services/league-player-stats.test.ts
  apps/server/src/services/league-player-stats.ts
  apps/server/src/services/spp-tracking.test.ts
  apps/server/src/services/spp-tracking.ts
  docs/roadmap/league-feature-status-2026-06-26.md
Labels: server

chore(release): 1.206.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  fb667fe3fb66d5ee2bb32564665a70b6eaf5cc38
Labels: none

fix(skills): swap French names for Stunty and Titchy skills
  packages/game-engine/src/skills/index.ts
  packages/game-engine/src/skills/stunty-armor.test.ts
Labels: game-engine

chore(release): 1.206.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  5aa01bb94252873e6e6a0f63890f707cc2e17ad9
Labels: none

feat(league): add "team_throw" to MATCH_EVENT_KINDS and update tests
  apps/server/src/services/league-match-summary.test.ts
  apps/server/src/services/league-match-summary.ts
Labels: server

fix(league): catalogue skills introuvable dans l'éditeur d'évolutions
  apps/web/app/components/AdvancementEditor.test.tsx
  apps/web/app/components/AdvancementEditor.tsx
Labels: web

chore(release): 1.207.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none
