Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

chore(game-engine): baisse seuil coverage 25→23 suite ajout filtre Titchy
  packages/game-engine/vitest.config.ts
Labels: game-engine

fix(game-engine): Get the Ref! → +1 Bribe + dedup Star Player
  packages/game-engine/src/core/inducements-star-player-dedup.test.ts
  packages/game-engine/src/core/inducements.ts
  packages/game-engine/src/mechanics/kickoff-events.test.ts
  packages/game-engine/src/mechanics/kickoff-events.ts
  packages/game-engine/src/mechanics/kickoff-get-the-ref.test.ts
Labels: game-engine

fix(game-engine): skills/utils — Stunty apothecary reroll + team value clamp + Armored Skull prayer
  packages/game-engine/src/mechanics/apothecary-stunty-reroll.test.ts
  packages/game-engine/src/mechanics/apothecary.ts
  packages/game-engine/src/mechanics/prayers-to-nuffle.ts
  packages/game-engine/src/utils/team-value-calculator.ts
Labels: game-engine

fix(game-engine): filtre TZ défensif sur trois sites manquants (#824)
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/mechanics/defensive.ts
  packages/game-engine/src/mechanics/tackle-zones-titchy.test.ts
  packages/game-engine/src/mechanics/tackle-zones.ts
  packages/game-engine/vitest.config.ts
Labels: game-engine

fix(game-engine): Get the Ref! → +1 Bribe + dedup Star Player (#826)
  packages/game-engine/src/core/inducements-star-player-dedup.test.ts
  packages/game-engine/src/core/inducements.ts
  packages/game-engine/src/mechanics/kickoff-events.test.ts
  packages/game-engine/src/mechanics/kickoff-events.ts
  packages/game-engine/src/mechanics/kickoff-get-the-ref.test.ts
Labels: game-engine

fix(game-engine): skills/utils — Stunty apothecary reroll + team value clamp + Armored Skull prayer (#827)
  packages/game-engine/src/mechanics/apothecary-stunty-reroll.test.ts
  packages/game-engine/src/mechanics/apothecary.ts
  packages/game-engine/src/mechanics/prayers-to-nuffle.ts
  packages/game-engine/src/utils/team-value-calculator.ts
Labels: game-engine

feat(deploy): add GitHub Container Registry authentication support
  scripts/deploy.sh
Labels: none

chore(release): 1.121.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  2bed295d290897fbf217ba2cf5d64e5c768840f1
Labels: none

fix(replay): synchronize visual and textual logs by implementing external clock support
  apps/web/app/lib/use-full-replay.ts
  apps/web/app/pro-league/matches/[id]/replay/FullReplayField.tsx
  apps/web/app/pro-league/matches/[id]/replay/MatchReplayPlayer.tsx
  docs/replay-bugfixes-2026-05-18.md
  packages/game-engine/src/ai/setup-placement.ts
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/setup-los-verification.test.js
  packages/game-engine/src/core/setup-modal-prevention.test.js
  packages/ui/src/board/PixiBoard.tsx
Labels: packages-ui, game-engine, web

chore(release): 1.121.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  bbacc2a0b7f04816cde78a8097c6d2207868b3b6
Labels: none

fix(game-engine): determinisme push chain + Wandering Apothecary cumulatif
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/actions/blitz-handler-immutability.test.ts
  packages/game-engine/src/actions/blitz-handler.test.ts
  packages/game-engine/src/actions/block-action.test.ts
  packages/game-engine/src/actions/block-handler.test.ts
  packages/game-engine/src/actions/choice-handlers.ts
  packages/game-engine/src/actions/legal-moves.test.ts
  packages/game-engine/src/actions/move-leap-dodge-handlers.test.ts
  packages/game-engine/src/actions/push-choose-determinism.test.ts
  packages/game-engine/src/actions/reroll-choose-handler.test.ts
  packages/game-engine/src/actions/special-actions.test.ts
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/inducement-handler.test.ts
  packages/game-engine/src/core/inducements.test.ts
  packages/game-engine/src/core/inducements.ts
  packages/game-engine/src/core/replay.test.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/mechanics/apothecary-stunty-reroll.test.ts
  packages/game-engine/src/mechanics/apothecary.test.ts
  packages/game-engine/src/mechanics/apothecary.ts
  packages/game-engine/src/mechanics/kick-skill.test.ts
  packages/game-engine/src/mechanics/regeneration.test.ts
  packages/game-engine/src/mechanics/secret-weapons.test.ts
  packages/game-engine/src/mechanics/weather-drive-effects.test.ts
  packages/game-engine/src/utils/logging.test.ts
Labels: game-engine

fix(game-engine): bribes sur foul send-off + Officious Ref drive flag
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/mechanics/foul-bribes-officious.test.ts
  packages/game-engine/src/mechanics/foul.ts
  packages/game-engine/src/mechanics/kickoff-events.ts
Labels: game-engine

fix(game-engine): déterminisme push chain + Wandering Apothecary cumulatif (CRITICAL) (#828)
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/actions/blitz-handler-immutability.test.ts
  packages/game-engine/src/actions/blitz-handler.test.ts
  packages/game-engine/src/actions/block-action.test.ts
  packages/game-engine/src/actions/block-handler.test.ts
  packages/game-engine/src/actions/choice-handlers.ts
  packages/game-engine/src/actions/legal-moves.test.ts
  packages/game-engine/src/actions/move-leap-dodge-handlers.test.ts
  packages/game-engine/src/actions/push-choose-determinism.test.ts
  packages/game-engine/src/actions/reroll-choose-handler.test.ts
  packages/game-engine/src/actions/special-actions.test.ts
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/inducement-handler.test.ts
  packages/game-engine/src/core/inducements.test.ts
  packages/game-engine/src/core/inducements.ts
  packages/game-engine/src/core/replay.test.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/mechanics/apothecary-stunty-reroll.test.ts
  packages/game-engine/src/mechanics/apothecary.test.ts
  packages/game-engine/src/mechanics/apothecary.ts
  packages/game-engine/src/mechanics/kick-skill.test.ts
  packages/game-engine/src/mechanics/regeneration.test.ts
  packages/game-engine/src/mechanics/secret-weapons.test.ts
  packages/game-engine/src/mechanics/weather-drive-effects.test.ts
  packages/game-engine/src/utils/logging.test.ts
Labels: game-engine

fix(game-engine): regles core BB3 S3 — Dauntless, Frenzy/Fend, Hypnotic Gaze, Bloodlust
  packages/game-engine/src/actions/choice-handlers.ts
  packages/game-engine/src/mechanics/bb2020-rules-core.test.ts
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/mechanics/dauntless.test.ts
  packages/game-engine/src/mechanics/dauntless.ts
  packages/game-engine/src/mechanics/hypnotic-gaze.test.ts
  packages/game-engine/src/mechanics/hypnotic-gaze.ts
  packages/game-engine/src/mechanics/negative-traits.test.ts
  packages/game-engine/src/mechanics/negative-traits.ts
  packages/game-engine/src/mechanics/sprint13-dauntless-juggernaut-integration.test.ts
Labels: game-engine

fix(game-engine): bribes sur foul send-off + Officious Ref drive flag (#829)
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/mechanics/foul-bribes-officious.test.ts
  packages/game-engine/src/mechanics/foul.ts
  packages/game-engine/src/mechanics/kickoff-events.ts
Labels: game-engine

fix(game-engine): combat misc BB3 S3 — Stab+MB exclusif + Wrestle turnover
  packages/game-engine/src/mechanics/bb3s3-combat-misc.test.ts
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/mechanics/iron-hard-skin.test.ts
  packages/game-engine/src/mechanics/juggernaut.test.ts
  packages/game-engine/src/mechanics/stab.test.ts
  packages/game-engine/src/mechanics/stab.ts
  packages/game-engine/src/mechanics/wrestle.test.ts
Labels: game-engine

fix(game-engine): règles core BB3 S3 — Dauntless, Frenzy/Fend, Hypnotic Gaze, Bloodlust (#830)
  packages/game-engine/src/actions/choice-handlers.ts
  packages/game-engine/src/mechanics/bb2020-rules-core.test.ts
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/mechanics/dauntless.test.ts
  packages/game-engine/src/mechanics/dauntless.ts
  packages/game-engine/src/mechanics/hypnotic-gaze.test.ts
  packages/game-engine/src/mechanics/hypnotic-gaze.ts
  packages/game-engine/src/mechanics/negative-traits.test.ts
  packages/game-engine/src/mechanics/negative-traits.ts
  packages/game-engine/src/mechanics/sprint13-dauntless-juggernaut-integration.test.ts
Labels: game-engine

fix(game-engine): once-per-match consumption + Diving Tackle Prone (BB3 S3)
  packages/game-engine/src/actions/block-handler.ts
  packages/game-engine/src/actions/move-handlers.ts
  packages/game-engine/src/skills/once-per-match-consumption.test.ts
  packages/game-engine/src/skills/skill-bridge.ts
Labels: game-engine

fix(game-engine): edge cases BB3 S3 — PA=0 + Pitch Invasion reserves
  packages/game-engine/src/mechanics/edge-cases-bb3s3.test.ts
  packages/game-engine/src/mechanics/kickoff-events.ts
  packages/game-engine/src/mechanics/passing.ts
Labels: game-engine

fix(game-engine): lasting injury stat reduction immediate (BB3 S3)
  packages/game-engine/src/mechanics/injury.ts
  packages/game-engine/src/mechanics/lasting-injury-stat-reduction.test.ts
Labels: game-engine

fix(game-engine): once-per-match consumption élargi + Diving Tackle Prone (BB3 S3) (#832)
  packages/game-engine/src/actions/block-handler.ts
  packages/game-engine/src/actions/move-handlers.ts
  packages/game-engine/src/skills/once-per-match-consumption.test.ts
  packages/game-engine/src/skills/skill-bridge.ts
Labels: game-engine

fix(sim-engine): resolver corrections BB3 — sent_off + pa pour passes
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/src/driver/full-driver.ts
  packages/sim-engine/src/driver/hybrid-driver.ts
  packages/sim-engine/src/resolvers/pass.ts
  packages/sim-engine/src/resolvers/resolvers.test.ts
  packages/sim-engine/src/resolvers/types.ts
  packages/sim-engine/src/types.ts
Labels: none

fix(game-engine): edge cases BB3 S3 — PA=0 + Pitch Invasion réserves (#833)
  packages/game-engine/src/mechanics/edge-cases-bb3s3.test.ts
  packages/game-engine/src/mechanics/kickoff-events.ts
  packages/game-engine/src/mechanics/passing.ts
Labels: game-engine

fix(game-engine): combat misc BB3 S3 — Stab+MB exclusif + Wrestle turnover (#831)
  packages/game-engine/src/mechanics/bb3s3-combat-misc.test.ts
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/mechanics/iron-hard-skin.test.ts
  packages/game-engine/src/mechanics/juggernaut.test.ts
  packages/game-engine/src/mechanics/stab.test.ts
  packages/game-engine/src/mechanics/stab.ts
  packages/game-engine/src/mechanics/wrestle.test.ts
Labels: game-engine

chore(release): 1.121.2 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  ceda07af9db46fb5960e94192328177cbd8654ce
Labels: none

fix(sim-engine): halftime softlock + stale-detection (CRITICAL)
  packages/sim-engine/src/driver/full-driver-halftime-softlock.test.ts
  packages/sim-engine/src/driver/full-driver.ts
Labels: none

fix(game-engine): immutabilite ball-pickup + failure-helpers (CRITICAL)
  packages/game-engine/src/actions/ball-pickup.ts
  packages/game-engine/src/actions/failure-helpers.ts
  packages/game-engine/src/actions/mutations-immutability.test.ts
  packages/game-engine/src/actions/reroll-choose-handler.ts
Labels: game-engine

fix(sim-engine): hybrid driver — recordBlock + casualty team + pass-TD clip
  packages/sim-engine/src/driver/hybrid-block-casualty.test.ts
  packages/sim-engine/src/driver/hybrid-driver.ts
Labels: none

fix(sim-engine): full driver — ball carrier idx variable + ballYardline initial
  packages/sim-engine/src/driver/full-driver-events.ts
  packages/sim-engine/src/driver/full-driver-roster-fixes.test.ts
  packages/sim-engine/src/driver/full-driver-roster.ts
  packages/sim-engine/src/driver/full-driver.ts
Labels: none

fix(sim-engine): halftime softlock + stale-detection (CRITICAL) (#836)
  packages/sim-engine/src/driver/full-driver-halftime-softlock.test.ts
  packages/sim-engine/src/driver/full-driver.ts
Labels: none

fix(game-engine): immutabilité ball-pickup + failure-helpers (CRITICAL) (#837)
  packages/game-engine/src/actions/ball-pickup.ts
  packages/game-engine/src/actions/failure-helpers.ts
  packages/game-engine/src/actions/mutations-immutability.test.ts
  packages/game-engine/src/actions/reroll-choose-handler.ts
Labels: game-engine

fix(sim-engine): hybrid driver — recordBlock + casualty team + pass-TD clip (#838)
  packages/sim-engine/src/driver/hybrid-block-casualty.test.ts
  packages/sim-engine/src/driver/hybrid-driver.ts
Labels: none

fix(game-engine): immutabilite move handlers (HIGH anti-pattern)
  packages/game-engine/src/actions/move-handlers-immutability.test.ts
  packages/game-engine/src/actions/move-handlers.ts
  packages/game-engine/src/actions/move-leap-dodge-handlers.ts
Labels: game-engine

fix(sim-engine): hybrid tuning — B12 disruption + B4 momentCount + B8 luck RNG
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/src/driver/hybrid-driver.ts
  packages/sim-engine/src/types.ts
Labels: none

fix(game-engine): immutabilité move handlers (HIGH anti-pattern) (#840)
  packages/game-engine/src/actions/move-handlers-immutability.test.ts
  packages/game-engine/src/actions/move-handlers.ts
  packages/game-engine/src/actions/move-leap-dodge-handlers.ts
Labels: game-engine

fix(sim-engine): full driver — ball carrier idx variable + ballYardline initial (#839)
  packages/sim-engine/src/driver/full-driver-events.ts
  packages/sim-engine/src/driver/full-driver-roster-fixes.test.ts
  packages/sim-engine/src/driver/full-driver-roster.ts
  packages/sim-engine/src/driver/full-driver.ts
Labels: none

fix(game-engine): ensure ball follows player during dodge, leap, and normal moves
  packages/game-engine/src/actions/move-handlers.ts
  packages/game-engine/src/actions/move-leap-dodge-handlers.ts
  packages/game-engine/src/mechanics/blocking.ts
  packages/ui/src/board/PixiBoard.tsx
Labels: packages-ui, game-engine

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
