Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

chore(release): 1.149.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  75426a0ba0d642d82154d76b77b42a45eb0c2067
Labels: none

feat(nfl-fantasy): rosterCount par coach sur la page championnat
  apps/server/src/services/nfl-fantasy-league.test.ts
  apps/server/src/services/nfl-fantasy-league.ts
  apps/web/app/nfl-fantasy/leagues/[id]/page.tsx
  apps/web/app/nfl-fantasy/types.ts
Labels: web, server

feat(nfl-fantasy): endpoint start-season (draft -> in_progress)
  apps/server/src/routes/nfl-fantasy-leagues.ts
Labels: server

feat(nfl-fantasy): endpoints test pour force-trigger les ticks cron
  apps/server/src/routes/nfl-fantasy-leagues.ts
Labels: server

feat(nfl-fantasy): UI panel Mode test pour piloter une saison
  apps/web/app/nfl-fantasy/leagues/[id]/TestModeControlPanel.tsx
  apps/web/app/nfl-fantasy/leagues/[id]/page.tsx
Labels: web

chore(release): 1.150.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  7dca42dcc3c5534cdf9821d3975209458eefa7d7
Labels: none

feat(nfl-fantasy): page lineup enrichie (race, cote, dernier SPP, lien fiche)
  apps/server/src/services/nfl-fantasy-roster.ts
  apps/web/app/nfl-fantasy/leagues/[id]/lineup/page.tsx
Labels: web, server

feat(nfl-fantasy): matchups pre-generes au start-season + adversaire sur lineup
  apps/server/src/services/nfl-fantasy-draft.test.ts
  apps/server/src/services/nfl-fantasy-draft.ts
  apps/web/app/nfl-fantasy/leagues/[id]/lineup/page.tsx
Labels: web, server

chore(release): 1.151.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  6fe9fb467c642804317b9843189af502de108a58
Labels: none

feat(nfl-fantasy): selecteur de semaine UX + default smart
  apps/server/src/routes/nfl-fantasy-leagues.ts
  apps/server/src/services/nfl-fantasy-league.ts
  apps/web/app/nfl-fantasy/leagues/[id]/WeekPicker.tsx
  apps/web/app/nfl-fantasy/leagues/[id]/lineup/page.tsx
  apps/web/app/nfl-fantasy/leagues/[id]/matchups/page.tsx
Labels: web, server

chore(release): 1.152.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  57eed7562eefc04649e5554352dc735bd17cba8a
Labels: none

feat(nfl-fantasy): lineup chips C/V + starter toggle modernises
  apps/web/app/nfl-fantasy/leagues/[id]/lineup/page.tsx
Labels: web

chore(release): 1.153.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  d8f804961d79f77c9ef7f48423410529855c810f
Labels: none

feat(nfl-fantasy): bouton auto-lineup coachs de test
  apps/server/src/routes/nfl-fantasy-leagues.ts
  apps/server/src/services/nfl-fantasy-bot-lineup.test.ts
  apps/server/src/services/nfl-fantasy-bot-lineup.ts
  apps/web/app/nfl-fantasy/leagues/[id]/TestModeControlPanel.tsx
Labels: web, server

chore(release): 1.154.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  d2ae551af590e4a193a6493c00204b01b8bccb91
Labels: none

feat(nfl-fantasy): fallback default lineup au moment du lock
  apps/server/src/services/nfl-fantasy-bot-lineup.test.ts
  apps/server/src/services/nfl-fantasy-bot-lineup.ts
  apps/server/src/services/nfl-fantasy-lineup.test.ts
  apps/server/src/services/nfl-fantasy-lineup.ts
  apps/web/app/nfl-fantasy/leagues/[id]/TestModeControlPanel.tsx
Labels: web, server

chore(release): 1.155.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  56d24abbdcd0beaefb6966a1514aaf0d9d635c4b
Labels: none

feat(nfl-fantasy): refonte UI/UX page lineup, mobile-first
  apps/web/app/nfl-fantasy/leagues/[id]/lineup/OpponentBanner.tsx
  apps/web/app/nfl-fantasy/leagues/[id]/lineup/PlayerCard.tsx
  apps/web/app/nfl-fantasy/leagues/[id]/lineup/page.tsx
Labels: web

chore(release): 1.156.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  b656f6de0775aff09986da27f17c90febe0c2771
Labels: none

fix(nfl-fantasy): sticky action bar reste dans le conteneur
  apps/web/app/nfl-fantasy/leagues/[id]/lineup/page.tsx
Labels: web

chore(release): 1.156.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  a239e5b03b532c5e340f0d1830df1d1c2cdaee64
Labels: none

fix(nfl-fantasy): card text truncate + sticky bar visible
  apps/web/app/nfl-fantasy/leagues/[id]/lineup/PlayerCard.tsx
  apps/web/app/nfl-fantasy/leagues/[id]/lineup/page.tsx
Labels: web

chore(release): 1.156.2 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  738cfb73eaf26da14b078cbf2a84b556350c3656
Labels: none

fix(nfl-fantasy): clip horizontal overflow sur la page lineup
  apps/web/app/nfl-fantasy/leagues/[id]/WeekPicker.tsx
  apps/web/app/nfl-fantasy/leagues/[id]/lineup/OpponentBanner.tsx
  apps/web/app/nfl-fantasy/leagues/[id]/lineup/page.tsx
Labels: web

chore(release): 1.156.3 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  7df5c759de0c616138e72194048a925209340e61
Labels: none

feat(nfl-fantasy): card lineup redessinee 3 rangees pour le mobile
  apps/web/app/nfl-fantasy/leagues/[id]/lineup/PlayerCard.tsx
  apps/web/app/nfl-fantasy/leagues/[id]/lineup/page.tsx
Labels: web

chore(release): 1.157.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  d9ed6fcbd41c28bad4b4df3884aeb5f77fae32bd
Labels: none

fix(nfl-fantasy): join nflPlayer manuellement dans buildAndSetDefaultLineup
  apps/server/src/services/nfl-fantasy-bot-lineup.test.ts
  apps/server/src/services/nfl-fantasy-bot-lineup.ts
Labels: server

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
