Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

Notes added by 'git notes add'
  c8e36774826a4e45f94936a2e3d014c80392976f
Labels: none

feat(web): cartes joueur exportables façon cartes officielles (stars + roster)
  apps/web/app/api/player-card/route.ts
  apps/web/app/lib/player-card/card-art.test.tsx
  apps/web/app/lib/player-card/card-art.tsx
  apps/web/app/lib/player-card/card-model.test.ts
  apps/web/app/lib/player-card/card-model.ts
  apps/web/app/lib/player-card/render.tsx
  apps/web/app/lib/umami-events.ts
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/star-players/[slug]/card/route.ts
  apps/web/app/star-players/[slug]/page.tsx
  apps/web/app/star-players/[slug]/plays-for.test.ts
  apps/web/app/star-players/[slug]/plays-for.ts
  apps/web/assets/fonts/README.md
  apps/web/assets/fonts/bebas-neue-400.ttf
  apps/web/assets/fonts/montserrat-600.ttf
  apps/web/assets/fonts/montserrat-800.ttf
  openspec/changes/export-player-cards/design.md
  openspec/changes/export-player-cards/proposal.md
  openspec/changes/export-player-cards/specs/player-cards/spec.md
  openspec/changes/export-player-cards/tasks.md
Labels: web

fix(web): retours cartes joueur — règles longues, joue pour, fraîcheur
  apps/web/app/api/player-card/route.ts
  apps/web/app/lib/player-card/card-art.test.tsx
  apps/web/app/lib/player-card/card-art.tsx
  apps/web/app/lib/player-card/card-model.test.ts
  apps/web/app/lib/player-card/card-model.ts
  apps/web/app/lib/player-card/render.tsx
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/star-players/[slug]/card/route.ts
  openspec/changes/export-player-cards/design.md
  openspec/changes/export-player-cards/specs/player-cards/spec.md
  openspec/changes/export-player-cards/tasks.md
Labels: web

Add exportable player cards (PNG 750×1050) for teams & stars (#961)
  apps/web/app/api/player-card/route.ts
  apps/web/app/lib/player-card/card-art.test.tsx
  apps/web/app/lib/player-card/card-art.tsx
  apps/web/app/lib/player-card/card-model.test.ts
  apps/web/app/lib/player-card/card-model.ts
  apps/web/app/lib/player-card/render.tsx
  apps/web/app/lib/umami-events.ts
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/star-players/[slug]/card/route.ts
  apps/web/app/star-players/[slug]/page.tsx
  apps/web/app/star-players/[slug]/plays-for.test.ts
  apps/web/app/star-players/[slug]/plays-for.ts
  apps/web/assets/fonts/README.md
  apps/web/assets/fonts/bebas-neue-400.ttf
  apps/web/assets/fonts/montserrat-600.ttf
  apps/web/assets/fonts/montserrat-800.ttf
  openspec/changes/export-player-cards/design.md
  openspec/changes/export-player-cards/proposal.md
  openspec/changes/export-player-cards/specs/player-cards/spec.md
  openspec/changes/export-player-cards/tasks.md
Labels: web

feat(league): nom du coach dans le calendrier et le classement
  apps/server/src/services/league.ts
  apps/web/app/leagues/[id]/MatchdayExport.tsx
  apps/web/app/leagues/[id]/SeasonCalendar.coach.test.tsx
  apps/web/app/leagues/[id]/SeasonCalendar.tsx
  apps/web/app/leagues/[id]/SeasonStandings.test.tsx
  apps/web/app/leagues/[id]/SeasonStandings.tsx
  apps/web/app/leagues/[id]/page.test.tsx
  apps/web/app/leagues/[id]/types.ts
Labels: web, server

fix(league): retire le bouton « Se retirer » de la page de ligue
  apps/web/app/leagues/[id]/page.tsx
Labels: web

fix(league): facteur de popularité — 1D3 + fans dévoués réels de l'équipe
  apps/server/src/services/league-match-sheet.ts
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
Labels: web, server

fix(game-engine): Invasion du terrain — D6 + Facteur de Popularité complet
  packages/game-engine/src/core/clone-state.test.ts
  packages/game-engine/src/core/clone-state.ts
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/mechanics/kickoff-events.test.ts
  packages/game-engine/src/mechanics/kickoff-events.ts
Labels: game-engine

fix(spp): une interception rapporte 2 PSP (et non 1)
  apps/server/src/services/spp-tracking.test.ts
  apps/server/src/services/spp-tracking.ts
  apps/web/app/components/PostMatchSPP.tsx
  apps/web/app/local-matches/[id]/pdf/aggregations.ts
  packages/game-engine/src/core/game-state.ts
Labels: game-engine, web, server

feat(league): statistiques par equipe = tops des totaux d'equipe
  apps/server/src/routes/league-team-leaderboards.test.ts
  apps/server/src/routes/league.ts
  apps/server/src/services/league-standings-stats.test.ts
  apps/server/src/services/league-standings-stats.ts
  apps/server/src/services/league-team-stats.test.ts
  apps/server/src/services/league-team-stats.ts
  apps/server/src/services/league.ts
  apps/web/app/leagues/[id]/seasons/[sid]/leaderboards/page.test.tsx
  apps/web/app/leagues/[id]/seasons/[sid]/leaderboards/page.tsx
  apps/web/app/leagues/[id]/types.ts
Labels: web, server

Add team leaderboards (season totals) and fix interception SPP value (#962)
  apps/server/src/routes/league-team-leaderboards.test.ts
  apps/server/src/routes/league.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-standings-stats.test.ts
  apps/server/src/services/league-standings-stats.ts
  apps/server/src/services/league-team-stats.test.ts
  apps/server/src/services/league-team-stats.ts
  apps/server/src/services/league.ts
  apps/server/src/services/spp-tracking.test.ts
  apps/server/src/services/spp-tracking.ts
  apps/web/app/components/PostMatchSPP.tsx
  apps/web/app/leagues/[id]/MatchdayExport.tsx
  apps/web/app/leagues/[id]/SeasonCalendar.coach.test.tsx
  apps/web/app/leagues/[id]/SeasonCalendar.tsx
  apps/web/app/leagues/[id]/SeasonStandings.test.tsx
  apps/web/app/leagues/[id]/SeasonStandings.tsx
  apps/web/app/leagues/[id]/page.test.tsx
  apps/web/app/leagues/[id]/page.tsx
  apps/web/app/leagues/[id]/seasons/[sid]/leaderboards/page.test.tsx
  apps/web/app/leagues/[id]/seasons/[sid]/leaderboards/page.tsx
  apps/web/app/leagues/[id]/types.ts
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
  apps/web/app/local-matches/[id]/pdf/aggregations.ts
  packages/game-engine/src/core/clone-state.test.ts
  packages/game-engine/src/core/clone-state.ts
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/mechanics/kickoff-events.test.ts
  packages/game-engine/src/mechanics/kickoff-events.ts
Labels: game-engine, web, server

fix(league): points bonus comptés à part, plus additionnés aux points génériques
  apps/server/src/services/league-match-result.test.ts
  apps/server/src/services/league-match-result.ts
  apps/server/src/services/league-offline-edit.test.ts
  apps/server/src/services/league-offline-edit.ts
  apps/server/src/services/league.ts
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/leagues/[id]/types.ts
  openspec/changes/enhance-league-standings-columns/design.md
Labels: web, server

fix(league): invalidation possible malgré des compétences choisies via la feuille
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-offline-edit.test.ts
  apps/server/src/services/league-offline-edit.ts
Labels: server

fix(team): VEA = VE - valeur des joueurs absents, et VE/VEA toujours cohérentes
  apps/server/src/services/commissioner-team-edit.test.ts
  apps/server/src/services/commissioner-team-edit.ts
  apps/server/src/services/league-offline-edit.ts
  apps/server/src/services/league-offline-result.ts
  apps/server/src/services/league-sheet-advancements.test.ts
  apps/server/src/services/league-sheet-advancements.ts
  apps/server/src/services/post-match-league-sequence.test.ts
  apps/server/src/services/post-match-league-sequence.ts
  apps/server/src/utils/team-values.test.ts
  apps/server/src/utils/team-values.ts
Labels: server

fix(league): les joueurs absents/morts ne participent plus à la feuille de match
  apps/server/src/services/cup-roster-snapshot.test.ts
  apps/server/src/services/cup-roster-snapshot.ts
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/RosterSection.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/RosterSection.tsx
Labels: web, server

feat(league): journaliers automatiques sur la feuille quand moins de 11 joueurs
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/schemas/league-match-sheet.schemas.ts
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-sheet-journeymen.test.ts
  apps/server/src/services/league-sheet-journeymen.ts
  apps/server/src/services/post-match-league-integration.test.ts
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/RosterSection.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
  prisma/schema.prisma
Labels: web, server

fix(league): en-tête de feuille de match figé aux valeurs du début du match
  apps/server/src/services/cup-roster-snapshot.test.ts
  apps/server/src/services/cup-roster-snapshot.ts
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
Labels: server

fix(league): compétences en français avec infobulle sur le roster de la feuille
  apps/web/app/leagues/pairings/[id]/sheet/_components/RosterSection.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/RosterSection.tsx
Labels: web

feat(league): évènement « Atterrissage réussi » (+1 PSP au coéquipier lancé)
  apps/server/src/schemas/league-match-sheet.schemas.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-match-summary.test.ts
  apps/server/src/services/league-match-summary.ts
  apps/server/src/services/league-offline-edit.ts
  apps/server/src/services/league-offline-result.ts
  apps/server/src/services/spp-tracking.test.ts
  apps/server/src/services/spp-tracking.ts
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
  prisma/schema.prisma
Labels: web, server

feat(league): PSP d'élimination pour Innovateur Violent (Action Spéciale)
  apps/server/src/schemas/league-match-sheet.schemas.ts
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-match-summary.test.ts
  apps/server/src/services/league-match-summary.ts
  apps/server/src/services/league-player-stats.ts
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
  prisma/schema.prisma
Labels: web, server

fix(star-players): données publiques fraîches (coûts de paire, compétences, cache)
  apps/server/src/routes/admin-data.ts
  apps/server/src/routes/star-players-detail.test.ts
  apps/server/src/routes/star-players.ts
  apps/server/src/services/revalidate-web.test.ts
  apps/server/src/services/revalidate-web.ts
  apps/web/app/components/StarPlayerCard.test.tsx
  apps/web/app/components/StarPlayerCard.tsx
  apps/web/app/star-players/[slug]/page.tsx
Labels: web, server

test(star-players): mock du nouvel export revalidateStarPlayerPages
  apps/server/src/routes/admin-data-star-player-skills.test.ts
Labels: server

feat(team): photos de joueurs uploadées (miniatures site + carte pleine résolution)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/player-image-handlers.ts
  apps/server/src/routes/team.ts
  apps/server/src/services/commissioner-team-edit.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/player-image.test.ts
  apps/server/src/services/player-image.ts
  apps/server/src/utils/player-image-upload.ts
  apps/web/app/api/player-card/route.ts
  apps/web/app/components/PlayerAvatar.test.tsx
  apps/web/app/components/PlayerAvatar.tsx
  apps/web/app/leagues/[id]/teams/[teamId]/page.tsx
  apps/web/app/lib/player-card/card-art.tsx
  apps/web/app/lib/player-card/card-model.test.ts
  apps/web/app/lib/player-card/card-model.ts
  apps/web/app/me/teams/[id]/PlayerImageUploader.test.tsx
  apps/web/app/me/teams/[id]/PlayerImageUploader.tsx
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/r/[token]/page.tsx
  docker-compose.prod.yml
  prisma/schema.prisma
Labels: web, server

chore: changeset du lot feuille de match & fraîcheur des données
  .changeset/match-sheet-fixes-batch.md
Labels: none

fix(star-players): Châtaigne sans modificateur sur les fiches SP
  apps/server/src/static-skills-data-s3.test.ts
  apps/server/src/static-skills-data-s3.ts
  packages/game-engine/src/rosters/star-players-chataigne.test.ts
  packages/game-engine/src/rosters/star-players-legends-2025.reference.json
  packages/game-engine/src/rosters/star-players.test.ts
  packages/game-engine/src/rosters/star-players.ts
  packages/game-engine/src/skills/index.ts
Labels: game-engine, server

fix(star-players): exclure le pouvoir de la liste « Compétences et Traits »
  apps/server/src/routes/star-players-detail.test.ts
  apps/server/src/routes/star-players.ts
  apps/web/app/components/StarPlayerCard.test.tsx
  apps/web/app/components/StarPlayerCard.tsx
  packages/game-engine/src/rosters/star-players-power-display.test.ts
  packages/game-engine/src/rosters/star-players-utils.ts
Labels: game-engine, web, server

feat(leagues): valeur des joueurs en kpo dans le roster
  apps/web/app/leagues/[id]/teams/[teamId]/page.test.tsx
  apps/web/app/leagues/[id]/teams/[teamId]/page.tsx
Labels: web

feat(team-builder): recrutement de Star Players réservé à l'Édition avancée
  apps/server/src/routes/team-build-handler.test.ts
  apps/server/src/routes/team-build-handler.ts
  apps/server/src/schemas/team.schemas.ts
  apps/web/app/me/teams/new/page.star-players-gating.test.tsx
  apps/web/app/me/teams/new/page.tsx
Labels: web, server

feat(teams): renommer la section « Informations de l'équipe » en « Staff de l'équipe »
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/me/teams/components/TeamInfoDisplay.test.tsx
  apps/web/app/me/teams/components/TeamInfoDisplay.tsx
  apps/web/app/me/teams/components/TeamInfoEditor.tsx
  apps/web/app/me/teams/new/page.tsx
Labels: web

fix(rosters): fans dévoués à 5 000 po (édition 2025) au lieu de 10 000 po
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/me/teams/components/TeamInfoDisplay.test.tsx
  apps/web/app/me/teams/components/TeamInfoDisplay.tsx
  apps/web/app/me/teams/components/TeamInfoEditor.tsx
  apps/web/app/me/teams/components/TreasuryPurchasePanel.tsx
  packages/game-engine/src/rosters/formats.test.ts
  packages/game-engine/src/rosters/formats.ts
  packages/game-engine/src/rosters/staff-config.test.ts
  packages/game-engine/src/utils/team-value-calculator.test.ts
Labels: game-engine, web

feat(leagues): bonus de gains +10 000 po sans temporisation
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-match-summary.test.ts
  apps/server/src/services/league-match-summary.ts
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
Labels: web, server

feat(leagues): saisie d'une blessure sur l'évènement Temporisation
  apps/server/src/services/league-match-summary.test.ts
  apps/server/src/services/league-match-summary.ts
  apps/web/app/leagues/pairings/[id]/sheet/event-fields.test.ts
  apps/web/app/leagues/pairings/[id]/sheet/event-fields.ts
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
Labels: web, server

chore: changeset du lot de corrections Blood Bowl
  .changeset/blood-bowl-corrections-batch.md
Labels: none

Corrections Blood Bowl : fiches Star Players, roster, builder, fans dévoués & feuille de match (lot de 8) (#964)
  .changeset/blood-bowl-corrections-batch.md
  apps/server/src/routes/star-players-detail.test.ts
  apps/server/src/routes/star-players.ts
  apps/server/src/routes/team-build-handler.test.ts
  apps/server/src/routes/team-build-handler.ts
  apps/server/src/schemas/team.schemas.ts
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-match-summary.test.ts
  apps/server/src/services/league-match-summary.ts
  apps/server/src/static-skills-data-s3.test.ts
  apps/server/src/static-skills-data-s3.ts
  apps/web/app/components/StarPlayerCard.test.tsx
  apps/web/app/components/StarPlayerCard.tsx
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/leagues/[id]/teams/[teamId]/page.test.tsx
  apps/web/app/leagues/[id]/teams/[teamId]/page.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  apps/web/app/leagues/pairings/[id]/sheet/event-fields.test.ts
  apps/web/app/leagues/pairings/[id]/sheet/event-fields.ts
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/me/teams/components/TeamInfoDisplay.test.tsx
  apps/web/app/me/teams/components/TeamInfoDisplay.tsx
  apps/web/app/me/teams/components/TeamInfoEditor.tsx
  apps/web/app/me/teams/components/TreasuryPurchasePanel.tsx
  apps/web/app/me/teams/new/page.star-players-gating.test.tsx
  apps/web/app/me/teams/new/page.tsx
  packages/game-engine/src/rosters/formats.test.ts
  packages/game-engine/src/rosters/formats.ts
  packages/game-engine/src/rosters/staff-config.test.ts
  packages/game-engine/src/rosters/star-players-chataigne.test.ts
  packages/game-engine/src/rosters/star-players-legends-2025.reference.json
  packages/game-engine/src/rosters/star-players-power-display.test.ts
  packages/game-engine/src/rosters/star-players-utils.ts
  packages/game-engine/src/rosters/star-players.test.ts
  packages/game-engine/src/rosters/star-players.ts
  packages/game-engine/src/skills/index.ts
  packages/game-engine/src/utils/team-value-calculator.test.ts
Labels: game-engine, web, server

feat(teams): montants du « Staff de l'équipe » en kpo
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/me/teams/components/TeamInfoDisplay.test.tsx
  apps/web/app/me/teams/components/TeamInfoDisplay.tsx
Labels: web

feat(leagues): débloquer l'invalidation « Reversion impossible: advancement-consumed »
  apps/server/src/routes/league.ts
  apps/server/src/schemas/league-match-sheet.schemas.ts
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-offline-edit.test.ts
  apps/server/src/services/league-offline-edit.ts
  apps/server/src/services/league-sheet-advancements.test.ts
  apps/server/src/services/league-sheet-advancements.ts
  apps/web/app/leagues/pairings/[id]/sheet/invalidate-consumed.test.ts
  apps/web/app/leagues/pairings/[id]/sheet/invalidate-consumed.ts
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
Labels: web, server

chore: changeset du lot staff kpo + déblocage invalidation
  .changeset/staff-kpo-invalidate-consumed.md
Labels: none

Staff de l'équipe en kpo & déblocage de l'invalidation « advancement-consumed » (#965)
  .changeset/staff-kpo-invalidate-consumed.md
  apps/server/src/routes/league.ts
  apps/server/src/schemas/league-match-sheet.schemas.ts
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-offline-edit.test.ts
  apps/server/src/services/league-offline-edit.ts
  apps/server/src/services/league-sheet-advancements.test.ts
  apps/server/src/services/league-sheet-advancements.ts
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/leagues/pairings/[id]/sheet/invalidate-consumed.test.ts
  apps/web/app/leagues/pairings/[id]/sheet/invalidate-consumed.ts
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
  apps/web/app/me/teams/components/TeamInfoDisplay.test.tsx
  apps/web/app/me/teams/components/TeamInfoDisplay.tsx
Labels: web, server

fix(leagues): VEA du roster fraîche — les absents/blessés sont bien exclus
  apps/server/src/routes/league-roster-view.test.ts
  apps/server/src/routes/league.ts
Labels: server

fix(leagues): CTV du match — VEA fraîche hors absents + valeur des journaliers
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-sheet-journeymen.test.ts
  apps/server/src/services/league-sheet-journeymen.ts
Labels: server

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
