Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

test(e2e-api): O.4 — team-write-validation spec (Zod sur 6 routes mutate) (#360)
  tests/e2e-api/specs/team-write-validation.spec.ts
Labels: none

test(e2e-api): O.4 — match-validation spec (Zod sur 6 schemas /match/*)
  tests/e2e-api/specs/match-validation.spec.ts
Labels: none

test(e2e-api): O.4 — match-validation spec (Zod sur 6 schemas /match/*) (#361)
  tests/e2e-api/specs/match-validation.spec.ts
Labels: none

test(e2e-api): O.4 — admin-validation spec (Zod sur 7 schemas /admin/*)
  tests/e2e-api/specs/admin-validation.spec.ts
Labels: none

test(e2e-api): O.4 — admin-validation spec (Zod sur 7 schemas /admin/*) (#362)
  tests/e2e-api/specs/admin-validation.spec.ts
Labels: none

test(e2e-api): O.4 — push-validation spec (Zod sur 5 schemas /push/*)
  tests/e2e-api/specs/push-validation.spec.ts
Labels: none

test(e2e-api): O.4 — push-validation spec (Zod sur 5 schemas /push/*) (#363)
  tests/e2e-api/specs/push-validation.spec.ts
Labels: none

test(e2e-api): O.4 — admin-data-validation spec (Zod sur 8 schemas)
  tests/e2e-api/specs/admin-data-validation.spec.ts
Labels: none

test(e2e-api): O.4 — admin-data-validation spec (Zod sur 8 schemas) (#364)
  tests/e2e-api/specs/admin-data-validation.spec.ts
Labels: none

test(e2e-api): O.4 — friends-validation spec (Zod sur 3 schemas /friends/*)
  tests/e2e-api/specs/friends-validation.spec.ts
Labels: none

test(e2e-api): O.4 — friends-validation spec (Zod sur 3 schemas /friends/*) (#365)
  tests/e2e-api/specs/friends-validation.spec.ts
Labels: none

test(e2e-api): O.4 — feature-flags-admin spec (auth + Zod + flow)
  tests/e2e-api/specs/feature-flags-admin.spec.ts
Labels: none

test(e2e-api): O.4 — feature-flags-admin spec (auth + Zod + flow) (#366)
  tests/e2e-api/specs/feature-flags-admin.spec.ts
Labels: none

test: etendre la couverture E2E UI avec 4 nouvelles suites
  TODO.md
  tests/e2e-ui/pages/AchievementsPage.ts
  tests/e2e-ui/pages/ProfilePage.ts
  tests/e2e-ui/pages/RegisterPage.ts
  tests/e2e-ui/specs/achievements.spec.ts
  tests/e2e-ui/specs/homepage.spec.ts
  tests/e2e-ui/specs/profile.spec.ts
  tests/e2e-ui/specs/register.spec.ts
Labels: none

test: etendre la couverture E2E UI (profile, achievements, register, homepage) (#367)
  TODO.md
  tests/e2e-ui/pages/AchievementsPage.ts
  tests/e2e-ui/pages/ProfilePage.ts
  tests/e2e-ui/pages/RegisterPage.ts
  tests/e2e-ui/specs/achievements.spec.ts
  tests/e2e-ui/specs/homepage.spec.ts
  tests/e2e-ui/specs/profile.spec.ts
  tests/e2e-ui/specs/register.spec.ts
Labels: none

perf: truncate gameLog in WebSocket broadcasts (O.5)
  TODO.md
  apps/server/src/services/game-broadcast.test.ts
  apps/server/src/services/game-broadcast.ts
  packages/game-engine/src/utils/logging.test.ts
  packages/game-engine/src/utils/logging.ts
Labels: game-engine, server

perf: truncate gameLog in WebSocket broadcasts (O.5) (#368)
  TODO.md
  apps/server/src/services/game-broadcast.test.ts
  apps/server/src/services/game-broadcast.ts
  packages/game-engine/src/utils/logging.test.ts
  packages/game-engine/src/utils/logging.ts
Labels: game-engine, server

refactor: standardize ApiResponse<T> envelope with helpers (O.6)
  TODO.md
  apps/server/src/routes/feature-flags.ts
  apps/server/src/utils/api-response.test.ts
  apps/server/src/utils/api-response.ts
Labels: server

refactor: standardize ApiResponse&lt;T&gt; envelope with helpers (O.6) (#369)
  TODO.md
  apps/server/src/routes/feature-flags.ts
  apps/server/src/utils/api-response.test.ts
  apps/server/src/utils/api-response.ts
Labels: server

perf: pagination + bornes sur queries DB non bornees (O.7)
  TODO.md
  apps/server/src/routes/local-match.ts
  apps/server/src/routes/team.ts
  apps/server/src/routes/user.ts
  apps/server/src/utils/pagination.test.ts
  apps/server/src/utils/pagination.ts
Labels: server

perf: pagination + bornes sur queries DB non bornees (O.7) (#370)
  TODO.md
  apps/server/src/routes/local-match.ts
  apps/server/src/routes/team.ts
  apps/server/src/routes/user.ts
  apps/server/src/utils/pagination.test.ts
  apps/server/src/utils/pagination.ts
Labels: server

feat: generateur de noms d'equipe par roster (O.8a)
  TODO.md
  apps/server/src/routes/team.ts
  apps/server/src/services/team-name-generator.test.ts
  apps/server/src/services/team-name-generator.ts
Labels: server

feat: generateur de noms d'equipe par roster (O.8a) (#371)
  TODO.md
  apps/server/src/routes/team.ts
  apps/server/src/services/team-name-generator.test.ts
  apps/server/src/services/team-name-generator.ts
Labels: server

feat(seo): JSON-LD SportsTeam + canonical/hreflang sur /teams/[slug] (Q.10)
  TODO.md
  apps/web/app/teams/[slug]/TeamStructuredData.tsx
  apps/web/app/teams/[slug]/layout.tsx
  apps/web/app/teams/[slug]/page.tsx
  apps/web/app/teams/[slug]/team-structured-data.test.ts
  apps/web/app/teams/[slug]/team-structured-data.ts
Labels: web

feat(seo): JSON-LD SportsTeam + canonical/hreflang sur /teams/[slug] (Q.10) (#372)
  TODO.md
  apps/web/app/teams/[slug]/TeamStructuredData.tsx
  apps/web/app/teams/[slug]/layout.tsx
  apps/web/app/teams/[slug]/page.tsx
  apps/web/app/teams/[slug]/team-structured-data.test.ts
  apps/web/app/teams/[slug]/team-structured-data.ts
Labels: web

feat(seo): JSON-LD Person/SportsAthlete + canonical/hreflang sur /star-players/[slug] (Q.11)
  TODO.md
  apps/web/app/star-players/[slug]/StarPlayerStructuredData.tsx
  apps/web/app/star-players/[slug]/layout.tsx
  apps/web/app/star-players/[slug]/star-player-structured-data.test.ts
  apps/web/app/star-players/[slug]/star-player-structured-data.ts
Labels: web

feat(seo): JSON-LD Person/SportsAthlete + canonical/hreflang sur /star-players/[slug] (Q.11) (#373)
  TODO.md
  apps/web/app/star-players/[slug]/StarPlayerStructuredData.tsx
  apps/web/app/star-players/[slug]/layout.tsx
  apps/web/app/star-players/[slug]/star-player-structured-data.test.ts
  apps/web/app/star-players/[slug]/star-player-structured-data.ts
Labels: web

feat(seo): JSON-LD DefinedTermSet/ItemList + metadata sur /skills (Q.12)
  TODO.md
  apps/web/app/skills/SkillsStructuredData.tsx
  apps/web/app/skills/page.tsx
  apps/web/app/skills/skills-structured-data.test.ts
  apps/web/app/skills/skills-structured-data.ts
Labels: web

feat(seo): JSON-LD DefinedTermSet/ItemList + metadata sur /skills (Q.12) (#374)
  TODO.md
  apps/web/app/skills/SkillsStructuredData.tsx
  apps/web/app/skills/page.tsx
  apps/web/app/skills/skills-structured-data.test.ts
  apps/web/app/skills/skills-structured-data.ts
Labels: web

feat(seo): BreadcrumbList JSON-LD sur /tutoriel + helper partage (Q.13)
  TODO.md
  apps/web/app/components/BreadcrumbStructuredData.tsx
  apps/web/app/components/breadcrumb-schema.test.ts
  apps/web/app/components/breadcrumb-schema.ts
  apps/web/app/tutoriel/[slug]/layout.tsx
  apps/web/app/tutoriel/layout.tsx
Labels: web

feat(seo): BreadcrumbList JSON-LD sur /tutoriel + helper partage (Q.13) (#375)
  TODO.md
  apps/web/app/components/BreadcrumbStructuredData.tsx
  apps/web/app/components/breadcrumb-schema.test.ts
  apps/web/app/components/breadcrumb-schema.ts
  apps/web/app/tutoriel/[slug]/layout.tsx
  apps/web/app/tutoriel/layout.tsx
Labels: web

feat(seo): Open Graph images dynamiques par page (Q.14)
  TODO.md
  apps/web/app/lib/og-image-content.test.ts
  apps/web/app/lib/og-image-content.ts
  apps/web/app/lib/og-image-template.tsx
  apps/web/app/skills/opengraph-image.tsx
  apps/web/app/star-players/[slug]/opengraph-image.tsx
  apps/web/app/teams/[slug]/opengraph-image.tsx
Labels: web

feat(cosmetics): logos d'equipe SVG programmatiques (O.8b)
  TODO.md
  apps/web/app/components/TeamLogo.test.tsx
  apps/web/app/components/TeamLogo.tsx
  apps/web/app/teams/TeamsListClient.tsx
  packages/game-engine/src/rosters/index.ts
  packages/game-engine/src/rosters/team-logos.test.ts
  packages/game-engine/src/rosters/team-logos.ts
Labels: game-engine, web

feat(cosmetics): logos d'equipe SVG programmatiques (O.8b) (#377)
  TODO.md
  apps/web/app/components/TeamLogo.test.tsx
  apps/web/app/components/TeamLogo.tsx
  apps/web/app/teams/TeamsListClient.tsx
  packages/game-engine/src/rosters/index.ts
  packages/game-engine/src/rosters/team-logos.test.ts
  packages/game-engine/src/rosters/team-logos.ts
Labels: game-engine, web

feat(community): match of the week + Discord helpers (O.9)
  TODO.md
  apps/web/app/components/Footer.tsx
  packages/game-engine/src/community/community-config.test.ts
  packages/game-engine/src/community/community-config.ts
  packages/game-engine/src/community/discord-webhook.test.ts
  packages/game-engine/src/community/discord-webhook.ts
  packages/game-engine/src/community/index.ts
  packages/game-engine/src/community/match-of-the-week.test.ts
  packages/game-engine/src/community/match-of-the-week.ts
  packages/game-engine/src/index.ts
Labels: game-engine, web

feat(community): match of the week + Discord helpers (O.9) (#378)
  TODO.md
  apps/web/app/components/Footer.tsx
  packages/game-engine/src/community/community-config.test.ts
  packages/game-engine/src/community/community-config.ts
  packages/game-engine/src/community/discord-webhook.test.ts
  packages/game-engine/src/community/discord-webhook.ts
  packages/game-engine/src/community/index.ts
  packages/game-engine/src/community/match-of-the-week.test.ts
  packages/game-engine/src/community/match-of-the-week.ts
  packages/game-engine/src/index.ts
Labels: game-engine, web

feat(analytics): dashboards personnel et global (O.10)
  TODO.md
  packages/game-engine/src/analytics/global-dashboard.test.ts
  packages/game-engine/src/analytics/global-dashboard.ts
  packages/game-engine/src/analytics/index.ts
  packages/game-engine/src/analytics/personal-dashboard.test.ts
  packages/game-engine/src/analytics/personal-dashboard.ts
  packages/game-engine/src/index.ts
Labels: game-engine

feat(analytics): dashboards personnel et global (O.10) (#379)
  TODO.md
  packages/game-engine/src/analytics/global-dashboard.test.ts
  packages/game-engine/src/analytics/global-dashboard.ts
  packages/game-engine/src/analytics/index.ts
  packages/game-engine/src/analytics/personal-dashboard.test.ts
  packages/game-engine/src/analytics/personal-dashboard.ts
  packages/game-engine/src/index.ts
Labels: game-engine

feat(seo): page /a-propos citable (Q.15)
  TODO.md
  apps/web/app/a-propos/AboutClient.tsx
  apps/web/app/a-propos/about-content.test.ts
  apps/web/app/a-propos/about-content.ts
  apps/web/app/a-propos/layout.tsx
  apps/web/app/a-propos/page.tsx
  apps/web/app/components/Footer.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/sitemap.ts
Labels: web

feat(seo): page /a-propos citable (Q.15) (#380)
  TODO.md
  apps/web/app/a-propos/AboutClient.tsx
  apps/web/app/a-propos/about-content.test.ts
  apps/web/app/a-propos/about-content.ts
  apps/web/app/a-propos/layout.tsx
  apps/web/app/a-propos/page.tsx
  apps/web/app/components/Footer.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/sitemap.ts
Labels: web

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
