Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"

chore: update auto-generated build artifacts
  apps/server/prisma/sqlite/memdb1
  apps/web/public/version.json
Labels: web, server

feat: complete sprite sheet rendering pipeline (H.6 5/5) (#172)
  TODO.md
  apps/server/prisma/sqlite/memdb1
  apps/web/public/images/team-sprites/.gitkeep
  apps/web/public/version.json
  packages/ui/src/board/PixiBoard.tsx
  packages/ui/src/board/sprite-frame-resolver.test.ts
  packages/ui/src/board/sprite-frame-resolver.ts
  packages/ui/src/board/useSpriteTextures.test.ts
  packages/ui/src/board/useSpriteTextures.ts
Labels: packages-ui, web, server

feat(I.7): differentiate S3 star players from S2 with override system
  TODO.md
  packages/game-engine/src/rosters/star-players.test.ts
  packages/game-engine/src/rosters/star-players.ts
Labels: game-engine

feat(I.7): differentiate S3 star players from S2 (#173)
  TODO.md
  packages/game-engine/src/rosters/star-players.test.ts
  packages/game-engine/src/rosters/star-players.ts
Labels: game-engine

feat(I.6): add special rules text for all 52 remaining star players
  TODO.md
  packages/game-engine/src/rosters/star-players.test.ts
  packages/game-engine/src/rosters/star-players.ts
Labels: game-engine

feat(I.6): add special rules for all 52 remaining star players (#174)
  TODO.md
  packages/game-engine/src/rosters/star-players.test.ts
  packages/game-engine/src/rosters/star-players.ts
Labels: game-engine

feat(H.7): add terrain skin variants (grass/ruins/snow)
  TODO.md
  packages/ui/src/board/PixiBoard.tsx
  packages/ui/src/board/terrain-skins.test.ts
  packages/ui/src/board/terrain-skins.ts
  packages/ui/src/components/GameBoardWithDugouts.tsx
  packages/ui/src/index.tsx
Labels: packages-ui

feat(H.7): terrain skin variants (grass/ruins/snow) (#175)
  TODO.md
  packages/ui/src/board/PixiBoard.tsx
  packages/ui/src/board/terrain-skins.test.ts
  packages/ui/src/board/terrain-skins.ts
  packages/ui/src/components/GameBoardWithDugouts.tsx
  packages/ui/src/index.tsx
Labels: packages-ui

feat(e2e): add 3 new E2E UI test scenarios + fix LobbyPage team-select flow
  apps/web/app/leaderboard/page.tsx
  apps/web/app/me/teams/new/page.tsx
  apps/web/app/team/select/page.tsx
  tests/e2e-ui/pages/LeaderboardPage.ts
  tests/e2e-ui/pages/LobbyPage.ts
  tests/e2e-ui/pages/TeamBuilderPage.ts
  tests/e2e-ui/specs/leaderboard.spec.ts
  tests/e2e-ui/specs/matchmaking.spec.ts
  tests/e2e-ui/specs/team-creation.spec.ts
Labels: web

feat(e2e): add 3 new E2E UI test scenarios + fix team-select flow (#176)
  apps/web/app/leaderboard/page.tsx
  apps/web/app/me/teams/new/page.tsx
  apps/web/app/team/select/page.tsx
  tests/e2e-ui/pages/LeaderboardPage.ts
  tests/e2e-ui/pages/LobbyPage.ts
  tests/e2e-ui/pages/TeamBuilderPage.ts
  tests/e2e-ui/specs/leaderboard.spec.ts
  tests/e2e-ui/specs/matchmaking.spec.ts
  tests/e2e-ui/specs/team-creation.spec.ts
Labels: web

fix: resolve 12 CRITICAL and HIGH bugs found by multi-agent code analysis
  apps/web/app/play/[id]/hooks/useGameState.ts
  apps/web/app/play/[id]/page.tsx
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/utils/dice-notifications.ts
  packages/game-engine/src/utils/dice.ts
  packages/ui/src/components/GameScoreboard.tsx
Labels: packages-ui, game-engine, web

docs: add sprint planning files for 49 remaining issues across 4 sprints
  docs/sprints/README.md
  docs/sprints/SPRINT-2-game-engine-stabilization.md
  docs/sprints/SPRINT-3-frontend-stabilization.md
  docs/sprints/SPRINT-4-server-security.md
  docs/sprints/SPRINT-5-test-infrastructure.md
Labels: none

fix: resolve 12 CRITICAL and HIGH bugs found by multi-agent code analysis (#177)
  apps/web/app/play/[id]/hooks/useGameState.ts
  apps/web/app/play/[id]/page.tsx
  docs/sprints/README.md
  docs/sprints/SPRINT-2-game-engine-stabilization.md
  docs/sprints/SPRINT-3-frontend-stabilization.md
  docs/sprints/SPRINT-4-server-security.md
  docs/sprints/SPRINT-5-test-infrastructure.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/utils/dice-notifications.ts
  packages/game-engine/src/utils/dice.ts
  packages/ui/src/components/GameScoreboard.tsx
Labels: packages-ui, game-engine, web

docs: analyze project roadmap and plan sprints 12-20
  TODO.md
  docs/roadmap/evolution-analysis-2026-04-12.md
  docs/roadmap/phases.md
Labels: none

docs: add evolution analysis and sprint 12-20 roadmap (#178)
  TODO.md
  docs/roadmap/evolution-analysis-2026-04-12.md
  docs/roadmap/phases.md
Labels: none

feat(SEC-3): centralize JWT_SECRET/MATCH_SECRET in config.ts
  TODO.md
  apps/server/src/config.test.ts
  apps/server/src/config.ts
  apps/server/src/middleware/authSocket.ts
  apps/server/src/middleware/authUser.ts
  apps/server/src/routes/auth.ts
  apps/server/src/routes/match.ts
  apps/server/src/services/matchmaking.ts
  apps/web/app/api/verify-admin/route.ts
Labels: web, server

chore: update web build date
  apps/web/public/version.json
Labels: web

fix: use lazy JWT_SECRET init in Next.js route to fix build
  apps/web/app/api/verify-admin/route.ts
Labels: web

feat(SEC-3): centralize JWT_SECRET/MATCH_SECRET in config.ts (#179)
  TODO.md
  apps/server/src/config.test.ts
  apps/server/src/config.ts
  apps/server/src/middleware/authSocket.ts
  apps/server/src/middleware/authUser.ts
  apps/server/src/routes/auth.ts
  apps/server/src/routes/match.ts
  apps/server/src/services/matchmaking.ts
  apps/web/app/api/verify-admin/route.ts
  apps/web/public/version.json
Labels: web, server

feat(SEC-4): restrict CORS to specific origins
  TODO.md
  apps/server/src/config.test.ts
  apps/server/src/config.ts
  apps/server/src/index.ts
  apps/server/src/socket.ts
Labels: server

feat(SEC-4): restrict CORS to specific origins (#180)
  TODO.md
  apps/server/src/config.test.ts
  apps/server/src/config.ts
  apps/server/src/index.ts
  apps/server/src/socket.ts
Labels: server

feat(J.1): implement bone-head activation roll
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/bone-head.test.ts
  packages/game-engine/src/mechanics/negative-traits.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(J.1): implement bone-head activation roll (#181)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/bone-head.test.ts
  packages/game-engine/src/mechanics/negative-traits.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(J.2): implement really-stupid activation roll
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/negative-traits.ts
  packages/game-engine/src/mechanics/really-stupid.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(J.2): implement really-stupid activation roll (#182)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/negative-traits.ts
  packages/game-engine/src/mechanics/really-stupid.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(J.3): implement wild-animal activation roll
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/negative-traits.ts
  packages/game-engine/src/mechanics/wild-animal.test.ts
  packages/game-engine/src/skills/index.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(J.3): implement wild-animal activation roll (#183)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/negative-traits.ts
  packages/game-engine/src/mechanics/wild-animal.test.ts
  packages/game-engine/src/skills/index.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(J.4): implement animal-savagery activation roll
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/animal-savagery.test.ts
  packages/game-engine/src/mechanics/negative-traits.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(J.4): implement animal-savagery activation roll (#184)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/animal-savagery.test.ts
  packages/game-engine/src/mechanics/negative-traits.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(J.5): implement take-root activation roll
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/mechanics/negative-traits.ts
  packages/game-engine/src/mechanics/take-root.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(J.5): implement take-root activation roll (#185)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/mechanics/negative-traits.ts
  packages/game-engine/src/mechanics/take-root.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

refactor: remove node_modules volumes from docker-compose.yml
  docker-compose.yml
Labels: none

chore(release): 1.51.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  462f28a04abde921044e25c8e5f354fc2ef208b5
Labels: none

Enhance maintenance page design and functionality
  maintenance/index.html
  maintenance/nginx.conf
Labels: none

feat: add CORS_ORIGINS environment variable to docker-compose.yml
  docker-compose.yml
Labels: none

chore(release): 1.52.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  1bd05a557e699e2294cd84bc972e4b37ae4df607
Labels: none

feat: add rate limiting whitelist and trust proxy configuration
  apps/server/src/index.ts
  apps/server/src/middleware/rateLimiter.ts
  docker-compose.yml
Labels: server

chore(release): 1.53.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none
