Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

feat(auth): cookie auth_token httpOnly + sameSite=strict + secure (S24.1) (#395)
  apps/web/app/AuthBar.tsx
  apps/web/app/admin/layout.tsx
  apps/web/app/admin/sync/page.tsx
  apps/web/app/api/clear-auth-cookie/route.test.ts
  apps/web/app/api/clear-auth-cookie/route.ts
  apps/web/app/api/sync-auth-cookie/route.test.ts
  apps/web/app/api/sync-auth-cookie/route.ts
  apps/web/app/auth/sync/page.tsx
  apps/web/app/lib/auth-cookie.test.ts
  apps/web/app/lib/auth-cookie.ts
  apps/web/app/login/page.tsx
  apps/web/app/register/page.tsx
  apps/web/public/version.json
  docs/roadmap/sprints/S24-stabilite-securite.md
Labels: web

refactor(team-builder): place staff section above star players
  apps/web/app/me/teams/new/page.tsx
Labels: web

feat: ajoute Helmet (HSTS, X-Frame, CSP) sur API Express
  apps/server/package.json
  apps/server/src/index.ts
  apps/server/src/middleware/securityHeaders.test.ts
  apps/server/src/middleware/securityHeaders.ts
  docs/roadmap/sprints/S24-stabilite-securite.md
  pnpm-lock.yaml
Labels: server

Reorder StarPlayerSelector after staff section (#396)
  apps/web/app/me/teams/new/page.tsx
Labels: web

feat(server): Helmet + HSTS + CSP + X-Frame-Options DENY (S24.2) (#397)
  apps/server/package.json
  apps/server/src/index.ts
  apps/server/src/middleware/securityHeaders.test.ts
  apps/server/src/middleware/securityHeaders.ts
  docs/roadmap/sprints/S24-stabilite-securite.md
  pnpm-lock.yaml
Labels: server

feat(auth): JWT access/refresh helpers (S24.3a)
  apps/server/src/services/auth-tokens.test.ts
  apps/server/src/services/auth-tokens.ts
Labels: server

feat(auth): JWT access/refresh helpers (S24.3a, slice 1/4) (#398)
  apps/server/src/services/auth-tokens.test.ts
  apps/server/src/services/auth-tokens.ts
Labels: server

feat(auth): refresh-token jti + in-memory store with rotation/blacklist (S24.3b, slice 2/4)
  apps/server/src/services/auth-tokens.test.ts
  apps/server/src/services/auth-tokens.ts
  apps/server/src/services/refresh-token-store.test.ts
  apps/server/src/services/refresh-token-store.ts
Labels: server

feat(auth): refresh-token jti + in-memory store rotation (S24.3b) (#399)
  apps/server/src/services/auth-tokens.test.ts
  apps/server/src/services/auth-tokens.ts
  apps/server/src/services/refresh-token-store.test.ts
  apps/server/src/services/refresh-token-store.ts
Labels: server

feat(auth): refresh token Prisma persistence + async store interface (S24.3c, slice 3/4)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/services/prisma-refresh-token-store.test.ts
  apps/server/src/services/prisma-refresh-token-store.ts
  apps/server/src/services/refresh-token-store.test.ts
  apps/server/src/services/refresh-token-store.ts
  prisma/migrations/20260427160000_add_refresh_token/migration.sql
  prisma/schema.prisma
Labels: server

feat(auth): refresh token Prisma persistence + async store (S24.3c) (#400)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/services/prisma-refresh-token-store.test.ts
  apps/server/src/services/prisma-refresh-token-store.ts
  apps/server/src/services/refresh-token-store.test.ts
  apps/server/src/services/refresh-token-store.ts
  prisma/migrations/20260427160000_add_refresh_token/migration.sql
  prisma/schema.prisma
Labels: server

feat(auth): POST /auth/refresh endpoint with rotation + reuse detection (S24.3d, slice 4/4)
  apps/server/src/index.ts
  apps/server/src/routes/auth-refresh.test.ts
  apps/server/src/routes/auth-refresh.ts
  apps/server/src/schemas/auth.schemas.ts
  docs/roadmap/sprints/S24-stabilite-securite.md
Labels: server

feat(auth): POST /auth/refresh endpoint with rotation (S24.3d) (#401)
  apps/server/src/index.ts
  apps/server/src/routes/auth-refresh.test.ts
  apps/server/src/routes/auth-refresh.ts
  apps/server/src/schemas/auth.schemas.ts
  docs/roadmap/sprints/S24-stabilite-securite.md
Labels: server

fix(web): WebSocket cleanup defensive removeAllListeners (S24.4)
  apps/web/app/play/[id]/hooks/useGameSocket.test.ts
  apps/web/app/play/[id]/hooks/useGameSocket.ts
  docs/roadmap/sprints/S24-stabilite-securite.md
Labels: web

feat(auth): wire access+refresh token rotation into login/register/refresh/logout (S24.3)
  apps/server/src/routes/auth.test.ts
  apps/server/src/routes/auth.ts
  apps/server/src/schemas/auth.schemas.ts
  apps/web/app/AuthBar.tsx
  apps/web/app/components/AuthRefreshLoop.tsx
  apps/web/app/layout.tsx
  apps/web/app/lib/auth-refresh.test.ts
  apps/web/app/lib/auth-refresh.ts
  apps/web/app/lib/auth-storage.test.ts
  apps/web/app/lib/auth-storage.ts
  apps/web/app/login/page.tsx
  apps/web/app/register/page.tsx
  docs/roadmap/sprints/S24-stabilite-securite.md
Labels: web, server

fix(web): WebSocket cleanup defensive removeAllListeners (S24.4) (#402)
  apps/web/app/play/[id]/hooks/useGameSocket.test.ts
  apps/web/app/play/[id]/hooks/useGameSocket.ts
  docs/roadmap/sprints/S24-stabilite-securite.md
Labels: web

fix(web): polling fallback 10s base + exponential backoff (S24.5)
  apps/web/app/play/[id]/hooks/pollDelay.test.ts
  apps/web/app/play/[id]/hooks/pollDelay.ts
  apps/web/app/play/[id]/hooks/useGameState.ts
  docs/roadmap/sprints/S24-stabilite-securite.md
Labels: web

fix(web): polling fallback 10s + exponential backoff (S24.5) (#404)
  apps/web/app/play/[id]/hooks/pollDelay.test.ts
  apps/web/app/play/[id]/hooks/pollDelay.ts
  apps/web/app/play/[id]/hooks/useGameState.ts
  docs/roadmap/sprints/S24-stabilite-securite.md
Labels: web

test(server): seal rate limiter coverage on /leagues + auth (S24.6)
  apps/server/src/middleware/rateLimiter.test.ts
  apps/server/src/middleware/rateLimiter.ts
  docs/roadmap/sprints/S24-stabilite-securite.md
Labels: server

test(server): seal rate limiter coverage on /leagues + auth (S24.6) (#405)
  apps/server/src/middleware/rateLimiter.test.ts
  apps/server/src/middleware/rateLimiter.ts
  docs/roadmap/sprints/S24-stabilite-securite.md
Labels: server

fix(web): silence debug console.log in production via webLog wrapper (S24.7)
  apps/web/app/lib/log.test.ts
  apps/web/app/lib/log.ts
  apps/web/app/local-matches/[id]/LocalMatchActions.tsx
  apps/web/app/local-matches/[id]/LocalMatchSummary.tsx
  apps/web/app/local-matches/[id]/page.tsx
  apps/web/app/play/[id]/page.tsx
  docs/roadmap/sprints/S24-stabilite-securite.md
Labels: web

fix(web): silence debug console.log in prod via webLog wrapper (S24.7) (#406)
  apps/web/app/lib/log.test.ts
  apps/web/app/lib/log.ts
  apps/web/app/local-matches/[id]/LocalMatchActions.tsx
  apps/web/app/local-matches/[id]/LocalMatchSummary.tsx
  apps/web/app/local-matches/[id]/page.tsx
  apps/web/app/play/[id]/page.tsx
  docs/roadmap/sprints/S24-stabilite-securite.md
Labels: web

fix(server): introduce serverLog wrapper for console.* (S24.8)
  apps/server/src/fix-admin.ts
  apps/server/src/game-rooms.ts
  apps/server/src/game-spectator.ts
  apps/server/src/index.ts
  apps/server/src/list-users.ts
  apps/server/src/middleware/adminOnly.ts
  apps/server/src/middleware/requestTiming.ts
  apps/server/src/middleware/requireFeatureFlag.ts
  apps/server/src/prisma.ts
  apps/server/src/routes/achievements.ts
  apps/server/src/routes/admin-data.ts
  apps/server/src/routes/admin.ts
  apps/server/src/routes/auth.ts
  apps/server/src/routes/career-stats.ts
  apps/server/src/routes/cup.ts
  apps/server/src/routes/feature-flags.ts
  apps/server/src/routes/kofi.ts
  apps/server/src/routes/local-match.ts
  apps/server/src/routes/match.ts
  apps/server/src/routes/public-positions.ts
  apps/server/src/routes/public-rosters.ts
  apps/server/src/routes/public-skills.ts
  apps/server/src/routes/star-players.ts
  apps/server/src/routes/team.ts
  apps/server/src/scripts/fix-existing-positions-ruleset.ts
  apps/server/src/scripts/verify-ruleset-consistency.ts
  apps/server/src/seed.ts
  apps/server/src/services/ai-loop.ts
  apps/server/src/services/inducement-processor.ts
  apps/server/src/services/match-start.ts
  apps/server/src/services/turn-timer-orchestrator.ts
  apps/server/src/socket.ts
  apps/server/src/utils/server-log.test.ts
  apps/server/src/utils/server-log.ts
  docs/roadmap/sprints/S24-stabilite-securite.md
Labels: server

fix(server): introduce serverLog wrapper for console.* (S24.8) (#407)
  apps/server/src/fix-admin.ts
  apps/server/src/game-rooms.ts
  apps/server/src/game-spectator.ts
  apps/server/src/index.ts
  apps/server/src/list-users.ts
  apps/server/src/middleware/adminOnly.ts
  apps/server/src/middleware/requestTiming.ts
  apps/server/src/middleware/requireFeatureFlag.ts
  apps/server/src/prisma.ts
  apps/server/src/routes/achievements.ts
  apps/server/src/routes/admin-data.ts
  apps/server/src/routes/admin.ts
  apps/server/src/routes/auth.ts
  apps/server/src/routes/career-stats.ts
  apps/server/src/routes/cup.ts
  apps/server/src/routes/feature-flags.ts
  apps/server/src/routes/kofi.ts
  apps/server/src/routes/local-match.ts
  apps/server/src/routes/match.ts
  apps/server/src/routes/public-positions.ts
  apps/server/src/routes/public-rosters.ts
  apps/server/src/routes/public-skills.ts
  apps/server/src/routes/star-players.ts
  apps/server/src/routes/team.ts
  apps/server/src/scripts/fix-existing-positions-ruleset.ts
  apps/server/src/scripts/verify-ruleset-consistency.ts
  apps/server/src/seed.ts
  apps/server/src/services/ai-loop.ts
  apps/server/src/services/inducement-processor.ts
  apps/server/src/services/match-start.ts
  apps/server/src/services/turn-timer-orchestrator.ts
  apps/server/src/socket.ts
  apps/server/src/utils/server-log.test.ts
  apps/server/src/utils/server-log.ts
  docs/roadmap/sprints/S24-stabilite-securite.md
Labels: server

feat(devops): docker hot-reload + 5 daily-dev make targets (S24.9)
  .gitignore
  Makefile
  docker-compose.yml
  docs/roadmap/sprints/S24-stabilite-securite.md
  scripts/tests/infra-smoke.sh
Labels: none

docs(roadmap): S24 termine
  docs/roadmap/phases.md
Labels: none

feat(devops): docker hot-reload + 5 daily-dev make targets (S24.9) (#408)
  .gitignore
  Makefile
  docker-compose.yml
  docs/roadmap/phases.md
  docs/roadmap/sprints/S24-stabilite-securite.md
  scripts/tests/infra-smoke.sh
Labels: none

feat(server): pino logger + correlation IDs + deep healthcheck (S25.1)
  apps/server/package.json
  apps/server/src/index.ts
  apps/server/src/middleware/requestContext.test.ts
  apps/server/src/middleware/requestContext.ts
  apps/server/src/utils/healthcheck.test.ts
  apps/server/src/utils/healthcheck.ts
  apps/server/src/utils/pino-logger.test.ts
  apps/server/src/utils/pino-logger.ts
  docs/roadmap/sprints/S25-observabilite-qualite.md
  pnpm-lock.yaml
Labels: server

feat(server): pino logger + correlation IDs + deep healthcheck (S25.1) (#409)
  apps/server/package.json
  apps/server/src/index.ts
  apps/server/src/middleware/requestContext.test.ts
  apps/server/src/middleware/requestContext.ts
  apps/server/src/utils/healthcheck.test.ts
  apps/server/src/utils/healthcheck.ts
  apps/server/src/utils/pino-logger.test.ts
  apps/server/src/utils/pino-logger.ts
  docs/roadmap/sprints/S25-observabilite-qualite.md
  pnpm-lock.yaml
Labels: server

feat(web): @sentry/nextjs DSN-gated init + sample rate logic (S25.2)
  apps/web/app/lib/sentry-config.test.ts
  apps/web/app/lib/sentry-config.ts
  apps/web/instrumentation.ts
  apps/web/package.json
  apps/web/sentry.client.config.ts
  apps/web/sentry.edge.config.ts
  apps/web/sentry.server.config.ts
  docs/roadmap/sprints/S25-observabilite-qualite.md
  pnpm-lock.yaml
Labels: web

feat(web): @sentry/nextjs DSN-gated init + 10% prod sample rate (S25.2) (#410)
  apps/web/app/lib/sentry-config.test.ts
  apps/web/app/lib/sentry-config.ts
  apps/web/instrumentation.ts
  apps/web/package.json
  apps/web/sentry.client.config.ts
  apps/web/sentry.edge.config.ts
  apps/web/sentry.server.config.ts
  docs/roadmap/sprints/S25-observabilite-qualite.md
  pnpm-lock.yaml
Labels: web

feat(server): Prometheus /metrics endpoint + 5 custom metrics (S25.3)
  apps/server/package.json
  apps/server/src/index.ts
  apps/server/src/middleware/requestTiming.ts
  apps/server/src/utils/metrics.test.ts
  apps/server/src/utils/metrics.ts
  docs/roadmap/sprints/S25-observabilite-qualite.md
  pnpm-lock.yaml
Labels: server

feat(server): Prometheus /metrics endpoint + 5 custom metrics (S25.3) (#411)
  apps/server/package.json
  apps/server/src/index.ts
  apps/server/src/middleware/requestTiming.ts
  apps/server/src/utils/metrics.test.ts
  apps/server/src/utils/metrics.ts
  docs/roadmap/sprints/S25-observabilite-qualite.md
  pnpm-lock.yaml
Labels: server

test(ci): coverage thresholds + disable passWithNoTests (S25.4)
  .github/workflows/ci.yml
  apps/server/package.json
  apps/server/vitest.config.ts
  apps/web/vitest.config.ts
  docs/roadmap/sprints/S25-observabilite-qualite.md
  packages/game-engine/vitest.config.ts
  packages/ui/vitest.config.ts
  pnpm-lock.yaml
Labels: packages-ui, game-engine, web, server

fix(ci): restore Unit tests fallback + use test:coverage script
  .github/workflows/ci.yml
  apps/server/package.json
Labels: server

test(ci): coverage thresholds + disable passWithNoTests (S25.4) (#412)
  .github/workflows/ci.yml
  apps/server/package.json
  apps/server/vitest.config.ts
  apps/web/vitest.config.ts
  docs/roadmap/sprints/S25-observabilite-qualite.md
  packages/game-engine/vitest.config.ts
  packages/ui/vitest.config.ts
  pnpm-lock.yaml
Labels: packages-ui, game-engine, web, server

refactor(server): standardize error envelope on league.ts (S25.5a)
  apps/server/src/routes/league.ts
  docs/roadmap/sprints/S25-observabilite-qualite.md
Labels: server

refactor(server): standardize error envelope on league.ts (S25.5a) (#413)
  apps/server/src/routes/league.ts
  docs/roadmap/sprints/S25-observabilite-qualite.md
Labels: server

feat(web): shared apiRequest<T> helper unwrapping ApiResponse (S25.5b)
  apps/web/app/lib/api-client.test.ts
  apps/web/app/lib/api-client.ts
  apps/web/app/lib/featureFlags.ts
Labels: web

feat(web): shared apiRequest<T> helper unwrapping ApiResponse (S25.5b) (#414)
  apps/web/app/lib/api-client.test.ts
  apps/web/app/lib/api-client.ts
  apps/web/app/lib/featureFlags.ts
Labels: web

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
