Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

fix(ci): deploy workflow filter unit tests metier (drop E2E packages) (#770)
  .github/workflows/deploy.yml
Labels: none

fix(ci): deploy workflow — GHCR auth + permissions + retire script_stop
  .github/workflows/deploy.yml
Labels: none

fix(ci): deploy workflow GHCR auth + permissions deployments + retire script_stop (#771)
  .github/workflows/deploy.yml
Labels: none

ci: opt-in Node 24 pour les actions JavaScript (deprecation Node 20)
  .github/workflows/auto-merge.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/docker-server.yml
  .github/workflows/e2e.yml
  .github/workflows/expo-eas.yml
  .github/workflows/labeler.yml
  .github/workflows/preview-vercel.yml
  .github/workflows/release.yml
  .github/workflows/semantic-release.yml
  .github/workflows/sim-bench.yml
Labels: none

ci: opt-in Node 24 pour les actions JS (deprecation Node 20) (#772)
  .github/workflows/auto-merge.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/docker-server.yml
  .github/workflows/e2e.yml
  .github/workflows/expo-eas.yml
  .github/workflows/labeler.yml
  .github/workflows/preview-vercel.yml
  .github/workflows/release.yml
  .github/workflows/semantic-release.yml
  .github/workflows/sim-bench.yml
Labels: none

feat(admin): edition branding teams Pro League
  apps/server/src/index.ts
  apps/server/src/routes/admin-pro-team.test.ts
  apps/server/src/routes/admin-pro-team.ts
  apps/server/src/schemas/admin.schemas.ts
  apps/server/src/services/pro-team-branding.test.ts
  apps/server/src/services/pro-team-branding.ts
  apps/web/app/admin/pro-league/page.tsx
  apps/web/app/admin/pro-league/teams/[id]/page.test.tsx
  apps/web/app/admin/pro-league/teams/[id]/page.tsx
  apps/web/app/admin/pro-league/teams/page.test.tsx
  apps/web/app/admin/pro-league/teams/page.tsx
Labels: web, server

feat(admin): edition branding teams Pro League (#773)
  apps/server/src/index.ts
  apps/server/src/routes/admin-pro-team.test.ts
  apps/server/src/routes/admin-pro-team.ts
  apps/server/src/schemas/admin.schemas.ts
  apps/server/src/services/pro-team-branding.test.ts
  apps/server/src/services/pro-team-branding.ts
  apps/web/app/admin/pro-league/page.tsx
  apps/web/app/admin/pro-league/teams/[id]/page.test.tsx
  apps/web/app/admin/pro-league/teams/[id]/page.tsx
  apps/web/app/admin/pro-league/teams/page.test.tsx
  apps/web/app/admin/pro-league/teams/page.tsx
Labels: web, server

feat(admin): gestion rosters Pro League (replenish, regenerate, retire)
  apps/server/src/index.ts
  apps/server/src/routes/admin-pro-roster.test.ts
  apps/server/src/routes/admin-pro-roster.ts
  apps/server/src/schemas/admin.schemas.ts
  apps/server/src/services/pro-roster-admin.test.ts
  apps/server/src/services/pro-roster-admin.ts
  apps/web/app/admin/pro-league/page.tsx
  apps/web/app/admin/pro-league/teams/[id]/page.tsx
  apps/web/app/admin/pro-league/teams/[id]/roster/page.test.tsx
  apps/web/app/admin/pro-league/teams/[id]/roster/page.tsx
Labels: web, server

feat(admin): gestion rosters Pro League (replenish/regenerate/retire) (#774)
  apps/server/src/index.ts
  apps/server/src/routes/admin-pro-roster.test.ts
  apps/server/src/routes/admin-pro-roster.ts
  apps/server/src/schemas/admin.schemas.ts
  apps/server/src/services/pro-roster-admin.test.ts
  apps/server/src/services/pro-roster-admin.ts
  apps/web/app/admin/pro-league/page.tsx
  apps/web/app/admin/pro-league/teams/[id]/page.tsx
  apps/web/app/admin/pro-league/teams/[id]/roster/page.test.tsx
  apps/web/app/admin/pro-league/teams/[id]/roster/page.tsx
Labels: web, server

feat(pro-league): mini-leagues de pronostics privees (Q.D.1)
  apps/server/prisma/sqlite/migrations/20260515000000_add_prediction_leagues/migration.sql
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/pro-prediction-leagues.test.ts
  apps/server/src/routes/pro-prediction-leagues.ts
  apps/server/src/schemas/pro-prediction.schemas.ts
  apps/server/src/services/pro-bet-settlement.ts
  apps/server/src/services/pro-prediction-leagues.test.ts
  apps/server/src/services/pro-prediction-leagues.ts
  apps/web/app/pro-league/leagues/[id]/page.tsx
  apps/web/app/pro-league/leagues/page.test.tsx
  apps/web/app/pro-league/leagues/page.tsx
  prisma/migrations/20260515000000_add_prediction_leagues/migration.sql
  prisma/schema.prisma
Labels: web, server

feat(pro-league): mini-leagues de pronostics privees (Sprint Q lot Q.D.1) (#775)
  apps/server/prisma/sqlite/migrations/20260515000000_add_prediction_leagues/migration.sql
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/pro-prediction-leagues.test.ts
  apps/server/src/routes/pro-prediction-leagues.ts
  apps/server/src/schemas/pro-prediction.schemas.ts
  apps/server/src/services/pro-bet-settlement.ts
  apps/server/src/services/pro-prediction-leagues.test.ts
  apps/server/src/services/pro-prediction-leagues.ts
  apps/web/app/pro-league/leagues/[id]/page.tsx
  apps/web/app/pro-league/leagues/page.test.tsx
  apps/web/app/pro-league/leagues/page.tsx
  prisma/migrations/20260515000000_add_prediction_leagues/migration.sql
  prisma/schema.prisma
Labels: web, server

feat(pro-league): Survivor Pick'em hebdo (Q.D.2)
  apps/server/prisma/sqlite/migrations/20260516000000_add_survivor_entries/migration.sql
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/pro-survivor.test.ts
  apps/server/src/routes/pro-survivor.ts
  apps/server/src/schemas/pro-survivor.schemas.ts
  apps/server/src/services/pro-bet-settlement.ts
  apps/server/src/services/pro-survivor.test.ts
  apps/server/src/services/pro-survivor.ts
  apps/web/app/pro-league/survivor/page.test.tsx
  apps/web/app/pro-league/survivor/page.tsx
  prisma/migrations/20260516000000_add_survivor_entries/migration.sql
  prisma/schema.prisma
Labels: web, server

feat(pro-league): Survivor Pick'em hebdo (Sprint Q lot Q.D.2) (#776)
  apps/server/prisma/sqlite/migrations/20260516000000_add_survivor_entries/migration.sql
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/pro-survivor.test.ts
  apps/server/src/routes/pro-survivor.ts
  apps/server/src/schemas/pro-survivor.schemas.ts
  apps/server/src/services/pro-bet-settlement.ts
  apps/server/src/services/pro-survivor.test.ts
  apps/server/src/services/pro-survivor.ts
  apps/web/app/pro-league/survivor/page.test.tsx
  apps/web/app/pro-league/survivor/page.tsx
  prisma/migrations/20260516000000_add_survivor_entries/migration.sql
  prisma/schema.prisma
Labels: web, server

feat(pro-league): career stats persistees joueur (Q.A.1)
  apps/server/prisma/sqlite/migrations/20260517000000_add_player_career_snapshot/migration.sql
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/pro-league-career.test.ts
  apps/server/src/routes/pro-league.ts
  apps/server/src/services/pro-player-career-stats.test.ts
  apps/server/src/services/pro-player-career-stats.ts
  apps/web/app/pro-league/teams/[slug]/players/[playerId]/page.test.tsx
  apps/web/app/pro-league/teams/[slug]/players/[playerId]/page.tsx
  prisma/migrations/20260517000000_add_player_career_snapshot/migration.sql
  prisma/schema.prisma
Labels: web, server

feat(pro-league): career stats persistees joueur (Sprint Q lot Q.A.1) (#777)
  apps/server/prisma/sqlite/migrations/20260517000000_add_player_career_snapshot/migration.sql
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/pro-league-career.test.ts
  apps/server/src/routes/pro-league.ts
  apps/server/src/services/pro-player-career-stats.test.ts
  apps/server/src/services/pro-player-career-stats.ts
  apps/web/app/pro-league/teams/[slug]/players/[playerId]/page.test.tsx
  apps/web/app/pro-league/teams/[slug]/players/[playerId]/page.tsx
  prisma/migrations/20260517000000_add_player_career_snapshot/migration.sql
  prisma/schema.prisma
Labels: web, server

feat(pro-league): page career joueur dediee (Q.A.2)
  apps/server/prisma/sqlite/migrations/20260518000000_extend_career_snapshot/migration.sql
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/services/pro-player-career-stats.test.ts
  apps/server/src/services/pro-player-career-stats.ts
  apps/web/app/pro-league/teams/[slug]/players/[playerId]/career/page.test.tsx
  apps/web/app/pro-league/teams/[slug]/players/[playerId]/career/page.tsx
  apps/web/app/pro-league/teams/[slug]/players/[playerId]/page.tsx
  prisma/migrations/20260518000000_extend_career_snapshot/migration.sql
  prisma/schema.prisma
Labels: web, server

feat(pro-league): page career joueur dediee (Sprint Q lot Q.A.2) (#778)
  apps/server/prisma/sqlite/migrations/20260518000000_extend_career_snapshot/migration.sql
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/services/pro-player-career-stats.test.ts
  apps/server/src/services/pro-player-career-stats.ts
  apps/web/app/pro-league/teams/[slug]/players/[playerId]/career/page.test.tsx
  apps/web/app/pro-league/teams/[slug]/players/[playerId]/career/page.tsx
  apps/web/app/pro-league/teams/[slug]/players/[playerId]/page.tsx
  prisma/migrations/20260518000000_extend_career_snapshot/migration.sql
  prisma/schema.prisma
Labels: web, server

feat(pro-league): team head-to-head card + page (Q.A.3)
  apps/server/src/routes/pro-league-rivalry.test.ts
  apps/server/src/routes/pro-league.ts
  apps/server/src/services/pro-league-rivalry.test.ts
  apps/server/src/services/pro-league-rivalry.ts
  apps/web/app/pro-league/teams/[slug]/_components/TeamRivalriesSection.test.tsx
  apps/web/app/pro-league/teams/[slug]/_components/TeamRivalriesSection.tsx
  apps/web/app/pro-league/teams/[slug]/page.tsx
  apps/web/app/pro-league/teams/[slug]/vs/[opponentSlug]/page.test.tsx
  apps/web/app/pro-league/teams/[slug]/vs/[opponentSlug]/page.tsx
Labels: web, server

fix(pro-league): 404 replay test-match + double-highlight menu admin
  apps/web/app/admin/layout.tsx
  apps/web/app/admin/sim/test-match/page.tsx
Labels: web

feat(pro-league): team head-to-head card + page detail (Sprint Q lot Q.A.3) (#779)
  apps/server/src/routes/pro-league-rivalry.test.ts
  apps/server/src/routes/pro-league.ts
  apps/server/src/services/pro-league-rivalry.test.ts
  apps/server/src/services/pro-league-rivalry.ts
  apps/web/app/pro-league/teams/[slug]/_components/TeamRivalriesSection.test.tsx
  apps/web/app/pro-league/teams/[slug]/_components/TeamRivalriesSection.tsx
  apps/web/app/pro-league/teams/[slug]/page.tsx
  apps/web/app/pro-league/teams/[slug]/vs/[opponentSlug]/page.test.tsx
  apps/web/app/pro-league/teams/[slug]/vs/[opponentSlug]/page.tsx
Labels: web, server

feat(pro-league): rivalry narrative dans la Gazette (Q.A.4)
  apps/server/src/services/pro-gazette-llm.test.ts
  apps/server/src/services/pro-gazette-llm.ts
  apps/server/src/services/pro-gazette-recap.test.ts
  apps/server/src/services/pro-gazette-recap.ts
  apps/server/src/services/pro-storyline-detector.test.ts
  apps/server/src/services/pro-storyline-detector.ts
Labels: server

feat(pro-league): rivalry narrative dans la Gazette (Sprint Q lot Q.A.4) (#781)
  apps/server/src/services/pro-gazette-llm.test.ts
  apps/server/src/services/pro-gazette-llm.ts
  apps/server/src/services/pro-gazette-recap.test.ts
  apps/server/src/services/pro-gazette-recap.ts
  apps/server/src/services/pro-storyline-detector.test.ts
  apps/server/src/services/pro-storyline-detector.ts
Labels: server

Fix admin navigation and pro-league match URL routing (#780)
  apps/web/app/admin/layout.tsx
  apps/web/app/admin/sim/test-match/page.tsx
Labels: web

feat(pro-league): Player-of-the-week vote (Q.B.1)
  apps/server/prisma/sqlite/migrations/20260519000000_add_mvp_vote/migration.sql
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/pro-league-mvp.test.ts
  apps/server/src/routes/pro-league.ts
  apps/server/src/services/pro-mvp-vote.test.ts
  apps/server/src/services/pro-mvp-vote.ts
  apps/web/app/pro-league/matches/[id]/_components/MvpVoteSection.test.tsx
  apps/web/app/pro-league/matches/[id]/_components/MvpVoteSection.tsx
  apps/web/app/pro-league/matches/[id]/page.tsx
  prisma/migrations/20260519000000_add_mvp_vote/migration.sql
  prisma/schema.prisma
Labels: web, server

feat(pro-league): Player-of-the-week vote (Sprint Q lot Q.B.1) (#782)
  apps/server/prisma/sqlite/migrations/20260519000000_add_mvp_vote/migration.sql
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/pro-league-mvp.test.ts
  apps/server/src/routes/pro-league.ts
  apps/server/src/services/pro-mvp-vote.test.ts
  apps/server/src/services/pro-mvp-vote.ts
  apps/web/app/pro-league/matches/[id]/_components/MvpVoteSection.test.tsx
  apps/web/app/pro-league/matches/[id]/_components/MvpVoteSection.tsx
  apps/web/app/pro-league/matches/[id]/page.tsx
  prisma/migrations/20260519000000_add_mvp_vote/migration.sql
  prisma/schema.prisma
Labels: web, server

feat(pro-league): commentaires Gazette + moderation (Q.B.2)
  apps/server/prisma/sqlite/migrations/20260520000000_add_gazette_comments/migration.sql
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/pro-gazette-comments.test.ts
  apps/server/src/routes/pro-gazette-comments.ts
  apps/server/src/services/pro-gazette-comments.test.ts
  apps/server/src/services/pro-gazette-comments.ts
  apps/web/app/admin/gazette/comments/page.test.tsx
  apps/web/app/admin/gazette/comments/page.tsx
  apps/web/app/pro-league/gazette/_components/GazetteCommentsThread.test.tsx
  apps/web/app/pro-league/gazette/_components/GazetteCommentsThread.tsx
  apps/web/app/pro-league/gazette/_shared.tsx
  prisma/migrations/20260520000000_add_gazette_comments/migration.sql
  prisma/schema.prisma
Labels: web, server

feat(pro-league): commentaires Gazette + moderation (Sprint Q lot Q.B.2) (#783)
  apps/server/prisma/sqlite/migrations/20260520000000_add_gazette_comments/migration.sql
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/pro-gazette-comments.test.ts
  apps/server/src/routes/pro-gazette-comments.ts
  apps/server/src/services/pro-gazette-comments.test.ts
  apps/server/src/services/pro-gazette-comments.ts
  apps/web/app/admin/gazette/comments/page.test.tsx
  apps/web/app/admin/gazette/comments/page.tsx
  apps/web/app/pro-league/gazette/_components/GazetteCommentsThread.test.tsx
  apps/web/app/pro-league/gazette/_components/GazetteCommentsThread.tsx
  apps/web/app/pro-league/gazette/_shared.tsx
  prisma/migrations/20260520000000_add_gazette_comments/migration.sql
  prisma/schema.prisma
Labels: web, server

feat(pro-league): fan predictions thread (Q.B.3)
  apps/server/prisma/sqlite/migrations/20260521000000_add_fan_predictions/migration.sql
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/pro-league-fan-predictions.test.ts
  apps/server/src/routes/pro-league.ts
  apps/server/src/services/pro-bet-settlement.test.ts
  apps/server/src/services/pro-bet-settlement.ts
  apps/server/src/services/pro-match-predictions.test.ts
  apps/server/src/services/pro-match-predictions.ts
  apps/web/app/pro-league/matches/[id]/_components/FanPredictionsThread.test.tsx
  apps/web/app/pro-league/matches/[id]/_components/FanPredictionsThread.tsx
  apps/web/app/pro-league/matches/[id]/page.tsx
  prisma/migrations/20260521000000_add_fan_predictions/migration.sql
  prisma/schema.prisma
Labels: web, server

feat(pro-league): fan predictions thread (Sprint Q lot Q.B.3) (#784)
  apps/server/prisma/sqlite/migrations/20260521000000_add_fan_predictions/migration.sql
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/pro-league-fan-predictions.test.ts
  apps/server/src/routes/pro-league.ts
  apps/server/src/services/pro-bet-settlement.test.ts
  apps/server/src/services/pro-bet-settlement.ts
  apps/server/src/services/pro-match-predictions.test.ts
  apps/server/src/services/pro-match-predictions.ts
  apps/web/app/pro-league/matches/[id]/_components/FanPredictionsThread.test.tsx
  apps/web/app/pro-league/matches/[id]/_components/FanPredictionsThread.tsx
  apps/web/app/pro-league/matches/[id]/page.tsx
  prisma/migrations/20260521000000_add_fan_predictions/migration.sql
  prisma/schema.prisma
Labels: web, server

docs(session): Sprint Q 9/13 livre + patterns recurrents
  CLAUDE.md
  docs/roadmap/sessions/2026-05-12-sprint-Q.md
  docs/roadmap/sprints/SPRINT-Q-fan-differentiation.md
Labels: none

docs(session): Sprint Q 9/13 livre + patterns recurrents (#785)
  CLAUDE.md
  docs/roadmap/sessions/2026-05-12-sprint-Q.md
  docs/roadmap/sprints/SPRINT-Q-fan-differentiation.md
Labels: none

docs(sim-engine): investigation matchs 0-0 + script debug-match
  docs/engine-investigation-2026-05-12-low-tds.md
  packages/sim-engine/scripts/debug-match.ts
Labels: none

fix(sim-engine): debug-match.ts prefer-const lint error
  packages/sim-engine/scripts/debug-match.ts
Labels: none

docs(sim-engine): investigation matchs 0-0 + script debug-match (#786)
  docs/engine-investigation-2026-05-12-low-tds.md
  packages/sim-engine/scripts/debug-match.ts
Labels: none

feat(sim-engine): engine 0.17.0 — tune TDs (option F combo C+D)
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/src/driver/hybrid-driver.ts
  packages/sim-engine/src/types.ts
Labels: none

feat(sim-engine): engine 0.17.0 — tune TDs (option F combo C+D) (#787)
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/src/driver/hybrid-driver.ts
  packages/sim-engine/src/types.ts
Labels: none

feat(sim-engine): engine 0.18.0 — starting yardline 4 → 6 (option A)
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/src/driver/hybrid-driver.ts
  packages/sim-engine/src/types.ts
Labels: none

feat(sim-engine): engine 0.18.0 — starting yardline 4→6 (option A) (#788)
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/src/driver/hybrid-driver.ts
  packages/sim-engine/src/types.ts
Labels: none

fix(web): live button respecte le kickoff pour status='ready'
  apps/web/app/i18n/translations.ts
  apps/web/app/lib/use-match-mode-redirect.test.ts
  apps/web/app/lib/use-match-mode-redirect.ts
  apps/web/app/pro-league/matches/[id]/page.test.tsx
  apps/web/app/pro-league/matches/[id]/page.tsx
Labels: web

fix(web): live button respecte le kickoff pour status='ready' (#789)
  apps/web/app/i18n/translations.ts
  apps/web/app/lib/use-match-mode-redirect.test.ts
  apps/web/app/lib/use-match-mode-redirect.ts
  apps/web/app/pro-league/matches/[id]/page.test.tsx
  apps/web/app/pro-league/matches/[id]/page.tsx
Labels: web

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
