Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

chore: mise à jour de la version à 1.8.0
  apps/web/public/version.json
  package.json
Labels: web

Ajout du service nufflearena.fr à Traefik
  docker-compose.yml
Labels: none

fix on fly
  apps/web/app/admin/data/positions/[id]/edit/page.tsx
  apps/web/app/admin/data/positions/page.tsx
  apps/web/app/admin/layout.tsx
  apps/web/app/contexts/LanguageContext.tsx
  apps/web/app/i18n/translations.ts
  apps/web/next.config.mjs
  apps/web/public/version.json
  packages/game-engine/tsconfig.json
Labels: game-engine, web

fix: update PostgreSQL port mapping in docker-compose.yml
  docker-compose.yml
Labels: none

feat: ajout d'améliorations SEO pour Nuffle Arena
  SEO-IMPROVEMENTS.md
  apps/web/app/components/HomeStructuredData.tsx
  apps/web/app/components/StructuredData.tsx
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/app/robots.ts
  apps/web/app/sitemap.ts
  apps/web/app/star-players/[slug]/layout.tsx
  apps/web/app/teams/[slug]/layout.tsx
  apps/web/app/teams/layout.tsx
  apps/web/next.config.mjs
  apps/web/public/manifest.json
  apps/web/public/robots.txt
Labels: web

chore(release): 1.8.0 [skip ci]
  CHANGELOG.md
Labels: none

Notes added by 'git notes add'
  39f05077f9fa7a5507a83b7c58c1344cff96147c
Labels: none

feat: update nufflearena service configuration in docker-compose.yml
  docker-compose.yml
Labels: none

chore(release): 1.9.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  6ec8df50ba94154662882107cf76d5493b3ddb5c
Labels: none

chore: add container names for database, web, and server services in docker-compose.yml
  docker-compose.yml
Labels: none

feat: enhance docker-compose and auth-client configuration
  apps/web/app/auth-client.ts
  docker-compose.yml
Labels: web

chore(release): 1.10.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  01d8c60b707f2cc63a2d3fe694d88a637fe8b6d8
Labels: none

feat: add routes management page and update admin layout
  apps/web/app/admin/layout.tsx
  apps/web/app/admin/routes/page.tsx
  scripts/list-routes.js
Labels: web

chore(release): 1.11.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  76b2c842ad90939b27b18be5748b2a9cf2c1b5d3
Labels: none

feat: implement roster and skill management pages in admin panel
  .gitignore
  apps/web/app/admin/data/rosters/[id]/edit/page.tsx
  apps/web/app/admin/data/rosters/[id]/page.tsx
  apps/web/app/admin/data/rosters/new/page.tsx
  apps/web/app/admin/data/rosters/page.tsx
  apps/web/app/admin/data/skills/[id]/edit/page.tsx
  apps/web/app/admin/data/skills/new/page.tsx
  apps/web/app/admin/data/skills/page.tsx
  apps/web/app/admin/data/star-players/[id]/edit/page.tsx
  apps/web/app/admin/data/star-players/new/page.tsx
  apps/web/app/admin/data/star-players/page.tsx
  apps/web/app/api/admin/data/rosters/[id]/route.ts
  apps/web/app/api/admin/data/rosters/route.ts
Labels: web

chore(release): 1.12.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  4173856cf665b4b54ed9351969e349205f060b6c
Labels: none

feat: enhance nufflearena service configuration in docker-compose.yml
  docker-compose.yml
Labels: none

Notes added by 'git notes add'
  f8b80670323515fbab3c61022f0f5fec44146629
Labels: none

chore(release): 1.13.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

feat: Make it work on prod
  Dockerfile.server
  Dockerfile.web
  apps/web/app/api/positions/route.ts
  apps/web/app/api/public-positions/route.ts
  apps/web/app/api/public-rosters/route.ts
  apps/web/app/api/public-skills/route.ts
  apps/web/app/api/rosters/[slug]/route.ts
  apps/web/app/api/rosters/route.ts
  apps/web/app/api/skills/route.ts
  apps/web/app/skills/page.tsx
  docker-compose.yml
Labels: web

chore(release): 1.14.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  412227a2766643f4d5433f06c0a5dfb991926aa1
Labels: none

Ajout d'un bandeau d'avertissement beta sur la page d'accueil
  apps/web/app/page.tsx
Labels: web

Ajout du système de validation des comptes utilisateurs
  apps/server/src/routes/admin.ts
  apps/server/src/routes/auth.ts
  apps/server/src/seed.ts
  apps/web/app/admin/users/page.tsx
  apps/web/app/login/page.tsx
  apps/web/app/register/page.tsx
  prisma/schema.prisma
Labels: web, server

fix: correction des slugs de compétences dans les positions et star players
  packages/game-engine/src/rosters/positions.js
  packages/game-engine/src/rosters/positions.ts
  packages/game-engine/src/rosters/star-players.js
  packages/game-engine/src/rosters/star-players.ts
Labels: game-engine

Notes added by 'git notes add'
  a347ba6efa55e56f50d230ae22e39f45f1a1d76c
Labels: none

chore(release): 1.14.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

feat: amélioration du dashboard admin et gestion complète des coupes
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/fix-admin.ts
  apps/server/src/index.ts
  apps/server/src/routes/admin.ts
  apps/server/src/routes/auth.ts
  apps/server/src/routes/cup.ts
  apps/server/src/seed.ts
  apps/web/app/AuthBar.tsx
  apps/web/app/admin/cups/[id]/page.tsx
  apps/web/app/admin/cups/page.tsx
  apps/web/app/admin/layout.tsx
  apps/web/app/admin/page.tsx
  apps/web/app/cups/[id]/page.tsx
  apps/web/app/cups/archived/page.tsx
  apps/web/app/cups/page.tsx
  prisma/schema.prisma
Labels: web, server

chore(release): 1.15.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  30e51f64bc9c27c1eea509fd8d68ceca6c5e1c2a
Labels: none

feat: amélioration de la création de matchs locaux avec validation par deux joueurs
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/routes/local-match.ts
  apps/web/app/cups/[id]/page.tsx
  apps/web/app/local-matches/[id]/page.tsx
  apps/web/app/local-matches/new/page.tsx
  apps/web/app/local-matches/page.tsx
  apps/web/app/local-matches/share/[token]/page.tsx
  prisma/schema.prisma
Labels: web, server

Notes added by 'git notes add'
  f7c7ebcc59596a35ce52087b816633e67aebfc97
Labels: none

chore(release): 1.16.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

feat: ajout de la gestion des matchs locaux dans l'interface admin
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/web/app/AuthBar.tsx
  apps/web/app/admin/layout.tsx
  apps/web/app/admin/local-matches/page.tsx
  apps/web/app/admin/page.tsx
Labels: web, server

feat: système de gestion manuelle des actions pour matchs locaux
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/routes/local-match.ts
  apps/server/src/seed.ts
  apps/web/app/local-matches/[id]/LocalMatchActions.tsx
  apps/web/app/local-matches/[id]/page.tsx
  packages/ui/src/components/GameBoardWithDugouts.tsx
  packages/ui/src/components/GameScoreboard.tsx
  prisma/schema.prisma
Labels: packages-ui, web, server

chore(release): 1.17.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
