Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"

feat(web): affiche les mots-cles de position (pages equipe & position)
  apps/web/app/teams/[slug]/TeamDetailClient.tsx
  apps/web/app/teams/[slug]/[position]/page.tsx
Labels: web

feat(api): expose keywords sur /api/rosters & /api/positions
  apps/server/src/routes/public-positions.ts
  apps/server/src/routes/public-rosters.ts
Labels: server

feat(rosters): genere les mots-cles des positions season_3
  packages/game-engine/src/rosters/keywords-season3.ts
  scripts/generate-keywords-season3.ts
Labels: game-engine

feat(web): filtre des positions par mot-cle (/teams/positions)
  apps/web/app/teams/position-keyword-filter.test.ts
  apps/web/app/teams/position-keyword-filter.ts
  apps/web/app/teams/position-rankings.ts
  apps/web/app/teams/positions/PositionKeywordBrowser.tsx
  apps/web/app/teams/positions/page.tsx
Labels: web

feat(api): expose keywordsEn (mots-cles traduits) sur rosters & positions
  apps/server/src/routes/public-positions.ts
  apps/server/src/routes/public-rosters.ts
Labels: server

feat(rosters): traduction EN des mots-cles de position
  packages/game-engine/src/rosters/index.ts
  packages/game-engine/src/rosters/keyword-translations.test.ts
  packages/game-engine/src/rosters/keyword-translations.ts
Labels: game-engine

feat(web): mots-cles de position bilingues (KeywordTags)
  apps/web/app/teams/[slug]/TeamDetailClient.tsx
Labels: web

docs(rosters): traduction EN + filtre par mot-cle
  docs/position-keywords-feature.md
Labels: none

chore(release): 1.178.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  0f88e8ed500a7a707636a32bdca858614e59d3ac
Labels: none

fix(web): n'affiche plus 'Introuvable' quand l'equipe est chargee
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/me/teams/[id]/team-detail-error.test.ts
  apps/web/app/me/teams/[id]/team-detail-error.ts
Labels: web

chore(release): 1.178.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  46e2c967e2b0741c4dd412616497efbff1e678a5
Labels: none

feat(blog): aperçu admin d'un brouillon avec rendu final
  apps/web/app/admin/blog/[id]/edit/page.tsx
  apps/web/app/admin/blog/page.tsx
  apps/web/app/blog/BlogArticle.tsx
  apps/web/app/blog/[slug]/page.tsx
  apps/web/app/blog/preview/[id]/page.test.tsx
  apps/web/app/blog/preview/[id]/page.tsx
  docs/blog-feature.md
Labels: web

feat(blog): endpoint d'upload d'images authentifié (admin + n8n)
  .gitignore
  apps/server/src/index.ts
  apps/server/src/routes/admin-blog-upload.test.ts
  apps/server/src/routes/admin-blog.ts
  apps/server/src/utils/blog-upload.test.ts
  apps/server/src/utils/blog-upload.ts
  apps/web/app/admin/blog/BlogEditor.tsx
  apps/web/app/admin/blog/api.ts
  apps/web/public/images/blog/.gitkeep
  docker-compose.prod.yml
  docs/blog-feature.md
Labels: web, server

chore(release): 1.179.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  b7c5a28f69d47532cdfaab3a79d79bda0dd5a488
Labels: none

feat(blog): page admin de génération d'article via IA (iframe n8n)
  apps/web/app/admin/blog/generate/page.tsx
  apps/web/app/admin/blog/page.tsx
  docs/blog-feature.md
Labels: web

chore(release): 1.180.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  8250fc5e4ca093b2795b0203b9bc0ccc1ec354eb
Labels: none

feat(blog): store disque + parseur dimensions pour la médiathèque
  apps/server/src/utils/blog-image-dimensions.test.ts
  apps/server/src/utils/blog-image-dimensions.ts
  apps/server/src/utils/blog-image-store.test.ts
  apps/server/src/utils/blog-image-store.ts
  apps/server/src/utils/blog-upload.ts
Labels: server

feat(blog): routes admin images (liste, alt, suppression protégée)
  apps/server/src/index.ts
  apps/server/src/routes/admin-blog-images.test.ts
  apps/server/src/routes/admin-blog-upload.test.ts
  apps/server/src/routes/admin-blog.ts
  apps/server/src/schemas/blog.schemas.ts
Labels: server

feat(blog): médiathèque admin (galerie, picker, page, navigation)
  apps/web/app/admin/blog/MediaLibrary.test.tsx
  apps/web/app/admin/blog/MediaLibrary.tsx
  apps/web/app/admin/blog/MediaLibraryModal.tsx
  apps/web/app/admin/blog/api.ts
  apps/web/app/admin/blog/images/page.tsx
  apps/web/app/admin/blog/page.tsx
  apps/web/app/admin/layout.tsx
Labels: web

feat(blog): champ couverture enrichi + picker dans l'éditeur
  apps/web/app/admin/blog/BlogEditor.tsx
  apps/web/app/admin/blog/BlogPostForm.tsx
  apps/web/app/admin/blog/CoverImageField.test.tsx
  apps/web/app/admin/blog/CoverImageField.tsx
Labels: web

docs(blog): médiathèque dans blog-feature.md + change OpenSpec
  docs/blog-feature.md
  openspec/changes/add-blog-media-library/proposal.md
  openspec/changes/add-blog-media-library/specs/blog-media/spec.md
  openspec/changes/add-blog-media-library/tasks.md
Labels: none

chore(release): 1.181.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  6e8167b0d386dc8fe7eba4e5bc9ed49479e2dab6
Labels: none

docs(nfl-fantasy): valide le légal, documente la V2/V3 livrée et prépare les rosters 2026-27
  Makefile
  apps/server/src/scripts/bootstrap-nfl-prod.ts
  docs/nfl-fantasy/01-legal.md
  docs/nfl-fantasy/09-transitions-2026.md
  docs/nfl-fantasy/README.md
Labels: server

fix(e2e): repare la suite Playwright UI cassee sur la CI main
  apps/web/app/components/home/MarketingHome.tsx
  tests/e2e-ui/fixtures/two-players.ts
  tests/e2e-ui/specs/homepage.spec.ts
  tests/e2e-ui/specs/nfl-fantasy-smoke.spec.ts
  tests/e2e-ui/specs/pro-league-fan-flow.spec.ts
Labels: web

test: stabilize E2E assertions & update NFL Fantasy terminology (#907)
  apps/web/app/components/home/MarketingHome.tsx
  tests/e2e-ui/fixtures/two-players.ts
  tests/e2e-ui/specs/homepage.spec.ts
  tests/e2e-ui/specs/nfl-fantasy-smoke.spec.ts
  tests/e2e-ui/specs/pro-league-fan-flow.spec.ts
Labels: web

docs(nfl-fantasy): documente les transitions 2026-27 réelles (nflverse roster_2026)
  docs/nfl-fantasy/09-transitions-2026.md
  docs/nfl-fantasy/README.md
Labels: none

docs(nfl-fantasy): Add 2026-27 roster transitions & official calendar (#908)
  Makefile
  apps/server/src/scripts/bootstrap-nfl-prod.ts
  docs/nfl-fantasy/01-legal.md
  docs/nfl-fantasy/09-transitions-2026.md
  docs/nfl-fantasy/README.md
Labels: server

docs(nfl-fantasy): complète le draft 2026 round 1 (#1 Mendoza, #13 Ty Simpson)
  docs/nfl-fantasy/09-transitions-2026.md
  docs/nfl-fantasy/README.md
Labels: none

docs(nfl-fantasy): complète le draft 2026 round 1 (#1 Mendoza, #13 Ty Simpson) (#909)
  docs/nfl-fantasy/09-transitions-2026.md
  docs/nfl-fantasy/README.md
Labels: none

fix(web): corrige les données statiques affichées (30 → 31 rosters)
  apps/web/app/components/HomeStructuredData.tsx
  apps/web/app/components/home/MarketingHome.tsx
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/layout.tsx
  apps/web/app/lib/ai-presence-prompts.ts
  apps/web/app/lib/outreach-templates.ts
  apps/web/app/r/[token]/page.tsx
  apps/web/app/teams/roster-meta.ts
  apps/web/app/teams/teams-list-structured-data.ts
  apps/web/app/teams/tier-list-structured-data.ts
  apps/web/app/teams/tier-list/layout.tsx
  apps/web/app/teams/tier-list/page.tsx
  apps/web/public/llms-full.txt
  apps/web/public/llms.txt
  apps/web/public/manifest.json
Labels: web

fix(team): derive onboarding starter team from real Season 3 roster
  apps/server/src/routes/team-create-from-roster-handler.test.ts
  apps/server/src/routes/team-create-from-roster-handler.ts
Labels: server

Remove hardcoded roster templates, derive lineup from ruleset positions (#911)
  apps/server/src/routes/team-create-from-roster-handler.test.ts
  apps/server/src/routes/team-create-from-roster-handler.ts
Labels: server

Add Bretonnians roster (31st team) and update roster counts (#910)
  apps/web/app/components/HomeStructuredData.tsx
  apps/web/app/components/home/MarketingHome.tsx
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/layout.tsx
  apps/web/app/lib/ai-presence-prompts.ts
  apps/web/app/lib/outreach-templates.ts
  apps/web/app/r/[token]/page.tsx
  apps/web/app/teams/roster-meta.ts
  apps/web/app/teams/teams-list-structured-data.ts
  apps/web/app/teams/tier-list-structured-data.ts
  apps/web/app/teams/tier-list/layout.tsx
  apps/web/app/teams/tier-list/page.tsx
  apps/web/public/llms-full.txt
  apps/web/public/llms.txt
  apps/web/public/manifest.json
Labels: web

feat(advancements): aligne les coûts SPP sur Blood Bowl 2025 (Saison 3)
  apps/mobile/lib/i18n-keys-players-detail.test.ts
  apps/mobile/lib/player-details.test.ts
  apps/mobile/lib/player-details.ts
  apps/mobile/lib/players-detail-keys.ts
  apps/mobile/lib/translations/en.ts
  apps/mobile/lib/translations/fr.ts
  apps/server/src/routes/team-advancement.ts
  apps/server/src/routes/team-player-skills-handler.ts
  apps/server/src/schemas/advancement.schemas.ts
  apps/server/src/schemas/team.schemas.ts
  apps/server/src/services/post-match-league-sequence.ts
  apps/server/src/services/skill-access.test.ts
  apps/server/src/services/skill-access.ts
  apps/server/src/utils/team-values.ts
  apps/web/app/me/teams/[id]/edit/page.tsx
  apps/web/app/me/teams/[id]/level-up/page.tsx
  packages/game-engine/src/index.ts
  packages/game-engine/src/utils/advancements.test.ts
  packages/game-engine/src/utils/advancements.ts
  tests/level-up-advancement.test.ts
Labels: game-engine, web, server, mobile

fix(web): réinitialise le mode caractéristique à la fermeture du modal (bouton ×)
  apps/web/app/me/teams/[id]/edit/page.tsx
Labels: web
