Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

feat(aide): expliquer la saisie complète ou simplifiée d'une coupe
  apps/web/app/aide/help-catalogue.test.ts
  apps/web/app/aide/help-catalogue.ts
  apps/web/app/aide/page.render.test.tsx
  apps/web/app/aide/page.tsx
  openspec/changes/cup-sheet-entry-mode/tasks.md
Labels: web

test(cup-sheet): parcours e2e du mode de saisie, sur base réelle
  CLAUDE.md
  openspec/changes/cup-sheet-entry-mode/tasks.md
  tests/e2e-api/specs/cup-match-sheet-flow.spec.ts
Labels: none

fix(sheet): la saisie simplifiée ne réclame plus la météo ni ne garde un état périmé
  apps/web/app/leagues/pairings/[id]/sheet/page.entry-mode.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
Labels: web

docs(openspec): proposition cup-build-inducements
  openspec/changes/cup-build-inducements/.openspec.yaml
  openspec/changes/cup-build-inducements/design.md
  openspec/changes/cup-build-inducements/proposal.md
  openspec/changes/cup-build-inducements/specs/competition-pdf-exports/spec.md
  openspec/changes/cup-build-inducements/specs/cup-inducements/spec.md
  openspec/changes/cup-build-inducements/specs/cup-match-sheet/spec.md
  openspec/changes/cup-build-inducements/specs/league-match-sheet/spec.md
  openspec/changes/cup-build-inducements/specs/tournament-ruleset/spec.md
  openspec/changes/cup-build-inducements/tasks.md
Labels: none

feat(cup-sheet): dérivation unique des Star Players qui jouent la rencontre
  apps/server/src/services/league-sheet-star-players.test.ts
  apps/server/src/services/league-sheet-star-players.ts
  openspec/changes/cup-build-inducements/tasks.md
Labels: server

fix(cup-sheet): les Star Players du roster d'inscription jouent la feuille
  apps/server/src/services/league-match-sheet-cup-stars.test.ts
  apps/server/src/services/league-match-sheet.ts
  openspec/changes/cup-build-inducements/tasks.md
Labels: server

fix(cup-sheet): un Star Player du roster d'inscription ne s'engage pas deux fois
  apps/server/src/services/league-match-sheet-cup-stars.test.ts
  apps/server/src/services/league-match-sheet.ts
  openspec/changes/cup-build-inducements/tasks.md
Labels: server

feat(cup-sheet): Star Players d'inscription signalés dans les sélecteurs
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.cup-registered-stars.test.tsx
  openspec/changes/cup-build-inducements/tasks.md
Labels: web

test(competition-pdf): Star Players d'inscription sur la feuille papier
  apps/web/app/lib/competition-pdf/adapters/match-sheet.test.ts
  openspec/changes/cup-build-inducements/tasks.md
Labels: web

refactor(engine): qualifiesForInducementDiscount extrait de getInducementCost
  openspec/changes/cup-build-inducements/tasks.md
  packages/game-engine/src/core/inducements.test.ts
  packages/game-engine/src/core/inducements.ts
  packages/game-engine/src/index.ts
Labels: game-engine

feat(engine): remises et plafond Arme Secrète dans les règles du règlement
  openspec/changes/cup-build-inducements/tasks.md
  packages/game-engine/src/rosters/tournament-rulesets.test.ts
  packages/game-engine/src/rosters/tournament-rulesets.ts
Labels: game-engine

fix(tournament): les remises du catalogue survivent au prix du règlement
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/tournament-inducements.test.ts
  apps/server/src/services/tournament-inducements.ts
  openspec/changes/cup-build-inducements/tasks.md
Labels: server

feat(tournament): prix réduit et plafond Arme Secrète validés en base
  apps/server/src/schemas/tournament-ruleset.schemas.test.ts
  apps/server/src/schemas/tournament-ruleset.schemas.ts
  openspec/changes/cup-build-inducements/tasks.md
Labels: server

feat(admin): prix réduit et plafond Arme Secrète dans l'éditeur de règlement
  apps/web/app/admin/data/tournament-rulesets/_components/RulesetEditor.test.tsx
  apps/web/app/admin/data/tournament-rulesets/_components/sections.tsx
  apps/web/app/admin/data/tournament-rulesets/_lib/client.ts
  openspec/changes/cup-build-inducements/tasks.md
Labels: web

test(seed): remises du règlement à la création et à la réinitialisation
  apps/server/src/seeders/sync-tournament-rulesets.test.ts
  apps/server/src/seeders/sync-tournament-rulesets.ts
  openspec/changes/cup-build-inducements/tasks.md
Labels: server

fix(cup-sheet): la trésorerie n'entre plus dans le budget de coups de pouce
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  openspec/changes/cup-build-inducements/tasks.md
Labels: server

test(cup-sheet): le contrôle d'avant-match applique le budget de coupe
  apps/server/src/services/league-match-sheet-cup-stars.test.ts
  openspec/changes/cup-build-inducements/tasks.md
Labels: server

fix(cup-sheet): l'avant-match d'une coupe n'annonce plus la trésorerie
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
  openspec/changes/cup-build-inducements/tasks.md
Labels: web

fix(cup): le budget d'inscription se compare à la dépense de construction
  apps/server/src/services/cup-registration.test.ts
  apps/server/src/services/cup-registration.ts
  openspec/changes/cup-build-inducements/tasks.md
Labels: server

docs(cup): Star Players d'inscription, budget sans trésorerie, contrôle sur la dépense
  docs/cup-composition-rules.md
  docs/cup-match-sheet.md
  openspec/changes/cup-build-inducements/tasks.md
Labels: none

feat(db): mode de coups de pouce de coupe et TeamInducement
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  openspec/changes/cup-build-inducements/tasks.md
  prisma/schema.prisma
Labels: server

feat(cup): résolution pure du mode de coups de pouce d'une coupe
  apps/server/src/services/cup-inducement-mode.test.ts
  apps/server/src/services/cup-inducement-mode.ts
  openspec/changes/cup-build-inducements/tasks.md
Labels: server

feat(cup): régime de coups de pouce choisi à la création et dans les règles
  apps/server/src/routes/cup-inducement-mode.test.ts
  apps/server/src/routes/cup.ts
  apps/server/src/schemas/cup.schemas.ts
  openspec/changes/cup-build-inducements/tasks.md
Labels: server

test(audit): le ratchet du journal d'équipe surveille TeamInducement
  apps/server/src/services/team-audit-coverage.test.ts
  openspec/changes/cup-build-inducements/tasks.md
Labels: server

refactor(inducements): catalogue effectif d'une équipe dans un service partagé
  apps/server/src/services/inducement-options.test.ts
  apps/server/src/services/inducement-options.ts
  apps/server/src/services/league-match-sheet.ts
  openspec/changes/cup-build-inducements/tasks.md
Labels: server

feat(inducements): catalogue de construction d'une équipe
  apps/server/src/services/inducement-options.test.ts
  apps/server/src/services/inducement-options.ts
  openspec/changes/cup-build-inducements/tasks.md
Labels: server

feat(team): GET /team/build-inducements, le catalogue du builder
  apps/server/src/routes/team-build-inducements-handler.ts
  apps/server/src/routes/team-build-inducements.test.ts
  apps/server/src/routes/team.ts
  apps/server/src/schemas/team.schemas.ts
  apps/server/src/services/build-inducement-context.ts
  openspec/changes/cup-build-inducements/tasks.md
Labels: server

feat(team): résolution pure des coups de pouce achetés au build
  apps/server/src/services/build-inducements.test.ts
  apps/server/src/services/build-inducements.ts
  openspec/changes/cup-build-inducements/tasks.md
Labels: server

feat(team): achat de coups de pouce à la création d'une équipe
  apps/server/src/routes/team-build-handler.ts
  apps/server/src/routes/team-build-inducements-build.test.ts
  apps/server/src/schemas/team.schemas.ts
  openspec/changes/cup-build-inducements/tasks.md
Labels: server

feat(team): les coups de pouce de création comptent dans la dépense
  apps/server/src/routes/team-mutation-handlers.ts
  apps/server/src/routes/team-selection-handlers.ts
  apps/server/src/scripts/backfill-team-treasury.ts
  apps/server/src/services/build-inducements.test.ts
  apps/server/src/services/build-inducements.ts
  apps/server/src/services/cup-registration.test.ts
  apps/server/src/services/cup-registration.ts
  apps/server/src/services/public-team-view.ts
  apps/server/src/services/team-advancement-editing.ts
  apps/server/src/services/team-budget-summary.test.ts
  apps/server/src/services/team-budget-summary.ts
  apps/server/src/services/team-share.ts
  openspec/changes/cup-build-inducements/tasks.md
Labels: server

fix(tournament): l'or non dépensé à la création est perdu sous règlement
  apps/server/src/scripts/backfill-team-treasury.ts
  apps/server/src/services/team-budget-summary.test.ts
  apps/server/src/services/team-budget-summary.ts
  openspec/changes/cup-build-inducements/tasks.md
Labels: server

feat(builder): sélection de coups de pouce, module pur
  apps/web/app/me/teams/new/build-inducements.test.ts
  apps/web/app/me/teams/new/build-inducements.ts
  openspec/changes/cup-build-inducements/tasks.md
Labels: web

feat(builder): sélecteur de coups de pouce achetés à la création
  apps/web/app/me/teams/new/BuildInducementPicker.test.tsx
  apps/web/app/me/teams/new/BuildInducementPicker.tsx
  openspec/changes/cup-build-inducements/tasks.md
Labels: web

feat(builder): section « Coups de pouce » à la création d'une équipe
  apps/web/app/me/teams/new/page.build-inducements.test.tsx
  apps/web/app/me/teams/new/page.tsx
  openspec/changes/cup-build-inducements/tasks.md
Labels: web

feat(builder): « Adapter à la coupe » reprend les coups de pouce autorisés
  apps/web/app/me/teams/new/page.build-inducements.test.tsx
  apps/web/app/me/teams/new/page.tsx
  openspec/changes/cup-build-inducements/tasks.md
Labels: web

feat(cup): le roster d'inscription fige les coups de pouce de création
  apps/server/src/services/cup-roster-snapshot.test.ts
  apps/server/src/services/cup-roster-snapshot.ts
  apps/server/src/services/snapshot-inducements.ts
  openspec/changes/cup-build-inducements/tasks.md
Labels: server

feat(cup-sheet): une coupe en build rappelle ses coups de pouce, sans achat
  apps/server/src/services/competition-match-sheet-context.test.ts
  apps/server/src/services/competition-match-sheet-context.ts
  apps/server/src/services/league-match-sheet-cup-stars.test.ts
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  openspec/changes/cup-build-inducements/tasks.md
Labels: server

feat(cup-sheet): rappel des coups de pouce d'inscription, avant-match sans achat
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.cup-inducement-mode.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
  openspec/changes/cup-build-inducements/tasks.md
Labels: web

feat(competition-pdf): coups de pouce d'inscription sur la feuille papier
  apps/web/app/lib/competition-pdf/adapters/match-sheet.test.ts
  apps/web/app/lib/competition-pdf/adapters/match-sheet.ts
  apps/web/app/lib/competition-pdf/documents/match-sheet.ts
  apps/web/app/lib/competition-pdf/fixtures.ts
  apps/web/app/lib/competition-pdf/render.test.ts
  apps/web/app/lib/competition-pdf/types.ts
  openspec/changes/cup-build-inducements/tasks.md
Labels: web

feat(cup): l'inscription refuse des coups de pouce que la coupe ne vend pas
  apps/server/src/routes/cup.ts
  apps/server/src/services/cup-registration.test.ts
  apps/server/src/services/cup-registration.ts
  openspec/changes/cup-build-inducements/tasks.md
Labels: server

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
