Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"

feat(cups): menu Exports PDF sur la fiche de coupe
  apps/web/app/cups/[id]/CupPdfExports.tsx
  apps/web/app/cups/[id]/page.tsx
Labels: web

feat(competition-pdf): gabarits PDF imprimables des ligues et coupes
  apps/web/app/lib/competition-pdf/adapters/common.ts
  apps/web/app/lib/competition-pdf/adapters/cup.test.ts
  apps/web/app/lib/competition-pdf/adapters/cup.ts
  apps/web/app/lib/competition-pdf/adapters/league.test.ts
  apps/web/app/lib/competition-pdf/adapters/league.ts
  apps/web/app/lib/competition-pdf/adapters/match-sheet.test.ts
  apps/web/app/lib/competition-pdf/adapters/match-sheet.ts
  apps/web/app/lib/competition-pdf/documents/bracket.ts
  apps/web/app/lib/competition-pdf/documents/fixtures.ts
  apps/web/app/lib/competition-pdf/documents/leaderboards.ts
  apps/web/app/lib/competition-pdf/documents/match-sheet-roster.ts
  apps/web/app/lib/competition-pdf/documents/match-sheet.ts
  apps/web/app/lib/competition-pdf/documents/standings.ts
  apps/web/app/lib/competition-pdf/documents/stats.ts
  apps/web/app/lib/competition-pdf/download.ts
  apps/web/app/lib/competition-pdf/filename.ts
  apps/web/app/lib/competition-pdf/fixtures.ts
  apps/web/app/lib/competition-pdf/layout.ts
  apps/web/app/lib/competition-pdf/reference.ts
  apps/web/app/lib/competition-pdf/render.test.ts
  apps/web/app/lib/competition-pdf/render.ts
  apps/web/app/lib/competition-pdf/tables.ts
  apps/web/app/lib/competition-pdf/theme.ts
  apps/web/app/lib/competition-pdf/types.ts
  apps/web/app/lib/competition-pdf/write-grid.ts
Labels: web

docs(openspec): change competition-pdf-exports
  CLAUDE.md
  openspec/changes/competition-pdf-exports/design.md
  openspec/changes/competition-pdf-exports/proposal.md
  openspec/changes/competition-pdf-exports/specs/competition-pdf-exports/spec.md
  openspec/changes/competition-pdf-exports/tasks.md
Labels: none

feat(match-sheet): journée et saison dans l'en-tête de la feuille imprimée
  apps/server/src/services/competition-match-sheet-context.test.ts
  apps/server/src/services/competition-match-sheet-context.ts
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
  apps/web/app/lib/competition-pdf/adapters/match-sheet.test.ts
  apps/web/app/lib/competition-pdf/adapters/match-sheet.ts
  openspec/changes/competition-pdf-exports/proposal.md
  openspec/changes/competition-pdf-exports/specs/competition-pdf-exports/spec.md
  openspec/changes/competition-pdf-exports/tasks.md
Labels: web, server

feat(league-sheet): rappel des effets météo pendant la saisie du match
  apps/web/app/leagues/pairings/[id]/sheet/_components/WeatherReminder.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/WeatherReminder.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.weather.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/weather.test.ts
  apps/web/app/leagues/pairings/[id]/sheet/weather.ts
Labels: web

feat(competition-pdf): exports PDF en recette derrière le flag competition_pdf_exports
  CLAUDE.md
  apps/server/src/index.ts
  apps/server/src/seed.ts
  apps/server/src/services/featureFlags.ts
  apps/web/app/contexts/FeatureFlagContext.tsx
  apps/web/app/cups/[id]/CupPdfExports.tsx
  apps/web/app/hooks/useFeatureFlag.ts
  apps/web/app/leagues/[id]/LeaguePdfExports.tsx
  apps/web/app/leagues/[id]/MatchdayExport.test.tsx
  apps/web/app/leagues/[id]/MatchdayExport.tsx
  apps/web/app/leagues/[id]/matchday-legacy-pdf.test.ts
  apps/web/app/leagues/[id]/matchday-legacy-pdf.ts
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPdfButton.tsx
  apps/web/app/lib/competition-pdf/feature-gate.test.tsx
  apps/web/app/lib/featureFlagKeys.ts
  openspec/changes/competition-pdf-exports/design.md
  openspec/changes/competition-pdf-exports/proposal.md
  openspec/changes/competition-pdf-exports/specs/competition-pdf-exports/spec.md
  openspec/changes/competition-pdf-exports/tasks.md
Labels: web, server

feat(league-sheet): ambiance graphique de la météo pendant le match
  apps/web/app/leagues/pairings/[id]/sheet/_components/WeatherReminder.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/WeatherReminder.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/WeatherScene.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/WeatherScene.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.weather.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/weather.test.ts
  apps/web/app/leagues/pairings/[id]/sheet/weather.ts
Labels: web

chore(release): 1.243.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  269481907e5cd74b110272ffc73ed9ff0db701cb
Labels: none

feat(league-sheet): rappel des effets météo pendant la saisie du match (#1037)
  apps/web/app/leagues/pairings/[id]/sheet/_components/WeatherReminder.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/WeatherReminder.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/WeatherScene.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/WeatherScene.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.weather.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/weather.test.ts
  apps/web/app/leagues/pairings/[id]/sheet/weather.ts
Labels: web

chore(release): 1.244.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  9285e503611f90b267b6228b3466be11f1109423
Labels: none

feat(home): endpoint public du bandeau d'actualite de la home
  apps/server/src/index.ts
  apps/server/src/routes/public-news-ticker.ts
  apps/server/src/services/public-news-ticker.test.ts
  apps/server/src/services/public-news-ticker.ts
  tests/e2e-api/specs/public-news-ticker.spec.ts
Labels: server

feat(home): bandeau « A la une » et ligue presentee comme ouverte a tous
  apps/web/app/components/HomeStructuredData.tsx
  apps/web/app/components/home/MarketingHome.tsx
  apps/web/app/components/home/NewsTicker.test.tsx
  apps/web/app/components/home/NewsTicker.tsx
  apps/web/app/components/home/news-ticker.test.ts
  apps/web/app/components/home/news-ticker.ts
  apps/web/app/home-page.test.tsx
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  tests/e2e-ui/specs/homepage.spec.ts
Labels: web

feat(home): bandeau « A la une » derriere le flag home_news_ticker
  apps/server/src/index.ts
  apps/server/src/routes/public-news-ticker.test.ts
  apps/server/src/routes/public-news-ticker.ts
  apps/server/src/seed.ts
  apps/server/src/services/featureFlags.ts
  apps/web/app/components/home/NewsTicker.test.tsx
  apps/web/app/components/home/NewsTicker.tsx
  apps/web/app/home-page.test.tsx
  apps/web/app/lib/featureFlagKeys.ts
  tests/e2e-api/specs/public-news-ticker.spec.ts
Labels: web, server

chore(changeset): home — ligue ouverte et bandeau A la une
  .changeset/home-ligue-ouverte-et-bandeau-a-la-une.md
Labels: none

Home : la ligue n'est plus en bêta, bandeau « À la une » (sous flag) (#1038)
  .changeset/home-ligue-ouverte-et-bandeau-a-la-une.md
  apps/server/src/index.ts
  apps/server/src/routes/public-news-ticker.test.ts
  apps/server/src/routes/public-news-ticker.ts
  apps/server/src/seed.ts
  apps/server/src/services/featureFlags.ts
  apps/server/src/services/public-news-ticker.test.ts
  apps/server/src/services/public-news-ticker.ts
  apps/web/app/components/HomeStructuredData.tsx
  apps/web/app/components/home/MarketingHome.tsx
  apps/web/app/components/home/NewsTicker.test.tsx
  apps/web/app/components/home/NewsTicker.tsx
  apps/web/app/components/home/news-ticker.test.ts
  apps/web/app/components/home/news-ticker.ts
  apps/web/app/home-page.test.tsx
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/lib/featureFlagKeys.ts
  tests/e2e-api/specs/public-news-ticker.spec.ts
  tests/e2e-ui/specs/homepage.spec.ts
Labels: web, server

fix(cups): lister les coupes publiques en cours et terminées sur /cups
  apps/server/src/routes/cup.ts
  apps/server/src/services/cup-listing.test.ts
  apps/server/src/services/cup-listing.ts
Labels: server

Extract cup listing filter logic to testable service (#1039)
  apps/server/src/routes/cup.ts
  apps/server/src/services/cup-listing.test.ts
  apps/server/src/services/cup-listing.ts
Labels: server

test(web): stabiliser le test du bandeau d'actualite de la home
  apps/web/app/home-page.test.tsx
Labels: web

test(web): stabiliser le test du bandeau d'actualité de la home (#1040)
  apps/web/app/home-page.test.tsx
Labels: web

feat(home): hero compact et inscription en appel principal
  apps/web/app/components/home/MarketingHome.tsx
  apps/web/app/components/home/hero-cta.test.ts
  apps/web/app/components/home/hero-cta.ts
  apps/web/app/home-page.test.tsx
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
Labels: web

feat(home): competitions juste apres le hero, en deux cartes
  apps/web/app/components/home/CompetitionsSection.tsx
  apps/web/app/components/home/MarketingHome.tsx
  apps/web/app/components/home/SectionTitle.tsx
  apps/web/app/home-page.test.tsx
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
Labels: web

feat(home): catalogue en tuiles compactes, liens vers les pages de reference
  apps/web/app/components/home/CompendiumTiles.tsx
  apps/web/app/components/home/MarketingHome.tsx
  apps/web/app/components/home/home-tiles.test.ts
  apps/web/app/components/home/home-tiles.ts
  apps/web/app/home-page.test.tsx
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
Labels: web

feat(home): factions sous le catalogue, cliquables et traduites
  apps/web/app/components/home/MarketingHome.tsx
  apps/web/app/components/home/NuffleScenes.tsx
  apps/web/app/components/home/factions.test.ts
  apps/web/app/home-page.test.tsx
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
Labels: web

feat(home): fin de page resserree, soutien dans le bloc final
  apps/web/app/components/home/MarketingHome.tsx
  apps/web/app/home-page.test.tsx
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
Labels: web

feat(home): Gazette en liste compacte sur mobile
  apps/web/app/components/LatestBlogPosts.test.tsx
  apps/web/app/components/LatestBlogPosts.tsx
Labels: web

docs(home): change OpenSpec home-compact-layout et captures avant/apres
  docs/screenshots/home-compacte-avant-apres-bureau.jpg
  docs/screenshots/home-compacte-avant-apres-mobile.jpg
  openspec/changes/home-compact-layout/proposal.md
  openspec/changes/home-compact-layout/specs/home-dashboard/spec.md
  openspec/changes/home-compact-layout/tasks.md
Labels: none

Home compacte : l'essentiel en un à deux écrans (#1041)
  apps/web/app/components/LatestBlogPosts.test.tsx
  apps/web/app/components/LatestBlogPosts.tsx
  apps/web/app/components/home/CompendiumTiles.tsx
  apps/web/app/components/home/CompetitionsSection.tsx
  apps/web/app/components/home/MarketingHome.tsx
  apps/web/app/components/home/NuffleScenes.tsx
  apps/web/app/components/home/SectionTitle.tsx
  apps/web/app/components/home/factions.test.ts
  apps/web/app/components/home/hero-cta.test.ts
  apps/web/app/components/home/hero-cta.ts
  apps/web/app/components/home/home-tiles.test.ts
  apps/web/app/components/home/home-tiles.ts
  apps/web/app/home-page.test.tsx
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  docs/screenshots/home-compacte-avant-apres-bureau.jpg
  docs/screenshots/home-compacte-avant-apres-mobile.jpg
  openspec/changes/home-compact-layout/proposal.md
  openspec/changes/home-compact-layout/specs/home-dashboard/spec.md
  openspec/changes/home-compact-layout/tasks.md
Labels: web

feat(home): bandeau « À la une » lisible, cartes de résultats + ligne d'actualité
  apps/web/app/components/home/NewsTicker.test.tsx
  apps/web/app/components/home/NewsTicker.tsx
  apps/web/app/components/home/news-ticker.test.ts
  apps/web/app/components/home/news-ticker.ts
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  openspec/changes/home-news-ticker-readability/proposal.md
  openspec/changes/home-news-ticker-readability/specs/home-dashboard/spec.md
  openspec/changes/home-news-ticker-readability/tasks.md
Labels: web

feat(home): bandeau « À la une » lisible, cartes de résultats + ligne d'actualité (#1042)
  apps/web/app/components/home/NewsTicker.test.tsx
  apps/web/app/components/home/NewsTicker.tsx
  apps/web/app/components/home/news-ticker.test.ts
  apps/web/app/components/home/news-ticker.ts
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  openspec/changes/home-news-ticker-readability/proposal.md
  openspec/changes/home-news-ticker-readability/specs/home-dashboard/spec.md
  openspec/changes/home-news-ticker-readability/tasks.md
Labels: web

chore(release): 1.245.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  dc8ba48acf4aa09509c911fbf8f547a9ffd0e011
Labels: none

fix(home): le score d'une carte « À la une » ne sort plus de la carte
  apps/web/app/components/home/NewsTicker.test.tsx
  apps/web/app/components/home/NewsTicker.tsx
Labels: web

fix(admin): feature flags utilisables sur mobile (supprimer, retirer un override)
  apps/web/app/admin/feature-flags/[id]/page.test.tsx
  apps/web/app/admin/feature-flags/[id]/page.tsx
  apps/web/app/admin/feature-flags/page.test.tsx
  apps/web/app/admin/feature-flags/page.tsx
Labels: web

fix(home): le bandeau « À la une » n'élargit plus la page sur mobile
  apps/web/app/components/home/NewsTicker.test.tsx
  apps/web/app/components/home/NewsTicker.tsx
Labels: web

test(web): stabiliser l'attente du bandeau coach de la home en CI
  apps/web/app/home-page.test.tsx
Labels: web

Mobile : bandeau « À la une » sans débordement, feature flags admin utilisables (#1043)
  apps/web/app/admin/feature-flags/[id]/page.test.tsx
  apps/web/app/admin/feature-flags/[id]/page.tsx
  apps/web/app/admin/feature-flags/page.test.tsx
  apps/web/app/admin/feature-flags/page.tsx
  apps/web/app/components/home/NewsTicker.test.tsx
  apps/web/app/components/home/NewsTicker.tsx
  apps/web/app/home-page.test.tsx
Labels: web

feat(dice-themes): préférence de thème de dés côté serveur
  apps/server/src/index.ts
  apps/server/src/routes/dice-theme.test.ts
  apps/server/src/routes/dice-theme.ts
  apps/server/src/schemas/dice-theme.schemas.ts
  apps/server/src/seed.ts
  apps/server/src/services/dice-theme-catalogue.test.ts
  apps/server/src/services/dice-theme-catalogue.ts
  apps/server/src/services/dice-theme-preference.ts
  apps/server/src/services/featureFlags.ts
  prisma/schema.prisma
Labels: server

docs(dice-themes): change OpenSpec + mémoire CLAUDE.md
  CLAUDE.md
  openspec/changes/dice-themes/design.md
  openspec/changes/dice-themes/proposal.md
  openspec/changes/dice-themes/specs/dice-themes/spec.md
  openspec/changes/dice-themes/tasks.md
Labels: none
