Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

feat(web): page matchup detail + cleanup card + lineupMode select (Phase 3.I+J+K)
  apps/web/app/admin/nfl-fantasy/_components/SeasonActions.tsx
  apps/web/app/admin/nfl-fantasy/leagues/[id]/page.tsx
  apps/web/app/admin/nfl-fantasy/matchups/[id]/page.tsx
Labels: web

docs(nfl-fantasy): Phase 3.F+G bulk actions + replay
  docs/nfl-fantasy/24-bulk-actions-replay.md
  docs/nfl-fantasy/README.md
Labels: none

feat(web): UI bulk actions saison + replay + re-derive BB (Phase 3.F+G)
  apps/web/app/admin/nfl-fantasy/_components/SeasonActions.tsx
  apps/web/app/admin/nfl-fantasy/players/page.tsx
  apps/web/app/admin/nfl-fantasy/weeks/page.tsx
Labels: web

feat(server): replaySeason service Phase 3.G
  apps/server/src/services/nfl-fantasy-replay.ts
Labels: server

chore(release): 1.135.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  4704c6efbabe84e59d60f55d95959e31d081ca92
Labels: none

docs(nfl-fantasy): Phase 3.H Nuffle Gazette par matchup
  docs/nfl-fantasy/26-gazette-matchup.md
  docs/nfl-fantasy/README.md
Labels: none

test(server): tests gazette matchup (Phase 3.H)
  apps/server/src/services/nfl-fantasy-gazette.test.ts
Labels: server

feat(server): Nuffle Gazette par matchup via Claude Haiku (Phase 3.H)
  apps/server/src/routes/admin-nfl-fantasy-explorer.ts
  apps/server/src/services/nfl-fantasy-admin-explorer.test.ts
  apps/server/src/services/nfl-fantasy-admin-explorer.ts
  apps/server/src/services/nfl-fantasy-gazette.ts
  apps/server/src/utils/nfl-error-mapper.ts
  prisma/schema.prisma
Labels: server

feat(web): card Nuffle Gazette sur page matchup detail admin (Phase 3.H)
  apps/web/app/admin/nfl-fantasy/matchups/[id]/page.tsx
Labels: web

test(e2e): smoke spec Playwright user-facing NFL Fantasy (Phase 4)
  docs/nfl-fantasy/27-e2e-smoke.md
  docs/nfl-fantasy/README.md
  tests/e2e-ui/specs/nfl-fantasy-smoke.spec.ts
Labels: none

feat(server): ingestNflverseRosters (jersey + bio) Phase 5.A
  apps/server/src/services/nfl-fantasy-cron.ts
  apps/server/src/services/nfl-ingest-rosters.test.ts
  apps/server/src/services/nfl-ingest-rosters.ts
  prisma/schema.prisma
Labels: server

feat(server): backfill scores ESPN par week (Phase 5.B)
  apps/server/src/services/nfl-ingest-espn.test.ts
  apps/server/src/services/nfl-ingest-espn.ts
Labels: server

feat(server): bio + categoryStats + seasons dans getNflPlayerDetail (Phase 5.C)
  apps/server/src/routes/admin-nfl-fantasy-explorer.ts
  apps/server/src/services/nfl-fantasy-admin-explorer.test.ts
  apps/server/src/services/nfl-fantasy-admin-explorer.ts
Labels: server

feat(web): page joueur ESPN-style (Phase 5.C)
  apps/web/app/admin/nfl-fantasy/players/[id]/page.tsx
Labels: web

docs(nfl-fantasy): Phase 5.A+B+C rosters bio + backfill scores + page joueur
  docs/nfl-fantasy/28-rosters-scores-bio.md
  docs/nfl-fantasy/README.md
Labels: none

feat(server): backfillScoresFromSchedules (nflverse games.csv) (Phase 5.B+)
  apps/server/src/routes/admin-nfl-fantasy-explorer.ts
  apps/server/src/services/nfl-ingest.ts
Labels: server

chore(release): 1.136.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  b92764d0a134155a075f6ac605474b17348342fc
Labels: none

feat(nfl-mapper): pseudonyms uniques via surname BB-flavored (Phase 5.D)
  apps/server/src/services/nfl-ingest-rosters.ts
  apps/server/src/services/nfl-ingest.ts
  packages/nfl-mapper/src/pseudonymize.test.ts
  packages/nfl-mapper/src/pseudonymize.ts
Labels: server

feat(web): bloc PublicProfilePreview dans admin player detail (Phase 5.D)
  apps/web/app/admin/nfl-fantasy/players/[id]/page.tsx
Labels: web

docs(nfl-fantasy): Phase 5.D pseudonyms uniques + apercu profil public
  docs/nfl-fantasy/29-unique-pseudonyms-public-preview.md
  docs/nfl-fantasy/README.md
Labels: none

chore(release): 1.137.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  fd1f56060b8b489bbd7cc7a6e16d8cd521a9db14
Labels: none

docs(nfl-fantasy): Phase 5.E bootstrap-nfl-prod workflow
  docs/nfl-fantasy/30-prod-bootstrap.md
  docs/nfl-fantasy/README.md
Labels: none

chore: db-sync-prod (db push) au lieu de migrate-deploy (Phase 5.E)
  Makefile
  docs/nfl-fantasy/30-prod-bootstrap.md
Labels: none

feat(server): script bootstrap-nfl-prod (Phase 5.E)
  Makefile
  apps/server/src/scripts/bootstrap-nfl-prod.ts
Labels: server

fix(server): types explicites sur queries Prisma NFL fantasy (CI typecheck)
  apps/server/src/scripts/nfl-fantasy-draft-e2e.ts
  apps/server/src/scripts/nfl-fantasy-lineup-e2e.ts
  apps/server/src/scripts/nfl-fantasy-matchups-e2e.ts
  apps/server/src/scripts/nfl-fantasy-scoring-e2e.ts
  apps/server/src/services/nfl-fantasy-draft.ts
  apps/server/src/services/nfl-fantasy-lineup.ts
  apps/server/src/services/nfl-fantasy-roster.ts
  apps/server/src/services/nfl-fantasy-scoring.ts
  apps/server/src/services/nfl-ingest-rosters.ts
Labels: server

chore(release): 1.138.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  ba172b91155911a1408dffc69903ffa66fdd6a74
Labels: none

fix(e2e-ui): 5 specs Playwright en echec (regressions pre-existantes)
  apps/web/app/pro-league/page.tsx
  tests/e2e-ui/helpers/api-seed.ts
  tests/e2e-ui/playwright.config.ts
  tests/e2e-ui/specs/leaderboard.spec.ts
  tests/e2e-ui/specs/nfl-fantasy-smoke.spec.ts
  tests/e2e-ui/specs/pro-league-fan-flow.spec.ts
  tests/e2e-ui/specs/register.spec.ts
Labels: web

fix(web): ouvre GameChat des le pre-match (regression E2E chat)
  apps/web/app/play/[id]/components/MatchOverlays.tsx
Labels: web

chore(release): 1.138.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  dc91bd88370c19a700d49a4420ffe04123f79e3f
Labels: none

test(e2e-ui): mocke /full-replay dans les specs replay-player
  tests/e2e-ui/specs/pro-league-replay-player.spec.ts
Labels: none

fix(web): hub /pro-league traite 404 comme empty-state (E2E)
  apps/web/app/pro-league/page.tsx
Labels: web

chore(release): 1.138.2 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  8406b6a71263519e15225d1b0c721b9ee4d04eb5
Labels: none

fix(e2e-ui): scope replay-player routes a l'API (port 18002)
  tests/e2e-ui/specs/pro-league-replay-player.spec.ts
Labels: none

chore(release): 1.138.3 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
