Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

feat(game-engine): implement dump-off skill (K.4)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/dump-off.test.ts
  packages/game-engine/src/mechanics/dump-off.ts
Labels: game-engine

Reprioriser roadmap : MVP 5 équipes + engagement avant contenu (#199)
  TODO.md
Labels: none

feat(game-engine): implement dump-off skill (K.4) (#205)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/dump-off.test.ts
  packages/game-engine/src/mechanics/dump-off.ts
Labels: game-engine

feat(game-engine): implement stunty trait (P1.1)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/mechanics/passing.ts
  packages/game-engine/src/mechanics/stunty.test.ts
  packages/game-engine/src/skills/skill-registry.ts
  packages/game-engine/src/utils/dice-notifications.ts
  packages/game-engine/src/utils/dice.ts
Labels: game-engine

feat(game-engine): implement stunty trait (P1.1) (#206)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/mechanics/passing.ts
  packages/game-engine/src/mechanics/stunty.test.ts
  packages/game-engine/src/skills/skill-registry.ts
  packages/game-engine/src/utils/dice-notifications.ts
  packages/game-engine/src/utils/dice.ts
Labels: game-engine

feat(kickoff): implement 4 UI-delegated kickoff events
  TODO.md
  apps/web/public/version.json
  docs/roadmap/phases.md
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/kickoff-events.test.ts
  packages/game-engine/src/mechanics/kickoff-events.ts
Labels: game-engine, web

feat(game-engine): implement dauntless skill (P1.2)
  TODO.md
  apps/web/public/version.json
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/dauntless.test.ts
  packages/game-engine/src/mechanics/dauntless.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine, web

feat(game-engine): implement dauntless skill (P1.2) (#207)
  TODO.md
  apps/web/public/version.json
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/dauntless.test.ts
  packages/game-engine/src/mechanics/dauntless.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine, web

feat(game-engine): implement break-tackle skill (P1.3)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/break-tackle.test.ts
  packages/game-engine/src/mechanics/break-tackle.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(game-engine): implement break-tackle skill (P1.3) (#208)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/break-tackle.test.ts
  packages/game-engine/src/mechanics/break-tackle.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(game-engine): implement juggernaut skill (P1.4)
  TODO.md
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/mechanics/juggernaut.test.ts
  packages/game-engine/src/mechanics/juggernaut.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(game-engine): implement juggernaut skill (P1.4) (#209)
  TODO.md
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/mechanics/juggernaut.test.ts
  packages/game-engine/src/mechanics/juggernaut.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(game-engine): implement stand-firm skill (P1.5)
  TODO.md
  apps/web/public/version.json
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/mechanics/stand-firm.test.ts
  packages/game-engine/src/mechanics/stand-firm.ts
Labels: game-engine, web

feat(game-engine): implement stand-firm skill (P1.5) (#210)
  TODO.md
  apps/web/public/version.json
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/mechanics/stand-firm.test.ts
  packages/game-engine/src/mechanics/stand-firm.ts
Labels: game-engine, web

feat(game-engine): implement juggernaut skill (P1.4)
  TODO.md
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/mechanics/juggernaut.test.ts
  packages/game-engine/src/mechanics/juggernaut.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(game-engine): implement stand-firm skill (P1.5)
  TODO.md
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/mechanics/stand-firm.test.ts
  packages/game-engine/src/mechanics/stand-firm.ts
Labels: game-engine

feat(game-engine): auto-skip juggernaut conversion when attacker has Block
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/mechanics/juggernaut.test.ts
  packages/game-engine/src/mechanics/juggernaut.ts
Labels: game-engine

feat(game-engine): skip juggernaut conversion when attacker has Block (#213)
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/mechanics/juggernaut.test.ts
  packages/game-engine/src/mechanics/juggernaut.ts
Labels: game-engine

feat(game-engine): implement always-hungry trait (J.9) (#200)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/mechanics/always-hungry.test.ts
  packages/game-engine/src/mechanics/negative-traits.test.ts
  packages/game-engine/src/mechanics/negative-traits.ts
  packages/game-engine/src/mechanics/throw-team-mate.ts
Labels: game-engine

chore: cocher J.10 foul-appearance (Sprint 13)
  TODO.md
Labels: none

chore(sprint-13): cocher J.10 foul-appearance (deja implemente) (#214)
  TODO.md
Labels: none

feat(game-engine): implement break-tackle skill (P1.3)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/break-tackle.test.ts
  packages/game-engine/src/mechanics/break-tackle.ts
  packages/game-engine/src/skills/skill-bridge.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(game-engine): implement armored-skull trait (P1.6)
  TODO.md
  packages/game-engine/src/mechanics/armored-skull.test.ts
  packages/game-engine/src/mechanics/injury.ts
Labels: game-engine

feat(game-engine): implement armored-skull trait (P1.6) (#216)
  TODO.md
  packages/game-engine/src/mechanics/armored-skull.test.ts
  packages/game-engine/src/mechanics/injury.ts
Labels: game-engine

feat(game-engine): generalize iron-hard-skin to negate all positive armor modifiers (P1.7)
  TODO.md
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/mechanics/chainsaw.ts
  packages/game-engine/src/mechanics/foul.ts
  packages/game-engine/src/mechanics/iron-hard-skin.test.ts
  packages/game-engine/src/mechanics/projectile-vomit.ts
  packages/game-engine/src/mechanics/stab.ts
  packages/game-engine/src/skills/armor-injury-skills.test.ts
  packages/game-engine/src/skills/skill-bridge.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(game-engine): generalize iron-hard-skin (P1.7) (#217)
  TODO.md
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/mechanics/chainsaw.ts
  packages/game-engine/src/mechanics/foul.ts
  packages/game-engine/src/mechanics/iron-hard-skin.test.ts
  packages/game-engine/src/mechanics/projectile-vomit.ts
  packages/game-engine/src/mechanics/stab.ts
  packages/game-engine/src/skills/armor-injury-skills.test.ts
  packages/game-engine/src/skills/skill-bridge.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

chore: mark J.11 instable trait as complete in TODO.md
  TODO.md
Labels: none

chore: mark J.11 instable trait as complete in TODO.md (#218)
  TODO.md
Labels: none

feat(game-engine): implement on-the-ball skill (K.5)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/on-the-ball.test.ts
  packages/game-engine/src/mechanics/on-the-ball.ts
Labels: game-engine

feat(game-engine): implement on-the-ball skill (K.5) (#219)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/on-the-ball.test.ts
  packages/game-engine/src/mechanics/on-the-ball.ts
Labels: game-engine

chore: mark K.1 (leap + pogo-stick) as complete in TODO.md
  TODO.md
Labels: none

chore: update web version.json build timestamp
  apps/web/public/version.json
Labels: web

chore(todo): mark K.1 leap + pogo-stick as complete (#220)
  TODO.md
  apps/web/public/version.json
Labels: web

chore(todo): mark K.2 stab as complete in Sprint 13
  TODO.md
Labels: none

chore: update build date in version.json
  apps/web/public/version.json
Labels: web

fix(deploy): auto-apply prisma schema + seed on every prod deploy
  .github/workflows/deploy.yml
  apps/server/src/index.ts
  apps/server/src/routes/public-rosters.ts
  docs/DEPLOY-DB.md
  tests/integration/public-rosters.test.ts
Labels: server

chore(todo): mark K.2 stab as complete in Sprint 13 (#221)
  TODO.md
  apps/web/public/version.json
Labels: web

claude/fix-missing-teams-2025-87vYL (#223)
  .github/workflows/deploy.yml
  apps/server/src/index.ts
  apps/server/src/routes/public-rosters.ts
  docs/DEPLOY-DB.md
  tests/integration/public-rosters.test.ts
Labels: server

chore(todo): mark K.3 chainsaw as complete in Sprint 13
  TODO.md
Labels: none

chore(todo): mark K.3 chainsaw as complete in Sprint 13 (#224)
  TODO.md
Labels: none

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
