Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"

Notes added by 'git notes add'
  308eca332d6a5238a77f7823197aee7ea388b5f8
Labels: none

fix: update team selection data structure in matchmaking service
  apps/server/src/services/matchmaking.ts
Labels: server

fix: enhance match existence verification and cleanup process
  apps/web/app/play/[id]/hooks/useGameState.ts
  apps/web/app/play/page.tsx
Labels: web

feat: enhance inducements phase UI for online matches
  apps/web/app/play/[id]/page.tsx
Labels: web

chore(release): 1.54.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  261db2dcd0ac9c3bc1faa1fa480a8767317a327e
Labels: none

feat(J.6): implement no-hands trait — prevents pickup, catch, and carry
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/mechanics/ball.ts
  packages/game-engine/src/mechanics/no-hands.test.ts
  packages/game-engine/src/mechanics/passing.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(J.6): implement no-hands trait (#186)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/mechanics/ball.ts
  packages/game-engine/src/mechanics/no-hands.test.ts
  packages/game-engine/src/mechanics/passing.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

refactor: streamline game state retrieval and update team value calculation
  apps/server/src/routes/match.ts
  apps/server/src/services/inducement-processor.ts
Labels: server

fix: update match state retrieval logic to include active status
  apps/server/src/routes/match.ts
Labels: server

fix: update match status logic to include active phase
  apps/server/src/routes/match.ts
  apps/server/src/services/inducement-processor.ts
Labels: server

chore(release): 1.55.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  012c192c2fc0331bb7d308e52e07ee26a924d655
Labels: none

fix: enhance match state management during kickoff phase
  apps/server/src/routes/match.ts
  apps/web/app/play/[id]/page.tsx
  packages/ui/src/board/PixiBoard.tsx
Labels: packages-ui, web, server

chore(release): 1.55.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  eefd28849bcec40890e3df3d029b78208584ea00
Labels: none

fix: improve player action handling in game state
  apps/web/app/play/[id]/page.tsx
Labels: web

chore(release): 1.55.2 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  a6d5f7f3ec80fbd8f86d744491a9d84f897ba6fa
Labels: none

fix: correct push direction calculation in blocking mechanics
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/mechanics/push-direction.test.ts
  packages/game-engine/src/mechanics/push-rules.test.ts
Labels: game-engine

feat: allow block during blitz movement (blitz at contact)
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/core/types.ts
Labels: game-engine

feat: add END_PLAYER_TURN to stop player activation mid-move
  apps/web/app/play/[id]/page.tsx
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/core/types.ts
Labels: game-engine, web

feat: implement chain push mechanics
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/mechanics/blocking.ts
Labels: game-engine

feat: post-TD phase with KO recovery and re-setup
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/post-touchdown.test.ts
Labels: game-engine

feat: display remaining movement points during player activation
  apps/web/app/play/[id]/page.tsx
Labels: web

feat: add terrain skin and turn timer options to match creation
  apps/server/src/routes/match.ts
  apps/server/src/services/match-start.ts
  apps/web/app/play/[id]/page.tsx
  apps/web/app/play/page.tsx
  packages/game-engine/src/core/types.ts
  packages/ui/src/components/GameBoardWithDugouts.tsx
Labels: packages-ui, game-engine, web, server

chore(release): 1.56.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  34c5ce0d6f30ff225f102188df13e318c15b6133
Labels: none

fix: correct pre-existing test failures and SQLite binary target
  apps/server/prisma/sqlite/schema.prisma
  packages/game-engine/src/armor-injury-rolls.test.ts
  packages/game-engine/src/mechanics/movement.test.ts
Labels: game-engine, server

refactor: update SQLite client configuration and paths
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/services/match-start.ts
Labels: server

chore(release): 1.56.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  d078901ce59934c0092f778f4a7a96ff5a803d78
Labels: none

fix: prevent redirect from /play to ended or cancelled matches
  apps/web/app/play/page.tsx
Labels: web

feat: implement right-stuff skill (J.7) — ST ≤ 3 enforcement + registry
  TODO.md
  packages/game-engine/src/mechanics/right-stuff.test.ts
  packages/game-engine/src/mechanics/throw-team-mate.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat: display team reroll counts in game scoreboard
  packages/ui/src/components/GameScoreboard.tsx
  packages/ui/src/components/__tests__/GameScoreboard.test.tsx
Labels: packages-ui

fix: use const for non-reassigned variables in blocking.ts
  packages/game-engine/src/mechanics/blocking.ts
Labels: game-engine

fix: use const for non-reassigned variables in blocking.ts
  packages/game-engine/src/mechanics/blocking.ts
Labels: game-engine

fix: remove dummy DiceResult overwrite after block resolution
  packages/game-engine/src/actions/actions.ts
Labels: game-engine

fix: correct ExtendedGameState type usage in handlePostTouchdown
  packages/game-engine/src/core/game-state.ts
Labels: game-engine

fix: correct GameState type in handlePostTouchdown to ExtendedGameState
  packages/game-engine/src/core/game-state.ts
Labels: game-engine
