Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

feat(fdm): module pur « Relever le Mort » (Maîtres de la Non-vie)
  apps/server/src/services/league-sheet-journeymen.ts
  apps/server/src/services/league-sheet-raised-dead.test.ts
  apps/server/src/services/league-sheet-raised-dead.ts
Labels: server

feat(fdm): achat « raised_dead » — matérialisation gratuite et schémas
  apps/server/src/schemas/league-match-sheet.schemas.test.ts
  apps/server/src/schemas/league-match-sheet.schemas.ts
  apps/server/src/services/league-offline-purchases.test.ts
  apps/server/src/services/league-offline-purchases.ts
Labels: server

feat(fdm): le mort relevé est un joueur synthétique de la feuille
  apps/server/src/services/league-sheet-journeyman-advancements.test.ts
  apps/server/src/services/league-sheet-journeyman-advancements.ts
  apps/server/src/services/league-sheet-star-players.test.ts
  apps/server/src/services/league-sheet-star-players.ts
Labels: server

test(e2e-api): la relève des morts rejouée sur une vraie base (fixtures undead)
  apps/server/src/index.ts
  tests/e2e-api/helpers/factories.ts
  tests/e2e-api/specs/leagues-sheet-raise-dead-undead.spec.ts
Labels: server

docs(openspec): change raise-the-dead-masters-of-undeath, CLAUDE.md et suites
  .changeset/maitres-de-la-non-vie-relever-le-mort.md
  CLAUDE.md
  docs/roadmap/backlog/openspec-suites.md
  openspec/changes/raise-the-dead-masters-of-undeath/design.md
  openspec/changes/raise-the-dead-masters-of-undeath/proposal.md
  openspec/changes/raise-the-dead-masters-of-undeath/specs/league-match-sheet/spec.md
  openspec/changes/raise-the-dead-masters-of-undeath/tasks.md
Labels: none

fix(web): la relecture des achats garde le type journalier et son id
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
  apps/web/app/leagues/pairings/[id]/sheet/purchases.test.ts
  apps/web/app/leagues/pairings/[id]/sheet/purchases.ts
Labels: web

feat(web): bandeau « Relever le Mort », relevé dans les pickers, achat gratuit et évolutions
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/RosterSection.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/RosterSection.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.raise-dead.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
Labels: web

Sorties : seules les éliminations qui rapportent des PSP comptent (une agression est une agression) (#1024)
  .changeset/sorties-eliminations-qui-rapportent-des-psp.md
  CLAUDE.md
  apps/server/package.json
  apps/server/src/scripts/resync-sheet-casualties.test.ts
  apps/server/src/scripts/resync-sheet-casualties.ts
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-match-summary.test.ts
  apps/server/src/services/league-match-summary.ts
  apps/server/src/services/league-player-stats.test.ts
  apps/server/src/services/league-player-stats.ts
  apps/server/src/services/league-sheet-casualty-resync.test.ts
  apps/server/src/services/league-sheet-casualty-resync.ts
  apps/server/src/services/league-sheet-frozen-skills.test.ts
  apps/server/src/services/league-sheet-frozen-skills.ts
  apps/server/src/services/league-sheet-prayer-spp.test.ts
  apps/server/src/services/league-sheet-prayer-spp.ts
  apps/server/src/services/league-sheet-summary-options.test.ts
  apps/server/src/services/league-sheet-summary-options.ts
  apps/web/app/leagues/pairings/[id]/sheet/event-fields.test.ts
  apps/web/app/leagues/pairings/[id]/sheet/event-fields.ts
  docs/roadmap/backlog/openspec-suites.md
  docs/roadmap/sessions/2026-09-11-casualties-are-spp-eliminations.md
  openspec/changes/casualties-are-spp-eliminations/design.md
  openspec/changes/casualties-are-spp-eliminations/proposal.md
  openspec/changes/casualties-are-spp-eliminations/specs/league-match-sheet/spec.md
  openspec/changes/casualties-are-spp-eliminations/specs/league-standings/spec.md
  openspec/changes/casualties-are-spp-eliminations/tasks.md
Labels: web, server

chore(openspec): sync et archive du change « casualties-are-spp-eliminations »
  openspec/changes/archive/2026-09-11-casualties-are-spp-eliminations/design.md
  openspec/changes/archive/2026-09-11-casualties-are-spp-eliminations/proposal.md
  openspec/changes/archive/2026-09-11-casualties-are-spp-eliminations/specs/league-match-sheet/spec.md
  openspec/changes/archive/2026-09-11-casualties-are-spp-eliminations/specs/league-standings/spec.md
  openspec/changes/archive/2026-09-11-casualties-are-spp-eliminations/tasks.md
  openspec/specs/league-match-sheet/spec.md
  openspec/specs/league-standings/spec.md
Labels: none

chore(openspec): sync et archive du change « raise-the-dead-masters-of-undeath »
  openspec/changes/archive/2026-09-11-raise-the-dead-masters-of-undeath/design.md
  openspec/changes/archive/2026-09-11-raise-the-dead-masters-of-undeath/proposal.md
  openspec/changes/archive/2026-09-11-raise-the-dead-masters-of-undeath/specs/league-match-sheet/spec.md
  openspec/changes/archive/2026-09-11-raise-the-dead-masters-of-undeath/tasks.md
  openspec/specs/league-match-sheet/spec.md
Labels: none

feat(fdm): le Trait « Contagieux » est une seconde source de joueur relevé
  apps/server/src/services/league-sheet-raised-dead.test.ts
  apps/server/src/services/league-sheet-raised-dead.ts
Labels: server

feat(fdm): la feuille sert le Contagieux — sources par côté, Gros Bras par mots-clés, embauche au prix du poste
  apps/server/src/services/league-match-sheet-raised-dead.test.ts
  apps/server/src/services/league-match-sheet.ts
Labels: server

feat(web): la feuille parle Contagieux — Contaminé ☣️, achat au prix du poste
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.contagious.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.raise-dead.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
Labels: web

test(e2e-api): la contamination rejouée sur une vraie base (fixtures nurgle)
  apps/server/src/index.ts
  apps/server/src/services/league-match-sheet-raised-dead.test.ts
  apps/server/src/services/league-sheet-raised-dead.test.ts
  tests/e2e-api/helpers/factories.ts
  tests/e2e-api/specs/leagues-sheet-contagious-nurgle.spec.ts
Labels: server

docs(openspec): change contagious-plague-ridden, mémoire et backlog des suites
  .changeset/contagieux-nurgle-seconde-source-de-releve.md
  CLAUDE.md
  docs/roadmap/backlog/openspec-suites.md
  openspec/changes/contagious-plague-ridden/design.md
  openspec/changes/contagious-plague-ridden/proposal.md
  openspec/changes/contagious-plague-ridden/specs/league-match-sheet/spec.md
  openspec/changes/contagious-plague-ridden/tasks.md
Labels: none

Contagieux (Nurgle) : la seconde source de joueur relevé sur la feuille de match (#1027)
  .changeset/contagieux-nurgle-seconde-source-de-releve.md
  CLAUDE.md
  apps/server/src/index.ts
  apps/server/src/services/league-match-sheet-raised-dead.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-sheet-raised-dead.test.ts
  apps/server/src/services/league-sheet-raised-dead.ts
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.contagious.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.raise-dead.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
  docs/roadmap/backlog/openspec-suites.md
  openspec/changes/archive/2026-09-11-raise-the-dead-masters-of-undeath/design.md
  openspec/changes/archive/2026-09-11-raise-the-dead-masters-of-undeath/proposal.md
  openspec/changes/archive/2026-09-11-raise-the-dead-masters-of-undeath/specs/league-match-sheet/spec.md
  openspec/changes/archive/2026-09-11-raise-the-dead-masters-of-undeath/tasks.md
  openspec/changes/contagious-plague-ridden/design.md
  openspec/changes/contagious-plague-ridden/proposal.md
  openspec/changes/contagious-plague-ridden/specs/league-match-sheet/spec.md
  openspec/changes/contagious-plague-ridden/tasks.md
  openspec/specs/league-match-sheet/spec.md
  tests/e2e-api/helpers/factories.ts
  tests/e2e-api/specs/leagues-sheet-contagious-nurgle.spec.ts
Labels: web, server

docs(openspec): change « sorties rattrapées, Haine (X) choisie »
  openspec/changes/casualty-count-and-hate-keyword-choice/design.md
  openspec/changes/casualty-count-and-hate-keyword-choice/proposal.md
  openspec/changes/casualty-count-and-hate-keyword-choice/specs/league-match-sheet/spec.md
  openspec/changes/casualty-count-and-hate-keyword-choice/specs/league-standings/spec.md
  openspec/changes/casualty-count-and-hate-keyword-choice/tasks.md
Labels: none

fix(league-stats): une élimination subie suppose une blessure
  apps/server/src/services/league-match-summary.test.ts
  apps/server/src/services/league-match-summary.ts
  apps/server/src/services/league-player-stats.test.ts
  apps/server/src/services/league-player-stats.ts
Labels: server

fix(league): les sorties d'une feuille validée avant la règle se rattrapent seules
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-match-summary.ts
  apps/server/src/services/league-season-casualty-heal.test.ts
  apps/server/src/services/league-season-casualty-heal.ts
  apps/server/src/services/league-standings-casualty-heal.test.ts
  apps/server/src/services/league.ts
  prisma/schema.prisma
Labels: server

feat(league-sheet): Haine (X) — le mot-clé haï se choisit parmi ceux de l'adversaire
  apps/server/prisma/sqlite/memdb1
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/league.ts
  apps/server/src/schemas/league-match-sheet.schemas.ts
  apps/server/src/services/league-hate-trait.test.ts
  apps/server/src/services/league-hate-trait.ts
  apps/server/src/services/league-match-sheet-hate-choices.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-sheet-hate-choices.test.ts
  apps/server/src/services/league-sheet-hate-choices.ts
  apps/web/app/leagues/pairings/[id]/sheet/_components/HateKeywordChoices.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/HateKeywordChoices.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.hate-choices.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
  packages/game-engine/src/index.ts
  packages/game-engine/src/skills/hate-trait.test.ts
  packages/game-engine/src/skills/hate-trait.ts
  prisma/schema.prisma
Labels: game-engine, web, server

docs: mémoire — rattrapage versionné des compteurs, et choix du mot-clé de Haine
  CLAUDE.md
  openspec/changes/casualty-count-and-hate-keyword-choice/tasks.md
Labels: none

chore(changeset): sorties rattrapées et Haine (X) choisie
  .changeset/sorties-rattrapees-et-haine-choisie.md
Labels: none

Sorties : le rattrapage atteint enfin les feuilles déjà validées — et Haine (X) se choisit (#1028)
  .changeset/sorties-rattrapees-et-haine-choisie.md
  CLAUDE.md
  apps/server/prisma/sqlite/memdb1
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/league.ts
  apps/server/src/schemas/league-match-sheet.schemas.ts
  apps/server/src/services/league-hate-trait.test.ts
  apps/server/src/services/league-hate-trait.ts
  apps/server/src/services/league-match-sheet-hate-choices.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-match-summary.test.ts
  apps/server/src/services/league-match-summary.ts
  apps/server/src/services/league-player-stats.test.ts
  apps/server/src/services/league-player-stats.ts
  apps/server/src/services/league-season-casualty-heal.test.ts
  apps/server/src/services/league-season-casualty-heal.ts
  apps/server/src/services/league-sheet-hate-choices.test.ts
  apps/server/src/services/league-sheet-hate-choices.ts
  apps/server/src/services/league-standings-casualty-heal.test.ts
  apps/server/src/services/league.ts
  apps/web/app/leagues/pairings/[id]/sheet/_components/HateKeywordChoices.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/HateKeywordChoices.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.hate-choices.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
  openspec/changes/casualty-count-and-hate-keyword-choice/design.md
  openspec/changes/casualty-count-and-hate-keyword-choice/proposal.md
  openspec/changes/casualty-count-and-hate-keyword-choice/specs/league-match-sheet/spec.md
  openspec/changes/casualty-count-and-hate-keyword-choice/specs/league-standings/spec.md
  openspec/changes/casualty-count-and-hate-keyword-choice/tasks.md
  packages/game-engine/src/index.ts
  packages/game-engine/src/skills/hate-trait.test.ts
  packages/game-engine/src/skills/hate-trait.ts
  prisma/schema.prisma
Labels: game-engine, web, server

chore(openspec): sync et archive du change « casualty-count-and-hate-keyword-choice »
  CLAUDE.md
  docs/roadmap/backlog/openspec-suites.md
  docs/roadmap/sessions/2026-09-16-casualty-heal-and-hate-keyword-choice.md
  openspec/changes/archive/2026-09-16-casualty-count-and-hate-keyword-choice/design.md
  openspec/changes/archive/2026-09-16-casualty-count-and-hate-keyword-choice/proposal.md
  openspec/changes/archive/2026-09-16-casualty-count-and-hate-keyword-choice/specs/league-match-sheet/spec.md
  openspec/changes/archive/2026-09-16-casualty-count-and-hate-keyword-choice/specs/league-standings/spec.md
  openspec/changes/archive/2026-09-16-casualty-count-and-hate-keyword-choice/tasks.md
  openspec/specs/league-match-sheet/spec.md
  openspec/specs/league-standings/spec.md
Labels: none

chore(openspec): sync et archive du change « casualty-count-and-hate-keyword-choice » (#1029)
  CLAUDE.md
  docs/roadmap/backlog/openspec-suites.md
  docs/roadmap/sessions/2026-09-16-casualty-heal-and-hate-keyword-choice.md
  openspec/changes/archive/2026-09-16-casualty-count-and-hate-keyword-choice/design.md
  openspec/changes/archive/2026-09-16-casualty-count-and-hate-keyword-choice/proposal.md
  openspec/changes/archive/2026-09-16-casualty-count-and-hate-keyword-choice/specs/league-match-sheet/spec.md
  openspec/changes/archive/2026-09-16-casualty-count-and-hate-keyword-choice/specs/league-standings/spec.md
  openspec/changes/archive/2026-09-16-casualty-count-and-hate-keyword-choice/tasks.md
  openspec/specs/league-match-sheet/spec.md
  openspec/specs/league-standings/spec.md
Labels: none

fix(league): l'ordre de classement par défaut suit les colonnes affichées
  apps/server/src/services/league-standings-order.test.ts
  apps/server/src/services/league-standings-order.ts
  apps/server/src/services/league-tiebreak.test.ts
  apps/server/src/services/league.ts
Labels: server

feat(league): un administrateur réordonne le classement même ligue verrouillée
  apps/server/src/routes/admin-leagues-standings-order.test.ts
  apps/server/src/routes/admin-leagues.ts
  apps/server/src/routes/league.test.ts
  apps/server/src/routes/league.ts
  apps/server/src/schemas/admin-leagues.schemas.ts
  apps/server/src/schemas/league.schemas.ts
Labels: server

feat(web): le créateur d'une ligue compose son ordre de classement
  apps/web/app/components/TieBreakOrderEditor.tsx
  apps/web/app/components/tie-break-order.test.ts
  apps/web/app/components/tie-break-order.ts
  apps/web/app/cups/[id]/edit/page.tsx
  apps/web/app/cups/[id]/edit/tie-break-editor.ts
  apps/web/app/leagues/[id]/edit/page.tsx
  apps/web/app/leagues/[id]/types.ts
  apps/web/app/leagues/_components/LeagueForm.test.tsx
  apps/web/app/leagues/_components/LeagueForm.tsx
  apps/web/app/leagues/_components/standings-order.ts
  apps/web/app/leagues/new/page.test.tsx
  apps/web/app/leagues/new/page.tsx
Labels: web

feat(admin): console de réordonnancement, et l'ordre appliqué s'affiche
  apps/server/src/routes/admin-leagues.ts
  apps/server/src/routes/league.ts
  apps/server/src/services/league-standings-order.test.ts
  apps/server/src/services/league-standings-order.ts
  apps/web/app/admin/leagues/page.test.tsx
  apps/web/app/admin/leagues/page.tsx
  apps/web/app/leagues/[id]/SeasonStandings.test.tsx
  apps/web/app/leagues/[id]/SeasonStandings.tsx
  apps/web/app/leagues/[id]/page.tsx
Labels: web, server

docs(openspec): change « league-standings-order » + mémoire
  CLAUDE.md
  openspec/changes/league-standings-order/design.md
  openspec/changes/league-standings-order/proposal.md
  openspec/changes/league-standings-order/specs/league-standings/spec.md
  openspec/changes/league-standings-order/tasks.md
Labels: none

chore(changeset): ordre de classement de ligue configurable
  .changeset/ordre-classement-ligue-configurable.md
Labels: none

Classement de ligue : l'ordre de tri suit les colonnes affichées, et se configure (#1030)
  .changeset/ordre-classement-ligue-configurable.md
  CLAUDE.md
  apps/server/src/routes/admin-leagues-standings-order.test.ts
  apps/server/src/routes/admin-leagues.ts
  apps/server/src/routes/league.test.ts
  apps/server/src/routes/league.ts
  apps/server/src/schemas/admin-leagues.schemas.ts
  apps/server/src/schemas/league.schemas.ts
  apps/server/src/services/league-standings-order.test.ts
  apps/server/src/services/league-standings-order.ts
  apps/server/src/services/league-tiebreak.test.ts
  apps/server/src/services/league.ts
  apps/web/app/admin/leagues/page.test.tsx
  apps/web/app/admin/leagues/page.tsx
  apps/web/app/components/TieBreakOrderEditor.tsx
  apps/web/app/components/tie-break-order.test.ts
  apps/web/app/components/tie-break-order.ts
  apps/web/app/cups/[id]/edit/page.tsx
  apps/web/app/cups/[id]/edit/tie-break-editor.ts
  apps/web/app/leagues/[id]/SeasonStandings.test.tsx
  apps/web/app/leagues/[id]/SeasonStandings.tsx
  apps/web/app/leagues/[id]/edit/page.tsx
  apps/web/app/leagues/[id]/page.tsx
  apps/web/app/leagues/[id]/types.ts
  apps/web/app/leagues/_components/LeagueForm.test.tsx
  apps/web/app/leagues/_components/LeagueForm.tsx
  apps/web/app/leagues/_components/standings-order.ts
  apps/web/app/leagues/new/page.test.tsx
  apps/web/app/leagues/new/page.tsx
  openspec/changes/league-standings-order/design.md
  openspec/changes/league-standings-order/proposal.md
  openspec/changes/league-standings-order/specs/league-standings/spec.md
  openspec/changes/league-standings-order/tasks.md
Labels: web, server

fix(league): le commissaire garde l'accès à ses réglages une fois la ligue lancée
  apps/server/src/routes/admin-leagues.ts
  apps/server/src/routes/league.test.ts
  apps/server/src/routes/league.ts
  apps/server/src/schemas/admin-leagues.schemas.ts
  apps/server/src/schemas/league.schemas.ts
  apps/server/src/services/league.ts
  apps/web/app/leagues/[id]/edit/LockedLeagueSettings.tsx
  apps/web/app/leagues/[id]/edit/page.test.tsx
  apps/web/app/leagues/[id]/edit/page.tsx
  apps/web/app/leagues/[id]/page.test.tsx
  apps/web/app/leagues/[id]/page.tsx
  apps/web/app/leagues/_components/LeagueForm.tsx
  apps/web/app/leagues/_components/StandingsOrderField.tsx
Labels: web, server

docs(openspec): l'accès du commissaire rejoint le change « league-standings-order »
  CLAUDE.md
  openspec/changes/league-standings-order/design.md
  openspec/changes/league-standings-order/proposal.md
  openspec/changes/league-standings-order/specs/league-standings/spec.md
  openspec/changes/league-standings-order/tasks.md
Labels: none

chore(openspec): sync et archive du change « league-standings-order »
  docs/roadmap/backlog/openspec-suites.md
  openspec/changes/archive/2026-09-18-league-standings-order/design.md
  openspec/changes/archive/2026-09-18-league-standings-order/proposal.md
  openspec/changes/archive/2026-09-18-league-standings-order/specs/league-standings/spec.md
  openspec/changes/archive/2026-09-18-league-standings-order/tasks.md
  openspec/specs/league-standings/spec.md
Labels: none

chore(changeset): accès aux réglages d'une ligue lancée
  .changeset/acces-reglages-ligue-commissaire.md
Labels: none

Réglages d'une ligue : le commissaire y garde accès une fois la ligue lancée (#1031)
  .changeset/acces-reglages-ligue-commissaire.md
  CLAUDE.md
  apps/server/src/routes/admin-leagues.ts
  apps/server/src/routes/league.test.ts
  apps/server/src/routes/league.ts
  apps/server/src/schemas/admin-leagues.schemas.ts
  apps/server/src/schemas/league.schemas.ts
  apps/server/src/services/league.ts
  apps/web/app/leagues/[id]/edit/LockedLeagueSettings.tsx
  apps/web/app/leagues/[id]/edit/page.test.tsx
  apps/web/app/leagues/[id]/edit/page.tsx
  apps/web/app/leagues/[id]/page.test.tsx
  apps/web/app/leagues/[id]/page.tsx
  apps/web/app/leagues/_components/LeagueForm.tsx
  apps/web/app/leagues/_components/StandingsOrderField.tsx
  docs/roadmap/backlog/openspec-suites.md
  openspec/changes/archive/2026-09-18-league-standings-order/design.md
  openspec/changes/archive/2026-09-18-league-standings-order/proposal.md
  openspec/changes/archive/2026-09-18-league-standings-order/specs/league-standings/spec.md
  openspec/changes/archive/2026-09-18-league-standings-order/tasks.md
  openspec/specs/league-standings/spec.md
Labels: web, server

fix(league): l'invalidation d'une feuille n'est plus bloquée par un journalier ou un mort relevé recruté
  apps/server/src/services/league-offline-edit.test.ts
  apps/server/src/services/league-offline-edit.ts
  apps/server/src/services/league-offline-purchase-baseline.test.ts
  apps/server/src/services/league-offline-purchase-baseline.ts
  apps/server/src/services/league-offline-purchases.test.ts
  apps/server/src/services/league-offline-purchases.ts
  apps/server/src/services/league-offline-result.test.ts
Labels: server

test(e2e-api): invalider une feuille après le recrutement d'un mort relevé ou d'un journalier
  tests/e2e-api/specs/leagues-sheet-journeymen-orc.spec.ts
  tests/e2e-api/specs/leagues-sheet-raise-dead-undead.spec.ts
Labels: none

docs(openspec): change « invalidate-sheet-after-sheet-player-hire »
  CLAUDE.md
  docs/league-physical-purchases-2026-06-25.md
  openspec/changes/invalidate-sheet-after-sheet-player-hire/design.md
  openspec/changes/invalidate-sheet-after-sheet-player-hire/proposal.md
  openspec/changes/invalidate-sheet-after-sheet-player-hire/specs/league-match-sheet/spec.md
  openspec/changes/invalidate-sheet-after-sheet-player-hire/tasks.md
Labels: none

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
