Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"

feat(league): L.4 round-robin schedule generator (#273)
  TODO.md
  apps/server/src/services/league-schedule.test.ts
  apps/server/src/services/league-schedule.ts
Labels: server

refactor: remove obsolete LocalMatch AI practice code
  apps/server/src/routes/local-match.ts
  apps/server/src/schemas/local-match.schemas.ts
  apps/server/src/services/ai-practice.test.ts
  apps/server/src/services/ai-practice.ts
  apps/web/app/leaderboard/page.test.tsx
  apps/web/app/local-matches/[id]/PracticeAIPanel.tsx
  apps/web/app/local-matches/[id]/hooks/useAIPracticeLoop.test.ts
  apps/web/app/local-matches/[id]/hooks/useAIPracticeLoop.ts
  apps/web/app/local-matches/[id]/page.tsx
Labels: web, server

feat: move Practice vs AI from LocalMatch to online Match flow (#274)
  apps/server/src/routes/local-match.ts
  apps/server/src/routes/match.ts
  apps/server/src/schemas/local-match.schemas.ts
  apps/server/src/schemas/match.schemas.ts
  apps/server/src/services/ai-loop.test.ts
  apps/server/src/services/ai-loop.ts
  apps/server/src/services/ai-practice.test.ts
  apps/server/src/services/ai-practice.ts
  apps/server/src/services/move-processor.ts
  apps/server/src/services/practice-match.test.ts
  apps/server/src/services/practice-match.ts
  apps/web/app/leaderboard/page.test.tsx
  apps/web/app/local-matches/[id]/PracticeAIPanel.tsx
  apps/web/app/local-matches/[id]/hooks/useAIPracticeLoop.test.ts
  apps/web/app/local-matches/[id]/hooks/useAIPracticeLoop.ts
  apps/web/app/local-matches/[id]/page.tsx
  apps/web/app/play/page.tsx
  prisma/schema.prisma
Labels: web, server

feat(game-engine): list star players hirable by 5 priority teams (P2.7)
  TODO.md
  packages/game-engine/src/rosters/star-players.test.ts
  packages/game-engine/src/rosters/star-players.ts
Labels: game-engine

feat(league): L.5 page liste des ligues (frontend)
  TODO.md
  apps/web/app/i18n/translations.ts
  apps/web/app/leagues/layout.tsx
  apps/web/app/leagues/page.test.tsx
  apps/web/app/leagues/page.tsx
Labels: web

feat(league): L.5 page liste des ligues (frontend) (#275)
  TODO.md
  apps/web/app/i18n/translations.ts
  apps/web/app/leagues/layout.tsx
  apps/web/app/leagues/page.test.tsx
  apps/web/app/leagues/page.tsx
Labels: web

feat(league): L.6 page detail ligue (calendrier, classement, participants)
  TODO.md
  apps/server/src/routes/league.test.ts
  apps/server/src/routes/league.ts
  apps/web/app/i18n/translations.ts
  apps/web/app/leagues/[id]/SeasonCalendar.tsx
  apps/web/app/leagues/[id]/SeasonParticipants.tsx
  apps/web/app/leagues/[id]/SeasonStandings.tsx
  apps/web/app/leagues/[id]/layout.tsx
  apps/web/app/leagues/[id]/page.test.tsx
  apps/web/app/leagues/[id]/page.tsx
  apps/web/app/leagues/[id]/types.ts
Labels: web, server

chore: update version.json after prebuild
  apps/web/public/version.json
Labels: web

feat(league): L.6 page detail ligue (calendrier, classement, participants) (#276)
  TODO.md
  apps/server/src/routes/league.test.ts
  apps/server/src/routes/league.ts
  apps/web/app/i18n/translations.ts
  apps/web/app/leagues/[id]/SeasonCalendar.tsx
  apps/web/app/leagues/[id]/SeasonParticipants.tsx
  apps/web/app/leagues/[id]/SeasonStandings.tsx
  apps/web/app/leagues/[id]/layout.tsx
  apps/web/app/leagues/[id]/page.test.tsx
  apps/web/app/leagues/[id]/page.tsx
  apps/web/app/leagues/[id]/types.ts
  apps/web/public/version.json
Labels: web, server

fix(star-players): filtre par ruleset et déduplication côté client
  apps/server/src/routes/star-players.ts
  apps/web/app/i18n/translations.ts
  apps/web/app/star-players/page.tsx
Labels: web, server

chore(release): 1.62.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  885b12d4741cf32c2bce07755ee356f8f0a7f9e7
Labels: none

feat(league): L.7 integration match online -> ligue (resultats auto)
  TODO.md
  apps/server/src/routes/league.ts
  apps/server/src/schemas/league.schemas.ts
  apps/server/src/services/forfeit-tracker.ts
  apps/server/src/services/league-match-result.test.ts
  apps/server/src/services/league-match-result.ts
  apps/server/src/services/move-processor.ts
  prisma/schema.prisma
Labels: server

feat(league): L.7 integration match online -> ligue (resultats auto) (#277)
  TODO.md
  apps/server/src/routes/league.ts
  apps/server/src/schemas/league.schemas.ts
  apps/server/src/services/forfeit-tracker.ts
  apps/server/src/services/league-match-result.test.ts
  apps/server/src/services/league-match-result.ts
  apps/server/src/services/move-processor.ts
  prisma/schema.prisma
Labels: server

feat(league): L.8 ELO saisonnier avec reset et placements
  TODO.md
  apps/server/src/services/league-match-result.test.ts
  apps/server/src/services/league-match-result.ts
  apps/server/src/services/league.test.ts
  apps/server/src/services/league.ts
  apps/server/src/services/season-elo.test.ts
  apps/server/src/services/season-elo.ts
Labels: server

chore(build): refresh version.json buildDate
  apps/web/public/version.json
Labels: web

feat(league): L.8 ELO saisonnier avec reset et placements (#278)
  TODO.md
  apps/server/src/services/league-match-result.test.ts
  apps/server/src/services/league-match-result.ts
  apps/server/src/services/league.test.ts
  apps/server/src/services/league.ts
  apps/server/src/services/season-elo.test.ts
  apps/server/src/services/season-elo.ts
  apps/web/public/version.json
Labels: web, server

fix(ai): auto-place IA pendant la phase de setup pour debloquer le pre-match
  apps/server/src/routes/local-match.ts
  apps/server/src/routes/match.ts
  apps/server/src/services/ai-setup.test.ts
  apps/server/src/services/ai-setup.ts
  apps/server/src/services/inducement-processor.ts
  packages/game-engine/src/ai/index.ts
  packages/game-engine/src/ai/setup-placement.test.ts
  packages/game-engine/src/ai/setup-placement.ts
  packages/game-engine/src/index.ts
Labels: game-engine, server

feat(league): L.9 enforce allowedRosters in service layer
  TODO.md
  apps/server/src/routes/league.test.ts
  apps/server/src/routes/league.ts
  apps/server/src/services/league.test.ts
  apps/server/src/services/league.ts
Labels: server

feat(league): L.9 enforce allowedRosters restriction in service layer (#279)
  TODO.md
  apps/server/src/routes/league.test.ts
  apps/server/src/routes/league.ts
  apps/server/src/services/league.test.ts
  apps/server/src/services/league.ts
Labels: server

fix(prisma): aligne le schema SQLite test sur Postgres pour les champs IA Match
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
Labels: server

test(feature-flags): active FEATURE_FLAGS_FORCE_ENABLED par defaut dans les suites de test
  tests/e2e-api/setup.ts
  tests/integration/setup.ts
Labels: none

Fix AI stuck in placement during online practice setup phase (#280)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/local-match.ts
  apps/server/src/routes/match.ts
  apps/server/src/services/ai-setup.test.ts
  apps/server/src/services/ai-setup.ts
  apps/server/src/services/inducement-processor.ts
  packages/game-engine/src/ai/index.ts
  packages/game-engine/src/ai/setup-placement.test.ts
  packages/game-engine/src/ai/setup-placement.ts
  packages/game-engine/src/index.ts
  tests/e2e-api/setup.ts
  tests/integration/setup.ts
Labels: game-engine, server

feat(admin): page d'avancement lisant roadmap et sprints
  apps/web/app/admin/layout.tsx
  apps/web/app/admin/progress/page.tsx
  apps/web/app/admin/progress/progress-parser.test.ts
  apps/web/app/admin/progress/progress-parser.ts
  apps/web/app/api/admin/progress/route.ts
Labels: web

feat(admin): page d'avancement lisant roadmap et sprints (#281)
  apps/web/app/admin/layout.tsx
  apps/web/app/admin/progress/page.tsx
  apps/web/app/admin/progress/progress-parser.test.ts
  apps/web/app/admin/progress/progress-parser.ts
  apps/web/app/api/admin/progress/route.ts
Labels: web

fix(admin): inject JWT_SECRET into web container for /api/admin/progress
  docker-compose.prod.yml
Labels: none

fix(admin): inject JWT_SECRET into web container for /api/admin/progress (#282)
  docker-compose.prod.yml
Labels: none

feat(mobile): M.1 ecrans gestion d'equipe (liste, creation, detail, edition)
  TODO.md
  apps/mobile/app/_layout.tsx
  apps/mobile/app/lobby.tsx
  apps/mobile/app/teams/[id].tsx
  apps/mobile/app/teams/index.tsx
  apps/mobile/app/teams/new.tsx
  apps/mobile/lib/api.ts
  apps/mobile/lib/teams.test.ts
  apps/mobile/lib/teams.ts
  apps/mobile/package.json
  apps/mobile/vitest.config.ts
  pnpm-lock.yaml
Labels: mobile

feat(mobile): M.1 écrans gestion d'équipe (liste, création, détail, édition) (#283)
  TODO.md
  apps/mobile/app/_layout.tsx
  apps/mobile/app/lobby.tsx
  apps/mobile/app/teams/[id].tsx
  apps/mobile/app/teams/index.tsx
  apps/mobile/app/teams/new.tsx
  apps/mobile/lib/api.ts
  apps/mobile/lib/teams.test.ts
  apps/mobile/lib/teams.ts
  apps/mobile/package.json
  apps/mobile/vitest.config.ts
  pnpm-lock.yaml
Labels: mobile

fix(ai): auto-place kickoff ball when AI is the kicking team
  apps/server/src/routes/match.ts
  apps/server/src/services/ai-kickoff.test.ts
  apps/server/src/services/ai-kickoff.ts
  apps/server/src/services/ai-setup.ts
  packages/game-engine/src/ai/index.ts
  packages/game-engine/src/ai/kickoff-placement.test.ts
  packages/game-engine/src/ai/kickoff-placement.ts
  packages/game-engine/src/index.ts
Labels: game-engine, server

feat: ajoute les informations d'hébergement OVH aux mentions légales
  apps/web/app/legal/mentions-legales/page.tsx
Labels: web

Fix AI stuck in kickoff ball placement step (#284)
  apps/server/src/routes/match.ts
  apps/server/src/services/ai-kickoff.test.ts
  apps/server/src/services/ai-kickoff.ts
  apps/server/src/services/ai-setup.ts
  packages/game-engine/src/ai/index.ts
  packages/game-engine/src/ai/kickoff-placement.test.ts
  packages/game-engine/src/ai/kickoff-placement.ts
  packages/game-engine/src/index.ts
Labels: game-engine, server

chore(release): 1.63.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  55200ade14944ba83a2d315070bf89b802d61d7a
Labels: none

feat(game-flow): B1.7 procédure mi-temps complète (reset + re-kickoff + UI)
  apps/web/app/components/HalftimeTransition.test.tsx
  apps/web/app/components/HalftimeTransition.tsx
  apps/web/app/play/[id]/page.tsx
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/halftime.test.ts
  packages/game-engine/src/core/rules-config.test.ts
Labels: game-engine, web

B1.7: Implement halftime transition with re-setup and re-kickoff (#286)
  apps/web/app/components/HalftimeTransition.test.tsx
  apps/web/app/components/HalftimeTransition.tsx
  apps/web/app/play/[id]/page.tsx
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/halftime.test.ts
  packages/game-engine/src/core/rules-config.test.ts
Labels: game-engine, web

fix(leaderboard): exclut profils non validés et comptes IA
  apps/server/src/index.ts
  apps/server/src/routes/leaderboard.ts
  tests/e2e-api/helpers/factories.ts
  tests/e2e-api/specs/leaderboard.spec.ts
Labels: server

Filter leaderboard: exclude unvalidated and AI accounts (#287)
  apps/server/src/index.ts
  apps/server/src/routes/leaderboard.ts
  tests/e2e-api/helpers/factories.ts
  tests/e2e-api/specs/leaderboard.spec.ts
Labels: server

docs(roadmap): mark C.6 pre-match sequence as completed
  docs/roadmap/phases.md
Labels: none

docs(roadmap): mark all Phase C matchmaking & flow tasks as completed
  docs/roadmap/phases.md
Labels: none
