Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

chore(release): 1.145.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  a494ca098f2f00edc0c52655bdb1aa3a5c92172f
Labels: none

feat(rosters): affiche l'accès primaire/secondaire + doc
  apps/server/src/routes/public-positions.ts
  apps/server/src/routes/public-rosters.ts
  apps/web/app/teams/[slug]/TeamDetailClient.tsx
  docs/skill-access-feature.md
Labels: web, server

feat(rosters): peuple l'accès primaire/secondaire season_3 (+ errata mai 2026)
  packages/game-engine/src/rosters/skill-access-season3.ts
  scripts/generate-skill-access-season3.ts
Labels: game-engine

feat(positions): ajoute l'accès compétences primaire/secondaire au modèle Position
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/seed.ts
  packages/game-engine/src/rosters/skill-access-season3.ts
  prisma/schema.prisma
Labels: game-engine, server

fix(rosters): lettres d'accès dépendantes de la langue (Force = F en FR)
  apps/web/app/admin/data/positions/SkillAccessSelector.tsx
  apps/web/app/teams/[slug]/TeamDetailClient.tsx
Labels: web

feat(admin): édition de l'accès primaire/secondaire des positions
  apps/server/src/routes/admin-data.ts
  apps/server/src/schemas/admin-data.schemas.ts
  apps/server/src/services/skill-access.test.ts
  apps/server/src/services/skill-access.ts
  apps/web/app/admin/data/positions/SkillAccessSelector.tsx
  apps/web/app/admin/data/positions/[id]/edit/page.tsx
  apps/web/app/admin/data/positions/new/page.tsx
Labels: web, server

feat(level-up): valide l'accès primaire/secondaire au montage de niveau
  apps/server/src/services/post-match-league-sequence.test.ts
  apps/server/src/services/post-match-league-sequence.ts
  apps/server/src/services/skill-access.test.ts
  apps/server/src/services/skill-access.ts
Labels: server

feat(level-up): picker de compétence filtré sur le pool primaire/secondaire
  apps/server/src/routes/team-advancement.ts
  apps/web/app/me/teams/[id]/level-up/page.tsx
Labels: web, server

chore(release): 1.146.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  fca94f4fe957828c034564e11ff9ff86fb177a60
Labels: none

perf(home): accélère l'apparition des illustrations des cartes features
  apps/web/app/page.tsx
  apps/web/public/images/export-pdf.webp
  apps/web/public/images/rosters.webp
  apps/web/public/images/star-players.webp
Labels: web

chore(release): 1.146.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  33b59a10e021c40122703259a7c6911489ec53e8
Labels: none

test(level-up): mock prisma.position dans l'integration test post-match
  apps/server/src/services/post-match-league-integration.test.ts
Labels: server

fix(rosters): applique les 4 items errata mai 2026 restants (season_3)
  packages/game-engine/src/rosters/season3-rosters.ts
Labels: game-engine

chore(release): 1.146.2 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  23ea8281a38205239d8861c719e9d4d8ef0975a6
Labels: none

feat(nfl-fantasy): icône de race sur la draft + section Stats BB sur la page joueur
  apps/web/app/nfl-fantasy/RaceIcon.tsx
  apps/web/app/nfl-fantasy/leagues/[id]/draft/page.tsx
  apps/web/app/nfl-fantasy/players/[id]/page.tsx
Labels: web

feat(nfl-fantasy/draft): affiche le nom de la race dans le catalogue disponible
  apps/web/app/nfl-fantasy/leagues/[id]/draft/page.tsx
Labels: web

feat(nfl-fantasy): dérive bbStats/bbSkills depuis (BbRace, BbPosition) + backfill
  apps/server/src/services/nfl-bb-derivation.test.ts
  apps/server/src/services/nfl-bb-derivation.ts
  apps/server/src/services/nfl-ingest-rosters.test.ts
  apps/server/src/services/nfl-ingest-rosters.ts
  scripts/backfill-nfl-bb-attributes.ts
Labels: server

fix(rosters): update Goblin Lineman passing attribute in season 3 reference data
  packages/game-engine/src/rosters/season3-reference-data.ts
Labels: game-engine

Claude/nfl-fantasy-race-stats (#882)
  apps/server/src/services/nfl-bb-derivation.test.ts
  apps/server/src/services/nfl-bb-derivation.ts
  apps/server/src/services/nfl-ingest-rosters.test.ts
  apps/server/src/services/nfl-ingest-rosters.ts
  apps/web/app/nfl-fantasy/RaceIcon.tsx
  apps/web/app/nfl-fantasy/leagues/[id]/draft/page.tsx
  apps/web/app/nfl-fantasy/players/[id]/page.tsx
  packages/game-engine/src/rosters/season3-reference-data.ts
  scripts/backfill-nfl-bb-attributes.ts
Labels: game-engine, web, server

feat(nfl-fantasy): bonus SPP des skills BB sur le scoring hebdo
  apps/server/src/services/nfl-fantasy-scoring.test.ts
  apps/server/src/services/nfl-fantasy-scoring.ts
  apps/server/src/services/nfl-fantasy-skill-bonus.test.ts
  apps/server/src/services/nfl-fantasy-skill-bonus.ts
  docs/nfl-fantasy/06-scoring.md
Labels: server

feat(nfl-fantasy): modele NflFantasyPlayerCareer + agregation au settle
  apps/server/src/routes/nfl-fantasy-entries.ts
  apps/server/src/services/nfl-fantasy-player-career.test.ts
  apps/server/src/services/nfl-fantasy-player-career.ts
  apps/server/src/services/nfl-fantasy-scoring.test.ts
  apps/server/src/services/nfl-fantasy-scoring.ts
  docs/nfl-fantasy/31-player-career.md
  prisma/schema.prisma
Labels: server

feat(nfl-fantasy): API achat de skill BB via SPP carriere + pool d'acces
  apps/server/src/routes/nfl-fantasy-entries.ts
  apps/server/src/services/nfl-bb-derivation.ts
  apps/server/src/services/nfl-fantasy-skill-unlock.test.ts
  apps/server/src/services/nfl-fantasy-skill-unlock.ts
Labels: server

feat(nfl-fantasy): UI achat de skill BB via SPP carriere
  apps/server/src/routes/nfl-fantasy-entries.ts
  apps/server/src/services/nfl-fantasy-skill-unlock.test.ts
  apps/server/src/services/nfl-fantasy-skill-unlock.ts
  apps/web/app/nfl-fantasy/leagues/[id]/career/[playerId]/page.tsx
  apps/web/app/nfl-fantasy/leagues/[id]/career/page.tsx
  apps/web/app/nfl-fantasy/leagues/[id]/page.tsx
  docs/nfl-fantasy/31-player-career.md
Labels: web, server

chore(release): 1.147.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  bf3ced09000f33b42a2b2154609abd6965e7cefd
Labels: none

fix(nfl-fantasy): expose player info + budget engage dans /my-bids
  apps/server/src/routes/nfl-fantasy-draft-sessions.ts
  apps/server/src/services/nfl-fantasy-draft-session-bids.test.ts
  apps/server/src/services/nfl-fantasy-draft-session.ts
Labels: server

fix(nfl-fantasy): UI Mercato — 4 cartes budget + lignes enrichies
  apps/web/app/nfl-fantasy/leagues/[id]/draft/page.tsx
Labels: web

fix(nfl-fantasy): filtre race utilise un vrai label FR, pas le team name
  apps/web/app/nfl-fantasy/leagues/[id]/draft/page.tsx
Labels: web

feat(nfl-fantasy): bot draft automatique pour coachs sans encheres
  apps/server/src/routes/nfl-fantasy-draft-sessions.ts
  apps/server/src/services/nfl-fantasy-bot-draft.test.ts
  apps/server/src/services/nfl-fantasy-bot-draft.ts
  apps/web/app/nfl-fantasy/leagues/[id]/draft/page.tsx
Labels: web, server

feat(nfl-fantasy): pagination du catalogue Mercato
  apps/web/app/nfl-fantasy/leagues/[id]/draft/page.tsx
Labels: web

fix(nfl-fantasy): bots ne biddent jamais pour le caller (owner)
  apps/server/src/routes/nfl-fantasy-draft-sessions.ts
  apps/server/src/services/nfl-fantasy-bot-draft.test.ts
  apps/server/src/services/nfl-fantasy-bot-draft.ts
Labels: server

feat(nfl-fantasy): page recap des sessions de draft
  apps/web/app/nfl-fantasy/leagues/[id]/draft/page.tsx
  apps/web/app/nfl-fantasy/leagues/[id]/draft/recap/page.tsx
Labels: web

chore(release): 1.148.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  240d0154f4ef0916b7124b8fb16049780b9d1ce7
Labels: none

feat(nfl-fantasy): sticky header avec budget dispo + bids + countdown
  apps/web/app/nfl-fantasy/leagues/[id]/draft/page.tsx
Labels: web

feat(nfl-fantasy): UI Mercato responsive — filtres + sections repliables
  apps/web/app/nfl-fantasy/leagues/[id]/draft/page.tsx
Labels: web

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
