Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"

feat(star-players): la DB devient la source de verite pour le recrutement
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/star-players.ts
  apps/server/src/routes/team-build-handler.test.ts
  apps/server/src/routes/team-build-handler.ts
  apps/server/src/routes/team-create-from-roster-handler.test.ts
  apps/server/src/routes/team-create-from-roster-handler.ts
  apps/server/src/routes/team-selection-handlers.test.ts
  apps/server/src/routes/team-selection-handlers.ts
  apps/server/src/routes/team-star-player-handlers.test.ts
  apps/server/src/routes/team-star-player-handlers.ts
  apps/server/src/routes/team-star-player-hire-handler.test.ts
  apps/server/src/routes/team-star-player-hire-handler.ts
  apps/server/src/seed.ts
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/utils/star-player-repository.ts
  apps/server/src/utils/star-player-validation.ts
  prisma/schema.prisma
Labels: server

feat(admin): filtre saison sur la liste des Star Players
  apps/server/src/routes/admin-data.ts
  apps/server/src/schemas/admin-data.schemas.ts
  apps/web/app/admin/data/star-players/page.tsx
Labels: web, server

feat(skills): flag excludedFromSelection pour les competences reservees
  apps/server/src/routes/admin-data.ts
  apps/server/src/routes/public-skills.ts
  apps/server/src/routes/team-player-skills-handler.test.ts
  apps/server/src/routes/team-player-skills-handler.ts
  apps/server/src/schemas/admin-data.schemas.ts
  apps/server/src/services/post-match-league-sequence.test.ts
  apps/server/src/services/post-match-league-sequence.ts
  apps/server/src/services/skill-access.ts
  apps/web/app/admin/data/skills/[id]/edit/page.tsx
  apps/web/app/admin/data/skills/page.tsx
  apps/web/app/components/AdvancementEditor.tsx
  apps/web/app/me/teams/[id]/edit/page.tsx
Labels: web, server

test: retire les contournements @bb/game-engine devenus inutiles
  apps/server/src/routes/team-star-player-handlers.test.ts
  apps/server/src/services/post-match-league-sequence.test.ts
Labels: server

Claude/star players db source of truth (#957)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/admin-data.ts
  apps/server/src/routes/public-skills.ts
  apps/server/src/routes/star-players.ts
  apps/server/src/routes/team-build-handler.test.ts
  apps/server/src/routes/team-build-handler.ts
  apps/server/src/routes/team-create-from-roster-handler.test.ts
  apps/server/src/routes/team-create-from-roster-handler.ts
  apps/server/src/routes/team-player-skills-handler.test.ts
  apps/server/src/routes/team-player-skills-handler.ts
  apps/server/src/routes/team-selection-handlers.test.ts
  apps/server/src/routes/team-selection-handlers.ts
  apps/server/src/routes/team-star-player-handlers.test.ts
  apps/server/src/routes/team-star-player-handlers.ts
  apps/server/src/routes/team-star-player-hire-handler.test.ts
  apps/server/src/routes/team-star-player-hire-handler.ts
  apps/server/src/schemas/admin-data.schemas.ts
  apps/server/src/seed.ts
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/post-match-league-sequence.test.ts
  apps/server/src/services/post-match-league-sequence.ts
  apps/server/src/services/skill-access.ts
  apps/server/src/utils/star-player-repository.ts
  apps/server/src/utils/star-player-validation.ts
  apps/web/app/admin/data/skills/[id]/edit/page.tsx
  apps/web/app/admin/data/skills/page.tsx
  apps/web/app/admin/data/star-players/page.tsx
  apps/web/app/components/AdvancementEditor.tsx
  apps/web/app/me/teams/[id]/edit/page.tsx
  prisma/schema.prisma
Labels: web, server

fix(ci): seuil du micro-bench evaluatePosition trop strict pour CI
  packages/game-engine/src/ai/evaluator.bench.test.ts
Labels: game-engine

chore(release): 1.231.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  1ef32207ae6ea0d6ed848dcfc48f2b479c727b79
Labels: none

feat(star-players): lot A — ajoute la competence Haine (Nain)
  packages/game-engine/src/skills/index.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

fix(star-players): lot B — 21 couts alignes sur les cartes Legends 2025
  packages/game-engine/src/rosters/star-players.ts
Labels: game-engine

fix(star-players): lot C — 27 caracteristiques alignees sur les cartes
  packages/game-engine/src/rosters/star-players.ts
Labels: game-engine

fix(star-players): lot D — 22 listes de competences alignees sur les cartes
  packages/game-engine/src/rosters/star-players.ts
Labels: game-engine

fix(star-players): lot E — retire trois competences qui n'existent pas
  packages/game-engine/src/rosters/star-players.ts
Labels: game-engine

feat(star-players): lot F — sync idempotent code -> base (ligues comprises)
  apps/server/package.json
  apps/server/src/scripts/sync-star-players.ts
  apps/server/src/seeders/sync-star-players.test.ts
  apps/server/src/seeders/sync-star-players.ts
Labels: server

fix(star-players): lot G — paires obligatoires (prix, partenaire, source unique)
  apps/server/src/utils/star-player-pairs.test.ts
  apps/server/src/utils/star-player-validation.ts
  apps/web/app/components/StarPlayerCard.tsx
  apps/web/app/components/StarPlayerSelector.tsx
  apps/web/app/star-players/[slug]/page.tsx
  packages/game-engine/src/rosters/index.ts
  packages/game-engine/src/rosters/star-players.ts
Labels: game-engine, web, server

fix(star-players): lot H — reecriture des 50 regles speciales
  packages/game-engine/src/rosters/star-players.ts
Labels: game-engine

test(star-players): script de controle Legends 2025 (0 ecart) + tests remis a jour
  packages/game-engine/src/rosters/priority-teams-stars-unit.test.ts
  packages/game-engine/src/rosters/star-players-legends-2025.reference.json
  packages/game-engine/src/rosters/star-players-legends-2025.test.ts
  packages/game-engine/src/rosters/star-players.test.ts
Labels: game-engine

docs(star-players): lot I — diagnostic des libelles + mode d'emploi du sync
  docs/star-players-legends-2025.md
Labels: none

Lot Legends 2025 : 50 Star Players du PDF GW alignés (#958)
  apps/server/package.json
  apps/server/src/scripts/sync-star-players.ts
  apps/server/src/seeders/sync-star-players.test.ts
  apps/server/src/seeders/sync-star-players.ts
  apps/server/src/utils/star-player-pairs.test.ts
  apps/server/src/utils/star-player-validation.ts
  apps/web/app/components/StarPlayerCard.tsx
  apps/web/app/components/StarPlayerSelector.tsx
  apps/web/app/star-players/[slug]/page.tsx
  docs/star-players-legends-2025.md
  packages/game-engine/src/rosters/index.ts
  packages/game-engine/src/rosters/priority-teams-stars-unit.test.ts
  packages/game-engine/src/rosters/star-players-legends-2025.reference.json
  packages/game-engine/src/rosters/star-players-legends-2025.test.ts
  packages/game-engine/src/rosters/star-players.test.ts
  packages/game-engine/src/rosters/star-players.ts
  packages/game-engine/src/skills/index.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine, web, server

fix(game-engine): remplace la table de coup d'envoi par celle de la saison 2025
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/actions/legal-moves.test.ts
  packages/game-engine/src/actions/legal-moves.ts
  packages/game-engine/src/core/clone-state.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/kickoff-events.test.ts
  packages/game-engine/src/mechanics/kickoff-events.ts
  packages/game-engine/src/mechanics/kickoff-resolution.test.ts
  packages/game-engine/src/mechanics/kickoff-resolution.ts
  packages/game-engine/src/mechanics/tackle-zones.ts
Labels: game-engine

feat(game-engine): Soutien Offensif « Fans en folie » sur la premiere Action de Blocage
  packages/game-engine/src/actions/block-handler.ts
  packages/game-engine/src/actions/kickoff-cheering-fans-assist.test.ts
Labels: game-engine

fix(game-engine): resolveKickoffEvent consomme la table partagee et applique les effets
  packages/game-engine/src/core/game-state.ts
Labels: game-engine

refactor(sim-engine): reutilise INTERACTIVE_KICKOFF_EVENT_IDS du game-engine
  packages/sim-engine/src/driver/full-driver-kickoff.ts
Labels: none

fix(league): feuille de match — table de coup d'envoi 2025 et alias des anciens ids
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
Labels: web

fix(compendium): 3 ecarts de la table de coup d'envoi + garde-fou de coherence
  apps/web/app/compendium/data/rules-bb-2025.json
  apps/web/app/compendium/kickoff-table-consistency.test.ts
Labels: web

docs(claude): coherence a 3 representations pour les regles cablees
  CLAUDE.md
Labels: none

chore(release): 1.232.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  4b2d28db255963410d8cf8d217480614ad024ec7
Labels: none

feat(web): aide de jeu mobile-first, companion de table
  apps/web/app/aide-de-jeu/AideDeJeuClient.test.tsx
  apps/web/app/aide-de-jeu/AideDeJeuClient.tsx
  apps/web/app/aide-de-jeu/components/PhaseTabs.tsx
  apps/web/app/aide-de-jeu/components/SheetContent.tsx
  apps/web/app/aide-de-jeu/components/SheetPanel.tsx
  apps/web/app/aide-de-jeu/components/StepCard.tsx
  apps/web/app/aide-de-jeu/data/sequences.test.ts
  apps/web/app/aide-de-jeu/data/sequences.ts
  apps/web/app/aide-de-jeu/data/sheets.test.ts
  apps/web/app/aide-de-jeu/data/sheets.ts
  apps/web/app/aide-de-jeu/layout.tsx
  apps/web/app/aide-de-jeu/page.tsx
  apps/web/app/aide-de-jeu/useChecklist.test.ts
  apps/web/app/aide-de-jeu/useChecklist.ts
  apps/web/app/compendium/page.tsx
  apps/web/app/components/Footer.tsx
  apps/web/app/components/Header.tsx
  apps/web/app/sitemap.ts
  openspec/changes/add-game-help-companion/design.md
  openspec/changes/add-game-help-companion/proposal.md
  openspec/changes/add-game-help-companion/specs/game-help/spec.md
  openspec/changes/add-game-help-companion/tasks.md
Labels: web

chore(changeset): aide de jeu
  .changeset/game-help-companion.md
Labels: none

feat(web): aide de jeu mobile-first, companion de table (#959)
  .changeset/game-help-companion.md
  apps/web/app/aide-de-jeu/AideDeJeuClient.test.tsx
  apps/web/app/aide-de-jeu/AideDeJeuClient.tsx
  apps/web/app/aide-de-jeu/components/PhaseTabs.tsx
  apps/web/app/aide-de-jeu/components/SheetContent.tsx
  apps/web/app/aide-de-jeu/components/SheetPanel.tsx
  apps/web/app/aide-de-jeu/components/StepCard.tsx
  apps/web/app/aide-de-jeu/data/sequences.test.ts
  apps/web/app/aide-de-jeu/data/sequences.ts
  apps/web/app/aide-de-jeu/data/sheets.test.ts
  apps/web/app/aide-de-jeu/data/sheets.ts
  apps/web/app/aide-de-jeu/layout.tsx
  apps/web/app/aide-de-jeu/page.tsx
  apps/web/app/aide-de-jeu/useChecklist.test.ts
  apps/web/app/aide-de-jeu/useChecklist.ts
  apps/web/app/compendium/page.tsx
  apps/web/app/components/Footer.tsx
  apps/web/app/components/Header.tsx
  apps/web/app/sitemap.ts
  openspec/changes/add-game-help-companion/design.md
  openspec/changes/add-game-help-companion/proposal.md
  openspec/changes/add-game-help-companion/specs/game-help/spec.md
  openspec/changes/add-game-help-companion/tasks.md
Labels: web

chore(release): 1.233.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  143297a4f5bb5978a0b896cb673d8a4e03c8a5b3
Labels: none

refactor(admin): sélecteur « chips + recherche » extrait en composant partagé
  apps/web/app/admin/data/_components/ChipMultiSelect.test.tsx
  apps/web/app/admin/data/_components/ChipMultiSelect.tsx
  apps/web/app/admin/data/_components/SkillMultiSelect.tsx
  apps/web/app/admin/data/positions/SkillSelector.tsx
  apps/web/app/admin/data/positions/[id]/edit/page.tsx
  apps/web/app/admin/data/positions/new/page.tsx
Labels: web

feat(admin): compétences d'un Star Player saisies comme sur les positions
  apps/web/app/admin/data/star-players/[id]/edit/page.test.tsx
  apps/web/app/admin/data/star-players/[id]/edit/page.tsx
  apps/web/app/admin/data/star-players/_components/SkillCheckboxPicker.test.tsx
  apps/web/app/admin/data/star-players/_components/SkillCheckboxPicker.tsx
  apps/web/app/admin/data/star-players/new/page.test.tsx
  apps/web/app/admin/data/star-players/new/page.tsx
Labels: web

feat(admin): ligues régionales et rosters d'un Star Player en chips + recherche
  apps/web/app/admin/data/star-players/[id]/edit/page.test.tsx
  apps/web/app/admin/data/star-players/[id]/edit/page.tsx
  apps/web/app/admin/data/star-players/_components/HirableByPicker.tsx
  apps/web/app/admin/data/star-players/_components/star-player-options.test.ts
  apps/web/app/admin/data/star-players/_components/star-player-options.ts
  apps/web/app/admin/data/star-players/new/page.test.tsx
  apps/web/app/admin/data/star-players/new/page.tsx
Labels: web

feat(teams): statistiques du roster utiles sur la fiche publique
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/teams/[slug]/TeamDetailClient.tsx
  apps/web/app/teams/[slug]/roster-stats.test.ts
  apps/web/app/teams/[slug]/roster-stats.ts
Labels: web

docs(openspec): change unify-admin-pickers-and-roster-stats + changeset
  .changeset/admin-pickers-roster-stats.md
  openspec/changes/unify-admin-pickers-and-roster-stats/proposal.md
  openspec/changes/unify-admin-pickers-and-roster-stats/specs/admin-data-forms/spec.md
  openspec/changes/unify-admin-pickers-and-roster-stats/specs/team-roster-page/spec.md
  openspec/changes/unify-admin-pickers-and-roster-stats/tasks.md
Labels: none

feat(admin+teams): sélecteurs unifiés « chips + recherche » et statistiques de roster utiles (#960)
  .changeset/admin-pickers-roster-stats.md
  apps/web/app/admin/data/_components/ChipMultiSelect.test.tsx
  apps/web/app/admin/data/_components/ChipMultiSelect.tsx
  apps/web/app/admin/data/_components/SkillMultiSelect.tsx
  apps/web/app/admin/data/positions/SkillSelector.tsx
  apps/web/app/admin/data/positions/[id]/edit/page.tsx
  apps/web/app/admin/data/positions/new/page.tsx
  apps/web/app/admin/data/star-players/[id]/edit/page.test.tsx
  apps/web/app/admin/data/star-players/[id]/edit/page.tsx
  apps/web/app/admin/data/star-players/_components/HirableByPicker.tsx
  apps/web/app/admin/data/star-players/_components/SkillCheckboxPicker.test.tsx
  apps/web/app/admin/data/star-players/_components/SkillCheckboxPicker.tsx
  apps/web/app/admin/data/star-players/_components/star-player-options.test.ts
  apps/web/app/admin/data/star-players/_components/star-player-options.ts
  apps/web/app/admin/data/star-players/new/page.test.tsx
  apps/web/app/admin/data/star-players/new/page.tsx
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/teams/[slug]/TeamDetailClient.tsx
  apps/web/app/teams/[slug]/roster-stats.test.ts
  apps/web/app/teams/[slug]/roster-stats.ts
  openspec/changes/unify-admin-pickers-and-roster-stats/proposal.md
  openspec/changes/unify-admin-pickers-and-roster-stats/specs/admin-data-forms/spec.md
  openspec/changes/unify-admin-pickers-and-roster-stats/specs/team-roster-page/spec.md
  openspec/changes/unify-admin-pickers-and-roster-stats/tasks.md
Labels: web

chore(release): 1.234.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none
