Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

feat: implement Kick skill (Sprint 14 P2.1)
  TODO.md
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/mechanics/kick-skill.test.ts
  packages/game-engine/src/mechanics/kick-skill.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat: implement Kick skill (Sprint 14 P2.1) (#242)
  TODO.md
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/mechanics/kick-skill.test.ts
  packages/game-engine/src/mechanics/kick-skill.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat: implement Defensive skill (Sprint 14 P2.2)
  TODO.md
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/mechanics/defensive.test.ts
  packages/game-engine/src/mechanics/defensive.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat: implement Defensive skill (Sprint 14 P2.2) (#243)
  TODO.md
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/mechanics/defensive.test.ts
  packages/game-engine/src/mechanics/defensive.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat: implement disturbing-presence skill (P2.3)
  TODO.md
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/disturbing-presence.test.ts
  packages/game-engine/src/mechanics/disturbing-presence.ts
  packages/game-engine/src/mechanics/passing.ts
  packages/game-engine/src/mechanics/throw-team-mate.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat: implement disturbing-presence skill (Sprint 14 P2.3) (#244)
  TODO.md
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/disturbing-presence.test.ts
  packages/game-engine/src/mechanics/disturbing-presence.ts
  packages/game-engine/src/mechanics/passing.ts
  packages/game-engine/src/mechanics/throw-team-mate.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat: implement sneaky-git skill (Sprint 14 P2.6)
  TODO.md
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/mechanics/foul.test.ts
  packages/game-engine/src/mechanics/foul.ts
  packages/game-engine/src/skills/skill-bridge.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat: implement sneaky-git skill (Sprint 14 P2.6) (#245)
  TODO.md
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/mechanics/foul.test.ts
  packages/game-engine/src/mechanics/foul.ts
  packages/game-engine/src/skills/skill-bridge.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(P2.7): lister les star players hirables par les 5 equipes prioritaires
  TODO.md
  packages/game-engine/src/rosters/index.ts
  packages/game-engine/src/rosters/priority-teams.test.ts
  packages/game-engine/src/rosters/priority-teams.ts
Labels: game-engine

feat(P2.7): lister les star players hirables par les 5 equipes prioritaires (#246)
  TODO.md
  packages/game-engine/src/rosters/index.ts
  packages/game-engine/src/rosters/priority-teams.test.ts
  packages/game-engine/src/rosters/priority-teams.ts
Labels: game-engine

feat(content): enrichir 6 special rules de star players des 5 equipes prioritaires (P2.8)
  TODO.md
  packages/game-engine/src/rosters/priority-teams-special-rules.test.ts
  packages/game-engine/src/rosters/star-players.ts
Labels: game-engine

feat(content): enrichir special rules star players 5 equipes prioritaires (P2.8) (#247)
  TODO.md
  packages/game-engine/src/rosters/priority-teams-special-rules.test.ts
  packages/game-engine/src/rosters/star-players.ts
Labels: game-engine

feat(content): ajouter descriptions EN pour les star players MVP (P2.9)
  TODO.md
  apps/web/app/star-players/[slug]/page.tsx
  packages/game-engine/src/rosters/priority-teams-content.test.ts
  packages/game-engine/src/rosters/star-players.ts
Labels: game-engine, web

feat(content): descriptions EN pour les star players MVP (P2.9) (#248)
  TODO.md
  apps/web/app/star-players/[slug]/page.tsx
  packages/game-engine/src/rosters/priority-teams-content.test.ts
  packages/game-engine/src/rosters/star-players.ts
Labels: game-engine, web

test(game-engine): tests unitaires special rules star players MVP (P2.10)
  TODO.md
  packages/game-engine/src/rosters/priority-teams-stars-unit.test.ts
Labels: game-engine

test(game-engine): tests unitaires special rules star players MVP (P2.10) (#249)
  TODO.md
  packages/game-engine/src/rosters/priority-teams-stars-unit.test.ts
Labels: game-engine

feat: tutoriel interactif (N.1) avec script 'mon-premier-match'
  TODO.md
  apps/web/app/components/Footer.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/sitemap.ts
  apps/web/app/tutoriel/[slug]/page.tsx
  apps/web/app/tutoriel/page.test.tsx
  apps/web/app/tutoriel/page.tsx
  packages/game-engine/src/index.ts
  packages/game-engine/src/tutorial/engine.test.ts
  packages/game-engine/src/tutorial/engine.ts
  packages/game-engine/src/tutorial/index.ts
  packages/game-engine/src/tutorial/scripts/intro.ts
  packages/game-engine/src/tutorial/types.ts
Labels: game-engine, web

feat: tutoriel interactif (Sprint 15 · N.1) (#250)
  TODO.md
  apps/web/app/components/Footer.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/sitemap.ts
  apps/web/app/tutoriel/[slug]/page.tsx
  apps/web/app/tutoriel/page.test.tsx
  apps/web/app/tutoriel/page.tsx
  packages/game-engine/src/index.ts
  packages/game-engine/src/tutorial/engine.test.ts
  packages/game-engine/src/tutorial/engine.ts
  packages/game-engine/src/tutorial/index.ts
  packages/game-engine/src/tutorial/scripts/intro.ts
  packages/game-engine/src/tutorial/types.ts
Labels: game-engine, web

feat: mode simplifié pour débutants (Sprint 15 · N.2)
  TODO.md
  apps/server/src/routes/match.ts
  apps/server/src/schemas/match.schemas.ts
  apps/server/src/schemas/zod-schemas.test.ts
  apps/server/src/services/match-start.ts
  apps/server/src/services/move-processor.ts
  apps/web/app/play/page.tsx
  apps/web/public/version.json
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/rules-config.test.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
Labels: game-engine, web, server

feat: mode simplifie pour debutants (Sprint 15 · N.2) (#251)
  TODO.md
  apps/server/src/routes/match.ts
  apps/server/src/schemas/match.schemas.ts
  apps/server/src/schemas/zod-schemas.test.ts
  apps/server/src/services/match-start.ts
  apps/server/src/services/move-processor.ts
  apps/web/app/play/page.tsx
  apps/web/public/version.json
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/rules-config.test.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
Labels: game-engine, web, server

feat(teams): season 3 par defaut et staff a la creation
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/routes/public-skills.ts
  apps/server/src/routes/team.ts
  apps/server/src/schemas/team.schemas.ts
  apps/server/src/schemas/zod-schemas.test.ts
  apps/server/src/scripts/verify-ruleset-consistency.ts
  apps/web/app/components/StarPlayerSelector.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/me/teams/new/page.tsx
  packages/game-engine/src/mechanics/p1-11-audit.test.ts
  packages/game-engine/src/rosters/positions.ts
  prisma/schema.prisma
  tests/e2e-ui/pages/TeamBuilderPage.ts
  tests/e2e-ui/specs/team-creation.spec.ts
Labels: game-engine, web, server

fix(teams): inclure le staff dans la validation budgetaire
  apps/server/src/routes/team.ts
  apps/web/app/me/teams/new/page.tsx
  tests/e2e-ui/specs/team-creation.spec.ts
Labels: web, server

feat(teams): season 3 par defaut et staff a la creation (#252)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/routes/public-skills.ts
  apps/server/src/routes/team.ts
  apps/server/src/schemas/team.schemas.ts
  apps/server/src/schemas/zod-schemas.test.ts
  apps/server/src/scripts/verify-ruleset-consistency.ts
  apps/web/app/components/StarPlayerSelector.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/me/teams/new/page.tsx
  packages/game-engine/src/mechanics/p1-11-audit.test.ts
  packages/game-engine/src/rosters/positions.ts
  prisma/schema.prisma
  tests/e2e-ui/pages/TeamBuilderPage.ts
  tests/e2e-ui/specs/team-creation.spec.ts
Labels: game-engine, web, server

feat: ajouter module IA avec evaluation heuristique (N.3)
  TODO.md
  packages/game-engine/src/ai/evaluator.test.ts
  packages/game-engine/src/ai/evaluator.ts
  packages/game-engine/src/ai/index.ts
  packages/game-engine/src/index.ts
Labels: game-engine

feat: IA — evaluation heuristique position + coup (N.3) (#253)
  TODO.md
  packages/game-engine/src/ai/evaluator.test.ts
  packages/game-engine/src/ai/evaluator.ts
  packages/game-engine/src/ai/index.ts
  packages/game-engine/src/index.ts
Labels: game-engine

feat(ai): add three-level AI difficulty system for practice mode (N.4)
  TODO.md
  packages/game-engine/src/ai/difficulty.test.ts
  packages/game-engine/src/ai/difficulty.ts
  packages/game-engine/src/ai/index.ts
  packages/game-engine/src/index.ts
Labels: game-engine

feat(ai): three-level AI difficulty for practice mode (N.4) (#254)
  TODO.md
  packages/game-engine/src/ai/difficulty.test.ts
  packages/game-engine/src/ai/difficulty.ts
  packages/game-engine/src/ai/index.ts
  packages/game-engine/src/index.ts
Labels: game-engine

feat(ai): restrict AI opponent to 5 priority teams (N.4b)
  TODO.md
  packages/game-engine/src/ai/index.ts
  packages/game-engine/src/ai/opponent-teams.test.ts
  packages/game-engine/src/ai/opponent-teams.ts
  packages/game-engine/src/index.ts
Labels: game-engine

feat(ai): restrict AI opponent to 5 priority teams (N.4b) (#255)
  TODO.md
  packages/game-engine/src/ai/index.ts
  packages/game-engine/src/ai/opponent-teams.test.ts
  packages/game-engine/src/ai/opponent-teams.ts
  packages/game-engine/src/index.ts
Labels: game-engine

chore: add Skill and Monitor tools to project permissions
  .claude/settings.json
Labels: none

Add Claude settings with Skill and Monitor permissions (#256)
  .claude/settings.json
Labels: none

chore: enable continuous-learning-v2 observer
  .claude/skills/continuous-learning-v2/config.json
Labels: none

Enable continuous learning observer in v2 config (#257)
  .claude/skills/continuous-learning-v2/config.json
Labels: none

feat(web): improve mobile UX on team creation page
  apps/web/app/i18n/translations.ts
  apps/web/app/me/teams/components/QuantityStepper.test.tsx
  apps/web/app/me/teams/components/QuantityStepper.tsx
  apps/web/app/me/teams/new/page.tsx
  tests/e2e-ui/pages/TeamBuilderPage.ts
Labels: web

feat(social): systeme d'amis — fondation backend (N.5)
  TODO.md
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/friends.ts
  apps/server/src/schemas/friendship.schemas.test.ts
  apps/server/src/schemas/friendship.schemas.ts
  apps/server/src/services/friendship.test.ts
  apps/server/src/services/friendship.ts
  prisma/schema.prisma
Labels: server

fix(web): address review findings on team creation mobile UX
  apps/web/app/i18n/translations.ts
  apps/web/app/me/teams/components/QuantityStepper.tsx
  apps/web/app/me/teams/new/page.tsx
  tests/e2e-ui/pages/TeamBuilderPage.ts
Labels: web

chore(web): bump build date after mobile UX work
  apps/web/public/version.json
Labels: web

feat(social): systeme d'amis — fondation backend (N.5) (#258)
  TODO.md
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/friends.ts
  apps/server/src/schemas/friendship.schemas.test.ts
  apps/server/src/schemas/friendship.schemas.ts
  apps/server/src/services/friendship.test.ts
  apps/server/src/services/friendship.ts
  prisma/schema.prisma
Labels: server

Refactor team builder UI with sticky summary and QuantityStepper component (#259)
  apps/web/app/i18n/translations.ts
  apps/web/app/me/teams/components/QuantityStepper.test.tsx
  apps/web/app/me/teams/components/QuantityStepper.tsx
  apps/web/app/me/teams/new/page.tsx
  apps/web/public/version.json
  tests/e2e-ui/pages/TeamBuilderPage.ts
Labels: web

docs(sprints): plan badges, titres & recompenses (SPRINT-6 + SPRINT-7)
  docs/sprints/FEATURE-BADGES-TITLES-REWARDS.md
  docs/sprints/README.md
  docs/sprints/SPRINT-6-badges-foundation.md
  docs/sprints/SPRINT-7-badges-match-cup-triggers.md
Labels: none

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
