Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"

Add armor and injury skill modifiers (Claws, Thick Skull, Dirty Player) (#109)
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/mechanics/foul.ts
  packages/game-engine/src/skills/armor-injury-skills.test.ts
  packages/game-engine/src/skills/skill-bridge.ts
Labels: game-engine

feat: complete skill-registry integration in blocking engine (B0.1)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/skills/skill-bridge.test.ts
  packages/game-engine/src/skills/skill-bridge.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

Integrate skill-registry into blocking mechanics (#110)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/skills/skill-bridge.test.ts
  packages/game-engine/src/skills/skill-bridge.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat: implement matchmaking queue with auto-matching (C.1-3)
  TODO.md
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/runtime/index-browser.d.ts
  apps/server/src/prisma-sqlite-client/runtime/library.d.ts
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/matchmaking.ts
  apps/server/src/routes/team.ts
  apps/server/src/schemas/matchmaking.schemas.ts
  apps/server/src/services/matchmaking.test.ts
  apps/server/src/services/matchmaking.ts
  apps/web/app/play/page.tsx
  prisma/schema.prisma
Labels: web, server

chore: update version.json build artifact
  apps/web/public/version.json
Labels: web

Implement matchmaking queue system with auto-matching (#111)
  TODO.md
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/runtime/index-browser.d.ts
  apps/server/src/prisma-sqlite-client/runtime/library.d.ts
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/matchmaking.ts
  apps/server/src/routes/team.ts
  apps/server/src/schemas/matchmaking.schemas.ts
  apps/server/src/services/matchmaking.test.ts
  apps/server/src/services/matchmaking.ts
  apps/web/app/play/page.tsx
  apps/web/public/version.json
  prisma/schema.prisma
Labels: web, server

feat: add movement and ball tweens with animation queue (E.1-3)
  TODO.md
  packages/ui/src/board/PixiBoard.tsx
  packages/ui/src/board/animation.test.ts
  packages/ui/src/board/animation.ts
  packages/ui/src/board/useAnimatedPositions.test.ts
  packages/ui/src/board/useAnimatedPositions.ts
Labels: packages-ui

chore: update build date in version.json
  apps/web/public/version.json
Labels: web

feat: add movement and ball tweens with animation queue (E.1-3) (#112)
  TODO.md
  apps/web/public/version.json
  packages/ui/src/board/PixiBoard.tsx
  packages/ui/src/board/animation.test.ts
  packages/ui/src/board/animation.ts
  packages/ui/src/board/useAnimatedPositions.test.ts
  packages/ui/src/board/useAnimatedPositions.ts
Labels: packages-ui, web

feat: add turn notification system with toast, sound, and browser alert (A.10)
  TODO.md
  apps/web/app/play-hidden/[id]/hooks/useGameState.ts
  apps/web/app/play-hidden/[id]/hooks/useTurnNotification.test.ts
  apps/web/app/play-hidden/[id]/hooks/useTurnNotification.ts
  apps/web/app/play-hidden/[id]/page.tsx
  apps/web/vitest.config.ts
Labels: web

chore: update version.json build date
  apps/web/public/version.json
Labels: web

feat: add turn notification system (A.10) (#113)
  TODO.md
  apps/web/app/play-hidden/[id]/hooks/useGameState.ts
  apps/web/app/play-hidden/[id]/hooks/useTurnNotification.test.ts
  apps/web/app/play-hidden/[id]/hooks/useTurnNotification.ts
  apps/web/app/play-hidden/[id]/page.tsx
  apps/web/public/version.json
  apps/web/vitest.config.ts
Labels: web

feat: add basic sound effects for match events (H.5)
  TODO.md
  apps/web/app/play-hidden/[id]/hooks/sound-manager.test.ts
  apps/web/app/play-hidden/[id]/hooks/sound-manager.ts
  apps/web/app/play-hidden/[id]/hooks/useSoundEffects.test.ts
  apps/web/app/play-hidden/[id]/hooks/useSoundEffects.ts
  apps/web/app/play-hidden/[id]/page.tsx
Labels: web

chore: update version.json build timestamp
  apps/web/public/version.json
Labels: web

feat: add basic sound effects for match events (H.5) (#114)
  TODO.md
  apps/web/app/play-hidden/[id]/hooks/sound-manager.test.ts
  apps/web/app/play-hidden/[id]/hooks/sound-manager.ts
  apps/web/app/play-hidden/[id]/hooks/useSoundEffects.test.ts
  apps/web/app/play-hidden/[id]/hooks/useSoundEffects.ts
  apps/web/app/play-hidden/[id]/page.tsx
  apps/web/public/version.json
Labels: web

feat: implement BB3 Season 2 inducement system (B2.1)
  TODO.md
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/inducements.test.ts
  packages/game-engine/src/core/inducements.ts
  packages/game-engine/src/index.ts
Labels: game-engine

chore: update build timestamp
  apps/web/public/version.json
Labels: web

feat: implement BB3 Season 2 inducement system (B2.1) (#115)
  TODO.md
  apps/web/public/version.json
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/inducements.test.ts
  packages/game-engine/src/core/inducements.ts
  packages/game-engine/src/index.ts
Labels: game-engine, web

feat: add inducement selection UI for pre-match phase (B2.2)
  TODO.md
  apps/server/src/routes/local-match.ts
  apps/server/src/routes/match.ts
  apps/web/app/play-hidden/[id]/hooks/useGameState.ts
  apps/web/app/play-hidden/[id]/page.tsx
  packages/ui/src/index.tsx
  packages/ui/src/popups/InducementSelectionPopup.test.tsx
  packages/ui/src/popups/InducementSelectionPopup.tsx
Labels: packages-ui, web, server

feat: add inducements UI selection pre-match (B2.2)
  TODO.md
  apps/server/src/game-actions.ts
  apps/server/src/routes/local-match.ts
  apps/server/src/services/inducement-processor.ts
  apps/web/app/components/InducementSelector.test.tsx
  apps/web/app/components/InducementSelector.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/play-hidden/[id]/hooks/useGameSocket.ts
  apps/web/app/play-hidden/[id]/page.tsx
  packages/game-engine/src/core/inducement-handler.test.ts
  packages/game-engine/src/core/inducement-handler.ts
  packages/game-engine/src/index.ts
Labels: game-engine, web, server

chore: update build timestamp
  apps/web/public/version.json
Labels: web

feat: add inducements UI selection pre-match (B2.2) (#116)
  TODO.md
  apps/server/src/game-actions.ts
  apps/server/src/routes/local-match.ts
  apps/server/src/services/inducement-processor.ts
  apps/web/app/components/InducementSelector.test.tsx
  apps/web/app/components/InducementSelector.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/play-hidden/[id]/hooks/useGameSocket.ts
  apps/web/app/play-hidden/[id]/page.tsx
  apps/web/public/version.json
  packages/game-engine/src/core/inducement-handler.test.ts
  packages/game-engine/src/core/inducement-handler.ts
  packages/game-engine/src/index.ts
Labels: game-engine, web, server

feat: implement Prayers to Nuffle with 16 real effects (B2.3)
  TODO.md
  packages/game-engine/src/core/pre-match-sequence.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/prayers-to-nuffle.test.ts
  packages/game-engine/src/mechanics/prayers-to-nuffle.ts
Labels: game-engine

chore: update build date
  apps/web/public/version.json
Labels: web

feat: implement Prayers to Nuffle with 16 real effects (B2.3) (#117)
  TODO.md
  apps/web/public/version.json
  packages/game-engine/src/core/pre-match-sequence.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/prayers-to-nuffle.test.ts
  packages/game-engine/src/mechanics/prayers-to-nuffle.ts
Labels: game-engine, web

feat: implement ELO rating system (F.1-2)
  TODO.md
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/routes/leaderboard.ts
  apps/server/src/services/elo-update.test.ts
  apps/server/src/services/elo-update.ts
  apps/server/src/services/elo.test.ts
  apps/server/src/services/elo.ts
  apps/server/src/services/move-processor.ts
  prisma/schema.prisma
Labels: server

Implement ELO rating system and leaderboard (#118)
  TODO.md
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/routes/leaderboard.ts
  apps/server/src/services/elo-update.test.ts
  apps/server/src/services/elo-update.ts
  apps/server/src/services/elo.test.ts
  apps/server/src/services/elo.ts
  apps/server/src/services/move-processor.ts
  prisma/schema.prisma
Labels: server

feat: implement special rules for top 10 star players (B3.1)
  TODO.md
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/rosters/star-players.ts
  packages/game-engine/src/skills/index.ts
  packages/game-engine/src/skills/star-player-rules.test.ts
  packages/game-engine/src/skills/star-player-rules.ts
Labels: game-engine

feat: implement special rules for top 10 star players (B3.1) (#119)
  TODO.md
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/rosters/star-players.ts
  packages/game-engine/src/skills/index.ts
  packages/game-engine/src/skills/star-player-rules.test.ts
  packages/game-engine/src/skills/star-player-rules.ts
Labels: game-engine

fix: resolve pre-match session bugs preventing player placement
  apps/server/src/routes/match.ts
  apps/web/app/play-hidden/[id]/page.tsx
  packages/game-engine/src/core/game-state.ts
Labels: game-engine, web, server

fix: resolve pre-match session bugs preventing player placement (#120)
  apps/server/src/routes/match.ts
  apps/web/app/play-hidden/[id]/page.tsx
  packages/game-engine/src/core/game-state.ts
Labels: game-engine, web, server

feat: display match log below the game board
  apps/web/app/play-hidden/[id]/page.tsx
Labels: web

Add GameLog component to play page (#121)
  apps/web/app/play-hidden/[id]/page.tsx
Labels: web

feat: add WebSocket reconnection with exponential backoff (A.7)
  TODO.md
  apps/server/src/game-resync.test.ts
  apps/server/src/game-resync.ts
  apps/server/src/socket.ts
  apps/web/app/play-hidden/[id]/hooks/useGameSocket.test.ts
  apps/web/app/play-hidden/[id]/hooks/useGameSocket.ts
Labels: web, server

Add WebSocket reconnection with exponential backoff & game state resync (#122)
  TODO.md
  apps/server/src/game-resync.test.ts
  apps/server/src/game-resync.ts
  apps/server/src/socket.ts
  apps/web/app/play-hidden/[id]/hooks/useGameSocket.test.ts
  apps/web/app/play-hidden/[id]/hooks/useGameSocket.ts
Labels: web, server

feat: add HTTP fallback for move submission when WebSocket fails (A.8)
  TODO.md
  apps/web/app/play-hidden/[id]/hooks/submitMoveHttp.test.ts
  apps/web/app/play-hidden/[id]/hooks/submitMoveHttp.ts
  apps/web/app/play-hidden/[id]/hooks/submitMoveWithFallback.test.ts
  apps/web/app/play-hidden/[id]/hooks/submitMoveWithFallback.ts
  apps/web/app/play-hidden/[id]/hooks/useGameSocket.ts
Labels: web

Add HTTP fallback for move submission when WebSocket unavailable (#123)
  TODO.md
  apps/web/app/play-hidden/[id]/hooks/submitMoveHttp.test.ts
  apps/web/app/play-hidden/[id]/hooks/submitMoveHttp.ts
  apps/web/app/play-hidden/[id]/hooks/submitMoveWithFallback.test.ts
  apps/web/app/play-hidden/[id]/hooks/submitMoveWithFallback.ts
  apps/web/app/play-hidden/[id]/hooks/useGameSocket.ts
Labels: web

feat: add WebSocket connection status indicator in HUD (A.9)
  TODO.md
  apps/web/app/play-hidden/[id]/page.tsx
  packages/ui/src/components/GameScoreboard.tsx
  packages/ui/src/components/__tests__/GameScoreboard.test.tsx
Labels: packages-ui, web

chore: update build timestamp in version.json
  apps/web/public/version.json
Labels: web

feat: add WebSocket connection status indicator in HUD (A.9) (#124)
  TODO.md
  apps/web/app/play-hidden/[id]/page.tsx
  apps/web/public/version.json
  packages/ui/src/components/GameScoreboard.tsx
  packages/ui/src/components/__tests__/GameScoreboard.test.tsx
Labels: packages-ui, web
