Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"

feat: add interactive board with selection and mobile renderer
  apps/mobile/app/index.tsx
  apps/mobile/package.json
  apps/web/app/page.tsx
  packages/ui/package.json
  packages/ui/src/PixiBoard.native.tsx
  packages/ui/src/PixiBoard.tsx
Labels: packages-ui, web, mobile

ci: désactiver temporairement tous les workflows GitHub Actions en utilisant workflow_dispatch
  .github/workflows/ci.yml
  .github/workflows/docker-server.yml
  .github/workflows/e2e.yml
  .github/workflows/expo-eas.yml
  .github/workflows/labeler.yml
  .github/workflows/preview-vercel.yml
  .github/workflows/release.yml
Labels: none

feat: ajout de la configuration TypeScript pour l'application mobile et mise à jour du serveur avec Express et CORS; ajout d'une route de santé pour l'API
  .turbo/daemon/cf201aa6ef4f7a07-turbo.log.2025-08-28
  apps/mobile/tsconfig.json
  apps/server/src/index.ts
Labels: server, mobile

chore: améliorer .gitignore pour couvrir tous les fichiers de cache et build
  .gitignore
Labels: none

docs: ajouter guide de développement complet avec structure, config et résolution de problèmes
  DEVELOPMENT.md
Labels: none

feat: changer port web de 3000 à 3100 et mettre à jour la documentation
  DEVELOPMENT.md
  apps/web/package.json
  apps/web/tsconfig.json
Labels: web

feat: ajouter la gestion des clics sur le terrain dans PixiBoard, améliorer l'affichage des mouvements légaux et la bordure de sélection des joueurs
  packages/ui/src/PixiBoard.tsx
Labels: packages-ui

feat: ajouter la gestion des mouvements diagonaux dans la fonction getLegalMoves pour respecter les règles de Blood Bowl
  packages/game-engine/src/index.ts
Labels: game-engine

feat: ajouter l'affichage du numéro du joueur au centre du cercle et améliorer la gestion des bordures de sélection dans PixiBoard
  packages/ui/src/PixiBoard.tsx
Labels: packages-ui

feat: ajouter le composant PlayerDetails pour afficher les informations des joueurs et mettre à jour la page d'accueil pour l'intégrer
  apps/web/app/page.tsx
  packages/game-engine/src/index.ts
  packages/ui/src/PlayerDetails.tsx
  packages/ui/src/index.tsx
Labels: packages-ui, game-engine, web

feat: track movement points and selection
  apps/mobile/app/index.tsx
  apps/web/app/page.tsx
  packages/game-engine/src/index.ts
  packages/ui/src/PixiBoard.native.tsx
  packages/ui/src/PixiBoard.tsx
  packages/ui/src/PlayerDetails.tsx
Labels: packages-ui, game-engine, web, mobile

feat: ajouter un fichier TODO pour organiser les issues du projet BlooBowl Fantasy Football Game par priorité et épic
  TODO.md
Labels: none

feat: ajouter la gestion des jets de dés, des turnovers et un nouveau composant d'affichage des résultats de dés Jets & turnovers (MVP) #31
  apps/web/app/page.tsx
  packages/game-engine/src/index.ts
  packages/ui/src/DiceResultPopup.tsx
  packages/ui/src/index.tsx
Labels: packages-ui, game-engine, web

feat: mettre à jour .gitignore pour inclure des fichiers de base de données, Docker, Prisma et outils de développement; suppression du fichier tsconfig.tsbuildinfo
  .gitignore
  apps/web/tsconfig.tsbuildinfo
Labels: web

feat: ajouter un Makefile et un fichier de documentation pour faciliter le développement du projet BlooBowl avec des commandes utiles et des workflows
  MAKEFILE.md
  Makefile
Labels: none

feat: ajouter une popup pour afficher les résultats des jets de dés et gérer la fin du tour en cas d'échec d'esquive
  apps/web/app/page.tsx
Labels: web

feat: mettre à jour les ports dans docker-compose et le Makefile, et améliorer la logique de jet d'esquive dans la fonction requiresDodgeRoll
  Makefile
  docker-compose.yml
  packages/game-engine/src/index.ts
Labels: game-engine

feat: améliorer le Makefile avec des commandes de redémarrage et de gestion des ports, et simplifier la logique de jet d'esquive dans la fonction requiresDodgeRoll
  Makefile
  packages/game-engine/src/index.ts
Labels: game-engine

feat: améliorer le Makefile avec des commandes de redémarrage et de gestion des ports, et simplifier la logique de jet d'esquive dans la fonction requiresDodgeRoll
  apps/web/app/page.tsx
  packages/game-engine/src/index.ts
Labels: game-engine, web

feat: permettre aux joueurs de se déplacer même en cas d'échec du jet d'esquive, en mettant à jour la logique de mouvement dans la fonction applyMove
  packages/game-engine/src/index.ts
Labels: game-engine

feat: ajouter des tests avec Vitest et mettre à jour la logique de calcul de la cible d'esquive pour prendre en compte les modificateurs négatifs
  packages/game-engine/TESTS.md
  packages/game-engine/package.json
  packages/game-engine/src/index.ts
  packages/game-engine/src/movement.test.ts
  packages/game-engine/vitest.config.ts
  pnpm-lock.yaml
  turbo.json
Labels: game-engine

feat: ajouter la fonction calculateDodgeModifiers pour gérer les malus d'esquive en fonction des adversaires adjacents et mettre à jour les tests associés
  packages/game-engine/TESTS.md
  packages/game-engine/src/index.ts
  packages/game-engine/src/movement.test.ts
Labels: game-engine

feat: ajouter un fichier de documentation sur les positions des joueurs de test et mettre à jour les coordonnées des joueurs pour des tests plus réalistes près de la Line of Scrimmage
  packages/game-engine/POSITIONS.md
  packages/game-engine/src/index.ts
Labels: game-engine

feat: ajouter la documentation complète de l'issue #31 sur les jets de désquive et les turnovers, incluant les objectifs atteints, les nouvelles fonctionnalités, et les tests réalisés
  ISSUE-31-COMPLETED.md
  TODO.md
Labels: none

feat: ajouter le système de ramassage de balle avec calcul des modificateurs et jets de dés, ainsi que des tests associés pour valider le comportement
  PICKUP-FEATURE.md
  apps/web/app/page.tsx
  packages/game-engine/TESTS.md
  packages/game-engine/src/index.ts
  packages/game-engine/src/movement.test.ts
  test-dice-rolls.js
Labels: game-engine, web

feat: implémenter un indicateur visuel de balle pour améliorer l'expérience utilisateur, avec gestion de la possession et tests associés
  BALL-INDICATOR-FEATURE.md
  packages/game-engine/src/index.ts
  packages/game-engine/src/movement.test.ts
  packages/ui/src/PixiBoard.tsx
Labels: packages-ui, game-engine

chore: ajouter le répertoire 'tmp/' au fichier .gitignore pour exclure les fichiers temporaires
  .gitignore
Labels: none

feat: mettre à jour la logique de fin de tour pour inclure les échecs de ramassage, améliorant ainsi la gestion des tours en fonction des résultats des dés
  apps/web/app/page.tsx
Labels: web

Ajout d'un fichier de regles txt
  data/rules.txt
Labels: none

feat: ajouter la logique de rebond de balle avec direction aléatoire et gestion des réceptions par les joueurs, incluant des tests pour valider le comportement
  packages/game-engine/src/index.ts
  packages/game-engine/src/movement.test.ts
Labels: game-engine

feat: ajouter la gestion du rebond de balle lors des échecs d'esquive, avec des tests pour valider le comportement des joueurs et du ballon
  packages/game-engine/src/index.ts
  packages/game-engine/src/movement.test.ts
  test-dodge-bounce.js
Labels: game-engine

feat: mettre à jour la logique de changement de tour pour que le porteur de ballon conserve le ballon, avec des tests pour valider ce comportement
  packages/game-engine/src/index.ts
  packages/game-engine/src/movement.test.ts
Labels: game-engine

feat: ajouter la gestion des jets d'armure après un échec d'esquive, avec des tests pour valider le comportement des joueurs et des résultats de dés
  packages/game-engine/src/index.ts
  packages/game-engine/src/movement.test.ts
Labels: game-engine

feat: ajouter l'affichage des états du joueur, incluant le statut, la possession du ballon et les points de mouvement
  packages/ui/src/PlayerDetails.tsx
  test-player-states.html
Labels: packages-ui

feat: ajouter un tableau de bord de jeu pour afficher le score, la mi-temps et l'équipe active, améliorant ainsi l'interface utilisateur
  apps/web/app/page.tsx
  packages/game-engine/src/index.ts
  packages/ui/src/GameScoreboard.tsx
  packages/ui/src/index.tsx
Labels: packages-ui, game-engine, web

feat: ajouter un système de journal de match pour enregistrer les actions, les résultats de dés et les événements clés, améliorant ainsi le suivi du jeu
  apps/web/app/page.tsx
  packages/game-engine/src/index.ts
  packages/ui/src/GameLog.tsx
  packages/ui/src/index.tsx
Labels: packages-ui, game-engine, web

feat: mettre à jour l'affichage des joueurs pour inclure un état sonné, modifiant les couleurs et les styles en conséquence
  packages/ui/src/PixiBoard.tsx
Labels: packages-ui

feat: mettre à jour la logique des jets d'armure pour refléter correctement les règles de Blood Bowl, avec des tests ajustés pour valider le comportement des résultats de dés
  packages/game-engine/src/index.ts
  packages/game-engine/src/movement.test.ts
Labels: game-engine

feat: améliorer la logique de mouvement des joueurs pour permettre la continuation après un rebond, et ajouter des tests pour valider le ramassage de ballon et le marquage des joueurs sonnés
  packages/game-engine/src/index.ts
  packages/game-engine/src/movement.test.ts
Labels: game-engine

feat: ajouter un fichier de règles pour Blood Bowl, décrivant le respect des règles du jeu et l'importance des tests pour chaque fonctionnalité implémentée
  .cursor/rules/rules.mdc
Labels: none
