Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

chore(release): 1.157.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  777cbe46395454b937fdc41306ea9e0d7c66bd17
Labels: none

fix(nfl-fantasy): filtre Position par roster.ruleset au lieu de ruleset direct
  apps/server/src/services/nfl-fantasy-skill-unlock.ts
Labels: server

feat(nfl-fantasy): vue detail matchup avec breakdown SPP par joueur
  apps/server/src/routes/nfl-fantasy-leagues.ts
  apps/server/src/services/nfl-fantasy-matchup-detail.test.ts
  apps/server/src/services/nfl-fantasy-matchup-detail.ts
  apps/server/src/utils/nfl-error-mapper.ts
Labels: server

feat(nfl-fantasy): page detail matchup mobile-first
  apps/web/app/nfl-fantasy/leagues/[id]/matchups/[matchupId]/page.tsx
  apps/web/app/nfl-fantasy/leagues/[id]/matchups/page.tsx
Labels: web

chore(release): 1.158.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  9549523c6b6b053136ecfa68dd95cc4d809f26fc
Labels: none

feat(nfl-fantasy): expose rawStats nflverse dans MatchupDetailView
  apps/server/src/services/nfl-fantasy-matchup-detail.test.ts
  apps/server/src/services/nfl-fantasy-matchup-detail.ts
Labels: server

feat(nfl-fantasy): page de regles statique /nfl-fantasy/rules
  apps/web/app/nfl-fantasy/layout.tsx
  apps/web/app/nfl-fantasy/rules/page.tsx
Labels: web

feat(nfl-fantasy): toggle stats NFL brutes par joueur sur le detail matchup
  apps/web/app/nfl-fantasy/leagues/[id]/matchups/[matchupId]/page.tsx
Labels: web

chore(release): 1.159.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  e3170117d3ada94564d27163645fffdeaf93c2bf
Labels: none

feat(nfl-fantasy): carry-over lineup W{n-1} -> W{n}
  apps/server/src/routes/nfl-fantasy-entries.ts
  apps/server/src/services/nfl-fantasy-lineup-carryover.test.ts
  apps/server/src/services/nfl-fantasy-lineup-carryover.ts
  apps/server/src/services/nfl-fantasy-lineup.ts
  apps/server/src/utils/nfl-error-mapper.ts
Labels: server

fix(nfl-fantasy): merge skillsUnlocked de la carriere dans le scoring
  apps/server/src/services/nfl-fantasy-scoring.test.ts
  apps/server/src/services/nfl-fantasy-scoring.ts
Labels: server

feat(nfl-fantasy): UI carry-over avec banniere et bouton
  apps/web/app/lib/api-client.ts
  apps/web/app/nfl-fantasy/leagues/[id]/lineup/page.tsx
Labels: web

chore(release): 1.160.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  a83d6226ba538a758518a528f5c3cfaadd3c0997
Labels: none

feat(nfl-fantasy): expanded skill bonus catalog 9 -> 47 skills
  apps/server/src/services/nfl-fantasy-skill-bonus.test.ts
  apps/server/src/services/nfl-fantasy-skill-bonus.ts
Labels: server

feat(nfl-fantasy): expose catalogue effets via API publique + enriched AvailableSkill
  apps/server/src/index.ts
  apps/server/src/routes/nfl-fantasy-public.ts
  apps/server/src/services/nfl-fantasy-skill-unlock.ts
Labels: server

feat(nfl-fantasy): UI carriere filtre+detaille skills + page regles 47 skills
  apps/web/app/nfl-fantasy/leagues/[id]/career/[playerId]/page.tsx
  apps/web/app/nfl-fantasy/rules/page.tsx
Labels: web

chore(release): 1.161.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  36fb5eb0b936f8618a6d70c2b5dc103c368b325b
Labels: none

feat(feature-flags): bouton admin pour synchroniser les flags du code vers la BDD
  apps/server/src/routes/feature-flags.ts
  apps/server/src/services/featureFlags.test.ts
  apps/server/src/services/featureFlags.ts
  apps/web/app/admin/feature-flags/page.tsx
  apps/web/app/lib/featureFlags.ts
Labels: web, server

chore(release): 1.162.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  9ffd5c6a6b034c011b1324e5f572a5a7a1244c3e
Labels: none

feat(nfl-fantasy): caps de composition de lineup par style de jeu
  apps/server/src/routes/nfl-fantasy-entries.ts
  apps/server/src/scripts/nfl-fantasy-composition-report.ts
  apps/server/src/services/nfl-fantasy-lineup.test.ts
  apps/server/src/services/nfl-fantasy-lineup.ts
  apps/server/src/utils/nfl-error-mapper.ts
  packages/nfl-mapper/src/archetype.test.ts
  packages/nfl-mapper/src/index.ts
  packages/nfl-mapper/src/lineup-composition.test.ts
  packages/nfl-mapper/src/lineup-composition.ts
  packages/nfl-mapper/src/position-to-bb.ts
  prisma/schema.prisma
Labels: server

feat(nfl-fantasy): caps de composition de lineup par style de jeu
  apps/server/src/routes/nfl-fantasy-entries.ts
  apps/server/src/scripts/nfl-fantasy-composition-report.ts
  apps/server/src/services/nfl-fantasy-lineup.test.ts
  apps/server/src/services/nfl-fantasy-lineup.ts
  apps/server/src/utils/nfl-error-mapper.ts
  packages/nfl-mapper/src/archetype.test.ts
  packages/nfl-mapper/src/index.ts
  packages/nfl-mapper/src/lineup-composition.test.ts
  packages/nfl-mapper/src/lineup-composition.ts
  packages/nfl-mapper/src/position-to-bb.ts
  prisma/schema.prisma
Labels: server

feat(nfl-fantasy): UI mobile-first du style de jeu sur le lineup builder
  apps/web/app/nfl-fantasy/leagues/[id]/lineup/PlayStyleSelector.test.tsx
  apps/web/app/nfl-fantasy/leagues/[id]/lineup/PlayStyleSelector.tsx
  apps/web/app/nfl-fantasy/leagues/[id]/lineup/page.tsx
  apps/web/app/nfl-fantasy/types.ts
  apps/web/next.config.mjs
  apps/web/vitest.config.ts
Labels: web

feat(nfl-fantasy): style de jeu (presets de composition) + UI mobile-first du lineup (#884)
  apps/server/src/routes/nfl-fantasy-entries.ts
  apps/server/src/scripts/nfl-fantasy-composition-report.ts
  apps/server/src/services/nfl-fantasy-lineup.test.ts
  apps/server/src/services/nfl-fantasy-lineup.ts
  apps/server/src/utils/nfl-error-mapper.ts
  apps/web/app/nfl-fantasy/leagues/[id]/lineup/PlayStyleSelector.test.tsx
  apps/web/app/nfl-fantasy/leagues/[id]/lineup/PlayStyleSelector.tsx
  apps/web/app/nfl-fantasy/leagues/[id]/lineup/page.tsx
  apps/web/app/nfl-fantasy/types.ts
  apps/web/next.config.mjs
  apps/web/vitest.config.ts
  packages/nfl-mapper/src/archetype.test.ts
  packages/nfl-mapper/src/index.ts
  packages/nfl-mapper/src/lineup-composition.test.ts
  packages/nfl-mapper/src/lineup-composition.ts
  packages/nfl-mapper/src/position-to-bb.ts
  prisma/schema.prisma
Labels: web, server

feat(nfl-fantasy): garde-fous transitions championnat (roster min + retour draft)
  apps/server/src/routes/nfl-fantasy-leagues.ts
  apps/server/src/services/nfl-fantasy-draft.test.ts
  apps/server/src/services/nfl-fantasy-draft.ts
  apps/server/src/utils/nfl-error-mapper.test.ts
  apps/server/src/utils/nfl-error-mapper.ts
  apps/web/app/nfl-fantasy/leagues/[id]/TestModeControlPanel.tsx
Labels: web, server

feat(nfl-fantasy): garde-fous transitions championnat (roster min + retour draft) (#885)
  apps/server/src/routes/nfl-fantasy-leagues.ts
  apps/server/src/services/nfl-fantasy-draft.test.ts
  apps/server/src/services/nfl-fantasy-draft.ts
  apps/server/src/utils/nfl-error-mapper.test.ts
  apps/server/src/utils/nfl-error-mapper.ts
  apps/web/app/nfl-fantasy/leagues/[id]/TestModeControlPanel.tsx
Labels: web, server

fix(web): align league API paths to /leagues plural
  apps/web/app/leagues/[id]/JoinSeasonModal.tsx
  apps/web/app/leagues/[id]/NewSeasonModal.tsx
  apps/web/app/leagues/[id]/PlayoffBracketView.tsx
  apps/web/app/leagues/[id]/SeasonAdminPanel.tsx
  apps/web/app/leagues/[id]/SeasonCalendar.tsx
  apps/web/app/leagues/[id]/page.test.tsx
  apps/web/app/leagues/[id]/page.tsx
  apps/web/app/leagues/[id]/seasons/[sid]/recap/page.tsx
  apps/web/app/leagues/archived/page.tsx
  apps/web/app/leagues/new/page.tsx
  apps/web/app/leagues/page.test.tsx
  apps/web/app/leagues/page.tsx
  apps/web/app/leagues/seasons/page.test.tsx
  apps/web/app/leagues/seasons/page.tsx
Labels: web

fix(web): point orb fallback API base to nuffle-arena domain
  apps/web/app/auth-client.ts
Labels: web

docs: document league API path /league -> /leagues fix
  docs/league-api-path-fix-2026-06-01.md
Labels: none

chore(release): 1.163.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  2f68f285b2b16cc4c63e35a67959a6c812a2e9f1
Labels: none

feat(pro-league): interrupteur de freeze cote serveur (PRO_LEAGUE_ENABLED)
  apps/server/src/index.ts
Labels: server

feat(pro-league): freeze cote web (redirect layout + lien onboarding)
  apps/web/app/me/teams/_components/OnboardingModal.tsx
  apps/web/app/pro-league/layout.tsx
Labels: web

chore(pro-league): PRO_LEAGUE_ENABLED=false en compose (gel actif)
  docker-compose.prod.yml
  docker-compose.yml
Labels: none

docs(pro-league): note de freeze 2026-06-01
  docs/pro-league-freeze-2026-06-01.md
Labels: none

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
