Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"

feat(roster): add special rules and keywords display in team management
  apps/server/src/utils/roster-helpers.test.ts
  apps/server/src/utils/roster-helpers.ts
  apps/web/app/admin/data/rosters/[id]/page.tsx
  apps/web/app/components/KeywordChips.tsx
  apps/web/app/components/SpecialRulesBadges.tsx
  apps/web/app/me/teams/[id]/edit/page.tsx
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/me/teams/[id]/roster-skill-access.test.ts
  apps/web/app/me/teams/[id]/roster-skill-access.ts
  apps/web/app/me/teams/components/SkillTooltip.test.tsx
  apps/web/app/me/teams/components/SkillTooltip.tsx
  apps/web/app/me/teams/new/page.tsx
  apps/web/app/teams/[slug]/TeamDetailClient.tsx
  docs/team-special-rules-and-skill-display-2026-06-26.md
  packages/game-engine/src/rosters/positions.ts
  packages/game-engine/src/rosters/season3-reference-data.ts
  packages/game-engine/src/rosters/season3-rosters.ts
  packages/game-engine/src/rosters/team-special-rules-assignment.test.ts
  packages/game-engine/src/rosters/validate-season3-rules.test.ts
Labels: game-engine, web, server

fix(builder): rosters via proxy ISR tagge (revalidation a la demande)
  apps/web/app/api/builder-rosters/route.ts
  apps/web/app/me/teams/new/page.tsx
Labels: web

fix(teams): la section Staff lit la config staff en BDD (et non les defauts moteur)
  apps/web/app/teams/[slug]/TeamDetailClient.tsx
Labels: web

chore(release): 1.193.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  747a1f8f325b687599d81480bfe0dba1891bc554
Labels: none

docs(openspec): change pages Ligues régionales + maillage compétence→positions
  openspec/changes/add-regional-league-pages-and-skill-links/proposal.md
  openspec/changes/add-regional-league-pages-and-skill-links/specs/regional-league-pages/spec.md
  openspec/changes/add-regional-league-pages-and-skill-links/specs/skill-position-links/spec.md
  openspec/changes/add-regional-league-pages-and-skill-links/tasks.md
Labels: none

feat(game-engine): index inverse Ligue régionale → rosters
  packages/game-engine/src/rosters/index.ts
  packages/game-engine/src/rosters/regional-league-rosters.test.ts
  packages/game-engine/src/rosters/regional-league-rosters.ts
Labels: game-engine

feat(skills): bloc « Positions avec cette compétence » sur /skills/[slug]
  apps/web/app/skills/[slug]/page.tsx
  apps/web/app/skills/positions-with-skill.test.ts
  apps/web/app/skills/positions-with-skill.ts
Labels: web

feat(ligues): pages publiques des Ligues régionales + maillage interne
  apps/web/app/components/Header.tsx
  apps/web/app/ligues/[slug]/page.tsx
  apps/web/app/ligues/data.test.ts
  apps/web/app/ligues/data.ts
  apps/web/app/ligues/ligues-structured-data.test.ts
  apps/web/app/ligues/ligues-structured-data.ts
  apps/web/app/ligues/page.tsx
  apps/web/app/teams/[slug]/TeamDetailClient.tsx
Labels: web

chore(release): 1.194.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  23449985c3b15e5341a69d3a926498f01e667fda
Labels: none

docs(roadmap): point de suivi ligue FR1-FR18 (audit + plan)
  docs/roadmap/league-feature-status-2026-06-26.md
Labels: none

feat(sync-rosters): synchronise aussi les règles spéciales d_équipe depuis le code
  apps/server/src/routes/admin-utilities.ts
  apps/server/src/seeders/sync-rosters.test.ts
  apps/server/src/seeders/sync-rosters.ts
  apps/web/app/admin/utilities/page.tsx
Labels: web, server

feat(admin): règles spéciales en sélection multiple (cases à cocher)
  apps/web/app/admin/data/rosters/[id]/edit/page.tsx
Labels: web

feat(ligues): UI gestion des poules, PO, édition commissaire & stats (FR1-3,5,6,12,18)
  apps/server/src/routes/league.ts
  apps/server/src/services/commissioner-team-edit.test.ts
  apps/server/src/services/commissioner-team-edit.ts
  apps/server/src/services/league-player-stats.test.ts
  apps/server/src/services/league-player-stats.ts
  apps/web/app/leagues/[id]/CommissionerTeamEditor.tsx
  apps/web/app/leagues/[id]/PlayoffBracketView.seeds.test.ts
  apps/web/app/leagues/[id]/PlayoffBracketView.tsx
  apps/web/app/leagues/[id]/PoolsManagerPanel.tsx
  apps/web/app/leagues/[id]/SeasonCalendar.pools.test.ts
  apps/web/app/leagues/[id]/SeasonCalendar.tsx
  apps/web/app/leagues/[id]/SeasonParticipants.tsx
  apps/web/app/leagues/[id]/page.tsx
  apps/web/app/leagues/[id]/seasons/[sid]/leaderboards/page.tsx
  apps/web/app/leagues/[id]/types.ts
Labels: web, server

chore(release): 1.195.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  c9c80e36ae12eab3f2bd0bee29db6955d077e509
Labels: none

feat(ligues): saisie manuelle du calendrier par le commissaire (FR4)
  apps/web/app/leagues/[id]/ManualScheduleEditor.test.ts
  apps/web/app/leagues/[id]/ManualScheduleEditor.tsx
  apps/web/app/leagues/[id]/page.tsx
Labels: web

chore(release): 1.196.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  00413818a224f8a711f4b24e955f7e22a12dcc45
Labels: none

feat(ligues): stats Catapulte + sac de frappe sur events (FR18)
  apps/server/src/schemas/league-match-sheet.schemas.ts
  apps/server/src/services/league-match-summary.ts
  apps/server/src/services/league-player-stats.test.ts
  apps/server/src/services/league-player-stats.ts
  apps/web/app/leagues/[id]/seasons/[sid]/leaderboards/page.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
Labels: web, server

chore(release): 1.197.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  0f731e926b1fa5f28fc5a8f8582343bea31e8af3
Labels: none

feat(ligues): bonus de coups de pouce +50k pour l'équipe la plus faible (FR14)
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  packages/game-engine/src/core/inducements.test.ts
  packages/game-engine/src/core/inducements.ts
Labels: game-engine, server

chore(release): 1.198.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  61e7d757c544c558bd571bb2cb502629255d2948
Labels: none

feat(ligues): coups de pouce paramétrables au niveau ligue (FR17)
  apps/server/src/routes/league.ts
  apps/server/src/schemas/league.schemas.ts
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league.ts
  apps/web/app/leagues/[id]/edit/page.tsx
  apps/web/app/leagues/[id]/types.ts
  apps/web/app/leagues/_components/LeagueForm.tsx
  apps/web/app/leagues/new/page.tsx
  prisma/migrations/20260626130000_add_league_allowed_inducements/migration.sql
  prisma/schema.prisma
Labels: web, server

chore(release): 1.199.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  5347507699aa94540529e9af61aaddb40cdc92b1
Labels: none

docs(roadmap): FR4/14/16/17/18 livrés — point de suivi ligue à jour
  docs/roadmap/league-feature-status-2026-06-26.md
Labels: none

feat(ligues): enable mecene feature explicitly for league seasons
  tests/e2e-api/specs/leagues-mecene.spec.ts
Labels: none

chore(release): 1.200.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  68e25da2031ef8c8add8766b342a949cc19d0848
Labels: none

feat(ligues): enforcement à la soumission des coups de pouce autorisés (FR17)
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
Labels: server

chore(release): 1.201.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  8307ad1dca416304f96465dcfa5efc5fcf7d9431
Labels: none

feat(ligues): stats joueurs en scope par-saison via les events (FR18)
  apps/server/src/services/league-player-stats.test.ts
  apps/server/src/services/league-player-stats.ts
  apps/web/app/leagues/[id]/seasons/[sid]/leaderboards/page.tsx
Labels: web, server

docs(roadmap): FR17 enforcement + FR18 scope saison livrés
  docs/roadmap/league-feature-status-2026-06-26.md
Labels: none

chore(release): 1.202.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  844814f5bb3655ec426065a20b1a3dd654804435
Labels: none
