Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"

feat(web): add sonner toast system with global Toaster provider
  apps/web/app/components/ClientLayout.tsx
  apps/web/package.json
  pnpm-lock.yaml
Labels: web

feat(web): add loading feedback and toast on team creation
  apps/web/app/i18n/translations.ts
  apps/web/app/me/teams/new/page.tsx
Labels: web

perf(web): parallelize team edit fetches and add mutation toasts
  apps/web/app/me/teams/[id]/edit/page.tsx
Labels: web

perf(web): parallelize /me/teams fetches and add skeleton loader
  apps/web/app/me/teams/page.tsx
Labels: web

perf(web): convert /teams list page to Server Component with ISR
  apps/web/app/lib/serverApi.ts
  apps/web/app/teams/TeamsListClient.tsx
  apps/web/app/teams/page.tsx
Labels: web

perf(web): convert /teams/[slug] detail page to Server Component with ISR
  apps/web/app/teams/[slug]/TeamDetailClient.tsx
  apps/web/app/teams/[slug]/layout.tsx
  apps/web/app/teams/[slug]/page.tsx
Labels: web

perf(web): convert /skills page to Server Component with ISR
  apps/web/app/skills/SkillsClient.tsx
  apps/web/app/skills/page.tsx
Labels: web

perf(db): add indexes on Team.ownerId and TeamPlayer.teamId
  prisma/schema.prisma
Labels: none

perf(server): enable gzip compression on all HTTP responses
  apps/server/package.json
  apps/server/src/index.ts
  pnpm-lock.yaml
Labels: server

perf(server): add HTTP Cache-Control on public reference endpoints
  apps/server/src/index.ts
  apps/server/src/middleware/publicCache.ts
  apps/server/src/routes/public-positions.ts
  apps/server/src/routes/public-rosters.ts
  apps/server/src/routes/public-skills.ts
Labels: server

perf(server): in-process cache for roster lookups (5 min TTL)
  apps/server/src/utils/roster-helpers.ts
Labels: server

perf(server): batch PUT /team/:id writes into one transaction
  apps/server/src/routes/team.ts
  apps/server/src/utils/roster-helpers.ts
Labels: server

feat(server): log request method, status and duration
  apps/server/src/index.ts
  apps/server/src/middleware/requestTiming.ts
Labels: server

perf(web): lazy-load GameBoardWithDugouts (Pixi.js) on /play
  apps/web/app/play/[id]/page.tsx
Labels: web

Mark Phase C matchmaking tasks as complete (#289)
  docs/roadmap/phases.md
Labels: none

feat(mobile): M.2 ecran queue matchmaking
  TODO.md
  apps/mobile/app/_layout.tsx
  apps/mobile/app/lobby.tsx
  apps/mobile/app/matchmaking.styles.ts
  apps/mobile/app/matchmaking.tsx
  apps/mobile/lib/api.ts
  apps/mobile/lib/matchmaking.test.ts
  apps/mobile/lib/matchmaking.ts
Labels: mobile

feat(mobile): M.2 écran queue matchmaking (#290)
  TODO.md
  apps/mobile/app/_layout.tsx
  apps/mobile/app/lobby.tsx
  apps/mobile/app/matchmaking.styles.ts
  apps/mobile/app/matchmaking.tsx
  apps/mobile/lib/api.ts
  apps/mobile/lib/matchmaking.test.ts
  apps/mobile/lib/matchmaking.ts
Labels: mobile

Migrate public pages to SSR/ISR with client components (#288)
  apps/server/package.json
  apps/server/src/index.ts
  apps/server/src/middleware/publicCache.ts
  apps/server/src/middleware/requestTiming.ts
  apps/server/src/routes/public-positions.ts
  apps/server/src/routes/public-rosters.ts
  apps/server/src/routes/public-skills.ts
  apps/server/src/routes/team.ts
  apps/server/src/utils/roster-helpers.ts
  apps/web/app/components/ClientLayout.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/lib/serverApi.ts
  apps/web/app/me/teams/[id]/edit/page.tsx
  apps/web/app/me/teams/new/page.tsx
  apps/web/app/me/teams/page.tsx
  apps/web/app/play/[id]/page.tsx
  apps/web/app/skills/SkillsClient.tsx
  apps/web/app/skills/page.tsx
  apps/web/app/teams/TeamsListClient.tsx
  apps/web/app/teams/[slug]/TeamDetailClient.tsx
  apps/web/app/teams/[slug]/layout.tsx
  apps/web/app/teams/[slug]/page.tsx
  apps/web/app/teams/page.tsx
  apps/web/package.json
  pnpm-lock.yaml
  prisma/schema.prisma
Labels: web, server

feat(mobile): M.3 integration WebSocket complete
  TODO.md
  apps/mobile/app/play/[id].tsx
  apps/mobile/lib/game-socket.test.ts
  apps/mobile/lib/game-socket.ts
  apps/mobile/lib/use-game-socket.ts
  apps/mobile/package.json
  pnpm-lock.yaml
Labels: mobile

feat(mobile): M.3 integration WebSocket complete (#291)
  TODO.md
  apps/mobile/app/play/[id].tsx
  apps/mobile/lib/game-socket.test.ts
  apps/mobile/lib/game-socket.ts
  apps/mobile/lib/use-game-socket.ts
  apps/mobile/package.json
  pnpm-lock.yaml
Labels: mobile

feat(mobile): M.4 popups natifs Block/Push/FollowUp/Reroll
  TODO.md
  apps/mobile/app/play/[id].tsx
  apps/mobile/components/popups/BlockChoicePopup.tsx
  apps/mobile/components/popups/FollowUpChoicePopup.tsx
  apps/mobile/components/popups/MatchPopups.tsx
  apps/mobile/components/popups/PushChoicePopup.tsx
  apps/mobile/components/popups/RerollChoicePopup.tsx
  apps/mobile/lib/block-popups.test.ts
  apps/mobile/lib/block-popups.ts
Labels: mobile

feat(mobile): M.4 popups natifs Block/Push/FollowUp/Reroll (#292)
  TODO.md
  apps/mobile/app/play/[id].tsx
  apps/mobile/components/popups/BlockChoicePopup.tsx
  apps/mobile/components/popups/FollowUpChoicePopup.tsx
  apps/mobile/components/popups/MatchPopups.tsx
  apps/mobile/components/popups/PushChoicePopup.tsx
  apps/mobile/components/popups/RerollChoicePopup.tsx
  apps/mobile/lib/block-popups.test.ts
  apps/mobile/lib/block-popups.ts
Labels: mobile

fix(web): handle SSR fetch network errors on /skills and /teams
  apps/web/app/lib/serverApi.test.ts
  apps/web/app/lib/serverApi.ts
  apps/web/app/skills/page.tsx
  apps/web/app/teams/[slug]/layout.tsx
  apps/web/app/teams/[slug]/page.tsx
  apps/web/app/teams/page.tsx
Labels: web

feat(mobile): M.5 chat in-game mobile
  TODO.md
  apps/mobile/app/play/[id].tsx
  apps/mobile/components/GameChat.styles.ts
  apps/mobile/components/GameChat.tsx
  apps/mobile/lib/game-chat.test.ts
  apps/mobile/lib/game-chat.ts
  apps/mobile/lib/use-game-chat.ts
Labels: mobile

feat(mobile): M.5 chat in-game mobile (#293)
  TODO.md
  apps/mobile/app/play/[id].tsx
  apps/mobile/components/GameChat.styles.ts
  apps/mobile/components/GameChat.tsx
  apps/mobile/lib/game-chat.test.ts
  apps/mobile/lib/game-chat.ts
  apps/mobile/lib/use-game-chat.ts
Labels: mobile

feat(mobile): M.6 ecran leaderboard
  TODO.md
  apps/mobile/app/_layout.tsx
  apps/mobile/app/leaderboard.tsx
  apps/mobile/app/lobby.tsx
  apps/mobile/lib/leaderboard.test.ts
  apps/mobile/lib/leaderboard.ts
Labels: mobile

feat(mobile): M.6 ecran leaderboard (#294)
  TODO.md
  apps/mobile/app/_layout.tsx
  apps/mobile/app/leaderboard.tsx
  apps/mobile/app/lobby.tsx
  apps/mobile/lib/leaderboard.test.ts
  apps/mobile/lib/leaderboard.ts
Labels: mobile

Add safeServerJson wrapper for resilient server-side API calls (#295)
  apps/web/app/lib/serverApi.test.ts
  apps/web/app/lib/serverApi.ts
  apps/web/app/skills/page.tsx
  apps/web/app/teams/[slug]/layout.tsx
  apps/web/app/teams/[slug]/page.tsx
  apps/web/app/teams/page.tsx
Labels: web

feat: ajoute un lien Discord dans le footer
  apps/web/app/components/Footer.tsx
  apps/web/app/i18n/translations.ts
Labels: web

feat(mobile): M.7 ecran replay de match
  TODO.md
  apps/mobile/app/_layout.tsx
  apps/mobile/app/lobby.tsx
  apps/mobile/app/replay/[id].tsx
  apps/mobile/lib/replay.test.ts
  apps/mobile/lib/replay.ts
Labels: mobile

feat(mobile): M.7 ecran replay de match (#296)
  TODO.md
  apps/mobile/app/_layout.tsx
  apps/mobile/app/lobby.tsx
  apps/mobile/app/replay/[id].tsx
  apps/mobile/lib/replay.test.ts
  apps/mobile/lib/replay.ts
Labels: mobile

feat: ajoute un lien Discord sur la page de maintenance
  maintenance/index.html
Labels: none

Add Discord community link to footer (#297)
  apps/web/app/components/Footer.tsx
  apps/web/app/i18n/translations.ts
  maintenance/index.html
Labels: web

Update Discord community link in documentation and components
  DEVELOPMENT.md
  apps/web/app/components/Footer.tsx
  maintenance/index.html
Labels: web

chore(release): 1.64.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  1a461d5367e9e75a83c7b8854b6b784133b75b8d
Labels: none

feat(deploy): notifie Discord lors des bascules maintenance
  scripts/deploy.sh
Labels: none

feat(deploy): liste les commits deployes dans la notif Discord
  scripts/deploy.sh
Labels: none

feat(deploy): charge .env.local pour recuperer DISCORD_WEBHOOK_URL
  scripts/deploy.sh
Labels: none

Add Discord webhook notifications to deployment script (#298)
  scripts/deploy.sh
Labels: none
