Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"

feat: implémenter la logique de touchdown, incluant la détection des touchdowns lors des mouvements et des ramassages dans l'en-but, ainsi que l'ajout de tests pour valider ces fonctionnalités
  packages/game-engine/src/index.ts
  packages/game-engine/src/movement.test.ts
  packages/ui/src/GameLog.tsx
  packages/ui/src/GameScoreboard.tsx
Labels: packages-ui, game-engine

feat: ajouter un fichier de règles techniques pour l'exécution des tests, précisant de ne pas utiliser le mode watch afin d'éviter les blocages lors de l'attente des résultats
  .cursor/rules/tech.mdc
Labels: none

feat: mettre à jour les zones de TOUCHDOWN pour les équipes A et B avec des motifs de damier spécifiques et des commentaires explicatifs
  packages/ui/src/PixiBoard.tsx
Labels: packages-ui

feat: ajuster la logique de touchdown pour les équipes A et B, en modifiant les coordonnées d'entrée dans l'en-but et en ajoutant des tests pour valider les nouvelles conditions de marquage
  packages/game-engine/src/blocking.test.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/movement.test.ts
Labels: game-engine

feat: ajouter la gestion de la fin de tour et de mi-temps, permettant de passer à la 2e mi-temps ou de terminer le match après 8 tours, avec des logs appropriés pour chaque événement
  packages/game-engine/src/index.ts
Labels: game-engine

feat: ajouter une popup de sélection d'action pour les joueurs, intégrant la vérification si le joueur a déjà agi, afin d'améliorer l'interaction utilisateur dans le jeu
  apps/web/app/page.tsx
  test-action-popup.html
Labels: web

feat: ajouter une popup de choix de direction de poussée, permettant à l'utilisateur de sélectionner une direction parmi plusieurs options disponibles, avec gestion de l'annulation du choix
  apps/web/app/page.tsx
  packages/ui/src/PushChoicePopup.tsx
  packages/ui/src/index.tsx
Labels: packages-ui, web

fix: corriger l'affichage des scores dans les tests en remplaçant les références aux scores par les propriétés appropriées teamA et teamB pour une meilleure clarté et précision des résultats finaux
  packages/game-engine/src/complete-game-scenario.test.ts
  packages/game-engine/src/full-game-simulation.test.ts
  packages/game-engine/src/stress-test.test.ts
Labels: game-engine

feat: ajouter un test pour reproduire un bug de continuation de mouvement après un blitz, incluant des vérifications des actions disponibles et de l'état des joueurs après le blitz
  packages/game-engine/src/blitz-continuation-bug.test.ts
  packages/game-engine/src/mechanics/blocking.ts
  tests/game-engine/blitz-continuation-bug.test.ts
Labels: game-engine

feat: ajouter des tests pour les bugs de continuation de mouvement et d'exactitude, et mettre à jour les vérifications de mouvement et de blocage pour inclure les conditions d'équipe
  packages/game-engine/src/blitz-continuation-fix.test.ts
  packages/game-engine/src/blitz-exact-bug.test.ts
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/mechanics/blocking.ts
Labels: game-engine

feat: ajouter un fichier de test pour le scénario utilisateur exact dans le moteur de jeu
  packages/game-engine/src/exact-user-scenario.test.ts
Labels: game-engine

feat: ajouter des fichiers de test pour le dugout et mettre à jour les dimensions des zones dans le moteur de jeu, ainsi que modifier le composant DugoutZone pour améliorer l'affichage des joueurs
  packages/game-engine/src/mechanics/dugout.ts
  packages/ui/src/components/DugoutZone.tsx
  test-dugout-final.html
  test-dugout-layout.html
Labels: packages-ui, game-engine

feat: ajouter un système d'authentification avec inscription et connexion, intégration de Prisma pour la gestion des utilisateurs, et mise à jour des dépendances pour le projet
  Dockerfile.server
  apps/server/package.json
  apps/server/src/index.ts
  apps/server/src/list-users.ts
  apps/server/src/middleware/authUser.ts
  apps/server/src/prisma.ts
  apps/server/src/routes/auth.ts
  apps/server/src/routes/match.ts
  apps/server/src/seed.ts
  apps/web/app/AuthBar.tsx
  apps/web/app/auth-client.ts
  apps/web/app/components/HowToPlay.tsx
  apps/web/app/components/ImageCarousel.tsx
  apps/web/app/layout.tsx
  apps/web/app/lobby/page.tsx
  apps/web/app/login/page.tsx
  apps/web/app/page.tsx
  apps/web/app/play/page.tsx
  apps/web/app/register/page.tsx
  apps/web/public/images/stadium_illustration.svg
  apps/web/public/images/trophy_banner.svg
  docker-compose.yml
  package.json
  pnpm-lock.yaml
  prisma/schema.prisma
  tests/integration/auth.test.ts
  tests/integration/package.json
Labels: web, server

feat: ajouter un système de gestion des administrateurs avec des routes pour les utilisateurs, les parties et les statistiques, ainsi qu'une interface utilisateur pour l'administration
  apps/server/src/index.ts
  apps/server/src/middleware/adminOnly.ts
  apps/server/src/routes/admin.ts
  apps/server/src/routes/auth.ts
  apps/web/app/AuthBar.tsx
  apps/web/app/admin/layout.tsx
  apps/web/app/admin/matches/page.tsx
  apps/web/app/admin/page.tsx
  apps/web/app/admin/users/page.tsx
Labels: web, server

feat: ajouter des routes utilisateur pour récupérer les parties en cours et mettre à jour la navigation après l'authentification
  apps/server/src/index.ts
  apps/server/src/routes/match.ts
  apps/server/src/routes/user.ts
  apps/web/app/AuthBar.tsx
  apps/web/app/login/page.tsx
  apps/web/app/me/page.tsx
  apps/web/app/register/page.tsx
Labels: web, server

feat: ajouter un constructeur d'équipe permettant aux utilisateurs de sélectionner un roster, de définir les joueurs et de créer une équipe avec validation des coûts et des limites de joueurs
  apps/server/src/routes/team.ts
  apps/web/app/me/teams/new/page.tsx
  apps/web/app/me/teams/page.tsx
Labels: web, server

feat: ajouter la gestion des matchs avec acceptation et démarrage, ainsi que des tests d'intégration pour valider le comportement des matchs et des utilisateurs
  apps/server/package.json
  apps/server/prisma/sqlite/memdb1
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/client.d.ts
  apps/server/src/prisma-sqlite-client/client.js
  apps/server/src/prisma-sqlite-client/default.d.ts
  apps/server/src/prisma-sqlite-client/default.js
  apps/server/src/prisma-sqlite-client/edge.d.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/query_engine_bg.js
  apps/server/src/prisma-sqlite-client/query_engine_bg.wasm
  apps/server/src/prisma-sqlite-client/runtime/edge-esm.js
  apps/server/src/prisma-sqlite-client/runtime/edge.js
  apps/server/src/prisma-sqlite-client/runtime/index-browser.d.ts
  apps/server/src/prisma-sqlite-client/runtime/index-browser.js
  apps/server/src/prisma-sqlite-client/runtime/library.d.ts
  apps/server/src/prisma-sqlite-client/runtime/library.js
  apps/server/src/prisma-sqlite-client/runtime/react-native.js
  apps/server/src/prisma-sqlite-client/runtime/wasm-compiler-edge.js
  apps/server/src/prisma-sqlite-client/runtime/wasm-engine-edge.js
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm-edge-light-loader.mjs
  apps/server/src/prisma-sqlite-client/wasm-worker-loader.mjs
  apps/server/src/prisma-sqlite-client/wasm.d.ts
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/prisma.ts
  apps/server/src/routes/match.ts
  apps/server/src/services/match-start.ts
  tests/integration/auth.test.ts
  tests/integration/match-start.test.ts
  tests/integration/match-start.unit.test.ts
  tests/integration/package.json
  tests/integration/vitest.config.ts
Labels: server

feat: ajouter des endpoints de réinitialisation de la base de données pour les tests, ainsi qu'un fichier de configuration de setup pour gérer le serveur de test
  apps/server/src/index.ts
  apps/server/src/routes/admin.ts
  tests/integration/auth.test.ts
  tests/integration/match-start.test.ts
  tests/integration/setup.ts
  tests/integration/vitest.config.ts
Labels: server

feat: ajouter des fichiers de test pour l'API et améliorer la logique de démarrage de match en phase pré-match, incluant la récupération des données des équipes et la gestion des joueurs en réserves.
  apps/server/src/services/match-start.ts
  apps/web/app/auth-client.ts
  apps/web/app/dugout-demo/page.tsx
  apps/web/app/lobby/page.tsx
  apps/web/app/login/page.tsx
  packages/game-engine/src/core/game-state.test.ts
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/index.ts
  test-api.html
  test-login.html
  tests/integration/match-start.unit.test.ts
Labels: game-engine, web, server

feat: ajouter un fichier de test pour le tri des joueurs et mettre à jour le tri des joueurs dans les pages de détails et d'édition des équipes pour un affichage ordonné par numéro.
  apps/web/app/me/teams/[id]/edit/page.tsx
  apps/web/app/me/teams/[id]/page.tsx
  test-player-sorting.js
Labels: web

fix: ajuster la largeur de la colonne "Nom" et améliorer le style des champs de saisie pour une meilleure expérience utilisateur dans la page d'édition des équipes.
  apps/web/app/me/teams/[id]/edit/page.tsx
Labels: web

feat: implémentation complète du système de Star Players
  STAR-PLAYERS-COMPLETE.md
  STAR-PLAYERS-FINAL-SUMMARY.md
  STAR-PLAYERS-IMPLEMENTATION.md
  STAR-PLAYERS-MIGRATION-GUIDE.md
  STAR-PLAYERS-QUICK-COMMANDS.md
  STAR-PLAYERS-QUICKSTART.md
  STAR-PLAYERS-README.md
  STAR-PLAYERS-TEAM-INTEGRATION.md
  apps/server/src/index.ts
  apps/server/src/routes/star-players.ts
  apps/server/src/routes/team.ts
  apps/server/src/utils/star-player-validation.ts
  apps/web/app/components/StarPlayerCard.tsx
  apps/web/app/components/TeamStarPlayersManager.tsx
  apps/web/app/star-players/page.tsx
  packages/game-engine/src/rosters/index.js
  packages/game-engine/src/rosters/index.ts
  packages/game-engine/src/rosters/star-players.js
  packages/game-engine/src/rosters/star-players.test.js
  packages/game-engine/src/rosters/star-players.test.ts
  packages/game-engine/src/rosters/star-players.ts
  prisma/schema.prisma
  test-star-players-api.js
Labels: game-engine, web, server

feat: Intégration des Star Players dans la création et modification d'équipes
  STAR-PLAYERS-INTEGRATION-COMPLETE.md
  STAR-PLAYERS-TEAM-CREATION.md
  apps/server/src/routes/team.ts
  test-create-team-with-star-players.js
Labels: server

feat: Intégration frontend des Star Players dans la création d'équipe
  STAR-PLAYERS-FRONTEND-INTEGRATION.md
  apps/web/app/components/StarPlayerSelector.tsx
  apps/web/app/me/teams/new/page.tsx
Labels: web

docs: Ajout du guide de test complet pour l'intégration des Star Players
  STAR-PLAYERS-TESTING-GUIDE.md
Labels: none

docs: Récapitulatif final complet de l'intégration des Star Players
  STAR-PLAYERS-FINAL-SUMMARY.md
Labels: none

fix: Correction de la réponse API star-players/available
  apps/server/src/routes/star-players.ts
Labels: server

feat: Ajout de 15 nouveaux Star Players et pages de visualisation
  GUIDE_IMAGES_STAR_PLAYERS.md
  UPDATE_STAR_PLAYERS_GUIDE.md
  apps/web/app/star-players/[slug]/page.tsx
  apps/web/public/images/star-players/README.md
  packages/game-engine/src/rosters/star-players.js
  packages/game-engine/src/rosters/star-players.ts
Labels: game-engine, web

feat: Ajout de 27 nouveaux Star Players - Liste complète de 67 joueurs
  STAR-PLAYERS-COMPLETE-LIST.md
  STAR-PLAYERS-UPDATE-SUMMARY.md
  packages/game-engine/src/rosters/star-players.js
  packages/game-engine/src/rosters/star-players.test.js
  packages/game-engine/src/rosters/star-players.test.ts
  packages/game-engine/src/rosters/star-players.ts
Labels: game-engine

feat: Ajout d'un lien Star Players dans le header
  apps/web/app/layout.tsx
Labels: web

fix: Correction de l'URL de l'API pour les Star Players
  apps/web/app/components/TeamStarPlayersManager.tsx
  apps/web/app/star-players/[slug]/page.tsx
  apps/web/app/star-players/page.tsx
Labels: web

feat: Ajout des tooltips des compétences pour les Star Players
  apps/web/app/components/SkillTooltip.tsx
  apps/web/app/star-players/[slug]/page.tsx
Labels: web

✨ Centralisation de la gestion des compétences des Star Players
  STAR-PLAYERS-SKILLS-CENTRALIZATION.md
  apps/web/app/components/StarPlayerCard.tsx
  apps/web/app/me/teams/skills-data.ts
  apps/web/app/star-players/[slug]/page.tsx
  packages/game-engine/src/rosters/index.js
  packages/game-engine/src/rosters/index.ts
  packages/game-engine/src/rosters/star-players-utils.js
  packages/game-engine/src/rosters/star-players-utils.ts
  packages/game-engine/src/rosters/star-players.js
  packages/game-engine/src/rosters/star-players.ts
  packages/game-engine/src/skills/index.js
  packages/game-engine/src/skills/index.ts
Labels: game-engine, web

🏈 Amélioration du seed : équipe Skaven réaliste
  apps/server/src/seed.ts
Labels: server

💰 Ajout du budget initial de 1000K po dans le seed
  apps/server/src/seed.ts
Labels: server

PDF export: compétences FR, labels complets, tableau infos compact, coûts détaillés corrects, nom du coach
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/me/teams/utils/exportPDF.ts
Labels: web

fix: consolider les imports de @bb/game-engine pour corriger l'erreur getPositionCategoryAccess
  apps/web/app/me/teams/[id]/edit/page.tsx
Labels: web

feat: refonte graphique de la modal d'ajout de compétence
  apps/web/app/me/teams/[id]/edit/page.tsx
Labels: web

feat: implémentation de la sélection aléatoire de compétences avec coûts corrects
  apps/web/app/me/teams/[id]/edit/page.tsx
  packages/game-engine/src/index.js
  packages/game-engine/src/index.ts
  packages/game-engine/src/utils/advancements.js
  packages/game-engine/src/utils/advancements.ts
Labels: game-engine, web

feat: amélioration de la page d'accueil, footer avec version et pages légales
  .github/workflows/semantic-release.yml
  .releaserc.json
  SEMANTIC-RELEASE.md
  apps/web/app/components/Footer.tsx
  apps/web/app/components/VersionInfo.tsx
  apps/web/app/layout.tsx
  apps/web/app/legal/conditions-utilisation/page.tsx
  apps/web/app/legal/mentions-legales/page.tsx
  apps/web/app/me/teams/[id]/edit/page.tsx
  apps/web/app/page.tsx
  apps/web/package.json
  apps/web/public/version.json
  apps/web/scripts/generate-version.js
  package.json
Labels: web
