Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"

refactor(play): extract BlockingOverlays + MatchOverlays (S26.0x)
  apps/web/app/play/[id]/components/BlockingOverlays.tsx
  apps/web/app/play/[id]/components/MatchOverlays.tsx
  apps/web/app/play/[id]/page.tsx
Labels: web

chore: bump web version to 1.77.1
  apps/web/public/version.json
Labels: web

refactor(play): extract BlockingOverlays + MatchOverlays (S26.0x, DoD < 600 lignes ATTEINT) (#482)
  apps/web/app/play/[id]/components/BlockingOverlays.tsx
  apps/web/app/play/[id]/components/MatchOverlays.tsx
  apps/web/app/play/[id]/page.tsx
  apps/web/public/version.json
Labels: web

feat(tutoriel): badge unlock + completion timestamp (S26.1a)
  apps/web/app/tutoriel/[slug]/page.tsx
  apps/web/app/tutoriel/page.test.tsx
  apps/web/app/tutoriel/page.tsx
  apps/web/public/version.json
  docs/roadmap/sprints/S26-retention-engagement.md
  packages/game-engine/src/index.ts
  packages/game-engine/src/tutorial/engine.test.ts
  packages/game-engine/src/tutorial/engine.ts
  packages/game-engine/src/tutorial/types.ts
Labels: game-engine, web

feat(tutoriel): badge unlock + completion timestamp (S26.1a) (#483)
  apps/web/app/tutoriel/[slug]/page.tsx
  apps/web/app/tutoriel/page.test.tsx
  apps/web/app/tutoriel/page.tsx
  apps/web/public/version.json
  docs/roadmap/sprints/S26-retention-engagement.md
  packages/game-engine/src/index.ts
  packages/game-engine/src/tutorial/engine.test.ts
  packages/game-engine/src/tutorial/engine.ts
  packages/game-engine/src/tutorial/types.ts
Labels: game-engine, web

feat(tutoriel): recommended teams panel after completion (S26.1b)
  apps/web/app/tutoriel/[slug]/page.tsx
  apps/web/public/version.json
  packages/game-engine/src/index.ts
  packages/game-engine/src/tutorial/engine.test.ts
  packages/game-engine/src/tutorial/engine.ts
  packages/game-engine/src/tutorial/types.ts
Labels: game-engine, web

feat(tutoriel): recommended teams panel after completion (S26.1b) (#484)
  apps/web/app/tutoriel/[slug]/page.tsx
  apps/web/public/version.json
  packages/game-engine/src/index.ts
  packages/game-engine/src/tutorial/engine.test.ts
  packages/game-engine/src/tutorial/engine.ts
  packages/game-engine/src/tutorial/types.ts
Labels: game-engine, web

feat(tutoriel): global XP progression bar on listing page (S26.1c)
  apps/web/app/tutoriel/page.test.tsx
  apps/web/app/tutoriel/page.tsx
  apps/web/public/version.json
  docs/roadmap/sprints/S26-retention-engagement.md
  packages/game-engine/src/index.ts
  packages/game-engine/src/tutorial/engine.test.ts
  packages/game-engine/src/tutorial/engine.ts
Labels: game-engine, web

feat(tutoriel): global XP progression bar on listing page (S26.1c) (#485)
  apps/web/app/tutoriel/page.test.tsx
  apps/web/app/tutoriel/page.tsx
  apps/web/public/version.json
  docs/roadmap/sprints/S26-retention-engagement.md
  packages/game-engine/src/index.ts
  packages/game-engine/src/tutorial/engine.test.ts
  packages/game-engine/src/tutorial/engine.ts
Labels: game-engine, web

feat(achievements): expose newlyUnlocked slugs on lazy read (S26.2a)
  apps/server/src/services/achievements.test.ts
  apps/server/src/services/achievements.ts
Labels: server

feat(achievements): expose newlyUnlocked slugs on lazy read (S26.2a) (#486)
  apps/server/src/services/achievements.test.ts
  apps/server/src/services/achievements.ts
Labels: server

feat(achievements): celebration banner + NEW badge on lazy unlock (S26.2b)
  apps/web/app/me/achievements/page.test.tsx
  apps/web/app/me/achievements/page.tsx
  apps/web/public/version.json
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: web

feat(achievements): celebration banner + NEW badge on lazy unlock (S26.2b) (#487)
  apps/web/app/me/achievements/page.test.tsx
  apps/web/app/me/achievements/page.tsx
  apps/web/public/version.json
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: web

feat: default skills page to season_3 ruleset
  apps/web/app/skills/page.tsx
Labels: web

feat(achievements): match-end celebration panel + CTA (S26.2c)
  apps/web/app/components/MatchEndScreen.test.tsx
  apps/web/app/components/MatchEndScreen.tsx
  apps/web/public/version.json
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: web

feat(achievements): match-end celebration panel + CTA (S26.2c) (#488)
  apps/web/app/components/MatchEndScreen.test.tsx
  apps/web/app/components/MatchEndScreen.tsx
  apps/web/public/version.json
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: web

feat(coach-profile): coach-slug derivation utility (S26.3a)
  apps/server/src/utils/coach-slug.test.ts
  apps/server/src/utils/coach-slug.ts
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: server

feat(coach-profile): coach-slug derivation utility (S26.3a) (#489)
  apps/server/src/utils/coach-slug.test.ts
  apps/server/src/utils/coach-slug.ts
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: server

feat(coach-profile): getCoachPublicProfile service (S26.3b)
  apps/server/src/services/coach-profile.test.ts
  apps/server/src/services/coach-profile.ts
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: server

feat(coach-profile): getCoachPublicProfile service (S26.3b) (#490)
  apps/server/src/services/coach-profile.test.ts
  apps/server/src/services/coach-profile.ts
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: server

feat(coach-profile): public GET /coach/:slug route (S26.3c)
  apps/server/src/index.ts
  apps/server/src/routes/coach.test.ts
  apps/server/src/routes/coach.ts
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: server

feat(coach-profile): public GET /coach/:slug route (S26.3c) (#491)
  apps/server/src/index.ts
  apps/server/src/routes/coach.test.ts
  apps/server/src/routes/coach.ts
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: server

feat(coach-profile): public /coach/[slug] page with header (S26.3d)
  apps/web/app/coach/[slug]/CoachProfileHeader.test.tsx
  apps/web/app/coach/[slug]/CoachProfileHeader.tsx
  apps/web/app/coach/[slug]/page.tsx
  apps/web/app/coach/[slug]/types.ts
  apps/web/public/version.json
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: web

feat(coach-profile): public /coach/[slug] page with header (S26.3d) (#492)
  apps/web/app/coach/[slug]/CoachProfileHeader.test.tsx
  apps/web/app/coach/[slug]/CoachProfileHeader.tsx
  apps/web/app/coach/[slug]/page.tsx
  apps/web/app/coach/[slug]/types.ts
  apps/web/public/version.json
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: web

feat(coach-profile): showcase achievements service (S26.3e)
  apps/server/src/services/coach-profile.test.ts
  apps/server/src/services/coach-profile.ts
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: server

feat(coach-profile): showcase achievements service (S26.3e) (#493)
  apps/server/src/services/coach-profile.test.ts
  apps/server/src/services/coach-profile.ts
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: server

feat(coach-profile): wire showcase achievements end-to-end (S26.3f)
  apps/server/src/routes/coach.test.ts
  apps/server/src/routes/coach.ts
  apps/web/app/coach/[slug]/CoachAchievementsShowcase.test.tsx
  apps/web/app/coach/[slug]/CoachAchievementsShowcase.tsx
  apps/web/app/coach/[slug]/page.tsx
  apps/web/app/coach/[slug]/types.ts
  apps/web/public/version.json
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: web, server

feat(coach-profile): wire showcase achievements end-to-end (S26.3f) (#494)
  apps/server/src/routes/coach.test.ts
  apps/server/src/routes/coach.ts
  apps/web/app/coach/[slug]/CoachAchievementsShowcase.test.tsx
  apps/web/app/coach/[slug]/CoachAchievementsShowcase.tsx
  apps/web/app/coach/[slug]/page.tsx
  apps/web/app/coach/[slug]/types.ts
  apps/web/public/version.json
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: web, server

feat(coach-profile): list public coach slugs + sitemap integration (S26.3g)
  apps/server/src/routes/coach.test.ts
  apps/server/src/routes/coach.ts
  apps/server/src/services/coach-profile.test.ts
  apps/server/src/services/coach-profile.ts
  apps/web/app/sitemap.ts
  apps/web/public/version.json
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: web, server

feat(coach-profile): list public coach slugs + sitemap integration (S26.3g) (#495)
  apps/server/src/routes/coach.test.ts
  apps/server/src/routes/coach.ts
  apps/server/src/services/coach-profile.test.ts
  apps/server/src/services/coach-profile.ts
  apps/web/app/sitemap.ts
  apps/web/public/version.json
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: web, server

feat(coach-profile): recent teams section (S26.3h)
  apps/server/src/routes/coach.test.ts
  apps/server/src/routes/coach.ts
  apps/server/src/services/coach-profile.test.ts
  apps/server/src/services/coach-profile.ts
  apps/web/app/coach/[slug]/CoachRecentTeams.test.tsx
  apps/web/app/coach/[slug]/CoachRecentTeams.tsx
  apps/web/app/coach/[slug]/page.tsx
  apps/web/app/coach/[slug]/types.ts
  apps/web/public/version.json
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: web, server

feat(coach-profile): recent teams section (S26.3h) (#496)
  apps/server/src/routes/coach.test.ts
  apps/server/src/routes/coach.ts
  apps/server/src/services/coach-profile.test.ts
  apps/server/src/services/coach-profile.ts
  apps/web/app/coach/[slug]/CoachRecentTeams.test.tsx
  apps/web/app/coach/[slug]/CoachRecentTeams.tsx
  apps/web/app/coach/[slug]/page.tsx
  apps/web/app/coach/[slug]/types.ts
  apps/web/public/version.json
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: web, server

feat(coach-profile): RGPD private profile opt-in (S26.3i)
  apps/server/src/services/coach-profile.test.ts
  apps/server/src/services/coach-profile.ts
  docs/roadmap/sprints/S26-retention-engagement.md
  prisma/migrations/20260429000000_add_private_profile/migration.sql
  prisma/schema.prisma
Labels: server

feat(coach-profile): RGPD private profile opt-in (S26.3i) (#497)
  apps/server/src/services/coach-profile.test.ts
  apps/server/src/services/coach-profile.ts
  docs/roadmap/sprints/S26-retention-engagement.md
  prisma/migrations/20260429000000_add_private_profile/migration.sql
  prisma/schema.prisma
Labels: server

feat(coach-profile): privacy toggle endpoint + GET /me exposes privateProfile (S26.3j)
  apps/server/src/index.ts
  apps/server/src/routes/auth-privacy.test.ts
  apps/server/src/routes/auth-privacy.ts
  apps/server/src/routes/auth.ts
  apps/server/src/schemas/auth.schemas.ts
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: server

fix(coach-profile): add privateProfile to SQLite schema (S26.3j)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/schema.prisma
Labels: server

feat(coach-profile): privacy toggle endpoint + GET /me exposes privateProfile (S26.3j) (#498)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/routes/auth-privacy.test.ts
  apps/server/src/routes/auth-privacy.ts
  apps/server/src/routes/auth.ts
  apps/server/src/schemas/auth.schemas.ts
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: server

feat(coach-profile): private profile toggle on /me/profile (S26.3k)
  apps/web/app/me/profile/PrivateProfileToggle.test.tsx
  apps/web/app/me/profile/PrivateProfileToggle.tsx
  apps/web/app/me/profile/page.tsx
  apps/web/public/version.json
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: web

feat(coach-profile): private profile toggle on /me/profile (S26.3k) (#499)
  apps/web/app/me/profile/PrivateProfileToggle.test.tsx
  apps/web/app/me/profile/PrivateProfileToggle.tsx
  apps/web/app/me/profile/page.tsx
  apps/web/public/version.json
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: web

feat(friends): findUserByCoachName resolver for @username (S26.4a)
  apps/server/src/services/user-lookup.test.ts
  apps/server/src/services/user-lookup.ts
  docs/roadmap/sprints/S26-retention-engagement.md
Labels: server
