Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

feat: renommage de BlooBowl en Nuffle Arena
  apps/mobile/app.json
  apps/mobile/app/index.tsx
  apps/web/app/components/Footer.tsx
  apps/web/app/layout.tsx
  apps/web/app/legal/conditions-utilisation/page.tsx
  apps/web/app/legal/mentions-legales/page.tsx
  apps/web/app/page.tsx
  package.json
  packages/game-engine/TESTS.md
  packages/game-engine/src/core/boardgame-io.js
  packages/game-engine/src/core/boardgame-io.ts
  start-docker.sh
Labels: game-engine, web, mobile

feat: intégration complète de l'identité visuelle Nuffle Arena
  apps/web/app/components/Footer.tsx
  apps/web/app/components/Logo.tsx
  apps/web/app/globals.css
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/public/version.json
  apps/web/tailwind.config.ts
  package.json
Labels: web

fix: correction du mapping des compétences Star Players avec apostrophes
  apps/web/public/version.json
  package.json
  packages/game-engine/src/rosters/star-players-utils.js
  packages/game-engine/src/rosters/star-players-utils.ts
Labels: game-engine, web

fix: corrections UI et correction erreur 404 recalcul VE
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/me/teams/components/TeamInfoEditor.tsx
  apps/web/public/version.json
  package.json
Labels: web

Amélioration de la gestion des utilisateurs et navigation
  apps/server/src/routes/admin.ts
  apps/server/src/routes/auth.ts
  apps/web/app/AuthBar.tsx
  apps/web/app/admin/users/page.tsx
  apps/web/app/layout.tsx
  apps/web/app/me/profile/page.tsx
Labels: web, server

fix(ci): corriger l'ordre d'installation de pnpm dans semantic-release
  .github/workflows/semantic-release.yml
Labels: none

fix(ci): aligner la version de pnpm avec package.json (9.7.0)
  .github/workflows/semantic-release.yml
Labels: none

chore: mettre à jour pnpm-lock.yaml pour synchroniser avec package.json
  pnpm-lock.yaml
Labels: none

fix(ci): ajouter la dépendance conventional-changelog-conventionalcommits pour semantic-release
  package.json
  pnpm-lock.yaml
Labels: none

Notes added by 'git notes add'
  8db2b9ce2b70310b53f9d9376e60d968cc538e38
Labels: none

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

chore: mettre à jour version.json pour afficher la version 1.0.0
  apps/web/public/version.json
Labels: web

feat: ajout des champs profil utilisateur (coachName, firstName, lastName, dateOfBirth)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/routes/auth.ts
  apps/server/src/seed.ts
  apps/web/app/me/profile/page.tsx
  apps/web/app/register/page.tsx
  prisma/schema.prisma
Labels: web, server

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  b647dffda54d9fe6e89c938b6a1fe374772ed728
Labels: none

chore: mise à jour du modèle User pour inclure les champs coachName, firstName, lastName et dateOfBirth
  .gitignore
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/web/public/images/favicon.png
  apps/web/public/images/logo.png
  packages/game-engine/src/utils/advancements.test.js
  packages/game-engine/src/utils/advancements.test.ts
  packages/game-engine/src/utils/skill-access.js
  packages/game-engine/src/utils/skill-access.ts
Labels: game-engine, web, server

feat: ajout du champ Patreon au modèle User et mise à jour des routes associées
  apps/server/src/routes/admin.ts
  apps/server/src/routes/auth.ts
  apps/web/app/admin/users/page.tsx
  apps/web/app/components/ImageCarousel.tsx
  apps/web/app/me/profile/page.tsx
  apps/web/app/page.tsx
  apps/web/public/images/export-pdf.png
  apps/web/public/images/rosters.png
  apps/web/public/images/star-players.png
  prisma/schema.prisma
Labels: web, server

feat: ajout du support multilingue avec le contexte de langue
  apps/web/app/AuthBar.tsx
  apps/web/app/components/ClientLayout.tsx
  apps/web/app/components/Footer.tsx
  apps/web/app/components/Header.tsx
  apps/web/app/components/LanguageSwitcher.tsx
  apps/web/app/components/SkillTooltip.tsx
  apps/web/app/components/StarPlayerSelector.tsx
  apps/web/app/contexts/LanguageContext.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/layout.tsx
  apps/web/app/login/page.tsx
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/me/teams/components/SkillTooltip.tsx
  apps/web/app/me/teams/components/TeamInfoDisplay.tsx
  apps/web/app/me/teams/new/page.tsx
  apps/web/app/me/teams/page.tsx
  apps/web/app/me/teams/skills-data.ts
  apps/web/app/page.tsx
  apps/web/app/register/page.tsx
  apps/web/app/skills/page.tsx
  apps/web/app/star-players/page.tsx
Labels: web

feat: ajout des tiers et statut NAF pour les équipes + pages de consultation
  apps/web/app/components/Header.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/me/teams/page.tsx
  apps/web/app/teams/[slug]/page.tsx
  apps/web/app/teams/page.tsx
  packages/game-engine/src/rosters/positions.js
  packages/game-engine/src/rosters/positions.ts
Labels: game-engine, web

Notes added by 'git notes add'
  a0ed209d21134ce97e4655614dbbf55d0d990c5a
Labels: none

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

feat: ajout de 7 nouvelles équipes (Amazones, Hauts Elfes, Khorne, Vampires, Rois des Tombes, Gnomes, Nordiques)
  apps/server/src/routes/team.ts
  packages/game-engine/src/rosters/positions.js
  packages/game-engine/src/rosters/positions.ts
Labels: game-engine, server

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  f5a624865161b20b1907ed8816f0b965758cb014
Labels: none

feat: ajout de nouvelles compétences et mise à jour des slugs pour les variantes loner
  apps/web/app/me/teams/base-skills-data.ts
  apps/web/app/me/teams/skills-data.ts
  packages/game-engine/src/rosters/positions.js
  packages/game-engine/src/rosters/positions.ts
  packages/game-engine/src/rosters/star-players-utils.js
  packages/game-engine/src/rosters/star-players-utils.ts
  packages/game-engine/src/skills/index.js
  packages/game-engine/src/skills/index.ts
  packages/game-engine/src/utils/advancements.js
Labels: game-engine, web

fix: corrections roster Snotlings et amélioration affichage compétences
  apps/web/app/me/teams/base-skills-data.ts
  apps/web/app/me/teams/components/SkillTooltip.tsx
  apps/web/app/me/teams/skills-data.ts
  apps/web/app/teams/[slug]/page.tsx
  packages/game-engine/src/rosters/positions.js
  packages/game-engine/src/rosters/positions.ts
  packages/game-engine/src/skills/index.js
  packages/game-engine/src/skills/index.ts
Labels: game-engine, web

Améliorer la gestion des compétences et réorganiser les pages d'édition des positions
  apps/web/app/admin/data/positions/SkillSelector.tsx
  apps/web/app/admin/data/positions/[id]/edit/page.tsx
  apps/web/app/admin/data/positions/new/page.tsx
  apps/web/app/admin/data/positions/page.tsx
Labels: web

Migration des données statiques des compétences vers le seed
  apps/server/src/seed.ts
  apps/server/src/static-skills-data.ts
  apps/web/app/skills/page.tsx
Labels: web, server

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  1e6136ceb5eaa0fa1785982162c23793914b0e6d
Labels: none

feat: Ajout de la gestion des noms EN pour les rosters
  MIGRATION-DONNEES-STATIQUES.md
  Makefile
  apps/server/migrate-static-data-to-db.ts
  apps/server/src/index.ts
  apps/server/src/middleware/adminOnly.ts
  apps/server/src/routes/admin-data.ts
  apps/server/src/routes/public-positions.ts
  apps/server/src/routes/public-rosters.ts
  apps/server/src/routes/public-skills.ts
  apps/server/src/routes/star-players.ts
  apps/server/src/routes/team.ts
  apps/server/src/seed.ts
  apps/server/src/skills-descriptions-en.ts
  apps/server/src/utils/roster-helpers.ts
  apps/web/app/admin/data/positions/page.tsx
  apps/web/app/admin/layout.tsx
  apps/web/app/admin/matches/page.tsx
  apps/web/app/admin/page.tsx
  apps/web/app/admin/users/page.tsx
  apps/web/app/contexts/LanguageContext.tsx
  apps/web/app/me/teams/[id]/edit/page.tsx
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/me/teams/page.tsx
  apps/web/app/teams/[slug]/page.tsx
  apps/web/app/teams/page.tsx
  prisma/schema.prisma
Labels: web, server

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  5343fafe072e0546fc15f06c0541475755c4b768
Labels: none

feat: Ajout des traductions EN pour les pages teams
  apps/web/app/i18n/translations.ts
  apps/web/app/teams/[slug]/page.tsx
  apps/web/app/teams/page.tsx
Labels: web

feat: amélioration de la page des équipes et ajout d'exports PDF multiples
  apps/web/app/i18n/translations.ts
  apps/web/app/me/teams/[id]/edit/page.tsx
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/me/teams/components/SkillTooltip.tsx
  apps/web/app/me/teams/new/page.tsx
  apps/web/app/me/teams/page.tsx
  apps/web/app/me/teams/skills-data.ts
  apps/web/app/me/teams/utils/exportPDF.ts
Labels: web

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  74812f374690fe6582220b953dfd0f40101f219c
Labels: none

feat: mise à jour de toutes les pages pour utiliser la largeur totale de l'écran
  apps/server/src/routes/team.ts
  apps/web/app/AuthBar.tsx
  apps/web/app/admin/layout.tsx
  apps/web/app/admin/sync/page.tsx
  apps/web/app/api/sync-auth-cookie/route.ts
  apps/web/app/api/verify-admin/route.ts
  apps/web/app/components/Footer.tsx
  apps/web/app/dice-notifications/page.tsx
  apps/web/app/layout.tsx
  apps/web/app/legal/conditions-utilisation/page.tsx
  apps/web/app/legal/mentions-legales/page.tsx
  apps/web/app/login/page.tsx
  apps/web/app/me/page.tsx
  apps/web/app/me/profile/page.tsx
  apps/web/app/me/teams/[id]/edit/page.tsx
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/me/teams/new/page.tsx
  apps/web/app/me/teams/page.tsx
  apps/web/app/me/teams/utils/exportPDF.ts
  apps/web/app/page.tsx
  apps/web/app/register/page.tsx
  apps/web/app/skills/page.tsx
  apps/web/app/team/select/page.tsx
  apps/web/app/teams/[slug]/page.tsx
  apps/web/app/teams/page.tsx
  apps/web/lib/jwt-utils.ts
  apps/web/middleware.ts
  apps/web/next.config.mjs
  apps/web/package.json
  pnpm-lock.yaml
  tests/integration/admin-middleware.test.ts
  tests/integration/package.json
Labels: web, server

chore(release): 1.7.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  21ce652d836df04b37fbbad2ae5b446299b16e19
Labels: none

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
