Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"

feat(advancements): applique les règles officielles BB2025 (jet D8 + plafonds caractéristique)
  apps/server/src/routes/team-advancement.ts
  apps/server/src/routes/team-player-skills-handler.ts
  apps/server/src/schemas/advancement.schemas.ts
  apps/server/src/schemas/team.schemas.ts
  apps/server/src/services/post-match-league-sequence.test.ts
  apps/server/src/services/post-match-league-sequence.ts
  apps/web/app/me/teams/[id]/edit/page.tsx
  apps/web/app/me/teams/[id]/level-up/page.tsx
  packages/game-engine/src/index.ts
  packages/game-engine/src/utils/advancements.test.ts
  packages/game-engine/src/utils/advancements.ts
Labels: game-engine, web, server

feat(allowed-teams): refactor team validation and add tests
  apps/server/src/constants/allowed-teams.test.ts
  apps/server/src/constants/allowed-teams.ts
  apps/server/src/routes/team-build-handler.ts
  apps/server/src/routes/team-create-from-roster-handler.ts
  apps/server/src/routes/team-readonly-handlers.ts
  apps/web/app/teams/[slug]/[position]/page.test.ts
  apps/web/app/teams/[slug]/[position]/page.tsx
  docker-compose.yml
  packages/game-engine/src/rosters/reroll-costs.test.ts
  packages/game-engine/src/rosters/reroll-costs.ts
  packages/game-engine/src/utils/team-value-calculator.test.ts
  packages/game-engine/src/utils/team-value-calculator.ts
Labels: game-engine, web, server

chore(release): 1.182.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  10a4a4320e9680c2f7e6c642f16789ced821198d
Labels: none

chore(release): 1.183.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  da78a835c971c9a2ee22ed0ba8c5271209a374c1
Labels: none

fix(rosters,skills): corrections de données Blood Bowl S3 (Phase 1 — retours validation)
  apps/web/app/me/teams/skills-data.ts
  packages/game-engine/src/rosters/reroll-costs.test.ts
  packages/game-engine/src/rosters/reroll-costs.ts
  packages/game-engine/src/rosters/season3-reference-data.ts
  packages/game-engine/src/rosters/season3-rosters.ts
  packages/game-engine/src/skills/index.ts
Labels: game-engine, web

fix(rosters,skills): corrections données BB Saison 3 — Phase 1 (retours validation) (#913)
  apps/web/app/me/teams/skills-data.ts
  packages/game-engine/src/rosters/reroll-costs.test.ts
  packages/game-engine/src/rosters/reroll-costs.ts
  packages/game-engine/src/rosters/season3-reference-data.ts
  packages/game-engine/src/rosters/season3-rosters.ts
  packages/game-engine/src/skills/index.ts
Labels: game-engine, web

feat(roster-sheet): règles spéciales + ligues + stats "+" + catégories builder (Phase 3)
  apps/server/src/routes/public-rosters.test.ts
  apps/server/src/routes/public-rosters.ts
  apps/server/src/utils/roster-helpers.ts
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/me/teams/components/SkillAccessBadges.tsx
  apps/web/app/me/teams/new/page.tsx
  apps/web/app/teams/[slug]/TeamDetailClient.tsx
Labels: web, server

feat(roster-sheet): A11 règles spéciales + type de ligue, A10 stats « + », E5 catégories builder (Phase 3) (#914)
  apps/server/src/routes/public-rosters.test.ts
  apps/server/src/routes/public-rosters.ts
  apps/server/src/utils/roster-helpers.ts
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/me/teams/components/SkillAccessBadges.tsx
  apps/web/app/me/teams/new/page.tsx
  apps/web/app/teams/[slug]/TeamDetailClient.tsx
Labels: web, server

feat(apothecary): interdit l'apothicaire pour les équipes mort-vivantes (A30)
  apps/server/src/routes/team-build-handler.test.ts
  apps/server/src/routes/team-build-handler.ts
  apps/server/src/routes/team-purchase-handler.test.ts
  apps/server/src/routes/team-purchase-handler.ts
  apps/web/app/me/teams/components/TreasuryPurchasePanel.tsx
  apps/web/app/me/teams/new/page.tsx
  packages/game-engine/src/rosters/apothecary-access.test.ts
  packages/game-engine/src/rosters/apothecary-access.ts
  packages/game-engine/src/rosters/index.ts
Labels: game-engine, web, server

feat(apothecary): A30 — interdit l'apothicaire pour les équipes mort-vivantes (#915)
  apps/server/src/routes/team-build-handler.test.ts
  apps/server/src/routes/team-build-handler.ts
  apps/server/src/routes/team-purchase-handler.test.ts
  apps/server/src/routes/team-purchase-handler.ts
  apps/web/app/me/teams/components/TreasuryPurchasePanel.tsx
  apps/web/app/me/teams/new/page.tsx
  packages/game-engine/src/rosters/apothecary-access.test.ts
  packages/game-engine/src/rosters/apothecary-access.ts
  packages/game-engine/src/rosters/index.ts
Labels: game-engine, web, server

feat(builder): dédup star players (A9) + plafond combiné de Big Guy (A36)
  apps/server/src/routes/star-players.ts
  apps/server/src/routes/team-build-big-guy.test.ts
  apps/server/src/routes/team-build-handler.ts
  apps/web/app/components/StarPlayerSelector.tsx
  apps/web/app/me/teams/new/page.tsx
  packages/game-engine/src/rosters/big-guy-limits.test.ts
  packages/game-engine/src/rosters/big-guy-limits.ts
  packages/game-engine/src/rosters/index.ts
  packages/game-engine/src/rosters/star-players.test.ts
  packages/game-engine/src/rosters/star-players.ts
Labels: game-engine, web, server

fix(builder): A9 dédup star players + A36 plafond combiné de Big Guy (#916)
  apps/server/src/routes/star-players.ts
  apps/server/src/routes/team-build-big-guy.test.ts
  apps/server/src/routes/team-build-handler.ts
  apps/web/app/components/StarPlayerSelector.tsx
  apps/web/app/me/teams/new/page.tsx
  packages/game-engine/src/rosters/big-guy-limits.test.ts
  packages/game-engine/src/rosters/big-guy-limits.ts
  packages/game-engine/src/rosters/index.ts
  packages/game-engine/src/rosters/star-players.test.ts
  packages/game-engine/src/rosters/star-players.ts
Labels: game-engine, web, server

feat(league): notifie le coach invité (A2)
  apps/server/src/services/league-invitation-notify.test.ts
  apps/server/src/services/league-invitation-notify.ts
  apps/server/src/services/league-invitation.test.ts
  apps/server/src/services/league-invitation.ts
Labels: server

feat(league): notifie le coach invité (A2) (#917)
  apps/server/src/services/league-invitation-notify.test.ts
  apps/server/src/services/league-invitation-notify.ts
  apps/server/src/services/league-invitation.test.ts
  apps/server/src/services/league-invitation.ts
Labels: server

feat(league): éditeur de points bonus configurables (E1)
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/leagues/[id]/edit/page.tsx
  apps/web/app/leagues/[id]/types.ts
  apps/web/app/leagues/_components/BonusRulesEditor.tsx
  apps/web/app/leagues/_components/LeagueForm.test.tsx
  apps/web/app/leagues/_components/LeagueForm.tsx
  apps/web/app/leagues/_components/bonus-rules.test.ts
  apps/web/app/leagues/_components/bonus-rules.ts
  apps/web/app/leagues/new/page.tsx
Labels: web

feat(league): éditeur de points bonus configurables (E1) (#918)
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/leagues/[id]/edit/page.tsx
  apps/web/app/leagues/[id]/types.ts
  apps/web/app/leagues/_components/BonusRulesEditor.tsx
  apps/web/app/leagues/_components/LeagueForm.test.tsx
  apps/web/app/leagues/_components/LeagueForm.tsx
  apps/web/app/leagues/_components/bonus-rules.test.ts
  apps/web/app/leagues/_components/bonus-rules.ts
  apps/web/app/leagues/new/page.tsx
Labels: web

feat(league): affiche les points bonus cumulés dans le classement (E2)
  apps/server/src/services/league-standings-bonus.test.ts
  apps/server/src/services/league.ts
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/leagues/[id]/SeasonStandings.test.tsx
  apps/web/app/leagues/[id]/SeasonStandings.tsx
  apps/web/app/leagues/[id]/types.ts
Labels: web, server

feat(league): affiche les points bonus cumulés dans le classement (E2) (#919)
  apps/server/src/services/league-standings-bonus.test.ts
  apps/server/src/services/league.ts
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/leagues/[id]/SeasonStandings.test.tsx
  apps/web/app/leagues/[id]/SeasonStandings.tsx
  apps/web/app/leagues/[id]/types.ts
Labels: web, server

feat(league): détaille les points bonus par match dans le calendrier (E3)
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/leagues/[id]/PairingBonusBreakdown.test.tsx
  apps/web/app/leagues/[id]/PairingBonusBreakdown.tsx
  apps/web/app/leagues/[id]/SeasonCalendar.tsx
  apps/web/app/leagues/[id]/types.ts
  apps/web/app/leagues/_components/bonus-rules.test.ts
  apps/web/app/leagues/_components/bonus-rules.ts
Labels: web

feat(league): détaille les points bonus par match dans le calendrier (E3) (#920)
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/leagues/[id]/PairingBonusBreakdown.test.tsx
  apps/web/app/leagues/[id]/PairingBonusBreakdown.tsx
  apps/web/app/leagues/[id]/SeasonCalendar.tsx
  apps/web/app/leagues/[id]/types.ts
  apps/web/app/leagues/_components/bonus-rules.test.ts
  apps/web/app/leagues/_components/bonus-rules.ts
Labels: web

fix(skills): noms/catégories/textes de traits S3 (A4/A14/A15/A21/A24/A25/A26)
  apps/server/src/static-skills-data-s3.test.ts
  apps/server/src/static-skills-data-s3.ts
  packages/game-engine/src/skills/index.ts
Labels: game-engine, server

fix(rosters): le Tueur de Trolls a « Haine (Troll) » et non « Haine (X) » (A20)
  packages/game-engine/src/rosters/hate-troll.test.ts
  packages/game-engine/src/rosters/season3-reference-data.ts
  packages/game-engine/src/rosters/season3-rosters.ts
  packages/game-engine/src/rosters/validate-season3-rules.test.ts
  packages/game-engine/src/skills/index.ts
Labels: game-engine

fix(league): l'utilisateur connecté voit ses ligues privées dans la liste (A1)
  apps/server/src/routes/league.ts
  apps/server/src/services/league.test.ts
  apps/server/src/services/league.ts
Labels: server

fix(skills): noms/catégories/textes de traits S3 (A4/A14/A15/A21/A24/A25/A26) (#921)
  apps/server/src/static-skills-data-s3.test.ts
  apps/server/src/static-skills-data-s3.ts
  packages/game-engine/src/skills/index.ts
Labels: game-engine, server

fix(advancement): une principale au hasard augmente la VE comme une choisie (A6)
  apps/server/src/services/post-match-league-sequence.test.ts
  apps/web/app/me/teams/[id]/edit/page.tsx
  packages/game-engine/src/utils/advancements.test.ts
  packages/game-engine/src/utils/advancements.ts
Labels: game-engine, web, server

fix(advancement): principale au hasard = VE comme une choisie (A6) (#924)
  apps/server/src/services/post-match-league-sequence.test.ts
  apps/web/app/me/teams/[id]/edit/page.tsx
  packages/game-engine/src/utils/advancements.test.ts
  packages/game-engine/src/utils/advancements.ts
Labels: game-engine, web, server

fix(skills): enregistre hate-troll dans le skill-registry (A20, CI)
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

fix(league): l'utilisateur voit ses ligues privées dans la liste (A1) (#923)
  apps/server/src/routes/league.ts
  apps/server/src/services/league.test.ts
  apps/server/src/services/league.ts
Labels: server

fix(rosters): PA nullable pour le Roule-Mort/Deathroller (A19)
  packages/game-engine/src/rosters/positions.ts
  packages/game-engine/src/rosters/season3-reference-data.ts
  packages/game-engine/src/rosters/season3-rosters.ts
  packages/game-engine/src/rosters/validate-season3-rules.test.ts
Labels: game-engine

fix(rosters): Roule-Mort PA « - » (PA nullable au catalogue, A19) (#925)
  packages/game-engine/src/rosters/positions.ts
  packages/game-engine/src/rosters/season3-reference-data.ts
  packages/game-engine/src/rosters/season3-rosters.ts
  packages/game-engine/src/rosters/validate-season3-rules.test.ts
Labels: game-engine

chore(release): 1.184.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  8d6907dfe316c7fc1980721f582c91d49793b39d
Labels: none

fix(nfl): coalesce pa null en sentinel 0 dans deriveBbAttributes
  apps/server/src/services/nfl-bb-derivation.ts
Labels: server

fix(nfl): PA null → sentinel 0 dans deriveBbAttributes (CI build-check) (#926)
  apps/server/src/services/nfl-bb-derivation.ts
Labels: server

feat(league): include viewer's private leagues in list by default
  apps/server/src/routes/league.ts
  apps/server/src/services/league.test.ts
  apps/server/src/services/league.ts
Labels: server

chore(release): 1.185.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  2c559c44ddf4945cfa38cbd1d4993b77acc6e23e
Labels: none

feat(mail): branche l'envoi d'e-mail réel (nodemailer SMTP) + Mailpit en dev
  apps/server/package.json
  apps/server/src/index.ts
  apps/server/src/services/mail-init.test.ts
  apps/server/src/services/mail-init.ts
  docker-compose.prod.yml
  docker-compose.yml
  docs/email.md
  pnpm-lock.yaml
Labels: server
