Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"

feat: add WebSocket notification when matchmaking finds opponent (C.4)
  TODO.md
  apps/web/app/play-hidden/[id]/hooks/useGameSocket.test.ts
  apps/web/app/play/hooks/useMatchmakingSocket.test.ts
  apps/web/app/play/hooks/useMatchmakingSocket.ts
  apps/web/app/play/page.tsx
Labels: web

chore: update version.json build date
  apps/web/public/version.json
Labels: web

feat: WebSocket notification for matchmaking (C.4) (#125)
  TODO.md
  apps/web/app/play-hidden/[id]/hooks/useGameSocket.test.ts
  apps/web/app/play/hooks/useMatchmakingSocket.test.ts
  apps/web/app/play/hooks/useMatchmakingSocket.ts
  apps/web/app/play/page.tsx
  apps/web/public/version.json
Labels: web

feat: online setup phase with Prêt button and real-time sync (C.5)
  TODO.md
  apps/server/src/routes/match.ts
  apps/web/app/play-hidden/[id]/hooks/deriveSetupTurn.test.ts
  apps/web/app/play-hidden/[id]/hooks/deriveSetupTurn.ts
  apps/web/app/play-hidden/[id]/hooks/useGameState.ts
  apps/web/app/play-hidden/[id]/page.tsx
  packages/game-engine/src/core/online-setup.test.ts
Labels: game-engine, web, server

Implement online setup phase with WebSocket state sync (#126)
  TODO.md
  apps/server/src/routes/match.ts
  apps/web/app/play-hidden/[id]/hooks/deriveSetupTurn.test.ts
  apps/web/app/play-hidden/[id]/hooks/deriveSetupTurn.ts
  apps/web/app/play-hidden/[id]/hooks/useGameState.ts
  apps/web/app/play-hidden/[id]/page.tsx
  packages/game-engine/src/core/online-setup.test.ts
Labels: game-engine, web, server

feat: automate online pre-match sequence (C.6)
  TODO.md
  apps/server/src/routes/match.ts
  apps/server/src/services/match-start.ts
  apps/server/src/services/pre-match-automation.ts
  apps/web/app/components/PreMatchSummary.test.tsx
  apps/web/app/components/PreMatchSummary.tsx
  apps/web/app/play-hidden/[id]/page.tsx
  tests/integration/pre-match-automation.test.ts
Labels: web, server

chore: update build date in version.json
  apps/web/public/version.json
Labels: web

feat: automate online pre-match sequence (C.6) (#127)
  TODO.md
  apps/server/src/routes/match.ts
  apps/server/src/services/match-start.ts
  apps/server/src/services/pre-match-automation.ts
  apps/web/app/components/PreMatchSummary.test.tsx
  apps/web/app/components/PreMatchSummary.tsx
  apps/web/app/play-hidden/[id]/page.tsx
  apps/web/public/version.json
  tests/integration/pre-match-automation.test.ts
Labels: web, server

feat: add end-of-match results screen for online matches (C.7)
  TODO.md
  apps/server/src/routes/match.ts
  apps/web/app/components/MatchEndScreen.test.tsx
  apps/web/app/components/MatchEndScreen.tsx
  apps/web/app/play-hidden/[id]/page.tsx
Labels: web, server

chore: update build timestamp
  apps/web/public/version.json
Labels: web

feat: add end-of-match results screen (C.7) (#128)
  TODO.md
  apps/server/src/routes/match.ts
  apps/web/app/components/MatchEndScreen.test.tsx
  apps/web/app/components/MatchEndScreen.tsx
  apps/web/app/play-hidden/[id]/page.tsx
  apps/web/public/version.json
Labels: web, server

feat: auto-forfeit on disconnect > 2 minutes (C.8)
  TODO.md
  apps/server/src/game-rooms.ts
  apps/server/src/services/forfeit-tracker.test.ts
  apps/server/src/services/forfeit-tracker.ts
  apps/server/src/services/game-broadcast.test.ts
  apps/server/src/services/game-broadcast.ts
  apps/web/app/components/ForfeitWarning.tsx
  apps/web/app/play-hidden/[id]/hooks/useGameSocket.ts
  apps/web/app/play-hidden/[id]/hooks/useGameState.ts
  apps/web/app/play-hidden/[id]/page.tsx
Labels: web, server

feat: auto-forfeit on disconnect > 2 minutes (C.8) (#129)
  TODO.md
  apps/server/src/game-rooms.ts
  apps/server/src/services/forfeit-tracker.test.ts
  apps/server/src/services/forfeit-tracker.ts
  apps/server/src/services/game-broadcast.test.ts
  apps/server/src/services/game-broadcast.ts
  apps/web/app/components/ForfeitWarning.tsx
  apps/web/app/play-hidden/[id]/hooks/useGameSocket.ts
  apps/web/app/play-hidden/[id]/hooks/useGameState.ts
  apps/web/app/play-hidden/[id]/page.tsx
Labels: web, server

feat: complete end-of-match with winnings, fan factor & results (B1.8)
  TODO.md
  apps/server/src/routes/match.ts
  apps/server/src/services/move-processor.ts
  apps/web/app/components/MatchEndScreen.tsx
  packages/game-engine/src/core/end-of-match.test.ts
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/types.ts
Labels: game-engine, web, server

chore: update auto-generated build date in version.json
  apps/web/public/version.json
Labels: web

Implement match end winnings and dedicated fans calculation (#130)
  TODO.md
  apps/server/src/routes/match.ts
  apps/server/src/services/move-processor.ts
  apps/web/app/components/MatchEndScreen.tsx
  apps/web/public/version.json
  packages/game-engine/src/core/end-of-match.test.ts
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/types.ts
Labels: game-engine, web, server

feat: configurable turn timer with auto-end turn (B1.10)
  TODO.md
  apps/server/src/services/game-broadcast.ts
  apps/server/src/services/move-processor.ts
  apps/server/src/services/turn-timer-orchestrator.test.ts
  apps/server/src/services/turn-timer-orchestrator.ts
  apps/server/src/services/turn-timer.test.ts
  apps/server/src/services/turn-timer.ts
  apps/web/app/play-hidden/[id]/hooks/useGameSocket.ts
  apps/web/app/play-hidden/[id]/hooks/useGameState.ts
  apps/web/app/play-hidden/[id]/page.tsx
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/rules-config.ts
  packages/game-engine/src/core/turn-timer.test.ts
  packages/game-engine/src/core/types.ts
  packages/ui/src/components/GameScoreboard.tsx
  packages/ui/src/components/TurnTimer.tsx
  packages/ui/src/components/__tests__/TurnTimer.test.tsx
  packages/ui/src/index.tsx
Labels: packages-ui, game-engine, web, server

chore: update build date in version.json
  apps/web/public/version.json
Labels: web

Implement configurable turn timer with auto-end (B1.10) (#131)
  TODO.md
  apps/server/src/services/game-broadcast.ts
  apps/server/src/services/move-processor.ts
  apps/server/src/services/turn-timer-orchestrator.test.ts
  apps/server/src/services/turn-timer-orchestrator.ts
  apps/server/src/services/turn-timer.test.ts
  apps/server/src/services/turn-timer.ts
  apps/web/app/play-hidden/[id]/hooks/useGameSocket.ts
  apps/web/app/play-hidden/[id]/hooks/useGameState.ts
  apps/web/app/play-hidden/[id]/page.tsx
  apps/web/public/version.json
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/rules-config.ts
  packages/game-engine/src/core/turn-timer.test.ts
  packages/game-engine/src/core/types.ts
  packages/ui/src/components/GameScoreboard.tsx
  packages/ui/src/components/TurnTimer.tsx
  packages/ui/src/components/__tests__/TurnTimer.test.tsx
  packages/ui/src/index.tsx
Labels: packages-ui, game-engine, web, server

feat: implement Secret Weapons expulsion at end of drive (B2.5)
  TODO.md
  apps/web/app/play-hidden/[id]/hooks/deriveSetupTurn.test.ts
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/secret-weapons.test.ts
  packages/game-engine/src/mechanics/secret-weapons.ts
Labels: game-engine, web

feat: Secret Weapons expulsion at end of drive (B2.5) (#132)
  TODO.md
  apps/web/app/play-hidden/[id]/hooks/deriveSetupTurn.test.ts
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/secret-weapons.test.ts
  packages/game-engine/src/mechanics/secret-weapons.ts
Labels: game-engine, web

feat: Animosity D6 check before pass/handoff (B2.7)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/animosity.test.ts
  packages/game-engine/src/mechanics/animosity.ts
  packages/game-engine/src/skills/index.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat: implement Animosity mechanic with 5 variants (#133)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/animosity.test.ts
  packages/game-engine/src/mechanics/animosity.ts
  packages/game-engine/src/skills/index.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat: implement Decay skill effect (B2.8)
  TODO.md
  packages/game-engine/src/skills/armor-injury-skills.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

Implement Decay skill (injury modifier +1) (#134)
  TODO.md
  packages/game-engine/src/skills/armor-injury-skills.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat: implement Throw Team-Mate mechanic (B2.4)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/throw-team-mate.test.ts
  packages/game-engine/src/mechanics/throw-team-mate.ts
Labels: game-engine

feat: implement Throw Team-Mate mechanic (B2.4) (#135)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/throw-team-mate.test.ts
  packages/game-engine/src/mechanics/throw-team-mate.ts
Labels: game-engine

feat: implement Hypnotic Gaze special action (B2.9)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/hypnotic-gaze.test.ts
  packages/game-engine/src/mechanics/hypnotic-gaze.ts
  packages/game-engine/src/mechanics/movement.ts
  packages/game-engine/src/mechanics/tackle-zones.ts
Labels: game-engine

feat: implement Hypnotic Gaze special action (B2.9) (#136)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/hypnotic-gaze.test.ts
  packages/game-engine/src/mechanics/hypnotic-gaze.ts
  packages/game-engine/src/mechanics/movement.ts
  packages/game-engine/src/mechanics/tackle-zones.ts
Labels: game-engine

feat: implement Projectile Vomit special action (B2.10)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/projectile-vomit.test.ts
  packages/game-engine/src/mechanics/projectile-vomit.ts
Labels: game-engine

feat: implement Projectile Vomit special action mechanic (#137)
  TODO.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/projectile-vomit.test.ts
  packages/game-engine/src/mechanics/projectile-vomit.ts
Labels: game-engine

feat: add push notification infrastructure (G.1 + G.2)
  TODO.md
  apps/server/package.json
  apps/server/src/index.ts
  apps/server/src/routes/matchmaking.ts
  apps/server/src/routes/push.ts
  apps/server/src/schemas/push.schemas.ts
  apps/server/src/services/move-processor.ts
  apps/server/src/services/push-notifications.test.ts
  apps/server/src/services/push-notifications.ts
  apps/web/app/hooks/usePushNotifications.ts
  apps/web/public/sw.js
  pnpm-lock.yaml
Labels: web, server

chore: update auto-generated version.json
  apps/web/public/version.json
Labels: web

feat: add push notification infrastructure (G.1 + G.2) (#138)
  TODO.md
  apps/server/package.json
  apps/server/src/index.ts
  apps/server/src/routes/matchmaking.ts
  apps/server/src/routes/push.ts
  apps/server/src/schemas/push.schemas.ts
  apps/server/src/services/move-processor.ts
  apps/server/src/services/push-notifications.test.ts
  apps/server/src/services/push-notifications.ts
  apps/web/app/hooks/usePushNotifications.ts
  apps/web/public/sw.js
  apps/web/public/version.json
  pnpm-lock.yaml
Labels: web, server

feat: integrate smart "C'est votre tour" push notification (G.3)
  TODO.md
  apps/server/src/game-rooms.ts
  apps/server/src/services/connected-users.ts
  apps/server/src/services/move-processor.ts
  apps/server/src/services/turn-push-delivery.test.ts
Labels: server

chore: update version.json build date
  apps/web/public/version.json
Labels: web

feat: smart "C'est votre tour" push notification (G.3) (#139)
  TODO.md
  apps/server/src/game-rooms.ts
  apps/server/src/services/connected-users.ts
  apps/server/src/services/move-processor.ts
  apps/server/src/services/turn-push-delivery.test.ts
  apps/web/public/version.json
Labels: web, server

feat: smart "Match trouvé" push notification (G.4)
  TODO.md
  apps/server/src/routes/matchmaking.ts
  apps/server/src/services/match-found-notify.test.ts
  apps/server/src/services/match-found-notify.ts
  apps/server/src/services/push-notifications.test.ts
Labels: server

chore: update version.json build date
  apps/web/public/version.json
Labels: web

feat: smart "Match trouvé" push notification (G.4) (#140)
  TODO.md
  apps/server/src/routes/matchmaking.ts
  apps/server/src/services/match-found-notify.test.ts
  apps/server/src/services/match-found-notify.ts
  apps/server/src/services/push-notifications.test.ts
  apps/web/public/version.json
Labels: web, server
