Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

feat(D.7): add treasury-based purchases between matches (#82)
  TODO.md
  apps/server/src/routes/team.ts
  apps/server/src/schemas/team.schemas.ts
  apps/web/app/me/teams/[id]/edit/page.tsx
  apps/web/app/me/teams/components/TreasuryPurchasePanel.tsx
  packages/game-engine/src/utils/team-purchase.test.ts
Labels: game-engine, web, server

feat(A.1): install socket.io and attach to Express HTTP server
  TODO.md
  apps/server/package.json
  apps/server/src/index.ts
  apps/server/src/socket.test.ts
  apps/server/src/socket.ts
  pnpm-lock.yaml
Labels: server

chore(release): 1.41.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  4beeece8104298007bf12f64d06aff8d5337d83c
Labels: none

docs: audit roadmap, update statuses, reprioritize and add quick wins
  TODO.md
Labels: none

feat(QW.1): wire D.5/D.6/D.8 into online match routes
  TODO.md
  apps/server/src/routes/match.ts
  apps/server/src/services/match-start.ts
  tests/integration/match-start.unit.test.ts
Labels: server

feat(QW.1): wire D.5/D.6/D.8 into online match routes (#85)
  TODO.md
  apps/server/src/routes/match.ts
  apps/server/src/services/match-start.ts
  tests/integration/match-start.unit.test.ts
Labels: server

feat(A.2): create game rooms by matchId via socket.io
  TODO.md
  apps/server/src/game-rooms.test.ts
  apps/server/src/game-rooms.ts
  apps/server/src/socket.ts
Labels: server

feat(QW.2): wire PostMatchSPP into online match flow
  TODO.md
  apps/web/app/components/PostMatchSPP.tsx
  apps/web/app/local-matches/[id]/PostMatchSPP.tsx
  apps/web/app/play-hidden/[id]/hooks/useGameState.ts
  apps/web/app/play-hidden/[id]/page.tsx
Labels: web

feat(A.2): create game rooms by matchId via socket.io (#87)
  TODO.md
  apps/server/src/game-rooms.test.ts
  apps/server/src/game-rooms.ts
  apps/server/src/socket.ts
Labels: server

chore(release): 1.42.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  4ae55bf71582c21879e53b9fc50d9b523aa5bbf7
Labels: none

feat(QW.1): wire D.5/D.6/D.8 into online match routes
  apps/server/src/routes/match.ts
Labels: server

fix: resolve merge conflicts with main for PR #86
  apps/server/src/routes/match.ts
Labels: server

Notes added by 'git notes add'
  bdf422999c2b90304ea2995bb75761e32c3696f2
Labels: none

chore(release): 1.43.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

feat(A.3): authenticate WebSocket connections via JWT
  TODO.md
  apps/server/src/game-rooms.ts
  apps/server/src/middleware/authSocket.ts
  apps/server/src/socket.ts
  pnpm-lock.yaml
  tests/auth-socket.test.ts
  tests/package.json
Labels: server

feat(server): integrate socket.io for real-time WebSocket support (task 2.6)
  apps/server/package.json
  apps/server/src/index.ts
  apps/server/src/routes/match.ts
  apps/server/src/socket.test.ts
  apps/server/src/socket.ts
  apps/server/vitest.config.ts
  pnpm-lock.yaml
  tests/integration/package.json
  tests/integration/websocket.test.ts
Labels: server

feat(A.3): add JWT authentication middleware for WebSocket connections
  TODO.md
  apps/server/src/game-rooms.test.ts
  apps/server/src/middleware/authSocket.test.ts
  apps/server/src/middleware/authSocket.ts
  apps/server/src/socket.test.ts
  apps/server/src/socket.ts
Labels: server

chore(release): 1.44.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  7cb341e784c5410484e09fa94422c59a0b1d1127
Labels: none

perf: improve website performance across images, fonts, API calls, and caching
  apps/web/app/api/public-positions/route.ts
  apps/web/app/api/public-rosters/route.ts
  apps/web/app/api/public-skills/route.ts
  apps/web/app/api/rosters/[slug]/route.ts
  apps/web/app/api/rosters/route.ts
  apps/web/app/components/ImageCarousel.tsx
  apps/web/app/components/Logo.tsx
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/app/teams/page.tsx
  apps/web/public/images/bb_dice_sides.webp
  apps/web/public/images/export-pdf.webp
  apps/web/public/images/favicon-optimized.png
  apps/web/public/images/favicon.webp
  apps/web/public/images/logo.webp
  apps/web/public/images/rosters.webp
  apps/web/public/images/star-players.webp
  apps/web/tailwind.config.ts
Labels: web

chore(release): 1.44.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  3e8719f6e45090b999592592838ca7ca7562c814
Labels: none

docs: update roadmap with full audit findings (2026-04-02)
  TODO.md
  docs/roadmap/audit-report.md
  docs/roadmap/phases.md
  docs/roadmap/sprint-0.md
Labels: none

fix: sprint 0 — critical bugfixes and security hardening
  apps/server/src/game-rooms.ts
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/mechanics/blocking.ts
Labels: game-engine, server

test: update dodge failure tests to match BUG-1 armor roll fix
  packages/game-engine/src/mechanics/movement.test.ts
Labels: game-engine

fix: crowd injury now promotes stunned to KO (BB3 rules)
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/mechanics/injury.ts
Labels: game-engine

fix: use const for resultState in blocking.ts (lint error)
  packages/game-engine/src/mechanics/blocking.ts
Labels: game-engine

chore(release): 1.44.2 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  2155f5cb868482f236d0bf6388dce4071cc5231d
Labels: none

feat: wire skill-registry into game engine via skill-bridge (B0.1)
  TODO.md
  docs/ROADMAP_DONE.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/skills/skill-bridge.test.ts
  packages/game-engine/src/skills/skill-bridge.ts
Labels: game-engine

chore(release): 1.45.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  813c1e7fa32c509cfe48478b358233e545c9eea6
Labels: none

feat: broadcast gameState via WebSocket after each action (A.4)
  TODO.md
  apps/server/src/routes/match.ts
  apps/server/src/services/game-broadcast.test.ts
  apps/server/src/services/game-broadcast.ts
  docs/ROADMAP_DONE.md
Labels: server

chore(release): 1.46.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  1fb211eebc7c7be40d83ab5df109e456c67e2bcc
Labels: none

feat: add useGameSocket hook for real-time WebSocket updates (A.5)
  TODO.md
  apps/web/app/play-hidden/[id]/hooks/useGameSocket.test.ts
  apps/web/app/play-hidden/[id]/hooks/useGameSocket.ts
  apps/web/app/play-hidden/[id]/hooks/useGameState.ts
  apps/web/package.json
  apps/web/vitest.config.ts
  docs/ROADMAP_DONE.md
  pnpm-lock.yaml
Labels: web

chore: update auto-generated version.json
  apps/web/public/version.json
Labels: web

docs: review agents and prompt, add 2 missing specialized agents
  .claude/commands/skill-system-agent.md
  .claude/commands/turn-sequence-agent.md
  docs/PROMPT_REVIEW.md
Labels: none

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
