Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

feat(teams): fiche positionnel enrichie (visuel, lore, edition affichee)
  apps/web/app/teams/[slug]/[position]/page.test.ts
  apps/web/app/teams/[slug]/[position]/page.tsx
  apps/web/app/teams/position-detail-structured-data.test.ts
  apps/web/app/teams/position-detail-structured-data.ts
  apps/web/package.json
  pnpm-lock.yaml
Labels: web

feat(teams): remonter les classements de positions au-dessus de la pliure
  apps/web/app/teams/positions/PositionKeywordBrowser.test.tsx
  apps/web/app/teams/positions/PositionKeywordBrowser.tsx
  apps/web/app/teams/positions/page.tsx
Labels: web

feat(teams): rendre visibles les outils du catalogue (comparateurs, etudes)
  apps/web/app/components/Footer.tsx
  apps/web/app/components/Header.tsx
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/teams/CatalogToolsBar.test.tsx
  apps/web/app/teams/CatalogToolsBar.tsx
  apps/web/app/teams/TeamsListClient.tsx
  apps/web/app/teams/[slug]/TeamDetailClient.tsx
  apps/web/app/teams/[slug]/[position]/page.test.ts
  apps/web/app/teams/[slug]/[position]/page.tsx
  apps/web/app/teams/comparer/RosterComparatorClient.tsx
  apps/web/app/teams/positions/comparer/PositionComparatorClient.test.tsx
  apps/web/app/teams/positions/comparer/PositionComparatorClient.tsx
  apps/web/app/teams/positions/page.tsx
  apps/web/app/teams/tier-list/page.tsx
Labels: web

docs(changeset): contenu des positionnels, portraits de cartes et outils du catalogue
  .changeset/positions-contenu-outils-cartes.md
Labels: none

chore(db): regenerer le client Prisma SQLite apres l'ajout du contenu editorial
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
Labels: server

fix(server): resoudre Ligues, reglements et paires en base (lot 1)
  apps/server/src/routes/team-build-handler.ts
  apps/server/src/routes/team-create-from-roster-handler.ts
  apps/server/src/routes/team-player-skills-handler.ts
  apps/server/src/routes/team-star-player-handlers.ts
  apps/server/src/routes/team-star-player-hire-handler.ts
  apps/server/src/services/commissioner-team-settings.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/team-advancement-editing.test.ts
  apps/server/src/services/team-advancement-editing.ts
  apps/server/src/utils/roster-helpers.ts
  apps/server/src/utils/star-player-validation.ts
Labels: server

docs: lot 6 — arbitrages et spécification du modèle de données « base d'abord »
  docs/audit-statique-vs-bdd-2026-08-27.md
  docs/lot6-modele-de-donnees-2026-08-27.md
Labels: none

fix(server): progression equipe libre alignee sur le chemin ligue (lot 2)
  apps/server/src/routes/team-player-skills-handler.test.ts
  apps/server/src/routes/team-player-skills-handler.ts
  apps/server/src/routes/team-player-skills-pool.test.ts
  apps/server/src/services/post-match-league-sequence.ts
  apps/server/src/services/random-primary-pool.test.ts
  apps/server/src/services/random-primary-pool.ts
  packages/game-engine/src/skills/random-skill-table-2025.ts
Labels: game-engine, server

docs(lot6): db push sans backfill, un change OpenSpec par sous-lot
  docs/lot6-modele-de-donnees-2026-08-27.md
Labels: none

fix(web): ne pas écraser la Ligue régionale choisie au rechargement des rosters
  apps/web/app/me/teams/new/page.regional-league.test.tsx
  apps/web/app/me/teams/new/page.tsx
Labels: web

chore(release): 1.238.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  3f1765400e088d8c23a433abea5092464c80f3e3
Labels: none

fix(server): couts, journaliers et regles de feuille lus en base (lot 3)
  apps/server/src/routes/league-roster-view.test.ts
  apps/server/src/routes/league.ts
  apps/server/src/routes/team-player-handlers.ts
  apps/server/src/routes/team-star-player-handlers.ts
  apps/server/src/routes/team-star-player-hire-handler.test.ts
  apps/server/src/routes/team-star-player-hire-handler.ts
  apps/server/src/routes/team.test.ts
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-sheet-journeymen.test.ts
  apps/server/src/services/league-sheet-journeymen.ts
  apps/server/src/utils/team-values-player-cost.test.ts
  apps/server/src/utils/team-values.ts
Labels: server

fix(server): contexte reel de coups de pouce en match en ligne et local (lot 4)
  apps/server/src/routes/local-match.ts
  apps/server/src/services/inducement-context.test.ts
  apps/server/src/services/inducement-context.ts
  apps/server/src/services/inducement-processor.ts
  packages/game-engine/src/core/inducements.test.ts
  packages/game-engine/src/core/inducements.ts
Labels: game-engine, server

fix(web): front web servi par la base plutot que par le catalogue (lot 5)
  apps/server/src/routes/team-player-handlers.ts
  apps/web/app/a-propos/page.tsx
  apps/web/app/components/RosterBadge.tsx
  apps/web/app/components/StarPlayerCard.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/RosterSection.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/SheetAdvancementsEditor.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
  apps/web/app/lib/roster-catalog.test.ts
  apps/web/app/lib/roster-catalog.ts
  apps/web/app/lib/skill-access.test.ts
  apps/web/app/lib/skill-access.ts
  apps/web/app/ligues/[slug]/page.tsx
  apps/web/app/ligues/data.test.ts
  apps/web/app/ligues/data.ts
  apps/web/app/ligues/page.tsx
  apps/web/app/me/teams/[id]/edit/page.tsx
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/me/teams/[id]/roster-skill-access.test.ts
  apps/web/app/me/teams/[id]/roster-skill-access.ts
  apps/web/app/me/teams/components/SkillTooltip.test.tsx
  apps/web/app/me/teams/components/SkillTooltip.tsx
  apps/web/app/me/teams/new/page.tsx
  apps/web/app/me/teams/skills-data.ts
  apps/web/app/me/teams/use-skills-cache.ts
  apps/web/app/me/teams/utils/exportPDF.ts
  apps/web/app/skills/opengraph-image.tsx
  apps/web/app/star-players/StarPlayersClient.tsx
  apps/web/app/star-players/[slug]/card/route.ts
  apps/web/app/star-players/[slug]/page.tsx
  apps/web/app/star-players/[slug]/plays-for.ts
  apps/web/app/teams/[slug]/TeamDetailClient.tsx
Labels: web, server

chore: changeset audit statique vs base (lots 1-5)
  .changeset/audit-statique-vs-base-lots-1-5.md
Labels: none

fix(web): le budget Sevens ne prend pas le budget BB11 du roster
  apps/web/app/me/teams/new/default-budget.test.ts
  apps/web/app/me/teams/new/default-budget.ts
  apps/web/app/me/teams/new/page.tsx
Labels: web

chore(release): 1.238.2 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  735c44d4afd8b79787868e5c73a3dd989123ac61
Labels: none

feat(data): lot 6a — colonnes de catalogue servies par la base
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/constants/allowed-teams.test.ts
  apps/server/src/constants/allowed-teams.ts
  apps/server/src/routes/public-positions.ts
  apps/server/src/routes/public-rosters.ts
  apps/server/src/routes/star-players.ts
  apps/server/src/routes/team-build-handler.ts
  apps/server/src/routes/team-create-from-roster-handler.ts
  apps/server/src/routes/team-readonly-handlers.ts
  apps/server/src/routes/team-star-player-handlers.ts
  apps/server/src/routes/team-star-player-hire-handler.ts
  apps/server/src/seed.ts
  apps/server/src/seeders/sync-catalogue-columns.test.ts
  apps/server/src/seeders/sync-catalogue-columns.ts
  apps/server/src/services/roster-catalogue.test.ts
  apps/server/src/services/roster-catalogue.ts
  apps/server/src/utils/roster-helpers.ts
  apps/server/src/utils/star-player-pairs.test.ts
  apps/server/src/utils/star-player-repository.ts
  apps/server/src/utils/star-player-validation.ts
  apps/web/app/admin/data/skills/[id]/edit/page.tsx
  apps/web/app/admin/data/skills/new/page.tsx
  apps/web/app/admin/data/skills/page.tsx
  apps/web/app/me/teams/new/default-budget.ts
  apps/web/app/me/teams/new/page.tsx
  apps/web/app/skills/SkillsClient.tsx
  packages/game-engine/src/index.ts
  packages/game-engine/src/rosters/formats.test.ts
  packages/game-engine/src/rosters/formats.ts
  packages/game-engine/src/rosters/index.ts
  packages/game-engine/src/skills/index.ts
  packages/game-engine/src/skills/star-player-rules.ts
  prisma/schema.prisma
Labels: game-engine, web, server

feat(data): lot 6b — règles spéciales et Ligues régionales servies par la base
  apps/server/src/index.ts
  apps/server/src/routes/admin-team-rules.test.ts
  apps/server/src/routes/admin-team-rules.ts
  apps/server/src/routes/league.ts
  apps/server/src/routes/public-rosters.ts
  apps/server/src/routes/team-build-handler.ts
  apps/server/src/routes/team-create-from-roster-handler.ts
  apps/server/src/seed.ts
  apps/server/src/seeders/sync-team-rules.test.ts
  apps/server/src/seeders/sync-team-rules.ts
  apps/server/src/services/commissioner-team-settings.ts
  apps/server/src/services/team-regional-league.ts
  apps/server/src/services/team-rules-catalogue.test.ts
  apps/server/src/services/team-rules-catalogue.ts
  apps/server/src/services/team-special-rules.ts
  apps/server/src/utils/roster-helpers.ts
  apps/web/app/admin/data/_components/SlugCheckboxGrid.tsx
  apps/web/app/admin/data/_components/TeamRuleCatalogueAdmin.tsx
  apps/web/app/admin/data/_components/useTeamRuleCatalogues.ts
  apps/web/app/admin/data/regional-leagues/page.tsx
  apps/web/app/admin/data/rosters/[id]/edit/page.tsx
  apps/web/app/admin/data/rosters/[id]/page.tsx
  apps/web/app/admin/data/rosters/new/page.tsx
  apps/web/app/admin/data/special-rules/page.tsx
  apps/web/app/admin/page.tsx
Labels: web, server

feat(data): lot 6c — catalogue des coups de pouce en base
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/routes/admin-inducements.test.ts
  apps/server/src/routes/admin-inducements.ts
  apps/server/src/routes/local-match.ts
  apps/server/src/seed.ts
  apps/server/src/seeders/sync-inducements.test.ts
  apps/server/src/seeders/sync-inducements.ts
  apps/server/src/services/inducement-context.test.ts
  apps/server/src/services/inducement-context.ts
  apps/server/src/services/inducement-repository.test.ts
  apps/server/src/services/inducement-repository.ts
  apps/server/src/services/league-match-sheet.ts
  apps/web/app/admin/data/inducements/page.tsx
  apps/web/app/admin/page.tsx
  apps/web/app/components/InducementSelector.tsx
  packages/game-engine/src/core/inducements.test.ts
  packages/game-engine/src/core/inducements.ts
  packages/game-engine/src/index.ts
  prisma/schema.prisma
Labels: game-engine, web, server

feat(data): lot 6d — barème d'avancement en base, par édition
  CLAUDE.md
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/routes/admin-advancement-costs.test.ts
  apps/server/src/routes/admin-advancement-costs.ts
  apps/server/src/routes/league.ts
  apps/server/src/routes/team-advancement.ts
  apps/server/src/routes/team-player-skills-handler.ts
  apps/server/src/seed.ts
  apps/server/src/seeders/sync-advancement-costs.test.ts
  apps/server/src/seeders/sync-advancement-costs.ts
  apps/server/src/services/advancement-schedule-repository.test.ts
  apps/server/src/services/advancement-schedule-repository.ts
  apps/server/src/services/commissioner-team-edit.ts
  apps/server/src/services/cup-build-advancements.ts
  apps/server/src/services/cup-registration.ts
  apps/server/src/services/cup-rules.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-sheet-advancements.ts
  apps/server/src/services/post-match-league-sequence.ts
  apps/server/src/services/team-advancement-editing.ts
  apps/server/src/utils/team-values.ts
  apps/web/app/admin/data/advancement-costs/page.tsx
  apps/web/app/admin/page.tsx
  docs/audit-statique-vs-bdd-2026-08-27.md
  docs/lot6-modele-de-donnees-2026-08-27.md
  packages/game-engine/src/index.ts
  packages/game-engine/src/utils/advancements.test.ts
  packages/game-engine/src/utils/advancements.ts
  prisma/schema.prisma
Labels: game-engine, web, server

feat(team): permettre le renommage d'une équipe après la création
  apps/server/src/routes/team-rename-handler.test.ts
  apps/server/src/routes/team-rename-handler.ts
  apps/server/src/routes/team.ts
  apps/server/src/schemas/team.schemas.ts
  apps/server/src/services/team-audit-read.ts
  apps/server/src/services/team-rename.test.ts
  apps/server/src/services/team-rename.ts
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/me/teams/[id]/TeamNameInlineEdit.test.tsx
  apps/web/app/me/teams/[id]/TeamNameInlineEdit.tsx
  apps/web/app/me/teams/[id]/page.tsx
  openspec/changes/add-team-rename/design.md
  openspec/changes/add-team-rename/proposal.md
  openspec/changes/add-team-rename/specs/team-rename/spec.md
  openspec/changes/add-team-rename/tasks.md
Labels: web, server

docs(changeset): lot 6 — modèle de données « base d'abord »
  .changeset/audit-statique-vs-base-lot-6.md
  apps/web/public/version.json
Labels: web

docs: changeset du renommage d'équipe
  .changeset/renommage-equipe-apres-creation.md
Labels: none

chore(db): régénère le client Prisma SQLite (lot 6)
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
Labels: server

refactor(server): lecture tolérante du barème depuis l'équipe
  apps/server/src/services/post-match-league-sequence.ts
Labels: server

Renommer son équipe après la création, même engagée en compétition (#992)
  .changeset/renommage-equipe-apres-creation.md
  apps/server/src/routes/team-rename-handler.test.ts
  apps/server/src/routes/team-rename-handler.ts
  apps/server/src/routes/team.ts
  apps/server/src/schemas/team.schemas.ts
  apps/server/src/services/team-audit-read.ts
  apps/server/src/services/team-rename.test.ts
  apps/server/src/services/team-rename.ts
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/me/teams/[id]/TeamNameInlineEdit.test.tsx
  apps/web/app/me/teams/[id]/TeamNameInlineEdit.tsx
  apps/web/app/me/teams/[id]/page.tsx
  openspec/changes/add-team-rename/design.md
  openspec/changes/add-team-rename/proposal.md
  openspec/changes/add-team-rename/specs/team-rename/spec.md
  openspec/changes/add-team-rename/tasks.md
Labels: web, server

chore(release): 1.239.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  9284ebe0a1a7aa8587de328baae4428a09618acc
Labels: none

feat(admin): masque les équipes supprimées de la liste par défaut
  apps/server/src/routes/admin.ts
  apps/server/src/schemas/admin.schemas.ts
  apps/server/src/services/admin-teams-list.test.ts
  apps/server/src/services/admin-teams-list.ts
Labels: server

feat(admin): soft delete réversible et restauration d'une équipe
  apps/server/src/routes/admin-team-soft-delete.test.ts
  apps/server/src/routes/admin.ts
  apps/server/src/services/team-delete.test.ts
  apps/server/src/services/team-delete.ts
Labels: server

feat(admin): filtre « supprimées » et restauration dans la console équipes
  apps/web/app/admin/teams/[id]/page.test.tsx
  apps/web/app/admin/teams/[id]/page.tsx
  apps/web/app/admin/teams/page.test.tsx
  apps/web/app/admin/teams/page.tsx
Labels: web

feat(team): un admin peut éditer n'importe quelle équipe
  apps/server/src/routes/team-admin-edit-access.test.ts
  apps/server/src/routes/team-mutation-handlers.ts
  apps/server/src/routes/team-player-handlers.ts
  apps/server/src/routes/team-roster-save-handler.ts
  apps/server/src/routes/team-selection-handlers.ts
  apps/server/src/routes/team-star-player-handlers.ts
  apps/server/src/routes/team-star-player-hire-handler.ts
  apps/server/src/services/team-edit-access.test.ts
  apps/server/src/services/team-edit-access.ts
Labels: server

feat(admin): page d'édition d'une équipe (positions, Star Players, coups de pouce)
  apps/web/app/admin/teams/[id]/edit/PositionsEditor.tsx
  apps/web/app/admin/teams/[id]/edit/page.test.tsx
  apps/web/app/admin/teams/[id]/edit/page.tsx
  apps/web/app/admin/teams/[id]/edit/roster-positions.test.ts
  apps/web/app/admin/teams/[id]/edit/roster-positions.ts
  apps/web/app/admin/teams/[id]/page.test.tsx
  apps/web/app/admin/teams/[id]/page.tsx
Labels: web

docs(changeset): console admin des équipes — supprimées, restauration, édition
  .changeset/admin-equipes-supprimees-et-edition.md
Labels: none

Console admin des équipes : masquer les supprimées, les restaurer, et éditer une équipe (#993)
  .changeset/admin-equipes-supprimees-et-edition.md
  apps/server/src/routes/admin-team-soft-delete.test.ts
  apps/server/src/routes/admin.ts
  apps/server/src/routes/team-admin-edit-access.test.ts
  apps/server/src/routes/team-mutation-handlers.ts
  apps/server/src/routes/team-player-handlers.ts
  apps/server/src/routes/team-roster-save-handler.ts
  apps/server/src/routes/team-selection-handlers.ts
  apps/server/src/routes/team-star-player-handlers.ts
  apps/server/src/routes/team-star-player-hire-handler.ts
  apps/server/src/schemas/admin.schemas.ts
  apps/server/src/services/admin-teams-list.test.ts
  apps/server/src/services/admin-teams-list.ts
  apps/server/src/services/team-delete.test.ts
  apps/server/src/services/team-delete.ts
  apps/server/src/services/team-edit-access.test.ts
  apps/server/src/services/team-edit-access.ts
  apps/web/app/admin/teams/[id]/edit/PositionsEditor.tsx
  apps/web/app/admin/teams/[id]/edit/page.test.tsx
  apps/web/app/admin/teams/[id]/edit/page.tsx
  apps/web/app/admin/teams/[id]/edit/roster-positions.test.ts
  apps/web/app/admin/teams/[id]/edit/roster-positions.ts
  apps/web/app/admin/teams/[id]/page.test.tsx
  apps/web/app/admin/teams/[id]/page.tsx
  apps/web/app/admin/teams/page.test.tsx
  apps/web/app/admin/teams/page.tsx
Labels: web, server

fix(league): retirer le joueur mort du roster dès la fin de match
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/player-status.test.ts
  apps/server/src/services/player-status.ts
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/me/teams/[id]/roster-players.test.ts
  apps/web/app/me/teams/[id]/roster-players.ts
Labels: web, server

feat(league): restituer le jet de Haine (X) et son attribution à l'écran
  .changeset/haine-restitution-jets.md
  apps/server/src/routes/public-skills.ts
  apps/server/src/services/league-hate-trait.test.ts
  apps/server/src/services/league-hate-trait.ts
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-offline-result.test.ts
  apps/server/src/services/league-offline-result.ts
  apps/server/src/utils/skills-cache.ts
  apps/web/app/leagues/pairings/[id]/sheet/_components/HateRollsRecap.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/HateRollsRecap.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/SheetAdvancementsEditor.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
  docs/hate-trait-acquisition.md
Labels: web, server

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
