Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

feat: enhance deployment commands and improve game state handling
  apps/server/package.json
  apps/server/src/routes/admin.ts
  apps/server/src/routes/cup.ts
  apps/server/src/routes/match.ts
  apps/server/src/routes/public-positions.ts
  apps/server/src/routes/public-rosters.ts
  apps/server/src/routes/star-players.ts
  apps/server/src/routes/team.ts
  apps/server/src/services/match-start.ts
  apps/server/src/utils/roster-helpers.ts
  apps/server/src/utils/team-values.ts
  apps/web/app/admin/data/star-players/page.tsx
  apps/web/app/cups/[id]/page.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/local-matches/share/[token]/page.tsx
  apps/web/app/me/teams/new/page.tsx
  apps/web/app/me/teams/skills-data.ts
  apps/web/app/play/page.tsx
  apps/web/app/teams/[slug]/page.tsx
  apps/web/tsconfig.json
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Labels: packages-ui, web, server

chore(release): 1.35.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  d48e58da538c1de0d193def086c41845c158f7d1
Labels: none

feat: enhance deployment commands and improve game state handling
  packages/game-engine/package.json
  packages/game-engine/src/core/core-functions.test.js
  packages/game-engine/src/core/debug-los-positions.test.js
  packages/game-engine/src/core/debug-multiple-placement.test.js
  packages/game-engine/src/core/debug-overlap.test.js
  packages/game-engine/src/core/debug-placement.test.js
  packages/game-engine/src/core/debug-setup.test.js
  packages/game-engine/src/core/kickoff-button-logic-fixed.test.js
  packages/game-engine/src/core/kickoff-button-logic.test.js
  packages/game-engine/src/core/player-placement-validation.test.js
  packages/game-engine/src/core/pre-match-complete-simulation-fixed.test.js
  packages/game-engine/src/core/pre-match-complete-simulation-fixed.test.ts.bak
  packages/game-engine/src/core/pre-match-complete-simulation.test.js
  packages/game-engine/src/core/pre-match-sequence.test.js
  packages/game-engine/src/core/setup-modal-prevention.test.js
  packages/game-engine/src/core/simple-import.test.js
  packages/game-engine/src/core/validate-player-placement.test.js
  packages/game-engine/vitest.config.ts
  packages/ui/src/components/TeamDugout.tsx
  packages/ui/src/components/__tests__/GameBoardWithDugouts.test.tsx
  packages/ui/src/components/__tests__/GameScoreboard.test.tsx
  packages/ui/src/components/__tests__/TeamDugout.test.tsx
  packages/ui/src/tests/DiceNotification.test.tsx
  packages/ui/vitest.config.ts
  pnpm-lock.yaml
  tests/game-engine/armor-injury-rolls.test.ts
  tests/game-engine/blitz-continuation-bug.test.ts
  tests/game-engine/blitz.test.ts
  tests/game-engine/blocking.test.ts
  tests/game-engine/movement.test.ts
  tests/game-engine/turnover-detection.test.ts
  tests/integration/match-start.unit.test.ts
  tests/package.json
  tests/ui/BlockDiceIcon.test.tsx
  tests/ui/active-team-display.test.tsx
  tests/vitest-setup.ts
  tests/vitest.config.ts
Labels: packages-ui, game-engine

Notes added by 'git notes add'
  b93da0f6ba2e281f992a283871f71cf717b09b58
Labels: none

chore(release): 1.36.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

fix: player setup flow - persist state between turns and clean up UI
  apps/server/src/routes/match.ts
  apps/web/app/play-hidden/[id]/page.tsx
Labels: web, server

Refactor setup phase: remove client-side logic, rely on backend (#51)
  apps/server/src/routes/match.ts
  apps/web/app/play-hidden/[id]/page.tsx
Labels: web, server

fix: add postinstall script to generate Prisma client for typecheck
  apps/server/package.json
Labels: server

fix: handle missing prisma schema in postinstall and add checks permission to auto-merge
  .github/workflows/auto-merge.yml
  apps/server/package.json
Labels: server

Notes added by 'git notes add'
  b5821384eb6094c6db912e0bd6f4d0d63eab211b
Labels: none

chore(release): 1.36.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

feat: add 10 specialized Claude Code agents for project development
  .claude/commands/ai-opponent-agent.md
  .claude/commands/api-security-agent.md
  .claude/commands/devops-infrastructure-agent.md
  .claude/commands/expo-mobile-agent.md
  .claude/commands/game-state-integration-agent.md
  .claude/commands/nextjs-frontend-agent.md
  .claude/commands/pixi-renderer-agent.md
  .claude/commands/prisma-database-agent.md
  .claude/commands/testing-quality-agent.md
  .claude/commands/websocket-multiplayer-agent.md
Labels: none

docs: add comprehensive agent guides for all development roles (#53)
  .claude/commands/ai-opponent-agent.md
  .claude/commands/api-security-agent.md
  .claude/commands/devops-infrastructure-agent.md
  .claude/commands/expo-mobile-agent.md
  .claude/commands/game-state-integration-agent.md
  .claude/commands/nextjs-frontend-agent.md
  .claude/commands/pixi-renderer-agent.md
  .claude/commands/prisma-database-agent.md
  .claude/commands/testing-quality-agent.md
  .claude/commands/websocket-multiplayer-agent.md
Labels: none

refactor: reorganize roadmap into DONE archive and prioritized TODO backlog
  ROADMAP_DONE.md
  TODO.md
Labels: none

refactor: reorganize roadmap into DONE archive and prioritized TODO backlog (#54)
  ROADMAP_DONE.md
  TODO.md
Labels: none

feat(server): add rate limiting on auth and API routes
  ROADMAP_DONE.md
  TODO.md
  apps/server/package.json
  apps/server/src/index.ts
  apps/server/src/middleware/rateLimiter.ts
  pnpm-lock.yaml
Labels: server

chore(release): 1.37.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  f4dfc50bb3ce5139fae8a43fee36d127b9b9020b
Labels: none

feat(server): add rate limiting on auth and API routes
  ROADMAP_DONE.md
  TODO.md
  apps/server/package.json
  apps/server/src/index.ts
  apps/server/src/middleware/rateLimiter.ts
  apps/server/src/routes/auth.ts
  pnpm-lock.yaml
Labels: server

feat(ui): add board zoom/pan/reset and opponent turn indicator
  ROADMAP_DONE.md
  TODO.md
  packages/ui/src/board/PixiBoard.tsx
  packages/ui/src/components/GameScoreboard.tsx
Labels: packages-ui

chore(release): 1.38.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  438a323f3973fb637ab9367d38c2211e898e3ab7
Labels: none

feat: tackle zone heatmap overlay + Zod input validation (P1 complete)
  ROADMAP_DONE.md
  TODO.md
  apps/server/package.json
  apps/server/src/middleware/validate.ts
  apps/server/src/routes/auth.ts
  apps/server/src/routes/match.ts
  apps/server/src/routes/team.ts
  apps/server/src/schemas/auth.schemas.ts
  apps/server/src/schemas/match.schemas.ts
  apps/server/src/schemas/team.schemas.ts
  packages/ui/src/board/PixiBoard.tsx
  packages/ui/src/components/GameBoardWithDugouts.tsx
  pnpm-lock.yaml
Labels: packages-ui, server

feat(mobile): add register screen with form validation and API integration
  TODO.md
  apps/mobile/app/_layout.tsx
  apps/mobile/app/login.tsx
  apps/mobile/app/register.tsx
  apps/mobile/lib/api.ts
Labels: mobile

feat(mobile): add login screen with SecureStore token storage
  TODO.md
  apps/mobile/app/_layout.tsx
  apps/mobile/app/login.tsx
  apps/mobile/lib/api.ts
  apps/mobile/lib/auth.ts
  apps/mobile/package.json
Labels: mobile

feat: tackle zone heatmap overlay + Zod input validation (P1 complete) (#58)
  ROADMAP_DONE.md
  TODO.md
  apps/server/package.json
  apps/server/src/middleware/validate.ts
  apps/server/src/routes/auth.ts
  apps/server/src/routes/match.ts
  apps/server/src/routes/team.ts
  apps/server/src/schemas/auth.schemas.ts
  apps/server/src/schemas/match.schemas.ts
  apps/server/src/schemas/team.schemas.ts
  packages/ui/src/board/PixiBoard.tsx
  packages/ui/src/components/GameBoardWithDugouts.tsx
  pnpm-lock.yaml
Labels: packages-ui, server

feat(mobile): add register screen (task 4.2) (#59)
  TODO.md
  apps/mobile/app/_layout.tsx
  apps/mobile/app/login.tsx
  apps/mobile/app/register.tsx
  apps/mobile/lib/api.ts
Labels: mobile

fix(ci): update pnpm-lock.yaml for expo-secure-store dependency
  pnpm-lock.yaml
Labels: none

feat(mobile): implement login screen with SecureStore token storage (task 4.1)
  apps/mobile/app/login.tsx
  apps/mobile/lib/auth.ts
  apps/mobile/package.json
Labels: mobile

feat(mobile): add login screen (task 4.1) (#60)
  TODO.md
  apps/mobile/app/login.tsx
  apps/mobile/lib/api.ts
  apps/mobile/lib/auth.ts
  apps/mobile/package.json
  pnpm-lock.yaml
Labels: mobile

feat(mobile): implement login screen with SecureStore auth (task 4.1)
  apps/mobile/app/_layout.tsx
  apps/mobile/app/login.tsx
  apps/mobile/lib/api.ts
  apps/mobile/lib/auth-context.tsx
  apps/mobile/lib/auth.ts
Labels: mobile

fix(mobile): only clear token on 401/403, not transient errors
  apps/mobile/lib/auth-context.tsx
Labels: mobile

feat(mobile): implement login screen with SecureStore auth (task 4.1) (#61)
  apps/mobile/app/_layout.tsx
  apps/mobile/app/login.tsx
  apps/mobile/lib/api.ts
  apps/mobile/lib/auth-context.tsx
  apps/mobile/lib/auth.ts
Labels: mobile

feat(mobile): add lobby screen with match list (task 4.3)
  TODO.md
  apps/mobile/app/_layout.tsx
  apps/mobile/app/index.tsx
  apps/mobile/app/lobby.tsx
  apps/mobile/app/login.tsx
  apps/server/src/routes/match.ts
Labels: server, mobile

feat(mobile): lobby screen with create/join match (task 4.3) (#62)
  TODO.md
  apps/mobile/app/_layout.tsx
  apps/mobile/app/index.tsx
  apps/mobile/app/lobby.tsx
  apps/mobile/app/login.tsx
  apps/server/src/routes/match.ts
Labels: server, mobile

feat(mobile): add minimal match history screen (task 4.11)
  TODO.md
  apps/mobile/app/_layout.tsx
  apps/mobile/app/lobby.tsx
  apps/mobile/app/match/[id].tsx
  apps/server/src/routes/match.ts
Labels: server, mobile

feat(mobile): add minimal match history screen (task 4.11) (#63)
  TODO.md
  apps/mobile/app/_layout.tsx
  apps/mobile/app/lobby.tsx
  apps/mobile/app/match/[id].tsx
  apps/server/src/routes/match.ts
Labels: server, mobile

fix: normalize serialized gameState in turn summaries endpoint
  apps/server/src/routes/match.ts
Labels: server

fix: normalize serialized gameState in turn summaries endpoint
  apps/server/src/routes/match.ts
Labels: server

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
