Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

Notes added by 'git notes add'
  e2da09af635c4c5c529c9c1ddffdfdbfc75f357e
Labels: none

fix(teams): responsive career stats + traduction postes + menu export mobile
  apps/web/app/me/teams/[id]/career/page.tsx
  apps/web/app/me/teams/[id]/page.tsx
Labels: web

chore(release): 1.212.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  b68ac05d009aa9db230fa7c9599eb6756dbbfec6
Labels: none

fix(league-stats): noms d'affichage poste/équipe sans underscore (E16)
  apps/server/src/services/league-player-stats.test.ts
  apps/server/src/services/league-player-stats.ts
Labels: server

fix(league): abréviations de caractéristiques en français M/F/AG/CP/AR (A65)
  apps/web/app/leagues/[id]/CommissionerTeamEditor.tsx
Labels: web

fix(league-sheet): libellés officiels FR des évènements et blessures (A57, A58, A60)
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
Labels: web

fix(league-stats): crash « Statistiques par équipe » (A66)
  apps/server/src/routes/league-leaderboards-by-team.test.ts
  apps/server/src/routes/league.ts
  apps/web/app/leagues/[id]/seasons/[sid]/leaderboards/page.tsx
Labels: web, server

fix(league-sheet): chaîne blessures complète FDM (A59, A61, A62, A67, A68)
  apps/server/src/schemas/league-match-sheet.schemas.test.ts
  apps/server/src/schemas/league-match-sheet.schemas.ts
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-match-summary.test.ts
  apps/server/src/services/league-match-summary.ts
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
Labels: web, server

fix(league-sheet): formule officielle des gains auto (A63)
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-match-summary.test.ts
  apps/server/src/services/league-match-summary.ts
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
Labels: web, server

fix(league-sheet): budget coups de pouce de l'underdog (A55)
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  packages/game-engine/src/core/inducements.test.ts
  packages/game-engine/src/core/inducements.ts
Labels: game-engine, web, server

feat(advancement): catégories visibles en bleu, non accessibles grisées (E2, E6)
  apps/web/app/components/AdvancementEditor.test.tsx
  apps/web/app/components/AdvancementEditor.tsx
Labels: web

feat(league): édition joueur commissaire + coach (A64, E12, E13, E14, E15, A6)
  apps/server/src/routes/league.ts
  apps/server/src/routes/team-player-handlers.ts
  apps/server/src/routes/team.ts
  apps/server/src/schemas/commissioner-team-edit.schemas.ts
  apps/server/src/schemas/team.schemas.ts
  apps/server/src/services/commissioner-team-edit.test.ts
  apps/server/src/services/commissioner-team-edit.ts
  apps/web/app/leagues/[id]/CommissionerTeamEditor.tsx
  apps/web/app/me/teams/[id]/PlayerIdentityInlineEdit.tsx
  apps/web/app/me/teams/[id]/page.tsx
Labels: web, server

feat(league): règles spéciales + type de ligue sur la fiche roster (A11)
  apps/server/src/routes/league.ts
  apps/web/app/leagues/[id]/teams/[teamId]/page.tsx
Labels: web, server

feat(skills): badge Actif/Passif sur les pages compétences (E8)
  apps/server/src/routes/public-skills.ts
  apps/web/app/skills/SkillsClient.tsx
  apps/web/app/skills/[slug]/page.tsx
  packages/game-engine/src/skills/index.ts
Labels: game-engine, web, server

feat(builder): empilement de 2 compétences par joueur au build custom (E10)
  apps/web/app/me/teams/new/BuildAdvancementAllocator.test.tsx
  apps/web/app/me/teams/new/BuildAdvancementAllocator.tsx
Labels: web

fix(league): la saisie manuelle du calendrier respecte les poules (A54)
  apps/server/src/services/league-manual-pairing.test.ts
  apps/server/src/services/league-manual-pairing.ts
  apps/web/app/leagues/[id]/ManualScheduleEditor.test.ts
  apps/web/app/leagues/[id]/ManualScheduleEditor.tsx
  apps/web/app/leagues/[id]/page.tsx
Labels: web, server

feat(league-sheet): choix de l'évènement de coup d'envoi (A56)
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
Labels: web

feat(league-sheet): roster « version du match » consultable (E11)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
  prisma/migrations/20260708100000_add_league_sheet_roster_snapshot/migration.sql
  prisma/schema.prisma
Labels: web, server

fix(team): typage z.infer du body identity (garde no-raw-body-cast)
  apps/server/src/routes/team-player-handlers.ts
  apps/server/src/schemas/team.schemas.ts
Labels: server

docs(openspec): change fix-qa-log-2026-07 (corrections log QA testeur)
  openspec/changes/fix-qa-log-2026-07/proposal.md
  openspec/changes/fix-qa-log-2026-07/tasks.md
Labels: none

fix(inducements): catalogue officiel des coups de pouce S2025 (A53)
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  openspec/changes/fix-qa-log-2026-07/tasks.md
  packages/game-engine/src/core/inducements.test.ts
  packages/game-engine/src/core/inducements.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/rosters/index.ts
  packages/game-engine/src/rosters/team-special-rules.test.ts
  packages/game-engine/src/rosters/team-special-rules.ts
Labels: game-engine, web, server

chore(release): 1.213.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  bff97e60dbd7ae4be4acdd571516b3f963bbe050
Labels: none

fix(skills): textes S3 officiels Rétablissement/Saut/Sprint/Frappe Précise (A49-A52)
  apps/server/src/static-skills-data-s3.test.ts
  apps/server/src/static-skills-data-s3.ts
  docs/reference/extraction_competences_blood_bowl.md
  openspec/changes/fix-qa-log-2026-07/tasks.md
Labels: server

chore(release): 1.213.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  f4eaa69848c09f1d729cdb54711efec4c583be7f
Labels: none

fix(web): typecheck feuille de match — extrait chronologicalTimeline de page.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
  apps/web/app/leagues/pairings/[id]/sheet/timeline.test.ts
  apps/web/app/leagues/pairings/[id]/sheet/timeline.ts
Labels: web

chore(release): 1.213.2 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  1064966ae02fc34f3f4f113e8b5fbc72c261917f
Labels: none

fix(star-players): « Plays for » S3 alignés sur le PDF officiel 2025 (A16)
  apps/server/src/utils/star-player-validation.ts
  apps/web/app/ligues/ligues-structured-data.test.ts
  apps/web/app/star-players/[slug]/page.tsx
  apps/web/public/images/star-players/dribl.svg
  apps/web/public/images/star-players/drull.svg
  openspec/changes/fix-qa-log-2026-07/tasks.md
  packages/game-engine/src/rosters/priority-teams.test.ts
  packages/game-engine/src/rosters/regional-league-rosters.test.ts
  packages/game-engine/src/rosters/regional-leagues.ts
  packages/game-engine/src/rosters/star-players.test.ts
  packages/game-engine/src/rosters/star-players.ts
Labels: game-engine, web, server

chore(release): 1.213.3 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  cca4519d7e24d6a1ff46e62961d0001b078aae9f
Labels: none

feat(league): stats par joueur, blessures durables et dispo sur le roster de ligue (FR20)
  apps/server/src/routes/league-roster-view.test.ts
  apps/server/src/routes/league.ts
  apps/web/app/leagues/[id]/teams/[teamId]/page.test.tsx
  apps/web/app/leagues/[id]/teams/[teamId]/page.tsx
Labels: web, server

feat(league-sheet): assistant Erreurs Coûteuses selon la trésorerie (FR16)
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  packages/game-engine/src/core/expensive-mistakes.test.ts
  packages/game-engine/src/core/expensive-mistakes.ts
  packages/game-engine/src/index.ts
Labels: game-engine, web

fix(web): texte périmé de la page classements de saison (FR18)
  apps/web/app/leagues/[id]/seasons/[sid]/leaderboards/page.tsx
Labels: web

docs(openspec): pointage feuille de route FR3-FR20 dans fix-qa-log-2026-07
  openspec/changes/fix-qa-log-2026-07/tasks.md
Labels: none

chore(release): 1.214.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  bc16f1a8592b18a70594ecf33b09986d976c83af
Labels: none

feat(league-sheet): Prières à Nuffle sur l'avant-match de la feuille de match (FR16)
  apps/server/src/schemas/league-match-sheet.schemas.test.ts
  apps/server/src/schemas/league-match-sheet.schemas.ts
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
  openspec/changes/fix-qa-log-2026-07/tasks.md
Labels: web, server

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
