Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

fix(web): restaure la session apres un build au lieu d'un menu connecte fantome
  apps/web/app/AuthBar.test.tsx
  apps/web/app/AuthBar.tsx
  apps/web/app/components/AuthRefreshLoop.test.tsx
  apps/web/app/components/AuthRefreshLoop.tsx
  apps/web/app/lib/api-client.test.ts
  apps/web/app/lib/api-client.ts
  apps/web/app/lib/auth-refresh.test.ts
  apps/web/app/lib/auth-refresh.ts
  apps/web/app/lib/auth-storage.test.ts
  apps/web/app/lib/auth-storage.ts
  apps/web/app/local-matches/page.tsx
Labels: web

docs(openspec): archive harden-request-validation change (#902)
  openspec/changes/archive/2026-06-15-harden-request-validation/design.md
  openspec/changes/archive/2026-06-15-harden-request-validation/proposal.md
  openspec/changes/archive/2026-06-15-harden-request-validation/specs/request-validation/spec.md
  openspec/changes/archive/2026-06-15-harden-request-validation/tasks.md
Labels: none

fix(web): restaure la session après un build au lieu d'un menu connecté fantôme (#904)
  apps/web/app/AuthBar.test.tsx
  apps/web/app/AuthBar.tsx
  apps/web/app/components/AuthRefreshLoop.test.tsx
  apps/web/app/components/AuthRefreshLoop.tsx
  apps/web/app/lib/api-client.test.ts
  apps/web/app/lib/api-client.ts
  apps/web/app/lib/auth-refresh.test.ts
  apps/web/app/lib/auth-refresh.ts
  apps/web/app/lib/auth-storage.test.ts
  apps/web/app/lib/auth-storage.ts
  apps/web/app/local-matches/page.tsx
Labels: web

chore(release): 1.174.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  5ab633f7c633f58cfb3af2484dc8fc47f3151e7a
Labels: none

feat(rosters): ajoute les Bretonniens et corrige des ecarts de donnees S3
  apps/web/app/teams/roster-meta.test.ts
  apps/web/app/teams/roster-meta.ts
  packages/game-engine/src/rosters/season3-reference-data.ts
  packages/game-engine/src/rosters/season3-rosters.test.ts
  packages/game-engine/src/rosters/season3-rosters.ts
  packages/game-engine/src/rosters/skill-access-season3.ts
  packages/game-engine/src/rosters/team-colors.ts
  packages/game-engine/src/rosters/team-logos.ts
  packages/game-engine/src/utils/team-value-calculator.ts
Labels: game-engine, web

feat(rosters): corrections données S3 (PA, Tacle, coûts) + équipe Bretonniens
  apps/server/src/routes/team-build-handler.ts
  apps/server/src/routes/team-create-from-roster-handler.ts
  apps/server/src/routes/team-readonly-handlers.ts
  apps/web/app/admin/data/rosters/[id]/page.tsx
  apps/web/app/admin/teams/page.tsx
  apps/web/app/me/teams/_components/onboarding/onboarding-logic.ts
  apps/web/app/teams/[slug]/TeamDetailClient.tsx
  apps/web/app/teams/roster-meta.test.ts
  apps/web/app/teams/roster-meta.ts
  packages/game-engine/src/rosters/season3-reference-data.ts
  packages/game-engine/src/rosters/season3-rosters.test.ts
  packages/game-engine/src/rosters/season3-rosters.ts
  packages/game-engine/src/rosters/skill-access-season3.ts
  packages/game-engine/src/rosters/star-players.ts
  packages/game-engine/src/rosters/team-colors.ts
  packages/game-engine/src/rosters/team-logos.ts
  packages/game-engine/src/rosters/validate-season3-rules.test.ts
  packages/game-engine/src/utils/team-value-calculator.ts
Labels: game-engine, web, server

feat(rosters): ajoute les Bretonniens et corrige des ecarts de donnees S3 (#905)
  apps/web/app/teams/roster-meta.test.ts
  apps/web/app/teams/roster-meta.ts
  packages/game-engine/src/rosters/season3-reference-data.ts
  packages/game-engine/src/rosters/season3-rosters.test.ts
  packages/game-engine/src/rosters/season3-rosters.ts
  packages/game-engine/src/rosters/skill-access-season3.ts
  packages/game-engine/src/rosters/team-colors.ts
  packages/game-engine/src/rosters/team-logos.ts
  packages/game-engine/src/utils/team-value-calculator.ts
Labels: game-engine, web

docs(openspec): proposer add-position-pages (pages par position + indexation SEO)
  openspec/changes/add-position-pages/design.md
  openspec/changes/add-position-pages/proposal.md
  openspec/changes/add-position-pages/specs/position-pages/spec.md
  openspec/changes/add-position-pages/tasks.md
Labels: none

feat(positions): stats d'usage joueurs par position (B.3)
  apps/server/src/routes/public-rosters.ts
  apps/server/src/services/position-usage-stats.test.ts
  apps/server/src/services/position-usage-stats.ts
  apps/web/app/teams/[slug]/[position]/page.tsx
Labels: web, server

docs(backlog): consigner les idees pages par position & etudes joueurs (Annexe B)
  docs/roadmap/backlog/future-ideas.md
Labels: none

feat(positions): noms anglais des positions (displayNameEn bilingue)
  apps/server/src/routes/public-positions.test.ts
  apps/server/src/routes/public-positions.ts
  apps/server/src/routes/public-rosters.ts
  apps/web/app/teams/[slug]/[position]/page.tsx
  packages/game-engine/src/rosters/index.ts
  packages/game-engine/src/rosters/position-names-en.test.ts
  packages/game-engine/src/rosters/position-names-en.ts
Labels: game-engine, web, server

feat(teams): pages de detail par position de roster + indexation SEO
  apps/web/app/sitemap.test.ts
  apps/web/app/sitemap.ts
  apps/web/app/teams/[slug]/TeamDetailClient.tsx
  apps/web/app/teams/[slug]/[position]/page.test.ts
  apps/web/app/teams/[slug]/[position]/page.tsx
  apps/web/app/teams/position-detail-structured-data.test.ts
  apps/web/app/teams/position-detail-structured-data.ts
  apps/web/app/teams/position-slug.invariant.test.ts
  apps/web/app/teams/position-slug.test.ts
  apps/web/app/teams/position-slug.ts
  openspec/changes/add-position-pages/tasks.md
Labels: web

refactor(api): durcir GET /api/positions (typage + validation + tests)
  apps/server/src/routes/public-positions.test.ts
  apps/server/src/routes/public-positions.ts
  apps/server/src/schemas/public-positions.schemas.ts
Labels: server

docs(openspec): cadrer B.4/B.5/B.3 dans add-position-pages (lots de suite)
  docs/roadmap/backlog/future-ideas.md
  openspec/changes/add-position-pages/proposal.md
  openspec/changes/add-position-pages/specs/position-pages/spec.md
  openspec/changes/add-position-pages/tasks.md
Labels: none

docs(openspec): solder l'Annexe B (B.6 etudes + B.7 comparateur)
  docs/roadmap/backlog/future-ideas.md
  openspec/changes/add-position-pages/proposal.md
  openspec/changes/add-position-pages/specs/position-pages/spec.md
  openspec/changes/add-position-pages/tasks.md
Labels: none

feat(positions): etudes (classements) + comparateur de positions (B.6, B.7)
  apps/web/app/sitemap.test.ts
  apps/web/app/sitemap.ts
  apps/web/app/teams/[slug]/[position]/page.tsx
  apps/web/app/teams/position-rankings.test.ts
  apps/web/app/teams/position-rankings.ts
  apps/web/app/teams/positions/comparer/PositionComparatorClient.test.tsx
  apps/web/app/teams/positions/comparer/PositionComparatorClient.tsx
  apps/web/app/teams/positions/comparer/page.tsx
  apps/web/app/teams/positions/page.tsx
Labels: web

fix(positions): rendu dynamique des pages etudes/comparateur (build prerender)
  apps/web/app/teams/positions/comparer/page.tsx
  apps/web/app/teams/positions/page.tsx
Labels: web

feat(positions): pages par position, études, comparateur, stats & noms EN (Annexe B) (#906)
  apps/server/src/routes/public-positions.test.ts
  apps/server/src/routes/public-positions.ts
  apps/server/src/routes/public-rosters.ts
  apps/server/src/schemas/public-positions.schemas.ts
  apps/server/src/services/position-usage-stats.test.ts
  apps/server/src/services/position-usage-stats.ts
  apps/web/app/sitemap.test.ts
  apps/web/app/sitemap.ts
  apps/web/app/teams/[slug]/TeamDetailClient.tsx
  apps/web/app/teams/[slug]/[position]/page.test.ts
  apps/web/app/teams/[slug]/[position]/page.tsx
  apps/web/app/teams/position-detail-structured-data.test.ts
  apps/web/app/teams/position-detail-structured-data.ts
  apps/web/app/teams/position-rankings.test.ts
  apps/web/app/teams/position-rankings.ts
  apps/web/app/teams/position-slug.invariant.test.ts
  apps/web/app/teams/position-slug.test.ts
  apps/web/app/teams/position-slug.ts
  apps/web/app/teams/positions/comparer/PositionComparatorClient.test.tsx
  apps/web/app/teams/positions/comparer/PositionComparatorClient.tsx
  apps/web/app/teams/positions/comparer/page.tsx
  apps/web/app/teams/positions/page.tsx
  docs/roadmap/backlog/future-ideas.md
  openspec/changes/add-position-pages/design.md
  openspec/changes/add-position-pages/proposal.md
  openspec/changes/add-position-pages/specs/position-pages/spec.md
  openspec/changes/add-position-pages/tasks.md
  packages/game-engine/src/rosters/index.ts
  packages/game-engine/src/rosters/position-names-en.test.ts
  packages/game-engine/src/rosters/position-names-en.ts
Labels: game-engine, web, server

docs(openspec): propose PA nullable sur Position et TeamPlayer
  openspec/changes/nullable-pa-position-player/design.md
  openspec/changes/nullable-pa-position-player/proposal.md
  openspec/changes/nullable-pa-position-player/specs/position-stats/spec.md
  openspec/changes/nullable-pa-position-player/tasks.md
Labels: none

feat(db): rend PA (passe) nullable sur Position et TeamPlayer
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  prisma/migrations/20260616120000_pa_nullable_position_player/migration.sql
  prisma/schema.prisma
Labels: server

feat(server): supporte PA absent (null) — API, seed et frontieres moteur
  apps/server/src/routes/public-positions.ts
  apps/server/src/routes/public-rosters.ts
  apps/server/src/routes/team-build-handler.ts
  apps/server/src/schemas/admin-data.schemas.ts
  apps/server/src/schemas/zod-schemas.test.ts
  apps/server/src/scripts/sync-rosters.ts
  apps/server/src/seed.ts
  apps/server/src/services/ai-practice.ts
  apps/server/src/services/journeymen.ts
  apps/server/src/utils/default-lineup.ts
  apps/server/src/utils/roster-helpers.ts
Labels: server

feat(web): affiche "-" pour les positions sans PA + saisie admin optionnelle
  apps/web/app/admin/data/positions/[id]/edit/page.tsx
  apps/web/app/admin/data/positions/new/page.tsx
  apps/web/app/admin/data/positions/page.tsx
  apps/web/app/admin/data/rosters/[id]/page.tsx
  apps/web/app/admin/teams/page.tsx
  apps/web/app/admin/users/page.tsx
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/me/teams/new/page.tsx
  apps/web/app/teams/[slug]/TeamDetailClient.tsx
  apps/web/app/teams/[slug]/[position]/page.tsx
  apps/web/app/teams/position-detail-structured-data.test.ts
  apps/web/app/teams/position-detail-structured-data.ts
Labels: web

chore(release): 1.175.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  521b95eee957f59f5839f09a07b6d91f5a9fb260
Labels: none

feat(server): add reimport functionality for Season 3 skill access
  apps/server/src/routes/admin-utilities.ts
  apps/server/src/schemas/admin-data.schemas.ts
  apps/server/src/seeders/season3-skill-access.test.ts
  apps/server/src/seeders/season3-skill-access.ts
  apps/server/src/services/nfl-fantasy-skill-unlock.ts
  apps/server/src/services/skill-access.test.ts
  apps/server/src/services/skill-access.ts
  apps/web/app/admin/data/positions/SkillAccessSelector.tsx
  apps/web/app/admin/utilities/page.tsx
  apps/web/app/me/teams/[id]/level-up/page.tsx
  apps/web/app/teams/[slug]/TeamDetailClient.tsx
  apps/web/app/teams/position-slug.ts
  docs/skill-access-feature.md
  packages/game-engine/src/rosters/skill-access-season3.ts
  scripts/generate-skill-access-season3.ts
  scripts/reimport-season3-access.ts
Labels: game-engine, web, server

chore(release): 1.176.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  067991668e1b654cfafc2535977a825f102f4e8d
Labels: none

refactor(rosters): extrait syncRosters en service reutilisable
  apps/server/src/scripts/sync-rosters.ts
  apps/server/src/seeders/sync-rosters.test.ts
  apps/server/src/seeders/sync-rosters.ts
Labels: server

docs(rosters): documente le bouton admin sync-rosters
  docs/high-elf-roster-s3-fix-2026-06-05.md
Labels: none

feat(admin): bouton "Synchroniser les rosters" (apercu + application)
  apps/web/app/admin/utilities/page.tsx
Labels: web

feat(admin): endpoint POST /admin/utilities/sync-rosters
  apps/server/src/routes/admin-utilities.test.ts
  apps/server/src/routes/admin-utilities.ts
Labels: server

chore(release): 1.177.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  13160856349220862156dbebfa4f2efd411c2481
Labels: none

fix(admin): invalide le cache memoire des rosters apres ecriture
  apps/server/src/routes/admin-utilities.test.ts
  apps/server/src/routes/admin-utilities.ts
Labels: server

docs(rosters): documente les 2 caches (memoire 5min + HTTP 1h) du sync
  docs/high-elf-roster-s3-fix-2026-06-05.md
Labels: none

chore(release): 1.177.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  7cf6f5e941229ff43a50fe10bb11cbc6414041df
Labels: none

docs(rosters): documente la feature mots-cles des positions
  docs/position-keywords-feature.md
Labels: none

feat(rosters): le sync ecrit la colonne keywords (season_3)
  apps/server/src/seeders/sync-rosters.test.ts
  apps/server/src/seeders/sync-rosters.ts
Labels: server

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
