Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

feat(web): clarify kickoff ball placement panel
  apps/web/app/play/[id]/page.tsx
Labels: web

fix(server): GET /:id/state returns latest turn for active matches
  apps/server/src/routes/match.ts
Labels: server

chore(release): 1.76.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  878647fd0b45b98cbb1172042159ae09ad902053
Labels: none

fix(server): route AI to setup/kickoff helpers instead of gameplay loop
  apps/server/src/services/move-processor.ts
Labels: server

chore(release): 1.76.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  d2ddf2db486fa7043cb3c27f5e0af647f2ab0433
Labels: none

chore(release): 1.76.2 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  ca1ca38f93eb9f219f64a7325b6be09779501785
Labels: none

refactor(match): migrate /details, /:id/details, /:id/teams to ApiResponse<T> (S25.5j)
  apps/server/src/routes/match.test.ts
  apps/server/src/routes/match.ts
  apps/web/app/play/[id]/hooks/useGameState.ts
  docs/roadmap/sprints/S25-observabilite-qualite.md
Labels: web, server

fix(engine): compute legalSetupPositions on post-touchdown
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/post-touchdown.test.ts
Labels: game-engine

chore(release): 1.76.3 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  e49c49256a5a6316dcb8fefcd831fecaf2a6f9dc
Labels: none

refactor(match): migrate /details, /:id/details, /:id/teams to ApiResponse<T> (S25.5j) (#430)
  apps/server/src/routes/match.test.ts
  apps/server/src/routes/match.ts
  apps/web/app/play/[id]/hooks/useGameState.ts
  docs/roadmap/sprints/S25-observabilite-qualite.md
Labels: web, server

refactor(match): migrate /:id/summary to ApiResponse (S25.5k)
  apps/server/src/routes/match.test.ts
  apps/server/src/routes/match.ts
  apps/web/app/play/[id]/hooks/useGameState.ts
  apps/web/app/play/page.tsx
  apps/web/app/waiting/[id]/page.tsx
  docs/roadmap/sprints/S25-observabilite-qualite.md
Labels: web, server

feat(auth): wire access+refresh rotation into login/register/logout (S24.3e) (#431)
  apps/server/src/routes/auth.test.ts
  apps/server/src/routes/auth.ts
  apps/web/app/AuthBar.tsx
  apps/web/app/components/AuthRefreshLoop.tsx
  apps/web/app/layout.tsx
  apps/web/app/lib/auth-refresh.test.ts
  apps/web/app/lib/auth-refresh.ts
  apps/web/app/lib/auth-storage.test.ts
  apps/web/app/lib/auth-storage.ts
  apps/web/app/login/page.tsx
  apps/web/app/register/page.tsx
  docs/roadmap/sprints/S24-stabilite-securite.md
Labels: web, server

fix(ai): l'IA n'enchaine plus systematiquement END_TURN pendant son tour
  packages/game-engine/src/ai/difficulty.test.ts
  packages/game-engine/src/ai/difficulty.ts
  packages/game-engine/src/ai/evaluator.test.ts
  packages/game-engine/src/ai/evaluator.ts
Labels: game-engine

refactor(match): migrate /:id/summary to ApiResponse (S25.5k) (#432)
  apps/server/src/routes/match.test.ts
  apps/server/src/routes/match.ts
  apps/web/app/play/[id]/hooks/useGameState.ts
  apps/web/app/play/page.tsx
  apps/web/app/waiting/[id]/page.tsx
  docs/roadmap/sprints/S25-observabilite-qualite.md
Labels: web, server

test(e2e-api): unwrap /:id/summary ApiResponse envelope (S25.5k follow-up)
  tests/e2e-api/specs/match-routes.spec.ts
  tests/e2e-api/specs/smoke.spec.ts
Labels: none

Improve AI positioning evaluation and move scoring (#433)
  packages/game-engine/src/ai/difficulty.test.ts
  packages/game-engine/src/ai/difficulty.ts
  packages/game-engine/src/ai/evaluator.test.ts
  packages/game-engine/src/ai/evaluator.ts
Labels: game-engine

test(e2e-api): unwrap /:id/summary ApiResponse envelope (S25.5k follow-up) (#434)
  tests/e2e-api/specs/match-routes.spec.ts
  tests/e2e-api/specs/smoke.spec.ts
Labels: none

fix: keep KO/sent-off/casualty out of post-TD setup, allow validate <11
  apps/web/app/play/[id]/page.tsx
  packages/game-engine/src/ai/setup-placement.test.ts
  packages/game-engine/src/ai/setup-placement.ts
  packages/game-engine/src/core/game-state.ts
Labels: game-engine, web

chore(release): 1.77.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  87a1a0fe45f82a6c438353e46a1b36f4d6d1d5f1
Labels: none

refactor(match): migrate /:id/state to ApiResponse (S25.5l)
  apps/server/src/routes/match.test.ts
  apps/server/src/routes/match.ts
  apps/web/app/play/[id]/hooks/useGameState.ts
  docs/roadmap/sprints/S25-observabilite-qualite.md
Labels: web, server

refactor(match): migrate /:id/state to ApiResponse (S25.5l) (#435)
  apps/server/src/routes/match.test.ts
  apps/server/src/routes/match.ts
  apps/web/app/play/[id]/hooks/useGameState.ts
  docs/roadmap/sprints/S25-observabilite-qualite.md
Labels: web, server

fix(e2e-ui): seed flags + fix selectors to unblock 18 playwright tests
  apps/server/src/index.ts
  apps/server/src/routes/feature-flags.ts
  apps/server/src/routes/star-players.ts
  apps/server/src/services/featureFlags.ts
  apps/web/app/contexts/FeatureFlagContext.tsx
  tests/e2e-api/specs/feature-flags.spec.ts
  tests/e2e-api/specs/public-positions.spec.ts
  tests/e2e-ui/pages/TeamBuilderPage.ts
  tests/e2e-ui/specs/achievements.spec.ts
  tests/e2e-ui/specs/team-creation.spec.ts
Labels: web, server

refactor(match): migrate POST /:id/move to ApiResponse (S25.5m)
  apps/server/src/routes/match.test.ts
  apps/server/src/routes/match.ts
  apps/web/app/play/[id]/hooks/submitMoveHttp.test.ts
  apps/web/app/play/[id]/hooks/submitMoveHttp.ts
  docs/roadmap/sprints/S25-observabilite-qualite.md
Labels: web, server

fix(server,engine): adapt setup checks to placeable count below 11
  apps/server/src/services/ai-setup.ts
  packages/game-engine/src/core/game-state.ts
Labels: game-engine, server

chore(release): 1.77.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  0174fcd9af50395208bcf42e99628bd1c5f4bcb2
Labels: none

refactor(match): migrate POST /:id/move to ApiResponse (S25.5m) (#436)
  apps/server/src/routes/match.test.ts
  apps/server/src/routes/match.ts
  apps/web/app/play/[id]/hooks/submitMoveHttp.test.ts
  apps/web/app/play/[id]/hooks/submitMoveHttp.ts
  docs/roadmap/sprints/S25-observabilite-qualite.md
Labels: web, server

refactor(team): migrate /name-generator + /rosters/:id to ApiResponse (S25.5n)
  apps/server/src/routes/team.test.ts
  apps/server/src/routes/team.ts
  apps/web/app/me/teams/new/page.tsx
  docs/roadmap/sprints/S25-observabilite-qualite.md
Labels: web, server

test(web): align unit tests with anonymous-allowed feature flags fetch
  apps/web/app/components/OnlinePlayGate.test.tsx
  apps/web/app/hooks/useFeatureFlag.test.tsx
Labels: web

refactor(team): migrate /name-generator + /rosters/:id to ApiResponse (S25.5n) (#438)
  apps/server/src/routes/team.test.ts
  apps/server/src/routes/team.ts
  apps/web/app/me/teams/new/page.tsx
  docs/roadmap/sprints/S25-observabilite-qualite.md
Labels: web, server

test(e2e-api): unwrap /match/:id/state ApiResponse envelope (S25.5l follow-up)
  tests/e2e-api/specs/prematch.spec.ts
  tests/e2e-api/specs/setup.spec.ts
Labels: none

test(e2e-api): unwrap /match/:id/state ApiResponse envelope (S25.5l follow-up) (#439)
  tests/e2e-api/specs/prematch.spec.ts
  tests/e2e-api/specs/setup.spec.ts
Labels: none

refactor(team): migrate /team/available to ApiResponse (S25.5o)
  apps/server/src/routes/team.test.ts
  apps/server/src/routes/team.ts
  apps/web/app/team/select/page.tsx
  docs/roadmap/sprints/S25-observabilite-qualite.md
  tests/e2e-api/specs/team-listing.spec.ts
Labels: web, server

refactor(team): migrate /team/available to ApiResponse (S25.5o) (#440)
  apps/server/src/routes/team.test.ts
  apps/server/src/routes/team.ts
  apps/web/app/team/select/page.tsx
  docs/roadmap/sprints/S25-observabilite-qualite.md
  tests/e2e-api/specs/team-listing.spec.ts
Labels: web, server

refactor(team): migrate /team/mine paginated to ApiResponse (S25.5p)
  apps/server/src/routes/team.test.ts
  apps/server/src/routes/team.ts
  apps/web/app/cups/[id]/page.tsx
  apps/web/app/cups/page.tsx
  apps/web/app/local-matches/new/page.tsx
  apps/web/app/local-matches/share/[token]/page.tsx
  apps/web/app/me/teams/page.tsx
  apps/web/app/play/page.tsx
  docs/roadmap/sprints/S25-observabilite-qualite.md
  tests/e2e-api/specs/team-listing.spec.ts
Labels: web, server

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
