Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"

feat(pro-league): Hall of Fame dedications — Crowns sink (Lot P.B.2)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/routes/pro-league.ts
  apps/server/src/services/pro-hall-of-fame-dedicate.test.ts
  apps/server/src/services/pro-hall-of-fame-dedicate.ts
  apps/server/src/services/pro-wallet.ts
  prisma/schema.prisma
Labels: server

feat(ops): mode maintenance global toggleable (Lot P.A.1) (#753)
  apps/server/src/index.ts
  apps/server/src/middleware/maintenance.test.ts
  apps/server/src/middleware/maintenance.ts
  apps/server/src/seed.ts
  apps/server/src/services/featureFlags.ts
  apps/web/app/maintenance/page.tsx
Labels: web, server

feat(admin): dashboard analytics business (Lot P.C.3)
  apps/server/src/index.ts
  apps/server/src/routes/admin-analytics.ts
  apps/server/src/services/admin-analytics.test.ts
  apps/server/src/services/admin-analytics.ts
  apps/web/app/admin/analytics/page.tsx
Labels: web, server

feat(privacy): GDPR data export self-service (Lot P.A.3)
  apps/server/src/routes/auth-privacy.ts
  apps/server/src/services/gdpr-export.test.ts
  apps/server/src/services/gdpr-export.ts
Labels: server

feat(admin): dashboard analytics business (Lot P.C.3) (#755)
  apps/server/src/index.ts
  apps/server/src/routes/admin-analytics.ts
  apps/server/src/services/admin-analytics.test.ts
  apps/server/src/services/admin-analytics.ts
  apps/web/app/admin/analytics/page.tsx
Labels: web, server

feat(pro-league): Hall of Fame dedications — Crowns sink (Lot P.B.2) (#754)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/routes/pro-league.ts
  apps/server/src/services/pro-hall-of-fame-dedicate.test.ts
  apps/server/src/services/pro-hall-of-fame-dedicate.ts
  apps/server/src/services/pro-wallet.ts
  prisma/schema.prisma
Labels: server

test(skills): cloture Lot O.A.2-4 + tests de regression wiring registry
  docs/roadmap/follow-up-b01.md
  docs/roadmap/sprints/SPRINT-O-bug-fixes-acquisition.md
  packages/game-engine/src/skills/registry-wiring.test.ts
Labels: game-engine

test(skills): clôture Lot O.A.2-4 + tests régression wiring registry (#757)
  docs/roadmap/follow-up-b01.md
  docs/roadmap/sprints/SPRINT-O-bug-fixes-acquisition.md
  packages/game-engine/src/skills/registry-wiring.test.ts
Labels: game-engine

chore(release): 1.109.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  9190136467771b7cba397f13fddfb2c867110fd8
Labels: none

feat(admin): moderation matchs humains + bannissement users (Lot P.B.4)
  apps/server/prisma/sqlite/migrations/20260513000000_add_moderation_fields/migration.sql
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/admin-moderation.test.ts
  apps/server/src/routes/admin.ts
  apps/server/src/routes/auth-login-ban.test.ts
  apps/server/src/routes/auth.ts
  apps/server/src/schemas/admin.schemas.ts
  apps/web/app/admin/matches/_components/ModerationModal.test.tsx
  apps/web/app/admin/matches/_components/ModerationModal.tsx
  apps/web/app/admin/matches/page.tsx
  apps/web/app/admin/users/_components/BanUserModal.test.tsx
  apps/web/app/admin/users/_components/BanUserModal.tsx
  apps/web/app/admin/users/page.tsx
  prisma/migrations/20260513000000_add_moderation_fields/migration.sql
  prisma/schema.prisma
Labels: web, server

feat(admin): moderation matchs humains + ban users (Lot P.B.4) (#758)
  apps/server/prisma/sqlite/migrations/20260513000000_add_moderation_fields/migration.sql
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/admin-moderation.test.ts
  apps/server/src/routes/admin.ts
  apps/server/src/routes/auth-login-ban.test.ts
  apps/server/src/routes/auth.ts
  apps/server/src/schemas/admin.schemas.ts
  apps/web/app/admin/matches/_components/ModerationModal.test.tsx
  apps/web/app/admin/matches/_components/ModerationModal.tsx
  apps/web/app/admin/matches/page.tsx
  apps/web/app/admin/users/_components/BanUserModal.test.tsx
  apps/web/app/admin/users/_components/BanUserModal.tsx
  apps/web/app/admin/users/page.tsx
  prisma/migrations/20260513000000_add_moderation_fields/migration.sql
  prisma/schema.prisma
Labels: web, server

feat(admin): admin password reset override (Lot P.C.2)
  apps/server/prisma/sqlite/migrations/20260513100000_add_must_change_password/migration.sql
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/admin-password-reset.test.ts
  apps/server/src/routes/admin.ts
  apps/server/src/routes/auth.ts
  apps/server/src/services/temp-password.test.ts
  apps/server/src/services/temp-password.ts
  apps/web/app/admin/users/_components/PasswordResetModal.test.tsx
  apps/web/app/admin/users/_components/PasswordResetModal.tsx
  apps/web/app/admin/users/page.tsx
  prisma/migrations/20260513100000_add_must_change_password/migration.sql
  prisma/schema.prisma
Labels: web, server

feat(admin): admin password reset override (Lot P.C.2) (#759)
  apps/server/prisma/sqlite/migrations/20260513100000_add_must_change_password/migration.sql
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/admin-password-reset.test.ts
  apps/server/src/routes/admin.ts
  apps/server/src/routes/auth.ts
  apps/server/src/services/temp-password.test.ts
  apps/server/src/services/temp-password.ts
  apps/web/app/admin/users/_components/PasswordResetModal.test.tsx
  apps/web/app/admin/users/_components/PasswordResetModal.tsx
  apps/web/app/admin/users/page.tsx
  prisma/migrations/20260513100000_add_must_change_password/migration.sql
  prisma/schema.prisma
Labels: web, server

feat(admin): wallet UI + endpoints (Lot P.B.1)
  apps/server/src/index.ts
  apps/server/src/routes/admin-wallet.test.ts
  apps/server/src/routes/admin-wallet.ts
  apps/server/src/schemas/admin.schemas.ts
  apps/server/src/services/pro-wallet.ts
  apps/web/app/admin/users/page.tsx
  apps/web/app/admin/wallets/[userId]/_components/BalanceAdjustModal.test.tsx
  apps/web/app/admin/wallets/[userId]/_components/BalanceAdjustModal.tsx
  apps/web/app/admin/wallets/[userId]/_components/BetRefundModal.test.tsx
  apps/web/app/admin/wallets/[userId]/_components/BetRefundModal.tsx
  apps/web/app/admin/wallets/[userId]/page.tsx
Labels: web, server

feat(admin): soft-delete users + restore (Lot P.A.2)
  apps/server/prisma/sqlite/migrations/20260513200000_add_user_soft_delete/migration.sql
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/lib/prisma-soft-delete.test.ts
  apps/server/src/lib/prisma-soft-delete.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/admin-soft-delete.test.ts
  apps/server/src/routes/admin.ts
  apps/server/src/routes/auth-login-soft-delete.test.ts
  apps/server/src/routes/auth.ts
  apps/server/src/services/coach-profile.test.ts
  apps/server/src/services/coach-profile.ts
  apps/server/src/services/friendship.test.ts
  apps/server/src/services/friendship.ts
  apps/web/app/admin/users/page.tsx
  prisma/migrations/20260513200000_add_user_soft_delete/migration.sql
  prisma/schema.prisma
Labels: web, server

feat(admin): wallet UI + endpoints (Lot P.B.1) (#760)
  apps/server/src/index.ts
  apps/server/src/routes/admin-wallet.test.ts
  apps/server/src/routes/admin-wallet.ts
  apps/server/src/schemas/admin.schemas.ts
  apps/server/src/services/pro-wallet.ts
  apps/web/app/admin/users/page.tsx
  apps/web/app/admin/wallets/[userId]/_components/BalanceAdjustModal.test.tsx
  apps/web/app/admin/wallets/[userId]/_components/BalanceAdjustModal.tsx
  apps/web/app/admin/wallets/[userId]/_components/BetRefundModal.test.tsx
  apps/web/app/admin/wallets/[userId]/_components/BetRefundModal.tsx
  apps/web/app/admin/wallets/[userId]/page.tsx
Labels: web, server

chore(release): 1.110.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  b1f5c419d67935306cf22d5f83d59b540d2545d5
Labels: none

fix(admin): sandbox test-match resolve team slug → id Prisma + cache lien Ligues si online_play OFF
  apps/server/src/services/pro-league-sandbox.test.ts
  apps/server/src/services/pro-league-sandbox.ts
  apps/web/app/components/Header.tsx
Labels: web, server

chore(release): 1.110.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  47b11ca9757cbfa1015c79857af2cc40f26269c7
Labels: none

feat(admin): page /admin/utilities + endpoint POST seed/pro-league
  apps/server/src/index.ts
  apps/server/src/routes/admin-utilities.test.ts
  apps/server/src/routes/admin-utilities.ts
  apps/web/app/admin/layout.tsx
  apps/web/app/admin/utilities/page.test.tsx
  apps/web/app/admin/utilities/page.tsx
Labels: web, server

fix(engine): retire season_4 du Ruleset (debloque le seed prod)
  apps/server/src/schemas/league.schemas.ts
  apps/server/src/services/league.ts
  apps/web/app/admin/data/ruleset-utils.ts
  apps/web/app/me/teams/new/page.tsx
  apps/web/app/teams/[slug]/team-structured-data.ts
  packages/game-engine/src/rosters/positions.ts
  packages/game-engine/src/rosters/season4-rosters.test.ts
  packages/game-engine/src/rosters/season4-rosters.ts
  packages/game-engine/src/rosters/star-players.ts
Labels: game-engine, web, server

fix(engine): retire season_4 + page admin utilities (debloque seed prod) (#763)
  apps/server/src/index.ts
  apps/server/src/routes/admin-utilities.test.ts
  apps/server/src/routes/admin-utilities.ts
  apps/server/src/schemas/league.schemas.ts
  apps/server/src/services/league.ts
  apps/web/app/admin/data/ruleset-utils.ts
  apps/web/app/admin/layout.tsx
  apps/web/app/admin/utilities/page.test.tsx
  apps/web/app/admin/utilities/page.tsx
  apps/web/app/me/teams/new/page.tsx
  apps/web/app/teams/[slug]/team-structured-data.ts
  packages/game-engine/src/rosters/positions.ts
  packages/game-engine/src/rosters/season4-rosters.test.ts
  packages/game-engine/src/rosters/season4-rosters.ts
  packages/game-engine/src/rosters/star-players.ts
Labels: game-engine, web, server

feat(admin): season factory Pro League (Lot P.B.3)
  apps/server/src/index.ts
  apps/server/src/routes/admin-pro-season.test.ts
  apps/server/src/routes/admin-pro-season.ts
  apps/server/src/schemas/admin.schemas.ts
  apps/server/src/services/pro-season-factory.test.ts
  apps/server/src/services/pro-season-factory.ts
  apps/web/app/admin/layout.tsx
  apps/web/app/admin/pro-league/seasons/_components/CloneSeasonModal.test.tsx
  apps/web/app/admin/pro-league/seasons/_components/CloneSeasonModal.tsx
  apps/web/app/admin/pro-league/seasons/page.tsx
Labels: web, server

feat(admin): season factory Pro League (Lot P.B.3) (#764)
  apps/server/src/index.ts
  apps/server/src/routes/admin-pro-season.test.ts
  apps/server/src/routes/admin-pro-season.ts
  apps/server/src/schemas/admin.schemas.ts
  apps/server/src/services/pro-season-factory.test.ts
  apps/server/src/services/pro-season-factory.ts
  apps/web/app/admin/layout.tsx
  apps/web/app/admin/pro-league/seasons/_components/CloneSeasonModal.test.tsx
  apps/web/app/admin/pro-league/seasons/_components/CloneSeasonModal.tsx
  apps/web/app/admin/pro-league/seasons/page.tsx
Labels: web, server

feat(admin): bootstrap Pro League — create season + hub + season detail
  apps/server/src/routes/admin-pro-season.test.ts
  apps/server/src/routes/admin-pro-season.ts
  apps/server/src/schemas/admin.schemas.ts
  apps/server/src/services/pro-season-factory.test.ts
  apps/server/src/services/pro-season-factory.ts
  apps/web/app/admin/layout.tsx
  apps/web/app/admin/pro-league/page.tsx
  apps/web/app/admin/pro-league/seasons/[id]/page.tsx
  apps/web/app/admin/pro-league/seasons/_components/CreateSeasonModal.test.tsx
  apps/web/app/admin/pro-league/seasons/_components/CreateSeasonModal.tsx
  apps/web/app/admin/pro-league/seasons/page.tsx
Labels: web, server

feat(admin): masquage admin du classement ELO + badge "Non classe"
  apps/server/prisma/sqlite/migrations/20260514000000_add_user_leaderboard_status/migration.sql
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/admin-leaderboard-status.test.ts
  apps/server/src/routes/admin.ts
  apps/server/src/routes/leaderboard.test.ts
  apps/server/src/routes/leaderboard.ts
  apps/server/src/schemas/admin.schemas.ts
  apps/server/src/services/coach-profile.test.ts
  apps/server/src/services/coach-profile.ts
  apps/web/app/admin/users/page.tsx
  apps/web/app/coach/[slug]/CoachProfileHeader.test.tsx
  apps/web/app/coach/[slug]/CoachProfileHeader.tsx
  apps/web/app/coach/[slug]/coachCardSections.ts
  apps/web/app/coach/[slug]/page.tsx
  apps/web/app/coach/[slug]/types.ts
  prisma/migrations/20260514000000_add_user_leaderboard_status/migration.sql
  prisma/schema.prisma
Labels: web, server

test(e2e): adapter /__test/seed-user au filtre EloSnapshot + hidden_admin
  apps/server/src/index.ts
  tests/e2e-api/helpers/factories.ts
  tests/e2e-api/specs/leaderboard.spec.ts
Labels: server

feat(admin): bootstrap Pro League — create season + hub + season detail (#765)
  apps/server/src/routes/admin-pro-season.test.ts
  apps/server/src/routes/admin-pro-season.ts
  apps/server/src/schemas/admin.schemas.ts
  apps/server/src/services/pro-season-factory.test.ts
  apps/server/src/services/pro-season-factory.ts
  apps/web/app/admin/layout.tsx
  apps/web/app/admin/pro-league/page.tsx
  apps/web/app/admin/pro-league/seasons/[id]/page.tsx
  apps/web/app/admin/pro-league/seasons/_components/CreateSeasonModal.test.tsx
  apps/web/app/admin/pro-league/seasons/_components/CreateSeasonModal.tsx
  apps/web/app/admin/pro-league/seasons/page.tsx
Labels: web, server

feat(deploy): build offload GHCR + pull-only flow (Phase A zero-downtime)
  .github/workflows/deploy.yml
  Dockerfile.server
  Dockerfile.web
  docker-compose.prod.yml
  scripts/db-migrate.sh
  scripts/deploy.sh
  scripts/measure-downtime.sh
Labels: none

feat(admin): masquage admin du classement ELO + badge "Non classe" (#766)
  apps/server/prisma/sqlite/migrations/20260514000000_add_user_leaderboard_status/migration.sql
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/admin-leaderboard-status.test.ts
  apps/server/src/routes/admin.ts
  apps/server/src/routes/leaderboard.test.ts
  apps/server/src/routes/leaderboard.ts
  apps/server/src/schemas/admin.schemas.ts
  apps/server/src/services/coach-profile.test.ts
  apps/server/src/services/coach-profile.ts
  apps/web/app/admin/users/page.tsx
  apps/web/app/coach/[slug]/CoachProfileHeader.test.tsx
  apps/web/app/coach/[slug]/CoachProfileHeader.tsx
  apps/web/app/coach/[slug]/coachCardSections.ts
  apps/web/app/coach/[slug]/page.tsx
  apps/web/app/coach/[slug]/types.ts
  prisma/migrations/20260514000000_add_user_leaderboard_status/migration.sql
  prisma/schema.prisma
  tests/e2e-api/helpers/factories.ts
  tests/e2e-api/specs/leaderboard.spec.ts
Labels: web, server

feat(admin): gestion des matchs Pro League (simulate + list + detail)
  apps/server/src/routes/admin-pro-season.test.ts
  apps/server/src/routes/admin-pro-season.ts
  apps/web/app/admin/pro-league/seasons/[id]/_components/SeasonMatches.test.tsx
  apps/web/app/admin/pro-league/seasons/[id]/_components/SeasonMatches.tsx
  apps/web/app/admin/pro-league/seasons/[id]/page.tsx
Labels: web, server

feat(admin): gestion des matchs Pro League (simulate + list + detail) (#767)
  apps/server/src/routes/admin-pro-season.test.ts
  apps/server/src/routes/admin-pro-season.ts
  apps/web/app/admin/pro-league/seasons/[id]/_components/SeasonMatches.test.tsx
  apps/web/app/admin/pro-league/seasons/[id]/_components/SeasonMatches.tsx
  apps/web/app/admin/pro-league/seasons/[id]/page.tsx
Labels: web, server

feat(admin): bulk simulate tous les matchs d'un round
  apps/server/src/routes/admin-pro-season.test.ts
  apps/server/src/routes/admin-pro-season.ts
  apps/web/app/admin/pro-league/seasons/[id]/_components/SeasonMatches.test.tsx
  apps/web/app/admin/pro-league/seasons/[id]/_components/SeasonMatches.tsx
Labels: web, server

refactor: Phase A deployment (pull-only, CI builds images) (#768)
  .github/workflows/deploy.yml
  Dockerfile.server
  Dockerfile.web
  docker-compose.prod.yml
  scripts/db-migrate.sh
  scripts/deploy.sh
  scripts/measure-downtime.sh
Labels: none

chore(release): 1.111.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  1ed91d0ace1e6b2213bf41f69d81012aebe6c173
Labels: none

fix(ci): deploy workflow lance uniquement les unit tests metier
  .github/workflows/deploy.yml
Labels: none
