Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"

feat(server,web): UI lecture du journal d'audit (S27.6.3, cloture S27.6) (#645)
  apps/server/src/routes/admin-audit-log.test.ts
  apps/server/src/routes/admin.ts
  apps/web/app/admin/audit-log/page.tsx
  apps/web/app/admin/data/ruleset-utils.ts
  apps/web/app/admin/layout.tsx
  apps/web/app/lib/auditLog.ts
  apps/web/app/me/teams/new/page.tsx
  apps/web/app/teams/[slug]/team-structured-data.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: web, server

refactor(game-engine): Stunty AV via skill registry (S27.7.1)
  docs/roadmap/sprints/S27-evolutions-confort.md
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/skills/skill-registry.ts
  packages/game-engine/src/skills/stunty-armor.test.ts
Labels: game-engine

refactor(game-engine): Stunty AV via skill registry (S27.7.1) (#646)
  docs/roadmap/sprints/S27-evolutions-confort.md
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/skills/skill-registry.ts
  packages/game-engine/src/skills/stunty-armor.test.ts
Labels: game-engine

feat(server): replay dump endpoint for completed matches (sprint 1.G.1) (#640)
  apps/server/src/routes/pro-league.ts
  apps/server/src/services/pro-league-replay.test.ts
  apps/server/src/services/pro-league-replay.ts
Labels: server

refactor(game-engine): Sprint GFI cap via skill registry (S27.7.2)
  docs/roadmap/sprints/S27-evolutions-confort.md
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/mechanics/tactical-indicators.ts
  packages/game-engine/src/skills/skill-registry.ts
  packages/game-engine/src/skills/sprint-gfi-cap.test.ts
Labels: game-engine

feat(web): MatchReplayPlayer with scrub bar + speed controls (sprint 1.G.2)
  apps/web/app/lib/use-replay-clock.test.ts
  apps/web/app/lib/use-replay-clock.ts
  apps/web/app/pro-league/matches/[id]/replay/MatchReplayPlayer.test.tsx
  apps/web/app/pro-league/matches/[id]/replay/MatchReplayPlayer.tsx
  apps/web/app/pro-league/matches/[id]/replay/layout.tsx
  apps/web/app/pro-league/matches/[id]/replay/page.tsx
Labels: web

refactor(game-engine): Sprint GFI cap via skill registry (S27.7.2) (#647)
  docs/roadmap/sprints/S27-evolutions-confort.md
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/mechanics/tactical-indicators.ts
  packages/game-engine/src/skills/skill-registry.ts
  packages/game-engine/src/skills/sprint-gfi-cap.test.ts
Labels: game-engine

refactor(game-engine): Horns/PileDriver/SneakyGit via registry (S27.7.3, cloture S27.7)
  docs/roadmap/sprints/S27-evolutions-confort.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/skills/batch-3k-registry.test.ts
  packages/game-engine/src/skills/horns-pile-driver-sneaky.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

refactor(game-engine): Horns/PileDriver/SneakyGit via registry (S27.7.3, cloture S27.7) (#649)
  docs/roadmap/sprints/S27-evolutions-confort.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/skills/batch-3k-registry.test.ts
  packages/game-engine/src/skills/horns-pile-driver-sneaky.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

chore(release): 1.92.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  be39552a9a0ad459ab57f67c109f7de0e3048761
Labels: none

refactor(game-engine): extract special-action handlers (S27.8.1)
  docs/roadmap/sprints/S27-evolutions-confort.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/actions/special-actions.ts
Labels: game-engine

feat(web): auto LIVE vs REPLAY mode redirect (sprint 1.G.3)
  apps/web/app/lib/use-match-mode-redirect.test.ts
  apps/web/app/lib/use-match-mode-redirect.ts
  apps/web/app/pro-league/matches/[id]/live/page.test.tsx
  apps/web/app/pro-league/matches/[id]/live/page.tsx
  apps/web/app/pro-league/matches/[id]/page.tsx
  apps/web/app/pro-league/matches/[id]/replay/MatchReplayPlayer.test.tsx
  apps/web/app/pro-league/matches/[id]/replay/MatchReplayPlayer.tsx
Labels: web

fix(sim-engine): cap single-turn yards so TDs span multiple turns
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/src/driver/hybrid-driver.test.ts
  packages/sim-engine/src/driver/hybrid-driver.ts
  packages/sim-engine/src/types.ts
Labels: none

refactor(sim-engine): drop dead hasPossession field on DriveState
  packages/sim-engine/src/driver/hybrid-driver.ts
Labels: none

feat(web): auto LIVE vs REPLAY mode redirect (sprint 1.G.3) (#651)
  apps/web/app/lib/use-match-mode-redirect.test.ts
  apps/web/app/lib/use-match-mode-redirect.ts
  apps/web/app/pro-league/matches/[id]/live/page.test.tsx
  apps/web/app/pro-league/matches/[id]/live/page.tsx
  apps/web/app/pro-league/matches/[id]/page.tsx
  apps/web/app/pro-league/matches/[id]/replay/MatchReplayPlayer.test.tsx
  apps/web/app/pro-league/matches/[id]/replay/MatchReplayPlayer.tsx
Labels: web

feat(sim-engine): successful passes advance the drive (and can score)
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/src/driver/hybrid-driver.test.ts
  packages/sim-engine/src/driver/hybrid-driver.ts
  packages/sim-engine/src/types.ts
Labels: none

feat(web): TD/CASUALTY/NUFFLE markers on replay scrub bar (sprint 1.G.4)
  apps/web/app/lib/replay-scrub-markers.test.ts
  apps/web/app/lib/replay-scrub-markers.ts
  apps/web/app/pro-league/matches/[id]/replay/MatchReplayPlayer.test.tsx
  apps/web/app/pro-league/matches/[id]/replay/MatchReplayPlayer.tsx
Labels: web

feat(sim-engine): space key-moment events inside the turn window
  packages/sim-engine/src/driver/hybrid-driver.test.ts
  packages/sim-engine/src/driver/hybrid-driver.ts
Labels: none

feat(web): TD/CASUALTY/NUFFLE markers on replay scrub bar (sprint 1.G.4) (#653)
  apps/web/app/lib/replay-scrub-markers.test.ts
  apps/web/app/lib/replay-scrub-markers.ts
  apps/web/app/pro-league/matches/[id]/replay/MatchReplayPlayer.test.tsx
  apps/web/app/pro-league/matches/[id]/replay/MatchReplayPlayer.tsx
Labels: web

fix(game-engine): coverage threshold for actions monolith refactor (S27.8.1)
  packages/game-engine/src/actions/special-actions.test.ts
  packages/game-engine/vitest.config.ts
Labels: game-engine

feat(web,e2e): replay keyboard shortcuts + Playwright spec (sprint 1.G.5)
  apps/web/app/lib/use-replay-shortcuts.test.ts
  apps/web/app/lib/use-replay-shortcuts.ts
  apps/web/app/pro-league/matches/[id]/replay/MatchReplayPlayer.test.tsx
  apps/web/app/pro-league/matches/[id]/replay/MatchReplayPlayer.tsx
  tests/e2e-ui/specs/pro-league-replay-player.spec.ts
Labels: web

refactor(game-engine): extract special-action handlers (S27.8.1) (#650)
  docs/roadmap/sprints/S27-evolutions-confort.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/actions/special-actions.test.ts
  packages/game-engine/src/actions/special-actions.ts
  packages/game-engine/vitest.config.ts
Labels: game-engine

refactor(game-engine): extract pass family handlers (S27.8.2)
  docs/roadmap/sprints/S27-evolutions-confort.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/actions/pass-actions.ts
  packages/game-engine/vitest.config.ts
Labels: game-engine

chore(release): 1.93.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  7c3c9d41be8d35293cfc1e0ffaee0b7684a2d8cb
Labels: none

chore(release): 1.94.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  ef3b019d798f5b27cb88315044b135cec9f8a3f7
Labels: none

test(server): use current ENGINE_VER in pro-league-sim-runner tests
  apps/server/src/services/pro-league-sim-runner.test.ts
Labels: server

chore(release): 1.94.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  578656195d83ca9d18d72dd607746ef9cc744989
Labels: none

feat(web): /pro-league/about marketing page (sprint 1.F.4)
  apps/web/app/pro-league/about/layout.tsx
  apps/web/app/pro-league/about/page.test.tsx
  apps/web/app/pro-league/about/page.tsx
  apps/web/app/pro-league/page.tsx
  apps/web/app/sitemap.ts
  tests/e2e-ui/specs/pro-league-fan-flow.spec.ts
Labels: web

test(server): align sim-runner test fixtures with CURRENT_ENGINE_VER
  apps/server/src/services/pro-league-sim-runner.test.ts
Labels: server

feat(web): /pro-league/about marketing page (sprint 1.F.4) (#660)
  apps/server/src/services/pro-league-sim-runner.test.ts
  apps/web/app/pro-league/about/layout.tsx
  apps/web/app/pro-league/about/page.test.tsx
  apps/web/app/pro-league/about/page.tsx
  apps/web/app/pro-league/page.tsx
  apps/web/app/sitemap.ts
  tests/e2e-ui/specs/pro-league-fan-flow.spec.ts
Labels: web, server

feat(web): i18n Pro League hub + about pages (sprint i18n.1)
  apps/web/app/i18n/translations.ts
  apps/web/app/pro-league/about/page.test.tsx
  apps/web/app/pro-league/about/page.tsx
  apps/web/app/pro-league/page.test.tsx
  apps/web/app/pro-league/page.tsx
Labels: web

feat(web): i18n Pro League hub + about pages (sprint i18n.1) (#661)
  apps/web/app/i18n/translations.ts
  apps/web/app/pro-league/about/page.test.tsx
  apps/web/app/pro-league/about/page.tsx
  apps/web/app/pro-league/page.test.tsx
  apps/web/app/pro-league/page.tsx
Labels: web

feat(server): wire audit log into admin-data routes (S27.6.4)
  apps/server/src/routes/admin-data.ts
  apps/server/src/routes/admin.ts
  apps/server/src/services/audit-log.test.ts
  apps/server/src/services/audit-log.ts
  apps/web/public/version.json
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: web, server

feat(sim-engine): every yard the ball moves is a narrated MOVE event
  packages/shared-types/src/match-event.test.ts
  packages/shared-types/src/match-event.ts
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/src/driver/hybrid-driver.test.ts
  packages/sim-engine/src/driver/hybrid-driver.ts
  packages/sim-engine/src/replay/narrator.ts
  packages/sim-engine/src/types.ts
Labels: none

refactor(game-engine): extract turn + foul handlers (S27.8.3)
  docs/roadmap/sprints/S27-evolutions-confort.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/actions/turn-foul-actions.ts
  packages/game-engine/vitest.config.ts
Labels: game-engine

feat(web): i18n Pro League standings + leaderboard (sprint i18n.2)
  apps/web/app/i18n/translations.ts
  apps/web/app/pro-league/leaderboard/page.test.tsx
  apps/web/app/pro-league/leaderboard/page.tsx
  apps/web/app/pro-league/standings/page.test.tsx
  apps/web/app/pro-league/standings/page.tsx
Labels: web
