Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

feat(teams): afficher les logos d'équipe sur /me/teams
  apps/server/src/routes/team-readonly-handlers.ts
  apps/web/app/me/teams/page.logo.test.tsx
  apps/web/app/me/teams/page.tsx
Labels: web, server

feat(competitions): afficher les logos d'équipe en ligue et en coupe
  apps/server/src/cupScoring.ts
  apps/server/src/routes/cup.ts
  apps/server/src/routes/league.ts
  apps/server/src/services/league.ts
  apps/web/app/cups/[id]/CupBracketView.logo.test.tsx
  apps/web/app/cups/[id]/CupBracketView.tsx
  apps/web/app/cups/[id]/page.tsx
  apps/web/app/leagues/[id]/PlayoffBracketView.tsx
  apps/web/app/leagues/[id]/SeasonParticipants.tsx
  apps/web/app/leagues/[id]/seasons/[sid]/leaderboards/page.tsx
  apps/web/app/leagues/[id]/types.ts
Labels: web, server

Règlements de tournoi : surcoûts Élite, effectif minimum, barème de classement et coups de pouce (#979)
  .changeset/reglement-tournoi-surcouts-et-regles.md
  apps/server/src/routes/cup.ts
  apps/server/src/routes/team-build-handler.ts
  apps/server/src/routes/team-build-tournament-ruleset.test.ts
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league.test.ts
  apps/server/src/services/league.ts
  apps/server/src/services/tournament-inducements.test.ts
  apps/server/src/services/tournament-inducements.ts
  apps/server/src/utils/tournament-ruleset-helpers.test.ts
  apps/server/src/utils/tournament-ruleset-helpers.ts
  apps/web/app/me/teams/new/BuildAdvancementAllocator.tournament.test.tsx
  apps/web/app/me/teams/new/BuildAdvancementAllocator.tsx
  apps/web/app/me/teams/new/build-advancement-rules.tournament.test.ts
  apps/web/app/me/teams/new/build-advancement-rules.ts
  apps/web/app/me/teams/new/page.tournament-ruleset.test.tsx
  apps/web/app/me/teams/new/page.tsx
  packages/game-engine/src/rosters/index.ts
  packages/game-engine/src/rosters/tournament-rulesets.test.ts
  packages/game-engine/src/rosters/tournament-rulesets.ts
Labels: game-engine, web, server

feat(star-players): expliquer pourquoi une recrue est indisponible
  apps/web/app/components/StarPlayerSelector.blocked.test.tsx
  apps/web/app/components/StarPlayerSelector.tsx
  apps/web/app/components/star-player-availability.test.ts
  apps/web/app/components/star-player-availability.ts
  apps/web/app/me/teams/new/page.tsx
Labels: web

feat(teams): financer les améliorations sur le pool de PSP d'équipe
  apps/server/src/routes/team-advancement-handlers.ts
  apps/server/src/routes/team-player-skills-handler.test.ts
  apps/server/src/routes/team-player-skills-handler.ts
  apps/server/src/routes/team-player-skills-pool.test.ts
  apps/server/src/routes/team.ts
  apps/server/src/schemas/team.schemas.ts
  apps/server/src/services/team-advancement-editing.test.ts
  apps/server/src/services/team-advancement-editing.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/utils/advancements.ts
  packages/game-engine/src/utils/build-psp-pool.test.ts
  packages/game-engine/src/utils/build-psp-pool.ts
Labels: game-engine, server

feat(teams): mode édition avancée sur la fiche d'édition d'équipe
  apps/web/app/me/teams/[id]/edit/PlayerAdvancements.test.tsx
  apps/web/app/me/teams/[id]/edit/PlayerAdvancements.tsx
  apps/web/app/me/teams/[id]/edit/PspPoolPanel.test.tsx
  apps/web/app/me/teams/[id]/edit/PspPoolPanel.tsx
  apps/web/app/me/teams/[id]/edit/page.tsx
  apps/web/app/me/teams/[id]/edit/psp-pool-client.test.ts
  apps/web/app/me/teams/[id]/edit/psp-pool-client.ts
Labels: web

feat(teams): recruter des Star Players depuis l'édition d'équipe
  apps/server/src/routes/team-star-player-handlers.ts
  apps/web/app/me/teams/[id]/edit/TeamStarPlayersEditor.test.tsx
  apps/web/app/me/teams/[id]/edit/TeamStarPlayersEditor.tsx
  apps/web/app/me/teams/[id]/edit/page.tsx
Labels: web, server

feat(teams): avertir avant de quitter l'édition avec des changements en attente
  apps/web/app/hooks/useUnsavedChanges.test.tsx
  apps/web/app/hooks/useUnsavedChanges.ts
  apps/web/app/me/teams/[id]/edit/TeamStarPlayersEditor.test.tsx
  apps/web/app/me/teams/[id]/edit/page.tsx
  apps/web/app/me/teams/[id]/edit/roster-draft.test.ts
  apps/web/app/me/teams/[id]/edit/roster-draft.ts
Labels: web

chore(changeset): logos en compétition et édition avancée d'équipe
  .changeset/logos-competitions-edition-avancee.md
  apps/web/public/version.json
Labels: web

fix(teams): logo décoratif à côté du nom d'équipe (E2E UI rouge sur main)
  apps/web/app/cups/[id]/CupBracketView.logo.test.tsx
  apps/web/app/cups/[id]/CupBracketView.tsx
  apps/web/app/cups/[id]/page.tsx
  apps/web/app/leagues/[id]/PlayoffBracketView.tsx
  apps/web/app/leagues/[id]/SeasonParticipants.tsx
  apps/web/app/leagues/[id]/seasons/[sid]/leaderboards/page.tsx
  apps/web/app/me/teams/page.logo.test.tsx
  apps/web/app/me/teams/page.tsx
Labels: web

chore(changeset): logo décoratif à côté du nom d'équipe
  .changeset/logo-decoratif-nom-equipe.md
Labels: none

Logo décoratif à côté du nom d'équipe (corrige l'E2E UI rouge sur main) (#981)
  .changeset/logo-decoratif-nom-equipe.md
  apps/web/app/cups/[id]/CupBracketView.logo.test.tsx
  apps/web/app/cups/[id]/CupBracketView.tsx
  apps/web/app/cups/[id]/page.tsx
  apps/web/app/leagues/[id]/PlayoffBracketView.tsx
  apps/web/app/leagues/[id]/SeasonParticipants.tsx
  apps/web/app/leagues/[id]/seasons/[sid]/leaderboards/page.tsx
  apps/web/app/me/teams/page.logo.test.tsx
  apps/web/app/me/teams/page.tsx
Labels: web

feat(league): staff et Ligue régionale éditables par le commissaire
  apps/server/src/routes/league.ts
  apps/server/src/schemas/commissioner-team-edit.schemas.test.ts
  apps/server/src/schemas/commissioner-team-edit.schemas.ts
  apps/server/src/services/commissioner-team-edit.ts
  apps/server/src/services/commissioner-team-settings.test.ts
  apps/server/src/services/commissioner-team-settings.ts
Labels: server

refactor(league): refonte du dialogue et de l'effectif dans l'éditeur commissaire
  apps/web/app/leagues/[id]/CommissionerTeamEditor.test.tsx
  apps/web/app/leagues/[id]/CommissionerTeamEditor.tsx
  apps/web/app/leagues/[id]/SeasonParticipants.tsx
  apps/web/app/leagues/[id]/commissioner/CommissionerTeamEditor.test.tsx
  apps/web/app/leagues/[id]/commissioner/CommissionerTeamEditor.tsx
  apps/web/app/leagues/[id]/commissioner/PlayerEditPanel.tsx
  apps/web/app/leagues/[id]/commissioner/PlayerRow.tsx
  apps/web/app/leagues/[id]/commissioner/RosterTab.tsx
  apps/web/app/leagues/[id]/commissioner/roster-helpers.test.ts
  apps/web/app/leagues/[id]/commissioner/roster-helpers.ts
  apps/web/app/leagues/[id]/commissioner/types.ts
  apps/web/app/leagues/[id]/commissioner/useCommissionerTeam.ts
Labels: web

feat(league): onglets staff et Ligue régionale dans l'éditeur commissaire
  apps/web/app/leagues/[id]/commissioner/CommissionerTeamEditor.tsx
  apps/web/app/leagues/[id]/commissioner/RegionalLeagueTab.tsx
  apps/web/app/leagues/[id]/commissioner/SettingsTabs.test.tsx
  apps/web/app/leagues/[id]/commissioner/StaffTab.tsx
Labels: web

docs(openspec): change improve-commissioner-team-editing
  openspec/changes/improve-commissioner-team-editing/design.md
  openspec/changes/improve-commissioner-team-editing/proposal.md
  openspec/changes/improve-commissioner-team-editing/specs/commissioner-team-settings/spec.md
  openspec/changes/improve-commissioner-team-editing/tasks.md
Labels: none

fix(league): rendre lisibles les alignements et les Star Players affichés
  apps/server/src/services/commissioner-team-settings.test.ts
  apps/server/src/services/commissioner-team-settings.ts
  apps/web/app/leagues/[id]/commissioner/RegionalLeagueTab.tsx
  apps/web/app/leagues/[id]/commissioner/SettingsTabs.test.tsx
  apps/web/app/leagues/[id]/commissioner/roster-helpers.test.ts
  apps/web/app/leagues/[id]/commissioner/roster-helpers.ts
Labels: web, server

chore(changeset): édition commissaire — staff, Ligue régionale et refonte de l'écran
  .changeset/edition-commissaire-staff-ligue-regionale.md
Labels: none

feat(db): table TournamentRuleset + parser Zod de la définition
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/schemas/tournament-ruleset.schemas.test.ts
  apps/server/src/schemas/tournament-ruleset.schemas.ts
  prisma/migrations/20260825140000_add_tournament_ruleset_table/migration.sql
  prisma/schema.prisma
Labels: server

feat(api): CRUD admin et lecture publique des règlements de tournoi
  apps/server/src/index.ts
  apps/server/src/routes/admin-tournament-rulesets.test.ts
  apps/server/src/routes/admin-tournament-rulesets.ts
  apps/server/src/routes/public-tournament-rulesets.ts
Labels: server

feat(server): repository des règlements de tournoi, base d'abord
  apps/server/src/seed.ts
  apps/server/src/seeders/sync-tournament-rulesets.test.ts
  apps/server/src/seeders/sync-tournament-rulesets.ts
  apps/server/src/services/tournament-ruleset-repository.test.ts
  apps/server/src/services/tournament-ruleset-repository.ts
Labels: server

refactor(server): les consommateurs lisent les règlements en base
  apps/server/src/routes/cup.ts
  apps/server/src/routes/team-build-handler.ts
  apps/server/src/routes/team-create-from-roster-handler.ts
  apps/server/src/services/cup-registration.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league.ts
  apps/server/src/utils/tournament-ruleset-helpers.test.ts
  apps/server/src/utils/tournament-ruleset-helpers.ts
Labels: server

feat(web): le web consomme les règlements servis par l'API
  apps/web/app/cups/[id]/page.tsx
  apps/web/app/cups/page.tsx
  apps/web/app/leagues/[id]/page.tsx
  apps/web/app/leagues/_components/LeagueForm.tsx
  apps/web/app/lib/tournament-rulesets.test.ts
  apps/web/app/lib/tournament-rulesets.ts
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/me/teams/new/builder-url-params.test.ts
  apps/web/app/me/teams/new/builder-url-params.ts
  apps/web/app/me/teams/new/page.tournament-ruleset.test.tsx
  apps/web/app/me/teams/new/page.tsx
Labels: web

feat(admin): éditeur complet des règlements de tournoi
  apps/web/app/admin/data/tournament-rulesets/[slug]/page.tsx
  apps/web/app/admin/data/tournament-rulesets/_components/RulesetEditor.test.tsx
  apps/web/app/admin/data/tournament-rulesets/_components/RulesetEditor.tsx
  apps/web/app/admin/data/tournament-rulesets/_components/fields.tsx
  apps/web/app/admin/data/tournament-rulesets/_components/sections.tsx
  apps/web/app/admin/data/tournament-rulesets/_lib/catalogs.ts
  apps/web/app/admin/data/tournament-rulesets/_lib/client.ts
  apps/web/app/admin/data/tournament-rulesets/new/page.tsx
  apps/web/app/admin/data/tournament-rulesets/page.test.tsx
  apps/web/app/admin/data/tournament-rulesets/page.tsx
  apps/web/app/admin/page.tsx
Labels: web

docs: mémoire et changeset des règlements éditables en base
  .changeset/reglements-tournoi-editables-en-base.md
  CLAUDE.md
Labels: none

Édition d'une équipe par le commissaire : refonte de l'écran, staff et Ligue régionale (#982)
  .changeset/edition-commissaire-staff-ligue-regionale.md
  apps/server/src/routes/league.ts
  apps/server/src/schemas/commissioner-team-edit.schemas.test.ts
  apps/server/src/schemas/commissioner-team-edit.schemas.ts
  apps/server/src/services/commissioner-team-edit.ts
  apps/server/src/services/commissioner-team-settings.test.ts
  apps/server/src/services/commissioner-team-settings.ts
  apps/web/app/leagues/[id]/CommissionerTeamEditor.test.tsx
  apps/web/app/leagues/[id]/CommissionerTeamEditor.tsx
  apps/web/app/leagues/[id]/SeasonParticipants.tsx
  apps/web/app/leagues/[id]/commissioner/CommissionerTeamEditor.test.tsx
  apps/web/app/leagues/[id]/commissioner/CommissionerTeamEditor.tsx
  apps/web/app/leagues/[id]/commissioner/PlayerEditPanel.tsx
  apps/web/app/leagues/[id]/commissioner/PlayerRow.tsx
  apps/web/app/leagues/[id]/commissioner/RegionalLeagueTab.tsx
  apps/web/app/leagues/[id]/commissioner/RosterTab.tsx
  apps/web/app/leagues/[id]/commissioner/SettingsTabs.test.tsx
  apps/web/app/leagues/[id]/commissioner/StaffTab.tsx
  apps/web/app/leagues/[id]/commissioner/roster-helpers.test.ts
  apps/web/app/leagues/[id]/commissioner/roster-helpers.ts
  apps/web/app/leagues/[id]/commissioner/types.ts
  apps/web/app/leagues/[id]/commissioner/useCommissionerTeam.ts
  openspec/changes/improve-commissioner-team-editing/design.md
  openspec/changes/improve-commissioner-team-editing/proposal.md
  openspec/changes/improve-commissioner-team-editing/specs/commissioner-team-settings/spec.md
  openspec/changes/improve-commissioner-team-editing/tasks.md
Labels: web, server

chore(release): 1.236.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  034c49a42ab3d8b5be3a29f1e8b2feb9e24be66d
Labels: none

fix(league): refuse une compétence déjà possédée en évolution de joueur
  apps/server/src/services/post-match-league-sequence.test.ts
  apps/server/src/services/post-match-league-sequence.ts
  apps/web/app/components/AdvancementEditor.test.tsx
  apps/web/app/components/AdvancementEditor.tsx
Labels: web, server

fix(league): crédite les PSP du Joueur du Match dans les PSP projetés de la feuille
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
Labels: server

fix(league): fige l'état complet des équipes au DÉMARRAGE du match
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/RosterSection.tsx
Labels: web, server

fix(league): applique les évolutions AVANT les embauches (séquence BB de fin de match)
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-offline-result.test.ts
  apps/server/src/services/league-offline-result.ts
Labels: server

fix(league): un joueur mort ou licencié libère sa place au roster pour les achats
  apps/server/src/services/league-offline-purchases.test.ts
  apps/server/src/services/league-offline-purchases.ts
Labels: server

feat(league): les Star Players engagés jouent le match sur la feuille
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-sheet-star-players.test.ts
  apps/server/src/services/league-sheet-star-players.ts
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
Labels: web, server

feat(league): affiche la trésorerie disponible dans les achats de la feuille de match
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
Labels: web

feat(league): recrutement des journaliers ayant joué le match
  apps/server/src/schemas/league-match-sheet.schemas.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-offline-purchases.test.ts
  apps/server/src/services/league-offline-purchases.ts
  apps/server/src/services/league-sheet-journeymen.test.ts
  apps/server/src/services/league-sheet-journeymen.ts
  apps/web/app/components/AdvancementEditor.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/SheetAdvancementsEditor.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
Labels: web, server

feat(league): playoffs masqués aux coachs tant que le commissaire ne les a pas publiés
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/middleware/authUser.ts
  apps/server/src/routes/league-playoff-routes.test.ts
  apps/server/src/routes/league.ts
  apps/server/src/services/league-playoffs.test.ts
  apps/server/src/services/league-playoffs.ts
  apps/web/app/leagues/[id]/PlayoffBracketView.publish.test.tsx
  apps/web/app/leagues/[id]/PlayoffBracketView.tsx
  prisma/schema.prisma
Labels: web, server

docs(changeset): lot feuille de match & séquence de fin de match
  .changeset/fdm-sequence-fin-de-match.md
Labels: none

docs(memoire): patterns séquence de fin de match, joueurs synthétiques, gel de feuille, publication différée
  CLAUDE.md
Labels: none

chore(prisma): limite le diff de schéma à l'ajout de playoffsPublishedAt
  apps/server/prisma/sqlite/schema.prisma
  prisma/schema.prisma
Labels: server

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
