Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"

feat(game-engine): O.1 batch 3f - cannoneer + monstrous-mouth
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/mechanics/cannoneer-monstrous-mouth.test.ts
  packages/game-engine/src/mechanics/passing.ts
  packages/game-engine/src/mechanics/strip-ball.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(game-engine): O.1 batch 3f - cannoneer + monstrous-mouth (#318)
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/mechanics/cannoneer-monstrous-mouth.test.ts
  packages/game-engine/src/mechanics/passing.ts
  packages/game-engine/src/mechanics/strip-ball.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(game-engine): O.1 batch 3g - arm-bar (cle de bras)
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/mechanics/arm-bar.test.ts
  packages/game-engine/src/mechanics/arm-bar.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(game-engine): O.1 batch 3g - arm-bar (cle de bras) (#319)
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/mechanics/arm-bar.test.ts
  packages/game-engine/src/mechanics/arm-bar.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(game-engine): O.1 batch 3g - cloud-burster + titchy
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/mechanics/cloud-burster-titchy.test.ts
  packages/game-engine/src/mechanics/movement.ts
  packages/game-engine/src/mechanics/passing.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(game-engine): O.1 batch 3h - mighty-blow-1/2 + dirty-player-2
  packages/game-engine/src/skills/mighty-blow-dirty-player-variants.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(game-engine): O.1 batch 3h - mighty-blow-1/2 + dirty-player-2 (#321)
  packages/game-engine/src/skills/mighty-blow-dirty-player-variants.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

fix(game-engine): align preMatch.receivingTeam/kickingTeam in enterSetupPhase
  apps/server/src/services/ai-setup.test.ts
  apps/server/src/services/prematch-setup.test.ts
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/online-setup.test.ts
Labels: game-engine, server

feat(docker): add Traefik routing for Ko-fi webhooks and integrate Umami analytics script in production layout
  apps/web/app/layout.tsx
  docker-compose.prod.yml
Labels: web

chore(release): 1.66.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  f8415104847ce4f6474dae769959f053c33b8194
Labels: none

feat(analytics): enable Umami analytics in production environment
  apps/web/app/layout.tsx
  docker-compose.prod.yml
Labels: web

chore(release): 1.67.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  3ea5c9d1c53400759e8dcfe558f90b3c3022e080
Labels: none

refactor(layout): replace Script component with script tag for Umami analytics integration
  apps/web/app/layout.tsx
Labels: web

chore(release): 1.67.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  0569527272c2a3c8066ba5c951471515fbaa8620
Labels: none

feat(game-engine): O.1 batch 3i - register leap + stab + projectile-vomit discovery entries
  packages/game-engine/src/skills/batch-3i-registry.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(game-engine): K.11 implementer hail-mary-pass et safe-pass
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/mechanics/hail-mary-pass.test.ts
  packages/game-engine/src/mechanics/safe-pass.test.ts
Labels: game-engine

feat(game-engine): O.1 batch 3i - leap + stab + projectile-vomit registry entries (#322)
  packages/game-engine/src/skills/batch-3i-registry.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(game-engine): O.1 batch 3j - register on-the-ball + throw-team-mate + dump-off discovery entries
  packages/game-engine/src/skills/batch-3j-registry.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(game-engine): O.1 batch 3j - on-the-ball + throw-team-mate + dump-off registry entries (#323)
  packages/game-engine/src/skills/batch-3j-registry.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(game-engine): K.11 hail-mary legal moves + tests complementaires (#324)
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/mechanics/hail-mary-pass.test.ts
  packages/game-engine/src/mechanics/safe-pass.test.ts
Labels: game-engine

feat(game-engine): O.1 batch 3g - cloud-burster + titchy (#320)
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/mechanics/cloud-burster-titchy.test.ts
  packages/game-engine/src/mechanics/movement.ts
  packages/game-engine/src/mechanics/passing.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(game-engine): O.1 batch 3k - chainsaw + multiple-block + hypnotic-gaze registry entries
  packages/game-engine/src/skills/batch-3k-registry.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(game-engine): O.1 batch 3k - chainsaw + multiple-block + hypnotic-gaze (#325)
  packages/game-engine/src/skills/batch-3k-registry.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(game-engine): O.1 batch 3l - armored-skull + instable + running-pass registry entries
  packages/game-engine/src/skills/batch-3l-registry.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(game-engine): O.1 batch 3l - armored-skull + instable + running-pass (#326)
  packages/game-engine/src/skills/batch-3l-registry.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(game-engine): O.1 batch 3m - bloodlust + always-hungry + secret-weapon registry entries
  packages/game-engine/src/skills/batch-3m-registry.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(game-engine): O.1 batch 3m - bloodlust + always-hungry + secret-weapon registry (#327)
  packages/game-engine/src/skills/batch-3m-registry.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(game-engine): O.1 batch 3n - pogo-stick + swarming + kick-team-mate
  packages/game-engine/src/skills/batch-3n-registry.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

feat(game-engine): O.1 batch 3n - pogo-stick + swarming + kick-team-mate (#328)
  packages/game-engine/src/skills/batch-3n-registry.test.ts
  packages/game-engine/src/skills/skill-registry.ts
Labels: game-engine

fix(docker): update SERVER_API_BASE to use nufflearena_server in production and development configurations
  apps/web/app/api/rosters/route.ts
  docker-compose.prod.yml
  docker-compose.yml
Labels: web

chore(release): 1.68.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  21326b5440f9c89636d70cbc1e711372f5da6b09
Labels: none

feat(web): refresh homepage content, design & SEO
  apps/web/app/components/HomeStructuredData.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/app/robots.ts
  apps/web/app/sitemap.ts
  apps/web/public/manifest.json
  apps/web/public/robots.txt
Labels: web

feat(logging): enable HTTP request logging for better observability
  apps/server/src/middleware/requestTiming.ts
  apps/server/src/routes/public-positions.ts
  apps/server/src/routes/public-rosters.ts
  apps/server/src/routes/public-skills.ts
  apps/server/src/utils/memoize-async.test.ts
  apps/server/src/utils/memoize-async.ts
  apps/web/app/api/rosters/route.ts
  apps/web/app/lib/serverApi.test.ts
  apps/web/app/lib/serverApi.ts
  apps/web/app/skills/error.tsx
  apps/web/app/skills/page.tsx
  apps/web/app/teams/[slug]/page.tsx
  apps/web/app/teams/error.tsx
  apps/web/app/teams/page.tsx
  docker-compose.prod.yml
Labels: web, server

chore(release): 1.69.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  5850b6c31470ca3cbb30f32939102989d0db12b4
Labels: none

feat(web): add LLM/GEO SEO optimisations
  apps/web/app/components/HomeStructuredData.tsx
  apps/web/app/robots.ts
  apps/web/public/llms-full.txt
  apps/web/public/llms.txt
  apps/web/public/robots.txt
Labels: web
