Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"

docs(pro-league): change OpenSpec du lot 4, récit de session, mémoire CLAUDE.md
  CLAUDE.md
  docs/roadmap/sessions/2026-10-05-pro-league-lot4-evolution-persistee.md
  openspec/changes/pro-league-coach-evolution/design.md
  openspec/changes/pro-league-coach-evolution/proposal.md
  openspec/changes/pro-league-coach-evolution/specs/pro-league-coach-evolution/spec.md
  openspec/changes/pro-league-coach-evolution/tasks.md
Labels: none

chore(release): 1.252.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  75669757aa8b73a90f230199d7f1fc2184078dc5
Labels: none

fix(tests): shouldAutoEndTurn — un déplacement avec des PM restants laisse l'activation ouverte
  tests/game-engine/movement.test.ts
Labels: none

chore(release): 1.253.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  0444c2242e25b70625a82a1efe0e789342ddc6bf
Labels: none

docs(openspec): archive dice-themes et dice-theme-shop-and-crowns
  CLAUDE.md
  docs/roadmap/backlog/openspec-suites.md
  openspec/changes/archive/2026-10-05-dice-theme-shop-and-crowns/design.md
  openspec/changes/archive/2026-10-05-dice-theme-shop-and-crowns/proposal.md
  openspec/changes/archive/2026-10-05-dice-theme-shop-and-crowns/specs/crowns/spec.md
  openspec/changes/archive/2026-10-05-dice-theme-shop-and-crowns/specs/dice-themes/spec.md
  openspec/changes/archive/2026-10-05-dice-theme-shop-and-crowns/tasks.md
  openspec/changes/archive/2026-10-05-dice-themes/design.md
  openspec/changes/archive/2026-10-05-dice-themes/proposal.md
  openspec/changes/archive/2026-10-05-dice-themes/specs/dice-themes/spec.md
  openspec/changes/archive/2026-10-05-dice-themes/tasks.md
  openspec/specs/crowns/spec.md
  openspec/specs/dice-themes/spec.md
Labels: none

feat(sim-engine): pool de worker_threads, bench asynchrone et matrice nocturne
  .github/workflows/sim-bench-nightly.yml
  packages/sim-engine/package.json
  packages/sim-engine/scripts/bench-nightly.ts
  packages/sim-engine/src/bench/runner.ts
  packages/sim-engine/src/index.ts
  packages/sim-engine/src/pool/protocol.ts
  packages/sim-engine/src/pool/sim-pool.test.ts
  packages/sim-engine/src/pool/sim-pool.ts
  packages/sim-engine/src/pool/sim-worker-boot.mjs
  packages/sim-engine/src/pool/sim-worker.ts
  pnpm-lock.yaml
Labels: none

feat(server): simulations hors de l'event loop, cotes sur 50 runs parallèles
  apps/server/src/services/pro-bet-odds-calculator.ts
  apps/server/src/services/pro-league-sim-pool.test.ts
  apps/server/src/services/pro-league-sim-pool.ts
  apps/server/src/services/pro-league-sim-runner.ts
Labels: server

feat(server): transition ready → completed, rétention des replays, healthcheck d'exploitation
  apps/server/src/index.ts
  apps/server/src/services/pro-league-health.test.ts
  apps/server/src/services/pro-league-health.ts
  apps/server/src/services/pro-league-match-completion.test.ts
  apps/server/src/services/pro-league-match-completion.ts
  apps/server/src/services/pro-league-replay-retention.test.ts
  apps/server/src/services/pro-league-replay-retention.ts
Labels: server

docs(pro-league): change OpenSpec du lot 5, récit de session, mémoire CLAUDE.md, changelog
  CLAUDE.md
  docs/roadmap/sessions/2026-10-05-pro-league-lot5-exploitation.md
  openspec/changes/pro-league-exploitation/design.md
  openspec/changes/pro-league-exploitation/proposal.md
  openspec/changes/pro-league-exploitation/specs/pro-league-exploitation/spec.md
  openspec/changes/pro-league-exploitation/tasks.md
  packages/sim-engine/CHANGELOG.md
Labels: none

feat(web): admin Wallets, coachs sans wallet et creation
  apps/web/app/admin/layout.tsx
  apps/web/app/admin/wallets/[userId]/page.test.tsx
  apps/web/app/admin/wallets/[userId]/page.tsx
  apps/web/app/admin/wallets/page.test.tsx
  apps/web/app/admin/wallets/page.tsx
  apps/web/app/lib/admin-crowns.test.ts
  apps/web/app/lib/admin-crowns.ts
Labels: web

feat(server): admin des wallets et des Couronnes
  apps/server/src/index.ts
  apps/server/src/routes/admin-crowns.test.ts
  apps/server/src/routes/admin-crowns.ts
  apps/server/src/routes/admin-wallet.test.ts
  apps/server/src/routes/admin-wallet.ts
  apps/server/src/schemas/crowns-admin.schemas.ts
  apps/server/src/services/crowns-admin.test.ts
  apps/server/src/services/crowns-admin.ts
  apps/server/src/services/pro-wallet.ts
  apps/web/app/me/shop/dice-themes/DiceThemeShop.test.tsx
  apps/web/app/me/shop/dice-themes/DiceThemeShop.tsx
  apps/web/app/me/shop/dice-themes/shop.test.ts
  apps/web/app/me/shop/dice-themes/shop.ts
  tests/e2e-api/specs/crowns-wallets-admin.spec.ts
Labels: web, server

docs: change OpenSpec shop-and-crowns-admin, CLAUDE.md, changeset
  .changeset/boutique-et-admin-couronnes.md
  CLAUDE.md
  openspec/changes/shop-and-crowns-admin/proposal.md
  openspec/changes/shop-and-crowns-admin/specs/crowns/spec.md
  openspec/changes/shop-and-crowns-admin/specs/dice-themes/spec.md
  openspec/changes/shop-and-crowns-admin/specs/shop/spec.md
  openspec/changes/shop-and-crowns-admin/tasks.md
Labels: none

feat(web): la page Themes de des devient une categorie de la Boutique
  apps/web/app/AuthBar.test.tsx
  apps/web/app/AuthBar.tsx
  apps/web/app/me/dice-themes/page.tsx
  apps/web/app/me/profile/CrownsCard.tsx
  apps/web/app/me/profile/DiceThemeSummaryCard.tsx
  apps/web/app/me/profile/ProfileCosmetics.test.tsx
  apps/web/app/me/shop/categories.test.ts
  apps/web/app/me/shop/categories.ts
  apps/web/app/me/shop/dice-themes/DiceThemeShop.test.tsx
  apps/web/app/me/shop/dice-themes/DiceThemeShop.tsx
  apps/web/app/me/shop/dice-themes/page.tsx
  apps/web/app/me/shop/layout.test.tsx
  apps/web/app/me/shop/layout.tsx
  apps/web/app/me/shop/page.tsx
  apps/web/app/me/shop/useShopCategories.ts
Labels: web

feat(web): admin Couronnes, vue d'ensemble et journal
  apps/web/app/admin/coach-cosmetics/page.tsx
  apps/web/app/admin/crowns/page.test.tsx
  apps/web/app/admin/crowns/page.tsx
Labels: web

fix(admin-crowns): reponses perimees, page recalee, course P2003
  apps/server/src/services/crowns-admin.test.ts
  apps/server/src/services/crowns-admin.ts
  apps/web/app/admin/crowns/page.tsx
  apps/web/app/admin/wallets/page.test.tsx
  apps/web/app/admin/wallets/page.tsx
Labels: web, server

chore(release): 1.254.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  f9f3ccdd5badbe0d2f96b21655ea04a64c264eb5
Labels: none

chore(release): 1.255.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  5820817c16111af5cc9bb0002bdfa1fdd17845cc
Labels: none

docs(openspec): archive des changes pro-league-coach-evolution et pro-league-exploitation
  CLAUDE.md
  docs/roadmap/backlog/openspec-suites.md
Labels: none

docs(openspec): sync des specs pro-league-coach-evolution et pro-league-exploitation
  openspec/changes/archive/2026-10-06-pro-league-coach-evolution/design.md
  openspec/changes/archive/2026-10-06-pro-league-coach-evolution/proposal.md
  openspec/changes/archive/2026-10-06-pro-league-coach-evolution/specs/pro-league-coach-evolution/spec.md
  openspec/changes/archive/2026-10-06-pro-league-coach-evolution/tasks.md
  openspec/changes/archive/2026-10-06-pro-league-exploitation/design.md
  openspec/changes/archive/2026-10-06-pro-league-exploitation/proposal.md
  openspec/changes/archive/2026-10-06-pro-league-exploitation/specs/pro-league-exploitation/spec.md
  openspec/changes/archive/2026-10-06-pro-league-exploitation/tasks.md
  openspec/specs/pro-league-coach-evolution/spec.md
  openspec/specs/pro-league-exploitation/spec.md
Labels: none

docs(openspec): sync et archive des changes des lots 4 et 5 de la Pro League (#1061)
  CLAUDE.md
  docs/roadmap/backlog/openspec-suites.md
  openspec/changes/archive/2026-10-06-pro-league-coach-evolution/design.md
  openspec/changes/archive/2026-10-06-pro-league-coach-evolution/proposal.md
  openspec/changes/archive/2026-10-06-pro-league-coach-evolution/specs/pro-league-coach-evolution/spec.md
  openspec/changes/archive/2026-10-06-pro-league-coach-evolution/tasks.md
  openspec/changes/archive/2026-10-06-pro-league-exploitation/design.md
  openspec/changes/archive/2026-10-06-pro-league-exploitation/proposal.md
  openspec/changes/archive/2026-10-06-pro-league-exploitation/specs/pro-league-exploitation/spec.md
  openspec/changes/archive/2026-10-06-pro-league-exploitation/tasks.md
  openspec/specs/pro-league-coach-evolution/spec.md
  openspec/specs/pro-league-exploitation/spec.md
Labels: none

docs(openspec): sync des specs des lots 1 à 3 de la Pro League
  openspec/changes/archive/2026-10-06-pro-league-coach-brain/design.md
  openspec/changes/archive/2026-10-06-pro-league-coach-brain/proposal.md
  openspec/changes/archive/2026-10-06-pro-league-coach-brain/specs/pro-league-coach-brain/spec.md
  openspec/changes/archive/2026-10-06-pro-league-coach-brain/tasks.md
  openspec/changes/archive/2026-10-06-pro-league-full-match/design.md
  openspec/changes/archive/2026-10-06-pro-league-full-match/proposal.md
  openspec/changes/archive/2026-10-06-pro-league-full-match/specs/pro-league-full-match/spec.md
  openspec/changes/archive/2026-10-06-pro-league-full-match/tasks.md
  openspec/changes/archive/2026-10-06-pro-league-replay-journal/design.md
  openspec/changes/archive/2026-10-06-pro-league-replay-journal/proposal.md
  openspec/changes/archive/2026-10-06-pro-league-replay-journal/specs/pro-league-replay-journal/spec.md
  openspec/changes/archive/2026-10-06-pro-league-replay-journal/tasks.md
  openspec/specs/pro-league-coach-brain/spec.md
  openspec/specs/pro-league-full-match/spec.md
  openspec/specs/pro-league-replay-journal/spec.md
Labels: none

docs(openspec): archive des changes des lots 1 à 3 de la Pro League
  CLAUDE.md
  docs/roadmap/backlog/openspec-suites.md
Labels: none

docs(roadmap): exploration « que vendre en Couronnes après les dés ? »
  CLAUDE.md
  docs/roadmap/backlog/openspec-suites.md
  docs/roadmap/explorations/2026-10-06-boutique-couronnes.md
Labels: none

docs(openspec): sync des specs de dix changes fusionnés en septembre
  openspec/specs/competition-documents/spec.md
  openspec/specs/competition-lifecycle/spec.md
  openspec/specs/competition-pdf-exports/spec.md
  openspec/specs/crowns/spec.md
  openspec/specs/cup-swiss-rounds/spec.md
  openspec/specs/dice-themes/spec.md
  openspec/specs/home-dashboard/spec.md
  openspec/specs/in-app-notifications/spec.md
  openspec/specs/league-match-sheet/spec.md
  openspec/specs/league-matchday-calendar/spec.md
  openspec/specs/league-pairing-schedule/spec.md
  openspec/specs/league-season-closure/spec.md
  openspec/specs/league-status-lifecycle/spec.md
  openspec/specs/league-visibility/spec.md
  openspec/specs/shop/spec.md
Labels: none

docs(openspec): sync et archive des changes des lots 1 à 3 de la Pro League (#1062)
  CLAUDE.md
  docs/roadmap/backlog/openspec-suites.md
  openspec/changes/archive/2026-10-06-pro-league-coach-brain/design.md
  openspec/changes/archive/2026-10-06-pro-league-coach-brain/proposal.md
  openspec/changes/archive/2026-10-06-pro-league-coach-brain/specs/pro-league-coach-brain/spec.md
  openspec/changes/archive/2026-10-06-pro-league-coach-brain/tasks.md
  openspec/changes/archive/2026-10-06-pro-league-full-match/design.md
  openspec/changes/archive/2026-10-06-pro-league-full-match/proposal.md
  openspec/changes/archive/2026-10-06-pro-league-full-match/specs/pro-league-full-match/spec.md
  openspec/changes/archive/2026-10-06-pro-league-full-match/tasks.md
  openspec/changes/archive/2026-10-06-pro-league-replay-journal/design.md
  openspec/changes/archive/2026-10-06-pro-league-replay-journal/proposal.md
  openspec/changes/archive/2026-10-06-pro-league-replay-journal/specs/pro-league-replay-journal/spec.md
  openspec/changes/archive/2026-10-06-pro-league-replay-journal/tasks.md
  openspec/specs/pro-league-coach-brain/spec.md
  openspec/specs/pro-league-full-match/spec.md
  openspec/specs/pro-league-replay-journal/spec.md
Labels: none

docs(roadmap): boutique en Couronnes — palettes nommées, plafond par saison, pas d'impression
  CLAUDE.md
  docs/roadmap/explorations/2026-10-06-boutique-couronnes.md
Labels: none

feat(compendium): les dés et leurs faces dans les pages de règles
  .changeset/compendium-des-et-faces.md
  apps/web/app/compendium/Blocks.render.test.tsx
  apps/web/app/compendium/Blocks.tsx
  apps/web/app/compendium/CompendiumDice.tsx
  apps/web/app/compendium/data.test.ts
  apps/web/app/compendium/data/rules-bb-2025.json
  apps/web/app/compendium/dice-notation.test.ts
  apps/web/app/compendium/dice-notation.ts
  apps/web/app/compendium/types.ts
  apps/web/app/recherche/build-records.ts
  openspec/changes/compendium-dice-faces/proposal.md
  openspec/changes/compendium-dice-faces/specs/compendium-dice/spec.md
  openspec/changes/compendium-dice-faces/tasks.md
Labels: web

docs(roadmap): boutique en Couronnes — bonus d'inscription réduit, Gazette en attente
  CLAUDE.md
  docs/roadmap/explorations/2026-10-06-boutique-couronnes.md
Labels: none

feat(aide): page d'aide qui présente toutes les fonctionnalités du site
  .changeset/page-aide-fonctionnalites.md
  apps/web/app/aide/help-catalogue.test.ts
  apps/web/app/aide/help-catalogue.ts
  apps/web/app/aide/help-visibility.test.ts
  apps/web/app/aide/help-visibility.ts
  apps/web/app/aide/page.render.test.tsx
  apps/web/app/aide/page.tsx
  apps/web/app/components/Footer.tsx
  apps/web/app/components/Header.help.test.tsx
  apps/web/app/components/Header.tsx
  apps/web/app/sitemap.test.ts
  apps/web/app/sitemap.ts
  openspec/changes/site-help-page/proposal.md
  openspec/changes/site-help-page/specs/site-help/spec.md
  openspec/changes/site-help-page/tasks.md
Labels: web

docs(openspec): proposition crowns-earning — les Couronnes se gagnent en jouant
  openspec/changes/crowns-earning/.openspec.yaml
  openspec/changes/crowns-earning/design.md
  openspec/changes/crowns-earning/proposal.md
  openspec/changes/crowns-earning/specs/crowns/spec.md
  openspec/changes/crowns-earning/tasks.md
Labels: none

feat: dés et faces dans le compendium + page d'aide de toutes les fonctionnalités (#1064)
  .changeset/compendium-des-et-faces.md
  .changeset/page-aide-fonctionnalites.md
  apps/web/app/aide/help-catalogue.test.ts
  apps/web/app/aide/help-catalogue.ts
  apps/web/app/aide/help-visibility.test.ts
  apps/web/app/aide/help-visibility.ts
  apps/web/app/aide/page.render.test.tsx
  apps/web/app/aide/page.tsx
  apps/web/app/compendium/Blocks.render.test.tsx
  apps/web/app/compendium/Blocks.tsx
  apps/web/app/compendium/CompendiumDice.tsx
  apps/web/app/compendium/data.test.ts
  apps/web/app/compendium/data/rules-bb-2025.json
  apps/web/app/compendium/dice-notation.test.ts
  apps/web/app/compendium/dice-notation.ts
  apps/web/app/compendium/types.ts
  apps/web/app/components/Footer.tsx
  apps/web/app/components/Header.help.test.tsx
  apps/web/app/components/Header.tsx
  apps/web/app/recherche/build-records.ts
  apps/web/app/sitemap.test.ts
  apps/web/app/sitemap.ts
  openspec/changes/compendium-dice-faces/proposal.md
  openspec/changes/compendium-dice-faces/specs/compendium-dice/spec.md
  openspec/changes/compendium-dice-faces/tasks.md
  openspec/changes/site-help-page/proposal.md
  openspec/changes/site-help-page/specs/site-help/spec.md
  openspec/changes/site-help-page/tasks.md
Labels: web

chore(release): 1.256.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  67cd81379f5aa7518e8b529f0191d001398dcd84
Labels: none

feat(crowns): registre CrownsReward et règles pures des récompenses
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/services/crowns-rewards-rules.test.ts
  apps/server/src/services/crowns-rewards-rules.ts
  openspec/changes/crowns-earning/tasks.md
  prisma/schema.prisma
Labels: server

feat(crowns): rattrapage des récompenses — feuilles validées, succès, bonus de bienvenue
  CLAUDE.md
  apps/server/src/services/crowns-rewards.test.ts
  apps/server/src/services/crowns-rewards.ts
  apps/server/src/services/pro-wallet-rewards.test.ts
  apps/server/src/services/pro-wallet-rewards.ts
  openspec/changes/crowns-earning/tasks.md
Labels: server

feat(crowns): GET /crowns/me rattrape les récompenses et explique les gains
  apps/server/src/routes/crowns.test.ts
  apps/server/src/routes/crowns.ts
  apps/server/src/services/crowns-rewards.test.ts
  apps/server/src/services/crowns-rewards.ts
  apps/web/app/components/crowns/HowToEarnCrowns.test.tsx
  apps/web/app/components/crowns/HowToEarnCrowns.tsx
  apps/web/app/contexts/CrownsContext.test.tsx
  apps/web/app/contexts/CrownsContext.tsx
  apps/web/app/lib/crowns.test.ts
  apps/web/app/lib/crowns.ts
  apps/web/app/me/dice-themes/DiceThemeShop.test.tsx
  apps/web/app/me/dice-themes/DiceThemeShop.tsx
  apps/web/app/me/profile/CrownsCard.tsx
  apps/web/app/me/profile/ProfileCosmetics.test.tsx
  openspec/changes/crowns-earning/tasks.md
Labels: web, server
