Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

chore(release): 1.164.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  c895456dad3e5bb3700542f5b693d087a784633a
Labels: none

feat(league): gate la brique league derriere un flag dedie `league`
  apps/server/src/services/featureFlags.ts
  apps/web/app/components/Header.tsx
  apps/web/app/components/LeagueGate.test.tsx
  apps/web/app/components/LeagueGate.tsx
  apps/web/app/leagues/[id]/layout.tsx
  apps/web/app/leagues/layout.tsx
  apps/web/app/leagues/new/page.tsx
  apps/web/app/lib/featureFlagKeys.ts
Labels: web, server

chore(release): 1.165.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  a97209198cb8b2a75bcb9fbda88ae5ee0b9effba
Labels: none

feat(league): saisie manuelle de resultat offline (backend)
  apps/server/src/routes/league.ts
  apps/server/src/schemas/league.schemas.ts
  apps/server/src/services/league-forfeit.ts
  apps/server/src/services/league-offline-result.test.ts
  apps/server/src/services/league-offline-result.ts
Labels: server

chore(release): 1.166.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  67daa8fd2f83fa7634f4e5ba70d34c7588036c5b
Labels: none

feat(league): UI saisie de resultat offline (calendrier + modale)
  apps/web/app/i18n/translations.ts
  apps/web/app/leagues/[id]/EnterResultModal.test.tsx
  apps/web/app/leagues/[id]/EnterResultModal.tsx
  apps/web/app/leagues/[id]/SeasonCalendar.tsx
  apps/web/app/leagues/[id]/page.tsx
Labels: web

feat(league): resultat offline via Match synthetique + SPP joueur (option b)
  apps/server/src/routes/league.ts
  apps/server/src/schemas/league.schemas.ts
  apps/server/src/services/league-offline-result.test.ts
  apps/server/src/services/league-offline-result.ts
  apps/server/src/services/league.ts
  apps/web/app/leagues/[id]/SeasonCalendar.tsx
  apps/web/app/leagues/[id]/types.ts
Labels: web, server

chore(release): 1.167.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  6f68ebec4fb4b7dc322b313a7b918ef9182c1167
Labels: none

feat(league): economie offline — winnings + dedicated fans (Phase 3a)
  apps/server/src/routes/league.ts
  apps/server/src/schemas/league.schemas.ts
  apps/server/src/services/league-offline-result.test.ts
  apps/server/src/services/league-offline-result.ts
  apps/web/app/i18n/translations.ts
  apps/web/app/leagues/[id]/EnterResultModal.tsx
Labels: web, server

test(league): deflake l'assertion "Coach Bob" du detail de ligue
  apps/web/app/leagues/[id]/page.test.tsx
Labels: web

feat(league): saisie stats par joueur offline (SPP) — UI + endpoint rosters
  apps/server/src/routes/league.ts
  apps/web/app/i18n/translations.ts
  apps/web/app/leagues/[id]/EnterResultModal.test.tsx
  apps/web/app/leagues/[id]/EnterResultModal.tsx
Labels: web, server

feat(league): blessures durables offline (Phase 3b)
  apps/server/src/routes/league.ts
  apps/server/src/schemas/league.schemas.ts
  apps/server/src/services/league-offline-result.test.ts
  apps/server/src/services/league-offline-result.ts
  apps/web/app/i18n/translations.ts
  apps/web/app/leagues/[id]/EnterResultModal.test.tsx
  apps/web/app/leagues/[id]/EnterResultModal.tsx
Labels: web, server

feat(league): polish offline — exclure de l'historique + purge missNextMatch (Phase 5)
  apps/server/src/routes/match-details-handlers.ts
  apps/server/src/routes/match.test.ts
  apps/server/src/routes/user.ts
  apps/server/src/services/league-offline-result.test.ts
  apps/server/src/services/league-offline-result.ts
  apps/server/src/services/match-modes.ts
  docs/league-offline-phase5-2026-06-01.md
Labels: server

chore(release): 1.168.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  4ccfa8bf19ff11aca30439a8595a4310709faad1
Labels: none

feat(league): neutraliser l'ELO en ligue (offline + affichage)
  apps/server/src/routes/league.test.ts
  apps/server/src/routes/league.ts
  apps/server/src/services/league-match-result.test.ts
  apps/server/src/services/league-match-result.ts
  apps/server/src/services/league-offline-result.test.ts
  apps/server/src/services/league-offline-result.ts
  apps/server/src/services/league-tiebreak.test.ts
  apps/server/src/services/league.ts
  apps/web/app/leagues/[id]/SeasonParticipants.tsx
  apps/web/app/leagues/[id]/SeasonStandings.tsx
  apps/web/app/leagues/[id]/page.tsx
  docs/league-elo-neutralization-2026-06-01.md
Labels: web, server

feat(league): persister la saisie offline brute pour la reversion (W-B1)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/services/league-offline-result.test.ts
  apps/server/src/services/league-offline-result.ts
  prisma/schema.prisma
Labels: server

feat(league): service de reversion d'un resultat offline (W-B2)
  apps/server/src/services/league-offline-edit.test.ts
  apps/server/src/services/league-offline-edit.ts
Labels: server

feat(league): edition d'un resultat offline (service + route, W-B3)
  apps/server/src/routes/league.ts
  apps/server/src/services/league-offline-edit.test.ts
  apps/server/src/services/league-offline-edit.ts
Labels: server

feat(league): UI d'edition d'un resultat offline (W-B4)
  apps/server/src/routes/league.ts
  apps/web/app/i18n/translations.ts
  apps/web/app/leagues/[id]/EnterResultModal.test.tsx
  apps/web/app/leagues/[id]/EnterResultModal.tsx
  apps/web/app/leagues/[id]/SeasonCalendar.tsx
Labels: web, server

docs(league): edition reversible offline (W-B)
  docs/league-offline-edit-2026-06-01.md
Labels: none

feat(league): export d'une journee (impression + PDF, W-C)
  apps/web/app/globals.css
  apps/web/app/i18n/translations.ts
  apps/web/app/leagues/[id]/MatchdayExport.test.tsx
  apps/web/app/leagues/[id]/MatchdayExport.tsx
  apps/web/app/leagues/[id]/SeasonCalendar.tsx
Labels: web

docs(league): export journee (W-C)
  docs/league-matchday-export-2026-06-01.md
Labels: none

chore(release): 1.169.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  47b7936ba5230759a0fd16d22b68ebda0cfebfb6
Labels: none

refactor: update changelog and robots.txt to exclude changelog from indexing
  apps/web/app/a-propos/AboutClient.tsx
  apps/web/app/a-propos/about-content.test.ts
  apps/web/app/a-propos/about-content.ts
  apps/web/app/api/indexnow-submit/route.ts
  apps/web/app/changelog/layout.tsx
  apps/web/app/components/Footer.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/robots.ts
  apps/web/app/sitemap.ts
  apps/web/public/robots.txt
Labels: web

chore(release): 1.169.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  6f5f6e94da813bd5d2e5accec4b61b2561217895
Labels: none

feat: add game format support for team creation and validation
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/team-build-format.test.ts
  apps/server/src/routes/team-build-handler.ts
  apps/server/src/routes/team-create-from-roster-handler.ts
  apps/server/src/routes/team-readonly-handlers.ts
  apps/server/src/schemas/team.schemas.ts
  apps/web/app/i18n/translations.ts
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/me/teams/new/page.tsx
  apps/web/app/me/teams/page.tsx
  docs/sevens-team-creation.md
  packages/game-engine/src/core/core-functions.test.js
  packages/game-engine/src/core/dugout-field-sync-fix.test.js
  packages/game-engine/src/core/dugout-synchronization.test.js
  packages/game-engine/src/core/game-state.test.js
  packages/game-engine/src/core/place-player-return-format.test.js
  packages/game-engine/src/core/players-count-fix.test.js
  packages/game-engine/src/core/pre-match-sequence.test.js
  packages/game-engine/src/core/prevent-overlap.test.js
  packages/game-engine/src/core/safety-tests.test.js
  packages/game-engine/src/core/setup-los-verification.test.js
  packages/game-engine/src/core/setup-modal-prevention.test.js
  packages/game-engine/src/core/teamdugout-safety-corrections.test.js
  packages/game-engine/src/core/test-positions.test.js
  packages/game-engine/src/rosters/formats.test.ts
  packages/game-engine/src/rosters/formats.ts
  packages/game-engine/src/rosters/index.ts
  prisma/schema.prisma
Labels: game-engine, web, server

chore(release): 1.170.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  7d735005f3edd667495d4e6519eec1eeac80d37d
Labels: none

refactor: update contact information and descriptions across various files
  apps/web/app/.well-known/security.txt/route.ts
  apps/web/app/a-propos/about-content.test.ts
  apps/web/app/a-propos/about-content.ts
  apps/web/app/a-propos/layout.tsx
  apps/web/app/changelog/page.tsx
  apps/web/app/components/HomeStructuredData.tsx
  apps/web/app/humans.txt/route.ts
  apps/web/app/lib/outreach-templates.ts
  apps/web/app/lib/rss-builder.test.ts
  apps/web/app/lib/rss-builder.ts
  apps/web/app/lib/well-known.ts
  apps/web/app/nfl-fantasy/rules/page.tsx
  apps/web/public/llms-full.txt
  apps/web/public/llms.txt
Labels: web

chore(release): 1.170.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  97748a5267ec112edd799205065be0ca60402d87
Labels: none

refactor: rename feature flag and update league management functionality
  apps/server/src/index.ts
  apps/server/src/routes/league.test.ts
  apps/server/src/routes/league.ts
  apps/server/src/schemas/league.schemas.ts
  apps/server/src/seed.ts
  apps/server/src/services/achievements.test.ts
  apps/server/src/services/achievements.ts
  apps/server/src/services/featureFlags.ts
  apps/server/src/services/league.test.ts
  apps/server/src/services/league.ts
  apps/web/app/admin/layout.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/leagues/[id]/NewSeasonModal.tsx
  apps/web/app/leagues/[id]/edit/page.test.tsx
  apps/web/app/leagues/[id]/edit/page.tsx
  apps/web/app/leagues/[id]/page.test.tsx
  apps/web/app/leagues/[id]/page.tsx
  apps/web/app/leagues/[id]/seasons/[sid]/recap/page.tsx
  apps/web/app/leagues/[id]/types.ts
  apps/web/app/leagues/_components/LeagueForm.tsx
  apps/web/app/leagues/new/page.tsx
  apps/web/app/leagues/page.test.tsx
  apps/web/app/leagues/page.tsx
  apps/web/app/lib/featureFlagKeys.ts
  apps/web/app/me/achievements/page.tsx
  apps/web/app/me/teams/[id]/PendingAdvancementsBanner.tsx
  apps/web/app/me/teams/[id]/level-up/page.tsx
  apps/web/app/me/teams/[id]/page.tsx
  docs/league-commissioner-2026-06-05.md
  docs/leagues-flag-unification-2026-06-05.md
  docs/pro-league-freeze-2026-06-01.md
Labels: web, server

chore(release): 1.170.2 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
