Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"

feat(web): Pro League live ticker page (sprint 1.B.4)
  apps/web/app/lib/use-pro-league-match-stream.test.ts
  apps/web/app/lib/use-pro-league-match-stream.ts
  apps/web/app/pro-league/matches/[id]/live/page.test.tsx
  apps/web/app/pro-league/matches/[id]/live/page.tsx
Labels: web

feat(mobile): i18n play/[id] screen (sprint S27.3.13) (#605)
  apps/mobile/app/play/[id].tsx
  apps/mobile/lib/i18n-keys-play.test.ts
  apps/mobile/lib/translations/en.ts
  apps/mobile/lib/translations/fr.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: mobile

feat(web): Pro League Pixi field visualization (sprint 1.B.3)
  apps/web/app/lib/pro-league-field-state.test.ts
  apps/web/app/lib/pro-league-field-state.ts
  apps/web/app/pro-league/matches/[id]/live/ProLeagueField.tsx
  apps/web/app/pro-league/matches/[id]/live/page.tsx
Labels: web

feat(admin): UI lecture des replays panel pour validation C6-C9 (#607)
  apps/server/src/index.ts
  apps/server/src/routes/admin-sim-replays.test.ts
  apps/server/src/routes/admin-sim-replays.ts
  apps/server/src/utils/replay-parser.test.ts
  apps/server/src/utils/replay-parser.ts
  apps/web/app/admin/layout.tsx
  apps/web/app/admin/sim/replays/page.tsx
Labels: web, server

feat(web): Pro League Pixi field visualization (sprint 1.B.3) (#608)
  apps/web/app/lib/pro-league-field-state.test.ts
  apps/web/app/lib/pro-league-field-state.ts
  apps/web/app/lib/use-pro-league-match-stream.test.ts
  apps/web/app/lib/use-pro-league-match-stream.ts
  apps/web/app/pro-league/matches/[id]/live/ProLeagueField.tsx
  apps/web/app/pro-league/matches/[id]/live/page.test.tsx
  apps/web/app/pro-league/matches/[id]/live/page.tsx
Labels: web

feat(server,web): Pro League hub page (sprint 1.C.1)
  apps/server/src/routes/pro-league.ts
  apps/server/src/services/pro-league-hub.test.ts
  apps/server/src/services/pro-league-hub.ts
  apps/web/app/pro-league/page.test.tsx
  apps/web/app/pro-league/page.tsx
Labels: web, server

feat(server,web): Pro League hub page (sprint 1.C.1) (#609)
  apps/server/src/routes/pro-league.ts
  apps/server/src/services/pro-league-hub.test.ts
  apps/server/src/services/pro-league-hub.ts
  apps/web/app/pro-league/page.test.tsx
  apps/web/app/pro-league/page.tsx
Labels: web, server

feat(server,web): Pro League detailed standings page (sprint 1.C.5)
  apps/server/src/routes/pro-league.ts
  apps/server/src/services/pro-league-standings.test.ts
  apps/server/src/services/pro-league-standings.ts
  apps/web/app/pro-league/standings/page.test.tsx
  apps/web/app/pro-league/standings/page.tsx
Labels: web, server

feat(server,web): Pro League detailed standings page (sprint 1.C.5) (#610)
  apps/server/src/routes/pro-league.ts
  apps/server/src/services/pro-league-standings.test.ts
  apps/server/src/services/pro-league-standings.ts
  apps/web/app/pro-league/standings/page.test.tsx
  apps/web/app/pro-league/standings/page.tsx
Labels: web, server

feat(server,web): Pro League team detail page (sprint 1.C.2)
  apps/server/src/routes/pro-league.ts
  apps/server/src/services/pro-league-team.test.ts
  apps/server/src/services/pro-league-team.ts
  apps/web/app/pro-league/teams/[slug]/page.test.tsx
  apps/web/app/pro-league/teams/[slug]/page.tsx
Labels: web, server

feat(server,web): Pro League team detail page (sprint 1.C.2) (#611)
  apps/server/src/routes/pro-league.ts
  apps/server/src/services/pro-league-team.test.ts
  apps/server/src/services/pro-league-team.ts
  apps/web/app/pro-league/teams/[slug]/page.test.tsx
  apps/web/app/pro-league/teams/[slug]/page.tsx
Labels: web, server

feat(server,web): Pro League match detail page (sprint 1.C.3)
  apps/server/src/routes/pro-league.ts
  apps/server/src/services/pro-league-match.test.ts
  apps/server/src/services/pro-league-match.ts
  apps/web/app/pro-league/matches/[id]/page.test.tsx
  apps/web/app/pro-league/matches/[id]/page.tsx
Labels: web, server

feat(server,web): Pro League match detail page (sprint 1.C.3) (#612)
  apps/server/src/routes/pro-league.ts
  apps/server/src/services/pro-league-match.test.ts
  apps/server/src/services/pro-league-match.ts
  apps/web/app/pro-league/matches/[id]/page.test.tsx
  apps/web/app/pro-league/matches/[id]/page.tsx
Labels: web, server

feat(server,web): Pro League fan follow + feed (sprint 1.C.4)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/routes/pro-league.ts
  apps/server/src/services/pro-league-follow.test.ts
  apps/server/src/services/pro-league-follow.ts
  apps/web/app/pro-league/feed/page.test.tsx
  apps/web/app/pro-league/feed/page.tsx
  apps/web/app/pro-league/teams/[slug]/page.tsx
  prisma/migrations/20260506120000_add_pro_spectator_follow/migration.sql
  prisma/schema.prisma
Labels: web, server

feat(server,web): Pro League fan follow + feed (sprint 1.C.4) (#613)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/routes/pro-league.ts
  apps/server/src/services/pro-league-follow.test.ts
  apps/server/src/services/pro-league-follow.ts
  apps/web/app/pro-league/feed/page.test.tsx
  apps/web/app/pro-league/feed/page.tsx
  apps/web/app/pro-league/teams/[slug]/page.tsx
  prisma/migrations/20260506120000_add_pro_spectator_follow/migration.sql
  prisma/schema.prisma
Labels: web, server

feat(server,db): Pro League wallet + transaction ledger (sprint 1.D.1)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/services/pro-wallet.test.ts
  apps/server/src/services/pro-wallet.ts
  prisma/migrations/20260506130000_add_pro_wallet_transaction/migration.sql
  prisma/schema.prisma
Labels: server

feat(server,db): Pro League wallet + transaction ledger (sprint 1.D.1) (#614)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/services/pro-wallet.test.ts
  apps/server/src/services/pro-wallet.ts
  prisma/migrations/20260506130000_add_pro_wallet_transaction/migration.sql
  prisma/schema.prisma
Labels: server

feat(db): Pro League bet markets + bets + settlements (sprint 1.D.2)
  apps/server/prisma/sqlite/schema.prisma
  prisma/migrations/20260506140000_add_pro_bet_models/migration.sql
  prisma/schema.prisma
Labels: server

feat(db): Pro League bet markets + bets + settlements (sprint 1.D.2) (#615)
  apps/server/prisma/sqlite/schema.prisma
  prisma/migrations/20260506140000_add_pro_bet_models/migration.sql
  prisma/schema.prisma
Labels: server

feat(server): odds calculator (sprint 1.D.3)
  apps/server/src/services/pro-bet-odds-calculator.test.ts
  apps/server/src/services/pro-bet-odds-calculator.ts
  apps/server/src/services/pro-bet-odds-math.test.ts
  apps/server/src/services/pro-bet-odds-math.ts
Labels: server

feat(server): Pro League odds calculator (sprint 1.D.3) (#616)
  apps/server/src/services/pro-bet-odds-calculator.test.ts
  apps/server/src/services/pro-bet-odds-calculator.ts
  apps/server/src/services/pro-bet-odds-math.test.ts
  apps/server/src/services/pro-bet-odds-math.ts
Labels: server

feat(server): Pro League bet endpoints (sprint 1.D.4)
  apps/server/src/routes/pro-league.ts
  apps/server/src/services/pro-bet.test.ts
  apps/server/src/services/pro-bet.ts
Labels: server

feat(server): Pro League bet endpoints (sprint 1.D.4) (#617)
  apps/server/src/routes/pro-league.ts
  apps/server/src/services/pro-bet.test.ts
  apps/server/src/services/pro-bet.ts
Labels: server

feat(server): Pro League bet settlement (sprint 1.D.5)
  apps/server/src/index.ts
  apps/server/src/services/pro-bet-settlement.test.ts
  apps/server/src/services/pro-bet-settlement.ts
Labels: server

feat(server): Pro League bet settlement + cron (sprint 1.D.5) (#618)
  apps/server/src/index.ts
  apps/server/src/services/pro-bet-settlement.test.ts
  apps/server/src/services/pro-bet-settlement.ts
Labels: server

feat(server): Pro League wallet rewards + endpoints (sprint 1.D.6)
  apps/server/src/routes/pro-league.ts
  apps/server/src/services/pro-wallet-rewards.test.ts
  apps/server/src/services/pro-wallet-rewards.ts
Labels: server

feat(mobile): i18n des popups in-match (S27.3.14)
  apps/mobile/components/popups/BlockChoicePopup.tsx
  apps/mobile/components/popups/FollowUpChoicePopup.tsx
  apps/mobile/components/popups/MatchPopups.tsx
  apps/mobile/components/popups/PushChoicePopup.tsx
  apps/mobile/lib/i18n-keys-popups.test.ts
  apps/mobile/lib/translations/en.ts
  apps/mobile/lib/translations/fr.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: mobile

feat(mobile): i18n des popups in-match (S27.3.14) (#619)
  apps/mobile/components/popups/BlockChoicePopup.tsx
  apps/mobile/components/popups/FollowUpChoicePopup.tsx
  apps/mobile/components/popups/MatchPopups.tsx
  apps/mobile/components/popups/PushChoicePopup.tsx
  apps/mobile/lib/i18n-keys-popups.test.ts
  apps/mobile/lib/translations/en.ts
  apps/mobile/lib/translations/fr.ts
  docs/roadmap/sprints/S27-evolutions-confort.md
Labels: mobile

chore(release): 1.90.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  d52b5a50e1fc92aadf3f683dca54b5506761c0ad
Labels: none

feat(web): Pro League betting UI (sprint 1.D.7)
  apps/web/app/lib/use-wallet.test.ts
  apps/web/app/lib/use-wallet.ts
  apps/web/app/pro-league/_components/BetSlip.tsx
  apps/web/app/pro-league/_components/MarketsList.tsx
  apps/web/app/pro-league/_components/WalletBadge.tsx
  apps/web/app/pro-league/matches/[id]/page.tsx
  apps/web/app/pro-league/me/bets/page.tsx
  apps/web/app/pro-league/page.tsx
Labels: web

feat(web): Pro League betting UI (sprint 1.D.7) (#621)
  apps/web/app/lib/use-wallet.test.ts
  apps/web/app/lib/use-wallet.ts
  apps/web/app/pro-league/_components/BetSlip.tsx
  apps/web/app/pro-league/_components/MarketsList.tsx
  apps/web/app/pro-league/_components/WalletBadge.tsx
  apps/web/app/pro-league/matches/[id]/page.tsx
  apps/web/app/pro-league/me/bets/page.tsx
  apps/web/app/pro-league/page.tsx
Labels: web

feat(server,web): Pro League bet leaderboard (sprint 1.D.8)
  apps/server/src/routes/pro-league.ts
  apps/server/src/services/pro-bet-leaderboard.test.ts
  apps/server/src/services/pro-bet-leaderboard.ts
  apps/web/app/pro-league/leaderboard/page.test.tsx
  apps/web/app/pro-league/leaderboard/page.tsx
Labels: web, server

feat(server,web): Pro League bet leaderboard (sprint 1.D.8) (#622)
  apps/server/src/routes/pro-league.ts
  apps/server/src/services/pro-bet-leaderboard.test.ts
  apps/server/src/services/pro-bet-leaderboard.ts
  apps/web/app/pro-league/leaderboard/page.test.tsx
  apps/web/app/pro-league/leaderboard/page.tsx
Labels: web, server

feat(server,db): Pro League badges/titres (sprint 1.D.9)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/routes/pro-league.ts
  apps/server/src/services/pro-badges.test.ts
  apps/server/src/services/pro-badges.ts
  prisma/migrations/20260507000000_add_pro_user_badge/migration.sql
  prisma/schema.prisma
Labels: server

feat(server,db): Pro League badges/titres (sprint 1.D.9) (#623)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/routes/pro-league.ts
  apps/server/src/services/pro-badges.test.ts
  apps/server/src/services/pro-badges.ts
  prisma/migrations/20260507000000_add_pro_user_badge/migration.sql
  prisma/schema.prisma
Labels: server

feat(server): Pro League storyline detector + Gazette daily recap (sprint 1.E.3)
  apps/server/src/services/pro-gazette-recap.test.ts
  apps/server/src/services/pro-gazette-recap.ts
  apps/server/src/services/pro-storyline-detector.test.ts
  apps/server/src/services/pro-storyline-detector.ts
Labels: server

feat(server): Pro League storyline detector + Gazette daily recap (sprint 1.E.3) (#624)
  apps/server/src/services/pro-gazette-recap.test.ts
  apps/server/src/services/pro-gazette-recap.ts
  apps/server/src/services/pro-storyline-detector.test.ts
  apps/server/src/services/pro-storyline-detector.ts
Labels: server

feat(server,web): Pro League Gazette models + UI (sprint 1.E.2)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/routes/pro-league.ts
  apps/server/src/services/pro-gazette.test.ts
  apps/server/src/services/pro-gazette.ts
  apps/web/app/pro-league/gazette/[date]/page.tsx
  apps/web/app/pro-league/gazette/_shared.tsx
  apps/web/app/pro-league/gazette/page.test.tsx
  apps/web/app/pro-league/gazette/page.tsx
  prisma/migrations/20260507100000_add_pro_gazette_article/migration.sql
  prisma/schema.prisma
Labels: web, server

feat(server,web): Pro League Gazette models + UI (sprint 1.E.2) (#625)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/routes/pro-league.ts
  apps/server/src/services/pro-gazette.test.ts
  apps/server/src/services/pro-gazette.ts
  apps/web/app/pro-league/gazette/[date]/page.tsx
  apps/web/app/pro-league/gazette/_shared.tsx
  apps/web/app/pro-league/gazette/page.test.tsx
  apps/web/app/pro-league/gazette/page.tsx
  prisma/migrations/20260507100000_add_pro_gazette_article/migration.sql
  prisma/schema.prisma
Labels: web, server
