Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

feat(nfl-fantasy): l'écran de lineup montre les coups d'envoi et grise les joueurs figés
  apps/server/src/routes/nfl-fantasy-entries-lineup-schema.test.ts
  apps/server/src/routes/nfl-fantasy-entries.ts
  apps/server/src/services/nfl-fantasy-kickoff-lock.test.ts
  apps/server/src/services/nfl-fantasy-kickoff-lock.ts
  apps/web/app/nfl-fantasy/leagues/[id]/lineup/PlayerCard.tsx
  apps/web/app/nfl-fantasy/leagues/[id]/lineup/kickoff-lock.test.ts
  apps/web/app/nfl-fantasy/leagues/[id]/lineup/kickoff-lock.ts
  apps/web/app/nfl-fantasy/leagues/[id]/lineup/page.tsx
Labels: web, server

docs(nfl-fantasy): verrouillage des lineups au coup d'envoi
  apps/web/app/nfl-fantasy/about/page.tsx
  docs/nfl-fantasy/13-roster-lineup.md
  docs/nfl-fantasy/17-crons.md
  docs/nfl-fantasy/32-saison-2026-point-de-situation.md
  docs/nfl-fantasy/README.md
Labels: web

chore(changeset): NFL Fantasy — calendrier 2026 et verrou au coup d'envoi
  .changeset/nfl-fantasy-saison-2026-cron-et-lineup.md
Labels: none

docs(pro-league): exploration « un match intégral, un coach qui évolue, un replay rejouable » (#1051)
  CLAUDE.md
  docs/roadmap/explorations/2026-10-05-pro-league-match-integral.md
Labels: none

docs(pro-league): consigner les sept décisions prises sur l'exploration
  docs/roadmap/explorations/2026-10-05-pro-league-match-integral.md
Labels: none

docs(openspec): décisions cadres reportées dans le proposal pro-league-full-match
  openspec/changes/pro-league-full-match/proposal.md
Labels: none

docs(pro-league): consigner les sept décisions prises sur l'exploration
  CLAUDE.md
  docs/roadmap/explorations/2026-10-05-pro-league-match-integral.md
Labels: none

feat(game-engine): choix en attente obligatoires, activation contiguë, Charge restreinte
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/actions/legal-moves.ts
  packages/game-engine/src/actions/turn-foul-actions.ts
  packages/game-engine/src/mechanics/blitz.test.ts
Labels: game-engine

feat(game-engine): action STAND_UP — un joueur à terre se relève (3 PM, Jump Up gratuit)
  packages/game-engine/src/actions/stand-up-handler.ts
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/types.ts
Labels: game-engine

feat(sim-engine): remise en jeu après chaque TD, kickoff interactif, kickingTeam (0.27.0)
  packages/sim-engine/src/driver/full-driver-halftime.ts
  packages/sim-engine/src/driver/full-driver-kickoff-ai.ts
  packages/sim-engine/src/driver/full-driver-kickoff.ts
  packages/sim-engine/src/driver/full-driver.ts
  packages/sim-engine/src/types.ts
Labels: none

docs(pro-league): récit du lot 1, tâches OpenSpec cochées, mémoire CLAUDE.md
  CLAUDE.md
  docs/roadmap/sessions/2026-10-05-pro-league-lot1-match-complet.md
  openspec/changes/pro-league-full-match/tasks.md
Labels: none

feat(game-engine): l'IA décide chaque choix et préfère clore une activation
  packages/game-engine/src/actions/full-match-lot1.test.ts
  packages/game-engine/src/ai/evaluator.ts
Labels: game-engine

test(sim-engine): invariants d'un match complet et mesures sur de vrais rosters
  apps/server/src/services/engine-comparison.ts
  apps/web/app/lib/move-active-player.ts
  packages/sim-engine/CHANGELOG.md
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/scripts/compare-drivers.ts
  packages/sim-engine/scripts/perf-baseline.ts
  packages/sim-engine/src/driver/engine-roster-fixture.ts
  packages/sim-engine/src/driver/full-match.invariants.test.ts
  packages/sim-engine/src/index.ts
  packages/sim-engine/src/perf/perf-baseline.smoke.test.ts
Labels: web, server

feat(dice-themes): 36 thèmes, achat en Couronnes et admin (serveur)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/admin-dice-themes.test.ts
  apps/server/src/routes/admin-dice-themes.ts
  apps/server/src/routes/crowns.test.ts
  apps/server/src/routes/crowns.ts
  apps/server/src/routes/dice-theme.test.ts
  apps/server/src/routes/dice-theme.ts
  apps/server/src/schemas/dice-theme.schemas.ts
  apps/server/src/seed.ts
  apps/server/src/seeders/sync-dice-themes.test.ts
  apps/server/src/seeders/sync-dice-themes.ts
  apps/server/src/services/dice-theme-admin.test.ts
  apps/server/src/services/dice-theme-admin.ts
  apps/server/src/services/dice-theme-catalogue.test.ts
  apps/server/src/services/dice-theme-catalogue.ts
  apps/server/src/services/dice-theme-preference.ts
  apps/server/src/services/dice-theme-repository.test.ts
  apps/server/src/services/dice-theme-repository.ts
  apps/server/src/services/featureFlags.ts
  prisma/schema.prisma
  tests/e2e-api/specs/dice-themes-crowns.spec.ts
Labels: server

docs(dice-themes): change OpenSpec dice-theme-shop-and-crowns + mémoire CLAUDE.md
  CLAUDE.md
  openspec/changes/dice-theme-shop-and-crowns/design.md
  openspec/changes/dice-theme-shop-and-crowns/proposal.md
  openspec/changes/dice-theme-shop-and-crowns/specs/crowns/spec.md
  openspec/changes/dice-theme-shop-and-crowns/specs/dice-themes/spec.md
  openspec/changes/dice-theme-shop-and-crowns/tasks.md
  openspec/changes/dice-themes/tasks.md
Labels: none

fix(tests): résoudre les choix de poussée dans les tests de blitz, budget perf CI du full driver
  packages/sim-engine/src/perf/perf-baseline.smoke.test.ts
  tests/game-engine/blitz-continuation-bug.test.ts
  tests/game-engine/blitz.test.ts
Labels: none

feat(server): stocker le journal, dériver le full replay, feuille de match admin
  apps/server/src/routes/admin-sim.ts
  apps/server/src/services/pro-league-narration.ts
  apps/server/src/services/pro-league-replay.test.ts
  apps/server/src/services/pro-league-replay.ts
  apps/server/src/services/pro-league-sim-runner.ts
Labels: server

feat(web): navigation par activation dans le viewer de replay
  apps/web/app/lib/replay-activations.test.ts
  apps/web/app/lib/replay-activations.ts
  apps/web/app/lib/use-full-replay.test.ts
  apps/web/app/lib/use-full-replay.ts
  apps/web/app/pro-league/matches/[id]/replay/FullReplayField.tsx
Labels: web

docs(pro-league): change OpenSpec du lot 2, récit de session, mémoire CLAUDE.md
  CLAUDE.md
  docs/roadmap/sessions/2026-10-05-pro-league-lot2-journal-rejouable.md
  openspec/changes/pro-league-replay-journal/design.md
  openspec/changes/pro-league-replay-journal/proposal.md
  openspec/changes/pro-league-replay-journal/specs/pro-league-replay-journal/spec.md
  openspec/changes/pro-league-replay-journal/tasks.md
Labels: none

fix(game-engine): résultat de match sans mutation, TD par poussée sans choix de suivi
  packages/game-engine/src/actions/full-match-lot1.test.ts
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/mechanics/ball.ts
Labels: game-engine

feat(sim-engine): feuille de match papier rendue depuis le journal
  packages/sim-engine/src/replay/match-sheet.test.ts
  packages/sim-engine/src/replay/match-sheet.ts
Labels: none

feat(sim-engine): journal d'actions rejouable, un flux de dés par coup (0.28.0)
  packages/sim-engine/CHANGELOG.md
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/src/driver/full-driver.ts
  packages/sim-engine/src/index.ts
  packages/sim-engine/src/replay/compress.ts
  packages/sim-engine/src/replay/journal.test.ts
  packages/sim-engine/src/replay/journal.ts
  packages/sim-engine/src/types.ts
Labels: none

fix(crowns): écritures du wallet atomiques, révocation et cache sûrs
  apps/server/src/services/dice-theme-admin.test.ts
  apps/server/src/services/dice-theme-admin.ts
  apps/server/src/services/dice-theme-catalogue.ts
  apps/server/src/services/dice-theme-preference.ts
  apps/server/src/services/dice-theme-repository.test.ts
  apps/server/src/services/dice-theme-repository.ts
  apps/server/src/services/pro-wallet.test.ts
  apps/server/src/services/pro-wallet.ts
  tests/e2e-api/specs/dice-themes-crowns.spec.ts
Labels: server

fix(dice-themes): états honnêtes en boutique, accessibilité, 2D6 chiffrés
  apps/web/app/admin/dice-themes/_components/DiceThemeEditModal.tsx
  apps/web/app/admin/dice-themes/page.test.tsx
  apps/web/app/admin/dice-themes/page.tsx
  apps/web/app/admin/wallets/[userId]/_components/BalanceAdjustModal.tsx
  apps/web/app/components/dice/DiceThemePreview.tsx
  apps/web/app/components/dice/themes/catalogue-consistency.test.ts
  apps/web/app/contexts/CrownsContext.test.tsx
  apps/web/app/contexts/CrownsContext.tsx
  apps/web/app/contexts/DiceThemeContext.test.tsx
  apps/web/app/contexts/DiceThemeContext.tsx
  apps/web/app/me/dice-themes/DiceThemeShop.test.tsx
  apps/web/app/me/dice-themes/DiceThemeShop.tsx
  apps/web/app/me/dice-themes/shop.test.ts
  apps/web/app/me/dice-themes/shop.ts
  apps/web/app/me/profile/DiceThemeSummaryCard.tsx
  apps/web/app/me/profile/ProfileCosmetics.test.tsx
  apps/web/next.config.mjs
  packages/ui/src/board/PixiBoard.tsx
  packages/ui/src/board/diceEffects.test.ts
  packages/ui/src/board/diceEffects.ts
  packages/ui/src/board/useDiceEffects.ts
  packages/ui/src/components/DiceNotification.tsx
  packages/ui/src/components/GameLog.tsx
  packages/ui/src/dice/skins.test.ts
  packages/ui/src/dice/skins.ts
  packages/ui/src/popups/DiceResultPopup.test.tsx
  packages/ui/src/popups/DiceResultPopup.tsx
Labels: packages-ui, web

docs(dice-themes): atomicité du wallet, changeset
  .changeset/des-originaux-themes-et-couronnes.md
  CLAUDE.md
  openspec/changes/dice-theme-shop-and-crowns/design.md
Labels: none

feat(pro-league): lot 1 « un match complet » — relevé, choix obligatoires, remise en jeu après TD (engine 0.27.0) (#1053)
  CLAUDE.md
  apps/server/src/services/engine-comparison.ts
  apps/web/app/lib/move-active-player.ts
  docs/roadmap/explorations/2026-10-05-pro-league-match-integral.md
  docs/roadmap/sessions/2026-10-05-pro-league-lot1-match-complet.md
  openspec/changes/pro-league-full-match/design.md
  openspec/changes/pro-league-full-match/proposal.md
  openspec/changes/pro-league-full-match/specs/pro-league-full-match/spec.md
  openspec/changes/pro-league-full-match/tasks.md
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/actions/full-match-lot1.test.ts
  packages/game-engine/src/actions/legal-moves.ts
  packages/game-engine/src/actions/stand-up-handler.ts
  packages/game-engine/src/actions/turn-foul-actions.ts
  packages/game-engine/src/ai/evaluator.ts
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/mechanics/blitz.test.ts
  packages/sim-engine/CHANGELOG.md
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/scripts/compare-drivers.ts
  packages/sim-engine/scripts/perf-baseline.ts
  packages/sim-engine/src/driver/engine-roster-fixture.ts
  packages/sim-engine/src/driver/full-driver-halftime.ts
  packages/sim-engine/src/driver/full-driver-kickoff-ai.ts
  packages/sim-engine/src/driver/full-driver-kickoff.ts
  packages/sim-engine/src/driver/full-driver.ts
  packages/sim-engine/src/driver/full-match.invariants.test.ts
  packages/sim-engine/src/index.ts
  packages/sim-engine/src/perf/perf-baseline.smoke.test.ts
  packages/sim-engine/src/types.ts
  tests/game-engine/blitz-continuation-bug.test.ts
  tests/game-engine/blitz.test.ts
Labels: game-engine, web, server

chore(release): 1.250.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  5a4109d762f5bb1370a81dca4bf45ee107e086d5
Labels: none

fix(sim-engine): export de la fixture de roster dupliqué par la fusion de main
  packages/sim-engine/src/index.ts
Labels: none

feat(pro-league): lot 2 « le journal rejouable » — un flux de dés par coup, replay v2, feuille de match papier (engine 0.28.0) (#1055)
  CLAUDE.md
  apps/server/src/routes/admin-sim.ts
  apps/server/src/services/pro-league-narration.ts
  apps/server/src/services/pro-league-replay.test.ts
  apps/server/src/services/pro-league-replay.ts
  apps/server/src/services/pro-league-sim-runner.ts
  apps/web/app/lib/replay-activations.test.ts
  apps/web/app/lib/replay-activations.ts
  apps/web/app/lib/use-full-replay.test.ts
  apps/web/app/lib/use-full-replay.ts
  apps/web/app/pro-league/matches/[id]/replay/FullReplayField.tsx
  docs/roadmap/sessions/2026-10-05-pro-league-lot2-journal-rejouable.md
  openspec/changes/pro-league-replay-journal/design.md
  openspec/changes/pro-league-replay-journal/proposal.md
  openspec/changes/pro-league-replay-journal/specs/pro-league-replay-journal/spec.md
  openspec/changes/pro-league-replay-journal/tasks.md
  packages/game-engine/src/actions/full-match-lot1.test.ts
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/mechanics/ball.ts
  packages/sim-engine/CHANGELOG.md
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/src/driver/full-driver.ts
  packages/sim-engine/src/index.ts
  packages/sim-engine/src/replay/compress.ts
  packages/sim-engine/src/replay/journal.test.ts
  packages/sim-engine/src/replay/journal.ts
  packages/sim-engine/src/replay/match-sheet.test.ts
  packages/sim-engine/src/replay/match-sheet.ts
  packages/sim-engine/src/types.ts
Labels: game-engine, web, server

chore(release): 1.251.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  24bbd82c93afd9f1d186baee9a3ecabc3d9e8593
Labels: none

fix(game-engine): le ballon d'un porteur renversé ou sorti rebondit, jamais sous un joueur
  packages/game-engine/src/actions/actions.ts
  packages/game-engine/src/actions/ball-pickup.ts
  packages/game-engine/src/actions/carrier-move-no-pickup.test.ts
  packages/game-engine/src/mechanics/ball.ts
  packages/game-engine/src/mechanics/both-down-ball.test.ts
  packages/game-engine/src/mechanics/dugout.ts
  packages/game-engine/src/mechanics/loose-ball-settle.test.ts
Labels: game-engine

feat(sim-engine): le full driver délègue au coach, bench CI sur le full driver (0.29.0)
  packages/sim-engine/CHANGELOG.md
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/scripts/bench-baseline-snapshot.ts
  packages/sim-engine/scripts/bench-ci.ts
  packages/sim-engine/src/bench/baseline.ts
  packages/sim-engine/src/bench/runner.ts
  packages/sim-engine/src/driver/full-driver.ts
  packages/sim-engine/src/driver/full-match.invariants.test.ts
  packages/sim-engine/src/index.ts
  packages/sim-engine/src/types.ts
Labels: none

docs(pro-league): change OpenSpec du lot 3, récit de session, mémoire CLAUDE.md
  CLAUDE.md
  docs/roadmap/sessions/2026-10-05-pro-league-lot3-cerveau-du-coach.md
  openspec/changes/pro-league-coach-brain/design.md
  openspec/changes/pro-league-coach-brain/proposal.md
  openspec/changes/pro-league-coach-brain/specs/pro-league-coach-brain/spec.md
  openspec/changes/pro-league-coach-brain/tasks.md
Labels: none

feat(sim-engine): le cerveau du coach — plan de drive, activations entières, probabilités, choix
  packages/sim-engine/src/coach/activation-planner.test.ts
  packages/sim-engine/src/coach/activation-planner.ts
  packages/sim-engine/src/coach/coach.test.ts
  packages/sim-engine/src/coach/coach.ts
  packages/sim-engine/src/coach/drive-plan.test.ts
  packages/sim-engine/src/coach/drive-plan.ts
  packages/sim-engine/src/coach/evaluate.test.ts
  packages/sim-engine/src/coach/evaluate.ts
  packages/sim-engine/src/coach/personality.ts
  packages/sim-engine/src/coach/probability.test.ts
  packages/sim-engine/src/coach/probability.ts
  packages/sim-engine/src/coach/roles-personality.test.ts
  packages/sim-engine/src/coach/roles.ts
  packages/sim-engine/src/coach/test-helpers.ts
Labels: none

fix(game-engine): soutiens sans PM, dernier joueur activé, compteur de rounds après un touchdown
  packages/game-engine/src/actions/turn-foul-actions.ts
  packages/game-engine/src/ai/ai-vs-ai-loop.test.ts
  packages/game-engine/src/core/game-state.ts
  packages/game-engine/src/core/post-touchdown-turn.test.ts
  packages/game-engine/src/core/types.ts
  packages/game-engine/src/index.ts
  packages/game-engine/src/mechanics/block-assists-no-pm.test.ts
  packages/game-engine/src/mechanics/blocking.ts
  packages/game-engine/src/mechanics/movement.test.ts
Labels: game-engine

feat(sim-engine): adaptation bornée et expliquée du coach, rapport de drives, forme des joueurs (0.30.0)
  packages/sim-engine/CHANGELOG.md
  packages/sim-engine/bench/bench-baseline.json
  packages/sim-engine/src/coach/adaptation.test.ts
  packages/sim-engine/src/coach/adaptation.ts
  packages/sim-engine/src/coach/coach.test.ts
  packages/sim-engine/src/coach/coach.ts
  packages/sim-engine/src/driver/full-driver.ts
  packages/sim-engine/src/index.ts
  packages/sim-engine/src/replay/journal.ts
  packages/sim-engine/src/types.ts
Labels: none

feat(server): coach IA persisté par ProTeam, mémoire append-only, forme des joueurs écrite après match
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/routes/admin-pro-team.test.ts
  apps/server/src/routes/admin-pro-team.ts
  apps/server/src/schemas/admin.schemas.ts
  apps/server/src/services/pro-coach-profile.test.ts
  apps/server/src/services/pro-coach-profile.ts
  apps/server/src/services/pro-coach.test.ts
  apps/server/src/services/pro-coach.ts
  apps/server/src/services/pro-league-sim-runner.test.ts
  apps/server/src/services/pro-league-sim-runner.ts
  apps/server/src/services/pro-league-team.test.ts
  apps/server/src/services/pro-league-team.ts
  apps/server/src/services/pro-roster-form.test.ts
  apps/server/src/services/pro-roster-form.ts
  prisma/schema.prisma
Labels: server

feat(web): panneau admin du coach IA et section « Le coach » sur la fiche équipe Pro League
  apps/web/app/admin/pro-league/teams/[id]/_components/CoachPanel.test.tsx
  apps/web/app/admin/pro-league/teams/[id]/_components/CoachPanel.tsx
  apps/web/app/admin/pro-league/teams/[id]/_components/coach-parameters.ts
  apps/web/app/admin/pro-league/teams/[id]/page.test.tsx
  apps/web/app/admin/pro-league/teams/[id]/page.tsx
  apps/web/app/pro-league/teams/[slug]/_components/TeamCoachSection.test.tsx
  apps/web/app/pro-league/teams/[slug]/_components/TeamCoachSection.tsx
  apps/web/app/pro-league/teams/[slug]/page.tsx
Labels: web

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
