Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

chore(release): 1.131.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  498efba66ab712c1f0eed1fb96511bcaceffe304
Labels: none

feat(prisma): schema NflFantasyLeague + NflFantasyEntry (Phase 2.C)
  prisma/schema.prisma
Labels: none

feat(server): nfl-fantasy-league service Phase 2.C (CRUD + join/leave)
  apps/server/src/services/nfl-fantasy-league.test.ts
  apps/server/src/services/nfl-fantasy-league.ts
Labels: server

chore(server): script E2E pour valider nfl-fantasy-league sur Postgres
  apps/server/src/scripts/nfl-fantasy-league-e2e.ts
Labels: server

docs(nfl-fantasy): Phase 2.C league CRUD
  docs/nfl-fantasy/12-league-crud.md
  docs/nfl-fantasy/README.md
Labels: none

chore(release): 1.132.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  66baf9eba8bfef7e81282e649a06d838e108f8ca
Labels: none

feat(server): nfl-fantasy-roster service (Phase 2.D)
  apps/server/src/services/nfl-fantasy-roster.test.ts
  apps/server/src/services/nfl-fantasy-roster.ts
Labels: server

feat(prisma): schema NflFantasyRoster + NflFantasyLineup + LineupStarter (Phase 2.D)
  prisma/schema.prisma
Labels: none

docs(nfl-fantasy): Phase 2.E matchups + scoring/settle
  docs/nfl-fantasy/14-scoring.md
  docs/nfl-fantasy/README.md
Labels: none

feat(server): nfl-fantasy-lineup service Phase 2.D (set + lock)
  apps/server/src/services/nfl-fantasy-lineup.test.ts
  apps/server/src/services/nfl-fantasy-lineup.ts
Labels: server

feat(prisma): schema NflFantasyReroll + NflFantasyInducement (Phase 2.F)
  prisma/schema.prisma
Labels: none

feat(server): nfl-fantasy-scoring service Phase 2.E (matchups + settle)
  apps/server/src/services/nfl-fantasy-scoring.test.ts
  apps/server/src/services/nfl-fantasy-scoring.ts
Labels: server

docs(nfl-fantasy): Phase 2.F mercato (rerolls + inducements)
  docs/nfl-fantasy/15-mercato.md
  docs/nfl-fantasy/README.md
Labels: none

docs(nfl-fantasy): Phase 2.D roster + lineup
  docs/nfl-fantasy/13-roster-lineup.md
  docs/nfl-fantasy/README.md
Labels: none

chore(server): script E2E Phase 2.D roster + lineup
  apps/server/src/scripts/nfl-fantasy-lineup-e2e.ts
Labels: server

chore(server): script E2E Phase 2.F mercato
  apps/server/src/scripts/nfl-fantasy-mercato-e2e.ts
Labels: server

chore(server): script E2E Phase 2.E matchups + settle SPP
  apps/server/src/scripts/nfl-fantasy-scoring-e2e.ts
Labels: server

feat(server): nfl-fantasy-mercato service Phase 2.F (rerolls + inducements)
  apps/server/src/services/nfl-fantasy-mercato.test.ts
  apps/server/src/services/nfl-fantasy-mercato.ts
Labels: server

feat(prisma): schema NflFantasyMatchup (Phase 2.E)
  prisma/schema.prisma
Labels: none

chore(release): 1.133.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  0e07a14b2cff107ed6477827c72050f28731efc0
Labels: none

feat(server): routes Express NFL Fantasy Phase 2.G (admin + user)
  apps/server/src/routes/admin-nfl-fantasy.ts
  apps/server/src/routes/admin-nfl-ingest.ts
  apps/server/src/routes/nfl-fantasy-entries.ts
  apps/server/src/routes/nfl-fantasy-leagues.ts
Labels: server

docs(nfl-fantasy): Phase 2.H crons + cloture Phase 2
  docs/nfl-fantasy/17-crons.md
  docs/nfl-fantasy/README.md
Labels: none

docs(nfl-fantasy): Phase 2.G routes Express
  docs/nfl-fantasy/16-routes.md
  docs/nfl-fantasy/README.md
Labels: none

feat(server): wire NFL Fantasy cron Phase 2.H dans index.ts
  apps/server/src/index.ts
Labels: server

chore(server): script E2E cron Phase 2.H sur DB reelle
  apps/server/src/scripts/nfl-fantasy-cron-e2e.ts
Labels: server

feat(server): nfl-error-mapper util (Phase 2.G)
  apps/server/src/utils/nfl-error-mapper.test.ts
  apps/server/src/utils/nfl-error-mapper.ts
Labels: server

feat(server): nfl-fantasy-cron service Phase 2.H (orchestrateur 5min)
  apps/server/src/services/nfl-fantasy-cron.test.ts
  apps/server/src/services/nfl-fantasy-cron.ts
Labels: server

feat(server): wire NFL Fantasy routes Phase 2.G dans index.ts
  apps/server/src/index.ts
Labels: server

chore(server): script E2E routes Phase 2.G via http live
  apps/server/src/scripts/nfl-fantasy-routes-e2e.ts
Labels: server

feat(web): dashboard /nfl-fantasy "Mes leagues" (Phase 3.A)
  apps/web/app/nfl-fantasy/page.tsx
Labels: web

feat(web): NFL Fantasy layout + types partages (Phase 3.A)
  apps/web/app/nfl-fantasy/layout.tsx
  apps/web/app/nfl-fantasy/types.ts
Labels: web

feat(web): pages create + join NFL Fantasy (Phase 3.A)
  apps/web/app/nfl-fantasy/join/page.tsx
  apps/web/app/nfl-fantasy/new/page.tsx
Labels: web

feat(web): page detail league NFL Fantasy (Phase 3.A)
  apps/web/app/nfl-fantasy/leagues/[id]/page.tsx
Labels: web

docs(nfl-fantasy): Phase 3.A frontend V1
  docs/nfl-fantasy/18-frontend.md
  docs/nfl-fantasy/README.md
Labels: none

feat(web): nav item NFL Fantasy dans admin layout (Phase 3.B)
  apps/web/app/admin/layout.tsx
Labels: web

feat(web): console admin /admin/nfl-fantasy (Phase 3.B)
  apps/web/app/admin/nfl-fantasy/page.tsx
Labels: web

docs(nfl-fantasy): Phase 3.B console admin
  docs/nfl-fantasy/18-frontend.md
  docs/nfl-fantasy/README.md
Labels: none

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
