Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

chore: changeset VEA absents + journaliers
  .changeset/vea-absents-journaliers.md
Labels: none

VEA juste en ligue : absents/blessés exclus et journaliers comptés dans la CTV du match (#966)
  .changeset/vea-absents-journaliers.md
  apps/server/src/routes/league-roster-view.test.ts
  apps/server/src/routes/league.ts
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-sheet-journeymen.test.ts
  apps/server/src/services/league-sheet-journeymen.ts
Labels: server

feat(leagues): retrait d'un joueur mort du roster sans licenciement
  apps/server/src/routes/league-roster-view.test.ts
  apps/server/src/routes/league.ts
  apps/server/src/services/commissioner-team-removal.test.ts
  apps/server/src/services/commissioner-team-removal.ts
  apps/web/app/leagues/[id]/CommissionerTeamEditor.test.tsx
  apps/web/app/leagues/[id]/CommissionerTeamEditor.tsx
  apps/web/app/leagues/[id]/teams/[teamId]/page.test.tsx
  apps/web/app/leagues/[id]/teams/[teamId]/page.tsx
Labels: web, server

chore: changeset retrait joueur mort du roster
  .changeset/retrait-joueur-mort-roster.md
Labels: none

Retrait d'un joueur mort du roster de ligue sans passer par le licenciement (#967)
  .changeset/retrait-joueur-mort-roster.md
  apps/server/src/routes/league-roster-view.test.ts
  apps/server/src/routes/league.ts
  apps/server/src/services/commissioner-team-removal.test.ts
  apps/server/src/services/commissioner-team-removal.ts
  apps/web/app/leagues/[id]/CommissionerTeamEditor.test.tsx
  apps/web/app/leagues/[id]/CommissionerTeamEditor.tsx
  apps/web/app/leagues/[id]/teams/[teamId]/page.test.tsx
  apps/web/app/leagues/[id]/teams/[teamId]/page.tsx
Labels: web, server

fix(engine): chaque Fan Dévoué compte dans la VE/VEA (off-by-one -5k)
  .changeset/fans-devoues-valeur-equipe.md
  apps/server/src/utils/team-values.test.ts
  apps/web/app/me/teams/components/TeamInfoDisplay.test.tsx
  apps/web/app/me/teams/components/TeamInfoDisplay.tsx
  packages/game-engine/src/utils/team-value-calculator-consistency.test.ts
  packages/game-engine/src/utils/team-value-calculator.test.ts
  packages/game-engine/src/utils/team-value-calculator.ts
Labels: game-engine, web, server

Fans Dévoués : chaque fan compte dans la VE/VEA (off-by-one −5k sur toutes les équipes) (#968)
  .changeset/fans-devoues-valeur-equipe.md
  apps/server/src/utils/team-values.test.ts
  apps/web/app/me/teams/components/TeamInfoDisplay.test.tsx
  apps/web/app/me/teams/components/TeamInfoDisplay.tsx
  packages/game-engine/src/utils/team-value-calculator-consistency.test.ts
  packages/game-engine/src/utils/team-value-calculator.test.ts
  packages/game-engine/src/utils/team-value-calculator.ts
Labels: game-engine, web, server

fix(team-value): les fans dévoués ne comptent plus dans la VE ni la VEA
  .changeset/fans-devoues-valeur-equipe.md
  apps/server/src/utils/team-values.test.ts
  apps/server/src/utils/team-values.ts
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/me/teams/components/TeamInfoDisplay.test.tsx
  apps/web/app/me/teams/components/TeamInfoDisplay.tsx
  packages/game-engine/src/utils/team-value-calculator-consistency.test.ts
  packages/game-engine/src/utils/team-value-calculator.test.ts
  packages/game-engine/src/utils/team-value-calculator.ts
Labels: game-engine, web, server

feat(skills): affiche le statut Élite des compétences partout
  apps/server/src/routes/public-skills.ts
  apps/web/app/compendium/data/rules-bb-2025.json
  apps/web/app/components/SkillTooltip.test.tsx
  apps/web/app/components/SkillTooltip.tsx
  apps/web/app/lib/skill-elite.ts
  apps/web/app/me/teams/components/SkillTooltip.tsx
  apps/web/app/me/teams/skills-catalog-context.tsx
  apps/web/app/me/teams/skills-data.ts
  apps/web/app/skills/SkillsClient.tsx
  apps/web/app/skills/[slug]/page.tsx
Labels: web, server

fix(skills): valeur des compétences Élite à 30 000 po (20k + 10k)
  .changeset/competences-elite-valeur-affichage.md
  apps/server/src/routes/league.ts
  apps/server/src/services/commissioner-team-edit.ts
  apps/server/src/services/elite-skills.ts
  apps/server/src/utils/team-values.test.ts
  apps/server/src/utils/team-values.ts
  apps/web/app/components/AdvancementEditor.tsx
  apps/web/app/me/teams/[id]/edit/page.tsx
  packages/game-engine/src/index.ts
  packages/game-engine/src/utils/advancements.test.ts
  packages/game-engine/src/utils/advancements.ts
  tests/level-up-advancement.test.ts
Labels: game-engine, web, server

feat(game-engine): registre des règlements de tournoi + NAF World Cup 2027 V2.1
  packages/game-engine/src/rosters/index.ts
  packages/game-engine/src/rosters/tournament-rulesets.test.ts
  packages/game-engine/src/rosters/tournament-rulesets.ts
Labels: game-engine

docs(openspec): change qualification par poule + lancement des playoffs
  openspec/changes/add-playoff-pool-seeding-and-launch-control/design.md
  openspec/changes/add-playoff-pool-seeding-and-launch-control/proposal.md
  openspec/changes/add-playoff-pool-seeding-and-launch-control/specs/league-playoff-launch/spec.md
  openspec/changes/add-playoff-pool-seeding-and-launch-control/tasks.md
Labels: none

feat(league-sheet): lien retour vers la page de la ligue depuis la feuille de match
  apps/server/src/services/league-match-sheet.ts
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
Labels: web, server

feat(db): colonne tournamentRuleset sur Team, League et Cup
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  prisma/migrations/20260824090000_add_tournament_ruleset/migration.sql
  prisma/schema.prisma
Labels: server

feat(league-sheet): trésorerie figée au démarrage de la feuille de match
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
Labels: server

feat(server): création d'équipe avec règlement de tournoi (NAF World Cup 2027)
  apps/server/src/routes/team-build-handler.ts
  apps/server/src/routes/team-build-tournament-ruleset.test.ts
  apps/server/src/routes/team-create-from-roster-handler.test.ts
  apps/server/src/routes/team-create-from-roster-handler.ts
  apps/server/src/routes/team-readonly-handlers.ts
  apps/server/src/schemas/team.schemas.ts
  apps/server/src/services/cup-build-advancements.ts
  apps/server/src/utils/tournament-ruleset-helpers.ts
Labels: server

feat(league-sheet): le commissaire saisit les évolutions des deux équipes
  apps/server/src/routes/team-advancement.test.ts
  apps/server/src/routes/team-advancement.ts
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
Labels: web, server

fix(league): les points bonus ne sont plus ajoutés aux points génériques
  .changeset/bonus-classement-hors-points-generiques.md
  apps/server/src/services/league-offline-edit.test.ts
  apps/server/src/services/league-offline-edit.ts
  apps/server/src/services/league-offline-result.test.ts
  apps/server/src/services/league-offline-result.ts
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
Labels: web, server

feat(server): règlement de tournoi sur les ligues et les coupes
  apps/server/src/routes/cup.ts
  apps/server/src/routes/league-invitation.ts
  apps/server/src/schemas/cup.schemas.ts
  apps/server/src/schemas/league.schemas.ts
  apps/server/src/services/cup-registration.test.ts
  apps/server/src/services/cup-registration.ts
  apps/server/src/services/league-invitation.ts
  apps/server/src/services/league.test.ts
  apps/server/src/services/league.ts
Labels: server

feat(nav): lien « Mes équipes » dans le menu principal
  apps/web/app/components/Header.tsx
Labels: web

feat(league): qualification par poule et controle du lancement des playoffs
  apps/server/src/routes/league-playoff-routes.test.ts
  apps/server/src/routes/league.ts
  apps/server/src/schemas/league.schemas.ts
  apps/server/src/services/league-playoffs.test.ts
  apps/server/src/services/league-playoffs.ts
  apps/web/app/leagues/[id]/PlayoffBracketView.launch.test.tsx
  apps/web/app/leagues/[id]/PlayoffBracketView.tsx
  openspec/changes/add-playoff-pool-seeding-and-launch-control/tasks.md
Labels: web, server

feat(web): sélection du règlement de tournoi au builder + label sur la fiche roster
  apps/web/app/components/StarPlayerSelector.tsx
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/me/teams/new/page.tsx
Labels: web

feat(web): règlement de tournoi sur les formulaires ligue/coupe + filtres d'éligibilité
  apps/web/app/cups/[id]/page.tsx
  apps/web/app/cups/page.tsx
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
  apps/web/app/leagues/[id]/JoinSeasonModal.tsx
  apps/web/app/leagues/[id]/edit/page.tsx
  apps/web/app/leagues/[id]/page.tsx
  apps/web/app/leagues/[id]/types.ts
  apps/web/app/leagues/_components/LeagueForm.tsx
  apps/web/app/leagues/new/page.tsx
Labels: web

docs(openspec): change add-tournament-ruleset-selection (proposal + design + spec + tasks)
  openspec/changes/add-tournament-ruleset-selection/design.md
  openspec/changes/add-tournament-ruleset-selection/proposal.md
  openspec/changes/add-tournament-ruleset-selection/specs/tournament-ruleset/spec.md
  openspec/changes/add-tournament-ruleset-selection/tasks.md
Labels: none

chore(changeset): règlements de tournoi (NAF World Cup 2027)
  .changeset/reglements-de-tournoi-naf-world-cup.md
Labels: none

chore(changeset): playoffs par poule + controle du lancement
  .changeset/playoff-pool-seeding-and-launch-control.md
Labels: none

feat(league): qualification par poule et contrôle du lancement des playoffs (#971)
  .changeset/playoff-pool-seeding-and-launch-control.md
  apps/server/src/routes/league-playoff-routes.test.ts
  apps/server/src/routes/league.ts
  apps/server/src/schemas/league.schemas.ts
  apps/server/src/services/league-playoffs.test.ts
  apps/server/src/services/league-playoffs.ts
  apps/web/app/leagues/[id]/PlayoffBracketView.launch.test.tsx
  apps/web/app/leagues/[id]/PlayoffBracketView.tsx
  openspec/changes/add-playoff-pool-seeding-and-launch-control/design.md
  openspec/changes/add-playoff-pool-seeding-and-launch-control/proposal.md
  openspec/changes/add-playoff-pool-seeding-and-launch-control/specs/league-playoff-launch/spec.md
  openspec/changes/add-playoff-pool-seeding-and-launch-control/tasks.md
Labels: web, server

chore(release): 1.235.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  c1099dd609a29d62de640ae04a17238c1d0d3dbe
Labels: none

feat(db): modèle TournamentRuleset éditable + repository DB→fallback + seed
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/scripts/seed-tournament-rulesets.ts
  apps/server/src/seed.ts
  apps/server/src/services/tournament-ruleset-repository.test.ts
  apps/server/src/services/tournament-ruleset-repository.ts
  prisma/migrations/20260824120000_add_tournament_ruleset_model/migration.sql
  prisma/schema.prisma
Labels: server

feat(server): consommateurs des règlements branchés sur la base (fallback statique)
  apps/server/src/routes/cup.ts
  apps/server/src/routes/team-build-handler.ts
  apps/server/src/routes/team-create-from-roster-handler.ts
  apps/server/src/routes/team-readonly-handlers.ts
  apps/server/src/routes/team-selection-handlers.ts
  apps/server/src/services/cup-registration.ts
  apps/server/src/services/league.test.ts
  apps/server/src/services/league.ts
  apps/server/src/utils/tournament-ruleset-helpers.ts
Labels: server

feat(server): API publique /api/tournament-rulesets (liste + définition)
  apps/server/src/index.ts
  apps/server/src/routes/public-tournament-rulesets.test.ts
  apps/server/src/routes/public-tournament-rulesets.ts
Labels: server

feat(server): admin CRUD des règlements de tournoi (list/create/update/archive/seed)
  apps/server/src/index.ts
  apps/server/src/routes/admin-tournament-rulesets.test.ts
  apps/server/src/routes/admin-tournament-rulesets.ts
  apps/server/src/schemas/admin-tournament-rulesets.schemas.ts
Labels: server

feat(web): console admin des règlements de tournoi
  apps/web/app/admin/data/tournament-rulesets/[id]/edit/page.tsx
  apps/web/app/admin/data/tournament-rulesets/_components/TournamentRulesetForm.test.tsx
  apps/web/app/admin/data/tournament-rulesets/_components/TournamentRulesetForm.tsx
  apps/web/app/admin/data/tournament-rulesets/api.ts
  apps/web/app/admin/data/tournament-rulesets/new/page.tsx
  apps/web/app/admin/data/tournament-rulesets/page.tsx
  apps/web/app/admin/layout.tsx
Labels: web

feat(web): règlements de tournoi servis par l'API (base admin) côté public
  apps/web/app/cups/[id]/page.tsx
  apps/web/app/cups/page.tsx
  apps/web/app/hooks/useTournamentRulesets.ts
  apps/web/app/leagues/[id]/page.tsx
  apps/web/app/leagues/_components/LeagueForm.tsx
  apps/web/app/lib/tournament-rulesets.ts
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/me/teams/new/page.tsx
Labels: web

docs(openspec): change add-tournament-ruleset-admin + archivage du change initial
  openspec/changes/add-tournament-ruleset-admin/design.md
  openspec/changes/add-tournament-ruleset-admin/proposal.md
  openspec/changes/add-tournament-ruleset-admin/specs/tournament-ruleset/spec.md
  openspec/changes/add-tournament-ruleset-admin/tasks.md
  openspec/changes/archive/2026-08-24-add-tournament-ruleset-selection/design.md
  openspec/changes/archive/2026-08-24-add-tournament-ruleset-selection/proposal.md
  openspec/changes/archive/2026-08-24-add-tournament-ruleset-selection/specs/tournament-ruleset/spec.md
  openspec/changes/archive/2026-08-24-add-tournament-ruleset-selection/tasks.md
  openspec/specs/tournament-ruleset/spec.md
Labels: none

chore(changeset): règlements de tournoi en base + console admin
  .changeset/reglements-tournoi-en-base-admin.md
Labels: none

fix(teams): resume du budget — valeur d'equipe et tresorerie justes
  .changeset/resume-budget-equipe.md
  apps/server/package.json
  apps/server/src/routes/team-build-handler.ts
  apps/server/src/routes/team-create-from-roster-handler.ts
  apps/server/src/routes/team-selection-handlers.ts
  apps/server/src/routes/team.test.ts
  apps/server/src/scripts/backfill-team-treasury.ts
  apps/server/src/services/team-budget-summary.test.ts
  apps/server/src/services/team-budget-summary.ts
  apps/server/src/utils/team-values.ts
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/me/teams/components/TeamInfoDisplay.test.tsx
  apps/web/app/me/teams/components/TeamInfoDisplay.tsx
  packages/game-engine/src/utils/team-value-breakdown.test.ts
  packages/game-engine/src/utils/team-value-calculator.ts
Labels: game-engine, web, server

feat(team-value): applique « Trois-quarts a vil prix » a la VEA
  .changeset/trois-quarts-a-vil-prix-vea.md
  apps/server/src/utils/team-values-cheap-linemen.test.ts
  apps/server/src/utils/team-values.ts
  packages/game-engine/src/utils/team-value-breakdown.test.ts
  packages/game-engine/src/utils/team-value-calculator.ts
Labels: game-engine, server

feat(teams): choix du logo dès la création de l'équipe
  apps/web/app/me/teams/components/TeamLogoPicker.test.tsx
  apps/web/app/me/teams/components/TeamLogoPicker.tsx
  apps/web/app/me/teams/components/TeamLogoUploader.tsx
  apps/web/app/me/teams/components/team-logo-client.ts
  apps/web/app/me/teams/new/page.logo.test.tsx
  apps/web/app/me/teams/new/page.tsx
Labels: web

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
