Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

feat(db): RosterStaffConfig (staff par roster x format)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  prisma/migrations/20260625120000_add_roster_staff_config/migration.sql
  prisma/schema.prisma
Labels: server

feat(game-engine): config staff parametrable (fallback = defaut historique)
  packages/game-engine/src/rosters/formats.test.ts
  packages/game-engine/src/rosters/formats.ts
  packages/game-engine/src/rosters/index.ts
  packages/game-engine/src/rosters/staff-config.test.ts
  packages/game-engine/src/rosters/staff-config.ts
  packages/game-engine/src/utils/team-value-calculator.test.ts
  packages/game-engine/src/utils/team-value-calculator.ts
Labels: game-engine

feat(server): couts/plafonds staff depuis la config resolue (DB)
  apps/server/src/routes/public-rosters.ts
  apps/server/src/routes/team-build-big-guy.test.ts
  apps/server/src/routes/team-build-format.test.ts
  apps/server/src/routes/team-build-handler.test.ts
  apps/server/src/routes/team-build-handler.ts
  apps/server/src/routes/team-purchase-handler.test.ts
  apps/server/src/routes/team-purchase-handler.ts
  apps/server/src/routes/team.test.ts
Labels: server

chore(release): 1.190.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  aa92c3e3c7e3231cb6b7ad879a994fd6840fa23e
Labels: none

feat(web): vues equipe « me » refletent la config staff DB
  apps/server/src/routes/team-selection-handlers.ts
  apps/web/app/me/teams/[id]/edit/page.tsx
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/app/me/teams/components/TeamInfoDisplay.tsx
  apps/web/app/me/teams/components/TeamInfoEditor.tsx
  apps/web/app/me/teams/components/TreasuryPurchasePanel.tsx
  apps/web/app/me/teams/utils/exportPDF.ts
  openspec/changes/add-roster-staff-config/tasks.md
Labels: web, server

chore(release): 1.191.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  4c415492713fedb4b608a938fe115f01af2172d1
Labels: none

feat(league): bonus classement, SPP bonus, table météo et forfait sur la feuille
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/schemas/league-match-sheet.schemas.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-offline-edit.test.ts
  apps/server/src/services/league-offline-edit.ts
  apps/server/src/services/league-offline-result.test.ts
  apps/server/src/services/league-offline-result.ts
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
  prisma/schema.prisma
Labels: web, server

feat(league): lien vers les progressions depuis la feuille validée
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
Labels: web

refactor(league): UI de saisie unique via la feuille de match
  apps/web/app/leagues/[id]/EnterResultModal.test.tsx
  apps/web/app/leagues/[id]/EnterResultModal.tsx
  apps/web/app/leagues/[id]/SeasonCalendar.tsx
  apps/web/app/leagues/[id]/page.tsx
Labels: web

docs(league): MAJ refonte (bonus/SPP/forfait, consolidation, progressions)
  docs/league-physical-rework-2026-06-25.md
Labels: none

chore(release): 1.192.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  9a10db2c355280222404bfccf8e97b536a2c06f1
Labels: none

feat(league): achats feuille de match -> mutation roster reversible
  apps/server/src/schemas/league-match-sheet.schemas.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-offline-edit.test.ts
  apps/server/src/services/league-offline-edit.ts
  apps/server/src/services/league-offline-purchases.test.ts
  apps/server/src/services/league-offline-purchases.ts
  apps/server/src/services/league-offline-result.test.ts
  apps/server/src/services/league-offline-result.ts
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
  docs/league-physical-purchases-2026-06-25.md
Labels: web, server

feat(league): licenciements de fin de match (firing) reversibles
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/schemas/league-match-sheet.schemas.ts
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-offline-edit.test.ts
  apps/server/src/services/league-offline-edit.ts
  apps/server/src/services/league-offline-result.test.ts
  apps/server/src/services/league-offline-result.ts
  apps/server/src/utils/team-values.ts
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
  docs/league-physical-firing-2026-06-25.md
  prisma/schema.prisma
Labels: web, server

test(league): E2E API parcours feuille de match + correctif miroir sqlite
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  docs/league-physical-e2e-2026-06-25.md
  tests/e2e-api/specs/leagues-match-sheet-flow.spec.ts
Labels: server

feat(league): achats roster + licenciements réversibles + E2E feuille de match (#929)
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/schemas/league-match-sheet.schemas.ts
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
  apps/server/src/services/league-offline-edit.test.ts
  apps/server/src/services/league-offline-edit.ts
  apps/server/src/services/league-offline-purchases.test.ts
  apps/server/src/services/league-offline-purchases.ts
  apps/server/src/services/league-offline-result.test.ts
  apps/server/src/services/league-offline-result.ts
  apps/server/src/utils/team-values.ts
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
  docs/league-physical-e2e-2026-06-25.md
  docs/league-physical-firing-2026-06-25.md
  docs/league-physical-purchases-2026-06-25.md
  prisma/schema.prisma
  tests/e2e-api/specs/leagues-match-sheet-flow.spec.ts
Labels: web, server

docs(openspec): proposition refonte UX feuille de match ligue
  openspec/changes/improve-league-match-sheet-ux/design.md
  openspec/changes/improve-league-match-sheet-ux/proposal.md
  openspec/changes/improve-league-match-sheet-ux/specs/league-match-sheet/spec.md
  openspec/changes/improve-league-match-sheet-ux/tasks.md
Labels: none

feat(league): API feuille de match — reference, identite equipe, budget, mi-temps/tour
  apps/server/src/schemas/league-match-sheet.schemas.ts
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
Labels: server

feat(league): refonte UX feuille de match (badges, meteo, coups de pouce, mi-temps/tour)
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
Labels: web

docs(league): note refonte UX feuille de match (2026-06-26)
  docs/league-match-sheet-ux-2026-06-26.md
Labels: none

feat(league): feuille de match en onglets + timeline chronologique
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
  apps/web/app/leagues/pairings/[id]/sheet/timeline.test.ts
Labels: web

docs(openspec): onglets + timeline chronologique feuille de match
  docs/league-match-sheet-ux-2026-06-26.md
  openspec/changes/improve-league-match-sheet-ux/proposal.md
  openspec/changes/improve-league-match-sheet-ux/specs/league-match-sheet/spec.md
  openspec/changes/improve-league-match-sheet-ux/tasks.md
Labels: none

feat(compendium): pages de règles BB 2025 pilotées par JSON
  CLAUDE.md
  apps/web/app/compendium/Blocks.tsx
  apps/web/app/compendium/[slug]/page.tsx
  apps/web/app/compendium/data.test.ts
  apps/web/app/compendium/data.ts
  apps/web/app/compendium/data/rules-bb-2025.json
  apps/web/app/compendium/layout.tsx
  apps/web/app/compendium/page.tsx
  apps/web/app/compendium/types.ts
  apps/web/app/components/Header.tsx
  apps/web/app/i18n/locales/en.json
  apps/web/app/i18n/locales/fr.json
Labels: web

fix(compendium): masquer la source et les textes illisibles sur les pages de regles
  apps/web/app/compendium/[slug]/page.tsx
  apps/web/app/compendium/data.test.ts
  apps/web/app/compendium/data.ts
  apps/web/app/compendium/data/rules-bb-2025.json
  apps/web/app/compendium/page.tsx
Labels: web

feat(compendium): refonte UI des pages de regles (esprit BB)
  apps/web/app/compendium/Blocks.tsx
  apps/web/app/compendium/[slug]/page.tsx
  apps/web/app/compendium/layout.tsx
  apps/web/app/compendium/page.render.test.tsx
  apps/web/app/compendium/page.tsx
Labels: web

docs(compendium): complète le "Le saviez-vous" sur les Snotlings (page-14)
  apps/web/app/compendium/data/rules-bb-2025.json
Labels: web

feat(compendium): contenu réécrit (anti-contrefaçon) + disclaimer non-affiliation
  CLAUDE.md
  apps/web/app/compendium/data/rules-bb-2025.json
  apps/web/app/compendium/layout.tsx
Labels: web

chore(git): ne plus versionner la transcription verbatim des regles (repo public, PI GW)
  .gitignore
Labels: none

feat(search): moteur de recherche du contenu public du site
  apps/web/app/compendium/page.tsx
  apps/web/app/components/Header.tsx
  apps/web/app/recherche/SearchClient.test.tsx
  apps/web/app/recherche/SearchClient.tsx
  apps/web/app/recherche/build-records.test.ts
  apps/web/app/recherche/build-records.ts
  apps/web/app/recherche/page.tsx
  apps/web/app/recherche/search.test.ts
  apps/web/app/recherche/search.ts
Labels: web

docs(openspec): proposition moteur de recherche du contenu public
  openspec/changes/add-site-search/design.md
  openspec/changes/add-site-search/proposal.md
  openspec/changes/add-site-search/specs/site-search/spec.md
  openspec/changes/add-site-search/tasks.md
Labels: none

feat(league): coups de pouce par equipe + couleurs de roster sur la feuille
  apps/server/src/services/league-match-sheet.test.ts
  apps/server/src/services/league-match-sheet.ts
Labels: server

feat(league): saisie evenements (bloc avant timeline) + couleurs equipe
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
Labels: web

feat(league): SPP estimés auto en fin de match + onglet Évolutions
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.test.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
Labels: web

docs(openspec): lot feuille de match — couleurs, acces coups de pouce, auto-calculs, evolutions inline
  openspec/changes/enhance-match-sheet-colors-advancements/design.md
  openspec/changes/enhance-match-sheet-colors-advancements/proposal.md
  openspec/changes/enhance-match-sheet-colors-advancements/specs/league-match-sheet/spec.md
  openspec/changes/enhance-match-sheet-colors-advancements/tasks.md
Labels: none

fix(rosters): renomme la compétence animosity-underworld en « Animosité (Gobelins) »
  packages/game-engine/src/skills/index.ts
Labels: game-engine

feat(league): evolutions inline dans la feuille + SPP serveur + gains auto
  apps/web/app/components/AdvancementEditor.test.tsx
  apps/web/app/components/AdvancementEditor.tsx
  apps/web/app/leagues/pairings/[id]/sheet/_components/MatchSheetPanels.tsx
  apps/web/app/leagues/pairings/[id]/sheet/page.tsx
  apps/web/app/me/teams/[id]/level-up/page.tsx
  openspec/changes/enhance-match-sheet-colors-advancements/tasks.md
Labels: web

feat(league): SPP autoritaire par joueur dans la reponse feuille de match
  apps/server/src/services/league-match-sheet.ts
Labels: server

fix(admin): propager les editions roster (config staff) aux pages publiques
  apps/server/src/routes/admin-data.ts
  apps/server/src/routes/public-rosters.invalidate.test.ts
  apps/server/src/routes/public-rosters.ts
Labels: server

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
