Repository Ryxeuf/fantasy-football-game, changes with the labels that .github/labeler.yml gives for each.
All labels: packages-ui, game-engine, web, server, mobile

feat(career-stats): N.6 historique de matchs et stats de carriere par equipe
  TODO.md
  apps/server/src/index.ts
  apps/server/src/routes/career-stats.ts
  apps/server/src/services/career-stats.test.ts
  apps/server/src/services/career-stats.ts
  apps/web/app/me/teams/[id]/career/page.tsx
  apps/web/app/me/teams/[id]/page.tsx
  apps/web/public/version.json
Labels: web, server

docs: add Sprint 6 & 7 specs for badges/titles/rewards system (#260)
  docs/sprints/FEATURE-BADGES-TITLES-REWARDS.md
  docs/sprints/README.md
  docs/sprints/SPRINT-6-badges-foundation.md
  docs/sprints/SPRINT-7-badges-match-cup-triggers.md
Labels: none

feat(ai): practice mode vs AI end-to-end integration (N.4)
  apps/server/prisma/sqlite/migrations/20260420120000_add_ai_practice_to_local_match/migration.sql
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/routes/local-match.ts
  apps/server/src/schemas/local-match.schemas.ts
  apps/server/src/services/ai-practice.test.ts
  apps/server/src/services/ai-practice.ts
  apps/server/src/services/ai-turn.test.ts
  apps/server/src/services/ai-turn.ts
  apps/web/app/play/page.tsx
  prisma/schema.prisma
Labels: web, server

chore(release): 1.59.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  92c0b736fce58676319033ba07a8e4cb12b363c3
Labels: none

feat(ai): runtime bridge for practice mode on /local-matches/[id] (N.4)
  apps/web/app/local-matches/[id]/PracticeAIPanel.tsx
  apps/web/app/local-matches/[id]/hooks/useAIPracticeLoop.test.ts
  apps/web/app/local-matches/[id]/hooks/useAIPracticeLoop.ts
  apps/web/app/local-matches/[id]/page.tsx
  apps/web/app/play/page.tsx
Labels: web

feat(social): N.7 systeme d'achievements (succes)
  TODO.md
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/index.ts
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/routes/achievements.ts
  apps/server/src/services/achievements.test.ts
  apps/server/src/services/achievements.ts
  apps/web/app/AuthBar.tsx
  apps/web/app/i18n/translations.ts
  apps/web/app/me/achievements/page.tsx
  apps/web/public/version.json
  prisma/schema.prisma
Labels: web, server

N.4: Add AI practice mode for solo matches (#262)
  apps/server/prisma/sqlite/migrations/20260420120000_add_ai_practice_to_local_match/migration.sql
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/routes/local-match.ts
  apps/server/src/schemas/local-match.schemas.ts
  apps/server/src/services/ai-practice.test.ts
  apps/server/src/services/ai-practice.ts
  apps/server/src/services/ai-turn.test.ts
  apps/server/src/services/ai-turn.ts
  apps/web/app/local-matches/[id]/PracticeAIPanel.tsx
  apps/web/app/local-matches/[id]/hooks/useAIPracticeLoop.test.ts
  apps/web/app/local-matches/[id]/hooks/useAIPracticeLoop.ts
  apps/web/app/local-matches/[id]/page.tsx
  apps/web/app/play/page.tsx
  prisma/schema.prisma
Labels: web, server

chore(release): 1.60.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  a855cbd4329a727bebf7e8e10822ea8c9b016e55
Labels: none

feat(social): N.8 badges Maitre par equipe prioritaire
  TODO.md
  apps/server/src/services/achievements.test.ts
  apps/server/src/services/achievements.ts
  apps/web/app/me/achievements/page.tsx
Labels: web, server

feat(social): N.8 badges Maitre par equipe prioritaire (#264)
  TODO.md
  apps/server/src/services/achievements.test.ts
  apps/server/src/services/achievements.ts
  apps/web/app/me/achievements/page.tsx
Labels: web, server

feat(feature-flags): gate 'Jouer en ligne' behind online_play flag
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  apps/server/src/index.ts
  apps/server/src/middleware/requireFeatureFlag.test.ts
  apps/server/src/middleware/requireFeatureFlag.ts
  apps/server/src/routes/feature-flags.ts
  apps/server/src/seed.ts
  apps/server/src/services/featureFlags.test.ts
  apps/server/src/services/featureFlags.ts
  apps/web/app/AuthBar.tsx
  apps/web/app/components/Footer.tsx
  apps/web/app/components/Header.tsx
  apps/web/app/components/OnlinePlayGate.test.tsx
  apps/web/app/components/OnlinePlayGate.tsx
  apps/web/app/leaderboard/layout.tsx
  apps/web/app/lib/featureFlagKeys.ts
  apps/web/app/lobby/layout.tsx
  apps/web/app/me/matches/layout.tsx
  apps/web/app/page.tsx
  apps/web/app/play/layout.tsx
  apps/web/app/spectate/layout.tsx
  apps/web/app/waiting/layout.tsx
Labels: web, server

feat: add online_play feature flag with server middleware and client gate (#265)
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  apps/server/src/index.ts
  apps/server/src/middleware/requireFeatureFlag.test.ts
  apps/server/src/middleware/requireFeatureFlag.ts
  apps/server/src/routes/feature-flags.ts
  apps/server/src/seed.ts
  apps/server/src/services/featureFlags.test.ts
  apps/server/src/services/featureFlags.ts
  apps/web/app/AuthBar.tsx
  apps/web/app/components/Footer.tsx
  apps/web/app/components/Header.tsx
  apps/web/app/components/OnlinePlayGate.test.tsx
  apps/web/app/components/OnlinePlayGate.tsx
  apps/web/app/leaderboard/layout.tsx
  apps/web/app/lib/featureFlagKeys.ts
  apps/web/app/lobby/layout.tsx
  apps/web/app/me/matches/layout.tsx
  apps/web/app/page.tsx
  apps/web/app/play/layout.tsx
  apps/web/app/spectate/layout.tsx
  apps/web/app/waiting/layout.tsx
Labels: web, server

feat(league): L.1 add Prisma models for League/Season/Participant/Round
  TODO.md
  apps/server/prisma/sqlite/memdb1
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/services/league.test.ts
  apps/server/src/services/league.ts
  prisma/schema.prisma
Labels: server

feat(league): L.1 Prisma models for League/Season/Participant/Round (#266)
  TODO.md
  apps/server/prisma/sqlite/memdb1
  apps/server/prisma/sqlite/schema.prisma
  apps/server/src/prisma-sqlite-client/edge.js
  apps/server/src/prisma-sqlite-client/index-browser.js
  apps/server/src/prisma-sqlite-client/index.d.ts
  apps/server/src/prisma-sqlite-client/index.js
  apps/server/src/prisma-sqlite-client/package.json
  apps/server/src/prisma-sqlite-client/schema.prisma
  apps/server/src/prisma-sqlite-client/wasm.js
  apps/server/src/services/league.test.ts
  apps/server/src/services/league.ts
  prisma/schema.prisma
Labels: server

feat(league): L.2 seed default 'Open 5 Teams' league
  TODO.md
  apps/server/src/seed.ts
  apps/server/src/seeders/leagues.test.ts
  apps/server/src/seeders/leagues.ts
Labels: server

fix(ai-practice): pass roles as String[] array to Prisma user.upsert
  apps/server/src/services/ai-practice.test.ts
  apps/server/src/services/ai-practice.ts
Labels: server

feat(league): L.2 seed default 'Open 5 Teams' league (#267)
  TODO.md
  apps/server/src/seed.ts
  apps/server/src/seeders/leagues.test.ts
  apps/server/src/seeders/leagues.ts
Labels: server

feat(auth): active l'inscription publique avec moderation admin
  apps/server/src/index.ts
  apps/server/src/routes/auth.ts
  apps/server/src/schemas/auth.schemas.ts
  apps/server/src/schemas/zod-schemas.test.ts
  apps/web/app/i18n/translations.ts
  apps/web/app/login/page.tsx
  apps/web/app/register/page.tsx
  tests/integration/auth.test.ts
Labels: web, server

fix(leaderboard): send Authorization header on client fetch
  apps/web/app/leaderboard/page.test.tsx
  apps/web/app/leaderboard/page.tsx
Labels: web

Fix AI system user roles field to use array instead of JSON string (#268)
  apps/server/src/services/ai-practice.test.ts
  apps/server/src/services/ai-practice.ts
Labels: server

fix(auth): valide le format dateOfBirth et ajoute i18n backToHome
  apps/server/src/schemas/auth.schemas.ts
  apps/server/src/schemas/zod-schemas.test.ts
  apps/web/app/i18n/translations.ts
  apps/web/app/register/page.tsx
Labels: web, server

test(e2e): update auth spec to reflect active registration
  tests/e2e-api/specs/auth.spec.ts
Labels: none

Add Authorization header to leaderboard API requests (#269)
  apps/web/app/leaderboard/page.test.tsx
  apps/web/app/leaderboard/page.tsx
Labels: web

Enable user registration with admin validation workflow (#270)
  apps/server/src/index.ts
  apps/server/src/routes/auth.ts
  apps/server/src/schemas/auth.schemas.ts
  apps/server/src/schemas/zod-schemas.test.ts
  apps/web/app/i18n/translations.ts
  apps/web/app/login/page.tsx
  apps/web/app/register/page.tsx
  tests/e2e-api/specs/auth.spec.ts
  tests/integration/auth.test.ts
Labels: web, server

feat: add L.3 league CRUD API routes (create/join/schedule/standings)
  TODO.md
  apps/server/src/index.ts
  apps/server/src/routes/league.test.ts
  apps/server/src/routes/league.ts
  apps/server/src/schemas/league.schemas.ts
  apps/server/src/services/league.ts
Labels: server

feat: add L.3 league CRUD API routes (create/join/schedule/standings) (#271)
  TODO.md
  apps/server/src/index.ts
  apps/server/src/routes/league.test.ts
  apps/server/src/routes/league.ts
  apps/server/src/schemas/league.schemas.ts
  apps/server/src/services/league.ts
Labels: server

feat(local-match): automate inducements processing for AI matches
  apps/server/src/routes/local-match.ts
Labels: server

chore(release): 1.61.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: none

Notes added by 'git notes add'
  e293be9fc75392143b6d6d3b7ec7dac3e3dc9c4d
Labels: none

feat(feature-flags): gate AI training under new ai_training flag
  apps/server/src/routes/local-match.ts
  apps/server/src/seed.ts
  apps/server/src/services/featureFlags.test.ts
  apps/server/src/services/featureFlags.ts
  apps/web/app/lib/featureFlagKeys.ts
  apps/web/app/play/page.test.tsx
  apps/web/app/play/page.tsx
Labels: web, server

Gate AI training feature behind feature flag (#272)
  apps/server/src/routes/local-match.ts
  apps/server/src/seed.ts
  apps/server/src/services/featureFlags.test.ts
  apps/server/src/services/featureFlags.ts
  apps/web/app/lib/featureFlagKeys.ts
  apps/web/app/play/page.test.tsx
  apps/web/app/play/page.tsx
Labels: web, server

feat(prisma): add AI opponent fields on Match for online practice
  prisma/schema.prisma
Labels: none

feat(server): add createOnlinePracticeMatch service
  apps/server/src/services/practice-match.test.ts
  apps/server/src/services/practice-match.ts
Labels: server

feat(server): add POST /match/practice route
  apps/server/src/routes/match.ts
  apps/server/src/schemas/match.schemas.ts
Labels: server

feat(server): add AI loop with safeguards
  apps/server/src/services/ai-loop.test.ts
  apps/server/src/services/ai-loop.ts
Labels: server

feat(server): wire AI loop into processMove and match activation
  apps/server/src/routes/match.ts
  apps/server/src/services/move-processor.ts
Labels: server

feat(web): route Practice vs AI card to the online match flow
  apps/web/app/play/page.tsx
Labels: web

feat(league): L.4 round-robin schedule generator
  TODO.md
  apps/server/src/services/league-schedule.test.ts
  apps/server/src/services/league-schedule.ts
Labels: server

.github/labeler.yml:

packages-ui:
  - "packages/ui/**"
game-engine:
  - "packages/game-engine/**"
web:
  - "apps/web/**"
server:
  - "apps/server/**"
mobile:
  - "apps/mobile/**"
